<!-- 
{
  "pageTitle": "About Basic",
  "pageKey": "about",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>About Basic | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-6">
      <div class="container-lg" id="about">
        <!-- Slideshow - Slider Revolution see: plugins/slider-revolution/examples for help -->
        <div class="slider-wrapper rev_slider_wrapper fullscreen-container bg-black mb-5" data-page-class="slider-appstrap-theme">
          <div class="rev_slider" data-bs-toggle="slider-rev" data-settings='{"delay":9000}'>
            <ul>
              <!-- SLIDE 2 -->
              <li
                class="slide"
                data-transition="fade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="default"
                data-easeout="default"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Slide"
              >
                <img
                  src="./assets/img/slides/transparent.png"
                  class="rev-slidebg bg-white"
                  alt="Background image"
                  data-bgcolor="#ffffff"
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  data-bgparallax="off"
                  data-no-retina
                />
                <!-- LAYERS -->
                <!-- Layer 1 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-8"
                  data-x="['left','left','left','left']"
                  data-hoffset="['-364','-364','-420','-416']"
                  data-y="['top','top','top','top']"
                  data-voffset="['-185','-185','-185','-185']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="off"
                  data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 5; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_penpot.png"
                    alt=""
                    data-ww="['650px','650px','650px','650px']"
                    data-hh="['500px','500px','500px','500px']"
                    width="650"
                    height="500"
                    data-no-retina
                  />
                </div>
                <!-- Layer 2 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-9"
                  data-x="['right','right','right','right']"
                  data-hoffset="['-100','-100','-120','-144']"
                  data-y="['top','top','top','top']"
                  data-voffset="['-254','-254','-254','-254']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 6; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_flowerpot.png"
                    alt=""
                    data-ww="['700px','700px','700px','700px']"
                    data-hh="['600px','600px','600px','600px']"
                    width="700"
                    height="600"
                    data-no-retina
                  />
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-10"
                  data-x="['left','left','left','left']"
                  data-hoffset="['-472','-372','-340','-638']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['-484','-484','-520','-522']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="off"
                  data-frames='[{"from":"x:left;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 7; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_papers.png"
                    alt=""
                    data-ww="['900px','900px','900px','900px']"
                    data-hh="['1000px','1000px','1000px','1000px']"
                    width="900"
                    height="1000"
                    data-no-retina
                  />
                </div>
                <!-- Layer 4 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-12"
                  data-x="['left','left','left','left']"
                  data-hoffset="['134','134','-2','-57']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['67','67','50','6']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 8; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_marker.png"
                    alt=""
                    data-ww="['200px','200px','200px','200px']"
                    data-hh="['300px','300px','300px','300px']"
                    width="200"
                    height="300"
                    data-no-retina
                  />
                </div>
                <!-- Layer 5 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-11"
                  data-x="['left','left','left','left']"
                  data-hoffset="['181','181','30','-39']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['-170','-170','-190','-212']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 9; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_edding.png"
                    alt=""
                    data-ww="['300px','300px','300px','300px']"
                    data-hh="['400px','400px','400px','400px']"
                    width="300"
                    height="400"
                    data-no-retina
                  />
                </div>
                <!-- Layer 6 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-9"
                  data-x="['right','right','right','right']"
                  data-hoffset="['-364','-364','-479','-553']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['-155','-155','-180','-202']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 12; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_tablet.png"
                    alt=""
                    data-ww="['730px','730px','730px','730px']"
                    data-hh="['520px','520px','520px','520px']"
                    width="730"
                    height="520"
                    data-no-retina
                  />
                </div>
                <!-- Layer 7 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-11"
                  data-x="['right','right','right','right']"
                  data-hoffset="['222','222','105','8']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['8','8','-17','-10']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="image"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="z-index: 13; border-width: 0px"
                >
                  <img
                    src="./assets/img/slides/header_pen.png"
                    alt=""
                    data-ww="['300px','300px','300px','300px']"
                    data-hh="['500px','500px','500px','500px']"
                    width="300"
                    height="500"
                    data-no-retina
                  />
                </div>
                <div class="slide-content">
                  <!-- Layer 8 -->
                  <div
                    class="tp-caption tp-resizeme rs-parallaxlevel-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['-70','-70','-70','-90']"
                    data-fontsize="['60','60','60','60']"
                    data-lineheight="['60','60','60','60']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":510,"ease":"Power4.easeOut"},{"delay":640,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                  >
                    Flexbox Support.
                  </div>
                  <!-- Layer 9 -->
                  <div
                    class="tp-caption tp-resizeme rs-parallaxlevel-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['-70','-70','-70','-90']"
                    data-fontsize="['60','60','60','60']"
                    data-lineheight="['60','60','60','60']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":2940,"ease":"Power4.easeOut"},{"delay":660,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                  >
                    Bootstrap 5 Based.
                  </div>
                  <!-- Layer 10 -->
                  <div
                    class="tp-caption tp-resizeme rs-parallaxlevel-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['-70','-70','-70','-90']"
                    data-fontsize="['60','60','60','60']"
                    data-lineheight="['60','60','60','60']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":5390,"ease":"Power4.easeOut"},{"delay":"690","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                  >
                    Fully Responsive.
                  </div>
                  <!-- Layer 11 -->
                  <div
                    class="tp-caption tp-resizeme rs-parallaxlevel-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['-70','-70','-70','-90']"
                    data-fontsize="['60','60','60','60']"
                    data-lineheight="['60','60','60','60']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":7890,"ease":"Power4.easeOut"},{"delay":"wait","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                  >
                    AppStrap.
                  </div>
                  <!-- Layer 12 -->
                  <div
                    class="tp-caption tp-resizeme rs-parallaxlevel-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['-8','-8','-8','-8']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['-10','-10','-10','-10']"
                    data-fontsize="['20','20','20','25']"
                    data-lineheight="['20','20','20','30']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:50px;rX:45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                  >
                    The ultimate Bootstrap 5 Theme!
                  </div>
                  <!-- Layer 13 -->
                  <div
                    class="tp-caption rs-parallaxlevel-3"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['92','92','92','92']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
                    data-responsive_offset="on"
                    data-responsive="off"
                    data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  >
                    <a
                      href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                      class="btn btn-outline-primary btn-rounded btn-lg d-none d-md-block"
                      >Get AppStrap</a
                    >
                    <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-outline-primary btn-rounded btn-sm d-md-none"
                      >Get AppStrap</a
                    >
                  </div>
                </div>
              </li>
              <!-- SLIDE 3 -->
              <li
                class="slide overlay overlay-op-2"
                data-index="rs-3007"
                data-transition="fadethroughdark"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power4.easeInOut"
                data-easeout="Power4.easeInOut"
                data-masterspeed="2000"
                data-thumb="./assets/img/slides/office_cover-100x50.jpg"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Office"
              >
                <!-- MAIN IMAGE -->
                <img src="./assets/img/slides/office_cover.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina />
                <!-- LAYERS -->
                <!-- BACKGROUND VIDEO LAYER -->
                <div
                  class="rs-background-video-layer"
                  data-forcerewind="on"
                  data-volume="mute"
                  data-videowidth="100%"
                  data-videoheight="100%"
                  data-videomp4="./assets/img/slides/Working-Space.mp4"
                  data-videopreload="auto"
                  data-videoloop="loopandnoslidestop"
                  data-forceCover="1"
                  data-aspectratio="16:9"
                  data-autoplay="true"
                  data-autoplayonlyfirsttime="false"
                ></div>
                <!-- Layer 1 -->
                <div
                  class="tp-caption text-white"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-30','-30','-30','-20']"
                  data-fontsize="['70','70','70','70']"
                  data-lineheight="['70','70','70','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="off"
                  data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['left','left','left','left']"
                  data-paddingtop="[10,10,10,10]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[10,10,10,10]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Pack with features!
                </div>
                <!-- Layer 2 -->
                <div
                  class="tp-caption text-light"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['22','22','22','0']"
                  data-fontsize="['20','20','20','20']"
                  data-lineheight="['20','20','20','20']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="off"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['left','left','left','left']"
                >
                  Kickstart your next web project with AppStrap!
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['122','122','60','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-basealign="slide"
                  data-responsive_offset="off"
                  data-responsive="on"
                  data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                >
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-rounded btn-lg d-none d-md-block"
                    >Get AppStrap</a
                  >
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-rounded btn-sm d-md-none"
                    >Get AppStrap</a
                  >
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
          </div>
        </div>
        <div class="row">
          <!--main content-->
          <div class="col-lg-10 mx-auto">
            <!-- About company -->
            <div class="row mt-4">
              <div class="col-md-8">
                <p class="fs-4">Feugiat jus sit vulputate. Defui luctus ludus nostrud patria persto.</p>
                <p>Abico aliquam commoveo ille iusto lenis patria sudo tation ulciscor. Diam ea hos jugis nutus tamen vel vulpes.</p>
                <p>
                  Decet jumentum vindico. Camur hos illum nibh rusticus vel vulputate wisi. Causa eros exputo minim. Lobortis mauris minim secundum. Commodo eum neo nibh virtus.
                  Dolore in jus pala tego vero.
                </p>
                <p>
                  Autem bene causa dignissim elit importunus jus tation. Abigo dolor iaceo. Facilisi meus quae ymo. Comis exputo iaceo melior olim refoveo. Bene decet esca iriure
                  pagus virtus.
                </p>
              </div>
              <!-- Slideshow banner -->
              <div class="col-md-4">
                <!-- List Accordion -->
                <div class="accordion accordion-icons-left" id="list-accordion" role="tablist" aria-multiselectable="true">
                  <div class="accordion-item">
                    <h4 class="accordion-header">
                      <a data-bs-toggle="collapse" data-bs-parent="#list-accordion" href="#collapseOne" class="accordion-button collapsed text-decoration-none">Our Mission</a>
                    </h4>
                    <div id="collapseOne" class="collapse">
                      <div class="accordion-body">Conventio diam oppeto pala persto sit suscipit tum uxor. Augue illum mos obruo. Melior si valde.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h4 class="accordion-header">
                      <a data-bs-toggle="collapse" data-bs-parent="#list-accordion" href="#collapseTwo" class="accordion-button collapsed text-decoration-none">Our Process</a>
                    </h4>
                    <div id="collapseTwo" class="collapse">
                      <div class="accordion-body">Capto commoveo immitto lenis os pecus torqueo turpis. Cogo ille si torqueo.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h4 class="accordion-header">
                      <a data-bs-toggle="collapse" data-bs-parent="#list-accordion" href="#collapseThree" class="accordion-button collapsed text-decoration-none">How We Work</a>
                    </h4>
                    <div id="collapseThree" class="collapse">
                      <div class="accordion-body">Antehabeo appellatio gilvus humo ille macto pagus quae similis vel. Abbas blandit dolore humo quadrum typicus.</div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h4 class="accordion-header">
                      <a data-bs-toggle="collapse" data-bs-parent="#list-accordion" href="#collapseFour" class="accordion-button collapsed text-decoration-none">What We Do</a>
                    </h4>
                    <div id="collapseFour" class="collapse">
                      <div class="accordion-body">Adipiscing conventio sino turpis utinam valde. Conventio ibidem jus modo tation ymo.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="w-40 mx-auto my-6 op-2" />

            <div class="mx-auto">
              <div class="row g-1">
                <div class="col-md-4">
                  <div class="position-relative p-3 rounded border">
                    <div class="fw-bold text-sm text-muted op-5">Happy Customers</div>
                    <h3 class="fw-bold my-0 op-7 text-dark">10000+</h3>
                    <div class="position-absolute end-0 top-0">
                      <div class="badge bg-primary bg-op-1 text-primary lh-base fw-bold d-inline-flex align-items-center mt-1 me-1"><i class="bi-arrow-up me-1"></i> 56%</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative p-3 rounded border">
                    <div class="fw-bold text-sm text-muted op-5">GB Transfered</div>
                    <h3 class="fw-bold my-0 op-7 text-dark">1044400</h3>
                    <div class="position-absolute end-0 top-0">
                      <div class="badge bg-primary bg-op-1 text-primary lh-base fw-bold d-inline-flex align-items-center mt-1 me-1"><i class="bi-arrow-up me-1"></i> 96%</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative p-3 rounded border">
                    <div class="fw-bold text-sm text-muted op-5">Bug Reports</div>
                    <h3 class="fw-bold my-0 op-7 text-dark">12</h3>
                    <div class="position-absolute end-0 top-0">
                      <div class="badge bg-danger bg-op-1 text-danger lh-base fw-bold d-inline-flex align-items-center mt-1 me-1"><i class="bi-arrow-down me-1"></i> 2</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="w-40 mx-auto my-6 op-2" />

            <h3 class="fw-bold mb-3 text-center">Our <span class="fw-normal text-muted">Values</span></h3>
            <!-- List Items -->
            <ul class="row align-items-start list-lg list-unstyled mx-auto">
              <li class="col-md-6 p-4 position-relative d-flex">
                <i class="fa fa-check text-primary mt-2 me-3"></i>
                <div>
                  <h4>Luptatum Quadrum Quidne Quis</h4>
                  Appellatio causa commoveo euismod incassum luptatum nibh quibus suscipere torqueo.
                </div>
              </li>
              <li class="col-md-6 p-4 position-relative d-flex">
                <i class="fa fa-check text-primary mt-2 me-3"></i>
                <div>
                  <h4>Comis Dignissim Saepius Suscipere</h4>
                  Dignissim iustum nobis quidem sudo uxor.
                </div>
              </li>
              <li class="col-md-6 p-4 position-relative d-flex">
                <i class="fa fa-check text-primary mt-2 me-3"></i>
                <div>
                  <h4>Antehabeo Minim Nimis Quidem</h4>
                  Augue quidem vicis. Diam duis exputo haero incassum natu secundum uxor vel.
                </div>
              </li>
              <li class="col-md-6 p-4 position-relative d-flex">
                <i class="fa fa-check text-primary mt-2 me-3"></i>
                <div>
                  <h4>Aliquip Importunus Meus Veniam</h4>
                  Abdo distineo erat facilisi nimis os quia valetudo verto.
                </div>
              </li>
              <li class="col-md-6 p-4 position-relative d-flex">
                <i class="fa fa-check text-primary mt-2 me-3"></i>
                <div>
                  <h4>Adipiscing Diam Premo Vereor</h4>
                  Duis hendrerit refero saluto ulciscor. Decet dolore duis.
                </div>
              </li>
              <li class="col-md-6 p-4 position-relative d-flex">
                <i class="fa fa-check text-primary mt-2 me-3"></i>
                <div>
                  <h4>Dignissim Haero Immitto Qui</h4>
                  Abbas mos nobis nunc qui sed sudo vereor.
                </div>
              </li>
            </ul>
            <hr class="w-40 mx-auto my-6 op-2" />

            <!-- Timeline -->
            <h3 class="fw-bold mb-3 text-center">
              <span>Company <span class="fw-normal text-muted">History</span></span>
            </h3>
            <div class="timeline mx-auto w-lg-70">
              <div class="timeline-marker bg-white p-2 pt-0 text-center fw-bold">Start</div>
              <!--Timeline item 1-->
              <div class="timeline-item timeline-item-first shadow">
                <div class="badge text-bg-primary px-2 mb-1">Feb 2011</div>
                <h5 class="fw-bold">Company founders meet for first time</h5>
                <p class="lh-base">Antehabeo commodo refero sit. Abbas abluo consectetuer feugiat laoreet luctus patria.</p>
              </div>
              <!--Timeline item 2 - NOTE: .highlight class-->
              <div class="timeline-item right shadow">
                <div class="badge text-bg-primary px-2 mb-1">April 2011</div>
                <h5 class="fw-bold">The company was born</h5>
                <p class="lh-base">Caecus comis consequat esse et hos incassum molior tincidunt verto.</p>
              </div>
              <!--Timeline item 3 -->
              <div class="timeline-item shadow">
                <div class="badge text-bg-primary px-2 mb-1">Sept 2011</div>
                <h5 class="fw-bold">The company lands first major contract</h5>
                <p class="lh-base">Abigo luctus premo ymo. Ad saepius tego. Appellatio facilisis pertineo.</p>
              </div>
              <!--Timeline item 4-->
              <div class="timeline-item right timeline-item-last shadow">
                <div class="badge text-bg-primary px-2 mb-1">Dec 2014</div>
                <h5 class="fw-bold">Company sold for $1 million</h5>
                <p class="lh-base">Amet appellatio consectetuer lobortis lucidus minim os refero utrum. Amet dolore humo in lenis mauris praesent proprius wisi.</p>
              </div>
              <div class="timeline-marker timeline-marker-bottom bg-white p-2 pb-0 text-center fw-bold">
                <i class="bi bi-check-circle-fill"></i>
                <br />
                End
              </div>
            </div>
            <hr class="w-40 mx-auto my-6 op-2" />

            <!-- Team -->
            <h3 class="fw-bold mb-3 hstack gap-2">
              <span>Our <span class="fw-normal text-muted">Team</span></span>
              <span class="vr"></span> <span class="fw-light text-muted fs-6 op-8">Our Team Of Stars</span>
            </h3>
            <div class="row">
              <div class="col-12 col-lg-4">
                <!--Team Member annika-->
                <div class="card rounded shadow-sm">
                  <div class="row g-0">
                    <div class="col-4 col-sm-3">
                      <a href="team-member.html" title="View Annika's profile">
                        <img src="./assets/img/team/sm/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid rounded-start object-fit-cover" alt="Annika" />
                      </a>
                    </div>
                    <div class="col-8 col-sm-9">
                      <div class="card-body">
                        <h5 class="mb-0">
                          <a href="team-member.html" class="text-gray-800" title="View Annika's profile">Annika</a>
                        </h5>
                        <p class="mb-0">Founder & designer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!--Team Member jim-->
                <div class="card rounded shadow-sm">
                  <div class="row g-0">
                    <div class="col-4 col-sm-3">
                      <a href="team-member.html" title="View Jim's profile">
                        <img src="./assets/img/team/sm/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="img-fluid rounded-start object-fit-cover" alt="Jim" />
                      </a>
                    </div>
                    <div class="col-8 col-sm-9">
                      <div class="card-body">
                        <h5 class="mb-0">
                          <a href="team-member.html" class="text-gray-800" title="View Jim's profile">Jim</a>
                        </h5>
                        <p class="mb-0">Founder & developer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!--Team Member ben-->
                <div class="card rounded shadow-sm">
                  <div class="row g-0">
                    <div class="col-4 col-sm-3">
                      <a href="team-member.html" title="View Ben's profile">
                        <img src="./assets/img/team/sm/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded-start object-fit-cover" alt="Ben" />
                      </a>
                    </div>
                    <div class="col-8 col-sm-9">
                      <div class="card-body">
                        <h5 class="mb-0">
                          <a href="team-member.html" class="text-gray-800" title="View Ben's profile">Ben</a>
                        </h5>
                        <p class="mb-0">The Tech Guy</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!--Team Member jane-->
                <div class="card rounded shadow-sm">
                  <div class="row g-0">
                    <div class="col-4 col-sm-3">
                      <a href="team-member.html" title="View Jane's profile">
                        <img src="./assets/img/team/sm/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="img-fluid rounded-start object-fit-cover" alt="Jane" />
                      </a>
                    </div>
                    <div class="col-8 col-sm-9">
                      <div class="card-body">
                        <h5 class="mb-0">
                          <a href="team-member.html" class="text-gray-800" title="View Jane's profile">Jane</a>
                        </h5>
                        <p class="mb-0">Marketing Expert</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!--Team Member steve-->
                <div class="card rounded shadow-sm">
                  <div class="row g-0">
                    <div class="col-4 col-sm-3">
                      <a href="team-member.html" title="View Steve's profile">
                        <img src="./assets/img/team/sm/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="img-fluid rounded-start object-fit-cover" alt="Steve" />
                      </a>
                    </div>
                    <div class="col-8 col-sm-9">
                      <div class="card-body">
                        <h5 class="mb-0">
                          <a href="team-member.html" class="text-gray-800" title="View Steve's profile">Steve</a>
                        </h5>
                        <p class="mb-0">Sales Manager</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <!--Team Member robert-->
                <div class="card rounded shadow-sm">
                  <div class="row g-0">
                    <div class="col-4 col-sm-3">
                      <a href="team-member.html" title="View Robert's profile">
                        <img src="./assets/img/team/sm/6-vicky-hladynets-C8Ta0gwPbQg-unsplash.webp" class="img-fluid rounded-start object-fit-cover" alt="Robert" />
                      </a>
                    </div>
                    <div class="col-8 col-sm-9">
                      <div class="card-body">
                        <h5 class="mb-0">
                          <a href="team-member.html" class="text-gray-800" title="View Robert's profile">Robert</a>
                        </h5>
                        <p class="mb-0">Junior designer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <a href="#" class="btn btn-primary py-2">We're hiring! <span class="fw-bold">Join the team!</span></a>
              </div>
            </div>
            <hr class="w-40 mx-auto my-6 op-2 shadow" />

            <!-- Customer logos -->
            <h3 class="fw-bold mb-4 hstack gap-2">
              Our <span class="fw-normal">Customers</span> <span class="vr"></span> <span class="fw-light text-muted fs-6 op-8">1000s of Happy Clients</span>
            </h3>
            <div class="row g-1">
              <div class="col-6 col-lg-3">
                <!--Customer 1-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 2-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 3-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 4-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 5-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 6-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 7-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 8-->
                <div class="bg-light py-2 px-4">
                  <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
