<!-- 
{
  "pageTitle": "About Me",
  "pageKey": "about-me",
  "pageActiveTrail": [
    "pages",
    "about"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>About Me | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav-section-menu">
              <div class="nav nav-list">
                <span class="nav-header">In This Section</span>
                <a href="about.html" class="nav-link first">
                  About Us
                  <small>Basic Version</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="about-extended.html" class="nav-link">
                  About Us
                  <small>Extended Version</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="about-me.html" class="nav-link active">
                  About Me
                  <small>More About Me</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="team.html" class="nav-link">
                  The Team
                  <small>Team displays</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="team-member.html" class="nav-link">
                  Team Member
                  <small>Individual Display</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="contact.html" class="nav-link">
                  Contact Us
                  <small>How to get in touch</small>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2>About Me</h2>

            <!-- About me -->
            <div class="row">
              <!-- Image -->
              <div class="col-md-5">
                <img src="./assets/img/misc/about-me.jpg" alt="About me" class="img-fluid" />
              </div>
              <div class="col-md-7">
                <p class="lead">Drupal and Frontend Developer with an eye for detail. I love code!</p>
                <p>Ex letalis plaga wisi. Aliquip et macto saepius sagaciter sed ut vereor. Comis jumentum luptatum meus molior olim qui secundum utrum.</p>
                <p>Diam immitto secundum valetudo. Amet diam dolore iaceo premo. Consequat conventio ibidem obruo pala quidne sino ulciscor. Augue dolore genitus pertineo sino.</p>
                <p>
                  Ad distineo enim esse illum nutus valde vero. Abico appellatio iustum nobis nutus paratus singularis sit tation ut. Camur imputo occuro premo. Nunc persto refoveo
                  sagaciter ullamcorper. Augue damnum et eu nunc pecus quis refero tum. Ille neo sagaciter. Acsi autem decet facilisis ille paulatim pneum quae secundum ut.
                </p>
                <p>Commodo gilvus ille vindico virtus. Modo olim praemitto si singularis. Cogo eu in. Abbas appellatio defui eum illum iusto nutus utinam vicis.</p>
                <div class="social-media-branding">
                  <!--@todo: replace with real social share links -->
                  <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-2x"></i></a>
                  <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-2x"></i></a>
                  <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-2x"></i></a>
                  <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-2x"></i></a>
                </div>
              </div>
            </div>

            <div class="title-divider mt-5">
              <h3>
                <span>Services <span class="fw-normal text-muted">& Skills</span></span>
              </h3>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row mt-4">
                  <div class="col-md-2"><i class="fab fa-fw fa-3x fa-html5 text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">HTML5 (44%)</h5>
                    <div class="progress mb-3">
                      <div
                        class="progress-bar w-44"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="44"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-2"><i class="fab fa-fw fa-3x fa-css3 text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">CSS3 (89%)</h5>
                    <div class="progress mb-3">
                      <div
                        class="progress-bar w-89"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="89"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-2"><i class="fab fa-fw fa-3x fa-linux text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">System Admin (66%)</h5>
                    <div class="progress mb-3">
                      <div
                        class="progress-bar w-66"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="66"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row mt-4">
                  <div class="col-md-2"><i class="fab fa-fw fa-3x fa-android text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">Android (54%)</h5>
                    <div class="progress mb-3">
                      <div
                        class="progress-bar w-54"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="54"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-2"><i class="fab fa-fw fa-3x fa-windows text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">Windows (64%)</h5>
                    <div class="progress mb-3">
                      <div
                        class="progress-bar w-64"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="64"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-2"><i class="fab fa-fw fa-3x fa-github-alt text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">GitHub (98%)</h5>
                    <div class="progress mb-3">
                      <div
                        class="progress-bar w-98"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="98"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Timeline -->
            <h3 class="title-divider mt-5">
              <span>Work <span class="fw-normal text-muted">Experience</span></span>
            </h3>
            <div class="timeline timeline-left">
              <div class="timeline-marker"></div>
              <!--Timeline item 1-->
              <div class="timeline-item timeline-item-first shadow-sm shadow-hover">
                <div class="fw-5 fw-semibold op-7">Feb 2011 - March 2012</div>
                <h5 class="fw-bold">Frontend Developer @ Code Monkeys</h5>
                <p class="lh-base">Abbas cogo ea esca immitto metuo nobis quae saluto vero.</p>
              </div>
              <!--Timeline item 2 -->
              <div class="timeline-item shadow-sm shadow-hover">
                <div class="fw-5 fw-semibold op-7">April 2012 - June 2012</div>
                <h5 class="fw-bold">Freelance Drupal Developer</h5>
                <p class="lh-base">Eros inhibeo quibus refero roto sed sino verto vulputate. Accumsan camur duis erat nulla utinam vulpes.</p>
              </div>
              <!--Timeline item 3- - NOTE: .highlight class -->
              <div class="timeline-item highlight shadow-sm shadow-hover">
                <div class="fw-5 fw-semibold op-7">July 2012 - March 2013</div>
                <h5 class="fw-bold">Wordpress-er @ One Tree Media Inc.</h5>
                <p class="lh-base">Abluo ille imputo jus nostrud quidem valde volutpat. Jugis singularis ymo.</p>
              </div>
              <!--Timeline item 4 - NOTE: the .right class-->
              <div class="timeline-item timeline-item-last shadow-sm shadow-hover">
                <div class="fw-5 fw-semibold op-7">Feb 2013 - Present</div>
                <h5 class="fw-bold">CEO & Developer @ Themelize.me</h5>
                <p class="lh-base">Consectetuer euismod hos laoreet loquor lucidus. Adipiscing feugiat probo utinam.</p>
              </div>
              <div class="timeline-marker timeline-marker-bottom"></div>
            </div>

            <!-- Latest Projects-->
            <div class="title-divider mt-5">
              <h3>
                <span>Latest <span class="fw-normal text-muted">Projects</span></span>
                <small>See what I've been working on</small>
              </h3>
            </div>
            <div class="projects-grid">
              <!-- Uses magnific popup plugin to show enlarged version of image in gallery @see: http://dimsemenov.com/plugins/magnific-popup/documentation.html -->
              <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.project", "gallery":{"enabled":true}}'>
                <!--Project item 1-->
                <div class="col-sm-6 col-md-6 mb-4 grid-item">
                  <a href="./assets/img/projects/project-1.jpg" class="project overlay-hover">
                    <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid rounded" />
                    <span class="overlay-hover-content">
                      <i class="fa fa-arrow-circle-right icon-3x text-white"></i>
                      <h5 class="mt-4">Abico Antehabeo Illum Natu Olim</h5>
                    </span>
                  </a>
                </div>

                <!--Project item 2-->
                <div class="col-sm-6 col-md-6 mb-4 grid-item">
                  <a href="./assets/img/projects/project-2.jpg" class="project overlay-hover">
                    <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid rounded" />
                    <span class="overlay-hover-content">
                      <i class="fa fa-arrow-circle-right icon-3x text-white"></i>
                      <h5 class="mt-4">Consectetuer Elit Loquor Nibh Vero</h5>
                    </span>
                  </a>
                </div>

                <!--Project item 3-->
                <div class="col-sm-6 col-md-6 mb-4 grid-item">
                  <a href="./assets/img/projects/project-3.jpg" class="project overlay-hover">
                    <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid rounded" />
                    <span class="overlay-hover-content">
                      <i class="fa fa-arrow-circle-right icon-3x text-white"></i>
                      <h5 class="mt-4">Damnum Facilisis Iaceo Utrum Verto</h5>
                    </span>
                  </a>
                </div>

                <!--Project item 4-->
                <div class="col-sm-6 col-md-6 mb-4 grid-item">
                  <a href="./assets/img/projects/project-4.jpg" class="project overlay-hover">
                    <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid rounded" />
                    <span class="overlay-hover-content">
                      <i class="fa fa-arrow-circle-right icon-3x text-white"></i>
                      <h5 class="mt-4">Commoveo Dolus Importunus Lobortis Vulputate</h5>
                    </span>
                  </a>
                </div>

                <!--Project item 5-->
                <div class="col-sm-6 col-md-6 mb-4 grid-item">
                  <a href="./assets/img/projects/project-5.jpg" class="project overlay-hover">
                    <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid rounded" />
                    <span class="overlay-hover-content">
                      <i class="fa fa-arrow-circle-right icon-3x text-white"></i>
                      <h5 class="mt-4">Fere Genitus Imputo Quadrum Tation</h5>
                    </span>
                  </a>
                </div>

                <!--Project item 6-->
                <div class="col-sm-6 col-md-6 mb-4 grid-item">
                  <a href="./assets/img/projects/project-6.jpg" class="project overlay-hover">
                    <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid rounded" />
                    <span class="overlay-hover-content">
                      <i class="fa fa-arrow-circle-right icon-3x text-white"></i>
                      <h5 class="mt-4">Aliquip Autem Haero Lobortis Ratis</h5>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
