<!-- 
{
  "pageTitle": "Dashboard",
  "pageKey": "admin",
  "headerSticky": false,
  "navbarBrandUrl": "admin.html",
  "headerNavbarToggle": false,
  "headerOffcanvas": false,
  "bodyClass": "bg-light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "py-4",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-3",
  "navbarClass": "bg-white border-bottom py-0 shadow-sm",
  "navbarContainerClass": "container-fluid ps-0",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Dashboard | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <div class="navbar-side-push fixed-top" data-bs-controller="#navbar-side-primary">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Admin UI' %} {% block navbarBrandContent %}
      <!-- Toggle the #navbar-side-primary navbar-side element -->
      <a
        href="#"
        class="navbar-text fs-5 align-self-stretch border-end navbar-border navbar-side-toggler bg-gray-300 bg-op-1 bg-op-hover-2 rounded-0 transition waves-btn order-first"
        data-bs-toggle="navbar-offcanvas"
        data-bs-target="#navbar-side-primary"
      >
        <i class="bi-list icon-1x"></i> <span class="visually-hidden-focusable">Main Menu Panel</span>
      </a>
      {% endblock %} {% block headerNavbarNav %}
      <!-- Navbar right side -->
      <div class="ms-auto d-flex order-4">
        <!-- Secondary links -->
        <ul class="nav navbar-nav flex-row gap-2 ms-auto me-3">
          <!-- Add menu -->
          <li class="nav-item dropdown pe-2">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-plus-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end position-absolute">
              <div class="dropdown-header">Content</div>
              <a href="#" class="dropdown-item"><i class="bi-bug"></i> New issue</a>
              <a href="#" class="dropdown-item"><i class="bi-kanban"></i> New board</a>
              <a href="#" class="dropdown-item"><i class="bi-file-post"></i> New post</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header"><strong>Users</strong></div>
              <a href="#" class="dropdown-item"><i class="bi-person"></i> New user</a>
              <a href="#" class="dropdown-item"><i class="bi-lock"></i> New permissions</a>
              <a href="#" class="dropdown-item"><i class="bi-file-lock"></i> New role</a>
            </div>
          </li>
          <!-- Notifications -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-bell"></i>
              <span class="badge position-absolute top-0 start-0 mt-2 p-1 rounded-circle bg-info animate-pulse-dark text-xs">
                <span class="visually-hidden">New notifications</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end col-4 position-absolute pt-0" style="--bs-dropdown-min-width: 20em">
              <div class="dropdown-header">Notifications</div>
              <div class="dropdown-divider my-0"></div>
              <div class="dropdown-menu-scroll">
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-envelope fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New private message</h6>
                      <p class="my-0 text-gray-500 text-xs">23 minutes ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-person-plus fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Friend request: Joe</h6>
                      <p class="my-0 text-gray-500 text-xs">3 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-cpu fs-6 position-absolute m-auto"></i>
                      </div>
                      <i class="bi-exclamation-square-fill text-danger position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Server Error: SQLDeadlock</h6>
                      <p class="my-0 text-gray-500 text-xs">4 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <img src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid sq-xs rounded" alt="New message from from Dave" />
                      <i class="bi-info-square-fill text-success position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New message from from Dave</h6>
                      <p class="my-0 text-gray-500 text-xs">6 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-bug fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Issue update: CSS bug</h6>
                      <p class="my-0 text-gray-500 text-xs">17 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Serge Micheals" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Serge Micheals</h6>
                      <p class="my-0 text-gray-500 text-xs">19 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Anastasia Shveko" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Anastasia Shveko</h6>
                      <p class="my-0 text-gray-500 text-xs">19 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/shop/womens-sports.jpg" class="img-fluid sq-xs rounded" alt="Product sales record" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Product sales record</h6>
                      <p class="my-0 text-gray-500 text-xs">21 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
              </div>
              <div class="dropdown-footer text-center"><a href="#" class="text-gray-600 text-sm">View all</a></div>
            </div>
          </li>
        </ul>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- Page Main Content -->

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-6">
      <!-- .navbar-side is a variation on the standard Boostrap .navbar which stacks & is aligned to the sides instead. .navbar-light & .navbar-dark are available to change the colour scheme along with the contextual background colours ie. bg-dark All .navbar-side classes: -->
      <div class="offcanvas offcanvas-start navbar-side navbar-dark d-flex flex-column text-white bg-dark p-0" id="navbar-side-primary" data-bs-theme="dark">
        <!-- Close button -->
        <button type="button" class="btn-close mt-1 ms-1" data-bs-dismiss="offcanvas" data-bs-target="#navbar-side-primary" aria-label="Close"></button>
        <!-- Account -->
        <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3">
          <div class="position-relative px-2">
            <img src="./assets/img/admin/avatar.png" class="rounded-circle sq-md" alt="user photo" />
            <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light">
              <span class="visually-hidden">User online</span>
            </span>
          </div>
          <span class="navbar-text hover-show pb-0">Jim Jones</span> <a href="#" class="navbar-text op-8 text-xs hover-show pt-0">View Profile</a>
        </div>
        <!-- Sidebar Menu/Nav -->
        <ul class="navbar-nav navbar-nav-side py-3 flex-column w-100 px-2">
          <li class="nav-header px-2 navbar-text op-8 pb-0">Navigation</li>
          <li class="nav-item open">
            <a href="admin.html" class="nav-link text-sm collapsed" aria-expanded="true" role="button"> <i class="bi-house nav-item-icon"></i> Dashboard </a>
          </li>
          <li class="nav-item">
            <a href="#layouts" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="false" role="button">
              <i class="bi-columns nav-item-icon"></i> Layouts
            </a>
            <ul id="layouts" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse">
              <li class="nav-item"><a href="admin-header-dark.html" class="nav-link text-sm" aria-expanded="false"> Dark navbar </a></li>
              <li class="nav-item"><a href="admin-sidebar-light.html" class="nav-link text-sm" aria-expanded="false"> Light sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-iconbar.html" class="nav-link text-sm" aria-expanded="false"> Icon sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-small.html" class="nav-link text-sm" aria-expanded="false"> Small sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-large.html" class="nav-link text-sm" aria-expanded="false"> Large sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-horizontal.html" class="nav-link text-sm" aria-expanded="false"> Horizontal sidebar </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#pages" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="false" role="button">
              <i class="bi-file-earmark nav-item-icon"></i> Pages
            </a>
            <ul id="pages" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse">
              <li class="nav-item"><a href="admin-profile.html" class="nav-link text-sm" aria-expanded="false"> Profile </a></li>
              <li class="nav-item"><a href="admin-profile-settings.html" class="nav-link text-sm" aria-expanded="false"> Profile Settings </a></li>
              <li class="nav-item"><a href="admin-tickets.html" class="nav-link text-sm" aria-expanded="false"> Support Tickets </a></li>
              <li class="nav-item"><a href="admin-users.html" class="nav-link text-sm" aria-expanded="false"> User Management </a></li>
              <li class="nav-item"><a href="admin-tasks.html" class="nav-link text-sm" aria-expanded="false"> Task Management </a></li>
              <li class="nav-item"><a href="admin-tasks-kanban.html" class="nav-link text-sm" aria-expanded="false"> Task Management (Kanban) </a></li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar footer -->
        <div class="navbar-nav-side-footer text-gray-600 p-3 mt-auto d-flex align-items-center text-sm text-light opacity-80 hover-show navbar-nav-fix-width">
          More admin pages & features coming soon!
          <br />
          Theme version - 4.0
          <br />
          Copyright 2024 &copy; AppStrap
        </div>
      </div>
      <div class="navbar-side-push p-4" data-bs-controller="#navbar-side-primary">
        <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-5 border-bottom pb-3">
          <div>
            <h2 class="fs-6 text-uppercase text-gray-600 fw-bolder mb-0 hstack align-items-center gap-2"><i class="bi-house text-primary icon-1x"></i> Dashboard</h2>
          </div>
          <ol class="breadcrumb text-gray-500 text-xs m-0">
            <li class="breadcrumb-item text-gray-500"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
          <?php// } ?>
        </div>
        <!-- Page content -->
        <!-- Quick Stats blocks -->
        <h6 class="text-sm text-uppercase fw-bolder text-gray-700">Quick Stats</h6>
        <div class="row g-4">
          <div class="col-md-6 col-xxl-3">
            <div class="card shadow-sm mb-0 rounded">
              <div class="card-body position-relative">
                <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center position-absolute end-0 top-0 mt-2 me-2">
                  <i class="bi-arrow-up me-1"></i> 97%
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center sq-md bg-primary bg-opacity-10 text-primary rounded-circle fs-3">
                    <i class="bi-cart"></i>
                  </div>
                  <div class="ms-3">
                    <div class="fs-3 fw-bolder lh-1 text-gray-700">2362</div>
                    <div class="op-6 text-sm">Monthly sales</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xxl-3">
            <div class="card shadow-sm mb-0 rounded">
              <div class="card-body position-relative">
                <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center position-absolute end-0 top-0 mt-2 me-2">
                  <i class="bi-arrow-up me-1"></i> 72%
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center sq-md bg-info bg-opacity-10 text-info rounded-circle fs-3">
                    <i class="bi-currency-exchange"></i>
                  </div>
                  <div class="ms-3">
                    <div class="fs-3 fw-bolder lh-1 text-gray-700">$23000</div>
                    <div class="op-6 text-sm">Revenue</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xxl-3">
            <div class="card shadow-sm mb-0 rounded">
              <div class="card-body position-relative">
                <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center position-absolute end-0 top-0 mt-2 me-2">
                  <i class="bi-arrow-up me-1"></i> 90%
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center sq-md bg-danger bg-opacity-10 text-danger rounded-circle fs-3">
                    <i class="bi-stoplights"></i>
                  </div>
                  <div class="ms-3">
                    <div class="fs-3 fw-bolder lh-1 text-gray-700">23,620</div>
                    <div class="op-6 text-sm">Views</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xxl-3">
            <div class="card shadow-sm mb-0 rounded">
              <div class="card-body position-relative">
                <div class="badge bg-danger bg-opacity-10 text-danger lh-base fw-bold d-inline-flex align-items-center position-absolute end-0 top-0 mt-2 me-2">
                  <i class="bi-arrow-down me-1"></i> 36%
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center sq-md bg-warning bg-opacity-10 text-warning rounded-circle fs-3">
                    <i class="bi-award"></i>
                  </div>
                  <div class="ms-3">
                    <div class="fs-3 fw-bolder lh-1 text-gray-700">120</div>
                    <div class="op-6 text-sm">Support cases answered</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-4 d-flex align-items-stretch my-6">
          <!-- First Chart: Visitors Count (Bar Chart) -->
          <div class="col-lg-6 mb-3">
            <h6 class="text-sm text-uppercase fw-bolder text-gray-700">Visitors This Week</h6>
            <div class="card bg-white shadow-sm position-relative rounded h-100 mb-0">
              <div class="card-body d-flex flex-column">
                <div
                  data-apexcharts
                  data-options='{ "chart": { "type": "bar" }, "series": [{ "name": "Visitors", "data": [150, 200, 180, 220, 250, 270, 300, 310] }], "xaxis": { "categories": ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"] } }'
                ></div>
              </div>
            </div>
          </div>
          <!-- Second Chart: Domain Authority (Line Chart) -->
          <div class="col-lg-6">
            <h6 class="text-sm text-uppercase fw-bolder text-gray-700">Domain Authority</h6>
            <div class="card bg-white shadow-sm position-relative rounded h-100 mb-0">
              <div class="card-body d-flex flex-column">
                <div
                  data-apexcharts
                  data-options='{ "chart": { "type": "line" }, "series": [{ "name": "2021", "data": [23, 29, 33, 36, 32, 35, 37, 31, 29, 34, 38, 40] }, { "name": "2022", "data": [25, 28, 31, 35, 30, 32, 34, 36, 30, 32, 36, 39] }, { "name": "2023", "data": [27, 31, 29, 32, 34, 33, 36, 38, 32, 33, 37, 41] }, { "name": "2024", "data": [30, 32, 35, 37, 36, 38, 40, 41, 35, 37, 39, 42] }], "xaxis": { "categories": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] }, "stroke": { "curve": "smooth" }, "legend": { "show": true, "onItemClick": { "toggleSeries": true } }, "tooltip": { "enabled": true } }'
                ></div>
              </div>
            </div>
          </div>
        </div>
        <h6 class="text-sm text-uppercase fw-bolder text-gray-700 mt-5">Updates</h6>
        <div class="row g-4">
          <div class="col-lg-5">
            <div class="card bg-white shadow-sm position-relative h-100 rounded">
              <div class="card-header bg-white text-sm text-uppercase fw-semibold text-gray-600">Feed</div>
              <div class="card-body navbar-nav-scroll">
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">New link shared:</h5>
                    <p class="my-0 text-gray-600 text-xs">31 minutes ago</p>
                    <a href="#" class="d-block text-hover-no-underline border border-gray-300 bg-light rounded my-4 position-relative">
                      <img src="./assets/img/admin/posts/xps-g2E2NQ5SWSU-unsplash.jpg" class="rounded-top img-fluid" alt="Link image" />
                      <div class="p-3">
                        <h5>CSS bug on Bootstrap dropdowns</h5>
                        <p class="text-gray-600 mb-0">
                          Dolore imputo iustum jumentum mos nisl similis valetudo. Gilvus roto te. Ea paratus quae validus vicis voco. Ex illum natu sed wisi..........
                        </p>
                      </div>
                    </a>
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 17 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 20 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">New project repo created</h5>
                    <p class="my-0 text-gray-600 text-xs">57 minutes ago</p>
                    <a href="#" class="d-block text-hover-no-underline border border-gray-300 bg-gray-100 bg-gray-200-hover rounded my-4 p-3 position-relative">
                      <h5 class="text-primay-800">Bootstrap hover dropdowns</h5>
                      <p class="text-gray-600 mb-0">Make Bootstrap dropdowns how on hover.</p>
                      <p class="text-gray-500 mb-0 mt-2 text-sm">#PHP #Bootstrap</p>
                      <div class="position-absolute top-0 end-0 bg-white border-light text-sm rounded px-1 m-2">Public</div>
                    </a>
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 60 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 65 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">New post: Remote work and travel, what you need to know!</h5>
                    <p class="my-0 text-gray-600 text-xs">2 hours ago</p>
                    <img
                      data-src="./assets/img/admin/posts/windows-JqmOD1jpHHw-unsplash.jpg"
                      class="img-fluid rounded my-3"
                      data-bs-toggle="blazy"
                      alt="New post: Remote work and travel, what you need to know!"
                    />
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 42 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 8 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid rounded" alt="Dave Pope" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">New post: How to animate Bootstrap dropdowns</h5>
                    <p class="my-0 text-gray-600 text-xs">4 hours ago</p>
                    <img
                      data-src="./assets/img/admin/posts/bench-accounting-nfTA8pdaq9A-unsplash.jpg"
                      class="img-fluid rounded my-3"
                      data-bs-toggle="blazy"
                      alt="New post: How to animate Bootstrap dropdowns"
                    />
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 33 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 42 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">New post: Product sales record for 2021</h5>
                    <p class="my-0 text-gray-600 text-xs">6 hours ago</p>
                    <img
                      data-src="./assets/img/admin/posts/xps-g2E2NQ5SWSU-unsplash.jpg"
                      class="img-fluid rounded my-3"
                      data-bs-toggle="blazy"
                      alt="New post: Product sales record for 2021"
                    />
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 99 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 68 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">Issue update: CSS bug on Bootstrap dropdowns - FIXED</h5>
                    <p class="my-0 text-gray-600 text-xs">8 hours ago</p>
                    <a href="#" class="d-block text-hover-no-underline border border-gray-300 bg-gray-100 bg-gray-200-hover rounded my-4 p-3 position-relative">
                      <h5>CSS bug on Bootstrap dropdowns</h5>
                      <p class="text-gray-600 mb-0">Mark as: resolved</p>
                      <p class="text-gray-500 mb-0 mt-2 text-sm">Reported by: Jim Jones</p>
                      <div class="text-success position-absolute top-0 end-0 bg-white border-light text-sm rounded px-1 m-2">Resolved</div>
                    </a>
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 49 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 70 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">Started following 10 new users.</h5>
                    <p class="my-0 text-gray-600 text-xs">18 hours ago</p>
                    <div class="d-flex align-items-center justify-content-center flex-wrap pt-4 pb-3">
                      <div class="ms-n2 mb-n2 mb-lg-0">
                        <img
                          src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp"
                          class="sq-md rounded-circle border border-white border-2"
                          alt="user photo"
                          data-bs-toggle="tooltip"
                          title="User 2"
                        />
                      </div>
                      <div class="ms-n2 mb-n2 mb-lg-0">
                        <img
                          src="./assets/img/admin/users/2-austin-wade-X6Uj51n5CE8-unsplash.webp"
                          class="sq-md rounded-circle border border-white border-2"
                          alt="user photo"
                          data-bs-toggle="tooltip"
                          title="User 3"
                        />
                      </div>
                      <div class="ms-n2 mb-n2 mb-lg-0">
                        <img
                          src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp"
                          class="sq-md rounded-circle border border-white border-2"
                          alt="user photo"
                          data-bs-toggle="tooltip"
                          title="User 4"
                        />
                      </div>
                      <div class="ms-n2 mb-n2 mb-lg-0">
                        <img
                          src="./assets/img/admin/users/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp"
                          class="sq-md rounded-circle border border-white border-2"
                          alt="user photo"
                          data-bs-toggle="tooltip"
                          title="User 5"
                        />
                      </div>
                      <div class="ms-n2 mb-n2 mb-lg-0">
                        <img
                          src="./assets/img/admin/users/5-harps-joseph-tAvpDE7fXgY-unsplash.webp"
                          class="sq-md rounded-circle border border-white border-2"
                          alt="user photo"
                          data-bs-toggle="tooltip"
                          title="User 5"
                        />
                      </div>
                      <div class="ms-n2 mb-n2 mb-lg-0">
                        <div
                          class="sq-md rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center"
                          data-bs-toggle="tooltip"
                          title="5 more users"
                        >
                          +5
                        </div>
                      </div>
                    </div>
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 33 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 75 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="opacity-10 my-4" />
                <div class="row g-3 align-items-start">
                  <div class="col-1">
                    <img src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-fluid rounded" alt="" />
                  </div>
                  <div class="col-11">
                    <h5 class="text-gray-700 my-0">Jim commented on How to use Gulp with Bootstrap</h5>
                    <p class="my-0 text-gray-600 text-xs">20 hours ago</p>
                    <blockquote class="blockquote text-gray-600"><i>Gulp is awesome, streamlime your Bootstrap builds!</i></blockquote>
                    <div class="mt-2 hstack gap-3">
                      <a class="text-gray-500" href="#"><i class="bi-hand-thumbs-up text-gray-600"></i> 50 likes</a>
                      <a class="text-gray-500" href="#"><i class="bi-chat text-gray-600"></i> 56 comments</a>
                      <div class="ms-auto hstack gap-3">
                        <a href="#" class="text-gray-500">Report</a> <a href="#" class="bg-primary bg-opacity-10 bg-opacity-20-hover text-primary rounded text-sm p-1 lh-1">Save</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end bg-white">
                <a href="#" class="text-sm text-gray-600">View Full Feed <i class="bi-plus"></i></a>
              </div>
            </div>
          </div>

          <!-- Top Posts -->
          <div class="col-lg-4">
            <div class="card bg-white shadow-sm position-relative h-100 rounded">
              <div class="card-header bg-white text-sm text-uppercase fw-semibold text-gray-600">Top Posts</div>
              <div class="card-body navbar-nav-scroll">
                <div class="row align-items-start">
                  <div class="col-4 col-md-4">
                    <img data-src="./assets/img/admin/posts/bench-accounting-nfTA8pdaq9A-unsplash.jpg" class="img-fluid rounded" data-bs-toggle="blazy" alt="Cui Ex Veniam" />
                  </div>
                  <div class="col-6 col-md-7">
                    <h6 class="text-gray-700 my-0">Cui Ex Veniam</h6>
                    <p class="my-2 text-gray-600 text-xs mt-0"><i class="bi-file-earmark-richtext"></i> Landing Page</p>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-1 me-2"><i class="bi-arrow-up me-1"></i> 43%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary bg-op-8"></i> Publish </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary bg-op-8"></i> Clone </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-4 col-md-4">
                    <img data-src="./assets/img/admin/posts/toa-heftiba-FV3GConVSss-unsplash.jpg" class="img-fluid rounded" data-bs-toggle="blazy" alt="Gemino Venio" />
                  </div>
                  <div class="col-6 col-md-7">
                    <h6 class="text-gray-700 my-0">Gemino Venio</h6>
                    <p class="my-2 text-gray-600 text-xs mt-0"><i class="bi-journal-text"></i> Blog</p>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-1 me-2"><i class="bi-arrow-up me-1"></i> 97%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary bg-op-8"></i> Publish </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary bg-op-8"></i> Clone </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-4 col-md-4">
                    <img
                      data-src="./assets/img/admin/posts/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg"
                      class="img-fluid rounded"
                      data-bs-toggle="blazy"
                      alt="Minim Typicus Ymo"
                    />
                  </div>
                  <div class="col-6 col-md-7">
                    <h6 class="text-gray-700 my-0">Minim Typicus Ymo</h6>
                    <p class="my-2 text-gray-600 text-xs mt-0"><i class="bi-file-earmark-richtext"></i> Landing Page</p>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-1 me-2"><i class="bi-arrow-up me-1"></i> 80%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary bg-op-8"></i> Publish </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary bg-op-8"></i> Clone </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-4 col-md-4">
                    <img data-src="./assets/img/admin/posts/windows-JqmOD1jpHHw-unsplash.jpg" class="img-fluid rounded" data-bs-toggle="blazy" alt="Consequat Praesent" />
                  </div>
                  <div class="col-6 col-md-7">
                    <h6 class="text-gray-700 my-0">Consequat Praesent</h6>
                    <p class="my-2 text-gray-600 text-xs mt-0"><i class="bi-megaphone"></i> Marketing</p>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-1 me-2"><i class="bi-arrow-up me-1"></i> 46%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary bg-op-8"></i> Publish </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary bg-op-8"></i> Clone </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-4 col-md-4">
                    <img data-src="./assets/img/admin/posts/xps-Qrjx2nTBHVo-unsplash.jpg" class="img-fluid rounded" data-bs-toggle="blazy" alt="Gilvus Paratus Tincidunt" />
                  </div>
                  <div class="col-6 col-md-7">
                    <h6 class="text-gray-700 my-0">Gilvus Paratus Tincidunt</h6>
                    <p class="my-2 text-gray-600 text-xs mt-0"><i class="bi-journal-text"></i> Blog</p>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-1 me-2"><i class="bi-arrow-up me-1"></i> 18%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary bg-op-8"></i> Publish </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary bg-op-8"></i> Clone </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-4 col-md-4">
                    <img data-src="./assets/img/admin/posts/xps-g2E2NQ5SWSU-unsplash.jpg" class="img-fluid rounded" data-bs-toggle="blazy" alt="Et Imputo" />
                  </div>
                  <div class="col-6 col-md-7">
                    <h6 class="text-gray-700 my-0">Et Imputo</h6>
                    <p class="my-2 text-gray-600 text-xs mt-0"><i class="bi-megaphone"></i> Marketing</p>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-1 me-2"><i class="bi-arrow-up me-1"></i> 75%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary bg-op-8"></i> Publish </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary bg-op-8"></i> Clone </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end bg-white">
                <a href="#" class="text-sm text-gray-600">View Posts <i class="bi-plus"></i></a>
              </div>
            </div>
          </div>

          <!-- Top Users -->
          <div class="col-lg-3">
            <div class="card bg-white shadow-sm position-relative h-100 rounded">
              <div class="card-header bg-white text-sm text-uppercase fw-semibold text-gray-600">Top Users</div>
              <div class="card-body navbar-nav-scroll">
                <div class="row align-items-start">
                  <div class="col-2">
                    <img data-src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid rounded" data-bs-toggle="blazy" alt="Dave Pope" />
                  </div>
                  <div class="col-9">
                    <h6 class="text-gray-700 my-0">Dave Pope</h6>
                    <div class="hstack gap-4 text-gray-600 text-xs">
                      <p class="my-0"><i class="bi-sticky"></i> Posts: 79</p>
                      <p class="my-0"><i class="bi-hand-thumbs-up"></i> Likes: 59</p>
                    </div>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-2 me-2"><i class="bi-arrow-up me-1"></i> 97%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-person-circle text-primary bg-op-8"></i> View Profile </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-2">
                    <img data-src="./assets/img/admin/users/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="img-fluid rounded" data-bs-toggle="blazy" alt="Mark Wilson" />
                  </div>
                  <div class="col-9">
                    <h6 class="text-gray-700 my-0">Mark Wilson</h6>
                    <div class="hstack gap-4 text-gray-600 text-xs">
                      <p class="my-0"><i class="bi-sticky"></i> Posts: 38</p>
                      <p class="my-0"><i class="bi-hand-thumbs-up"></i> Likes: 61</p>
                    </div>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-2 me-2"><i class="bi-arrow-up me-1"></i> 46%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-person-circle text-primary bg-op-8"></i> View Profile </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-2">
                    <img data-src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded" data-bs-toggle="blazy" alt="Chuck Jones" />
                  </div>
                  <div class="col-9">
                    <h6 class="text-gray-700 my-0">Chuck Jones</h6>
                    <div class="hstack gap-4 text-gray-600 text-xs">
                      <p class="my-0"><i class="bi-sticky"></i> Posts: 57</p>
                      <p class="my-0"><i class="bi-hand-thumbs-up"></i> Likes: 49</p>
                    </div>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-2 me-2"><i class="bi-arrow-up me-1"></i> 89%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-person-circle text-primary bg-op-8"></i> View Profile </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-2">
                    <img data-src="./assets/img/admin/users/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="img-fluid rounded" data-bs-toggle="blazy" alt="Rachel Highland" />
                  </div>
                  <div class="col-9">
                    <h6 class="text-gray-700 my-0">Rachel Highland</h6>
                    <div class="hstack gap-4 text-gray-600 text-xs">
                      <p class="my-0"><i class="bi-sticky"></i> Posts: 73</p>
                      <p class="my-0"><i class="bi-hand-thumbs-up"></i> Likes: 18</p>
                    </div>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-2 me-2"><i class="bi-arrow-up me-1"></i> 34%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-person-circle text-primary bg-op-8"></i> View Profile </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-2">
                    <img data-src="./assets/img/admin/users/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="img-fluid rounded" data-bs-toggle="blazy" alt="Harper Jones" />
                  </div>
                  <div class="col-9">
                    <h6 class="text-gray-700 my-0">Harper Jones</h6>
                    <div class="hstack gap-4 text-gray-600 text-xs">
                      <p class="my-0"><i class="bi-sticky"></i> Posts: 81</p>
                      <p class="my-0"><i class="bi-hand-thumbs-up"></i> Likes: 71</p>
                    </div>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-2 me-2"><i class="bi-arrow-up me-1"></i> 46%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-person-circle text-primary bg-op-8"></i> View Profile </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="op-1" />
                <div class="row align-items-start">
                  <div class="col-2">
                    <img data-src="./assets/img/admin/users/6-vicky-hladynets-C8Ta0gwPbQg-unsplash.webp" class="img-fluid rounded" data-bs-toggle="blazy" alt="Vicky Lawsen" />
                  </div>
                  <div class="col-9">
                    <h6 class="text-gray-700 my-0">Vicky Lawsen</h6>
                    <div class="hstack gap-4 text-gray-600 text-xs">
                      <p class="my-0"><i class="bi-sticky"></i> Posts: 29</p>
                      <p class="my-0"><i class="bi-hand-thumbs-up"></i> Likes: 20</p>
                    </div>
                    <div class="badge bg-success bg-opacity-10 text-success lh-base fw-bold d-inline-flex align-items-center mt-2 me-2"><i class="bi-arrow-up me-1"></i> 71%</div>
                  </div>
                  <div class="col-1 text-end">
                    <div class="dropdown">
                      <a
                        href="#"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        class="w-20px h-20px rounded d-flex align-items-center justify-content-center"
                        data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                      >
                        <i class="bi-three-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm">
                        <a class="dropdown-item" href="#"> <i class="bi bi-person-circle text-primary bg-op-8"></i> View Profile </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-trash text-primary bg-op-8"></i> Delete </a>
                        <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square text-primary bg-op-8"></i> Edit </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end bg-white">
                <a href="#" class="text-sm text-gray-600">View Users <i class="bi-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="{{ 'navbar-side-push py-3 footer'|classMerge(footerClass) }}" data-bs-controller="#navbar-side-primary">
      <div class="container-fluid">
        <div class="row">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-6">
            <ul class="list-inline mb-t mb-2 text-sm">
              <li class="list-inline-item"><a href="#" class="footer-link">Terms</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Privacy</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Contact Us</a></li>
            </ul>
            <p class="mb-0 text-sm">{{ siteFooterCopyright }}</p>
          </div>
          <div class="col-md-6 flex-valign">
            <div class="d-flex align-items-center float-md-end ms-md-auto">
              <!--@todo: replace with company social media details-->
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-google-plus-g"></i></a>
              <a href="#top" class="btn btn-dark btn-washed btn-rounded sq-xs p-0" title="Back to top"><i class="fa fa-chevron-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Closure -->
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
