<!-- 
{
  "pageTitle": "Blog Post",
  "pageKey": "blog-post-video",
  "pageActiveTrail": [
    "blog"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Blog Post | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <div class="row">
          <!--Main Content-->
          <div class="col-md-9">
            <!-- Blog post -->
            <div class="hstackgap-2 mb-1">
              <a href="#" class="badge bg-primary bg-op-1 text-primary text-decoration-none">coding</a>
              <a href="#" class="badge bg-primary bg-op-1 text-primary text-decoration-none">video</a>
            </div>
            <h2 class="fw-bold text-gray-800">Inhibeo Iusto Laoreet Tation Tum</h2>

            <!-- Meta details mobile -->
            <div class="hstackgap-2 text-muted text-sm op-7 mb-2">
              <div><i class="bi-calendar"></i> Thu 26th Sep 2024</div>
              <div>By <a href="#" class="op-auto">Erin</a></div>
            </div>

            <!--Main content of post-->
            <div class="blog-content">
              <div class="blog-media">
                <object width="560" height="315">
                  <param name="movie" value="//www.youtube.com/v/qpWlaOeGZ_4?hl=en_US&amp;version=3&amp;rel=0" />
                  <param name="allowFullScreen" value="true" />
                  <param name="allowscriptaccess" value="always" />
                  <embed
                    src="//www.youtube.com/v/qpWlaOeGZ_4?hl=en_US&amp;version=3&amp;rel=0"
                    type="application/x-shockwave-flash"
                    width="560"
                    height="315"
                    allowscriptaccess="always"
                    allowfullscreen="true"
                  />
                </object>
              </div>
              <p class="lead mt-2">
                Commodo duis ille jugis tation ulciscor usitas vereor. Elit metuo pertineo plaga rusticus torqueo tum usitas valetudo voco. Fere iaceo laoreet premo quadrum quidne
                velit ymo.
              </p>
              <p>
                Facilisis in iustum luptatum obruo os similis uxor. Exerci immitto nibh nostrud praemitto scisco utinam. Incassum luptatum natu oppeto. Diam hendrerit mos odio
                pecus sagaciter. Amet capto conventio hos iaceo populus qui usitas voco. Erat lucidus pala. Gilvus humo iriure obruo os paratus suscipit verto.
              </p>
              <p>
                Facilisi interdico olim paulatim suscipere tamen valetudo veniam wisi. Causa damnum dolore ibidem quae vereor voco. Dolore elit oppeto os si tincidunt. Commoveo
                facilisi ratis utrum. Abdo accumsan diam interdico tation ulciscor zelus.
              </p>

              <!--Used to highlight key points of post-->
              <div class="border rounded float-md-end col-md-5 p-3 m-3">
                <h5 class="text-gray-700">Key Points</h5>
                <ul class="list-unstyled">
                  <li class="d-flex mb-2"><i class="text-gray-600 bi-check-square-fill me-2"></i> Euismod gravis hendrerit metuo vulputate.</li>
                  <li class="d-flex mb-2"><i class="text-gray-600 bi-check-square-fill me-2"></i> Commoveo et genitus refoveo saluto vindico wisi.</li>
                  <li class="d-flex"><i class="text-gray-600 bi-check-square-fill me-2"></i> Accumsan aliquam dolor erat ex illum melior similis suscipit ulciscor.</li>
                </ul>
              </div>
              <p>
                Adipiscing aliquam amet at enim esca feugiat minim sudo. Cogo populus similis vindico. Ad damnum ea eros odio pagus quidne ratis refero secundum. Capto diam lenis
                olim populus qui quidem sit ullamcorper venio. Autem enim inhibeo nobis odio pala singularis suscipere vel vicis.
              </p>
              <p>
                Duis elit facilisis fere haero jus occuro pagus wisi. Accumsan damnum interdico nimis si. Aliquip cui esse ex in interdico iriure lucidus mos saepius. Ex haero in
                qui sudo. Decet diam esse facilisis luctus occuro praesent tation vindico zelus.
              </p>
              <h5 class="text-uppercase mt-4 mb-1">Diam Plaga Sudo Ullamcorper</h5>
              <p>
                Esca ille natu sudo suscipit valetudo. Dignissim loquor olim proprius quadrum. Diam distineo inhibeo olim quis roto rusticus sagaciter sino tincidunt. Aliquam
                immitto imputo natu pneum wisi. Acsi capto duis ideo letalis nulla valetudo vel vicis vulpes. Ad consequat distineo occuro sed vindico. Damnum defui facilisi huic
                incassum metuo proprius sudo ulciscor verto.
              </p>
              <p>
                Ibidem paratus suscipere validus. Abico enim eros et gravis mauris neque persto refoveo suscipit. Eligo nibh nostrud odio probo sino suscipere valetudo venio. Causa
                consequat damnum ea haero hendrerit letalis refoveo torqueo utinam.
              </p>

              <!--Alertnative blockquote style-->
              <blockquote class="blockquote float-start">
                <p>Abbas iaceo iriure olim ratis validus virtus. Commodo meus nunc paulatim plaga. Abluo acsi amet eligo enim iustum nibh praesent valetudo.</p>
                <footer class="blockquote-footer">Huic Nunc</footer>
              </blockquote>
              <p>
                Commoveo dolor jumentum meus mos neo proprius turpis. Accumsan nulla scisco valetudo vereor. Abdo bene gemino neque quis scisco si usitas velit vulpes. Facilisi
                gravis nutus olim praesent saluto sit. Augue conventio ille melior neque paulatim. Abluo bene humo in usitas.
              </p>
              <p>
                Bene gilvus in neo odio pertineo saepius. Aptent commoveo conventio ea meus nisl os saluto vero. Defui eligo eu exputo inhibeo meus nobis te. Caecus decet defui eu
                haero hos similis. Lenis mauris metuo pneum praesent proprius. Et inhibeo nutus pecus premo saluto utinam. Caecus jugis macto melior persto quibus roto virtus.
              </p>
            </div>

            <!-- Post tags -->
            <div class="tag-cloud post-tag-cloud">
              <h4>tags</h4>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">general</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">coding</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">design</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">jobs</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">news</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">feature</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">event</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">video</a>
            </div>
            <!-- Share widget -->
            <div class="position-md-fixed p-2 start-0 bottom-0 my-3 mb-md-2 ms-lg-2 d-flex align-items-center bg-white border rounded">
              <h5 class="my-0">Share it:</h5>
              <!--@todo: replace with real social share links -->
              <a href="#" class="text-brand-twitter mx-1"><i class="fab fa-twitter-square icon-2x"></i></a>
              <a href="#" class="text-brand-facebook mx-1"><i class="fab fa-facebook-square icon-2x"></i></a>
              <a href="#" class="text-brand-linkedin mx-1"><i class="fab fa-linkedin icon-2x"></i></a>
              <a href="#" class="text-brand-google-plus mx-1"><i class="fab fa-google-plus-square icon-2x"></i></a>
            </div>

            <div class="border rounded p-3 my-5">
              <!-- About The Author -->
              <div class="row">
                <div class="col-md-2">
                  <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" alt="Author photo" class="img-fluid rounded-circle" />
                </div>

                <!-- Share Widget -->
                <div class="col-md-9">
                  <h4>About The Author: <span class="fw-normal">Jim Jones</span></h4>
                  <p>Cogo fere ideo immitto letalis metuo tincidunt vulputate. Camur comis lobortis modo paulatim. Consectetuer diam ille macto occuro plaga zelus.</p>
                  <a href="#" class="d-inline-block text-decoration-none fw-bold text-sm px-2 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View profile</a>
                </div>
              </div>
            </div>

            <!-- Post To Post Pager -->
            <div class="text-center">
              <a href="#" class="btn btn-lg btn-primary previous">&larr; Previous Post</a> <a href="#" class="btn btn-lg btn-primary next">Next Post &rarr;</a>
            </div>

            <!-- Related Content -->
            <div class="bg-light text-gray-700 rounded p-3 mt-5">
              <h4 class="mb-3">
                Related Content
                <a href="#" class="float-end d-inline-block text-decoration-none fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">More content</a>
              </h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                              "
                    >
                      <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Iusto Laoreet Patria Vicis</a>
                  </h6>
                </div>
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                              "
                    >
                      <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Commoveo Defui Distineo Imputo</a>
                  </h6>
                </div>
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                              "
                    >
                      <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Inhibeo Odio Saepius Ullamcorper</a>
                  </h6>
                </div>
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                              "
                    >
                      <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Dolor Facilisis Sino Verto</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!--Sidebar-->
          <div class="col-md-3 sidebar-right">
            <!-- @Element: Search form -->
            <form class="bg-light border rounded p-2 mb-5 d-flex align-items-center">
              <input type="search" class="form-control border-0" id="search-field" placeholder="Search" aria-label="Search" />
              <button class="btn btn-primary ms-2" type="button"><i class="bi-search"></i></button>
            </form>
            <!-- @Element: Badge cloud -->
            <h5 class="mb-1">Popular Tags</h5>
            <div class="tag-cloud mb-5">
              <a href="#" class="badge bg-primary text-white me-2 mb-2">culture</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">general</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">coding</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">design</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">weather</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">jobs</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">health</a>
            </div>
            <!-- @Element: Archive -->
            <div class="mb-5">
              <h5 class="mb-1">Archive</h5>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">September 2024</a>
                  <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">92</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">August 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">65</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">July 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">29</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">June 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">41</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">May 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">88</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">April 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">13</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">March 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">39</span>
                </li>
              </ul>
            </div>
            <!-- @Element: Popular/recent tabs -->
            <div class="mb-4">
              <ul class="nav nav-pills mb-1">
                <li class="nav-item"><a href="#popular" class="nav-link active" data-bs-toggle="tab">Popular</a></li>
                <li class="nav-item"><a href="#latest" class="nav-link" data-bs-toggle="tab">Latest</a></li>
              </ul>
              <div class="tab-content border rounded p-3">
                <!-- Popular tab content -->
                <div class="tab-pane fade show active" id="popular">
                  <!-- Popular blog post 1 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Brevitas Dignissim Nunc</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 2 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Abluo Euismod Importunus</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 3 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Enim Hendrerit Vulputate</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 4 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Acsi Nimis Torqueo</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <!-- Latest tab content -->
                <div class="tab-pane fade" id="latest">
                  <!-- Latest blog post 1 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Rusticus Secundum Usitas</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 2 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Dolor Facilisi Iustum</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 3 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Genitus Illum Nibh</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 4 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Accumsan Gravis Natu</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- @Element: Subscribe button -->
            <div class="mb-4 text-center">
              <a href="#" class="btn btn-warning text-white"><i class="bi-rss"></i> Subscribe via RSS feed</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
