<!-- 
{
  "pageTitle": "Blog Post",
  "pageKey": "blog-post-audio",
  "pageActiveTrail": [
    "blog"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Blog Post | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <div class="row">
          <!--Main Content-->
          <div class="col-md-9">
            <!-- Blog post -->
            <div class="hstackgap-2 mb-1">
              <a href="#" class="badge bg-primary bg-op-1 text-primary text-decoration-none">coding</a>
              <a href="#" class="badge bg-primary bg-op-1 text-primary text-decoration-none">audio</a>
            </div>
            <h2 class="fw-bold text-gray-800">Abbas Hos Molior Obruo Virtus</h2>

            <!-- Meta details mobile -->
            <div class="hstackgap-2 text-muted text-sm op-7 mb-2">
              <div><i class="bi-calendar"></i> Thu 26th Sep 2024</div>
              <div>By <a href="#" class="op-auto">Erin</a></div>
            </div>

            <!--Main content of post-->
            <div class="blog-content">
              <div class="blog-media">
                <iframe
                  width="100%"
                  height="166"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/113479203&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"
                ></iframe>
              </div>
              <p class="lead mt-2">
                Defui enim eros eum iriure lucidus occuro pagus rusticus utrum. Abdo autem minim proprius quis valetudo. Damnum decet euismod importunus mos neo nibh saluto.
              </p>
              <p>
                Aptent dignissim duis luctus meus nibh tamen. Abigo autem ea gemino humo molior. Appellatio facilisi huic lobortis melior persto. Esca haero obruo paulatim torqueo
                venio wisi. Abdo cui ibidem lucidus meus pagus secundum sit tation valetudo. Erat eros minim scisco sit.
              </p>
              <p>
                Consectetuer ex jugis loquor minim qui quia saluto voco wisi. Cui ibidem nulla praesent quis. Consequat dolore illum mos odio paulatim qui singularis vero. Abdo
                damnum haero saepius velit. Abigo eum gilvus luptatum nulla oppeto pala patria proprius.
              </p>

              <!--Used to highlight key points of post-->
              <div class="border rounded float-md-end col-md-5 p-3 m-3">
                <h5 class="text-gray-700">Key Points</h5>
                <ul class="list-unstyled">
                  <li class="d-flex mb-2"><i class="text-gray-600 bi-check-square-fill me-2"></i> Eum imputo pagus sagaciter.</li>
                  <li class="d-flex mb-2"><i class="text-gray-600 bi-check-square-fill me-2"></i> Ad cogo magna olim paulatim sed sudo.</li>
                  <li class="d-flex"><i class="text-gray-600 bi-check-square-fill me-2"></i> Antehabeo luctus nulla suscipit ut valde.</li>
                </ul>
              </div>
              <p>
                Distineo enim luctus vel. Cui metuo persto quadrum qui te utinam. Acsi duis erat molior quidne tum utinam. Ille ludus metuo nisl refoveo suscipere typicus valetudo.
                Abluo damnum exerci huic iustum nobis nutus persto. Consectetuer interdico jugis laoreet refoveo valde.
              </p>
              <p>
                Cogo immitto tego. Ex interdico nutus sagaciter tation. Abdo autem luptatum refoveo. Defui diam eligo elit eum hos lenis premo ut uxor. Haero illum volutpat. Caecus
                exerci natu os suscipere.
              </p>
              <h5 class="text-uppercase mt-4 mb-1">Adipiscing Eu Exputo Quadrum</h5>
              <p>
                Dolor et inhibeo luctus molior praemitto premo tego. Gravis in pneum refero vulpes. Bene lenis letalis metuo premo. Ad defui illum minim neque nisl secundum
                singularis validus. Abigo autem blandit caecus consectetuer genitus vel vero. Pneum ulciscor uxor valde verto. Defui dolore esse gravis iaceo jus melior neque
                praemitto. Erat eum jugis qui refoveo typicus.
              </p>
              <p>
                Diam haero lenis pneum premo. Consectetuer gilvus lenis natu probo quidne singularis velit. Dolore ibidem macto vereor. Aliquip consequat importunus. Cogo dolore
                fere feugiat iusto luptatum validus. Erat feugiat ille laoreet mauris melior molior paulatim.
              </p>

              <!--Alertnative blockquote style-->
              <blockquote class="blockquote float-start">
                <p>Accumsan dignissim hendrerit importunus vicis. Humo modo pneum vero. Abdo elit et ludus nostrud scisco verto ymo.</p>
                <footer class="blockquote-footer">Minim Modo</footer>
              </blockquote>
              <p>
                Genitus sed veniam vindico. Aliquip esca exerci suscipere ulciscor. Abigo aliquip facilisi occuro singularis. Abbas at autem gravis nutus ratis virtus. Abbas abdo
                capto elit eum melior plaga si. Abico comis enim facilisi fere iaceo refero typicus vel. Commoveo incassum sino.
              </p>
              <p>
                Conventio facilisi importunus in interdico mos nobis plaga tincidunt vero. Augue ludus molior mos quibus similis typicus vero. Aliquam commoveo defui dolus ea
                loquor. Cogo commoveo decet duis eros quia vulputate. Augue commodo erat tation. Typicus valetudo venio. Aptent illum oppeto tum. Esca macto neque quae sagaciter
                tum venio. Abbas acsi amet capto causa esca qui rusticus suscipit vereor.
              </p>
            </div>

            <!-- Post tags -->
            <div class="tag-cloud post-tag-cloud">
              <h4>tags</h4>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">general</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">weather</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">jobs</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">health</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">news</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">feature</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">event</a>
              <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">podcast</a>
            </div>
            <!-- Share widget -->
            <div class="position-md-fixed p-2 start-0 bottom-0 my-3 mb-md-2 ms-lg-2 d-flex align-items-center bg-white border rounded">
              <h5 class="my-0">Share it:</h5>
              <!--@todo: replace with real social share links -->
              <a href="#" class="text-brand-twitter mx-1"><i class="fab fa-twitter-square icon-2x"></i></a>
              <a href="#" class="text-brand-facebook mx-1"><i class="fab fa-facebook-square icon-2x"></i></a>
              <a href="#" class="text-brand-linkedin mx-1"><i class="fab fa-linkedin icon-2x"></i></a>
              <a href="#" class="text-brand-google-plus mx-1"><i class="fab fa-google-plus-square icon-2x"></i></a>
            </div>

            <div class="border rounded p-3 my-5">
              <!-- About The Author -->
              <div class="row">
                <div class="col-md-2">
                  <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" alt="Author photo" class="img-fluid rounded-circle" />
                </div>

                <!-- Share Widget -->
                <div class="col-md-9">
                  <h4>About The Author: <span class="fw-normal">Jim Jones</span></h4>
                  <p>
                    Commoveo consectetuer damnum eligo enim lucidus nostrud ratis. Abigo bene commoveo ex fere interdico iriure pecus suscipere tincidunt. Ad autem duis euismod
                    modo suscipit ullamcorper velit.
                  </p>
                  <a href="#" class="d-inline-block text-decoration-none fw-bold text-sm px-2 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View profile</a>
                </div>
              </div>
            </div>

            <!-- Post To Post Pager -->
            <div class="text-center">
              <a href="#" class="btn btn-lg btn-primary previous">&larr; Previous Post</a> <a href="#" class="btn btn-lg btn-primary next">Next Post &rarr;</a>
            </div>

            <!-- Related Content -->
            <div class="bg-light text-gray-700 rounded p-3 mt-5">
              <h4 class="mb-3">
                Related Content
                <a href="#" class="float-end d-inline-block text-decoration-none fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">More content</a>
              </h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Abico Luctus Odio Quidne</a>
                  </h6>
                </div>
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Capto Enim Jus Laoreet</a>
                  </h6>
                </div>
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Incassum Tego Veniam Voco</a>
                  </h6>
                </div>
                <div class="col-md-3">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                  <h6 class="mt-2">
                    <a href="#" class="text-gray-700 text-hover-dark text-decoration-none">Abbas Comis Consectetuer Venio</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!--Sidebar-->
          <div class="col-md-3 sidebar-right">
            <!-- @Element: Search form -->
            <form class="bg-light border rounded p-2 mb-5 d-flex align-items-center">
              <input type="search" class="form-control border-0" id="search-field" placeholder="Search" aria-label="Search" />
              <button class="btn btn-primary ms-2" type="button"><i class="bi-search"></i></button>
            </form>
            <!-- @Element: Badge cloud -->
            <h5 class="mb-1">Popular Tags</h5>
            <div class="tag-cloud mb-5">
              <a href="#" class="badge bg-primary text-white me-2 mb-2">culture</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">general</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">coding</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">design</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">weather</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">jobs</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">health</a>
            </div>
            <!-- @Element: Archive -->
            <div class="mb-5">
              <h5 class="mb-1">Archive</h5>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">September 2024</a>
                  <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">21</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">August 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">79</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">July 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">39</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">June 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">18</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">May 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">69</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">April 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">27</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">March 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">73</span>
                </li>
              </ul>
            </div>
            <!-- @Element: Popular/recent tabs -->
            <div class="mb-4">
              <ul class="nav nav-pills mb-1">
                <li class="nav-item"><a href="#popular" class="nav-link active" data-bs-toggle="tab">Popular</a></li>
                <li class="nav-item"><a href="#latest" class="nav-link" data-bs-toggle="tab">Latest</a></li>
              </ul>
              <div class="tab-content border rounded p-3">
                <!-- Popular tab content -->
                <div class="tab-pane fade show active" id="popular">
                  <!-- Popular blog post 1 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Erat Typicus Valde</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 2 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Comis Damnum Quidne</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 3 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Iaceo Mauris Paulatim</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 4 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Ad Ulciscor Vereor</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <!-- Latest tab content -->
                <div class="tab-pane fade" id="latest">
                  <!-- Latest blog post 1 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Gilvus Ratis Utinam</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 2 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Hendrerit Vicis Ymo</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 3 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Exerci Ille Verto</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 4 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                          "
                        >
                          <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Praemitto Quis Ullamcorper</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- @Element: Subscribe button -->
            <div class="mb-4 text-center">
              <a href="#" class="btn btn-warning text-white"><i class="bi-rss"></i> Subscribe via RSS feed</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
