<!-- 
{
  "pageTitle": "Call To Action Blocks",
  "pageKey": "elements-ctas",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Call To Action Blocks | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Call To Action Blocks</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link active"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Call To Action Blocks-->
            <!--@Element: Call To Action Blocks-->
            <p>Grab attention with call to actions blocks.</p>
            <h3>Basics</h3>
            <p>
              Create quick, easy and responsive call to actions blocks. Call to action blocks make use of <a href="elements-colour-utils.html">colour utilities</a>,
              <a href="elements-spacers.html">spacer utilities</a>, <a href="grid.html">grid</a> &amp; <a href="flexbox.html">flexbox</a> functionality built into AppStrap to give
              you ultimate freedom to build awesome call to action blocks.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="container">
                  <div class="row bg-light p-3 align-items-center">
                    <div class="col-12 col-lg-7 py-2">
                      <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                      <h5 class="text-light-dark fw-normal">Grab attention and drive clicks so get using them now!!</h5>
                    </div>
                    <div class="col-12 col-lg-5 py-2 text-lg-end">
                      <a
                        href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                        class="btn btn-lg btn-primary btn-shadow py-3 px-4 d-inline-flex align-items-center"
                        >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre id="code-block-content1"><code>&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;row bg-light p-3 align-items-center&quot;&gt;
    &lt;div class=&quot;col-12 col-lg-7 py-2&quot;&gt;
      &lt;h3 class=&quot;display-6 fw-bold mt-0 mb-2&quot;&gt;
        Call To Action Blocks
      &lt;/h3&gt;
      &lt;h5 class=&quot;text-light-dark fw-normal&quot;&gt;
        Grab attention and drive clicks so get using them now!!
      &lt;/h5&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-lg-5 py-2 text-lg-end&quot;&gt;
      &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary btn-shadow py-3 px-4 d-inline-flex align-items-center&quot;&gt;Get AppStrap &lt;i class=&quot;bi-arrow-right-short icon-1x lh-1 ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />

            <h3>Examples</h3>
            <p>You have totally freedom to mix and match all the utilities AppStrap has to offer to build all kinds of awesome call to action block layouts.</p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="bg-light text-center p-3 p-lg-4 mb-3">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="text-faded fw-normal">Grab attention and drive clicks so get using them now!!</h5>
                  <hr class="my-3 w-50 mx-auto" />
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-lg btn-primary d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre id="code-block-content2"><code>&lt;div class=&quot;bg-light text-center p-3 p-lg-4 mb-3&quot;&gt;
  &lt;h3 class=&quot;display-6 fw-bold mt-0 mb-2&quot;&gt;
    Call To Action Blocks
  &lt;/h3&gt;
  &lt;h5 class=&quot;text-faded fw-normal&quot;&gt;
    Grab attention and drive clicks so get using them now!!
  &lt;/h5&gt;
  &lt;hr class=&quot;my-3 w-50 mx-auto&quot;&gt;
  &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary d-inline-flex align-items-center&quot;&gt;Get AppStrap &lt;i class=&quot;bi-arrow-right-short icon-1x lh-1 ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-4" />
            <div class="code-block">
              <div class="code-block-example">
                <div class="container">
                  <div class="row bg-light p-3 align-items-center">
                    <div class="col-12 col-lg-8 order-2 py-2">
                      <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                      <h5 class="text-light-dark mb-0 fw-normal">Grab attention and drive clicks so get using them now!!</h5>
                    </div>
                    <div class="col-12 col-lg-4 order-1 py-2 text-lg-end">
                      <a
                        href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                        class="btn btn-lg btn-primary py-3 px-4 d-inline-flex align-items-center"
                        >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre id="code-block-content3"><code>&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;row bg-light p-3 align-items-center&quot;&gt;
    &lt;div class=&quot;col-12 col-lg-8 order-2 py-2&quot;&gt;
      &lt;h3 class=&quot;display-6 fw-bold mt-0 mb-2&quot;&gt;
        Call To Action Blocks
      &lt;/h3&gt;
      &lt;h5 class=&quot;text-light-dark mb-0 fw-normal&quot;&gt;
        Grab attention and drive clicks so get using them now!!
      &lt;/h5&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-lg-4 order-1 py-2 text-lg-end&quot;&gt;
      &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary py-3 px-4 d-inline-flex align-items-center&quot;&gt;Get AppStrap &lt;i class=&quot;bi-arrow-right-short icon-1x lh-1 ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-4" />
            <div class="code-block">
              <div class="code-block-example">
                <div class="container p-4 text-center bg-dark text-white">
                  <h3 class="display-6 fw-bold my-0">Awesome <span class="text-primary">Features</span></h3>
                  <hr class="hr-lg border-primary mt-3 mb-4 w-20 mx-auto" />
                  <div class="row g-0">
                    <div class="col-md-6 text-start text-md-end mb-5">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 order-2 text-center"><i class="bi-bar-chart-line icon-3x text-primary"></i></div>
                        <div class="col-9 order-1">
                          <h4 class="mb-0 h4 fw-bold">99.9% Uptime</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 text-start mb-5">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 text-center"><i class="bi-bug icon-3x text-primary"></i></div>
                        <div class="col-9">
                          <h4 class="mb-0 h4 fw-bold">100% Bug Free</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 text-start text-md-end mb-5 mb-md-0">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 order-2 text-center"><i class="bi-phone-vibrate icon-3x text-primary"></i></div>
                        <div class="col-9 order-1">
                          <h4 class="mb-0 h4 fw-bold">Mobile Friendly</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 text-start mb-3 mb-md-0">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 text-center"><i class="bi-lightning icon-3x text-primary"></i></div>
                        <div class="col-9">
                          <h4 class="mb-0 h4 fw-bold">Free Upgrades</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-lg btn-primary px-5 mt-5"
                    >Get AppStrap <i class="fa fa-angle-double-right ms-2"></i
                  ></a>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre id="code-block-content4"><code>&lt;div class=&quot;container p-4 text-center bg-dark text-white&quot;&gt;
  &lt;h3 class=&quot;display-6 fw-bold my-0&quot;&gt;
    Awesome &lt;span class=&quot;text-primary&quot;&gt;Features&lt;/span&gt;
  &lt;/h3&gt;
  &lt;hr class=&quot;hr-lg border-primary mt-3 mb-4 w-20 mx-auto&quot;&gt;
  &lt;div class=&quot;row g-0&quot;&gt;
    &lt;div class=&quot;col-md-6 text-start text-md-end mb-5&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 order-2 text-center&quot;&gt;&lt;i class=&quot;bi-bar-chart-line icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9 order-1&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            99.9% Uptime
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-6 text-start mb-5&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 text-center&quot;&gt;&lt;i class=&quot;bi-bug icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            100% Bug Free
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-6 text-start text-md-end mb-5 mb-md-0&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 order-2 text-center&quot;&gt;&lt;i class=&quot;bi-phone-vibrate icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9 order-1&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            Mobile Friendly
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-6 text-start mb-3 mb-md-0&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 text-center&quot;&gt;&lt;i class=&quot;bi-lightning icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            Free Upgrades
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary px-5 mt-5&quot;&gt;Get AppStrap &lt;i class=&quot;fa fa-angle-double-right ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Image Backgrounds</h3>
            <p>
              Add background images quickly and easily using the
              <code>data-bg-img="IMAGE-PATH"</code>
              attribute on a wrapper element.
            </p>
            <p>
              You can also add the classes
              <code>.overlay</code>
              &amp;
              <code>.overlay-op-(1-10)</code>
              to apply an overlay over the background image so text shows.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div
                  class="container p-4 text-center bg-dark text-white bg-img-cover overlay overlay-op-8"
                  data-bg-img="./assets/img/backgrounds/zfg9gz7ylcu-dalibor-bosnjakovic.jpg"
                >
                  <h3 class="display-6 fw-bold my-0">Awesome <span class="text-primary">Features</span></h3>
                  <hr class="hr-lg border-primary mt-3 mb-4 w-20 mx-auto" />
                  <div class="row g-0">
                    <div class="col-md-6 text-start text-md-end mb-3">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 order-2 text-center"><i class="bi-bar-chart-line-fill icon-3x text-primary"></i></div>
                        <div class="col-9 order-1">
                          <h4 class="mb-0 h4 fw-bold">99.9% Uptime</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 text-start mb-3">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 text-center"><i class="bi-bug-fill icon-3x text-primary"></i></div>
                        <div class="col-9">
                          <h4 class="mb-0 h4 fw-bold">100% Bug Free</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-lg btn-primary px-5 mt-5"
                    >Get AppStrap <i class="fa fa-angle-double-right ms-2"></i
                  ></a>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-5">
                <pre
                  id="code-block-content5"
                ><code>&lt;div class=&quot;container p-4 text-center bg-dark text-white bg-img-cover overlay overlay-op-8&quot; data-bg-img=&quot;./assets/img/backgrounds/zfg9gz7ylcu-dalibor-bosnjakovic.jpg&quot;&gt;
  &lt;h3 class=&quot;display-6 fw-bold my-0&quot;&gt;
    Awesome &lt;span class=&quot;text-primary&quot;&gt;Features&lt;/span&gt;
  &lt;/h3&gt;
  &lt;hr class=&quot;hr-lg border-primary mt-3 mb-4 w-20 mx-auto&quot;&gt;
  &lt;div class=&quot;row g-0&quot;&gt;
    &lt;div class=&quot;col-md-6 text-start text-md-end mb-3&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 order-2 text-center&quot;&gt;&lt;i class=&quot;bi-bar-chart-line-fill icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9 order-1&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            99.9% Uptime
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-6 text-start mb-3&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 text-center&quot;&gt;&lt;i class=&quot;bi-bug-fill icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            100% Bug Free
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary px-5 mt-5&quot;&gt;Get AppStrap &lt;i class=&quot;fa fa-angle-double-right ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-5"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Quick Parallax</h3>
            <p>
              Here we simply add 2 attributes to our wrapper element:
              <code>data-bg-img="IMAGE-PATH"</code>
              and
              <code>data-css='{"background-attachment": "fixed"}'</code>
            </p>
            <p>NOTE: extended parallax functionality will be added in a future release of AppStrap.</p>
            <div class="code-block">
              <div class="code-block-example">
                <div
                  class="container p-4 text-center bg-dark text-white bg-img-cover overlay overlay-op-8"
                  data-bg-img="./assets/img/backgrounds/zfg9gz7ylcu-dalibor-bosnjakovic.jpg"
                  data-css='&apos;{"background-attachment":'
                >
                  <h3 class="display-6 fw-bold my-0">Awesome <span class="text-primary">Features</span></h3>
                  <hr class="hr-lg border-primary mt-3 mb-4 w-20 mx-auto" />
                  <div class="row g-0">
                    <div class="col-md-6 text-start text-md-end mb-3">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 order-2 text-center"><i class="bi-bar-chart-line icon-3x text-primary"></i></div>
                        <div class="col-9 order-1">
                          <h4 class="mb-0 h4 fw-bold">99.9% Uptime</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 text-start mb-3">
                      <div class="row g-0 align-items-center">
                        <div class="col-3 text-center"><i class="bi-bug icon-3x text-primary"></i></div>
                        <div class="col-9">
                          <h4 class="mb-0 h4 fw-bold">100% Bug Free</h4>
                          <p class="mb-0">Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-lg btn-primary px-5 mt-5"
                    >Get AppStrap <i class="fa fa-angle-double-right ms-2"></i
                  ></a>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-6">
                <pre
                  id="code-block-content6"
                ><code>&lt;div class=&quot;container p-4 text-center bg-dark text-white bg-img-cover overlay overlay-op-8&quot; data-bg-img=&quot;./assets/img/backgrounds/zfg9gz7ylcu-dalibor-bosnjakovic.jpg&quot; data-css=&quot;&#039;{&amp;quot;background-attachment&amp;quot;:&quot;&gt;
  &lt;h3 class=&quot;display-6 fw-bold my-0&quot;&gt;
    Awesome &lt;span class=&quot;text-primary&quot;&gt;Features&lt;/span&gt;
  &lt;/h3&gt;
  &lt;hr class=&quot;hr-lg border-primary mt-3 mb-4 w-20 mx-auto&quot;&gt;
  &lt;div class=&quot;row g-0&quot;&gt;
    &lt;div class=&quot;col-md-6 text-start text-md-end mb-3&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 order-2 text-center&quot;&gt;&lt;i class=&quot;bi-bar-chart-line icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9 order-1&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            99.9% Uptime
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-6 text-start mb-3&quot;&gt;
      &lt;div class=&quot;row g-0 align-items-center&quot;&gt;
        &lt;div class=&quot;col-3 text-center&quot;&gt;&lt;i class=&quot;bi-bug icon-3x text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;div class=&quot;col-9&quot;&gt;
          &lt;h4 class=&quot;mb-0 h4 fw-bold&quot;&gt;
            100% Bug Free
          &lt;/h4&gt;
          &lt;p class=&quot;mb-0&quot;&gt;Lorem ipsum dolor consetuer adipicing sed diam ticidut erat votpat dolore&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary px-5 mt-5&quot;&gt;Get AppStrap &lt;i class=&quot;fa fa-angle-double-right ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-6"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Video Backgrounds</h3>
            <div class="code-block">
              <div class="code-block-example">
                <div class="container" data-bg-video="./assets/videos/night.mp4" data-settings='&apos;{"position":"50%'>
                  <div class="row p-3 p-lg-5 text-white align-items-lg-center">
                    <div class="col-12 col-lg-7 py-2">
                      <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                      <h5 class="fw-normal">Grab attention and drive clicks so get using them now!!</h5>
                    </div>
                    <div class="col-12 col-lg-5 py-2 text-lg-end">
                      <a
                        href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                        class="btn btn-lg btn-primary py-3 px-4 d-inline-flex align-items-center"
                        >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2 ms-2"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-7">
                <pre
                  id="code-block-content7"
                ><code>&lt;div class=&quot;container&quot; data-bg-video=&quot;./assets/videos/night.mp4&quot; data-settings=&quot;&#039;{&amp;quot;position&amp;quot;:&amp;quot;50%&quot;&gt;
  &lt;div class=&quot;row p-3 p-lg-5 text-white align-items-lg-center&quot;&gt;
    &lt;div class=&quot;col-12 col-lg-7 py-2&quot;&gt;
      &lt;h3 class=&quot;display-6 fw-bold mt-0 mb-2&quot;&gt;
        Call To Action Blocks
      &lt;/h3&gt;
      &lt;h5 class=&quot;fw-normal&quot;&gt;
        Grab attention and drive clicks so get using them now!!
      &lt;/h5&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-lg-5 py-2 text-lg-end&quot;&gt;
      &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-primary py-3 px-4 d-inline-flex align-items-center&quot;&gt;Get AppStrap &lt;i class=&quot;bi-arrow-right-short icon-1x lh-1 ms-2 ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-7"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Clickable CTA Blocks</h3>
            <p>
              To make the whole CTA block clickable to a URL simply add an
              <code>data-url="URL"</code>
              .
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="container bg-primary" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="row p-3 p-lg-5 text-white align-items-lg-center">
                    <div class="col-12 col-lg-7 py-2">
                      <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                      <h5 class="fw-normal">Grab attention and drive clicks so get using them now!!</h5>
                    </div>
                    <div class="col-12 col-lg-5 py-2 text-lg-end">
                      <a
                        href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                        class="btn btn-lg btn-dark py-3 px-4 d-inline-flex align-items-center"
                        >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-8">
                <pre
                  id="code-block-content8"
                ><code>&lt;div class=&quot;container bg-primary&quot; data-url=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot;&gt;
  &lt;div class=&quot;row p-3 p-lg-5 text-white align-items-lg-center&quot;&gt;
    &lt;div class=&quot;col-12 col-lg-7 py-2&quot;&gt;
      &lt;h3 class=&quot;display-6 fw-bold mt-0 mb-2&quot;&gt;
        Call To Action Blocks
      &lt;/h3&gt;
      &lt;h5 class=&quot;fw-normal&quot;&gt;
        Grab attention and drive clicks so get using them now!!
      &lt;/h5&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-lg-5 py-2 text-lg-end&quot;&gt;
      &lt;a href=&quot;https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme&quot; class=&quot;btn btn-lg btn-dark py-3 px-4 d-inline-flex align-items-center&quot;&gt;Get AppStrap &lt;i class=&quot;bi-arrow-right-short icon-1x lh-1 ms-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-8"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />

            <h3>Colour Options</h3>
            <p>You can make use of all the <a href="elements-colour-utils.html">colour utilities</a> for call to action blocks.</p>
            <div class="container">
              <div class="row text-bg-light p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9 text-light-dark">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-dark py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-bg-primary p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-primary py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-bg-info p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-info py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-bg-success p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-success py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-bg-warning p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-warning py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-bg-danger p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-danger py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-bg-dark p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-9">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-invert btn-dark btn-invert py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Bordered</h3>
            <p>You can use the border colour classes to give CTA blocks a coloured border.</p>
            <p>
              You can also remove borders from a given side or sides using the
              <code>border-0</code>
              and
              <code>border-SIDE-0</code>
              classes.
            </p>
            <div class="container">
              <div class="row text-dark op-8 border bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-dark py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-dark op-8 border border-primary bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-primary py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-dark op-8 border border-info bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-info py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-dark op-8 border border-success bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-success py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-dark op-8 border border-warning bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-warning py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-dark op-8 border border-danger bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-danger py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row text-dark op-8 border border-dark bg-shadow p-3 mb-3 align-items-lg-center">
                <div class="col-12 col-lg-7 py-2">
                  <h3 class="display-6 fw-bold mt-0 mb-2 op-8">Call To Action Blocks</h3>
                  <h5 class="fw-normal op-5">Grab attention and drive clicks so get using them now!!</h5>
                </div>
                <div class="col-12 col-lg-5 py-2 text-lg-end">
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-lg btn-dark py-3 px-4 d-inline-flex align-items-center"
                    >Get AppStrap <i class="bi-arrow-right-short icon-1x lh-1 ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
