<!-- 
{
  "pageTitle": "Cookie Banners",
  "pageKey": "elements-cookie-banners",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Cookie Banners | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Cookie Banners</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link active"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Cookie Banners-->
            <!--@Element: Cookie Banners-->

            <h3>Styles</h3>
            <h4>Example 1:</h4>
            <div class="code-block">
              <div class="code-block-example">
                <div class="alert alert-info alert-dismissible fade show mb-0 text-center" role="alert">
                  We use cookies to ensure you get the best experience on our website.
                  <button type="button" class="btn btn-info btn-sm ms-3">Accept</button>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre id="code-block-content1"><code>&lt;div class=&quot;alert alert-info alert-dismissible fade show mb-0 text-center&quot; role=&quot;alert&quot;&gt;
  We use cookies to ensure you get the best experience on our website. 
  &lt;button type=&quot;button&quot; class=&quot;btn btn-info btn-sm ms-3&quot;&gt;Accept&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h4>Example 2:</h4>
            <div class="code-block">
              <div class="code-block-example">
                <div class="alert alert-light alert-dismissible fade show mb-0 text-center shadow" role="alert">
                  We use cookies to improve your experience on our site. <a href="#" class="alert-link">Learn more</a>.
                  <button type="button" class="btn btn-dark btn-sm ms-3">Accept</button>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre id="code-block-content2"><code>&lt;div class=&quot;alert alert-light alert-dismissible fade show mb-0 text-center shadow&quot; role=&quot;alert&quot;&gt;
  We use cookies to improve your experience on our site. &lt;a href=&quot;#&quot; class=&quot;alert-link&quot;&gt;Learn more&lt;/a&gt;. 
  &lt;button type=&quot;button&quot; class=&quot;btn btn-dark btn-sm ms-3&quot;&gt;Accept&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h4>Example 3:</h4>
            <div class="code-block">
              <div class="code-block-example">
                <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                  We use cookies to ensure you get the best experience on our website.
                  <button type="button" class="btn btn-secondary btn-sm ms-3">Accept</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm ms-2">Decline</button>
                  <a href="#" class="btn btn-link btn-sm">Learn more</a>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre id="code-block-content3"><code>&lt;div class=&quot;alert alert-warning alert-dismissible fade show mb-0 text-center&quot; role=&quot;alert&quot;&gt;
  We use cookies to ensure you get the best experience on our website. 
  &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary btn-sm ms-3&quot;&gt;Accept&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-outline-secondary btn-sm ms-2&quot;&gt;Decline&lt;/button&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn-link btn-sm&quot;&gt;Learn more&lt;/a&gt; 
  &lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h4>Example 4:</h4>
            <div class="code-block">
              <div class="code-block-example">
                <div class="container-fluid py-3">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-12">
                      <div class="alert p-4 bg-white border rounded shadow d-flex flex-column flex-md-row align-items-center">
                        <div class="flex-grow-1 mb-3 mb-md-0 me-md-4">
                          <p class="mb-2">
                            We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of
                            our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that
                            they’ve collected from your use of their services.
                          </p>
                          <a href="#" class="text-decoration-none fw-bold">Show details <i class="bi bi-chevron-right"></i></a>
                        </div>
                        <div class="d-flex flex-md-column gap-2 text-nowrap">
                          <button class="btn btn-dark btn-lg">Allow all</button>
                          <button class="btn btn-outline-dark btn-lg">Deny</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre id="code-block-content4"><code>&lt;div class=&quot;container-fluid py-3&quot;&gt;
  &lt;div class=&quot;row justify-content-center&quot;&gt;
    &lt;div class=&quot;col-md-10 col-lg-12&quot;&gt;
      &lt;div class=&quot;alert p-4 bg-white border rounded shadow d-flex flex-column flex-md-row align-items-center&quot;&gt;
        &lt;div class=&quot;flex-grow-1 mb-3 mb-md-0 me-md-4&quot;&gt;
          &lt;p class=&quot;mb-2&quot;&gt; We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you&rsquo;ve provided to them or that they&rsquo;ve collected from your use of their services. &lt;/p&gt;
          &lt;a href=&quot;#&quot; class=&quot;text-decoration-none fw-bold&quot;&gt;Show details &lt;i class=&quot;bi bi-chevron-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;d-flex flex-md-column gap-2 text-nowrap&quot;&gt;
          &lt;button class=&quot;btn btn-dark btn-lg&quot;&gt;Allow all&lt;/button&gt;
          &lt;button class=&quot;btn btn-outline-dark btn-lg&quot;&gt;Deny&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
            <h3>Placement on screen</h3>
            <p>To place the cookie consent banners on the screen using Bootstrap's positioning utilities, you can follow these instructions.</p>
            <h4>Place the Banner at the Bottom of the Screen</h4>
            <div class="code-block">
              <div class="code-block-code collapse show" id="code-block-5">
                <pre id="code-block-content5"><code>&lt;div class=&quot;container-fluid py-3 fixed-bottom&quot;&gt;
  &lt;div class=&quot;row justify-content-center&quot;&gt;
    &lt;div class=&quot;col-md-10 col-lg-12&quot;&gt;
      &lt;div class=&quot;alert p-4 bg-white border-0 rounded shadow-sm d-flex flex-column flex-md-row align-items-center&quot;&gt;
        &lt;div class=&quot;flex-grow-1 mb-3 mb-md-0&quot;&gt;
          &lt;p class=&quot;mb-2&quot;&gt; We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you&rsquo;ve provided to them or that they&rsquo;ve collected from your use of their services. &lt;/p&gt;
          &lt;a href=&quot;#&quot; class=&quot;text-decoration-none fw-bold&quot;&gt;Show details &lt;i class=&quot;bi bi-chevron-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;d-flex flex-md-column gap-2 text-nowrap&quot;&gt;
          &lt;button class=&quot;btn btn-dark btn-lg&quot;&gt;Allow all&lt;/button&gt;
          &lt;button class=&quot;btn btn-outline-dark btn-lg&quot;&gt;Deny&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-5"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
            <h4>Place the Banner at the Top of the Screen</h4>
            <div class="code-block">
              <div class="code-block-code collapse show" id="code-block-6">
                <pre id="code-block-content6"><code>&lt;div class=&quot;container-fluid py-3 fixed-top&quot;&gt;
  &lt;div class=&quot;row justify-content-center&quot;&gt;
    &lt;div class=&quot;col-md-10 col-lg-12&quot;&gt;
      &lt;div class=&quot;alert p-4 bg-white border-0 rounded shadow-sm d-flex flex-column flex-md-row align-items-center&quot;&gt;
        &lt;div class=&quot;flex-grow-1 mb-3 mb-md-0&quot;&gt;
          &lt;p class=&quot;mb-2&quot;&gt; We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you&rsquo;ve provided to them or that they&rsquo;ve collected from your use of their services. &lt;/p&gt;
          &lt;a href=&quot;#&quot; class=&quot;text-decoration-none fw-bold&quot;&gt;Show details &lt;i class=&quot;bi bi-chevron-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;d-flex flex-md-column gap-2 text-nowrap&quot;&gt;
          &lt;button class=&quot;btn btn-dark btn-lg&quot;&gt;Allow all&lt;/button&gt;
          &lt;button class=&quot;btn btn-outline-dark btn-lg&quot;&gt;Deny&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-6"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
            <h4>Place the Banner in a Fixed Position Relative to the Viewport</h4>
            <div class="code-block">
              <div class="code-block-code collapse show" id="code-block-7">
                <pre id="code-block-content7"><code>&lt;div class=&quot;position-fixed bottom-0 start-0 end-0 p-3&quot;&gt;
  &lt;div class=&quot;alert p-4 bg-white border-0 rounded shadow-sm d-flex flex-column flex-md-row align-items-center&quot;&gt;
    &lt;div class=&quot;flex-grow-1 mb-3 mb-md-0&quot;&gt;
      &lt;p class=&quot;mb-2&quot;&gt; We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you&rsquo;ve provided to them or that they&rsquo;ve collected from your use of their services. &lt;/p&gt;
      &lt;a href=&quot;#&quot; class=&quot;text-decoration-none fw-bold&quot;&gt;Show details &lt;i class=&quot;bi bi-chevron-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;d-flex flex-md-column gap-2 text-nowrap&quot;&gt;
      &lt;button class=&quot;btn btn-dark btn-lg&quot;&gt;Allow all&lt;/button&gt;
      &lt;button class=&quot;btn btn-outline-dark btn-lg&quot;&gt;Deny&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-7"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
