<!-- 
{
  "pageTitle": "Forms",
  "pageKey": "elements-forms",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Forms | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Forms</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link active"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Forms-->
            <!--@Element: Forms-->

            <h3>Form Elements</h3>
            <p>
              Using the classes
              <code>.form-control</code>
              (for inputs, selects, etc) and utility classes for wrappers you can consistently style and layout forms.
            </p>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
              </div>
              <div class="mb-3">
                <label for="exampleSelect1">Example select</label>
                <select class="form-control" id="exampleSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleSelect2">Example multiple select</label>
                <select multiple class="form-control" id="exampleSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleTextarea">Example textarea</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" />
                <small id="fileHelp" class="form-text text-muted"
                  >This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small
                >
              </div>
              <fieldset class="mb-3">
                <legend>Radio buttons</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked />
                    Option one
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" />
                    Option two
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled />
                    Option three is disabled
                  </label>
                </div>
              </fieldset>
              <fieldset class="mb-3">
                <legend>Checkboxes</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsCheckboxes" id="optionsCheckboxes1" value="option1" checked />
                    Option one
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsCheckboxes" id="optionsCheckboxes2" value="option2" />
                    Option two
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsCheckboxes" id="optionsCheckboxes3" value="option3" disabled />
                    Option three is disabled
                  </label>
                </div>
              </fieldset>
              <fieldset class="mb-3">
                <legend>Checkboxes/Radios inline</legend>
                <div class="mb-3">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="optionsInline" id="optionsInline1" value="option1" checked />
                      Option one
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="optionsInline" id="optionsInline2" value="option2" />
                      Option two
                    </label>
                  </div>
                  <div class="form-check form-check-inline disabled">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="optionsInline" id="optionsInline3" value="option3" disabled />
                      Option three is disabled
                    </label>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsInline" id="optionsInline4" value="option4" checked />
                      Option one
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsInline" id="optionsInline5" value="option5" />
                      Option two
                    </label>
                  </div>
                  <div class="form-check-inline disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsInline" id="optionsInline6" value="option6" disabled />
                      Option three is disabled
                    </label>
                  </div>
                </div>
              </fieldset>
              <div class="form-check mb-3">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" />
                  Check me out
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <hr class="my-5" />

            <h3>Input examples</h3>
            <p>
              Examples of how the various
              <code>input</code>
              elements look when
              <code>.form-control</code>
              is applied.
            </p>
            <div class="mb-3 row">
              <label for="example-text-input" class="col-sm-2 col-form-label">Text</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" value="Artisanal kale" id="example-text-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-search-input" class="col-sm-2 col-form-label">Search</label>
              <div class="col-sm-10">
                <input class="form-control" type="search" value="How do I shoot web" id="example-search-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-url-input" class="col-sm-2 col-form-label">URL</label>
              <div class="col-sm-10">
                <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-tel-input" class="col-sm-2 col-form-label">Telephone</label>
              <div class="col-sm-10">
                <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-password-input" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input class="form-control" type="password" value="hunter2" id="example-password-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-number-input" class="col-sm-2 col-form-label">Number</label>
              <div class="col-sm-10">
                <input class="form-control" type="number" value="42" id="example-number-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Date and time</label>
              <div class="col-sm-10">
                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-date-input" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-month-input" class="col-sm-2 col-form-label">Month</label>
              <div class="col-sm-10">
                <input class="form-control" type="month" value="2011-08" id="example-month-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-week-input" class="col-sm-2 col-form-label">Week</label>
              <div class="col-sm-10">
                <input class="form-control" type="week" value="2011-W33" id="example-week-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-time-input" class="col-sm-2 col-form-label">Time</label>
              <div class="col-sm-10">
                <input class="form-control" type="time" value="13:45:00" id="example-time-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-color-input" class="col-sm-2 col-form-label">Colour Picker</label>
              <div class="col-sm-10">
                <input class="form-control" type="color" value="#563d7c" id="example-color-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-range-input" class="col-sm-2 col-form-label">Range</label>
              <div class="col-sm-10">
                <input class="form-range" type="range" min="0" max="225" id="example-range-input" />
              </div>
            </div>

            <hr class="my-5" />

            <h3>Rounded Input Form Controls</h3>
            <p>
              Use the class
              <code>.form-control-rounded</code>
              to
              <code>input</code>
              elements to make them rounded, this can be used in combination with the <a href="elements-buttons.html">rounded buttons</a> and
              <a href="elements-form-input-groups.html">input groups</a>.
            </p>
            <div class="mb-3 row">
              <label for="example-text-input" class="col-sm-2 col-form-label">Text</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="text" value="Artisanal kale" id="rounded-example-text-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-search-input" class="col-sm-2 col-form-label">Search</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="search" value="How do I shoot web" id="rounded-example-search-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="email" value="bootstrap@example.com" id="rounded-example-email-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-url-input" class="col-sm-2 col-form-label">URL</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="url" value="https://getbootstrap.com" id="rounded-example-url-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-tel-input" class="col-sm-2 col-form-label">Telephone</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="tel" value="1-(555)-555-5555" id="rounded-example-tel-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-password-input" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="password" value="hunter2" id="rounded-example-password-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-number-input" class="col-sm-2 col-form-label">Number</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="number" value="42" id="rounded-example-number-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Date and time</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="datetime-local" value="2011-08-19T13:45:00" id="rounded-example-datetime-local-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-date-input" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="date" value="2011-08-19" id="rounded-example-date-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-month-input" class="col-sm-2 col-form-label">Month</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="month" value="2011-08" id="rounded-example-month-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-week-input" class="col-sm-2 col-form-label">Week</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="week" value="2011-W33" id="rounded-example-week-input" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-time-input" class="col-sm-2 col-form-label">Time</label>
              <div class="col-sm-10">
                <input class="form-control form-control-rounded" type="time" value="13:45:00" id="rounded-example-time-input" />
              </div>
            </div>

            <hr class="my-5" />

            <h3>Inline Forms</h3>
            <p>
              Use the class grid classes to
              <code>form</code>
              elements to make
              <code>.form-control</code>
              elements within the form display inline.
            </p>
            <form class="row gap-3 p-4 align-items-center bg-light">
              <h3 class="display-6">Login</h3>
              <div class="col-auto">
                <label class="visually-hidden" for="inlineFormInput">Name</label>
                <div class="input-group mb-2 me-sm-2 mb-sm-0">
                  <span class="input-group-text"><i class="bi-person-check-fill"></i></span>
                  <input type="text" class="form-control mb-2 me-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Username" />
                </div>
              </div>
              <div class="col-auto">
                <label class="visually-hidden" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2 me-sm-2 mb-sm-0">
                  <span class="input-group-text"><i class="bi-lock"></i></span>
                  <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" />
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            <hr class="my-5" />

            <h3>Grid Layouts</h3>
            <p>
              Forms support the default Bootstrap grid functionality so you can use the
              <code>.col-BREAKPOINT-WIDTH</code>
              width classes throughout your forms.
            </p>
            <p>
              You can also add the class
              <code>.col-form-label</code>
              to
              <code>label</code>
              elements to vertically center them with the row content.
            </p>
            <div class="container">
              <form>
                <div class="mb-3 row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-form-legend col-sm-2">Radios</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked />
                        Option one is this and that—be sure to include why it's great
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" />
                        Option two can be something else and selecting it will deselect option one
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled />
                        Option three is disabled
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2">Checkbox</label>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" />
                        Check me out
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
                </div>
              </form>
            </div>

            <hr class="my-5" />

            <h3>Form control sizes</h3>
            <p>
              You can enlarge or shrink
              <code>.form-control</code>
              elements by adding the classes
              <code>.form-control-lg</code>
              or
              <code>.form-control-sm</code>
              .
            </p>
            <h4>Input elements</h4>
            <div class="mb-3">
              <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" />
            </div>
            <div class="mb-3">
              <input class="form-control" type="text" placeholder="Default input" />
            </div>
            <div class="mb-3">
              <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" />
            </div>
            <h4 class="mt-4">Select elements</h4>
            <div class="mb-3">
              <select class="form-control form-control-lg">
                <option>Large select</option>
              </select>
            </div>
            <div class="mb-3">
              <select class="form-control">
                <option>Default select</option>
              </select>
            </div>
            <div class="mb-3">
              <select class="form-control form-control-sm">
                <option>Small select</option>
              </select>
            </div>
            <h4 class="mt-4">Within a grid layout</h4>
            <div class="container">
              <form>
                <div class="mb-3 row">
                  <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="you@example.com" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="smFormGroupInput" placeholder="you@example.com" />
                  </div>
                </div>
              </form>
            </div>

            <hr class="my-5" />

            <h3>Hidden labels</h3>
            <p>
              When space is low it can be useful to hide form labels and use the HTML5
              <code>placeholder</code>
              attribute on
              <code>input</code>
              elements to show the label inside the form element instead.
            </p>
            <p>
              Simply add
              <code>class="visually-hidden"</code>
              to the
              <code>label</code>
              element and then move the label text to a
              <code>placeholder</code>
              attribute on the
              <code>input</code>
              element instead.
            </p>
            <form>
              <div class="mb-2">
                <label class="visually-hidden" for="exampleInputEmail3">Email address</label>
                <input type="email" class="form-control me-sm-2 mb-2 mb-sm-0" id="exampleInputEmail3" placeholder="Enter email" />
              </div>
              <div class="mb-2">
                <label class="visually-hidden" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control me-sm-2 mb-2 mb-sm-0" id="exampleInputPassword3" placeholder="Password" />
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>

            <hr class="my-5" />

            <h3>Static form controls</h3>
            <p>
              Sometimes it's useful to form data to a user but not let them change it, this is where you can use the class
              <code>.form-control-static</code>
              on a
              <code>p</code>
              within your forms.
            </p>
            <form>
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <p class="form-control-static mb-0">email@example.com</p>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" />
                </div>
              </div>
            </form>

            <hr class="my-5" />

            <h3>Disabled form elements &amp; readonly inputs</h3>
            <p>
              You can disable single form elements by applying the boolean attribute
              <code>disabled</code>
              to them OR apply it to a fieldset wrapper to disable all form elements within the fieldset.
            </p>
            <h4>Single input</h4>
            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled />
            <h4 class="mt-4">Fieldset</h4>
            <form>
              <fieldset disabled>
                <div class="mb-3">
                  <label for="disabledTextInput">Disabled input</label>
                  <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" />
                </div>
                <div class="mb-3">
                  <label for="disabledSelect">Disabled select menu</label>
                  <select id="disabledSelect" class="form-control">
                    <option>Disabled select</option>
                  </select>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" />
                    Can't check this
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
            <h4 class="mt-4">Readonly</h4>
            <p>
              Apply the readonly style by adding the boolean attribute
              <code>readonly</code>
              to any form input. Readonly elements cannot be altered.
            </p>
            <input class="form-control" type="text" placeholder="Readonly input here....." readonly />

            <hr class="my-5" />

            <h3>Help text</h3>
            <p>
              Sometimes it's useful to tell users what information is needed for a given form field and this is where you can use the
              <code>.form-text</code>
              on any static element within form groups to provide help text. Use
              <code>p</code>
              tags for block level text and
              <code>small</code>
              or
              <code>span</code>
              tags to show inline.
              <br />
              You could also use <a href="elements-tooltips-popovers.html">tooltips</a> as well.
            </p>
            <label for="inputPassword5">Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" />
            <p id="passwordHelpBlock" class="form-text text-muted">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </p>
            <h4 class="mt-4">Inline</h4>
            <form class="row gap-3 align-items-center">
              <div class="col-auto">
                <label for="inputPassword4">Password</label>
                <input type="password" id="inputPassword4" class="form-control" aria-describedby="passwordHelpInline" />
              </div>
              <div class="col-auto">
                <small id="passwordHelpInline" class="text-muted"> Must be 8-20 characters long. </small>
              </div>
            </form>
            <h4 class="mt-4">Tooltip form help</h4>
            <form class="row gap-2 align-items-center">
              <div class="col-auto">
                <label for="inputPassword4">
                  Password
                  <a
                    href="#"
                    data-bs-toggle="tooltip"
                    title="Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji."
                  >
                    <i class="bi-info-circle-fill text-info"></i>
                  </a>
                </label>
                <input type="password" id="inputPassword4" class="form-control me-2" aria-describedby="passwordHelpInline" placeholder="Password" />
              </div>
            </form>

            <hr class="my-5" />

            <h3>Validation states</h3>
            <p>
              Validation states help give users an instance visual feedback on whether their form input has passed validation. There are 3 clasess for this:
              <code>.is-invalid</code>
              ,
              <code>.is-valid</code>
              &amp;
              <code>.invalid-feedback</code>
              for feedback messages.
            </p>
            <div class="mb-3">
              <label class="form-control-label" for="inputSuccess1">Input with success</label>
              <input type="text" class="form-control is-valid" id="inputSuccess1" />
              <div class="text-green">Success! You've done it.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
            <div class="mb-3 has-danger">
              <label class="form-control-label" for="inputDanger1">Input with danger</label>
              <input type="text" class="form-control is-invalid" id="inputDanger1" />
              <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>

            <hr class="my-5" />

            <h3>Toggles</h3>
            <p class="mt-4">
              Simply add data
              <code>data-bs-toggle="switch"</code>
              to any radio or checkbox element:
            </p>
            <p>
              Example:
              <br />
              <code>&lt;input type="checkbox" data-bs-toggle="switch" checked ></code>
            </p>
            <p>Find more examples at <a href="http://www.bootstrap-switch.org/">Bootstrap Switch</a>.</p>
            <h4 class="mt-4">Sizes</h4>
            <input type="checkbox" data-bs-toggle="switch" checked data-size="large" />
            <input type="checkbox" data-bs-toggle="switch" checked />
            <input type="checkbox" data-bs-toggle="switch" checked data-size="small" />
            <input type="checkbox" data-bs-toggle="switch" checked data-size="mini" />
            <h4 class="mt-4">Styles</h4>
            <input type="checkbox" data-bs-toggle="switch" checked data-off-color="primary" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="info" data-off-color="info" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="success" data-off-color="success" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="warning" data-off-color="warning" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="danger" data-off-color="danger" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="default" data-off-color="default" />
            <h4 class="mt-4">Alternating styles with state</h4>
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="primary" data-off-color="default" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="info" data-off-color="success" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="success" data-off-color="warning" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="warning" data-off-color="danger" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="danger" data-off-color="default" />
            <input type="checkbox" data-bs-toggle="switch" checked data-on-color="default" data-off-color="primary" />

            <hr class="my-5" />

            <h3>Floating Labels</h3>
            <p>
              Wrap a pair of
              <code>form-control</code>
              and
              <code>label</code>
              elements in
              <code>.form-floating</code>
              to enable Floating Labels with Bootstrapâs textual form fields. A placeholder is required on each
              <code>input</code>
              as our method of CSS-only Floating Labels uses the :placeholder-shown pseudo-element. Also note that the
              <code>input</code>
              must come first so we can utilize a sibling selector (e.g., ~).
            </p>
            <h4>Placeholders</h4>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
              <label for="floatingPassword">Password</label>
            </div>
            <h4 class="mt-5">Values</h4>
            <form class="form-floating">
              <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com" />
              <label for="floatingInputValue">Input with value</label>
            </form>
            <h4 class="mt-5">Textarea</h4>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
            <h4 class="mt-5">Select</h4>
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelect">Works with selects</label>
            </div>
            <h4 class="mt-5">Layout</h4>
            <div class="row gap-2">
              <div class="col-md">
                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com" />
                  <label for="floatingInputGrid">Email address</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <label for="floatingSelectGrid">Works with selects</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
