<!-- 
{
  "pageTitle": "Dividers",
  "pageKey": "elements-dividers",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Dividers | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Dividers</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link active"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Dividers-->
            <!--@Element: Dividers-->
            <p>AppStrap offers responsive block divider options to divide up your content blocks, here are the styles and options available.</p>
            <h3>Vertical Rules</h3>
            <p>
              Add the class
              <code>vr</code>
              within
              <code>hstack</code>
              flexbox wrapperrs.
            </p>
            <div class="d-flex flex-row">
              <div class="hstack mx-3" style="height: 100px">
                <div class="vr vr-50 me-2"></div>
                <small class="text-muted">.vr-50</small>
              </div>
              <div class="hstack mx-3" style="height: 100px">
                <div class="vr vr-60 me-2"></div>
                <small class="text-muted">.vr-60</small>
              </div>
              <div class="hstack mx-3" style="height: 100px">
                <div class="vr vr-70 me-2"></div>
                <small class="text-muted">.vr-70</small>
              </div>
              <div class="hstack mx-3" style="height: 100px">
                <div class="vr vr-80 me-2"></div>
                <small class="text-muted">.vr-80</small>
              </div>
              <div class="hstack mx-3" style="height: 100px">
                <div class="vr vr-90 me-2"></div>
                <small class="text-muted">.vr-90</small>
              </div>
              <div class="hstack mx-3" style="height: 100px">
                <div class="vr me-2"></div>
                <small class="text-muted">.vr (default - full height)</small>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Diagonal Dividers</h3>
            <p>
              Add the class
              <code>divider-diagonal</code>
              plus an arrow direction class
              <code>divider-diagonal-(r)</code>
              . r = right, l = left
            </p>
            <div class="bg-primary">
              <div class="container-fluid pe-0">
                <div class="row gx-0">
                  <div class="col-lg-7 py-6 flex-valign">
                    <hr class="hr-lg mt-0 mb-2 w-10 ms-0 hr-white" />
                    <h3 class="text-white my-0">.divider-diagonal</h3>
                  </div>
                  <div
                    class="col-lg-5 divider-diagonal divider-primary op-9"
                    data-bg-img="./assets/img/shop/promo-bikini.jpg"
                    data-css='{"background-position":"right bottom"}'
                  ></div>
                </div>
              </div>
            </div>
            <hr />
            <div class="bg-primary">
              <div class="container-fluid ps-0">
                <div class="row gx-0">
                  <div
                    class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9"
                    data-bg-img="./assets/img/shop/promo-bikini.jpg"
                    data-css='{"background-position":"right bottom"}'
                  ></div>
                  <div class="col-lg-7 py-6 flex-valign">
                    <hr class="hr-lg mt-0 mb-2 w-10 ms-0 hr-white" />
                    <h3 class="text-white op-9 my-0">.divider-diagonal-r</h3>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Arrow Dividers</h3>
            <p>
              Add the class
              <code>divider-arrow</code>
              plus an arrow direction class
              <code>divider-arrow-(r|l|t|b)</code>
              . r = right, l = left, b = bottom &amp; t = top.
            </p>
            <div class="bg-teal text-white container-fluid ps-0">
              <div class="row gx-0">
                <div class="col-lg-6 bg-light"></div>
                <div class="col-lg-6 py-4 divider-arrow divider-arrow-l divider-teal">
                  <h3 class="text-white op-9 my-0 ps-2">.divider-arrow-l</h3>
                </div>
              </div>
            </div>
            <hr />
            <div class="bg-teal text-white container-fluid pe-0">
              <div class="row gx-0">
                <div class="col-lg-6 py-4 divider-arrow divider-arrow-r divider-teal">
                  <h3 class="text-white op-9 my-0 pe-2">.divider-arrow-r</h3>
                </div>
                <div class="col-lg-6 bg-light"></div>
              </div>
            </div>
            <hr />
            <div class="bg-teal text-white container-fluid px-0">
              <div class="row gx-0">
                <div class="col-lg-12 bg-light py-4"></div>
                <div class="col-lg-12 py-4 divider-arrow divider-arrow-t divider-teal">
                  <h3 class="text-white text-center op-9 my-0">.divider-arrow-t</h3>
                </div>
              </div>
            </div>
            <hr />
            <div class="bg-teal text-white container-fluid px-0">
              <div class="row gx-0">
                <div class="col-lg-12 py-4 divider-arrow divider-arrow-b divider-teal">
                  <h3 class="text-white text-center op-9 my-0">.divider-arrow-b</h3>
                </div>
                <div class="col-lg-12 bg-light py-4"></div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Colour Options</h3>
            <p>
              The AppStrap colours can be used on all divider types, colour options are:
              <br />
              <code>.divider-light</code>
              <code>.divider-primary</code>
              <code>.divider-info</code>
              <code>.divider-success</code>
              <code>.divider-warning</code>
              <code>.divider-danger</code>
              <code>.divider-dark</code>
              <code>.divider-green</code>
              <code>.divider-red</code>
              <code>.divider-blue</code>
              <code>.divider-purple</code>
              <code>.divider-pink</code>
              <code>.divider-orange</code>
              <code>.divider-brown</code>
              <code>.divider-slate</code>
              <code>.divider-olive</code>
              <code>.divider-teal</code>
              <code>.divider-charcoal</code>
            </p>

            <hr class="my-5" />

            <h3>Opacity</h3>
            <p>
              Use the classes
              <code>.divider-op-(1-9)</code>
              to control the opacity of dividers.
            </p>

            <hr class="my-5" />

            <h3>Responsive Dividers</h3>
            <p>
              Dividers are also responsive so you can control at which breakpoint they kick in. Classes pattern is:
              <code>.divider-(sm|md|lg|xl)</code>
            </p>

            <hr class="my-5" />

            <h3>Examples</h3>
            <h4 class="mt-4">Left arrow</h4>
            <div class="bg-teal text-white container-fluid ps-0">
              <div class="row gx-0">
                <div class="col-lg-5 overlay overlay-white overlay-op-3" data-bg-img="./assets/img/homes/gym-1.jpg" data-css='{"background-position":"center right"}'></div>
                <div class="col-lg-6 py-5 ps-lg-4 divider-arrow divider-arrow-l divider-teal">
                  <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
                  <h2 class="display-4 text-white text-uppercase mt-0 mb-3 fw-bold">Newsletter</h2>
                  <p class="text-white op-8">Get offers &amp; discounts with our monthly newsletter: "No pain, no gain"</p>
                  <form class="mt-3">
                    <hr class="mb-2 hr-light op-2" />
                    <input class="form-control form-control-lg form-control-transparent form-control-dark px-0" type="text" placeholder="Email Address" />
                    <hr class="mt-2 mb-3 hr-light op-2" />
                    <a href="#join" class="btn btn-block text-uppercase btn-lg btn-teal btn-invert btn-rounded fw-bold py-3">Sign Up <i class="fa fa-chevron-right ms-2"></i></a>
                  </form>
                </div>
              </div>
            </div>
            <h4 class="mt-6">Title bottom arrow</h4>
            <div id="features" class="bg-white">
              <div class="bg-dark text-white p-3 text-center divider-arrow divider-arrow-b divider-dark">
                <div class="container">
                  <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
                  <h3 class="text-center text-uppercase fw-bold my-0">Feature Rich</h3>
                </div>
              </div>
              <div class="container p-4">
                <div class="row text-center gx-0">
                  <div class="col-lg-3 py-2">
                    <i class="bi-bar-chart icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
                    <h4 class="mt-2">Fully Optimized</h4>
                  </div>
                  <div class="col-lg-3 py-2">
                    <i class="bi-tools icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
                    <h4 class="mt-2">Free Support</h4>
                  </div>
                  <div class="col-lg-3 py-2">
                    <i class="bi-wind icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
                    <h4 class="mt-2">Free Upgrades</h4>
                  </div>
                  <div class="col-lg-3 py-2">
                    <i class="bi-plug icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.4"></i>
                    <h4 class="mt-2">99.9% Uptime</h4>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mt-6">Diagonal Dividers</h4>
            <div class="bg-primary">
              <div class="container-fluid ps-0">
                <div class="row gx-0">
                  <div
                    class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9"
                    data-bg-img="./assets/img/shop/promo-bikini.jpg"
                    data-css='{"background-position":"right bottom"}'
                  ></div>
                  <div class="col-lg-7 py-6 flex-valign">
                    <hr class="hr-lg mt-0 mb-2 w-10 ms-0 hr-white" />
                    <h2 class="display-4 text-font-slab text-white text-uppercase my-0">Beach <span class="text-white fw-bold">2024</span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light">
              <div class="container-fluid pe-0">
                <div class="row gx-0">
                  <div class="col-lg-7 py-6 flex-valign">
                    <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
                    <h2 class="display-4 text-font-slab text-light-dark text-uppercase my-0">Latest <span class="text-primary fw-bold">Trends</span></h2>
                  </div>
                  <div
                    class="col-lg-5 divider-diagonal divider-diagonal-l divider-light op-9"
                    data-bg-img="./assets/img/shop/promo-kids.jpg"
                    data-css='{"background-position":"right bottom"}'
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
