<!-- 
{
  "pageTitle": "Typography",
  "pageKey": "elements-typography",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Typography | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Typography</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link active"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Typography-->
            <!--@Element: Typography-->
            <p>Typography including headings, paragraphs, lists, quotes and more.</p>

            <h2>Headings</h2>
            <p>
              Headings are applied either with
              <code>h</code>
              tags or with
              <code>.h*</code>
              classes (
              <code>.h1</code>
              to
              <code>.h6</code>
              ) allow any element to "display" like an heading.
            </p>
            <h3 class="mt-4">
              <code>h</code>
              tags
            </h3>
            <h1>h1. Bootstrap heading</h1>
            <h2>h2. Bootstrap heading</h2>
            <h3>h3. Bootstrap heading</h3>
            <h4>h4. Bootstrap heading</h4>
            <h5>h5. Bootstrap heading</h5>
            <h6>h6. Bootstrap heading</h6>
            <h3 class="mt-5">
              Paragraphs using
              <code>.h*</code>
              classes
            </h3>
            <p class="h1">h1. Bootstrap heading</p>
            <p class="h2">h2. Bootstrap heading</p>
            <p class="h3">h3. Bootstrap heading</p>
            <p class="h4">h4. Bootstrap heading</p>
            <p class="h5">h5. Bootstrap heading</p>
            <p class="h6">h6. Bootstrap heading</p>
            <h3 class="mt-5">Display headings</h3>
            <p>
              <code>.display-1|2|3|4|5|6</code>
              classes allows for enlarged &amp; bolder headings for use as page titles for example.
            </p>
            <h1 class="display-1">Display 1</h1>
            <h1 class="display-2">Display 2</h1>
            <h1 class="display-3">Display 3</h1>
            <h1 class="display-4">Display 4</h1>
            <h1 class="display-5">Display 5</h1>
            <h1 class="display-6">Display 6</h1>
            <h3 class="mt-5">Font size</h3>
            <p class="fs-1">.fs-1 text</p>
            <p class="fs-2">.fs-2 text</p>
            <p class="fs-3">.fs-3 text</p>
            <p class="fs-4">.fs-4 text</p>
            <p class="fs-5">.fs-5 text</p>
            <p class="fs-6">.fs-6 text</p>

            <hr class="hr-lg my-5" />

            <h2>Inline text elements</h2>
            <p>Various text element/badge helpers.</p>
            <p>
              <code>mark</code>
              : You can use the mark badge to
              <mark>highlight</mark>
              text.
            </p>
            <p>
              <code>del</code>
              :
              <del>This line of text is meant to be treated as deleted text.</del>
            </p>
            <p>
              <code>s</code>
              :
              <s>This line of text is meant to be treated as no longer accurate.</s>
            </p>
            <p>
              <code>ins</code>
              :
              <ins>This line of text is meant to be treated as an addition to the document.</ins>
            </p>
            <p>
              <code>u</code>
              :
              <u>This line of text will render as underlined</u>
            </p>
            <p>
              <code>small</code>
              :
              <small>This line of text is meant to be treated as fine print.</small>
            </p>
            <p>
              <code>strong</code>
              : <strong>This line rendered as bold text.</strong>
            </p>
            <p>
              <code>em</code>
              : <em>This line rendered as italicized text.</em>
            </p>

            <hr class="hr-lg my-5" />

            <h2>Abbreviations</h2>
            <p>
              Use the
              <code>abbr</code>
              badge to hide text which is shown when any element is hovered.
            </p>
            <p><abbr title="attribute">attr</abbr></p>
            <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>

            <hr class="hr-lg my-5" />

            <h2>Blockquotes</h2>
            <p>
              Add the class
              <code>.blockquote</code>
              to
              <code>blockquote</code>
              elements to implment the default simnple styling, you can also use the
              <code>.blockquote-footer</code>
              class for citing the quote source.
            </p>
            <h4>Default</h4>
            <figure>
              <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
            <hr class="my-4" />
            <h4>Align Center</h4>
            <figure class="text-center">
              <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
            <hr class="my-4" />
            <h4>Align Left</h4>
            <figure class="text-end">
              <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
            <hr class="my-5" />
            <h4>Alternative style Style</h4>
            <p>
              Add the class
              <code>.blockquote-bubble</code>
              to the
              <code>blockquote</code>
              element and the class
              <code>.blockquote-bubble-content</code>
              to any inner element to make the quote display like a speach bubble.
            </p>
            <figure>
              <blockquote class="blockquote bg-dark bg-op-8 p-4 rounded-top fs-3 text-white position-relative">
                <i class="bi-chat-left-quote text-white op-3 position-absolute top-0 end-0 display-2 m-3"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              </blockquote>
              <figcaption class="blockquote-footer bg-light rounded-bottom px-4 py-2">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>

            <hr class="hr-lg my-5" />

            <h2>Lists</h2>
            <h4>Default Unordered Lists</h4>
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
            <hr class="my-4" />
            <h4>Default Ordered Lists</h4>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ol>
            <hr class="my-4" />
            <h4>Unstyled Lists</h4>
            <p>
              Add the class
              <code>.list-unstyled</code>
              to
              <code>ul</code>
              elements to remove all default styling from the list.
            </p>
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
            <hr class="my-4" />
            <h4>Inline Lists</h4>
            <p>
              Add the class
              <code>.list-inline</code>
              to the
              <code>ul</code>
              element and
              <code>.list-inline-item</code>
              to each list item.
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">Lorem ipsum</li>
              <li class="list-inline-item">Phasellus iaculis</li>
              <li class="list-inline-item">Nulla volutpat</li>
            </ul>
            <hr class="my-4" />
            <h4>Bordered Lists</h4>
            <p>
              Add the class
              <code>.list-bordered</code>
              to add a bottom border to each list item.
            </p>
            <ul class="list-unstyled list-bordered">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
            <hr class="my-4" />
            <h4>Large Lists</h4>
            <p>
              Add the class
              <code>.list-lg</code>
              to enlarge the font size and padding on list items.
            </p>
            <ul class="list-unstyled list-lg">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
            <hr class="my-4" />
            <h4>Small Lists</h4>
            <p>
              Add the class
              <code>.list-sm</code>
              to decrease the font size and padding on list items.
            </p>
            <ul class="list-unstyled list-sm">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
            <hr class="my-4" />
            <h4>Icons Lists</h4>
            <p>
              Add the class
              <code>.list-item-icon</code>
              to each icon in the list.
              <br />
              You can use all icons listed on the <a href="./elememts-icons.html">icons page</a>.
            </p>
            <ul class="list-unstyled">
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Lorem ipsum dolor sit amet</li>
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Consectetur adipiscing elit</li>
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Integer molestie lorem at massa</li>
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Facilisis in pretium nisl aliquet</li>
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Faucibus porta lacus fringilla vel</li>
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Aenean sit amet erat nunc</li>
              <li><i class="bi-check2-circle list-item-icon" aria-hidden="true"></i> Eget porttitor lorem</li>
            </ul>

            <hr class="hr-lg my-5" />

            <h2>Extras</h2>
            <h3>Text alignment</h3>
            <h4>
              <code>.text-BREAKPOINT-ALIGN</code>
              Class
            </h4>
            <p>
              Adjust text alignment based on screenwidth using the format:
              <code>.text-BREAKPOINT-ALIGN</code>
              ie.
              <code>.text-sm|md|lg|xl-left|center|right</code>
            </p>
            <p class="text-start bg-light p-1">Left aligned text on all viewport sizes.</p>
            <p class="text-center bg-light p-1">Center aligned text on all viewport sizes.</p>
            <p class="text-end bg-light p-1">Right aligned text on all viewport sizes.</p>
            <p class="text-sm-center bg-light p-1">Center aligned text on viewports sized SM (small) or wider.</p>
            <p class="text-md-center bg-light p-1">Center aligned text on viewports sized MD (medium) or wider.</p>
            <p class="text-lg-center bg-light p-1">Center aligned text on viewports sized LG (large) or wider.</p>
            <p class="text-xl-center bg-light p-1">Center aligned text on viewports sized XL (extra-large) or wider.</p>
            <hr class="my-4" />
            <h4>Text case, weight &amp; italics</h4>
            <p>Easily alter text case, weight &amp; italics using these helper classes.</p>
            <p class="text-lowercase">
              <code>.text-lowercase</code>
              : Lowercased text.
            </p>
            <p class="text-uppercase">
              <code>.text-uppercase</code>
              : Uppercased text.
            </p>
            <p class="text-capitalize">
              <code>.text-capitalize</code>
              : CapiTaliZed text.
            </p>
            <p class="font-monospace">
              <code>.font-monospace</code>
              : This is in monospace
            </p>
            <p class="fw-bold">
              <code>.fw-bold</code>
              : Bold text.
            </p>
            <p class="fw-bolder">
              <code>.fw-bolder</code>
              : Bolder weight text (relative to the parent element).
            </p>
            <p class="fw-normal">
              <code>.fw-normal</code>
              : Normal weight text.
            </p>
            <p class="fw-light">
              <code>.fw-light</code>
              : Light weight text.
            </p>
            <p class="fw-lighter">
              <code>.fw-lighter</code>
              : Lighter weight text (relative to the parent element).
            </p>
            <p class="p-2 bg-light">
              <code>.text-shadow</code>
              : <span class="text-shadow">Text with shadow</span>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
