<!-- 
{
  "pageTitle": "Carousels",
  "pageKey": "elements-carousels",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Carousels | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Carousels</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link active"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Carousels-->
            <!-- @Element: Carousels -->
            <h3>Setup</h3>
            <p>Carousels are powered by the awesome <a href="https://owlcarousel2.github.io/OwlCarousel2/">OwlCarousel 2</a> plugin which offers excellent responsive carousels.</p>
            <p>
              The trigger or wrapper element should have a
              <code>data-bs-toggle="owl-carousel"</code>
              attribute, and you can pass settings/options using
              <code>data-owl-carousel-settings='{}'</code>
              attribute. See "options" below for all options.
            </p>
            <p>
              Making carousels responsive: include "responsive" settings within your
              <code>data-owl-carousel-settings='{}'</code>
              attribute to apply different settings per screen width. For example:
              <code>data-owl-carousel-settings='{"margin":30, "responsive":{ "0":{"items":1}, "600":{"items":3}}, "loop":true }'</code>
              .
            </p>
            <p>Browser support: All modern browsers, not supported by IE9.</p>
            <hr class="my-5" />
            <h3>Projects Carousel</h3>
            <p>
              2 items on wider screens, 1 item on mobile with 1px margin, no pagination, and
              <code>.owl-nav-over</code>
              &amp;
              <code>.owl-nav-over-lg</code>
              classes added to wrapper to put navigation over the top of the carousel.
            </p>
            <div
              class="mt-4 owl-nav-over owl-nav-over-lg"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":2}}, "margin":1, "nav":true, "dots":false}'
            >
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-7-sm.jpg" alt="Project 7" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-8-sm.jpg" alt="Project 8" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-9-sm.jpg" alt="Project 9" class="img-fluid rounded" />
              </a>
              <a href="#" class="d-block">
                <img src="assets/img/projects/project-10-sm.jpg" alt="Project 10" class="img-fluid rounded" />
              </a>
            </div>
            <hr class="my-5" />
            <h3>Testimonials Carousel</h3>
            <div
              class="mt-4 owl-dots-center owl-nav-over"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":1, "stagePadding":90, "margin":90}}, "center":true, "dots":true, "autoHeight":true}'
            >
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Adipiscing Augue Capto Causa Dolus Elit Et Humo Ille Interdico Iustum Mauris Modo Neo Nunc Nutus Patria Pecus Pneum Praemitto Premo Quia Refero Saluto Scisco
                  Torqueo Turpis Validus Venio Vindico Virtus Wisi Ymo"
                </p>
                <small>
                  <img src="./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp" alt="Picture of Dave" class="rounded-circle d-inline-block" />
                  Alex <span class="text-primary fw-bold">/</span> <a href="#">@erin</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Augue Comis Cui Dignissim Et Ex Hos Ideo Ille Interdico Lucidus Ludus Luptatum Macto Metuo Nulla Nutus Pertineo Pneum Populus Quidem Saepius Torqueo Tum Utinam
                  Vel"
                </p>
                <small>
                  <img src="./assets/img/team/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" alt="Picture of Joe" class="rounded-circle d-inline-block" />
                  Joe <span class="text-primary fw-bold">/</span> <a href="#">@dave</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Abbas Abluo Adipiscing Aliquam Amet Augue Damnum Ea Humo Imputo Iriure Jus Lucidus Natu Neque Paratus Proprius Refero Sino Sit Tation Tum Valetudo"
                </p>
                <small>
                  <img src="./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp" alt="Picture of Joe" class="rounded-circle d-inline-block" />
                  Erin <span class="text-primary fw-bold">/</span> <a href="#">@tom</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">"Conventio Elit Erat Esca Esse Euismod Gemino Lucidus Meus Nimis Nulla Pecus Persto Quis Saepius"</p>
                <small>
                  <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" alt="Picture of Alex" class="rounded-circle d-inline-block" />
                  Joe <span class="text-primary fw-bold">/</span> <a href="#">@tom</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Abigo Accumsan Antehabeo At Bene Camur Ea Elit Humo Ideo Importunus Imputo Iusto Pertineo Quadrum Quidne Sagaciter Sit Tego Torqueo Tum Ullamcorper Valetudo"
                </p>
                <small>
                  <img src="./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" alt="Picture of Erin" class="rounded-circle d-inline-block" />
                  Dave <span class="text-primary fw-bold">/</span> <a href="#">@jo</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Abdo Aliquam Augue Diam Hendrerit Huic Iaceo Illum Immitto Imputo Incassum Inhibeo Luptatum Modo Natu Neo Nostrud Nulla Paulatim Qui Rusticus Similis Tincidunt
                  Vulpes"
                </p>
                <small>
                  <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" alt="Picture of Erin" class="rounded-circle d-inline-block" />
                  Erin <span class="text-primary fw-bold">/</span> <a href="#">@alex</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Blandit Comis Damnum Esca Esse Exputo Lenis Ludus Mauris Natu Nisl Nutus Occuro Os Pagus Plaga Probo Qui Quia Quibus Quidem Tincidunt Velit"
                </p>
                <small>
                  <img src="./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" alt="Picture of Erin" class="rounded-circle d-inline-block" />
                  Jo <span class="text-primary fw-bold">/</span> <a href="#">@tom</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Caecus Conventio Damnum Defui Dignissim Facilisis Feugiat Inhibeo Jugis Jumentum Jus Luptatum Oppeto Pagus Pertineo Praemitto Quidne Singularis Ullamcorper
                  Vulpes"
                </p>
                <small>
                  <img src="./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" alt="Picture of Tom" class="rounded-circle d-inline-block" />
                  Joe <span class="text-primary fw-bold">/</span> <a href="#">@joe</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Abdo Abigo Aliquam Aliquip Elit Eu Ex Gilvus Haero Ibidem Immitto Importunus Laoreet Molior Neque Nulla Olim Pertineo Quis Ratis Refero Singularis Te Tincidunt
                  Usitas Ut Velit Verto Vindico Ymo"
                </p>
                <small>
                  <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" alt="Picture of Alex" class="rounded-circle d-inline-block" />
                  Tom <span class="text-primary fw-bold">/</span> <a href="#">@alex</a>
                </small>
              </blockquote>
              <blockquote class="blockquote-bubble">
                <p class="blockquote-bubble-content">
                  "Abbas Abdo Augue Bene Cogo Damnum Diam Ea Elit Esse Et Ex Facilisis Iaceo Importunus Imputo Lucidus Melior Mos Natu Nostrud Pala Praemitto Quidne Quis Ratis
                  Rusticus Sagaciter Sino Suscipit Valde Vereor Voco Volutpat"
                </p>
                <small>
                  <img src="./assets/img/team/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" alt="Picture of Tom" class="rounded-circle d-inline-block" />
                  Alex <span class="text-primary fw-bold">/</span> <a href="#">@joe</a>
                </small>
              </blockquote>
            </div>
            <hr class="my-5" />
            <h3>Customers Logo Carousel</h3>
            <p>4 items per carousel row and image lazy loading.</p>
            <!-- Logos carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
            <div class="mt-4" data-bs-toggle="owl-carousel" data-owl-carousel-settings='{"items": 5, "lazyLoad":true, "nav":false, "dots":true}'>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-1.png" alt="Item 1 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 1</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-2.png" alt="Item 2 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 2</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-3.png" alt="Item 3 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 3</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-4.png" alt="Item 4 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 4</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-5.png" alt="Item 5 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 5</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-6.png" alt="Item 6 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 6</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-7.png" alt="Item 7 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 7</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-8.png" alt="Item 8 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 8</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-9.png" alt="Item 9 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 9</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-10.png" alt="Item 10 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 10</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-11.png" alt="Item 11 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 11</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-12.png" alt="Item 12 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 12</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-13.png" alt="Item 13 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 13</h5>
              </a>
              <a href="#" class="text-decoration-none text-gray-700">
                <img data-src="./assets/img/customers/customer-14.png" alt="Item 14 image" class="owl-lazy img-fluid" />
                <h5 class="mt-4 text-center">Customer 14</h5>
              </a>
            </div>
            <hr class="my-5" />
            <h3>Pricing Plan Carousel</h3>
            <div
              class="mt-4 owl-dots-center"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "1040":{"items":3}}, "margin":30, "dots":true}'
            >
              <div>
                <div class="card bg-shadow text-center">
                  <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                  <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">Free!</h3>
                  <div class="card-body">
                    <ul class="list-unstyled text-sm text-black-50">
                      <li>3 User Accounts</li>
                      <li>3 Private Projects</li>
                      <li>Umlimited Public Projects</li>
                      <li>5GB of space</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card bg-shadow text-center">
                  <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                  <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                  <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                    <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                  </h3>
                  <div class="card-body">
                    <ul class="list-unstyled text-sm text-black-50">
                      <li>10 User Accounts</li>
                      <li>10 Private Projects</li>
                      <li>Umlimited Public Projects</li>
                      <li>15GB of space</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                  <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                  <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm">
                    <span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span>
                  </h3>
                  <div class="card-body">
                    <ul class="list-unstyled text-sm text-black-50">
                      <li>50 User Accounts</li>
                      <li>50 Private Projects</li>
                      <li>Umlimited Public Projects</li>
                      <li>Unlimited space</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="card bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                  <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                  <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                  <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                    <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                  </h3>
                  <div class="card-body">
                    <ul class="list-unstyled text-sm text-black-50">
                      <li>Umlimited User Accounts</li>
                      <li>Umlimited Private Projects</li>
                      <li>Umlimited Public Projects</li>
                      <li>Unlimited space</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Carousel with Image Thumbnail Navigation</h3>
            <p>
              Add the thumbnail images below to your HTML and wrap them in a
              <code>data-owl-carousel-thumbs="CAROUSEL-TO-CONTROL"</code>
              and that's it.
            </p>
            <div class="product-gallery position-relative w-lg-80 mx-lg-auto">
              <div
                class="owl-carousel owl-nav-over owl-nav-over-lg"
                id="product-gallery"
                data-bs-toggle="owl-carousel"
                data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
              >
                <a href="#">
                  <img src="./assets/img/shop/shoes-2.jpg" alt="Shoes image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#">
                  <img src="./assets/img/shop/mens-sports-2.jpg" alt="Nike Training Top image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#">
                  <img src="./assets/img/shop/promo-kids.jpg" alt="Kids Wolly Jumper image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#">
                  <img src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Kids Hoodies image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#">
                  <img src="./assets/img/shop/mens-sports.jpg" alt="Nike Training Top image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#">
                  <img src="./assets/img/shop/promo-mens-2.jpg" alt="Leather Jacket image" class="lazyOwl img-fluid" width="200" />
                </a>
              </div>
              <div
                class="owl-thumbs"
                data-bs-toggle="owl-carousel"
                data-owl-carousel-thumbs="#product-gallery"
                data-owl-carousel-settings='{"nav":false, "dots":false, "margin":5}'
              >
                <a class="owl-thumb col-2">
                  <img class="img-fluid" src="./assets/img/shop/shoes-2.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb col-2">
                  <img class="img-fluid" src="./assets/img/shop/mens-sports-2.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb col-2">
                  <img class="img-fluid" src="./assets/img/shop/promo-kids.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb col-2">
                  <img class="img-fluid" src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb col-2">
                  <img class="img-fluid" src="./assets/img/shop/mens-sports.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb col-2">
                  <img class="img-fluid" src="./assets/img/shop/promo-mens-2.jpg" alt="Card image cap" />
                </a>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Slideshow Carousel with Transitions</h3>
            <p>
              Also uses the
              <code>.owl-nav-over-hover</code>
              class to show navigation only on hover.
            </p>
            <div
              class="mt-4 owl-dots-center owl-nav-over owl-nav-over-lg owl-nav-over-hover"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-settings='{"items":1, "center":true, "autoplay":true, "loop":true, "dots":true, "nav":true, "animateOut":"fadeOutDown"}'
            >
              <div class="item">
                <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 1</h4>
                  <p class="mb-0">Project 1 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 2</h4>
                  <p class="mb-0">Project 2 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 3</h4>
                  <p class="mb-0">Project 3 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 4</h4>
                  <p class="mb-0">Project 4 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 5</h4>
                  <p class="mb-0">Project 5 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 6</h4>
                  <p class="mb-0">Project 6 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-7-sm.jpg" alt="Project 7" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 7</h4>
                  <p class="mb-0">Project 7 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-8-sm.jpg" alt="Project 8" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 8</h4>
                  <p class="mb-0">Project 8 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-9-sm.jpg" alt="Project 9" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 9</h4>
                  <p class="mb-0">Project 9 description text.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/projects/project-10-sm.jpg" alt="Project 10" class="img-fluid rounded" />
                <div class="bg-light p-3">
                  <h4 class="my-0">Project 10</h4>
                  <p class="mb-0">Project 10 description text.</p>
                </div>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Timeline Carousel</h3>
            <div
              class="owl-thumbs carousel-timeline-nav"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-thumbs="#experience-timeline"
              data-owl-carousel-settings='{"items":4, "nav":false, "dots":false, "merge":true, "mergeFit":true}'
            >
              <a class="owl-thumb text-sm text-uppercase" data-merge="2">Dec 2009</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">Jan 2010</a>
              <a class="owl-thumb text-sm text-uppercase">Feb 2010</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">Mar 2010</a>
              <a class="owl-thumb text-sm text-uppercase">Apr 2010</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">May 2010</a>
              <a class="owl-thumb text-sm text-uppercase">Jun 2010</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">Jul 2010</a>
              <a class="owl-thumb text-sm text-uppercase" data-merge="2">Aug 2010</a>
            </div>
            <div
              class="owl-carousel owl-overflow owl-highlight-active owl-equalheight"
              id="experience-timeline"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-settings='{"items":1,"nav":true, "dots":false}'
            >
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-1.png" alt="RRT Productions" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Dec 2009 - Jan 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Bootstrap Designer/Developer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">RRT Productions</a>
                    </p>
                    <p>
                      Aliquip consectetuer oppeto quidem si utinam. Abico accumsan adipiscing dignissim gemino natu neque. Metuo modo wisi. Pagus premo tamen. Abbas abico ad
                      commoveo damnum nibh odio praesent proprius utrum. Aptent commodo commoveo lenis persto refero roto scisco tamen usitas.
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-2.png" alt="TSU" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Jan 2010 - Feb 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">TSU</a>
                    </p>
                    <p>
                      Exputo paulatim valde. Imputo jus minim olim ullamcorper. Capto commodo dolor elit neo obruo ulciscor. At enim molior nulla pagus pecus praemitto praesent
                      similis tego.
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-3.png" alt="Bergman Foremann" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Feb 2010 - Mar 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Bergman Foremann</a>
                    </p>
                    <p>Eligo facilisis imputo modo nulla pala quae ulciscor vereor verto. Abbas cogo defui eu importunus magna pecus quae tamen.</p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-4.png" alt="PinPixel" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Mar 2010 - Apr 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Server Support Manager</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">PinPixel</a>
                    </p>
                    <p>Abdo consectetuer eu jugis sagaciter voco. Accumsan nostrud pertineo ullamcorper utrum. Decet diam eros esca ludus nisl praemitto quidne sino.</p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-5.png" alt="FNC" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Apr 2010 - May 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">FNC</a>
                    </p>
                    <p>Consequat defui loquor plaga refero refoveo torqueo voco. Aliquip enim gravis hos humo iriure iustum metuo ullamcorper.</p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-6.png" alt="Siqueira" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">May 2010 - Jun 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Siqueira</a>
                    </p>
                    <p>
                      Amet metuo nunc ratis refoveo saepius sino suscipit tum venio. Abbas abluo acsi esca genitus praemitto. Euismod facilisis importunus metuo plaga vindico voco.
                      Abluo commoveo jumentum olim valetudo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-7.png" alt="Bouldrian" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Jun 2010 - Jul 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Server Support Manager</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Bouldrian</a>
                    </p>
                    <p>
                      Lucidus usitas veniam. Abico abluo aliquam distineo ea feugiat lucidus metuo occuro vero. Capto eu olim suscipit utrum wisi. Abigo adipiscing amet cogo
                      conventio dignissim hos natu nostrud. Defui feugiat genitus illum lobortis melior refero tum wisi.
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-8.png" alt="Krollon" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Jul 2010 - Aug 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Krollon</a>
                    </p>
                    <p>Acsi facilisis nulla olim patria rusticus sagaciter tum veniam. Aliquam autem camur conventio. Ea esse luptatum plaga quibus sed tation tum.</p>
                  </div>
                </div>
              </div>
              <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 d-flex">
                <div class="row">
                  <div class="col-md-2 d-none d-md-block">
                    <img src="./assets/img/customers/customer-9.png" alt="Stern Hegoland" class="img-fluid" />
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-uppercase my-0 text-primary">Aug 2010 - Sep 2010</h5>
                    <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                    <p class="text-muted mb-2 text-sm">
                      @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Stern Hegoland</a>
                    </p>
                    <p>
                      Amet consequat eligo euismod probo scisco validus vero verto vulpes. Facilisi facilisis hendrerit illum macto nunc populus quibus saepius. Nostrud quidem
                      typicus. Ea esca haero plaga sagaciter. Dolor interdico sudo valetudo wisi.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Style Options</h3>
            <p>
              Add
              <code>.owl-highlight-active</code>
              to shrink &amp; fade non-active items.
            </p>
            <p>
              Add
              <code>.owl-equalheight</code>
              to make all items the same height.
            </p>
            <p>
              Add
              <code>.owl-overflow</code>
              to make items overflow their wrapper.
            </p>
            <p>
              Add
              <code>.owl-nav-over</code>
              to the wrapper to put navigation over the top of the carousel.
            </p>
            <p>
              Add
              <code>.owl-dots-center</code>
              to center the pagination dots.
            </p>
            <hr class="my-5" />
            <h3>Options</h3>
            <h4 id="items">items</h4>
            <p>
              Type:
              <code>Number</code>
              <br />
              Default:
              <code>3</code>
            </p>
            <p>The number of items you want to see on the screen.</p>
            <hr />
            <h4 id="margin">margin</h4>
            <p>
              Type:
              <code>Number</code>
              <br />
              Default:
              <code>0</code>
            </p>
            <p>margin-right(px) on item.</p>
            <hr />
            <h4 id="loop">loop</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Infinity loop. Duplicate last and first items to get a loop illusion.</p>
            <hr />
            <h4 id="center">center</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Center item. Works well with even an odd number of items.</p>
            <hr />
            <h4 id="mousedrag">mouseDrag</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>Mouse drag enabled.</p>
            <hr />
            <h4 id="touchdrag">touchDrag</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>Touch drag enabled.</p>
            <hr />
            <h4 id="pulldrag">pullDrag</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>stage pull to edge.</p>
            <hr />
            <h4 id="freedrag">freeDrag</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Item pull to edge.</p>
            <hr />
            <h4 id="stagepadding">stagePadding</h4>
            <p>
              Type:
              <code>Number</code>
              <br />
              Default:
              <code>0</code>
            </p>
            <p>Padding left and right on stage (can see neighbours).</p>
            <hr />
            <h4 id="merge">merge</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Merge items. Looking for data-merge='{number}' inside item.</p>
            <hr />
            <h4 id="mergefit">mergeFit</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>Fit merged items if screen is smaller than items value.</p>
            <hr />
            <h4 id="autowidth">autoWidth</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Set non-grid content. Try using width style on divs.</p>
            <hr />
            <h4 id="startposition">startPosition</h4>
            <p>
              Type:
              <code>Number/String</code>
              <br />
              Default:
              <code>0</code>
            </p>
            <p>Start position or URL Hash string like '#id'.</p>
            <hr />
            <h4 id="urlhashlistener">URLhashListener</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Listen to URL hash changes. data-hash on items is required.</p>
            <hr />
            <h4 id="nav">nav</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Show next/prev buttons.</p>
            <hr />
            <h4 id="rewind">rewind</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>Go backwards when the boundary has been reached.</p>
            <hr />
            <h4 id="navtext">navText</h4>
            <p>
              Type:
              <code>Array</code>
              <br />
              Default:
              <code>['next','prev']</code>
            </p>
            <p>HTML allowed.</p>
            <hr />
            <h4 id="navelement">navElement</h4>
            <p>
              Type:
              <code>String</code>
              <br />
              Default:
              <code>div</code>
            </p>
            <p>DOM element type for a single directional navigation link.</p>
            <hr />
            <h4 id="slideby">slideBy</h4>
            <p>
              Type:
              <code>Number/String</code>
              <br />
              Default:
              <code>1</code>
            </p>
            <p>Navigation slide by x. 'page' string can be set to slide by page.</p>
            <hr />
            <h4 id="dots">dots</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>Show dots navigation.</p>
            <hr />
            <h4 id="dotseach">dotsEach</h4>
            <p>
              Type:
              <code>Number/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Show dots each x item.</p>
            <hr />
            <h4 id="dotdata">dotData</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Used by data-dot content.</p>
            <hr />
            <h4 id="lazyload">lazyLoad</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Lazy load images. data-src and data-src-retina for high-res. Also load images into background inline style if the element is not &lt;img&gt;.</p>
            <hr />
            <h4 id="lazycontent">lazyContent</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>
              Lazy content was introduced during beta tests but was removed from the final release due to bad implementation. It is a nice option, so I will work on it in the
              nearest future.
            </p>
            <hr />
            <h4 id="autoplay">autoplay</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Autoplay.</p>
            <hr />
            <h4 id="autoplaytimeout">autoplayTimeout</h4>
            <p>
              Type:
              <code>Number</code>
              <br />
              Default:
              <code>5000</code>
            </p>
            <p>Autoplay interval timeout.</p>
            <hr />
            <h4 id="autoplayhoverpause">autoplayHoverPause</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Pause on mouse hover.</p>
            <hr />
            <h4 id="smartspeed">smartSpeed</h4>
            <p>
              Type:
              <code>Number</code>
              <br />
              Default:
              <code>250</code>
            </p>
            <p>Speed calculation. More info to come.</p>
            <hr />
            <h4 id="fluidspeed">fluidSpeed</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>Number</code>
            </p>
            <p>Speed calculation. More info to come.</p>
            <hr />
            <h4 id="autoplayspeed">autoplaySpeed</h4>
            <p>
              Type:
              <code>Number/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Autoplay speed.</p>
            <hr />
            <h4 id="navspeed">navSpeed</h4>
            <p>
              Type:
              <code>Number/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Navigation speed.</p>
            <hr />
            <h4 id="dotsspeed">dotsSpeed</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>Number/Boolean</code>
            </p>
            <p>Pagination speed.</p>
            <hr />
            <h4 id="dragendspeed">dragEndSpeed</h4>
            <p>
              Type:
              <code>Number/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Drag end speed.</p>
            <hr />
            <h4 id="callbacks">callbacks</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>true</code>
            </p>
            <p>Enable callback events.</p>
            <hr />
            <h4 id="responsive">responsive</h4>
            <p>
              Type:
              <code>Object</code>
              <br />
              Default:
              <code>empty object</code>
            </p>
            <p>Object containing responsive options. Can be set to false to remove responsive capabilities.</p>
            <hr />
            <h4 id="responsiverefreshrate">responsiveRefreshRate</h4>
            <p>
              Type:
              <code>Number</code>
              <br />
              Default:
              <code>200</code>
            </p>
            <p>Responsive refresh rate.</p>
            <hr />
            <h4 id="responsivebaseelement">responsiveBaseElement</h4>
            <p>
              Type:
              <code>DOM element</code>
              <br />
              Default:
              <code>window</code>
            </p>
            <p>Set on any DOM element. If you care about non-responsive browsers (like IE8), then use it on the main wrapper. This will prevent crazy resizing.</p>
            <hr />
            <h4 id="video">video</h4>
            <p>
              Type:
              <code>Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Enable fetching YouTube/Vimeo/Vzaar videos.</p>
            <hr />
            <h4 id="videoheight">videoHeight</h4>
            <p>
              Type:
              <code>Number/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Set height for videos.</p>
            <hr />
            <h4 id="videowidth">videoWidth</h4>
            <p>
              Type:
              <code>Number/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Set width for videos.</p>
            <hr />
            <h4 id="animateout">animateOut</h4>
            <p>
              Type:
              <code>String/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Class for CSS3 animation out.</p>
            <hr />
            <h4 id="animateinclass">animateInClass</h4>
            <p>
              Type:
              <code>String/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Class for CSS3 animation in.</p>
            <hr />
            <h4 id="fallbackeasing">fallbackEasing</h4>
            <p>
              Type:
              <code>String</code>
              <br />
              Default:
              <code>swing</code>
            </p>
            <p>Easing for CSS2 $.animate.</p>
            <hr />
            <h4 id="info">info</h4>
            <p>
              Type:
              <code>Function</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Callback to retrieve basic information (current item/pages/widths). The info function's second parameter is an Owl DOM object reference.</p>
            <hr />
            <h4 id="nesteditemselector">nestedItemSelector</h4>
            <p>
              Type:
              <code>String/Class</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Use it if owl items are deep nested inside some generated content. E.g., 'youritem'. Don't use a dot before the class name.</p>
            <hr />
            <h4 id="itemelement">itemElement</h4>
            <p>
              Type:
              <code>String</code>
              <br />
              Default:
              <code>div</code>
            </p>
            <p>DOM element type for owl-item.</p>
            <hr />
            <h4 id="stageelement">stageElement</h4>
            <p>
              Type:
              <code>String</code>
              <br />
              Default:
              <code>div</code>
            </p>
            <p>DOM element type for owl-stage.</p>
            <hr />
            <h4 id="navcontainer">navContainer</h4>
            <p>
              Type:
              <code>String/Class/ID/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Set your own container for navigation.</p>
            <hr />
            <h4 id="dotscontainer">dotsContainer</h4>
            <p>
              Type:
              <code>String/Class/ID/Boolean</code>
              <br />
              Default:
              <code>false</code>
            </p>
            <p>Set your own container for dots.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
