<!-- 
{
  "pageTitle": "Utilities",
  "pageKey": "elements-utils",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Utilities | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Utilities</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link active"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Utilities-->
            <!--@Element: Utilities-->
            <p>Various utilities to help site building.</p>

            <h3>Responsive floats</h3>
            <p>Float elements or remove floats based on the browser screenwidth.</p>
            <p>
              Class name pattern:
              <code>float-BREAKPOINT-ALIGN</code>
              with full options:
              <code>.float|sm|md|lg|xl-left|right|none</code>
              <br />
              Classes can also be combined.
            </p>
            <div class="clearfix">
              <div class="float-start bg-light p-1 mb-1">Float left on all viewport sizes</div>
              <div class="float-end bg-light p-1 mb-1">Float right on all viewport sizes</div>
              <div class="float-none bg-light p-1 mb-1">Don't float on all viewport sizes</div>
              <div class="float-sm-start float-md-end bg-light p-1 mb-1">Float left on viewports sized SM (small) &amp; floats right from MD up</div>
              <div class="float-sm-none float-md-end bg-light p-1 mb-1">No float on sm viewports, float right on viewports sized MD (medium) or wider</div>
              <div class="float-lg-end bg-light p-1 mb-1">Float right on viewports sized LG (large) or wider</div>
              <div class="float-xl-end bg-light p-1 mb-1">Float right on viewports sized XL (extra-large) or wider</div>
            </div>

            <hr class="my-5" />

            <h3>Display property</h3>
            <p>
              These classes allow you to quickly change the "display" property of an element which can be really useful for alignment elements in a row or stacking them vertically.
            </p>
            <p>
              Classes avaliable are:
              <code>.d-none</code>
              ,
              <code>.d-flex</code>
              ,
              <code>.d-inline-flex</code>
              ,
              <code>.d-table</code>
              ,
              <code>.d-table-cell</code>
              ,
              <code>.d-block</code>
              ,
              <code>.d-inline</code>
              , or
              <code>.d-inline-block</code>
            </p>
            <p>
              All classes are responsive using the following pattern allowing you to show and hide elements per breakpoint:
              <code>.d-(sm|md|lg|xl)-(none|flex|inline-flex|table|table-cell|block|inline-block)</code>
            </p>
            <span class="d-block bg-primary p-1 mt-4 mb-1">Block</span>
            <div class="d-inline-block bg-warning p-1">
              <h3>inline-block</h3>
              Boot that strap!
            </div>
            <div class="d-inline-block bg-warning p-1">
              <h3>inline-block</h3>
              Strap that boot!
            </div>
            <div class="mt-4">
              <div class="d-inline bg-success">Inline</div>
              <div class="d-inline bg-success">Inline</div>
            </div>

            <hr class="my-5" />

            <h3>Border radius</h3>
            <p>Quickly and easily set border roundness on images, buttons or divs.</p>
            <div class="rounded bg-primary text-white p-1 mb-1">Rounded</div>
            <div class="rounded-top bg-primary text-white p-1 mb-1">Rounded top</div>
            <div class="rounded-end bg-primary text-white p-1 mb-1">Rounded right</div>
            <div class="rounded-bottom bg-primary text-white p-1 mb-1">Rounded bottom</div>
            <div class="rounded-start bg-primary text-white p-1 mb-1">Rounded left</div>
            <div class="rounded-circle bg-primary text-white p-1 mb-1 text-center" style="width: 100px; height: 100px">Circle</div>

            <hr class="my-5" />

            <h3>Vertical alignment</h3>
            <p>
              These classes allow you to set the vertical alignment of inline, inline-block, inline-table, and table cell elements:
              <code>.align-baseline</code>
              ,
              <code>.align-top</code>
              ,
              <code>.align-middle</code>
              ,
              <code>.align-bottom</code>
              ,
              <code>.align-text-bottom</code>
              , and
              <code>.align-text-top</code>
              .
            </p>
            <span class="align-baseline">align-baseline</span> <span class="align-top">align-top</span> <span class="align-middle">align-middle</span>
            <span class="align-bottom">align-bottom</span> <span class="align-text-top">align-text-top</span> <span class="align-text-bottom">align-text-bottom</span>

            <hr class="my-5" />

            <h3>Positioning</h3>
            <p>You can easily set the position of elements using these powerful, responsive positioning utility classes.</p>
            <p>
              Set positioning to absolute, relative, static, fixed responsively:
              <code>.position-BREAKPOINT-absolute, .position-BREAKPOINT-relative, .positionBREAKPOINT-static, .position-BREAKPOINT-fixed, .position-BREAKPOINT-sticky</code>
            </p>
            <p>
              Position to the given axis top (t), bottom (b), left (start), right (end), x-axis (x), y-axis (y):
              <code>.top-BREAKPOINT-(0,50,100), .bottom-BREAKPOINT-(0,50,100), .start-BREAKPOINT-(0,50,100), .end-BREAKPOINT-(0,50,100)</code>
            </p>
            <p>
              Position auto to a given axis:
              <code>.translate-middle-BREAKPOINT-x, .translate-middle-BREAKPOINT-y</code>
            </p>
            <p>
              Set element z-index (NOTE: 10-100 is in steps of 5):
              <code>.zindex-(1-10|10-100)</code>
            </p>

            <hr class="my-5" />

            <h3>Overflow</h3>
            <div class="d-md-flex pb-8 mb-3">
              <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary" style="max-width: 260px; max-height: 100px">
                This is an example of using
                <code>.overflow-auto</code>
                on an element with set width and height dimensions. By design, this content will vertically scroll.
              </div>
              <div class="overflow-hidden p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary" style="max-width: 260px; max-height: 100px">
                This is an example of using
                <code>.overflow-hidden</code>
                on an element with set width and height dimensions.
              </div>
              <div class="overflow-visible p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary" style="max-width: 260px; max-height: 100px">
                This is an example of using
                <code>.overflow-visible</code>
                on an element with set width and height dimensions.
              </div>
              <div class="overflow-scroll p-3 bg-body-tertiary" style="max-width: 260px; max-height: 100px">
                This is an example of using
                <code>.overflow-scroll</code>
                on an element with set width and height dimensions.
              </div>
            </div>
            <div class="d-md-flex pb-8 mb-3">
              <div class="overflow-x-auto p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px; white-space: nowrap">
                <div>
                  <code>.overflow-x-auto</code>
                  example on an element
                </div>
                <div>with set width and height dimensions.</div>
              </div>
              <div class="overflow-x-hidden p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px; white-space: nowrap">
                <div>
                  <code>.overflow-x-hidden</code>
                  example
                </div>
                <div>on an element with set width and height dimensions.</div>
              </div>
              <div class="overflow-x-visible p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px; white-space: nowrap">
                <div>
                  <code>.overflow-x-visible</code>
                  example
                </div>
                <div>on an element with set width and height dimensions.</div>
              </div>
              <div class="overflow-x-scroll p-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px; white-space: nowrap">
                <div>
                  <code>.overflow-x-scroll</code>
                  example on an element
                </div>
                <div>with set width and height dimensions.</div>
              </div>
            </div>
            <div class="d-md-flex pb-8">
              <div class="overflow-y-auto p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px">
                <code>.overflow-y-auto</code>
                example on an element with set width and height dimensions.
              </div>
              <div class="overflow-y-hidden p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px">
                <code>.overflow-y-hidden</code>
                example on an element with set width and height dimensions.
              </div>
              <div class="overflow-y-visible p-3 mb-3 mb-md-0 me-md-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px">
                <code>.overflow-y-visible</code>
                example on an element with set width and height dimensions.
              </div>
              <div class="overflow-y-scroll p-3 bg-body-tertiary w-100" style="max-width: 200px; max-height: 100px">
                <code>.overflow-y-scroll</code>
                example on an element with set width and height dimensions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
