<!-- 
{
  "pageTitle": "Alerts",
  "pageKey": "elements-alerts",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Alerts | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Alerts</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first active"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Alerts-->
            <!--@Element: Alerts-->
            <p>Alerts are useful for displaying messages to users on screen.</p>

            <div class="alert alert-info mb-4" role="alert">
              <p>
                <strong>Extened colour pallette:</strong> Within the
                <code>/assets/scss/custom/_custom-variables.scss</code>
                file set the variable
                <code>$enable-theme-colors-extended: true;</code>
                to enable the extended colour pallette which adds the following colours: green, red, blue, purple, pink, orange, brown, slate, olive, teal, charcoal.
                <br />
                These additional colours will then be available in the following components:
                <a href="elements-colour-utils.html" class="alert-link">text and background colours</a>, <a href="elements-spacers.html" class="alert-link">borders</a>,
                <a href="elements-badges.html" class="alert-link">badges</a> and <a href="elements-buttons.html" class="alert-link">buttons</a>.
              </p>
              <p class="mb-0">
                To remove any unwanted colours you can remove them from the
                <code>$theme-colors</code>
                map within your
                <code>/assets/scss/custom/_custom-maps.scss</code>
                file:
                <br />
                <code class="bg-light border p-2 mt-3 d-block"> $theme-colors: map-remove($theme-colors, "teal", "orange"); </code>
              </p>
            </div>

            <h3>Styles</h3>
            <div class="alert alert-primary" role="alert"><strong>Primary:</strong> Hos magna metuo. Diam iriure persto praesent quidem sudo.</div>
            <div class="alert alert-secondary" role="alert"><strong>Secondary:</strong> Aliquip esca gemino ludus pecus. Abdo antehabeo oppeto saepius sino tamen virtus.</div>
            <div class="alert alert-info" role="alert"><strong>Info:</strong> Augue nostrud praemitto validus vel vero.</div>
            <div class="alert alert-success" role="alert"><strong>Success:</strong> Immitto saepius sagaciter tamen valetudo vicis.</div>
            <div class="alert alert-warning" role="alert"><strong>Warning:</strong> Molior nostrud premo suscipere vindico. Appellatio hos ideo ludus metuo te zelus.</div>
            <div class="alert alert-danger" role="alert"><strong>Danger:</strong> Laoreet sudo torqueo utinam. Lobortis nunc obruo populus praemitto secundum torqueo vero.</div>
            <div class="alert alert-dark" role="alert"><strong>Dark:</strong> Abluo duis haero nimis uxor. Appellatio blandit conventio pala secundum suscipere.</div>
            <div class="alert alert-light" role="alert"><strong>Light:</strong> Appellatio at conventio nibh quadrum sagaciter ut voco.</div>

            <hr class="my-5" />

            <h3>Content</h3>
            <p>
              Alerts support bolder links and headers using the
              <code>.alert-link</code>
              and
              <code>.alert-heading</code>
              classes. You can also use
              <code>hr</code>
              tags within them and other <a href="./elements-spacers.html">spacer utils</a>.
            </p>
            <div class="alert alert-primary" role="alert">
              <h4 class="alert-heading">Primary:</h4>
              <p>Abico lenis mauris nostrud nutus persto si singularis.</p>
              <hr />
              <p>Abbas autem enim in jumentum letalis macto veniam vero voco.</p>
            </div>

            <div class="alert alert-secondary" role="alert">
              <h4 class="alert-heading">Secondary:</h4>
              <p>Abdo camur eu ex huic quidem rusticus sudo vereor.</p>
              <hr />
              <p>Caecus nunc ulciscor ut venio. Immitto plaga secundum.</p>
            </div>

            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">Info:</h4>
              <p>Abbas commodo luctus. Huic macto premo turpis.</p>
              <hr />
              <p>Blandit cui ex gilvus lucidus nobis persto sagaciter.</p>
            </div>

            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success:</h4>
              <p>Abluo dolor dolore in iriure pneum probo refero secundum usitas.</p>
              <hr />
              <p>Accumsan aliquam jus nunc. Decet elit ex jumentum magna nobis os praemitto tamen.</p>
            </div>

            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">Warning:</h4>
              <p>Aliquip causa iustum lobortis sagaciter valde vereor.</p>
              <hr />
              <p>Duis ex uxor volutpat. Abigo exputo facilisi os quidne refero.</p>
            </div>

            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Danger:</h4>
              <p>Aliquip autem nutus plaga. Aliquam iaceo ibidem laoreet nobis quia roto si tego ullamcorper.</p>
              <hr />
              <p>Abico cui eligo interdico. Acsi ad augue commodo feugiat lenis oppeto qui ulciscor.</p>
            </div>

            <div class="alert alert-dark" role="alert">
              <h4 class="alert-heading">Dark:</h4>
              <p>Eligo ideo luctus nunc vel. Abigo causa duis luptatum refero secundum tum ut.</p>
              <hr />
              <p>Haero in probo qui ratis wisi.</p>
            </div>

            <div class="alert alert-light" role="alert">
              <h4 class="alert-heading">Light:</h4>
              <p>Exputo iriure pagus pertineo ut. Ibidem luptatum magna.</p>
              <hr />
              <p>Bene caecus virtus. Antehabeo comis facilisis genitus illum ludus magna venio vulpes.</p>
            </div>

            <hr class="my-5" />

            <h3>Positioning, widths &amp; margins</h3>
            <p>You can make use of the <a href="">positioning</a>, <a href="">width</a> and <a href="">spacing</a> utilities to control the alerts. You can also use</p>

            <hr class="my-5" />

            <h3>Dismissing</h3>
            <p>
              To allow users to dismiss an alert via Javascript add a
              <code>.alert-dismissible</code>
              class to the alert and include a "close" button with the attribute
              <code>data-bs-dismiss="alert"</code>
              within the alert.
            </p>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Primary</strong> Abluo fere immitto in metuo nisl paratus roto.
            </div>

            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Secondary</strong> Gravis nimis nulla similis veniam.
            </div>

            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Info</strong> Elit ideo loquor nulla.
            </div>

            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Success</strong> Consequat plaga volutpat. Accumsan adipiscing dolor eligo jugis nimis roto vel vereor verto.
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Warning</strong> Lobortis luctus nulla olim patria quae refoveo singularis turpis.
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Danger</strong> Commodo dolor incassum obruo.
            </div>

            <div class="alert alert-dark alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Dark</strong> Feugiat quibus ullamcorper vulputate.
            </div>

            <div class="alert alert-light alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <strong>Light</strong> Causa gemino nisl volutpat.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
