<!-- 
{
  "pageTitle": "Avatars",
  "pageKey": "elements-avatars",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Avatars | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Avatars</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link active"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Avatars-->
            <h3>Default</h3>
            <div class="code-block">
              <div class="code-block-example">
                <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3">
                  <div class="position-relative px-2">
                    <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="sq-md rounded-circle" alt="Person" />
                    <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-dark">
                      <span class="visually-hidden">User online</span>
                    </span>
                  </div>
                  <span class="text-gray-800 fw-semibold">Jim Jones</span>
                  <a href="#" class="op-7 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View Profile</a>
                </div>
                <!-- Avatar small -->
                <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3 text-sm">
                  <div class="position-relative px-2">
                    <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="sq-sm rounded-circle" alt="user photo" />
                    <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-dark">
                      <span class="visually-hidden">User online</span>
                    </span>
                  </div>
                  <span class="text-gray-800 fw-semibold">Jim Jones</span>
                  <a href="#" class="op-7 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View Profile</a>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre id="code-block-content1"><code>&lt;div class=&quot;d-flex flex-column align-items-center justify-content-center pt-4 pb-3&quot;&gt;
  &lt;div class=&quot;position-relative px-2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-md rounded-circle&quot; alt=&quot;Person&quot; /&gt;
    &lt;span class=&quot;d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-dark&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;User online&lt;/span&gt; &lt;/span&gt;
  &lt;/div&gt;
  &lt;span class=&quot;text-gray-800 fw-semibold&quot;&gt;Jim Jones&lt;/span&gt; &lt;a href=&quot;#&quot; class=&quot;op-7 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover&quot;&gt;View Profile&lt;/a&gt; 
&lt;/div&gt;
&lt;!-- Avatar small --&gt;
&lt;div class=&quot;d-flex flex-column align-items-center justify-content-center pt-4 pb-3 text-sm&quot;&gt;
  &lt;div class=&quot;position-relative px-2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-sm rounded-circle&quot; alt=&quot;user photo&quot;&gt;
    &lt;span class=&quot;d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-dark&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;User online&lt;/span&gt; &lt;/span&gt;
  &lt;/div&gt;
  &lt;span class=&quot;text-gray-800 fw-semibold&quot;&gt;Jim Jones&lt;/span&gt; &lt;a href=&quot;#&quot; class=&quot;op-7 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover&quot;&gt;View Profile&lt;/a&gt; 
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
            <h3>Dark</h3>
            <div class="code-block">
              <div class="code-block-example">
                <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3 bg-dark">
                  <div class="position-relative px-2">
                    <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="sq-md rounded-circle" alt="Person" />
                    <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light">
                      <span class="visually-hidden">User online</span>
                    </span>
                  </div>
                  <span class="text-gray-200 fw-semibold">Jim Jones</span>
                  <a href="#" class="op-7 link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View Profile</a>
                </div>
                <!-- Avatar small -->
                <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3 text-sm bg-dark">
                  <div class="position-relative px-2">
                    <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="sq-sm rounded-circle" alt="user photo" />
                    <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light">
                      <span class="visually-hidden">User online</span>
                    </span>
                  </div>
                  <span class="text-gray-200 fw-semibold">Jim Jones</span>
                  <a href="#" class="op-7 link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">View Profile</a>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre id="code-block-content2"><code>&lt;div class=&quot;d-flex flex-column align-items-center justify-content-center pt-4 pb-3 bg-dark&quot;&gt;
  &lt;div class=&quot;position-relative px-2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-md rounded-circle&quot; alt=&quot;Person&quot; /&gt;
    &lt;span class=&quot;d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;User online&lt;/span&gt; &lt;/span&gt;
  &lt;/div&gt;
  &lt;span class=&quot;text-gray-200 fw-semibold&quot;&gt;Jim Jones&lt;/span&gt; &lt;a href=&quot;#&quot; class=&quot;op-7 link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover&quot;&gt;View Profile&lt;/a&gt; 
&lt;/div&gt;
&lt;!-- Avatar small --&gt;
&lt;div class=&quot;d-flex flex-column align-items-center justify-content-center pt-4 pb-3 text-sm bg-dark&quot;&gt;
  &lt;div class=&quot;position-relative px-2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-sm rounded-circle&quot; alt=&quot;user photo&quot;&gt;
    &lt;span class=&quot;d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;User online&lt;/span&gt; &lt;/span&gt;
  &lt;/div&gt;
  &lt;span class=&quot;text-gray-200 fw-semibold&quot;&gt;Jim Jones&lt;/span&gt; &lt;a href=&quot;#&quot; class=&quot;op-7 link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover&quot;&gt;View Profile&lt;/a&gt; 
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
            <h3>Avatar Group</h3>
            <div class="code-block">
              <div class="code-block-example">
                <div class="d-flex align-items-center justify-content-center pt-4 pb-3">
                  <div>
                    <img
                      src="./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp"
                      class="sq-md rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 2"
                    />
                  </div>
                  <div class="ms-n2">
                    <img
                      src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp"
                      class="sq-md rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 3"
                    />
                  </div>
                  <div class="ms-n2">
                    <img
                      src="./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp"
                      class="sq-md rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 4"
                    />
                  </div>
                  <div class="ms-n2">
                    <img
                      src="./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp"
                      class="sq-md rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 5"
                    />
                  </div>
                  <div class="ms-n2">
                    <img
                      src="./assets/img/team/5-harps-joseph-tAvpDE7fXgY-unsplash.webp"
                      class="sq-md rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 5"
                    />
                  </div>
                  <div class="ms-n2">
                    <div
                      class="sq-md rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center"
                      data-bs-toggle="tooltip"
                      title="10 more users online"
                    >
                      +10
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center pt-4 pb-3">
                  <div>
                    <img
                      src="./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp"
                      class="sq-sm rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 2"
                    />
                  </div>
                  <div class="ms-n1">
                    <img
                      src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp"
                      class="sq-sm rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 3"
                    />
                  </div>
                  <div class="ms-n1">
                    <img
                      src="./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp"
                      class="sq-sm rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 4"
                    />
                  </div>
                  <div class="ms-n1">
                    <img
                      src="./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp"
                      class="sq-sm rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 5"
                    />
                  </div>
                  <div class="ms-n1">
                    <img
                      src="./assets/img/team/5-harps-joseph-tAvpDE7fXgY-unsplash.webp"
                      class="sq-sm rounded-circle border border-white border-2"
                      alt="user photo"
                      data-bs-toggle="tooltip"
                      title="User 5"
                    />
                  </div>
                  <div class="ms-n1">
                    <div
                      class="sq-sm rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center"
                      data-bs-toggle="tooltip"
                      title="10 more users online"
                    >
                      +10
                    </div>
                  </div>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre id="code-block-content3"><code>&lt;div class=&quot;d-flex align-items-center justify-content-center pt-4 pb-3&quot;&gt;
  &lt;div&gt;
    &lt;img src=&quot;./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp&quot; class=&quot;sq-md rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 2&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-md rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 3&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp&quot; class=&quot;sq-md rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 4&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp&quot; class=&quot;sq-md rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 5&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n2&quot;&gt;
    &lt;img src=&quot;./assets/img/team/5-harps-joseph-tAvpDE7fXgY-unsplash.webp&quot; class=&quot;sq-md rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 5&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n2&quot;&gt;
    &lt;div class=&quot;sq-md rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;10 more users online&quot;&gt;+10&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;d-flex align-items-center justify-content-center pt-4 pb-3&quot;&gt;
  &lt;div&gt;
    &lt;img src=&quot;./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp&quot; class=&quot;sq-sm rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 2&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n1&quot;&gt;
    &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-sm rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 3&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n1&quot;&gt;
    &lt;img src=&quot;./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp&quot; class=&quot;sq-sm rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 4&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n1&quot;&gt;
    &lt;img src=&quot;./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp&quot; class=&quot;sq-sm rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 5&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n1&quot;&gt;
    &lt;img src=&quot;./assets/img/team/5-harps-joseph-tAvpDE7fXgY-unsplash.webp&quot; class=&quot;sq-sm rounded-circle border border-white border-2&quot; alt=&quot;user photo&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;User 5&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;ms-n1&quot;&gt;
    &lt;div class=&quot;sq-sm rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;10 more users online&quot;&gt;+10&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-6" />
            <h3>Placeholder</h3>
            <div class="code-block">
              <div class="code-block-example">
                <div
                  class="sq-md rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center"
                  data-bs-toggle="tooltip"
                  title="Jim Jones"
                >
                  JJ
                </div>
                <div
                  class="sq-sm rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center text-xs"
                  data-bs-toggle="tooltip"
                  title="Jim Jones"
                >
                  JJ
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre
                  id="code-block-content4"
                ><code>&lt;div class=&quot;sq-md rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;Jim Jones&quot;&gt;JJ&lt;/div&gt;
&lt;div class=&quot;sq-sm rounded-circle border border-white border-2 bg-dark text-white d-flex align-items-center justify-content-center text-xs&quot; data-bs-toggle=&quot;tooltip&quot; title=&quot;Jim Jones&quot;&gt;JJ&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
