<!-- 
{
  "pageTitle": "Spinners",
  "pageKey": "elements-spinners",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Spinners | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Spinners</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link active"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Spinners-->
            <!--@Element: Spinners-->
            <h3>Border Spinners</h3>
            <p>
              Bootstrap "spinners" can be used to show the loading state in your projects. They're built only with HTML and CSS, meaning you don't need any JavaScript to create
              them. You will, however, need some custom JavaScript to toggle their visibility. Their appearance, alignment, and sizing can be easily customized with our amazing
              utility classes.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-secondary" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-success" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-danger" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-warning" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-info" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-light" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Loading...</span></div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre
                  id="code-block-content1"
                ><code>&lt;div class=&quot;spinner-border text-primary&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-secondary&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-success&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-danger&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-warning&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-info&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-light&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-border text-dark&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Growing spinner</h3>
            <p>If you don't fancy a border spinner, switch to the grow spinner. While it doesn't technically spin, it does repeatedly grow!</p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-secondary" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-success" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-danger" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-warning" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-info" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-light" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow text-dark" role="status"><span class="visually-hidden">Loading...</span></div>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre
                  id="code-block-content2"
                ><code>&lt;div class=&quot;spinner-grow text-primary&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-secondary&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-success&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-danger&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-warning&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-info&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-light&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow text-dark&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Size</h3>
            <p>
              Add
              <code class="highlighter-rouge">.spinner-border-sm</code>
              and
              <code class="highlighter-rouge">.spinner-grow-sm</code>
              to make a smaller spinner that can quickly be used within other components.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow spinner-grow-sm" role="status"><span class="visually-hidden">Loading...</span></div>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre
                  id="code-block-content3"
                ><code>&lt;div class=&quot;spinner-border spinner-border-sm&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow spinner-grow-sm&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-4" />
            <div class="code-block">
              <div class="code-block-example">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status"><span class="visually-hidden">Loading...</span></div>
                <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status"><span class="visually-hidden">Loading...</span></div>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre
                  id="code-block-content4"
                ><code>&lt;div class=&quot;spinner-border&quot; style=&quot;width: 3rem; height: 3rem;&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;spinner-grow&quot; style=&quot;width: 3rem; height: 3rem;&quot; role=&quot;status&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-5" />
            <h3>Buttons</h3>
            <p>
              Use spinners within buttons to indicate an action is currently processing or taking place. You may also swap the text out of the spinner element and utilize button
              text as needed.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <button class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <span class="visually-hidden">Loading...</span>
                </button>
                <button class="btn btn-primary" type="button" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</button>
              </div>
              <div class="code-block-code collapse show" id="code-block-5">
                <pre
                  id="code-block-content5"
                ><code>&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot; disabled&gt; &lt;span class=&quot;spinner-border spinner-border-sm&quot; role=&quot;status&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot; disabled&gt; &lt;span class=&quot;spinner-border spinner-border-sm&quot; role=&quot;status&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Loading...
&lt;/button&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-5"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-4" />
            <div class="code-block">
              <div class="code-block-example">
                <button class="btn btn-primary" type="button" disabled>
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> <span class="visually-hidden">Loading...</span>
                </button>
                <button class="btn btn-primary" type="button" disabled><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...</button>
              </div>
              <div class="code-block-code collapse show" id="code-block-6">
                <pre
                  id="code-block-content6"
                ><code>&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot; disabled&gt; &lt;span class=&quot;spinner-grow spinner-grow-sm&quot; role=&quot;status&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; &lt;span class=&quot;visually-hidden&quot;&gt;Loading...&lt;/span&gt;
&lt;/button&gt;
&lt;button class=&quot;btn btn-primary&quot; type=&quot;button&quot; disabled&gt; &lt;span class=&quot;spinner-grow spinner-grow-sm&quot; role=&quot;status&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt; Loading...
&lt;/button&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-6"
                >
                  copy code
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
