<!-- 
{
  "pageTitle": "Animations",
  "pageKey": "elements-animation",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Animations | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Animations</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link active"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Animations-->
            <!--@Element: Animations-->
            <p>Add beautiful animation effects to elements as they come into view.</p>

            <h4>Pulsate</h4>
            <p>
              Simply add an
              <code>.animate-pulse-dark</code>
              (on a light background) or
              <code>.animate-pulse-light</code>
              (on a dark background) class to any element to animate it when it comes into view.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="position-relative px-2">
                  <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="sq-md bg-dark rounded-circle" alt="Person" />
                  <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-dark">
                    <span class="visually-hidden">User online</span>
                  </span>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre id="code-block-content1"><code>&lt;div class=&quot;position-relative px-2&quot;&gt;
  &lt;img src=&quot;./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp&quot; class=&quot;sq-md bg-dark rounded-circle&quot; alt=&quot;Person&quot;&gt;
  &lt;span class=&quot;d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-dark&quot;&gt; &lt;span class=&quot;visually-hidden&quot;&gt;User online&lt;/span&gt; &lt;/span&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <div class="code-block">
              <div class="code-block-example">
                <button type="button" class="mb-1 btn btn-primary animate-pulse-dark">Primary</button>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre
                  id="code-block-content2"
                ><code>&lt;button type=&quot;button&quot; class=&quot;mb-1 btn btn-primary animate-pulse-dark&quot;&gt;Primary&lt;/button&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>

            <hr class="my-5" />

            <h4 class="mt-3">Animate on hover</h4>
            <p>
              Simply add an
              <code>data-hover="ANIMATION-EFFECT"</code>
              and optionally
              <code>data-hover-out="ANIMATION-OUT-EFFECT"</code>
              attributes to any element.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <i class="ion-social-usd-outline icon-5x icon-sq bg-primary text-white rounded-circle bg-shadow" data-hover="bounceOut" data-hover-out="bounceIn"></i>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre
                  id="code-block-content3"
                ><code>&lt;i class=&quot;ion-social-usd-outline icon-5x icon-sq bg-primary text-white rounded-circle bg-shadow&quot; data-hover=&quot;bounceOut&quot; data-hover-out=&quot;bounceIn&quot;&gt;&lt;/i&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>

            <h4>Animate in view</h4>
            <p>
              Simply add an
              <code>data-animate="ANIMATION-EFFECT"</code>
              attribute to any element to animate it when it comes into view.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="bg-light p-5" data-animate="fadeIn">fade in</div>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre id="code-block-content4"><code>&lt;div class=&quot;bg-light p-5&quot; data-animate=&quot;fadeIn&quot;&gt; fade in
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Effects</h3>
            <p>You can use all "in" effects that are included in <a href="https://daneden.github.io/animate.css/">the amazing animate.css plugin</a> to animate in elements.</p>
            <p>Using the infinite attribute can support other animation effects like pulse &amp; flash.</p>
            <p>If you want an element to disappear from view you can use the "out" effects.</p>
            <ul class="list-unstyled row">
              <li class="col-md-6">
                <code>bounce</code>
              </li>
              <li class="col-md-6">
                <code>flash</code>
              </li>
              <li class="col-md-6">
                <code>pulse</code>
              </li>
              <li class="col-md-6">
                <code>rubberBand</code>
              </li>
              <li class="col-md-6">
                <code>shake</code>
              </li>
              <li class="col-md-6">
                <code>headShake</code>
              </li>
              <li class="col-md-6">
                <code>swing</code>
              </li>
              <li class="col-md-6">
                <code>tada</code>
              </li>
              <li class="col-md-6">
                <code>wobble</code>
              </li>
              <li class="col-md-6">
                <code>jello</code>
              </li>
              <li class="col-md-6">
                <code>bounceIn</code>
              </li>
              <li class="col-md-6">
                <code>bounceInDown</code>
              </li>
              <li class="col-md-6">
                <code>bounceInLeft</code>
              </li>
              <li class="col-md-6">
                <code>bounceInRight</code>
              </li>
              <li class="col-md-6">
                <code>bounceInUp</code>
              </li>
              <li class="col-md-6">
                <code>bounceOut</code>
              </li>
              <li class="col-md-6">
                <code>bounceOutDown</code>
              </li>
              <li class="col-md-6">
                <code>bounceOutLeft</code>
              </li>
              <li class="col-md-6">
                <code>bounceOutRight</code>
              </li>
              <li class="col-md-6">
                <code>bounceOutUp</code>
              </li>
              <li class="col-md-6">
                <code>fadeIn</code>
              </li>
              <li class="col-md-6">
                <code>fadeInDown</code>
              </li>
              <li class="col-md-6">
                <code>fadeInDownBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeInLeft</code>
              </li>
              <li class="col-md-6">
                <code>fadeInLeftBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeInRight</code>
              </li>
              <li class="col-md-6">
                <code>fadeInRightBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeInUp</code>
              </li>
              <li class="col-md-6">
                <code>fadeInUpBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeOut</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutDown</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutDownBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutLeft</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutLeftBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutRight</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutRightBig</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutUp</code>
              </li>
              <li class="col-md-6">
                <code>fadeOutUpBig</code>
              </li>
              <li class="col-md-6">
                <code>flipInX</code>
              </li>
              <li class="col-md-6">
                <code>flipInY</code>
              </li>
              <li class="col-md-6">
                <code>flipOutX</code>
              </li>
              <li class="col-md-6">
                <code>flipOutY</code>
              </li>
              <li class="col-md-6">
                <code>lightSpeedIn</code>
              </li>
              <li class="col-md-6">
                <code>lightSpeedOut</code>
              </li>
              <li class="col-md-6">
                <code>rotateIn</code>
              </li>
              <li class="col-md-6">
                <code>rotateInDownLeft</code>
              </li>
              <li class="col-md-6">
                <code>rotateInDownRight</code>
              </li>
              <li class="col-md-6">
                <code>rotateInUpLeft</code>
              </li>
              <li class="col-md-6">
                <code>rotateInUpRight</code>
              </li>
              <li class="col-md-6">
                <code>rotateOut</code>
              </li>
              <li class="col-md-6">
                <code>rotateOutDownLeft</code>
              </li>
              <li class="col-md-6">
                <code>rotateOutDownRight</code>
              </li>
              <li class="col-md-6">
                <code>rotateOutUpLeft</code>
              </li>
              <li class="col-md-6">
                <code>rotateOutUpRight</code>
              </li>
              <li class="col-md-6">
                <code>hinge</code>
              </li>
              <li class="col-md-6">
                <code>rollIn</code>
              </li>
              <li class="col-md-6">
                <code>rollOut</code>
              </li>
              <li class="col-md-6">
                <code>zoomIn</code>
              </li>
              <li class="col-md-6">
                <code>zoomInDown</code>
              </li>
              <li class="col-md-6">
                <code>zoomInLeft</code>
              </li>
              <li class="col-md-6">
                <code>zoomInRight</code>
              </li>
              <li class="col-md-6">
                <code>zoomInUp</code>
              </li>
              <li class="col-md-6">
                <code>zoomOut</code>
              </li>
              <li class="col-md-6">
                <code>zoomOutDown</code>
              </li>
              <li class="col-md-6">
                <code>zoomOutLeft</code>
              </li>
              <li class="col-md-6">
                <code>zoomOutRight</code>
              </li>
              <li class="col-md-6">
                <code>zoomOutUp</code>
              </li>
              <li class="col-md-6">
                <code>slideInDown</code>
              </li>
              <li class="col-md-6">
                <code>slideInLeft</code>
              </li>
              <li class="col-md-6">
                <code>slideInRight</code>
              </li>
              <li class="col-md-6">
                <code>slideInUp</code>
              </li>
              <li class="col-md-6">
                <code>slideOutDown</code>
              </li>
              <li class="col-md-6">
                <code>slideOutLeft</code>
              </li>
              <li class="col-md-6">
                <code>slideOutRight</code>
              </li>
              <li class="col-md-6">
                <code>slideOutUp</code>
              </li>
            </ul>

            <hr class="my-5" />

            <h3>Options</h3>
            <h4>Animation Delays and Durations</h4>
            <p>
              You can delay or alter the duration of an animation effect by including
              <code>data-animate-delay="TIME-IN-SECONDS"</code>
              and/or
              <code>data-animate-duration="TIME-IN-SECONDS"</code>
              attributes.
            </p>
            <p>This can be useful for staggering animation effects, the example below delays .</p>
            <div class="code-block">
              <div class="code-block-example">
                <h3 data-animate="fadeInUp" data-animate-duration="1.5">1</h3>
                <h3 data-animate="fadeInDown" data-animate-duration="1.5" data-animate-delay="1.5">2</h3>
                <h3 data-animate="fadeInUp" data-animate-duration="1.5" data-animate-delay="3">3</h3>
                <h3 data-animate="fadeInDown" data-animate-duration="1.5" data-animate-delay="4.5">4</h3>
                <h3 data-animate="fadeInUp" data-animate-duration="1.5" data-animate-delay="6">5</h3>
              </div>
              <div class="code-block-code collapse show" id="code-block-5">
                <pre id="code-block-content5"><code>&lt;h3 data-animate=&quot;fadeInUp&quot; data-animate-duration=&quot;1.5&quot;&gt;
  1
&lt;/h3&gt;
&lt;h3 data-animate=&quot;fadeInDown&quot; data-animate-duration=&quot;1.5&quot; data-animate-delay=&quot;1.5&quot;&gt;
  2
&lt;/h3&gt;
&lt;h3 data-animate=&quot;fadeInUp&quot; data-animate-duration=&quot;1.5&quot; data-animate-delay=&quot;3&quot;&gt;
  3
&lt;/h3&gt;
&lt;h3 data-animate=&quot;fadeInDown&quot; data-animate-duration=&quot;1.5&quot; data-animate-delay=&quot;4.5&quot;&gt;
  4
&lt;/h3&gt;
&lt;h3 data-animate=&quot;fadeInUp&quot; data-animate-duration=&quot;1.5&quot; data-animate-delay=&quot;6&quot;&gt;
  5
&lt;/h3&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-5"
                >
                  copy code
                </button>
              </div>
            </div>
            <h4 class="mt-4">Infinite</h4>
            <p>
              You can add
              <code>data-animate-infinite="1"</code>
              to make an animation effect run infinitely.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <h3 data-animate="flash" data-animate-infinite="1" data-animate-duration="2">Breaking news!</h3>
              </div>
              <div class="code-block-code collapse show" id="code-block-6">
                <pre id="code-block-content6"><code>&lt;h3 data-animate=&quot;flash&quot; data-animate-infinite=&quot;1&quot; data-animate-duration=&quot;2&quot;&gt;
  Breaking news!
&lt;/h3&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-6"
                >
                  copy code
                </button>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Examples</h3>
            <h4>In Effects</h4>
            <div class="bg-light mb-5 p-5" data-animate="bounceIn">bounceIn</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceInDown">bounceInDown</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceInLeft">bounceInLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceInRight">bounceInRight</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceInUp">bounceInUp</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeIn">fadeIn</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInDown">fadeInDown</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInDownBig">fadeInDownBig</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInLeft">fadeInLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInLeftBig">fadeInLeftBig</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInRight">fadeInRight</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInRightBig">fadeInRightBig</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInUp">fadeInUp</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeInUpBig">fadeInUpBig</div>
            <div class="bg-light mb-5 p-5" data-animate="flipInX">flipInX</div>
            <div class="bg-light mb-5 p-5" data-animate="flipInY">flipInY</div>
            <div class="bg-light mb-5 p-5" data-animate="lightSpeedIn">lightSpeedIn</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateIn">rotateIn</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateInDownLeft">rotateInDownLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateInDownRight">rotateInDownRight</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateInUpLeft">rotateInUpLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateInUpRight">rotateInUpRight</div>
            <div class="bg-light mb-5 p-5" data-animate="rollIn">rollIn</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomIn">zoomIn</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomInDown">zoomInDown</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomInLeft">zoomInLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomInRight">zoomInRight</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomInUp">zoomInUp</div>
            <div class="bg-light mb-5 p-5" data-animate="slideInDown">slideInDown</div>
            <div class="bg-light mb-5 p-5" data-animate="slideInLeft">slideInLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="slideInRight">slideInRight</div>
            <div class="bg-light mb-5 p-5" data-animate="slideInUp">slideInUp</div>
            <h4 class="mt-4">Out Effects</h4>
            <p>NOTE: these will disappear from view once the effect has run.</p>
            <div class="bg-light mb-5 p-5" data-animate="bounceOut">bounceOut</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceOutDown">bounceOutDown</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceOutLeft">bounceOutLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceOutRight">bounceOutRight</div>
            <div class="bg-light mb-5 p-5" data-animate="bounceOutUp">bounceOutUp</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOut">fadeOut</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutDown">fadeOutDown</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutDownBig">fadeOutDownBig</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutLeft">fadeOutLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutLeftBig">fadeOutLeftBig</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutRight">fadeOutRight</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutRightBig">fadeOutRightBig</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutUp">fadeOutUp</div>
            <div class="bg-light mb-5 p-5" data-animate="fadeOutUpBig">fadeOutUpBig</div>
            <div class="bg-light mb-5 p-5" data-animate="flipOutX">flipOutX</div>
            <div class="bg-light mb-5 p-5" data-animate="flipOutY">flipOutY</div>
            <div class="bg-light mb-5 p-5" data-animate="lightSpeedOut">lightSpeedOut</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateOut">rotateOut</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateOutDownLeft">rotateOutDownLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateOutDownRight">rotateOutDownRight</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateOutUpLeft">rotateOutUpLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="rotateOutUpRight">rotateOutUpRight</div>
            <div class="bg-light mb-5 p-5" data-animate="rollOut">rollOut</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomOut">zoomOut</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomOutDown">zoomOutDown</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomOutLeft">zoomOutLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomOutRight">zoomOutRight</div>
            <div class="bg-light mb-5 p-5" data-animate="zoomOutUp">zoomOutUp</div>
            <div class="bg-light mb-5 p-5" data-animate="slideOutDown">slideOutDown</div>
            <div class="bg-light mb-5 p-5" data-animate="slideOutLeft">slideOutLeft</div>
            <div class="bg-light mb-5 p-5" data-animate="slideOutRight">slideOutRight</div>
            <div class="bg-light mb-5 p-5" data-animate="slideOutUp">slideOutUp</div>
            <h4 class="mt-4">Special Effects</h4>
            <div class="bg-light mb-5 p-5" data-animate="bounce" data-animate-infinite="1">bounce</div>
            <div class="bg-light mb-5 p-5" data-animate="flash" data-animate-infinite="1">flash</div>
            <div class="bg-light mb-5 p-5" data-animate="pulse" data-animate-infinite="1">pulse</div>
            <div class="bg-light mb-5 p-5" data-animate="rubberBand" data-animate-infinite="1">rubberBand</div>
            <div class="bg-light mb-5 p-5" data-animate="shake" data-animate-infinite="1">shake</div>
            <div class="bg-light mb-5 p-5" data-animate="headShake" data-animate-infinite="1">headShake</div>
            <div class="bg-light mb-5 p-5" data-animate="swing" data-animate-infinite="1">swing</div>
            <div class="bg-light mb-5 p-5" data-animate="tada" data-animate-infinite="1">tada</div>
            <div class="bg-light mb-5 p-5" data-animate="wobble" data-animate-infinite="1">wobble</div>
            <div class="bg-light mb-5 p-5" data-animate="jello" data-animate-infinite="1">jello</div>
            <div class="bg-light mb-5 p-5" data-animate="hinge" data-animate-infinite="1">hinge</div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
