<!-- 
{
  "pageTitle": "Footer Compact Light",
  "pageKey": "footer-compact-light",
  "pageActiveTrail": [
    "more",
    "footers"
  ],
  "footerColour": "light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-light",
  "footerBtnsClass": "text-dark",
  "footerClass": "footer-light bg-light text-dark op-6",
  "footerHighlightClass": "text-dark op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Footer Compact Light | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Footer Options</span>
              <a href="footer-compact.html" class="nav-link first">Footer Compact <i class="fa fa-angle-right"></i></a>
              <a href="footer-compact-light.html" class="nav-link active">Footer Compact Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-light.html" class="nav-link">Footer Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus.html" class="nav-link">Footer Menus <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus-light.html" class="nav-link">Footer Menus Light <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2><span>Footers:</span><span class="fw-normal">Footer Compact Light</span></h2>

            <p class="fw-bold"><a href="#footer">See demo below</a></p>
            <p>
              Abluo Acsi Autem Bene Caecus Conventio Damnum Dolor Dolus Erat Eros Esse Et Eu Euismod Exerci Facilisis Fere Haero Huic Ideo Immitto Imputo In Interdico Minim Nulla
              Nutus Praesent Quidem Quis Refoveo Saluto Sed Similis Sit Ut Utinam Virtus
            </p>
            <p>
              Amet Commodo Consequat Dignissim Eros Facilisi Gemino Ibidem Immitto Importunus Jugis Jumentum Lobortis Macto Molior Nimis Nunc Oppeto Paratus Pneum Quidem Te Tego
              Ulciscor Usitas Verto Vicis Ymo
            </p>
            <p>
              Abluo Consequat Damnum Elit Euismod Ex Genitus Iaceo Jumentum Lucidus Ludus Mos Nobis Occuro Roto Sagaciter Sudo Suscipere Suscipit Tego Turpis Typicus Usitas Utinam
              Utrum Uxor Vereor Ymo
            </p>
            <p>
              Abbas Ad Aliquam Aliquip Augue Caecus Camur Gemino Gilvus Hendrerit Humo Ideo Iustum Jumentum Jus Ludus Mauris Neo Nimis Nisl Nobis Obruo Praesent Similis Sino
              Ullamcorper Vel Vereor Virtus Volutpat
            </p>
            <p>Aptent Bene Brevitas Capto Commodo Consequat Decet Ea Esca Eu Eum Facilisi Feugiat Hos Ideo Illum Inhibeo Jus Letalis Luctus Obruo Persto Quia Sudo Uxor Vicis</p>
            <p>
              Abbas Appellatio Causa Cogo Elit Fere Haero Hos Immitto Iustum Melior Mos Natu Premo Probo Proprius Quadrum Quae Sagaciter Saluto Sudo Uxor Veniam Vereor Voco Ymo
            </p>
            <p>
              Abdo Abigo Adipiscing Aliquip Antehabeo Appellatio Augue Brevitas Capto Causa Comis Consectetuer Distineo Dolor Dolore Ea Eros Esse Facilisis Fere Feugiat Gemino
              Gilvus Hendrerit Ibidem Ille Incassum Interdico Iusto Laoreet Ludus Magna Mauris Minim Neque Nisl Nobis Nostrud Obruo Os Paulatim Praesent Premo Qui Saepius Sagaciter
              Saluto Sed Similis Typicus Usitas Ut Utrum Validus Verto Vulpes Vulputate
            </p>
            <p>
              Aliquam Aliquip Appellatio At Caecus Cogo Consequat Conventio Cui Dignissim Esca Esse Et Exputo Gilvus Gravis Huic Humo Jugis Loquor Lucidus Ludus Magna Melior Minim
              Mos Nostrud Os Pecus Quadrum Quae Refoveo Sit Sudo Suscipere Suscipit Valetudo Validus Vel Venio Voco Vulputate
            </p>
            <p>
              Abluo Adipiscing Appellatio Aptent At Autem Bene Brevitas Camur Capto Cogo Comis Consequat Conventio Dignissim Dolore Duis Ea Elit Esse Et Euismod Eum Ex Exerci
              Exputo Facilisis Fere Gilvus Hendrerit Hos Humo Ille Importunus In Laoreet Luctus Ludus Mauris Melior Metuo Meus Mos Nibh Nimis Nisl Nobis Nunc Nutus Odio Oppeto
              Pagus Paratus Patria Persto Pneum Praesent Quia Ratis Saluto Scisco Sudo Tation Te Tincidunt Torqueo Ullamcorper Usitas Utinam Utrum Valde Validus Venio Vero Voco
              Volutpat Vulpes
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
