<!-- 
{
  "pageTitle": "Footer Menus Light",
  "pageKey": "footer-menus-light",
  "pageActiveTrail": [
    "more",
    "footers"
  ],
  "footerColour": "light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-light",
  "footerBtnsClass": "text-dark",
  "footerClass": "footer-light bg-light text-dark op-6",
  "footerHighlightClass": "text-dark op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Footer Menus Light | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Footer Options</span>
              <a href="footer-compact.html" class="nav-link first">Footer Compact <i class="fa fa-angle-right"></i></a>
              <a href="footer-compact-light.html" class="nav-link">Footer Compact Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-light.html" class="nav-link">Footer Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus.html" class="nav-link">Footer Menus <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus-light.html" class="nav-link active">Footer Menus Light <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2><span>Footers:</span><span class="fw-normal">Footer Menus Light</span></h2>

            <p class="fw-bold"><a href="#footer">See demo below</a></p>
            <p>
              Abbas Ad Aliquam Aliquip Appellatio Commoveo Consectetuer Illum Jumentum Lenis Loquor Metuo Meus Nobis Nostrud Odio Olim Pagus Patria Persto Populus Quibus Quidne
              Ratis Sagaciter Si Usitas Velit Ymo
            </p>
            <p>
              Abico Amet Blandit Causa Commodo Cui Eligo Enim Esse Eu Iriure Jugis Jus Lenis Loquor Melior Meus Minim Nobis Nulla Oppeto Patria Plaga Pneum Quae Roto Suscipit
              Torqueo Usitas Utrum Venio
            </p>
            <p>
              Abdo At Comis Distineo Eligo Erat Exputo Facilisis Feugiat Ibidem Jus Laoreet Letalis Modo Neo Nimis Obruo Odio Os Pala Praemitto Si Tamen Ut Uxor Valetudo Velit
              Veniam Vindico Vulputate Wisi
            </p>
            <p>Abigo Amet Aptent Augue Capto Commodo Diam Esca Luctus Melior Patria Qui Quibus Scisco Tation Ullamcorper Vulputate</p>
            <p>
              Aliquip Elit Euismod Fere Immitto Importunus Imputo Incassum Melior Modo Nisl Nostrud Olim Os Pecus Persto Proprius Sino Te Torqueo Ulciscor Utinam Validus Vel Vereor
              Vindico Zelus
            </p>
            <p>At Causa Commodo Dignissim Eros Ex Genitus Ideo Jus Mos Paratus Plaga Probo Quidne Ullamcorper Vel</p>
            <p>
              Abluo Ad Aptent Dolus Duis Esse Euismod Exputo Facilisi Gilvus Iaceo Incassum Lenis Letalis Modo Molior Nibh Nimis Nobis Occuro Patria Pneum Quia Quibus Quidne
              Singularis Sino Sit Suscipere Tation Tum Ut Validus Voco
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-menus.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
