<!-- 
{
  "pageTitle": "Coming Soon",
  "pageKey": "index-coming-soon",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Coming Soon | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the class .vh-100 -->
      <div
        class="vh-100 bg-white overlay overlay-dark overlay-gradient overlay-op-7 text-center px-3 py-5 py-lg-10 flex-valign"
        data-bg-img="./assets/img/backgrounds/construction.jpg"
        data-css='{"background-position": "right bottom"}'
      >
        <h2 class="text-white display-4 fw-bold" data-animate="fadeIn" data-animate-delay="0.2">AppStrap</h2>
        <h4 class="text-white op-9 fw-normal mb-4" data-animate="fadeIn" data-animate-delay="0.35">Under construction, full site coming real soon!</h4>
        <!-- Countdown cards -->
        <div
          class="countdown countdown-cards w-90 w-lg-40 mx-auto d-flex gap-3 justify-content-center"
          data-animate="fadeIn"
          data-animate-delay="0.55"
          data-countdown="2024/10/26"
          data-countdown-format='<span class="count p-3 border-light border-op-6 text-white bg-light bg-op-3 bg-op-hover-4 rounded w-15">
          <h2 class="digit">
            %D
          </h2>
          days
        </span>
        <span class="count p-3 border-light border-op-6 text-white bg-light bg-op-3 bg-op-hover-4 rounded w-15">
          <h2 class="digit">
            %-H
          </h2>
          hrs
        </span>
        <span class="count p-3 border-light border-op-6 text-white bg-light bg-op-3 bg-op-hover-4 rounded w-15">
          <h2 class="digit">
            %-M
          </h2>
          mins
        </span>
        <span class="count p-3 border-light border-op-6 text-white bg-light bg-op-3 bg-op-hover-4 rounded w-15">
          <h2 class="digit">
            %-S
          </h2>
          secs
        </span>
        '
        ></div>
        <!-- /Countdown cards -->
        <!-- Newsletter form -->
        <form class="d-flex gap-3 mb-3 w-90 w-lg-auto px-4 mx-lg-auto align-items-center mt-4 border-bottom border-light" data-animate="fadeIn" data-animate-delay="0.55">
          <i class="bi-envelope text-white icon-2x d-block"></i>
          <input class="form-control form-control-lg form-control-transparent form-control-dark text-center text-lg-start" type="text" placeholder="Get notified when we go live" />
        </form>
        <p class="text-xs text-white mt-2" data-animate="fadeIn" data-animate-delay="0.75">
          <a href="mailto:info@appstraptheme.com" class="link-light link-opacity-75 link-opacity-100-hover">info@appstraptheme.com</a>
        </p>
        <!-- /Newsletter form -->
      </div>
    </div>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
