<!-- 
{
  "pageTitle": "Restaurant Homepage",
  "pageKey": "index-restaurant",
  "pageActiveTrail": [
    "index"
  ],
  "headerSearch": false,
  "colourScheme": "purple",
  "headerSearchRegion": false,
  "mobileMenuBtnText": "",
  "footerType": "compact",
  "headerOffcanvas": false,
  "headerShoppingCart": false,
  "mobileMenuTarget": "#submenu",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 text-light op-8 fw-bold py-0 my-0",
  "navbarClass": "navbar-dark de-10 transition mt-n8 py-3 bg-dark sticky-mt-0 position-absolute top-0 start-0 end-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0  ms-md-auto  bg-dark py-3",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "navbar-light w-100 w-md-auto",
  "navbarSecondaryClass": "d-flex order-5 align-items-center",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavClass": "text-capitalize",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Restaurant Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %} data-offset-elements=".navbar">
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0 ms-md-auto bg-dark py-3">
        <!-- one pager navigation -->
        <ul class="navbar-nav navbar-light w-100 w-md-auto">
          <li class="nav-item">
            <a href="#specials" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Specials">Specials</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#events" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Events">Events</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#gallery" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Gallery">Gallery</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block navbarSecondaryContent %}
      <a class="btn btn-sm btn-primary rounded-pill shadow-sm order-lg-last text-xs fw-bold text-uppercase" data-bs-toggle="scroll-link" href="#book"
        ><i class="bi-calendar-check me-1"></i> Book Now</a
      >
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="border-0">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="bg-black overlay overlay-gradient-flip overlay-op-7 text-center"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/backgrounds/restaurant_bg_1.jpg,assets/img/backgrounds/restaurant_bg_3.jpg,assets/img/backgrounds/bottles.jpg,assets/img/backgrounds/burger-beer.jpg"
      >
        <div data-breakpoint="740" data-scroll="scrollax" class="vh-100 px-3 py-5 py-lg-10 flex-valign" data-animate="fadeIn" data-animate-delay="0.2">
          <h2 class="display-4 text-white text-font-slab mt-lg-5">AppStrap Sportsbar & Grill</h2>
          <h3 class="text-white op-9 fw-normal text-font-slab">Open 8 to late everyday!</h3>
          <hr class="hr-white op-4 hr-lg w-20 mx-auto my-4" />
          <div>
            <a href="#content" class="btn btn-light btn-rounded btn-lg fw-bold py-lg-3 px-lg-5" data-bs-toggle="scroll-link" data-animate="fadeIn" data-animate-delay="0.45"
              >Book Now</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 clearfix">
      <!-- Specials -->
      <div class="container py-4 py-lg-6" id="specials">
        <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
        <h2 class="text-font-slab text-center text-uppercase mt-0 mb-5">Weekly <span class="fw-bold">Specials</span></h2>
        <div class="row text-start">
          <div class="col-lg-4 d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.05">
            <div class="flex-ew card-effect card-effect-3d-over">
              <div class="card-front rounded px-3 pb-3 pt-8 overlay overlay-gradient overlay-op-8" data-bg-img="./assets/img/homes/food-meat.jpg">
                <h2 class="text-white text-uppercase mb-0 display-4 text-font-slab">Mon</h2>
                <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
              </div>
              <div class="card-back rounded bg-dark text-white flex-valign text-center p-3">
                <h3 class="text-font-slab">"Meaty Monday"</h3>
                Meals from just $4.99 including Roast Dinners, Burgers & more..
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.15">
            <div class="flex-ew card-effect card-effect-3d-over">
              <div class="card-front rounded px-3 pb-3 pt-8 overlay overlay-gradient overlay-op-8" data-bg-img="./assets/img/homes/food-breakfast.jpg">
                <h2 class="text-white text-uppercase mb-0 display-4 text-font-slab">Tue</h2>
                <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
              </div>
              <div class="card-back rounded bg-dark text-white flex-valign text-center p-3">
                <h3 class="text-font-slab">"Tasty Tuesday"</h3>
                Meals from just $6.99 including our legendary all-day breakfast!
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.25">
            <div class="flex-ew card-effect card-effect-3d-over">
              <div class="card-front rounded px-3 pb-3 pt-8 overlay overlay-gradient overlay-op-8" data-bg-img="./assets/img/homes/food-burger.jpg">
                <h2 class="text-white text-uppercase mb-0 display-4 text-font-slab">Wed</h2>
                <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
              </div>
              <div class="card-back rounded bg-dark text-white flex-valign text-center p-3">
                <h3 class="text-font-slab">"Wild Wednesday"</h3>
                Burger & a beer for just $6.99!
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.35">
            <div class="flex-ew card-effect card-effect-3d-over">
              <div class="card-front rounded px-3 pb-3 pt-8 overlay overlay-gradient overlay-op-8" data-bg-img="./assets/img/homes/football.jpg">
                <h2 class="text-white text-uppercase mb-0 display-4 text-font-slab">Thurs</h2>
                <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
              </div>
              <div class="card-back rounded bg-dark text-white flex-valign text-center p-3">
                <h3 class="text-font-slab">"Thrilling Thursday"</h3>
                Catch the game on our widescreen display and grab a beer!
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.45">
            <div class="flex-ew card-effect card-effect-3d-over">
              <div class="card-front rounded px-3 pb-3 pt-8 overlay overlay-gradient overlay-op-8" data-bg-img="./assets/img/homes/food-pizza.jpg">
                <h2 class="text-white text-uppercase mb-0 display-4 text-font-slab">Fri</h2>
                <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
              </div>
              <div class="card-back rounded bg-dark text-white flex-valign text-center p-3">
                <h3 class="text-font-slab">"Freakout Friday"</h3>
                Celebrate the weekend with our afterwork buffet from just $6.99!
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.55">
            <div class="flex-ew card-effect card-effect-3d-over">
              <div class="card-front rounded px-3 pb-3 pt-8 overlay overlay-gradient overlay-op-8" data-bg-img="./assets/img/homes/food-plate.jpg">
                <h2 class="text-white text-uppercase mb-0 display-4 text-font-slab">Wkends</h2>
                <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
              </div>
              <div class="card-back rounded bg-dark text-white flex-valign text-center p-3">
                <h3 class="text-font-slab">"Wicked Weekends"</h3>
                All main meals just $3.99 before 6pm!
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video CTA -->
      <div class="bg-dark overlay overlay-op-7" data-bg-video="./assets/videos/drink.mp4" data-animate="fadeIn" data-animate-delay="0.05">
        <div class="container p-5 py-lg-8 d-none d-lg-blockflex-valign text-lg-end">
          <hr class="hr-lg mt-0 mb-2 w-10 ms-0 me-lg-0 ms-lg-auto border-primary" />
          <h2 class="display-4 text-font-slab text-white text-uppercase my-0">Extended <span class="d-block fw-bold">Opening Hours</span></h2>
          <h4 class="text-font-slab text-white text-uppercase my-0">Open 7 days a week!</h4>
        </div>
      </div>
      <!-- Events -->
      <div class="py-6 bg-white position-relative" id="events">
        <i class="fa fa-futbol-o icon-25x icon-rotate-25 position-absolute op-1 top-0 end-0" aria-hidden="true"></i>

        <div class="container" data-animate="fadeIn" data-animate-delay="0.05">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
          <h2 class="text-font-slab text-center text-uppercase mt-0 mb-5">Events <span class="fw-bold">This Week</span></h2>
          <div class="timeline timeline-left mx-lg-10">
            <div class="timeline-breaker">Monday</div>
            <!--Timeline item 1-->
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">West Ham</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">Chelsea</div>
              <div class="col-12 text-xs text-muted">Football - English Premier League - 19:45 GMT</div>
            </div>
            <!--Timeline item 2 - NOTE: the .right class-->
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">Man Utd</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">Liverpool</div>
              <div class="col-12 text-xs text-muted">Football - English Premier League - 19:45 GMT</div>
            </div>
            <div class="timeline-breaker timeline-breaker-middle">Tuesday</div>
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">England</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">India</div>
              <div class="col-12 text-xs text-muted">Cricket - 3rd test - from 10:45 GMT</div>
            </div>
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">New Zealand</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">South Africa</div>
              <div class="col-12 text-xs text-muted">Cricket - 5th test - from 15:45 GMT</div>
            </div>
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">Man Utd</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">Liverpool</div>
              <div class="col-12 text-xs text-muted">Football - Europa League - 19:45 GMT</div>
            </div>
            <div class="timeline-breaker timeline-breaker-middle">Saturday</div>
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">England</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">India</div>
              <div class="col-12 text-xs text-muted">Cricket - 3rd test - from 10:45 GMT</div>
            </div>
            <div class="timeline-item mt-3 row text-center p-2">
              <div class="col fw-bold text-md-end">New Zealand</div>
              <div class="col-1">vs</div>
              <div class="col fw-bold text-md-start">South Africa</div>
              <div class="col-12 text-xs text-muted">Cricket - 5th test - from 15:45 GMT</div>
            </div>
            <div class="timeline-breaker timeline-breaker-bottom">More next week........</div>
          </div>
        </div>
      </div>
      <!-- Gallery -->
      <div class="py-6 bg-dark text-white bg-img-contain" data-animate="fadeIn" data-animate-delay="0.15" id="gallery">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <hr class="hr-lg mt-0 mb-2 w-20 ms-0 border-primary" />
              <h2 class="text-font-slab text-uppercase text-white mt-0 mb-5">Inside Our <span class="fw-bold">Bar</span></h2>
              <p class="op-8">
                Abluo eligo erat et facilisi haero ideo typicus ullamcorper. Accumsan duis eligo et exputo jumentum quidne tincidunt veniam. Antehabeo distineo iaceo in nobis quae
                quia.
              </p>
              <p class="op-8">
                Adipiscing elit singularis tum turpis. Aliquip ea esse ex melior sed tincidunt velit. Ille melior mos obruo os paulatim scisco turpis typicus. Genitus gravis jus
                olim typicus ut.
              </p>
              <p class="op-8">
                Autem commodo genitus mauris pneum utinam. Duis eum feugiat luctus ludus quia utrum vero. Capto interdico quae. Consequat distineo feugiat iaceo nutus obruo si vero
                voco.
              </p>
            </div>
            <div class="col-lg-8">
              <!-- Gallery carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
              <div class="product-gallery position-relative">
                <div
                  class="owl-carousel owl-nav-over"
                  id="bar-gallery"
                  data-bs-toggle="owl-carousel"
                  data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
                >
                  <img src="./assets/img/homes/bar-1.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                  <img src="./assets/img/homes/bar-2.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                  <img src="./assets/img/homes/bar-3.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                  <img src="./assets/img/homes/bar-4.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                  <img src="./assets/img/homes/bar-5.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                  <img src="./assets/img/homes/bar-6.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                  <img src="./assets/img/homes/bar-7.jpg" alt="Bar photo " class="lazyOwl img-fluid" width="200" />
                </div>
                <div class="owl-thumbs" data-bs-toggle="owl-carousel" data-owl-carousel-thumbs="#bar-gallery" data-owl-carousel-settings='{"nav":false, "dots":false, "margin":5}'>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-1.jpg" alt="Card image cap" />
                  </a>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-2.jpg" alt="Card image cap" />
                  </a>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-3.jpg" alt="Card image cap" />
                  </a>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-4.jpg" alt="Card image cap" />
                  </a>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-5.jpg" alt="Card image cap" />
                  </a>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-6.jpg" alt="Card image cap" />
                  </a>
                  <a class="owl-thumb">
                    <img class="img-fluid" src="./assets/img/homes/bar-7.jpg" alt="Card image cap" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Book -->
      <div id="book" class="py-5 bg-light">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
            <h2 class="text-center text-uppercase fw-bold my-0">Book Now</h2>
            <h5 class="text-center fw-light mt-2 mb-4 op-5">Party and group bookings also available</h5>
          </div>
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5">
              <div class="google-map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804"
                  width="600"
                  height="450"
                  style="border: 0"
                ></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <form id="contact-form" action="#" data-animate="fadeIn" data-animate-delay="0.4">
                <div class="mb-3">
                  <label class="visually-hidden" for="contact-name">Name</label>
                  <input type="text" class="form-control form-control-transparent" id="contact-name" placeholder="Name" />
                  <hr class="hr-inverse mx-auto mt-1 mb-0" />
                </div>
                <div class="mb-3">
                  <label class="visually-hidden" for="contact-email">Email</label>
                  <input type="email" class="form-control form-control-transparent" id="contact-email" placeholder="Email" />
                  <hr class="hr-inverse mx-auto mt-1 mb-0" />
                </div>
                <div class="mb-3">
                  <label class="visually-hidden" for="contact-message">Message</label>
                  <textarea rows="5" class="form-control form-control-transparent" id="contact-message" placeholder="Message"></textarea>
                  <hr class="hr-inverse mx-auto mt-1 mb-0" />
                </div>
                <input type="button" class="btn btn-dark btn-lg" value="Send Message" />
              </form>
            </div>
            <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
              <h4 class="mb-1 fw-bold">AppStrap Bar & Grill.</h4>
              <p class="mb-1">
                <abbr title="Address"><i class="fa fa-home pe-2"></i></abbr>
                Sunshine House, Sunville. SUN12 8LU.
              </p>
              <p class="mb-1">
                <abbr title="Email"><i class="fa fa-envelope pe-2"></i></abbr>
                info@appstrap.me
              </p>
              <p class="mb-4">
                <abbr title="Phone"><i class="fa fa-phone pe-2"></i></abbr>
                019223 8092344
              </p>
              <h4>Opening Times:</h4>
              <p class="mb-0"><span class="fw-bold text-uppercase">Monday:</span> 16:00 - 24:00</p>
              <p class="mb-0"><span class="fw-bold text-uppercase">Tuesday:</span> 16:00 - 24:00</p>
              <p class="mb-0"><span class="fw-bold text-uppercase">Wednesday:</span> 16:00 - 24:00</p>
              <p class="mb-0"><span class="fw-bold text-uppercase">Thursday:</span> 16:00 - 24:00</p>
              <p class="mb-0"><span class="fw-bold text-uppercase">Friday:</span> 15:00 - 01:00</p>
              <p class="mb-0"><span class="fw-bold text-uppercase">Saturday:</span> 13:00 - 01:00</p>
              <p class="mb-0"><span class="fw-bold text-uppercase">Sunday:</span> 13:00 - 23:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
