<!-- 
{
  "pageTitle": "Freelancer Homepage",
  "pageKey": "index-freelancer-portfolio",
  "pageActiveTrail": [
    "index"
  ],
  "headerSticky": false,
  "headerSearch": false,
  "colourScheme": "purple",
  "headerSearchRegion": false,
  "headerOffcanvas": false,
  "headerShoppingCart": false,
  "mobileMenuType": "collapse",
  "mobileMenuTarget": "#submenu",
  "bodyClass": "page-onepager",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-4 btn btn-link btn-icon text-white",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-4 my-0 fw-light text-letter-spacing-sm text-font-base text-white",
  "navbarClass": "navbar-dark py-2 bg-dark bg-op-9 border-bottom-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "navbar-dark navbar-nav-onepager",
  "navbarSecondaryClass": "order-lg-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavClass": "link-effect-underline",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Freelancer Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %} data-offset-elements="#header">
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div
      id="header"
      class="w-100 position-fixed top-0 scroll-state-hidden"
      data-scroll="scroll-state"
      data-scroll-amount="500"
      data-scroll-setting='{"effectIn":"slideInDown", "effectOut":"slideOutUp", "effectDuration":"0.3", "breakpoint":"992"}'
    >
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Web Developer' %} {% set siteName = 'Clinton <span class="fw-bold">Jones</span>' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0">
        <!-- one pager navigation -->
        <ul class="navbar-nav navbar-dark navbar-nav-onepager">
          <li class="nav-item">
            <a href="#top" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-underline">
              <i class="fa fa-home nav-link-icon"></i> <span class="d-none">Home</span>
            </a>
          </li>

          <li class="nav-item"><a href="#services" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-underline"> Services </a></li>
          <li class="nav-item"><a href="#about" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-underline"> About </a></li>
          <li class="nav-item"><a href="#portfolio" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-underline"> Portfolio </a></li>
          <li class="nav-item"><a href="#experience" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-underline"> Experience </a></li>
          <li class="nav-item"><a href="#contact" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-underline"> Contact </a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="border-bottom-0 bg-dark">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the class .vh-100 -->
      <div
        class="vh-lg-100 bg-white overlay overlay-op-8 text-center text-lg-start pt-8 pb-7 flex-valign"
        data-bg-img="./assets/img/backgrounds/freelancer.jpg"
        data-css='{"background-position": "center top","background-attachment": "fixed"}'
        data-scroll="scrollax"
        data-scrollax-y-ratio="off"
      >
        <div class="container">
          <h4 class="text-white fw-normal text-uppercase mb-0" data-animate="fadeIn" data-animate-delay="0.2">Clinton Jones</h4>
          <h2 class="display-3 text-white mb-0 text-letter-spacing-xs d-inline-block">
            <span data-animate="fadeIn" data-animate-delay="0.4">Web</span>
            <span
              class="fw-bold"
              data-typed='["Developer", "Designer", "Entrepreneur"]'
              data-typed-settings='{"delay":1000, "speed":200,"breakLines":false, "deleteDelay":1500}'
            ></span>
          </h2>
          <a
            href="#services"
            data-bs-toggle="scroll-link"
            class="bg-primary bg-op-7 text-white icon-sq rounded-circle ms-3 mt-n5 d-none d-lg-inline-block align-items-center"
            data-animate="fadeIn"
            data-animate-delay="0.8"
          >
            <i class="fa fa-chevron-down mt-1"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 clearfix">
      <!-- Services -->
      <div id="services" class="bg-white">
        <div class="container py-6" data-animate="fadeIn">
          <h2 class="text-dark display-4 fw-bold mb-3 text-letter-spacing-xs">Services</h2>
          <div class="row text-center">
            <div class="col-lg-4 py-2">
              <i
                class="ion-social-usd-outline icon-3x icon-sq bg-primary text-white rounded-circle bg-shadow"
                data-animate="fadeIn"
                data-animate-delay="0.1"
                data-hover="bounceOut"
                data-hover-out="bounceIn"
              ></i>
              <h4 class="mt-2">eCommerce</h4>
              <p class="mb-2">Abbas Aliquip Eu Euismod Huic Inhibeo Magna Saepius Typicus Wisi</p>
              <a href="#" class="text-sm fw-bold">Read More <i class="ion-ios-arrow-forward ps-1"></i></a>
            </div>
            <div class="col-lg-4 py-2">
              <i
                class="lnr lnr-spell-check icon-3x icon-sq bg-primary text-white rounded-circle bg-shadow"
                data-animate="fadeIn"
                data-animate-delay="0.2"
                data-hover="bounceOut"
                data-hover-out="bounceIn"
              ></i>
              <h4 class="mt-2">Copy Writing</h4>
              <p class="mb-2">Accumsan Aliquip Eu Humo Jus Lenis Macto Mauris Saepius Vel</p>
              <a href="#" class="text-sm fw-bold">Read More <i class="ion-ios-arrow-forward ps-1"></i></a>
            </div>
            <div class="col-lg-4 py-2">
              <i
                class="ion-ios-camera-outline icon-3x icon-sq bg-primary text-white rounded-circle bg-shadow"
                data-animate="fadeIn"
                data-animate-delay="0.3"
                data-hover="bounceOut"
                data-hover-out="bounceIn"
              ></i>
              <h4 class="mt-2">Picture Perfect</h4>
              <p class="mb-2">At Consequat Nimis Pagus Probo Roto Verto Voco Vulputate Zelus</p>
              <a href="#" class="text-sm fw-bold">Read More <i class="ion-ios-arrow-forward ps-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- About -->
      <div id="about" class="bg-primary text-white">
        <div class="container py-6" data-animate="fadeIn">
          <h2 class="text-white display-4 fw-bold mb-3 text-letter-spacing-xs">About</h2>
          <div class="row">
            <div class="col-lg-4 order-lg-2">
              <img src="./assets/img/homes/cv-portfolio.jpg" alt="Me" class="img-fluid rounded-circle op-7 border-white border-w-5 w-30 w-lg-80 mt-lg-n4 d-none d-lg-block" />
            </div>
            <div class="col-lg-8">
              <p class="lead">Macto molior ymo. Esca lobortis praesent sino.</p>
              <p>Nostrud singularis tamen. Commodo exputo lucidus ludus magna mauris melior secundum sino verto. Inhibeo lobortis lucidus odio persto te.</p>
              <p class="mb-0">
                Minim natu nutus turpis. Amet damnum turpis. Erat et mos pneum sagaciter si validus vulputate. Facilisi nunc pecus quibus. Abico aliquam antehabeo appellatio
                conventio dolor eu euismod facilisi refero. Accumsan decet et euismod ex hos jumentum luptatum ut.
              </p>
              <p>Et neo premo similis validus. Imputo nulla paulatim. Cogo lucidus quidne ullamcorper. Esse quia singularis suscipit tum.</p>
            </div>
          </div>
          <hr class="border-white op-3 mt-6 mb-0" />
          <div id="skills" class="pt-6" data-animate="fadeIn">
            <h2 class="text-white display-4 fw-bold mb-3 text-letter-spacing-xs">Skills</h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <h5 class="d-flex mt-0 op-8"><i class="fab fa-fw fa-html5 me-2"></i> HTML5 (68%)</h5>
                  <div class="progress">
                    <div
                      class="progress-bar py-1 w-68 bg-dark bg-op-6"
                      data-bs-toggle="progress-bar-animated-progress"
                      role="progressbar"
                      aria-valuenow="68"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <div class="mb-4">
                  <h5 class="d-flex mt-0 op-8"><i class="fab fa-fw fa-css3 me-2"></i> CSS3 (60%)</h5>
                  <div class="progress">
                    <div
                      class="progress-bar py-1 w-60 bg-dark bg-op-6"
                      data-bs-toggle="progress-bar-animated-progress"
                      role="progressbar"
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <div class="mb-4">
                  <h5 class="d-flex mt-0 op-8"><i class="fab fa-fw fa-linux me-2"></i> System Admin (60%)</h5>
                  <div class="progress">
                    <div
                      class="progress-bar py-1 w-60 bg-dark bg-op-6"
                      data-bs-toggle="progress-bar-animated-progress"
                      role="progressbar"
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <h5 class="d-flex mt-0 op-8"><i class="fab fa-fw fa-android me-2"></i> Android (69%)</h5>
                  <div class="progress">
                    <div
                      class="progress-bar py-1 w-69 bg-dark bg-op-6"
                      data-bs-toggle="progress-bar-animated-progress"
                      role="progressbar"
                      aria-valuenow="69"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <div class="mb-4">
                  <h5 class="d-flex mt-0 op-8"><i class="fab fa-fw fa-windows me-2"></i> Windows (96%)</h5>
                  <div class="progress">
                    <div
                      class="progress-bar py-1 w-96 bg-dark bg-op-6"
                      data-bs-toggle="progress-bar-animated-progress"
                      role="progressbar"
                      aria-valuenow="96"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <div class="mb-4">
                  <h5 class="d-flex mt-0 op-8"><i class="fab fa-fw fa-github-alt me-2"></i> GitHub (93%)</h5>
                  <div class="progress">
                    <div
                      class="progress-bar py-1 w-93 bg-dark bg-op-6"
                      data-bs-toggle="progress-bar-animated-progress"
                      role="progressbar"
                      aria-valuenow="93"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-primary my-0" />
      <!-- work -->
      <div id="portfolio" class="py-6 bg-light">
        <div class="container">
          <h2 class="text-dark display-4 fw-bold text-letter-spacing-xs" data-animate="fadeIn">Portfolio</h2>
          <div id="portfolio-filters" class="cbp-l-filters-alignCenter text-start mb-3">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-uppercase">
              All
              <div class="cbp-filter-counter"></div>
            </div>
            /

            <div data-filter=".web" class="cbp-filter-item text-uppercase">
              web
              <div class="cbp-filter-counter"></div>
            </div>
            /
            <div data-filter=".identity" class="cbp-filter-item text-uppercase">
              identity
              <div class="cbp-filter-counter"></div>
            </div>
            /
            <div data-filter=".graphics" class="cbp-filter-item text-uppercase">
              graphics
              <div class="cbp-filter-counter"></div>
            </div>
          </div>
        </div>
        <div class="container">
          <div
            class="mt-4"
            data-bs-toggle="cbp"
            data-settings='{ "layoutMode":"grid", "filters":"#portfolio-filters", "gapHorizontal": 30, "gapVertical": 30, "animationType":"3dflip", "displayType":"sequentially", "mediaQueries": [ {
"width": "800",
"cols": "3" }, {
"width": "480",
"cols": "2" }, {
"width": 0,
"cols": 1 } ] }'
          >
            <!--Project item 1-->
            <div class="col-lg-4 cbp-item web">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 2-->
            <div class="col-lg-4 cbp-item identity">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 3-->
            <div class="col-lg-4 cbp-item graphics">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 4-->
            <div class="col-lg-4 cbp-item web">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 5-->
            <div class="col-lg-4 cbp-item web">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 6-->
            <div class="col-lg-4 cbp-item graphics">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 7-->
            <div class="col-lg-4 cbp-item graphics">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-7-sm.jpg" alt="Project 7" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 8-->
            <div class="col-lg-4 cbp-item web">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-8-sm.jpg" alt="Project 8" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>

            <!--Project item 9-->
            <div class="col-lg-4 cbp-item identity">
              <div class="card bg-shadow mb-0">
                <a href="ajax/freelancer-portfolio-project.html" class="project overlay-hover cbp-caption cbp-singlePageInline">
                  <img src="assets/img/projects/project-9-sm.jpg" alt="Project 9" class="img-fluid rounded" />
                  <span class="overlay-hover-content overlay-primary overlay-op-9"> <i class="ion-android-add icon-4x text-white"></i> </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-muted my-0" />
      <!-- experience -->
      <div id="experience" class="py-6" data-animate="fadeIn">
        <div class="container">
          <h2 class="text-dark display-4 fw-bold mb-3 text-letter-spacing-xs">Experience</h2>
          <div
            class="owl-thumbs carousel-timeline-nav"
            data-bs-toggle="owl-carousel"
            data-owl-carousel-thumbs="#experience-timeline"
            data-owl-carousel-settings='{"items":4, "nav":false, "dots":false, "merge":true, "mergeFit":true}'
          >
            <a class="owl-thumb text-sm text-uppercase">Feb 2010</a> <a class="owl-thumb text-sm text-uppercase">Mar 2010</a>
            <a class="owl-thumb text-sm text-uppercase" data-merge="2">Jul 2010</a> <a class="owl-thumb text-sm text-uppercase">Sep 2010</a>
            <a class="owl-thumb text-sm text-uppercase" data-merge="2">Jan 2011</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">May 2011</a>
            <a class="owl-thumb text-sm text-uppercase" data-merge="2">Jul 2012</a> <a class="owl-thumb text-sm text-uppercase">Aug 2012</a>
          </div>
          <div
            class="owl-carousel owl-overflow owl-highlight-active owl-equalheight"
            id="experience-timeline"
            data-bs-toggle="owl-carousel"
            data-owl-carousel-settings='{"items":1,"nav":true, "dots":false}'
          >
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-2.png" alt="TSU" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Feb 2010 - Jul 2010</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">TSU</a>
                  </p>

                  <p>Gilvus sudo vindico. Eum hos suscipere. Caecus facilisis imputo paratus ulciscor. Abigo adipiscing eum magna mos occuro patria.</p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-3.png" alt="Bergman Foremann" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Mar 2010 - Nov 2010</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Bergman Foremann</a>
                  </p>

                  <p>Adipiscing dolus inhibeo iusto pala quibus roto volutpat. Inhibeo laoreet nutus obruo os patria quis vereor. Fere persto tamen.</p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-4.png" alt="PinPixel" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Jul 2010 - Jun 2011</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Server Support Manager</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">PinPixel</a>
                  </p>

                  <p>
                    Dolor jumentum loquor torqueo. Et exerci iustum paratus suscipit volutpat. Acsi esca jumentum neque odio plaga. Comis fere persto plaga quidne refero refoveo
                    roto wisi.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-5.png" alt="FNC" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Sep 2010 - Mar 2011</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">FNC</a>
                  </p>

                  <p>
                    Acsi conventio ea tamen. Abdo interdico jumentum macto modo oppeto paratus populus virtus. Augue ex hos inhibeo nimis quia si. Acsi adipiscing consectetuer
                    conventio metuo praesent velit venio. Eros populus si voco.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-6.png" alt="Siqueira" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Jan 2011 - Aug 2011</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Siqueira</a>
                  </p>

                  <p>
                    Abdo commoveo humo lucidus vero voco ymo. Aliquip appellatio consequat ea illum in inhibeo populus roto. At blandit comis dolus eum exputo valde. Exputo
                    valetudo voco. Aptent humo torqueo utinam.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-7.png" alt="Bouldrian" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">May 2011 - May 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Server Support Manager</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Bouldrian</a>
                  </p>

                  <p>Letalis neque vero. Luctus tego zelus. Loquor sed te utrum ymo. Ad exerci exputo ille magna molior oppeto quadrum quidne validus.</p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-8.png" alt="Krollon" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Jul 2012 - Dec 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Krollon</a>
                  </p>

                  <p>
                    Ad aliquip bene commoveo dolor melior neo. Ad diam eum ille imputo luctus nutus tamen ulciscor. Fere ratis scisco. Gemino jugis magna nisl probo quidne saluto
                    singularis ut zelus. Abigo gilvus imputo quis. Appellatio humo quae singularis.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-9.png" alt="Stern Hegoland" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Aug 2012 - Oct 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Stern Hegoland</a>
                  </p>

                  <p>Enim facilisi hendrerit meus paratus persto utinam vel voco. Aptent lucidus ut. At ibidem macto. Abbas incassum nostrud quidem si sit tation ulciscor ut.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Client Feedback -->
      <div id="clients">
        <div class="overlay overlay-primary py-6 text-center" data-bg-img="./assets/img/backgrounds/faces.jpg" data-animate="fadeIn">
          <div class="container">
            <h2 class="display-4 fw-bold text-letter-spacing-xs text-white">100s of Happy clients!</h2>
          </div>
        </div>
        <div class="container bg-white pt-5 pb-7">
          <div class="row g-1">
            <div class="col-6 col-lg-3">
              <!--Customer 1-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 2-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 3-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 4-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 5-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 6-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 7-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 8-->
              <div class="bg-light py-2 px-6">
                <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-block btn-lg py-4 fw-bold text-uppercase"
        >Buy AppStrap Now</a
      >
      <hr class="hr-muted my-0" />
      <!-- Contact-->
      <div
        id="contact"
        class="overlay overlay-white overlay-op-8 py-6"
        data-animate="fadeIn"
        data-bg-img="./assets/img/backgrounds/map.jpg"
        data-css='{"background-position": "center center","background-attachment": "fixed"}'
      >
        <div class="container">
          <h2 class="text-dark display-4 fw-bold text-letter-spacing-xs">Hire Me</h2>
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-6">
              <form id="contact-form" action="#">
                <div class="mb-3" data-animate="fadeIn" data-animate-delay="0.2">
                  <label class="visually-hidden" for="contact-name">Name</label>
                  <input type="text" class="form-control bg-white bg-op-5 bg-shadow" id="contact-name" placeholder="Name" />
                </div>
                <div class="mb-3" data-animate="fadeIn" data-animate-delay="0.3">
                  <label class="visually-hidden" for="contact-email">Email</label>
                  <input type="email" class="form-control bg-white bg-op-5 bg-shadow" id="contact-email" placeholder="Email" />
                </div>
                <div class="mb-3" data-animate="fadeIn" data-animate-delay="0.4">
                  <label class="visually-hidden" for="contact-message">Message</label>
                  <textarea rows="5" class="form-control bg-white bg-op-5 bg-shadow" id="contact-message" placeholder="Message"></textarea>
                </div>
                <input type="button" class="btn btn-outline-primary btn-lg btn-block border-2" value="Send Message" />
              </form>
            </div>
            <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.5">
              <h4 class="mb-1 fw-bold">Clinton Jones Inc.</h4>
              <p class="mb-1">
                <abbr title="Address"><i class="fa fa-home pe-2"></i></abbr>
                Sunshine House, Sunville. SUN12 8LU.
              </p>
              <p class="mb-1">
                <abbr title="Email"><i class="fa fa-envelope pe-2"></i></abbr>
                info@appstrap.me
              </p>
              <p class="mb-0">
                <abbr title="Phone"><i class="fa fa-phone pe-2"></i></abbr>
                019223 8092344
              </p>
              <h5 class="fw-bold mt-4">Current Availability:</h5>
              <div class="progress w-60 mt-2" data-bs-toggle="tooltip" data-bs-placement="top" title="20 hours / week available">
                <div class="progress-bar w-70 progress-bar-sm bg-primary py-1" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="70"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
