<!-- 
{
  "pageTitle": "Technology Homepage",
  "pageKey": "index-technology",
  "pageActiveTrail": [
    "pages"
  ],
  "colourScheme": "blue",
  "headerNavbarToggle": false,
  "headerOffcanvas": true,
  "headerNavbarNavVrHide": true,
  "mobileMenuType": false,
  "headerShoppingCart": false,
  "mobileMenuBtnText": "",
  "mobileMenuTarget": "#submenu",
  "bodyClass": "page-onepager",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3",
  "navbarClass": "position-absolute w-100 bg-white navbar-light border-bottom py-3 transition mt-n8 py-3 sticky-mt-0 border border-bottom",
  "navbarContainerClass": "container-xl position-relative",
  "navbarContainerClasses": "py-2",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "position-fixed zindex-fixed top-50 start-0 translate-middle-y start-0 py-2 px-3 bg-dark",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "flex-column align-items-center navbar-nav-dots",
  "navbarSecondaryClass": "order-lg-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavActiveClass": "op-auto",
  "onepagerNavClass": "text-light op-5 py-2",
  "onepagerNavDotsCollapseClass": "show",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Technology Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Technology' %} {% set siteName = 'AppStrap' %} {% block headerNavbarNav %}
      <!--Fixed dots menu-->
      <div class="navbar-main position-fixed zindex-fixed top-50 start-0 translate-middle-y start-0 py-2 px-3 bg-dark">
        <a data-bs-toggle="collapse" href="#navbar-collapse"> <i class="ion-android-menu text-white icon-1x"></i> </a>
        <div class="collapse show" id="navbar-collapse">
          <!--main navigation-->
          <ul class="nav navbar-nav flex-column align-items-center navbar-nav-dots">
            <li class="nav-item">
              <a href="#top" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link text-light op-5 py-2">
                <i class="fa fa-home nav-link-icon"></i> <span class="d-none">Home</span>
              </a>
            </li>

            <li class="nav-item">
              <a href="#highlighted" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link text-light op-5 py-2">
                <i class="far fa-dot-circle" data-bs-toggle="tooltip" title="Home" data-bs-placement="left"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link text-light op-5 py-2">
                <i class="far fa-dot-circle" data-bs-toggle="tooltip" title="About" data-bs-placement="left"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#services" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link text-light op-5 py-2">
                <i class="far fa-dot-circle" data-bs-toggle="tooltip" title="Services" data-bs-placement="left"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#projects" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link text-light op-5 py-2">
                <i class="far fa-dot-circle" data-bs-toggle="tooltip" title="Projects" data-bs-placement="left"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#contact" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link text-light op-5 py-2">
                <i class="far fa-dot-circle" data-bs-toggle="tooltip" title="Contact" data-bs-placement="left"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block navbarSecondaryContent %}<a
        href="#contact"
        data-toggle="scroll-link"
        class="d-none d-md-block btn btn-primary btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0 px-3 py-2"
        >Contact Us</a
      >{% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black position-md-relative">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div class="overlay overlay-op-4 text-start" data-animate="fadeIn" data-bg-img="./assets/img/index-technology/banner-1.jpg">
        <div class="vh-100 container px-md-3 py-5 pt-md-6 py-md-5 flex-valign text-white">
          <h2 class="display-3 fw-bold mt-lg-7 my-md-0">Make Better. Faster.</h2>
          <h2 class="display-4 fw-normal">Decisions with Data.</h2>
          <p class="lead my-md-4 w-md-50">Delicata expetendis cu per. Quo cibo deserunt periculis at, ponderum lucilius ad pri. Est no iudico labores expetenda.</p>
          <div>
            <a href="#about" data-bs-toggle="scroll-link" data-animate-delay="0.6"><i class="icon-3x ion-ios-play-outline"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!-- concerts -->
      <div id="about">
        <div class="py-4 pt-md-6 py-md-5">
          <div class="container text-center w-100 w-lg-70">
            <h2 class="h1 fw-bold my-0 text-primary">Features</h2>
            <h5 class="h5 fw-normal my-0 op-7">01</h5>
            <div class="row text-center mx-auto mt-3 mt-md-5">
              <div class="col-md-4 py-2">
                <i class="ion-ios-browsers-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
                <h4 class="mt-2">Flexible Interface</h4>
                <p class="op-7">Fixed headers are fairly common owadays with</p>
              </div>
              <div class="col-md-4 py-2">
                <i class="ion-ios-grid-view-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
                <h4 class="mt-2">Clean Design</h4>
                <p class="op-7">Fixed headers are fairly common nowadays with</p>
              </div>
              <div class="col-md-4 py-2">
                <i class="ion-ios-minus-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
                <h4 class="mt-2">Features & Updates</h4>
                <p class="op-7">Fixed headers are fairly common nowadays with</p>
              </div>
            </div>
          </div>
        </div>
        <div class="py-4 py-lg-6 bg-op-2 bg-grey">
          <div class="container w-100 w-lg-80">
            <div class="text-center">
              <h2 class="h1 fw-bold my-0 text-primary">Latest Updates</h2>
              <h5 class="h5 fw-normal op-7">02</h5>
            </div>
            <div class="mx-auto">
              <div
                class="fade mt-3 mt-md-5 card-group owl-nav-center owl-nav-text owl-equalheight"
                data-bs-toggle="owl-carousel"
                data-owl-carousel-settings='{"loadedClass":"owl-loaded show", "loadingClass":"loading", "navText":["prev","next"], "items": 3, "lazyLoad":true, "nav":true, "dots":false,"responsive":{ "0":{"items":1}, "768":{"items":3}}, "loop":true }'
              >
                <!-- News item 1 -->
                <div class="card px-4 py-5 mb-3" data-url="#">
                  <h6 class="op-2 mb-3 op-7">Aug 29/2024</h6>
                  <div class="card-block">
                    <h4 class="card-title mb-4 op-8">In nominavi antiopam mea, viris nullam ceteros cu mea.</h4>
                    <p class="card-text mb-3 op-8">
                      Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                    </p>
                    <p class="card-text mb-3 op-8">
                      Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                    </p>
                    <div class="text-center">
                      <a href="#" class="op-7"><i class="ion-ios-arrow-thin-right icon-3x text-light-dark"></i></a>
                    </div>
                  </div>
                </div>
                <!-- News item 2 -->
                <div class="card px-4 py-5 mb-3" data-url="#">
                  <h6 class="op-2 mb-3 op-7">Sep 2/2024</h6>
                  <div class="card-block">
                    <h4 class="card-title mb-4 op-8">In nominavi antiopam mea, viris nullam ceteros cu mea.</h4>
                    <p class="card-text mb-3 op-8">
                      Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                    </p>
                    <p class="card-text mb-3 op-8">
                      Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                    </p>
                    <div class="text-center">
                      <a href="#" class="op-7"><i class="ion-ios-arrow-thin-right icon-3x text-light-dark"></i></a>
                    </div>
                  </div>
                </div>
                <!-- News item 3 -->
                <div class="card px-4 py-5 mb-3" data-url="#">
                  <h6 class="op-2 mb-3 op-7">Jul 24/2024</h6>
                  <div class="card-block">
                    <h4 class="card-title mb-4 op-8">In nominavi antiopam mea, viris nullam ceteros cu mea.</h4>
                    <p class="card-text mb-3 op-8">
                      Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                    </p>
                    <p class="card-text mb-3 op-8">
                      Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                    </p>
                    <div class="text-center">
                      <a href="#" class="op-7"><i class="ion-ios-arrow-thin-right icon-3x text-light-dark"></i></a>
                    </div>
                  </div>
                </div>
                <!-- News item 4 -->
                <div class="card px-4 py-5 mb-3" data-url="#">
                  <h6 class="op-2 mb-3 op-7">Aug 6/2024</h6>
                  <div class="card-block">
                    <h4 class="card-title mb-4 op-8">In nominavi antiopam mea, viris nullam ceteros cu mea.</h4>
                    <p class="card-text mb-3 op-8">
                      Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                    </p>
                    <p class="card-text mb-3 op-8">
                      Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                    </p>
                    <div class="text-center">
                      <a href="#" class="op-7"><i class="ion-ios-arrow-thin-right icon-3x text-light-dark"></i></a>
                    </div>
                  </div>
                </div>
                <!-- News item 5 -->
                <div class="card px-4 py-5 mb-3" data-url="#">
                  <h6 class="op-2 mb-3 op-7">Sep 6/2024</h6>
                  <div class="card-block">
                    <h4 class="card-title mb-4 op-8">In nominavi antiopam mea, viris nullam ceteros cu mea.</h4>
                    <p class="card-text mb-3 op-8">
                      Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                    </p>
                    <p class="card-text mb-3 op-8">
                      Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                    </p>
                    <div class="text-center">
                      <a href="#" class="op-7"><i class="ion-ios-arrow-thin-right icon-3x text-light-dark"></i></a>
                    </div>
                  </div>
                </div>
                <!-- News item 6 -->
                <div class="card px-4 py-5 mb-3" data-url="#">
                  <h6 class="op-2 mb-3 op-7">Jul 18/2024</h6>
                  <div class="card-block">
                    <h4 class="card-title mb-4 op-8">In nominavi antiopam mea, viris nullam ceteros cu mea.</h4>
                    <p class="card-text mb-3 op-8">
                      Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                    </p>
                    <p class="card-text mb-3 op-8">
                      Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                    </p>
                    <div class="text-center">
                      <a href="#" class="op-7"><i class="ion-ios-arrow-thin-right icon-3x text-light-dark"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 pt-md-6 py-md-5 py-md-5 bg-op-5 bg-white">
        <div class="container w-100 w-lg-70">
          <div class="row my-2">
            <div class="col-lg-6 d-sm-flex">
              <img class="card-img-top img-fluid" src="./assets/img/index-technology/vision.jpg" alt="Card image cap" />
            </div>
            <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center">
              <div class="me-auto py-0 ps-lg-5 my-3 my-md-0">
                <h2 class="display-4 mt-3 mt-lg-0">Our vision And Philosophy</h2>
                <p class="line-height-30 py-md-2 op-7">
                  Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.
                </p>

                <p></p>
                <p class="py-md-2 op-7">
                  Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
                </p>
                <a href="#" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="services" class="py-4 pt-md-6 py-md-5 bg-primary bg-op-1">
      <div class="container text-center w-100 w-lg-70">
        <h2 class="h1 fw-bold my-0 text-primary">Our Services</h2>
        <h5 class="h5 fw-normal my-0 op-5">03</h5>
        <div class="row mt-3 mt-md-5">
          <div class="col-md-4 pe-md-0 d-sm-flex align-content-center">
            <div class="p-4 card border-0 w-100">
              <i class="ion-ios-briefcase-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
              <h4 class="mt-2">Business & Consulting</h4>
              <p class="op-7">Fixed headers are fairly common owadays with</p>
            </div>
          </div>
          <div class="col-md-4 d-sm-flex align-content-center">
            <div class="p-4 card border-0 w-100">
              <i class="ion-ios-paperplane-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
              <h4 class="mt-2">Interface Design</h4>
              <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
          </div>
          <div class="col-md-4 ps-md-0 d-sm-flex align-content-center">
            <div class="p-4 card border-0 w-100">
              <i class="ion-ios-bolt-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
              <h4 class="mt-2">Seo Services</h4>
              <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pe-md-0 d-sm-flex align-content-center">
            <div class="p-4 card border-0 w-100">
              <i class="ion-ios-email-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
              <h4 class="mt-2">Email Marketing</h4>
              <p class="op-7">Fixed headers are fairly common owadays with</p>
            </div>
          </div>
          <div class="col-md-4 d-sm-flex align-content-center">
            <div class="p-4 card border-0 w-100">
              <i class="ion-ios-gear-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
              <h4 class="mt-2">Development</h4>
              <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
          </div>
          <div class="col-md-4 ps-md-0 d-sm-flex align-content-center">
            <div class="card border-0 w-100">
              <div class="px-4 py-4">
                <p class="mt-3 op-7">Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentur.</p>
                <a href="#" class="mb-1 py-3 px-4 btn btn-block btn-primary btn-shadow btn-flat btn-bold text-uppercase text-letter-spacing rounded-0">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="projects" class="py-4 pt-md-6 py-md-6 bg-white bg-op-1">
      <div class="container w-100 w-lg-70">
        <h2 class="h1 fw-bold my-0 text-primary text-center">Latest Projects</h2>
        <h5 class="h5 fw-normal my-0 op-5 text-center">04</h5>
        <div class="row mt-3 mt-md-5">
          <div class="col-lg-6 d-sm-flex">
            <img class="card-img-top img-fluid mt-3 mt-lg-0" src="./assets/img/index-technology/project-1.jpg" alt="Card image cap" />
          </div>
          <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center">
            <div class="pe-lg-5 my-3 my-md-0">
              <h2 class="display-4 mt-3 mt-lg-0">Project Name Here</h2>
              <p class="py-lg-2 op-7">Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.</p>

              <p></p>
              <p class="py-lg-2 op-7">
                Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
              </p>
              <a href="#" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See More</a>
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse">
          <div class="col-lg-6 d-sm-flex">
            <img class="card-img-top img-fluid mt-3 mt-lg-0" src="./assets/img/index-technology/project-2.jpg" alt="Card image cap" />
          </div>
          <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center">
            <div class="ms-auto pe-lg-5 my-3 my-md-0">
              <h2 class="display-4 mt-3 mt-lg-0">Project Name Here</h2>
              <p class="py-md-2 op-7">Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire, idque expetenda vix ea.</p>

              <p></p>
              <p class="py-md-2 op-7">
                Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
              </p>
              <a href="#" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="contact" class="py-4 pt-md-6 pb-md-10 bg-primary text-white">
      <div class="container text-center">
        <h2 class="display-4 my-0 fw-light text-font-alt">Have a Project?</h2>
        <p class="mt-md-0 lead">Call us or send us an email</p>
        <div class="row justify-content-around mb-6">
          <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-phone icon-2x me-2"></i>0880 876 65 455</div>
          <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-envelope icon-2x me-2"></i>text@appstrap.com</div>
          <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-globe icon-2x me-2"></i>90 Fifth Avenue, 3rd floor</div>
        </div>
        <div class="text-center">
          <h6 class="fw-normal mb-2 mt-0 text-white text-uppercase text-letter-spacing">Find us on social media:</h6>
          <!--@todo: replace with company social media details-->
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-youtube"></i></a>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-facebook"></i></a>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-instagram"></i></a>
        </div>
      </div>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
