<!-- 
{
  "pageTitle": "Jobs Homepage",
  "pageKey": "index-jobs",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSticky": false,
  "headerSearch": false,
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "footerType": "compact",
  "headerNavbarNavVrHide": true,
  "bodyClass": "header-ontop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "btn btn-link btn-icon text-white op-6 header-btn float-end",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "navbar-dark bg-dark bg-op-2",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "navbar-dark",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Jobs Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Bootstrap 5 job site demo' %} {% block headerNavbarNav %} {% endblock %} {% block navbarSecondaryContent %}
      <div class="navbar-nav">
        <a href="#" class="nav-link text-uppercase fw-semibold text-sm"> <i class="bi-file-earmark-arrow-up"></i> Submit CV </a>
        <a href="#" class="nav-link text-uppercase fw-semibold text-sm"> <i class="bi-briefcase"></i> Post Job </a>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the class .vh-100 -->
      <div
        class="vh-lg-100 bg-white overlay overlay-gradient-flip overlay-op-8 text-center text-lg-start py-5 py-lg-10 flex-valign"
        data-bg-img="./assets/img/backgrounds/index-jobs-banner.jpg"
        data-css='{"background-position": "center top","background-attachment": "fixed"}'
      >
        <div data-bs-toggle="sticky" data-settings='{"persist":true, "breakpoint":992}' class="top-0-auto">
          <div class="container pt-6" data-scroll="scrollax">
            <h2 class="display-4 text-white mb-3" data-animate="fadeIn" data-animate-delay="0.2">Find your <span class="fw-bold">dream job!</span></h2>
            <form class="row mb-2 w-auto w-lg-80 position-relative align-items-center" data-animate="fadeIn" data-animate-delay="0.4">
              <div class="col-lg-9 mb-3">
                <i class="fa fa-search text-white icon-2x position-absolute start-0 mt-2 ms-3 d-none d-lg-block"></i>

                <input
                  class="form-control form-control-lg form-control-transparent form-control-dark text-center text-lg-start ps-lg-5"
                  type="text"
                  placeholder="Job title ie. Web Developer"
                />
                <hr class="hr-inverse hr-lg mx-auto mt-1 mb-0" />
              </div>
              <div class="col-lg-3">
                <a href="#content" class="btn btn-dark btn-lg px-5 py-lg-3 px-lg-5 d-lg-block" data-bs-toggle="scroll-link">Search</a>
              </div>
            </form>
            <h5 class="text-white op-9 my-0 fw-normal" data-animate="fadeIn" data-animate-delay="0.6">Currently listing <span class="fw-bold">234 jobs</span>.</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-5 pb-6 bg-white position-relative zindex-10">
      <!-- Promo -->
      <div class="container pb-6">
        <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
        <h3 class="text-start text-uppercase mt-0 mb-3">Featured <span class="fw-bold">Jobs</span></h3>
        <div class="row text-start">
          <div class="col-lg-4 d-lg-flex mb-3">
            <div class="px-3 pb-3 pt-6 overlay overlay-gradient-flip overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="./assets/img/homes/code.jpg">
              <h2 class="text-white text-uppercase fw-bold mb-0 display-4">
                <span data-bs-toggle="count-to" data-to="238" data-from="0">0</span>
              </h2>
              <p class="text-white text-uppercase mb-0">Developer Jobs</p>
              <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3">
            <div class="px-3 pb-3 pt-6 overlay overlay-gradient-flip overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="./assets/img/homes/desk.jpg">
              <h2 class="text-white text-uppercase fw-bold mb-0 display-4">
                <span data-bs-toggle="count-to" data-to="538" data-from="0">0</span>
              </h2>
              <p class="text-white text-uppercase mb-0">Admin Jobs</p>
              <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3">
            <div class="px-3 pb-3 pt-6 overlay overlay-gradient-flip overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="./assets/img/homes/happy.jpg">
              <h2 class="text-white text-uppercase fw-bold mb-0 display-4">
                <span data-bs-toggle="count-to" data-to="138" data-from="0">0</span>
              </h2>
              <p class="text-white text-uppercase mb-0">Freelance Jobs</p>
              <hr class="hr-lg mt-2 mb-0 w-20 ms-0 border-primary" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <!-- Sidebar content -->
          <div class="col-lg-3 order-lg-2 mb-4 mb-lg-0">
            <div data-bs-toggle="sticky" data-settings='{"parent":"#content","mind":"#navbar-header", "top":10, "breakpoint":992}'>
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
              <h3 class="text-uppercase mb-3 fs-6 fw-bold">Filter Jobs</h3>
              <div class="p-3 bg-light">
                <h4>Location</h4>
                <div class="position-relative">
                  <i class="fa fa-map-marker-alt icon-1x position-absolute start-0 mt-1"></i>
                  <input class="form-control form-control-transparent ps-4" type="text" placeholder="Location ie. London" />
                  <hr class="mt-1 mb-0" />
                </div>
                <h4 class="mt-3">Remote OK</h4>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" />
                    Remote OK
                  </label>
                </div>
                <hr class="my-3" />
                <h4>Job Type</h4>
                <div class="checkboxes">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" />
                      Freelance
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" />
                      Full Time
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" />
                      Part Time
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="" />
                      Internship
                    </label>
                  </div>
                </div>
                <hr class="my-3" />
                <a href="#" class="btn btn-primary btn-block">Filter</a>
              </div>
            </div>
          </div>
          <!-- Main content -->
          <div class="col-lg-9 pull-lg-3 mb-3">
            <!-- Jobs list -->
            <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
            <h3 class="fs-5 mb-3 fw-bold text-uppercase">Today <span class="text-xs text-muted fw-normal text-normalcase op-7">Feb 3rd 2021</span></h3>
            <!-- Job 1 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-1.png" alt="RRT Productions" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Bootstrap Designer/Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">RRT Productions</a> (Senior level, Contract)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> Europe Based</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 2 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 card-outline-primary position-relative">
              <span class="fw-bold rounded position-absolute top-0 start-0 bg-primary bg-op-1 text-primary text-xs px-1 m-1">featured</span>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-2.png" alt="TSU" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Drupal Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">TSU</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> London, UK</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <hr class="hr-lg mt-6 mb-2 w-10 ms-0 border-primary" />
            <h3 class="fs-5 mt-0 mb-3 fw-bold text-uppercase">Yesterday <span class="text-xs text-muted fw-normal text-normalcase op-7">Feb 2nd 2021</span></h3>
            <!-- Job 3 -->
            <div class="card px-3 rounded py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-1.png" alt="RRT Productions" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Bootstrap Designer/Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">RRT Productions</a> (Senior level, Contract)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> Europe Based</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 4 -->
            <div class="card px-3 rounded py-4 mb-3 row-hover text-gray-600 card-outline-primary position-relative">
              <span class="fw-bold rounded position-absolute top-0 start-0 bg-primary bg-op-1 text-primary text-xs px-1 m-1">featured</span>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-2.png" alt="TSU" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Drupal Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">TSU</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> London, UK</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 5 -->
            <div class="card px-3 rounded py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-3.png" alt="Bergman Foremann" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">UX Designer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">Bergman Foremann</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> New York, US</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70000000USD/year + benefits</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 6 -->
            <div class="card px-3 rounded py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-4.png" alt="PinPixel" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Server Support Manager</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">PinPixel</a> (Senior level, Contract)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> Europe Based</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 7 -->
            <div class="card px-3 rounded py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-5.png" alt="FNC" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Drupal Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">FNC</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> London, UK</span>
                    <span class="d-block d-md-inline"><i class="far fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <hr class="hr-lg mt-6 mb-2 w-10 ms-0 border-primary" />
            <h3 class="fs-5 mt-0 mb-3 fw-bold text-uppercase">This Months Jobs <span class="text-xs text-muted fw-normal text-normalcase op-7">Feb 2021</span></h3>
            <!-- Job 8 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-1.png" alt="RRT Productions" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Bootstrap Designer/Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">RRT Productions</a> (Senior level, Contract)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> Europe Based</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 9 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 card-outline-primary position-relative">
              <span class="fw-bold rounded position-absolute top-0 start-0 bg-primary bg-op-1 text-primary text-xs px-1 m-1">featured</span>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-2.png" alt="TSU" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Drupal Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">TSU</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> London, UK</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 10 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-3.png" alt="Bergman Foremann" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">UX Designer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">Bergman Foremann</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> New York, US</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70000000USD/year + benefits</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 11 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-4.png" alt="PinPixel" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Server Support Manager</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">PinPixel</a> (Senior level, Contract)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> Europe Based</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 12 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-5.png" alt="FNC" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Drupal Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">FNC</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> London, UK</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 13 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 card-outline-primary position-relative">
              <span class="fw-bold rounded position-absolute top-0 start-0 bg-primary bg-op-1 text-primary text-xs px-1 m-1">featured</span>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-6.png" alt="Siqueira" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">UX Designer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">Siqueira</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> New York, US</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70000000USD/year + benefits</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 14 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 card-outline-primary position-relative">
              <span class="fw-bold rounded position-absolute top-0 start-0 bg-primary bg-op-1 text-primary text-xs px-1 m-1">featured</span>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-7.png" alt="Bouldrian" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Server Support Manager</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">Bouldrian</a> (Senior level, Contract)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> Europe Based</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> 30euro/hour</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 15 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-8.png" alt="Krollon" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">Drupal Developer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">Krollon</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> London, UK</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70USD/hour</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Job 16 -->
            <div class="card rounded px-3 py-4 mb-3 row-hover text-gray-600 position-relative">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./assets/img/customers/customer-9.png" alt="Stern Hegoland" class="img-fluid d-none d-md-block" />
                </div>
                <div class="col-md-8">
                  <h4 class="mb-0">UX Designer</h4>
                  <p class="text-muted mb-2 text-sm">@ <a href="#" class="text-gray-700 fw-bolder">Stern Hegoland</a> (Senior level, Full Time Employment)</p>
                  <p class="text-muted mb-2 text-sm">
                    <span class="d-block d-md-inline"><i class="fa fa-map-marker-alt"></i> New York, US</span>
                    <span class="d-block d-md-inline"><i class="fa fa-money-bill-alt ms-md-3"></i> $70000000USD/year + benefits</span>
                    <span class="d-block d-md-inline"><i class="fa fa-globe text-purple ms-md-3"></i> Remote OK</span>
                  </p>
                </div>
                <div class="col-md-2 text-md-center">
                  <a href="#" class="btn btn-link text-gray-800 text-uppercase fw-bold d-lg-block">Apply <i class="bi-arrow-right-circle-fill"></i></a>
                  <a href="#" class="text-gray-500 text-xs op-7">Shortlist <i class="fa fa-heart"></i></a>
                </div>
              </div>
            </div>
            <!-- Call to action -->
            <div class="bg-light rounded p-4">
              <h3 class="fw-bold mb-2">Got skills?</h3>
              <h4 class="fw-normal text-muted mb-3">Get employed, upload your CV today and start showcasing you & your skills!</h4>
              <a href="#" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
