<!-- 
{
  "pageTitle": "Wedding Homepage",
  "pageKey": "index-wedding",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "colourScheme": "purple",
  "headerOffcanvas": false,
  "siteNameHidden": true,
  "headerSearchRegion": false,
  "mobileMenuType": "collapse",
  "mobileMenuBtnText": "Menu",
  "headerNavbarNavVrHide": true,
  "onepageMainNavPrecontent": "\r\n      <a \r\n      href=\"#\"\r\n      class=\"nav-link w-100 text-center fs-3 d-md-none\" \r\n      data-bs-toggle=\"collapse\" \r\n      data-bs-target=\"#submenu\">\r\n      <i class=\"bi-list icon-1x fw-bold\"><\/i>\r\n      <\/a>",
  "headerNavbarToggle": false,
  "mobileMenuTarget": "#submenu",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-4",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "d-none",
  "navbarBrandWrapperClass": "d-none",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "justify-content-center py-2 w-100",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse collapse justify-content-center",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "align-items-center justify-content-center w-100 w-lg-auto",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-sm",
  "navbarVrClass": "d-none",
  "onepagerNavActiveClass": "text-primary",
  "onepagerNavClass": "text-uppercase text-letter-spacing fw-bold",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block",
  "data": {
    "mapUrl": "https:\/\/www.google.com\/maps\/embed?pb=!1m14!1m8!1m3!1d4865.891517657035!2d-1.7096396!3d52.4257805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870b6cbe2bc3025%3A0x703ecd34ba49a13b!2sHampton+Manor!5e0!3m2!1ssv!2sse!4v1527769427265",
    "weddingYear": "2025"
  }
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Wedding Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %} data-offset-elements="#navbar-header">
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black position-md-relative zindex-9">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="overlay overlay-op-6 text-start"
        data-animate="fadeIn"
        data-bg-img="./assets/img/index-wedding/banner-1.jpg"
        data-css='{"background-attachment":"fixed", "background-position":"center center"}'
      >
        <div class="vh-100 py-lg-6 pt-lg-8 text-center text-white d-flex justify-content-center flex-column">
          <div data-bs-toggle="sticky" data-settings='{"persist":true}' data-scroll="scrollax">
            <div class="container">
              <h2 class="display-3 fw-bold px-3 px-lg-0 text-font-rufina" data-animate="fadeInDown" data-animate-delay="0.6">
                "I think everyone dreams of
                <br />
                that nice romantic wedding."
              </h2>
              <div class="w-lg-50 mx-auto">
                <hr />
                <div
                  class="my-0 countdown d-flex align-items-center justify-content-center"
                  data-countdown="{{data.weddingYear}}/09/15 14:00:01"
                  data-countdown-format='<span class="count bg-dark op-8 text-white text-xs mx-1 d-flex align-items-center justify-content-center flex-column rounded-circle sq-lg sq-md-xl">
                  <h4 class="text-font-rufina my-0 h3">
                    %-D
                  </h4>
                  days
                </span>
                <span class="count bg-dark op-8 text-white text-xs mx-1 d-flex align-items-center justify-content-center flex-column rounded-circle sq-lg sq-md-xl">
                  <h4 class="text-font-rufina my-0 h3">
                    %-H
                  </h4>
                  hours
                </span>
                <span class="count bg-dark op-8 text-white text-xs mx-1 d-flex align-items-center justify-content-center flex-column rounded-circle sq-lg sq-md-xl">
                  <h4 class="text-font-rufina my-0 h3">
                    %-M
                  </h4>
                  mins
                </span>
                '
                ></div>
                <p class="text-xs text-faded mb-0 mt-1">Until the big day!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END highlighted-->

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteName = 'AppStrap' %} {% set mobileMenuBtnText = 'Menu' %} {% block headerNavbarNav %}
      <a href="#" class="nav-link w-100 text-center fs-3 d-md-none" data-bs-toggle="collapse" data-bs-target="#submenu"> <i class="bi-list icon-1x fw-bold"></i> </a>
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse collapse justify-content-center">
        <!-- one pager navigation -->
        <ul class="navbar-nav align-items-center justify-content-center w-100 w-lg-auto">
          <li class="nav-item">
            <a href="#highlighted" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative text-uppercase text-letter-spacing fw-bold">
              <span class="nav-link-inner" data-title="Home">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#story" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative text-uppercase text-letter-spacing fw-bold">
              <span class="nav-link-inner" data-title="Story">Story</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#ceremony" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative text-uppercase text-letter-spacing fw-bold">
              <span class="nav-link-inner" data-title="Ceremony">Ceremony</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#attending" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative text-uppercase text-letter-spacing fw-bold">
              <span class="nav-link-inner" data-title="Attending">Attending</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#gallery" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative text-uppercase text-letter-spacing fw-bold">
              <span class="nav-link-inner" data-title="Gallery">Gallery</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white position-relative zindex-10">
      <!-- Intersted-->
      <div id="details" class="py-4 py-lg-6" data-animate="fadeIn" data-animate-delay="0.1">
        <div class="container text-center w-lg-70">
          <h2 class="display-4 fw-normal mb-0 text-dark text-font-rufina">
            <i class="la la-heart text-primary d-block"></i>We just wanted to tell you that
            <br />
            you are invited to our wedding...
          </h2>
        </div>
        <div class="container text-center w-lg-65">
          <p class="mx-2 mt-3 op-8">
            Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum. Cu errem tamquam indoctum vis, mea quidam
            necessitatibus no.
          </p>
          <div class="row mt-5 align-items-sm-center">
            <div class="col-sm-4 pe-lg-5 ps-lg-0">
              <img class="rounded-circle img-thumbnail bg-shadow" src="./assets/img/index-wedding/wedding_1.jpg" alt="Picture of Daniel" />
            </div>
            <div class="col-sm-4 px-0 py-4">
              <h3 class="my-0 text-font-rufina text-primary">September 19th {{data.weddingYear}}</h3>
              <p class="mt-0"><strong class="my-1 d-block">The Wedding of Daniel Jonson &amp; Anna James</strong> Hampton Manner, Kent.</p>
              <a
                href="#attending"
                data-bs-toggle="scroll-link"
                class="mb-4 px-4 py-2 btn btn-primary btn-rounded text-uppercase text-letter-spacing btn-shadow btn-bold"
                role="button"
                aria-pressed="true"
                >I’m interested</a
              >
            </div>
            <div class="col-sm-4 ps-lg-5 pe-lg-0">
              <img class="rounded-circle img-thumbnail bg-shadow" src="./assets/img/index-wedding/wedding_2.jpg" alt="Picture of Anna" />
            </div>
          </div>
        </div>
      </div>
      <!--Story -->
      <div id="story" class="position-md-relative" data-bg-img="./assets/img/index-wedding/story_bg.jpg" data-animate="fadeIn" data-animate-delay="0.1">
        <!-- Mobile only overlay -->
        <div class="overlay overlay-white overlay-op-4 position-absolute w-100 h-100 d-lg-none"></div>
        <div class="flex py-4 py-lg-6 img-fluid" data-bg-img="./assets/img/index-wedding/bg.png" data-css='{"background-position":"center center"}'>
          <div class="container text-center">
            <div class="row">
              <div class="col-md-8 ms-auto me-auto">
                <h2 class="display-4 fw-normal mb-0 py-4 pt-lg-3 pb-lg-5 text-black text-font-rufina"><i class="la la-heart text-primary d-block"></i> Our Story</h2>
                <p class="text-slate op-9">
                  Odio debet putant ius ad, tale duis complectitur nam ex. Cum cu singulis constituam. Vis homero nemore scaevola no. Omnes recteque efficiantur sea ne, has te
                  solum bonorum lobortis.
                </p>
                <p class="text-slate op-9">
                  His no tacimates atomorum. Ut qui tamquam ocurreret delicatissimi, ne cum utroque electram explicari. In nobis putent eleifend vim, cum quas accusam efficiantur
                  no. Et idque consulatu mea.
                </p>
                <p class="text-slate op-9">
                  Tation mentitum pri in, autem signiferumque in nec, ex vim periculis aliquando reprehendunt. Facer pertinacia eum ea. Salutandi prodesset eu pri. Appetere
                  efficiendi id pro, nec at alia aliquid voluptua. Dico agam at ius, veri primis alterum te est.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Ceremony -->
      <div
        id="ceremony"
        class="py-4 py-lg-6"
        data-bg-img="./assets/img/index-wedding/pattern.jpg"
        data-css='{"background-size":"unset"}'
        data-bs-toggle="magnific-popup"
        data-magnific-popup-settings='{"delegate": "a.btn-map", "type":"iframe"}'
      >
        <div class="container">
          <div class="row g-0" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-6">
              <img class="img-fluid w-100" src="./assets/img/index-wedding/ceremony_1.jpg" alt="Card image cap" />
            </div>
            <div class="col-md-6 align-content-center d-flex align-items-center">
              <div class="me-lg-auto p-4 pe-lg-0 ps-lg-8 py-3">
                <h4 class="text-font-rufina">Wedding Ceremony</h4>
                <p class="op-7">
                  25th of September, {{data.weddingYear}}
                  <br />
                  13:00 PM - 14:00 PM
                  <br />
                  Hampton Manner, Kent
                </p>
                <a href="{{data.mapUrl}}" class="btn-map mb-1 mt-3 py-2 px-4 btn btn-sm btn-primary btn-rounded text-uppercase text-letter-spacing btn-shadow btn-bold"
                  >View on map</a
                >
              </div>
            </div>
          </div>
          <div class="row g-0 flex-row-reverse" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-6 px-0">
              <img class="img-fluid w-100" src="./assets/img/index-wedding/ceremony_2.jpg" alt="Card image cap" />
            </div>
            <div class="col-md-6 align-content-center d-flex align-items-center">
              <div class="ms-lg-auto p-4 pe-lg-0 pe-lg-8 py-3">
                <h4 class="text-font-rufina">Wedding Receptions</h4>
                <p class="op-7">
                  25th of September, {{data.weddingYear}}
                  <br />
                  16:00 PM - late
                  <br />
                  Hampton Manner, Kent
                </p>
                <a href="{{data.mapUrl}}" class="btn-map mb-1 mt-3 py-2 px-4 btn btn-sm btn-primary btn-rounded text-uppercase text-letter-spacing btn-shadow btn-bold"
                  >View on map</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Attending -->
      <div
        id="attending"
        class="py-4 py-lg-7 overlay overlay-dark overlay-op-4"
        data-bg-img="./assets/img/index-wedding/attending_bg.jpg"
        data-css='{"background-attachment":"fixed", "background-position":"center center"}'
        data-animate="fadeIn"
        data-animate-delay="0.1"
      >
        <div class="container text-center text-white">
          <h2 class="display-4 mb-4 mb-lg-6 fw-normal text-font-rufina"><i class="la la-heart text-primary d-block"></i> Are you Attending?</h2>
          <form class="w-lg-40 mx-auto">
            <div class="mb-3">
              <input class="form-control form-control-lg form-control-rounded mb-3" type="text" value="Name" id="rounded-example-text-input" />
              <div class="row">
                <div class="col-6 pe-3">
                  <select class="form-control form-control-lg form-control-rounded mt-4">
                    <option>Guests</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
                <div class="col-6 ps-2">
                  <label class="text-white float-start text-font-rufina">I am attending...</label>
                  <select class="form-control form-control-lg form-control-rounded mt-0">
                    <option>All Events</option>
                    <option>Ceremony Only</option>
                    <option>Reception Only</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="text-center pt-4">
              <a href="#" class="d-block btn btn-lg btn-dark btn-rounded btn-bold btn-flat text-uppercase text-letter-spacing py-3">I am Attending </a>
            </div>
          </form>
        </div>
      </div>
      <!-- Gallery -->
      <div id="gallery" class="py-4 py-lg-6" data-animate="fadeIn" data-animate-delay="0.1">
        <div class="container text-center">
          <h2 class="display-4 fw-normal mb-4 mb-lg-6 text-dark text-font-rufina">
            <i class="la la-heart text-primary d-block"></i> Selection Of Photos
            <br />
            of Daniel & Anna
          </h2>
          <div class="row">
            <div class="col-md-4 mb-4">
              <img class="w-100" src="./assets/img/index-wedding/galery_1.jpg" alt="Image 1" />
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="./assets/img/index-wedding/galery_2.jpg" alt="Image 2" />
            </div>
            <div class="col-md-4 mb-4">
              <img class="w-100" src="./assets/img/index-wedding/galery_3.jpg" alt="Image 3" />
            </div>
          </div>
        </div>
      </div>
      <!-- Social media -->
      <div class="bg-dark" data-animate="fadeIn" data-animate-delay="0.1">
        <div class="container py-6 text-center">
          <h3 class="fw-normal mb-2 mt-0 text-white text-font-rufina"><i class="la la-heart text-primary d-block"></i> Follow our day on social media:</h3>
          <!--@todo: replace with company social media details-->
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-youtube"></i></a>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-facebook"></i></a>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <!-- #Content -->
    <div class="container">
      <!-- ======== @Region: #footer ======== -->
      <footer id="footer" class="py-3 py-4 border-top bg-white">
        <div class="row">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-6 d-md-flex">
            <p class="mb-0 text-sm text-dark">&copy; 2024 AppStrap Wedding</p>
          </div>
          <div class="col-md-6 d-md-flex justify-content-md-end">
            <p class="mb-0 text-sm text-dark">With love <i class="la la-heart text-primary"></i> Daniel & Anna</p>
          </div>
        </div>
      </footer>
    </div>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
