<!-- 
{
  "pageTitle": "Corporate Homepage",
  "pageKey": "index-corporate",
  "pageActiveTrail": [
    "index"
  ],
  "colourScheme": "purple",
  "bodyClass": "header-ontop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMegaMenuClass": "text-light",
  "dropdownMenuClass": " bg-gray-800 dropdown-menu-dark",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1 text-light op-8",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0 text-white",
  "navbarClass": "position-absolute w-100 transition border-bottom border-primary border-op-4 sticky-bg-dark sticky-bg-op-9 navbar-dark bg-dark bg-op-6",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0 bg-gray-800",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block bg-white",
  "searchBtnClass": "fs-5 order-4 p-1 text-light op-8",
  "siteSloganClass": "d-none d-xl-block text-white op-7"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Corporate Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="border-bottom-0 bg-black">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height/screen add the class .vh-100 -->
      <div
        class="vh-lg-100 overlay overlay-op-8 text-center px-3 pb-5 pt-7 py-lg-8 flex-valign"
        data-bg-img="./assets/img/backgrounds/index-corporate-banner.jpg"
        data-css='{"background-position": "center bottom","background-attachment": "fixed"}'
        data-animate="fadeIn"
      >
        <div data-scroll="scrollax" data-scrollax-y-ratio="1000" class="py-lg-6 pt-lg-8">
          <h2 class="display-3 text-white fw-bold" data-animate="fadeInDown" data-animate-delay="0.6">Welcome To AppStrap</h2>
          <h3 class="text-white op-9 fw-normal" data-animate="fadeInUp" data-animate-delay="0.8">
            <span
              data-typed='["Tonnes of features", "Flexbox support", "The Ultimate Bootstrap 5 Theme", "What you waiting for?"]'
              data-typed-settings='{"delay":2000, "speed":120,"breakLines":false, "deleteDelay":1400, "doneClass":{"#get-btn":"animated fadeIn"}}'
            ></span>
          </h3>
          <a href="#" class="btn btn-dark btn-lg fw-bold py-3 px-4 animate-pending mt-3" id="get-btn">Get AppStrap</a>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 clearfix">
      <!-- Features -->
      <div id="features" class="bg-white p-4 p-lg-0">
        <div class="py-lg-6 bg-white container">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 text-lg-end">
              <img src="./assets/img/screenshots/index-forum.png" class="img-fluid rounded border shadow-sm" alt="Screenshot of layout" />
            </div>
            <div class="col-lg-6">
              <h6 class="text-primary mt-3 mt-lg-0">Features</h6>
              <h3>Impressive features & resources</h3>
              <p>Dolor occuro os ratis tincidunt utinam. Dolus gravis pagus tum. Ideo laoreet lobortis refero secundum suscipit tation ullamcorper verto.</p>
              <p>
                Acsi cogo jugis quis roto wisi. Abigo comis dignissim duis fere jumentum lobortis odio suscipit torqueo. Causa dignissim ut vero. Diam distineo elit eros occuro
                similis ut volutpat. Antehabeo fere hos humo si. Commodo facilisis hendrerit ideo iriure luctus natu praesent typicus voco.
              </p>
              <a href="#" class="btn btn-primary border-0 mt-4">Info more</a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
              <img src="./assets/img/screenshots/index-app-landing.png" class="img-fluid rounded border shadow-sm" alt="Screenshot of layout" />
            </div>
            <div class="col-lg-6">
              <h6 class="text-primary mt-3 mt-lg-0">Features</h6>
              <h3>Impressive features & resources</h3>
              <p>Cui illum inhibeo pneum sagaciter. Accumsan aptent magna occuro. Antehabeo appellatio causa consequat exputo incassum refoveo.</p>
              <p>
                Augue facilisis jugis luptatum populus qui utrum virtus zelus. Dignissim gilvus magna molior te veniam. Aliquip esse exputo haero paratus saluto. Abdo ea gilvus
                sino uxor. Cui distineo pala valde ymo. Appellatio diam facilisi hendrerit tum zelus.
              </p>
              <a href="#" class="btn btn-primary border-0 mt-4">Info more</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Promos -->
      <div class="container py-4 py-lg-6">
        <div class="row text-start">
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="./assets/img/homes/happy.jpg">
              <h2 class="text-white mb-0 display-4 fw-bold"><span data-bs-toggle="count-to" data-to="898" data-from="0">0</span>k</h2>
              <p class="text-white mb-0">Happy Customers</p>
              <hr class="hr-lg my-2 w-20 ms-0 border-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="./assets/img/homes/code.jpg">
              <h2 class="text-white mb-0 display-4 fw-bold"><span data-bs-toggle="count-to" data-to="8980" data-from="0">0</span>k</h2>
              <p class="text-white mb-0">Lines of code</p>
              <hr class="hr-lg my-2 w-20 ms-0 border-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-bg-img="./assets/img/homes/coffee.jpg">
              <h2 class="text-white mb-0 display-4 fw-bold">
                <span data-bs-toggle="count-to" data-to="5088" data-from="0">0</span>
              </h2>
              <p class="text-white mb-0">Cups of coffee</p>
              <hr class="hr-lg my-2 w-20 ms-0 border-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- Features side by side -->
      <div
        id="features-sidebyside"
        class="pt-6 bg-white overlay overlay-op-7"
        data-bg-img="https://images.unsplash.com/photo-1474739265988-7c6eab6c5a21?dpr=1&auto=format&fit=crop&w=1500&h=907&q=80&cs=tinysrgb&crop="
      >
        <div class="container">
          <div class="row text-start">
            <div class="col-lg-3 text-lg-end flex-valign py-lg-6" data-animate="fadeIn" data-animate-delay="0.2">
              <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
                <h2 class="text-white mb-0 fw-bold">Simple</h2>
                <p class="text-white mb-0 text-sm">Damnum defui elit exerci lobortis nutus scisco.</p>
                <hr class="hr-lg my-2 w-20 ms-0 ms-lg-auto me-lg-0 border-primary" />
              </div>
              <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
                <h2 class="text-white mb-0 fw-bold">Easy</h2>
                <p class="text-white mb-0 text-sm">Inhibeo luptatum populus vel. Lenis meus nibh quis ratis similis.</p>
                <hr class="hr-lg my-2 w-20 ms-0 ms-lg-auto me-lg-0 border-primary" />
              </div>
              <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-r divider-lg divider-op-8">
                <h2 class="text-white mb-0 fw-bold">Stylish</h2>
                <p class="text-white mb-0 text-sm">Consectetuer olim utrum vindico. Autem diam inhibeo iusto minim qui roto valetudo.</p>
                <hr class="hr-lg my-2 w-20 ms-0 ms-lg-auto me-lg-0 border-primary" />
              </div>
            </div>
            <div class="col-lg-3 order-lg-3 text-lg-start flex-valign py-lg-6" data-animate="fadeIn" data-animate-delay="0.4">
              <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
                <h2 class="text-white mb-0 fw-bold">Modern</h2>
                <p class="text-white mb-0 text-sm">Abico bene damnum defui distineo in sino sit validus wisi.</p>
                <hr class="hr-lg my-2 w-20 ms-0 border-primary" />
              </div>
              <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
                <h2 class="text-white mb-0 fw-bold">Flexible</h2>
                <p class="text-white mb-0 text-sm">Antehabeo commoveo exerci hos in patria suscipit.</p>
                <hr class="hr-lg my-2 w-20 ms-0 border-primary" />
              </div>
              <div class="p-4 overlay overlay-gradient overlay-op-9 flex-ew flex-valign mb-4 divider-arrow divider-arrow-l divider-lg divider-op-8">
                <h2 class="text-white mb-0 fw-bold">Top Value</h2>
                <p class="text-white mb-0 text-sm">Decet ex neque nibh oppeto scisco tamen vel.</p>
                <hr class="hr-lg my-2 w-20 ms-0 border-primary" />
              </div>
            </div>
            <div class="col-lg-6 order-lg-2 flex-valign-b" data-animate="fadeIn" data-animate-delay="0.8">
              <img src="./assets/img/homes/iphone-hello-cutoff.png" alt="iPhone" class="img-fluid mx-auto mt-auto" />
            </div>
          </div>
        </div>
      </div>
      <!-- Team -->
      <div id="team" class="pb-4 bg-white">
        <div class="container py-5 py-lg-6">
          <!-- Team cards -->
          <div class="bg-white rounded p-4 text-center">
            <h6 class="text-primary my-0 text-uppercase">Team</h6>
            <h3 class="display-5 fw-bold mb-4">Meet the team</h3>
            <div class="d-flex flex-wrap align-items-center justify-content-center">
              <a href="team-member.html" title="View Annika's profile" class="border border-white border-5 rounded-circle mx-n2">
                <img src="./assets/img/team/sm/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="rounded-circle" alt="Annika" />
              </a>
              <a href="team-member.html" title="View Jim's profile" class="border border-white border-5 rounded-circle mx-n2">
                <img src="./assets/img/team/sm/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="rounded-circle" alt="Jim" />
              </a>
              <a href="team-member.html" title="View Ben's profile" class="border border-white border-5 rounded-circle mx-n2">
                <img src="./assets/img/team/sm/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="rounded-circle" alt="Ben" />
              </a>
              <a href="team-member.html" title="View Jane's profile" class="border border-white border-5 rounded-circle mx-n2">
                <img src="./assets/img/team/sm/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="rounded-circle" alt="Jane" />
              </a>
              <a href="team-member.html" title="View Steve's profile" class="border border-white border-5 rounded-circle mx-n2">
                <img src="./assets/img/team/sm/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="rounded-circle" alt="Steve" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Clients -->
      <div id="clients" class="pt-5 bg-light">
        <div class="container pb-5">
          <div class="bg-light p-1">
            <div class="row g-1">
              <div class="col-6 col-lg-3">
                <!--Customer 1-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 2-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 3-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 4-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 5-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 6-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 7-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 8-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-t divider-dark">
          <div class="container">
            <h2 class="text-center fw-bold my-0">Our Partners</h2>
            <hr class="hr-lg mt-2 mb-0 w-10 mx-auto border-primary" />
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
