<!-- 
{
  "pageTitle": "Church Homepage",
  "pageKey": "index-church",
  "pageActiveTrail": [
    "pages"
  ],
  "colourScheme": "red",
  "headerOffcanvas": false,
  "bodyClass": "header-ontop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Church Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body data-offset-elements="#navbar-header">
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <div data-bs-toggle="sticky">
        <div
          id="navbar-header"
          class="navbar position-absolute w-100 border-bottom transition py-2 py-md-0 border-light border-op-1 bg-dark bg-op-2 sticky-bg-op-8 sticky-border-op-1 sticky-bg-black"
        >
          <div class="container">
            <div class="hstack gap-3">
              <a class="navbar-brand text-white" href="index.html" title="Home"> <span class="fw-bold">App</span>Strap. </a>
              <div class="vr vr-half bg-white d-none d-lg-block"></div>
              <div class="navbar-text d-none d-lg-block text-uppercase fw-bold text-white">Church</div>
            </div>
            <div class="header-block order-5">
              <a class="btn btn-icon btn-light order-5 d-md-none" data-bs-toggle="offcanvas" data-bs-target=".navbar-main"> <i class="fa fa-bars"></i> </a>
            </div>
            <div class="navbar navbar-expand-md ms-md-auto">
              <div class="navbar-main navbar-collapse offcanvas offcanvas-end bg-dark bg-md-transparent navbar-dark me-md-3 p-4 p-md-0">
                <div class="hstack gap-3 d-md-none py-2">
                  <a class="navbar-brand text-white" href="index.html" title="Home">
                    <h2 class="h3 my-0 fw-normal"><span class="fw-bold">App</span>Strap.</h2>
                  </a>
                </div>
                <hr class="d-md-none op-8" />
                <ul class="nav navbar-nav container">
                  <li class="nav-item"><a href="#highlighted" data-bs-toggle="scroll-link" class="nav-link text-capitalize op-8">Home</a></li>
                  <li class="nav-item"><a href="#About" data-bs-toggle="scroll-link" class="nav-link text-capitalize op-8">About</a></li>
                  <li class="nav-item"><a href="#Events" data-bs-toggle="scroll-link" class="nav-link text-capitalize op-8">Events</a></li>
                  <li class="nav-item"><a href="#Blog" data-bs-toggle="scroll-link" class="nav-link text-capitalize op-8">Blog</a></li>
                  <li class="nav-item"><a href="#Pastors" data-bs-toggle="scroll-link" class="nav-link text-capitalize op-8">Pastors</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black position-md-relative">
      <div
        class="overlay overlay-op-7 text-start"
        data-animate="fadeIn"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/index-church/banner-1.jpg"
      >
        <div class="vh-100 text-center text-white">
          <div class="container h-70 h-lg-90 d-flex justify-content-center flex-column pt-lg-6">
            <h2 class="display-3 w-lg-70 mx-auto mb-5 fw-bold">Love the Lord Your God with All Your Heart</h2>
            <div><a href="#" class="px-5 py-3 btn btn-primary btn-rounded text-uppercase" role="button">Join us</a></div>
          </div>
          <div class="container">
            <div class="d-lg-flex justify-content-lg-center">
              <div class="d-lg-flex gap-4 align-items-lg-center justify-content-lg-center bg-white bg-op-2 p-2 rounded">
                <div class="fw-bold text-sm text-white bg-primary d-block py-2 px-3 rounded mx-auto mb-2 mb-lg-0"><i class="pe-1 bi-calendar"></i> Next Upcoming Event</div>
                <div class="d-lg-flex gap-3 text-center text-lg-start">
                  <div class="text-sm">“Love the Lord Your God with All Your Heart”</div>
                  <div class="text-sm">Pastor James CH.</div>
                  <div class="text-sm">9:00 am — 10:00 am</div>
                  <div class="text-sm">@ First Methodist Church</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!-- About Section -->
      <div id="About">
        <div class="py-4 py-md-6 container text-center">
          <h2 class="h1 text-primary mt-lg-0 fw-bold">Welcome</h2>
          <p class="w-lg-55 mx-auto op-7">Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum</p>
          <div class="w-lg-80 mx-auto row mt-3 mt-md-5">
            <div class="col-md-4 d-md-flex align-items-md-center">
              <div>
                <i class="ion-social-youtube-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
                <h4 class="my-2 text-uppercase">Sermons Media</h4>
                <p class="op-7 mt-3">Fixed headers are fairly common nowadays.</p>
              </div>
            </div>
            <div class="col-md-4 d-md-flex align-items-md-center">
              <div>
                <i class="ion-ios-lightbulb-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
                <h4 class="my-2 text-uppercase">Light up the way</h4>
                <p class="op-7 mt-3">Fixed headers are fairly common nowadays.</p>
              </div>
            </div>
            <div class="col-md-4 d-md-flex align-items-md-center">
              <div>
                <i class="ion-ios-book-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
                <h4 class="my-2 text-uppercase">Bible library</h4>
                <p class="op-7 mt-3">Fixed headers are fairly common nowadays.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Additional Sections Continue -->
      </div>
    </div>
    <footer id="Contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="my-5 text-sm text-center">(c) 2024 AppStrap Church</p>
          </div>
        </div>
      </div>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
