<!-- 
{
  "pageTitle": "One Pager Image",
  "pageKey": "index-onepager-image",
  "pageActiveTrail": [
    "index",
    "index-onepagers"
  ],
  "headerSticky": true,
  "headerShoppingCart": false,
  "mobileMenuType": "collapse",
  "mobileMenuTarget": "#submenu",
  "bodyClass": "page-onepager",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "py-3 navbar-nav-onepager",
  "navbarSecondaryClass": "order-lg-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md navbar-expand-collapse",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavActiveClass": "text-primary",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>One Pager Image | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0">
        <!-- one pager navigation -->
        <ul class="navbar-nav py-3 navbar-nav-onepager">
          <li class="nav-item">
            <a href="#top" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative">
              <i class="fa fa-home nav-link-icon"></i> <span class="d-none">Home</span>
            </a>
          </li>

          <li class="nav-item"><a href="#about" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> About </a></li>
          <li class="nav-item"><a href="#features" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> Features </a></li>
          <li class="nav-item"><a href="#pricing" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> Pricing </a></li>
          <li class="nav-item"><a href="#contact" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> Contact </a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="vh-100 bg-white overlay overlay-op-6 text-center px-3 py-5 py-lg-10 flex-valign"
        data-bg-img="./assets/img/backgrounds/man-with-open-arms-saluting-the-nature-picjumbo-com.jpg"
        data-css='{"background-position": "center bottom"}'
      >
        <h2 class="display-4 text-white" data-animate="fadeIn" data-animate-delay="0.2">Skys the limit with <span class="fw-bold">AppStrap!</span></h2>
        <h3 class="text-white op-9 fw-normal" data-animate="fadeIn" data-animate-delay="0.35">Kickstart your next web project with AppStrap!</h3>
        <hr class="border-primary hr-lg w-20 mx-auto my-4" data-animate="fadeIn" data-animate-delay="0.45" />
        <div><a href="#about" class="btn btn-primary btn-lg py-lg-3 px-lg-5" data-bs-toggle="scroll-link" data-animate="fadeIn" data-animate-delay="0.55">Find Out More</a></div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <!-- About -->
      <div id="about" class="py-3 pt-lg-6 pb-lg-0">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.8">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-center fw-bold my-0">We are <span class="text-shadow">AppStrap</span></h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-muted">This is how we roll</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row">
            <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.4" data-animate-offset="100%">
              <p class="lead">Bene feugiat macto sit. Accumsan meus vindico.</p>
              <p>Jugis veniam vindico. Genitus illum jumentum minim nulla quidne virtus zelus. Dolus facilisi metuo refoveo tego torqueo tum turpis.</p>
              <p class="mb-0">
                Ad et eu hendrerit tego veniam. Amet blandit macto natu nibh pneum saluto veniam. Cui et in nisl wisi. Causa commoveo eum jumentum vulpes. Jus luptatum quadrum quia
                roto.
              </p>
            </div>
            <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.8" data-animate-offset="100%">
              <div class="mb-4 hstack gap-3">
                <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>

                <div>
                  <h4 class="mb-1">Distineo Ea Lobortis Praemitto</h4>
                  Acsi aliquip hendrerit huic praemitto secundum tincidunt ut.
                </div>
              </div>
              <div class="mb-4 hstack gap-3">
                <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>

                <div>
                  <h4 class="mb-1">Abico Eu Importunus Macto</h4>
                  Hendrerit mos nostrud plaga praemitto. At huic inhibeo iusto metuo os saepius torqueo veniam vindico.
                </div>
              </div>
              <div class="mb-4 hstack gap-3">
                <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>

                <div>
                  <h4 class="mb-1">Damnum Pala Refoveo Sino</h4>
                  Augue brevitas causa defui eu feugiat pertineo sagaciter utinam.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Why AppStrap -->
        <div class="bg-dark mt-3 mt-lg-6">
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark"
                data-bg-img="./assets/img/backgrounds/computer-screens.jpg"
                data-animate="fadeIn"
                data-animate-delay="0.1"
              ></div>
              <div class="col-lg-5 py-5" data-animate="fadeIn" data-animate-delay="0.3">
                <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
                <h2 class="display-6 lh-1 text-white mt-0 mb-5">Choose <span class="text-primary fw-bold">AppStrap</span></h2>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center">
                    <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>
                  </div>
                  <div class="col-10 col-md-11 text-light">
                    <h4 class="fw-bold text-white">Fully Optimized</h4>
                    <p>Aliquip causa et hos interdico jumentum macto obruo te. Euismod facilisis hos mauris odio scisco uxor.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center"><i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i></div>
                  <div class="col-10 col-md-11 text-light">
                    <h4 class="fw-bold text-white">Free Upgrades</h4>
                    <p>Amet antehabeo causa damnum ea lobortis quidem vindico. Brevitas iusto letalis pertineo utinam veniam virtus wisi.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center">
                    <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>
                  </div>
                  <div class="col-10 col-md-11 text-light">
                    <h4 class="fw-bold text-white">99.9% Uptime</h4>
                    <p>
                      Iustum patria proprius quis rusticus veniam vulputate. Comis exerci gemino ideo meus sudo vulputate. Gemino iaceo importunus lucidus meus praesent quis scisco
                      vereor.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="bg-light py-3 py-lg-6">
          <div class="container">
            <h3>Skills Set</h3>
            <hr class="hr-lg m-0 border-primary w-10" />
            <hr class="mt-0 mb-4 hr-blank" />
            <div class="row">
              <div class="col-lg-6">
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-html5 text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">HTML5 (92%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-92 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="92"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-css3 text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">CSS3 (44%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-44 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="44"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-linux text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">System Admin (95%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-95 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="95"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-android text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">Android (75%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-75 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-windows text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">Windows (81%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-81 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="81"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-github-alt text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">GitHub (65%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-65 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="65"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hiring MDR block -->
      <div class="px-3 py-5 text-center text-lg-start bg-dark text-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-7 py-2">
              <h3 class="fw-bold mt-0 mb-2">We're Hiring!</h3>
              <h5 class="mb-0 op-8">We're looking for talented PHP & Wordpress Developers to join our growing team.</h5>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=themelizeme" class="btn btn-lg btn-primary py-3 px-6">Join Us</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Features -->
      <div id="features" class="container py-4 py-lg-6">
        <div data-animate="fadeIn" data-animate-duration="0.6">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
          <h2 class="text-center text-uppercase fw-bold my-0">Core Features</h2>
          <h5 class="text-center fw-light mt-2 mb-0 text-muted">Great features, great product!</h5>
          <hr class="mb-5 w-50 mx-auto" />
        </div>
        <div class="row text-center">
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.1">
            <i class="la la-tachometer icon-3x text-primary"></i>
            <h4 class="mt-2">Fully Optimized</h4>
            <p>Consectetuer facilisis inhibeo iustum tamen vulputate. Dolore genitus iriure.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.2">
            <i class="la la-wrench icon-3x text-primary"></i>
            <h4 class="mt-2">Free Support</h4>
            <p>Autem interdico iustum qui tincidunt vereor. Eligo illum lenis olim pagus probo proprius quadrum voco ymo.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.3">
            <i class="la la-rocket icon-3x text-primary"></i>
            <h4 class="mt-2">Free Upgrades</h4>
            <p>Aliquam augue blandit ea et eu nutus pneum suscipere typicus.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.4">
            <i class="la la-area-chart icon-3x text-primary"></i>
            <h4 class="mt-2">99.9% Uptime</h4>
            <p>Blandit eu metuo quidne usitas vulputate. Immitto macto refero turpis.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.5">
            <i class="la la-users icon-3x text-primary"></i>
            <h4 class="mt-2">Multiuser</h4>
            <p>Abico bene ex molior nutus praemitto singularis. Neque nimis odio praesent quidem scisco turpis.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.6">
            <i class="la la-plug icon-3x text-primary"></i>
            <h4 class="mt-2">Plug n play</h4>
            <p>In letalis nisl nulla utinam utrum. Capto esse exputo haero mauris mos qui roto sed utrum.</p>
          </div>
        </div>
      </div>
      <!--Pricing Table-->
      <div id="pricing" class="bg-light py-3 py-lg-6">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-center fw-bold my-0">Pricing Plans</h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-muted">Competitive pricing plans to suit your needs</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row pricing-stack">
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.2">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.3">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm">
                  <span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.4">
              <div class="card bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>Umlimited User Accounts</li>
                    <li>Umlimited Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.5">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Plan features -->
          <div data-animate="fadeInUp" data-animate-duration="1.2" data-animate-offset="100%">
            <!-- Plan features -->
            <div class="bg-light py-3 mt-4 text-center">
              <h4 class="mt-0">
                <span>All Plans <span class="fw-normal text-muted">Include</span>:</span>
              </h4>
              <div class="hstack gap-3 text-muted my-0 mx-auto justify-content-center">
                <div>90 day money back guarantee</div>
                <div class="vr bg-primary op-9"></div>
                <div>24/7 telephone support</div>
                <div class="vr bg-primary op-9"></div>
                <div>FREE Setup</div>
                <div class="vr bg-primary op-9"></div>
                <div>Migration Help</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video background MDR -->
      <div class="p-3 p-lg-5 bg-light text-center" data-bg-video="./assets/videos/bubbles.mp4" data-animate="fadeIn">
        <div class="container">
          <h2 class="text-white display-4 text-shadow">Add some <span class="font-italic fw-bold">fizz</span> to your next website!</h2>
          <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary mt-4">Get AppStrap!</a>
        </div>
      </div>
      <!--Customer testimonial-->
      <div id="testimonials" class="p-3 py-lg-6 bg-dark">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-white text-center fw-bold my-0">Highly Recommended</h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-light">99% of our customers recommend us!</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row">
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.1">
                <p class="blockquote-bubble-content bg-white">"It's totally awesome, we're could imagine life without it!"</p>
                <small class="text-light">Jimi Bloggs <span class="text-primary fw-bold">/</span> <a href="#">@mrjimi</a></small>
              </blockquote>
            </div>
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.2">
                <p class="blockquote-bubble-content bg-white text-center">"10 out of 10, highly recommended!"</p>
                <small class="text-light">Steve Bloggs <span class="text-primary fw-bold">/</span> <a href="#">Founder</a></small>
              </blockquote>
            </div>
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.3">
                <p class="blockquote-bubble-content bg-white text-center">"Our productivity & sales are up! Couldn't be happier with this product!"</p>
                <small class="text-light">Adele Bloggs <span class="text-primary fw-bold">/</span> <a href="#">@iamadele</a></small>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-center fw-bold my-0">Contact Us</h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-muted">Make contact about your next project</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5">
              <div class="google-map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border: 0"
                ></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <form id="contact-form" action="#">
                <div class="mb-3 form-floating" data-animate="fadeInDown" data-animate-delay="0.2">
                  <input type="text" class="form-control" id="contact-name" placeholder="Name" />
                  <label for="contact-name">Name</label>
                </div>
                <div class="mb-3 form-floating" data-animate="fadeInDown" data-animate-delay="0.3">
                  <input type="email" class="form-control" id="contact-email" placeholder="Email" />
                  <label for="contact-email">Email</label>
                </div>
                <div class="mb-3 form-floating" data-animate="fadeInDown" data-animate-delay="0.4">
                  <textarea rows="5" class="form-control" id="contact-message" placeholder="Message" style="height: 150px"></textarea>
                  <label for="contact-message">Message</label>
                </div>
                <input type="button" class="btn btn-outline-primary px-6 py-2" value="Send Message" />
              </form>
            </div>
            <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
              <h4 class="mb-1 fw-bold">AppStrap Inc.</h4>
              <p class="mb-1">
                <abbr title="Address"><i class="fa fa-home pe-2"></i></abbr>
                Sunshine House, Sunville. SUN12 8LU.
              </p>
              <p class="mb-1">
                <abbr title="Email"><i class="fa fa-envelope pe-2"></i></abbr>
                info@appstrap.me
              </p>
              <p class="mb-0">
                <abbr title="Phone"><i class="fa fa-phone pe-2"></i></abbr>
                019223 8092344
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
