<!-- 
{
  "pageTitle": "App Landing Page",
  "pageKey": "index-app-landing",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "headerNavbarNavVrHide": true,
  "mobileMenuBtnText": "",
  "mobileMenuTarget": "#submenu",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "bg-light text-dark px-2 py-1 rounded",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-4 my-0 fw-normal",
  "navbarClass": "navbar-dark border-bottom border-light border-op-1 bg-transparent sticky-bg-charcoal sticky-bg-op-9 sticky-border-op-3",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0 bg-dark bg-md-transparent",
  "navbarMainClassNodefault": true,
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "w-100 w-md-auto",
  "navbarSecondaryClass": "order-auto order-md-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavActiveClass": "op-auto",
  "onepagerNavClass": "text-white op-7",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>App Landing Page | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>
  <!-- ======== @Region: body ======== -->

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header" class="bg-charcoal">
      {% embed '@partials/header.html' %} {% set siteName = '<span class="fw-bold">App</span>Strap App' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0 bg-dark bg-md-transparent">
        <!-- one pager navigation -->
        <ul class="navbar-nav w-100 w-md-auto">
          <li class="nav-item"><a href="#news" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link position-relative text-white op-7"> News </a></li>
          <li class="nav-item"><a href="#features" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link position-relative text-white op-7"> Features </a></li>
          <li class="nav-item"><a href="#about" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link position-relative text-white op-7"> About </a></li>
          <li class="nav-item"><a href="#customers" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link position-relative text-white op-7"> Customers </a></li>
          <li class="nav-item"><a href="#sign-up" data-bs-toggle="scroll-link" data-active-class="op-auto" class="nav-link position-relative text-white op-7"> Sign Up </a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-charcoal position-md-relative d-flex">
      <div class="container py-lg-6 text-center d-flex align-items-center" data-scroll="scrollax">
        <div class="row align-items-lg-center">
          <div class="col-lg-4 offset-lg-1 order-lg-2 p-5 p-lg-0">
            <img src="./assets/img/index-app/screen-1.png" alt="Phone screens" class="img-fluid" />
          </div>
          <div class="col-lg-6 order-lg-1 text-lg-start">
            <h2 class="display-4 text-white mb-3">Great tool that helps you more stuff than usual</h2>
            <p class="mb-2 hstack gap-3">
              <a href="#" class="w-45 w-lg-auto btn btn-outline-light text-xs ps-4 pe-5 py-1 btn-rounded border-2 text-hover-charcoal"
                ><i class="fab fa-apple me-2 icon-2x align-middle" aria-hidden="true"></i> Get on iOS</a
              >
              <a href="#" class="w-45 w-lg-auto btn btn-outline-light text-xs ps-4 pe-5 py-1 btn-rounded border-2 text-hover-charcoal"
                ><i class="fab fa-android me-2 icon-2x align-middle" aria-hidden="true"></i> Get on Android</a
              >
            </p>
            <p class="text-sm text-white ps-2">
              <a href="#features" class="text-light" data-bs-toggle="scroll-link">view features</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--END highlighted-->

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!-- News scroller -->
      <div id="news" class="bg-light py-4" data-animate="fadeIn">
        <div class="container d-lg-flex align-items-lg-center justify-content-lg-center">
          <p class="badge badge-pill bg-pink bg-op-7 text-white text-uppercase py-lg-2 px-lg-3 my-0 mb-1 mb-lg-0 me-3">Latest News</p>
          <p class="my-0 text-sm">AppStrap 4.x is now out & ready to make your websites even more awesome! <a href="#" class="text-pink">Read more</a></p>
        </div>
      </div>
      <!-- Features -->
      <div id="features" class="py-4 py-lg-7" data-animate="fadeIn">
        <div class="container text-center">
          <h2 class="fw-light w-lg-50 mx-lg-auto">What makes AppStrap so awesome?</h2>
          <div class="row mt-5">
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-animate="fadeIn" data-animate-delay="0.1">
              <i class="ion-ios-people-outline icon-3x icon-sq bg-light text-pink rounded-circle bg-shadow mx-auto"></i>
              <h4 class="mt-2 fw-light">User Profile</h4>
              <p class="mb-0 text-xs px-4 px-lg-0">Consectetuer Diam Et Eu Exerci Facilisis Inhibeo Jus Pagus Paratus Pertineo Quadrum Secundum</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-animate="fadeIn" data-animate-delay="0.2">
              <i class="ion-ios-locked-outline icon-3x icon-sq bg-light text-pink rounded-circle bg-shadow mx-auto"></i>
              <h4 class="mt-2 fw-light">Safe & Secure</h4>
              <p class="mb-0 text-xs px-4 px-lg-0">Aptent Esca Esse Immitto Importunus Incassum Macto Pneum Praemitto Torqueo</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-animate="fadeIn" data-animate-delay="0.3">
              <i class="ion-paper-airplane icon-3x icon-sq bg-light text-pink rounded-circle bg-shadow mx-auto"></i>
              <h4 class="mt-2 fw-light">Fast</h4>
              <p class="mb-0 text-xs px-4 px-lg-0">Autem Brevitas Consectetuer Dolore In Mos Paratus Te Turpis Veniam</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-animate="fadeIn" data-animate-delay="0.4">
              <i class="ion-ios-flame-outline icon-3x icon-sq bg-light text-pink rounded-circle bg-shadow mx-auto"></i>
              <h4 class="mt-2 fw-light">Flexible</h4>
              <p class="mb-0 text-xs px-4 px-lg-0">Comis Damnum Duis Exputo Genitus Hendrerit Immitto Inhibeo Jugis Quidne Sagaciter Scisco</p>
            </div>
          </div>
        </div>
      </div>
      <!-- About -->
      <div id="about" class="bg-pink bg-op-7 py-4 py-lg-6 border-pink border-w-4 border-op-5" data-animate="fadeIn">
        <div class="container text-center text-white">
          <h2 class="fw-light w-lg-50 mx-lg-auto mb-5">AppStrap does all the work so you don't have to!</h2>
          <p class="text-sm w-lg-70 mx-lg-auto">
            Abico Accumsan Adipiscing Amet Camur Comis Consectetuer Damnum Decet Eu Euismod Haero Hos Ille Imputo Iustum Jus Laoreet Lucidus Luctus Luptatum Mauris Minim Molior Neo
            Nimis Nisl Nobis Odio Plaga Praesent Quae Quibus Refero Refoveo Saepius Saluto Ut Vel Venio Vereor Vero Volutpat
          </p>
          <ul class="list-inline mb-5 w-lg-60 mx-lg-auto" data-animate="fadeIn">
            <li class="list-inline-item m-2"><i class="fa fa-check me-2"></i>Responsive design</li>
            <li class="list-inline-item m-2"><i class="fa fa-check me-2"></i>Looks great on any device</li>
            <li class="list-inline-item m-2"><i class="fa fa-check me-2"></i>Fresh design</li>
            <li class="list-inline-item m-2"><i class="fa fa-check me-2"></i>Top support</li>
            <li class="list-inline-item m-2"><i class="fa fa-check me-2"></i>High speed</li>
            <li class="list-inline-item m-2"><i class="fa fa-check me-2"></i>Slick interface</li>
          </ul>
          <img src="./assets/img/index-app/screen-2.png" alt="Phone screens" class="img-fluid" data-animate="fadeIn" />
        </div>
      </div>
      <!-- Customers -->
      <div id="customers" class="py-4 py-lg-7" data-animate="fadeIn">
        <div class="container">
          <div class="w-lg-70 mx-lg-auto text-center">
            <h2 class="fw-light">People love AppStrap, here's what they say!</h2>
            <hr class="border-pink w-10 mx-auto" />
            <p class="text-xs">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
          </div>
          <!-- Testimonials carousel -->
          <div
            class="app-carousel owl-equalheight owl-dots-center"
            data-animate="fadeIn"
            data-bs-toggle="owl-carousel"
            data-owl-carousel-settings='{"margin":30, "responsive":{ "0":{"items":1}, "780":{"items":3, "nav":false}}, "loop":true }'
          >
            <div class="card p-4 mt-5 rounded position-relative overflow-visible">
              <div class="app-carousel-avatar mb-3">
                <img
                  src="./assets/img/team/sm/2-austin-wade-X6Uj51n5CE8-unsplash.webp"
                  class="img-auto mx-auto rounded-circle border border-light border-3 d-block"
                  alt="Testimonial user"
                />
              </div>
              <h4 class="fw-light text-brown text-center mb-0">Alexander Vanjuvic</h4>
              <div class="text-pink text-center mb-3">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="text-sm mb-0 op-8">
                Abdo Abluo Antehabeo Appellatio Aptent Bene Damnum Diam Elit Esca Gemino Interdico Iustum Letalis Metuo Mos Neo Neque Patria Pneum Praemitto Qui Quia Torqueo Vel
                Vereor Volutpat
              </p>
            </div>
            <div class="card p-4 mt-5 rounded position-relative overflow-visible">
              <div class="app-carousel-avatar mb-3">
                <img
                  src="./assets/img/team/sm/3-denis-agati--5Vl9oimYlU-unsplash.webp"
                  class="img-auto mx-auto rounded-circle border border-light border-3 d-block"
                  alt="Testimonial user"
                />
              </div>
              <h4 class="fw-light text-brown text-center mb-0">Alex Jones</h4>
              <div class="text-pink text-center mb-3">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="text-sm mb-0 op-8">
                Abdo Aliquam Brevitas Camur Causa Comis Cui Defui Dolor Dolore Enim Facilisis Gilvus Ideo Illum Iustum Luctus Magna Modo Mos Obruo Pecus Ratis Sit Utrum Validus
                Vereor Ymo
              </p>
            </div>
            <div class="card p-4 mt-5 rounded position-relative overflow-visible">
              <div class="app-carousel-avatar mb-3">
                <img
                  src="./assets/img/team/sm/1-art-hauntington-jzY0KRJopEI-unsplash.webp"
                  class="img-auto mx-auto rounded-circle border border-light border-3 d-block"
                  alt="Testimonial user"
                />
              </div>
              <h4 class="fw-light text-brown text-center mb-0">Kylie Michaels</h4>
              <div class="text-pink text-center mb-3">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="text-sm mb-0 op-8">
                Capto Comis Conventio Damnum Eligo Exerci Facilisis Humo Importunus Jugis Jumentum Nutus Paratus Paulatim Persto Quia Quidne Quis Ratis Saepius Saluto Secundum
                Suscipit Tincidunt Tum Velit Verto Vulputate
              </p>
            </div>
            <div class="card p-4 mt-5 rounded position-relative overflow-visible">
              <div class="app-carousel-avatar mb-3">
                <img
                  src="./assets/img/team/sm/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp"
                  class="img-auto mx-auto rounded-circle border border-light border-3 d-block"
                  alt="Testimonial user"
                />
              </div>
              <h4 class="fw-light text-brown text-center mb-0">Tim Rice</h4>
              <div class="text-pink text-center mb-3">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="text-sm mb-0 op-8">
                Abico Ad Caecus Camur Capto Distineo Exputo Gravis Ille Importunus Lenis Letalis Nibh Nutus Olim Oppeto Pagus Suscipit Tation Tum Virtus Ymo
              </p>
            </div>
            <div class="card p-4 mt-5 rounded position-relative overflow-visible">
              <div class="app-carousel-avatar mb-3">
                <img
                  src="./assets/img/team/sm/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp"
                  class="img-auto mx-auto rounded-circle border border-light border-3 d-block"
                  alt="Testimonial user"
                />
              </div>
              <h4 class="fw-light text-brown text-center mb-0">Mike Thompson</h4>
              <div class="text-pink text-center mb-3">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="text-sm mb-0 op-8">
                Abbas Abico Accumsan Bene Capto Comis Dignissim Elit Erat Eros Esca Facilisi Immitto In Laoreet Loquor Minim Molior Oppeto Paratus Praemitto Probo Proprius Scisco
                Si Tamen Vereor Wisi
              </p>
            </div>
            <div class="card p-4 mt-5 rounded position-relative overflow-visible">
              <div class="app-carousel-avatar mb-3">
                <img
                  src="./assets/img/team/sm/5-harps-joseph-tAvpDE7fXgY-unsplash.webp"
                  class="img-auto mx-auto rounded-circle border border-light border-3 d-block"
                  alt="Testimonial user"
                />
              </div>
              <h4 class="fw-light text-brown text-center mb-0">Sara Mason</h4>
              <div class="text-pink text-center mb-3">
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <p class="text-sm mb-0 op-8">
                Abbas Abigo Aliquam At Augue Autem Brevitas Conventio Distineo Elit Exerci Facilisi Humo In Letalis Magna Meus Nulla Os Quia Secundum Similis Sudo Validus Velit
                Venio Wisi
              </p>
            </div>
          </div>
          <!-- Client logos -->
          <div class="bg-light p-1 mt-5" data-animate="fadeIn">
            <div class="row g-1">
              <div class="col-6 col-lg-3">
                <!--Customer 1-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 2-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 3-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 4-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 5-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 6-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 7-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 8-->
                <div class="bg-white px-4 py-2 px-md-6">
                  <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign up -->
      <div id="sign-up" class="py-4 py-lg-7 bg-light" data-animate="fadeIn">
        <div class="container text-center">
          <h2 class="fw-light w-lg-70 mx-lg-auto mb-5">AppStrap pricing plans to suit everyone!</h2>
          <div class="row align-items-lg-center mt-4" data-animate="fadeIn">
            <!-- Plan 1 -->
            <div class="col-lg-4 py-md-3 mb-3 mb-md-0">
              <div class="card bg-shadow mb-0 rounded clickable-element">
                <div class="bg-pink bg-op-7 text-white card-body-overlap py-5">
                  <h3 class="my-0">Starter</h3>
                  <h4 class="fw-light">Free forever</h4>
                </div>
                <div class="card-body px-5 py-4">
                  <ul class="list-unstyled text-sm text-start text-faded">
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Acsi Hos Suscipit Usitas</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Amet Decet Ea Exerci</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Ea Oppeto Tamen Validus</li>
                  </ul>
                  <a href="#" class="btn btn-pink op-8">Sign Up</a>
                </div>
              </div>
            </div>
            <!-- Plan 2 -->
            <div class="col-lg-4 py-md-3 mb-3 mb-md-0">
              <div class="card bg-shadow mb-0 rounded clickable-element">
                <div class="bg-pink bg-op-7 text-white card-body-overlap py-5">
                  <h3 class="my-0">Professional</h3>
                  <h4 class="fw-light">$5.00 / month</h4>
                </div>
                <div class="card-body px-5 py-4">
                  <ul class="list-unstyled text-sm text-start text-faded">
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Bene Dolus Quibus Voco</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Accumsan Hos Sagaciter Typicus</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Abdo Hendrerit Os Refoveo</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Blandit Metuo Nunc Suscipere</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Caecus Pneum Vereor</li>
                  </ul>
                  <a href="#" class="btn btn-pink op-8">Sign Up</a>
                </div>
              </div>
            </div>
            <!-- Plan 3 -->
            <div class="col-lg-4">
              <div class="card bg-shadow mb-0 rounded clickable-element">
                <div class="bg-pink bg-op-7 text-white card-body-overlap py-5">
                  <h3 class="my-0">Agency</h3>
                  <h4 class="fw-light">$15.00 / month</h4>
                </div>
                <div class="card-body px-5 py-4">
                  <ul class="list-unstyled text-sm text-start text-faded">
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Amet Esca Natu Premo</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Sit Usitas Vereor Volutpat</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Lobortis Melior Nutus Secundum</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Aliquip Macto Plaga</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Commodo Iustum Quia Refero</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Aptent Erat Nunc Venio</li>
                    <li class="p-2"><i class="text-pink ion-checkmark me-2"></i> Acsi Distineo Utinam Voco</li>
                  </ul>
                  <a href="#" class="btn btn-pink op-8">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
      </div>
    </div>
    <!-- #Content -->

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="p-3 bg-dark text-light op-6" data-animate="fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-flex justify-content-lg-between flex-wrap mb-4 mb-lg-0">
            <div class="w-50 w-lg-auto pe-4">
              <h5 class="text-uppercase text-light op-8">Key Features</h5>
              <ul class="list-unstyled text-sm">
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Accessibility</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Compatbility</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Flexibility</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Safety & Security</a></li>
              </ul>
            </div>
            <div class="w-50 w-lg-auto pe-4">
              <h5 class="text-uppercase text-light op-8">Support</h5>
              <ul class="list-unstyled text-sm">
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Documentation</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">FAQs</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Live Chat</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Contact Us</a></li>
              </ul>
            </div>
            <div class="w-50 w-lg-auto pe-4">
              <h5 class="text-uppercase text-light op-8">Resources</h5>
              <ul class="list-unstyled text-sm">
                <li><a href="" class="text-white op-6 py-1 d-inline-block">News</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Tutorials</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Tips & Tricks</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Press Kit</a></li>
              </ul>
            </div>
            <div class="w-50 w-lg-auto pe-4">
              <h5 class="text-uppercase text-light op-8">Developers</h5>
              <ul class="list-unstyled text-sm">
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Documentation</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">FAQs</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">API Access</a></li>
                <li><a href="" class="text-white op-6 py-1 d-inline-block">Forums</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4">
            <h5 class="text-uppercase text-light op-8">Keep in touch with us</h5>
            <!--@todo: replace with mailchimp code-->
            <form class="d-flex bg-white rounded p-1 position-relative justify-content-between">
              <input type="email" class="form-control form-control-transparent text-faded" placeholder="Weekly newsletter" />
              <button type="submit" class="btn btn-pink rounded py-2 px-3 fw-bold text-uppercase">SignUp</button>
            </form>
            <div class="mt-4 d-flex justify-content-lg-start">
              <a href="#" class="text-decoration-none rounded-circle border border-light text-light border-2 me-2 bg-hover-light text-hover-charcoal transition">
                <i class="fab fa-twitter icon-sq"></i> <span class="visually-hidden">Twitter</span>
              </a>
              <a href="#" class="text-decoration-none rounded-circle border border-light text-light border-2 me-2 bg-hover-light text-hover-charcoal transition">
                <i class="fab fa-facebook-f icon-sq"></i> <span class="visually-hidden">Facebook</span>
              </a>
              <a href="#" class="text-decoration-none rounded-circle border border-light text-light border-2 me-2 bg-hover-light text-hover-charcoal transition">
                <i class="fab fa-linkedin-in icon-sq"></i> <span class="visually-hidden">Linkedin</span>
              </a>
              <a href="#" class="text-decoration-none rounded-circle border border-light text-light border-2 me-2 bg-hover-light text-hover-charcoal transition">
                <i class="fab fa-google-plus-g icon-sq"></i> <span class="visually-hidden">Google-plus</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--@todo: replace with company copyright details-->
      <div class="bg-transparent text-sm py-3 container">
        <p class="mb-0 text-sm">
          Copyright 2024 &copy; AppStrap
          <br />
          Site template by <a href="https://themelize.me" class="footer-link">Themelize.me</a>
        </p>
        <a href="#top" class="btn btn-icon btn-dark position-fixed bottom-0 end-0 me-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"
          ><i class="fa fa-chevron-up"></i
        ></a>
      </div>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
