<!-- 
{
  "pageTitle": "Site Status",
  "pageKey": "page-site-status",
  "pageActiveTrail": [
    "pages"
  ],
  "headerOffcanvas": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Site Status | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-0">
      <div
        class="bg-light py-4 py-lg-10 border-bottom-10-primary overlay overlay-white overlay-op-7"
        data-bg-img="https://images.unsplash.com/photo-1523958940417-b5818e64cf16?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=890168d2efdcae79035eba9e5e63a045&auto=format&fit=crop&w=1018&q=80"
      >
        <div class="container">
          <div class="text-center mx-auto">
            <i class="far fa-check-circle text-primary icon-4x text-primary op-8 mb-2"></i>
            <h2 class="display-4 text-uppercase text-letter-spacing-sm lh-1 op-9 fw-bold">All systems operational</h2>
            <p class="op-8 fw-light">
              2024-09-26: No problems reported.
              <br />
              <a href="#" class="btn btn-sm btn-primary btn-washed mt-3"><i class="fas fa-sync-alt me-2"></i> Subscribe to updates</a>
              .
            </p>
          </div>
        </div>
      </div>
      <!-- Scheduled maintenance popup -->
      <div
        class="alert rounded-0 w-100 m-0 position-fixed zindex-20 bottom-0 scroll-state-hidden bg-dark bg-shadow"
        data-scroll="scroll-state"
        data-scroll-amount="500"
        data-scroll-setting='{"persist":true, "effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'
      >
        <a href="#" data-bs-dismiss="alert" aria-label="Close" class="position-absolute end-0 top-0 op-7 text-white"><i class="ion-ios-close-empty icon-2x icon-sq"></i></a>
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center py-3">
          <p class="d-lg-inline-block me-lg-3 text-light text-uppercase my-0 fw-bold">Scheduled Maintenance:</p>
          <p class="d-lg-inline-block text-sm text-light op-8 my-0">
            2024-10-26 21:00GMT: Server disk replacement, planned downtime 4 hours - <a href="#" class="text-light op-9">Read more</a>
          </p>
        </div>
      </div>
      <!-- Systems overview -->
      <div class="py-4 py-lg-7 bg-white">
        <div class="container text-start">
          <div class="d-lg-flex align-items-center">
            <div>
              <h2 class="fw-bold mb-0">Systems Overview</h2>
              <p class="mb-0"><span class="op-7">Uptime in last 30 days:</span> 99.99999%</p>
            </div>
            <div class="ms-lg-auto">
              <a href="#" class="btn btn-sm btn-primary"><i class="fas fa-sync-alt me-2"></i> Refresh Status</a>
            </div>
          </div>
          <div class="mt-5">
            <div class="row px-4 d-md-flex align-items-md-center">
              <div class="col-md-4 p-md-2 text-start fw-bold op-8">Website</div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-center">
                <div class="progress progress-sm rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Current load: 15%">
                  <div class="progress-bar w-15 progress-bar-sm bg-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax=""></div>
                </div>
              </div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-end"><span class="text-uppercase text-green"> Operational </span></div>
            </div>
            <hr />
            <div class="row px-4 d-md-flex align-items-md-center">
              <div class="col-md-4 p-md-2 text-start fw-bold op-8">Internal APIs</div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-center">
                <div class="progress progress-sm rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Current load: 15%">
                  <div class="progress-bar w-15 progress-bar-sm bg-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax=""></div>
                </div>
              </div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-end"><span class="text-uppercase text-green"> Operational </span></div>
            </div>
            <hr />
            <div class="row px-4 d-md-flex align-items-md-center">
              <div class="col-md-4 p-md-2 text-start fw-bold op-8">External APIs</div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-center">
                <div class="progress progress-sm rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Current load: 40%">
                  <div class="progress-bar w-40 progress-bar-sm bg-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax=""></div>
                </div>
              </div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-end"><span class="text-uppercase text-green"> Operational </span></div>
            </div>
            <hr />
            <div class="row px-4 d-md-flex align-items-md-center">
              <div class="col-md-4 p-md-2 text-start fw-bold op-8">Social Logins</div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-center">
                <div class="progress progress-sm rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Current load: 75%">
                  <div class="progress-bar w-75 progress-bar-sm bg-orange" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax=""></div>
                </div>
              </div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-end"><span class="text-uppercase text-orange"> Partially Degraded </span></div>
            </div>
            <hr />
            <div class="row px-4 d-md-flex align-items-md-center">
              <div class="col-md-4 p-md-2 text-start fw-bold op-8">Email delivery</div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-center">
                <div class="progress progress-sm rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Current load: 95%">
                  <div class="progress-bar w-95 progress-bar-sm bg-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax=""></div>
                </div>
              </div>
              <div class="col-md-4 py-2 p-md-2 text-start text-md-end"><span class="text-uppercase text-danger"> Outage </span></div>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <!-- Past Incidents -->
      <div class="py-4 py-lg-7 bg-white">
        <div class="container text-start">
          <h2 class="fw-bold mb-0">Past Incidents</h2>
          <div class="mt-5">
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-24</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Account logins via social media outage</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-danger">Critical</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">39 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">92 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-22</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Production server 2 limited connectivity</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">60 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">71 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-20</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Account logins via social media outage</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-danger">Critical</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">12 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">122 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-18</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Account logins via social media outage</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">29 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">281 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-16</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Account logins via social media outage</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">24 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">172 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-14</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Production server 2 limited connectivity</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">47 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">284 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-12</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Account logins via social media outage</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">49 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">23 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-10</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Production server 2 limited connectivity</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-danger">Critical</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">38 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">249 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-08</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Production server 2 limited connectivity</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">28 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">9 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-hover position-relative p-4 mb-3 bg-light bg-op-2 shadow-bg border rounded">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <p class="text-sm mb-0"><span class="op-6">2024-09-06</span></p>
                  <h5 class="op-8 mb-0">
                    <a href="#" class="text-dark text-decoration-none">Production server 2 limited connectivity</a>
                  </h5>
                  <p class="text-sm mb-0 op-8 text-orange">Intermediate</p>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">46 Mins Downtime</span></div>
                    <div class="col"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">145 Reports</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-6 pt-md-6 pb-md-10 bg-primary text-white">
      <div class="container text-center">
        <div class="text-center mb-4">
          <h6 class="fw-normal mb-2 mt-0 text-white text-uppercase text-letter-spacing">Follow status updates on social media:</h6>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-youtube"></i></a>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-facebook"></i></a>
          <a href="#" class="btn-icon btn text-white"><i class="fab fa-lg fa-instagram"></i></a>
        </div>
        <p class="mb-0 text-sm text-white op-6">&copy; 2024 AppStrap Bootstrap 5 Theme - Site Status template</p>
      </div>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
