<!-- 
{
  "pageTitle": "Pricing Comparison Tables",
  "pageKey": "pricing-tables",
  "pageActiveTrail": [
    "pages",
    "pricing"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Pricing Comparison Tables | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <div class="block">
          <!--Default Pricing Table-->
          <h3>Pricing Plans Tables</h3>
          <p>Using the card component to construct pricing tables.</p>
          <!--Stack 1: 3 plans-->
          <div class="row card-grid-overlap pricing-table mt-4">
            <!-- Key column - hidden on mobile, use .pricing-title-hidden class to push down top title (.pricing-title) -->
            <div class="col-lg-3 d-none d-lg-block">
              <div class="card bg-shadow card-header-hidden text-end">
                <h4 class="card-header fw-normal pt-4">Features</h4>
                <div class="fs-5 fw-bold bg-white p-2 py-4">
                  Price
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly or yearly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item">User Accounts</li>
                  <li class="list-group-item">Private Projects</li>
                  <li class="list-group-item">Public Projects</li>
                  <li class="list-group-item">Disk Space</li>
                  <li class="list-group-item">Monthly Bandwidth</li>
                  <li class="list-group-item">24/7 Email Support</li>
                  <li class="list-group-item">Phone Support</li>
                </ul>
              </div>
            </div>
            <!-- Plan 1 -->
            <div class="col-lg-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-header fw-normal pt-4 d-flex align-items-center justify-content-center">Starter</h4>
                <div class="fs-5 fw-bold text-primary bg-white p-2 py-4 position-relative">
                  Free!
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Forever</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>3</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>3</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>5GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>1GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-times text-red op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
            <!-- Plan 2 -->
            <div class="col-lg-3">
              <div class="card card-outline-primary bg-shadow text-center card-offset-y">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h3 class="card-header pt-3 d-flex align-items-center justify-content-center">Pro <span class="text-fancy">Plus</span></h3>
                <div class="fs-5 p-2 py-4 fw-bold position-relative">
                  $49.95
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>50</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>50</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>50GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>10GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-times text-red op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
            <!-- Plan 3 -->
            <div class="col-lg-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-header fw-normal pt-4">Starter <span class="text-fancy">Plus</span></h4>
                <div class="fs-5 p-2 py-4 fw-bold position-relative">
                  $19.95
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>10</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>10</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>10GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>2GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
          </div>
          <!--Stack 2-->
          <div class="row card-grid-overlap pricing-table mt-4">
            <!-- Key column - hidden on mobile, use .card-header-hidden class to push down top title (.card-header) -->
            <div class="col-lg-2 d-none d-lg-block">
              <div class="card bg-shadow text-end card-header-hidden">
                <h4 class="card-header fw-normal pt-4">Features</h4>
                <div class="fs-5 p-2 py-4 fw-bold">
                  Price
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly or yearly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item">User Accounts</li>
                  <li class="list-group-item">Private Projects</li>
                  <li class="list-group-item">Public Projects</li>
                  <li class="list-group-item">Disk Space</li>
                  <li class="list-group-item">Monthly Bandwidth</li>
                  <li class="list-group-item">24/7 Email Support</li>
                  <li class="list-group-item">Phone Support</li>
                </ul>
              </div>
            </div>
            <!-- Plan 1 -->
            <div class="col-lg-2">
              <div class="card bg-shadow text-center">
                <h4 class="card-header fw-normal pt-4 d-flex align-items-center justify-content-center">Starter</h4>
                <div class="fs-5 p-2 py-4 fw-bold">
                  Free
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Forever</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>3</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>3</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>5GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>1GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-times text-red op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
            <!-- Plan 2 -->
            <div class="col-lg-3">
              <div class="card bg-shadow text-center card-outline-primary card-offset-y">
                <h4 class="card-header fw-normal pt-4 d-flex align-items-center justify-content-center">Pro <span class="text-fancy">Plus</span></h4>
                <div class="fs-5 p-2 py-4 fw-bold">
                  $49.95
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>50</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>50</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>50GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>10GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-times text-red op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
            <!-- Plan 3 -->
            <div class="col-lg-3">
              <div class="card card-outline-primary bg-shadow text-center card-offset-y">
                <h4 class="card-header fw-normal pt-4 d-flex align-items-center justify-content-center">Biz <span class="text-fancy">Plus</span></h4>
                <div class="fs-5 p-2 py-4 fw-bold">
                  $99.95
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>150</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>150</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>500GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>100GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
            <!-- Plan 4 -->
            <div class="col-lg-2">
              <div class="card bg-shadow text-center">
                <h4 class="card-header fw-normal pt-4 d-flex align-items-center justify-content-center">Starter <span class="text-fancy">Plus</span></h4>
                <div class="fs-5 p-2 py-4 fw-bold">
                  $19.95
                  <br />
                  <span class="badge fw-normal bg-light text-gray-600 rounded text-xs d-inline-block">Monthly</span>
                </div>
                <ul class="list-group list-group-flush list-group-striped">
                  <li class="list-group-item"><span class="d-lg-none">User Accounts: </span>10</li>
                  <li class="list-group-item"><span class="d-lg-none">Private Projects: </span>10</li>
                  <li class="list-group-item"><span class="d-lg-none">Public Projects: </span>Unlimited</li>
                  <li class="list-group-item"><span class="d-lg-none">Disk Space: </span>10GB</li>
                  <li class="list-group-item"><span class="d-lg-none">Monthly Bandwidth: </span>2GB</li>
                  <li class="list-group-item"><span class="d-lg-none">24/7 Email Support: </span><i class="fa fa-check text-primary op-9 text-primary op-9"></i></li>
                  <li class="list-group-item"><span class="d-lg-none">Phone Support: </span><i class="fa fa-check text-primary op-9"></i></li>
                </ul>
                <div class="card-body card-footer"><a href="#" class="btn btn-primary btn-block">Sign Up</a></div>
              </div>
            </div>
          </div>
          <!-- Plan features -->
          <div class="bg-light py-3 mt-4 text-center">
            <h4 class="mt-0">
              <span>All Plans <span class="fw-normal text-muted">Include</span>:</span>
            </h4>
            <div class="hstack gap-3 text-muted my-0 mx-auto justify-content-center">
              <div>90 day money back guarantee</div>
              <div class="vr bg-primary op-9"></div>
              <div>24/7 telephone support</div>
              <div class="vr bg-primary op-9"></div>
              <div>FREE Setup</div>
              <div class="vr bg-primary op-9"></div>
              <div>Migration Help</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
