<!-- 
{
  "pageTitle": "Pricing Plans",
  "pageKey": "pricing",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Pricing Plans | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <div class="block">
          <!--Default Pricing Table-->
          <h2>
            <span>Pricing <span class="fw-normal text-muted">Plans</span></span>
            <small>Competitive pricing for all your needs.</small>
          </h2>
          <!--Stack 1: 4 in row-->
          <h3>Default Pricing Plans</h3>
          <div class="row pricing-stack">
            <div class="col-md-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm">
                  <span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>Umlimited User Accounts</li>
                    <li>Umlimited Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!--Stack 2: 3 in row-->
          <div class="row pricing-stack mt-4">
            <div class="offset-md-1 col-lg-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm">
                  <span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr-lg my-5" />
          <h3>Equal Height Pricing Plans</h3>
          <h4>Group (no gaps)</h4>
          <!--Eqealheight: 4 in row-->
          <div class="card-group bg-shadow">
            <div class="card text-center">
              <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">Free!</h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>3 User Accounts</li>
                  <li>3 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>5GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
              </div>
            </div>
            <div class="card border bg-white text-center rounded-0 border-top-3-primary ms-n1px">
              <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>50 User Accounts</li>
                  <li>50 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
              </div>
            </div>
            <div class="card bg-white text-center rounded-0 border-top-3-primary">
              <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
              <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
              </h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>Umlimited User Accounts</li>
                  <li>Umlimited Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
              <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
              </h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>10 User Accounts</li>
                  <li>10 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>15GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
              </div>
            </div>
          </div>
          <!--Eqealheight: 3 in row-->
          <div class="card-group justify-content-lg-center g-0 mt-5">
            <div class="card text-center">
              <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">Free!</h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>3 User Accounts</li>
                  <li>3 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>5GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
              </div>
            </div>
            <div class="card border bg-white text-center rounded-0 border-top-3-primary ms-n1px">
              <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>50 User Accounts</li>
                  <li>50 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
              <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
              <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
              </h3>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>10 User Accounts</li>
                  <li>10 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>15GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
              </div>
            </div>
          </div>
          <hr class="my-5" />
          <h4>Decks (gaps)</h4>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-4">
            <div class="col">
              <div class="card text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border bg-white text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-white text-center rounded-0 border-top-3-primary">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>Umlimited User Accounts</li>
                    <li>Umlimited Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!--Equalheight: 3 in row-->
          <div class="row justify-content-lg-center gap-4">
            <div class="col-lg-3">
              <div class="card text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card border bg-white text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!--Stack 3: 4 overlapping-->
          <!-- .card-grid-overlap can be applied to the wrapper-->
          <hr class="my-5" />
          <h3>Overlapping Pricing Plans (Unequal heights)</h3>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-0 mt-4">
            <div class="col pt-2">
              <div class="card card-body bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>3 User Accounts</li>
                  <li>3 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>5GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
              </div>
            </div>
            <div class="col">
              <div class="card card-body border bg-white bg-shadow text-center rounded-0 border-top-3-primary ms-n1px">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>50 User Accounts</li>
                  <li>50 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg mt-4">Sign Up</a>
              </div>
            </div>
            <div class="col">
              <div class="card card-body bg-white bg-shadow text-center rounded-0 border-top-3-primary ms-n1px">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>Umlimited User Accounts</li>
                  <li>Umlimited Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg mt-4">Sign Up</a>
              </div>
            </div>
            <div class="col pt-2">
              <div class="card card-body bg-shadow text-center ms-n1px">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>10 User Accounts</li>
                  <li>10 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>15GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
              </div>
            </div>
          </div>
          <!--Overlapping-->
          <div class="row card-grid-overlap mt-4">
            <div class="col-lg-4 pt-2">
              <div class="card card-body bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>3 User Accounts</li>
                  <li>3 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>5GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-body border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>50 User Accounts</li>
                  <li>50 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg mt-4">Sign Up</a>
              </div>
            </div>
            <div class="col-lg-4 pt-2">
              <div class="card card-body bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <ul class="mt-4 list-unstyled text-sm text-black-50">
                  <li>10 User Accounts</li>
                  <li>10 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>15GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
              </div>
            </div>
          </div>
          <hr class="my-5" />
          <h3>Mini Pricing Plans</h3>
          <!--Mini -->
          <div class="row">
            <div class="col-lg-4 pt-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 m-2 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-inline text-sm text-black-50">
                    <li class="list-inline-item">3 User Accounts</li>
                    <li class="list-inline-item">3 Private Projects</li>
                    <li class="list-inline-item">Umlimited Public Projects</li>
                    <li class="list-inline-item">5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 m-2 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
                <div class="card-body">
                  <ul class="list-inline text-sm text-black-50">
                    <li class="list-inline-item">50 User Accounts</li>
                    <li class="list-inline-item">50 Private Projects</li>
                    <li class="list-inline-item">Umlimited Public Projects</li>
                    <li class="list-inline-item">Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary w-50 mx-auto btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 pt-3">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 m-2 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-inline text-sm text-black-50">
                    <li class="list-inline-item">10 User Accounts</li>
                    <li class="list-inline-item">10 Private Projects</li>
                    <li class="list-inline-item">Umlimited Public Projects</li>
                    <li class="list-inline-item">15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!--Mini overlapping-->
          <div class="row card-grid-overlap mt-5">
            <div class="col-lg-4 pt-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 m-2 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-inline text-sm text-black-50">
                    <li class="list-inline-item">3 User Accounts</li>
                    <li class="list-inline-item">3 Private Projects</li>
                    <li class="list-inline-item">Umlimited Public Projects</li>
                    <li class="list-inline-item">5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 m-2 border-bottom shadow-sm"><span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span></h3>
                <div class="card-body">
                  <ul class="list-inline text-sm text-black-50">
                    <li class="list-inline-item">50 User Accounts</li>
                    <li class="list-inline-item">50 Private Projects</li>
                    <li class="list-inline-item">Umlimited Public Projects</li>
                    <li class="list-inline-item">Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary w-50 mx-auto btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 pt-3">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 m-2 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-inline text-sm text-black-50">
                    <li class="list-inline-item">10 User Accounts</li>
                    <li class="list-inline-item">10 Private Projects</li>
                    <li class="list-inline-item">Umlimited Public Projects</li>
                    <li class="list-inline-item">15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary w-50 mx-auto btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Plan features -->
          <div class="bg-light py-3 mt-4 text-center">
            <h4 class="mt-0">
              <span>All Plans <span class="fw-normal text-muted">Include</span>:</span>
            </h4>
            <div class="hstack gap-3 text-muted my-0 mx-auto justify-content-center">
              <div>90 day money back guarantee</div>
              <div class="vr bg-primary op-9"></div>
              <div>24/7 telephone support</div>
              <div class="vr bg-primary op-9"></div>
              <div>FREE Setup</div>
              <div class="vr bg-primary op-9"></div>
              <div>Migration Help</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
