<!-- 
{
  "pageTitle": "Product View",
  "pageKey": "shop-product",
  "pageActiveTrail": [
    "shop"
  ],
  "headerOffcanvas": false,
  "headerOffcanvasCart": true,
  "bodyClass": "page-shop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowClass": "d-none d-lg-block bg-white border-bottom",
  "navbarBelowContainerClass": "container-xl w-100",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-2 py-md-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Product View | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = ' ' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div class="navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0 p-4 p-md-0" id="navbar-main">
        <h3 class="fw-light d-md-none">Shop UI</h3>
        <!--main navigation-->
        <ul class="nav navbar-nav w-100 dropdown-collapse dropdown-expand-md">
          <!-- Shop Pages -->
          <li class="nav-item dropdown dropdown-hover-md">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="pages-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary"
              >Shop Pages</a
            >
            <!-- Menu -->
            <div class="dropdown-menu border-md">
              <a href="shop.html" class="dropdown-item active">Shop Home</a> <a href="shop-cart.html" class="dropdown-item">Cart</a>
              <a href="shop-checkout.html" class="dropdown-item">Checkout</a> <a href="shop-confirmation.html" class="dropdown-item">Confirmation</a>
              <a href="shop-grid.html" class="dropdown-item">Products Grid</a> <a href="shop-list.html" class="dropdown-item">Products List</a>
              <a href="shop-product.html" class="dropdown-item active">Product View</a>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
            <a
              href="shop.html"
              class="nav-link dropdown-toggle py-md-4"
              id="shop-mega-menu"
              data-bs-toggle="dropdown"
              data-bs-hover="dropdown"
              data-opened-trigger-class="text-primary"
              >Shop Mega Menu</a
            >
            <!-- Dropdown Menu -->
            <div class="dropdown-menu border-md dropdown-menu-start" aria-labelledby="shop-mega-menu">
              <div class="row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Mens</h3>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Shirts</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Trousers</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Womens</h3>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Dresses</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Jeans</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Skirts</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Childrens</h3>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Sports Wear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">School Clothes</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Trousers</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Swimwear</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Baby</h3>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Newborn</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Toddler</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Preschool</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Winter Suits</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Jackets</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">Sportswear</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-product.html" class="dropdown-item" tabindex="-1">T-shirts</a> <a href="shop-product.html" class="dropdown-item" tabindex="-1">Trousers</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                  <h3 class="dropdown-header px-0">New Arrivals <span class="badge bg-primary text-uppercase">Hot</span></h3>
                  <div class="dropdown-widget">
                    <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
                    <div
                      class="products-carousel owl-nav-over"
                      data-bs-toggle="owl-carousel"
                      data-owl-carousel-settings='{"items": 1,"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
                    >
                      <a href="#">
                        <img src="./assets/img/shop/jacket-1.jpg" alt="Item 1 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-2.jpg" alt="Item 2 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-3.jpg" alt="Item 3 image" class="lazyOwl img-fluid" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.dropdown-menu border-top-2 border-primary -->
          </li>
          <li class="nav-item dropdown dropdown-hover-md ms-md-auto">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="account-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">
              <i class="fa fa-user"></i><span class="d-inline d-md-none ms-2">Account</span>
            </a>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu dropdown-menu-end border-md">
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-heart me-2"></i>
                <!-- My Wish List Icon -->
                My Wish List
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-clock-history me-2"></i>
                <!-- Order History Icon -->
                Order History
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-truck me-2"></i>
                <!-- Track Orders Icon -->
                Track Orders
              </a>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm w-50 w-md-auto text-uppercase fw-bold px-3 mt-3 mt-md-0 ms-md-3 d-md-none">On Sale</a>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block headerNavbarBelow %}
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="hstack gap-4">
          <h6 class="fs-6 my-0 mb-1 text-muted d-flex align-items-center"><i class="bi-truck me-2"></i> Free Worldwide Shipping</h6>
          <h6 class="fs-6 my-0 text-muted fw-normal d-flex align-items-center"><i class="bi-telephone me-2"></i> (+44) 7283643345</h6>
        </div>
        <!-- Button aligned right on lg screens, centered on smaller screens -->
        <a href="#" class="btn btn-primary btn-sm w-50 w-lg-auto text-uppercase fw-bold px-3 mt-3 mt-lg-0 ms-auto"> Sale Now On! </a>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #page-header ======== -->
    <div id="page-header">
      <div class="container clearfix">
        <h3 class="mb-0 float-md-start">Product View</h3>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-end text-sm">
          <a class="breadcrumb-item text-gray-600" href="index.html">Home</a> <a class="breadcrumb-item text-gray-600" href="shop.html">Shop Homepage</a>
          <span class="breadcrumb-item text-gray-800">Product View</span>
        </nav>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-3 pt-lg-6 pb-lg-0">
      <div class="container">
        <!-- Product view -->
        <div class="row">
          <div class="col-lg-5">
            <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
            <div class="product-gallery position-relative">
              <div class="bg-info text-white rounded position-absolute zindex-2 mt-2 ms-2 py-2 px-3">On Sale</div>
              <div
                class="owl-carousel owl-nav-over"
                id="product-gallery"
                data-bs-toggle="owl-carousel"
                data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
              >
                <a href="#" data-img-zoom="./assets/img/shop/shoes-2.jpg">
                  <img src="./assets/img/shop/shoes-2.jpg" alt="Shoes image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#" data-img-zoom="./assets/img/shop/mens-sports-2.jpg">
                  <img src="./assets/img/shop/mens-sports-2.jpg" alt="Nike Training Top image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#" data-img-zoom="./assets/img/shop/promo-kids.jpg">
                  <img src="./assets/img/shop/promo-kids.jpg" alt="Kids Wolly Jumper image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#" data-img-zoom="./assets/img/shop/promo-kids-hoodies.jpg">
                  <img src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Kids Hoodies image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#" data-img-zoom="./assets/img/shop/mens-sports.jpg">
                  <img src="./assets/img/shop/mens-sports.jpg" alt="Nike Training Top image" class="lazyOwl img-fluid" width="200" />
                </a>
                <a href="#" data-img-zoom="./assets/img/shop/promo-mens-2.jpg">
                  <img src="./assets/img/shop/promo-mens-2.jpg" alt="Leather Jacket image" class="lazyOwl img-fluid" width="200" />
                </a>
              </div>
              <div
                class="owl-thumbs"
                data-bs-toggle="owl-carousel"
                data-owl-carousel-thumbs="#product-gallery"
                data-owl-carousel-settings='{"nav":false, "dots":false, "margin":5}'
              >
                <a class="owl-thumb">
                  <img class="img-fluid" src="./assets/img/shop/shoes-2.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb">
                  <img class="img-fluid" src="./assets/img/shop/mens-sports-2.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb">
                  <img class="img-fluid" src="./assets/img/shop/promo-kids.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb">
                  <img class="img-fluid" src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb">
                  <img class="img-fluid" src="./assets/img/shop/mens-sports.jpg" alt="Card image cap" />
                </a>
                <a class="owl-thumb">
                  <img class="img-fluid" src="./assets/img/shop/promo-mens-2.jpg" alt="Card image cap" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="card product-card mb-4 shadow-sm">
              <!-- Ribbon -->
              <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-primary text-white">Top Rated</div>
              <!-- Content -->
              <div class="card-body p-4 position-relative">
                <!-- Product details -->
                <p class="text-muted text-uppercase text-sm mb-3">
                  <span class="badge text-primary bg-primary bg-op-1">Mens</span> <span class="badge text-gray-700 bg-gray-200 bg-op-6">Jackets</span>
                </p>
                <h2 class="card-title mb-2">Leather Jacket</h2>
                <h4 class="fw-bold text-primary">
                  <del class="op-5">$24.99</del>
                  / $19.99
                </h4>
                <div class="product-offer-countdown">
                  <p class="mb-t mb-0 text-xs">Offers end in:</p>
                  <div
                    class="d-flex justify-content-start align-items-center gap-2"
                    data-countdown="2025/1/24"
                    data-countdown-format=' <div class="col-auto p-2 border border-primary border-op-3 rounded bg-light text-center w-10">
                    <span class="fw-bold fs-5 mb-1">%-d</span>
                    <br />
                    <small class="text-muted">Days</small>
                  </div>
                  <div class="col-auto p-2 border border-primary border-op-3 rounded bg-light text-center w-10">
                    <span class="fw-bold fs-5 mb-1">%-H</span>
                    <br />
                    <small class="text-muted">Hrs</small>
                  </div>
                  <div class="col-auto p-2 border border-primary border-op-3 rounded bg-light text-center w-10">
                    <span class="fw-bold fs-5 mb-1">%-M</span>
                    <br />
                    <small class="text-muted">Mins</small>
                  </div>
                  <div class="col-auto p-2 border border-primary border-op-3 rounded bg-light text-center w-10">
                    <span class="fw-bold fs-5 mb-1">%-S</span>
                    <br />
                    <small class="text-muted">Secs</small>
                  </div>
                  '
                  ></div>
                </div>
                <div class="position-md-absolute top-0 end-0 me-4 mt-3 text-md-end hstack gap-3">
                  <div>
                    <i class="bi-star-fill text-primary op-8"></i> <i class="bi-star-fill text-primary op-8"></i> <i class="bi-star-fill text-primary op-8"></i>
                    <i class="bi-star-fill text-primary op-8"></i> <i class="bi-star-fill text-primary op-8"></i>
                    <div class="my-0 text-xs">10 reviews | <a href="#reviews">write review</a></div>
                  </div>
                  <div class="vr"></div>
                  <a href="#" class="icon-link"> <i class="bi-heart icon-1x"></i> </a>
                </div>
                <hr class="my-3" />
                <p class="text-muted text-sm">
                  Aptent augue diam ludus nibh persto utrum. Causa eligo quidne typicus. Causa eros huic validus. Appellatio eu iaceo immitto iusto tum turpis wisi.
                </p>
                <p class="text-muted text-sm">
                  Euismod eum feugiat jus minim obruo wisi. Facilisis gilvus haero lenis suscipit tamen. Conventio dolor eum interdico saepius tincidunt torqueo tum vereor.
                </p>
                <hr class="my-3 mb-5" />
                <!-- Cart options/links -->
                <div class="product-options row mb-4">
                  <div class="col-md-4 mb-3">
                    <div class="text-sm text-uppercase">Colour</div>
                    <select class="form-control">
                      <option value="red">Red</option>
                      <option value="yellow">Yellow</option>
                      <option value="blue">Blue</option>
                      <option value="green">Green</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="text-sm text-uppercase">Size</div>
                    <select class="form-control">
                      <option value="S">S</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="text-sm text-uppercase">Quantity</div>
                    <div class="input-group input-group-sm input-group-quantity border rounded align-items-stretch" data-bs-toggle="quantity">
                      <input type="button" value="-" class="btn btn-sm btn-light quantity-down" />
                      <input type="text" name="quantity" value="1" class="quantity form-control form-control-transparent" />
                      <input type="button" value="+" class="btn btn-sm btn-light quantity-up" />
                    </div>
                  </div>
                </div>
                <div class="hstack gap-4 align-items-start">
                  <div>
                    <a href="shop-cart.html" class="btn btn-primary"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <p class="text-muted text-xs d-inline d-none d-lg-block op-8 mt-1">12769 in stock</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <!-- Product tabs, @see: elements-navs-tabbable.htm -->
            <div class="card mt-5 border-top-0">
              <div class="card-header bg-white pt-0 px-0">
                <ul class="nav nav-tabs nav-justified card-header-tabs flex-column flex-md-row">
                  <li class="nav-item">
                    <a class="nav-link border active py-md-4 text-uppercase fw-bold bg-light" data-bs-active-class="bg-light" href="#product-description" data-bs-toggle="tab"
                      >Details</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link border ms-n1px py-md-4 text-uppercase fw-bold" data-bs-active-class="bg-light" href="#product-spec" data-bs-toggle="tab">Specification</a>
                  </li>
                </ul>
              </div>
              <div class="card-body p-4">
                <div class="tab-content">
                  <!-- Tab 1: Description tab content -->
                  <div class="tab-pane active show" id="product-description">
                    <h4 class="card-title">Product Description</h4>
                    <p class="card-text">
                      Distineo immitto in inhibeo iustum luptatum os paratus tum velit. Acsi dolore neo probo roto. Abdo melior modo quadrum saluto torqueo virtus.
                    </p>
                    <p class="card-text">
                      Jugis nutus occuro paulatim persto venio. Adipiscing caecus ibidem luptatum minim pecus. Aptent ludus nostrud proprius quae quidne ulciscor vero verto
                      vindico.
                    </p>
                    <p class="card-text">Et tum venio. Capto inhibeo nisl quadrum quidne. Ea esca huic plaga sagaciter. Hos importunus persto populus premo sagaciter tego.</p>
                  </div>
                  <!-- Tab 2: Specification tab content -->
                  <div class="tab-pane" id="product-spec">
                    <h4 class="card-title">Product Specification</h4>
                    <p class="card-text">
                      Fere huic minim tamen uxor. Comis feugiat populus vicis. Adipiscing aptent dolus humo iusto minim nulla nunc. Autem cogo consectetuer elit fere.
                    </p>
                    <table class="table table-sm table-striped mb-0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Size</th>
                          <th>Colour</th>
                          <th>Width</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>123cm</td>
                          <td>Red</td>
                          <td>1.4 metres</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>300cm</td>
                          <td>Yellow</td>
                          <td>10.4 metres</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>156cm</td>
                          <td>Blue</td>
                          <td>1003 km</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /container -->
      <hr class="mt-6 mb-0" />
      <div class="bg-light py-5">
        <!-- Related Products -->
        <div class="container py-4">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
          <h2 class="text-center text-uppercase fw-bold my-0">Related Products</h2>
          <hr class="mb-3 w-50 mx-auto" />
          <div
            class="mt-4 owl-nav-over owl-nav-over-lg"
            data-bs-toggle="owl-carousel"
            data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":2}, "980":{"items":4}}, "margin":10, "nav":true, "dots":false}'
          >
            <!-- Product 1 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">New Balance</h4>
                <a href="shop-cart.html" class="btn btn-primary text-uppercase fw-bold mb-2"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
              </div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/shoes-2.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">
                  <del class="op-5">$24.99</del>
                  / $19.99
                </span>
              </div>
            </div>
            <!-- Product 2 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">Nike Training Top</h4>
                <a href="shop-cart.html" class="btn btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
              </div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/mens-sports-2.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$39.99</span>
              </div>
            </div>
            <!-- Product 3 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">Kids Wollys</h4>
                <a href="shop-cart.html" class="btn btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
              </div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$9.99</span>
              </div>
            </div>
            <!-- Product 4 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">Kids Hoodies</h4>
                <a href="shop-cart.html" class="btn btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
              </div>
              <!-- Ribbon -->
              <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white">Eco Friendly</div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$29.99</span>
              </div>
            </div>
            <!-- Product 5 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">Shirts</h4>
                <a href="shop-cart.html" class="btn btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
              </div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$69.99</span>
              </div>
            </div>
            <!-- Product 6 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <h4 class="text-white">Jacket</h4>
                <a href="shop-cart.html" class="btn btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
              </div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens-2.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$199.99</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Call to action -->
        <div class="container" data-url="#">
          <hr class="hr-lg mt-0 mb-1 w-100 mx-auto hr-danger" />
          <div class="position-relative">
            <i class="fa fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
            <div class="p-4 text-center bg-danger">
              <h2 class="display-4 fw-normal text-uppercase text-white my-0 text-font-slab">Clearance Sale</h2>
              <h4 class="text-white mb-0 text-font-slab">Price reductions on 1000s of items!</h4>
            </div>
          </div>
          <hr class="hr-lg mt-1 w-100 mx-auto hr-danger" />
        </div>
      </div>
    </div>
    <!-- /#content -->

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary text-white">
        <div class="container py-3 position-relative">
          <div class="row">
            <div class="col-lg-7 text-center text-lg-start">
              <i class="fa fa-envelope-o icon-4x op-4 float-start me-3 d-none d-xl-block"></i>
              <h2 class="text-uppercase fw-bold mt-2 mb-1 text-font-slab">Get Deals & Discounts</h2>
              <h5 class="text-faded">Direct to your inbox with our newsletter</h5>
            </div>
            <div class="col-lg-5 text-center text-lg-end flex-valign">
              <form class="rounded p-1 row g-0 bg-white bg-op-9">
                <div class="form-floating text-dark col-xl-auto flex-xl-grow-1">
                  <input type="text" class="form-control form-control-transparent" id="newsletterInput" placeholder="Email" />
                  <label for="newsletterInput">Email address</label>
                </div>
                <button class="btn btn-primary col-xl-auto align-self-xl-stretch" type="button">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-menus.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
