<!-- 
{
  "pageTitle": "Sign Up",
  "pageKey": "signup",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Sign Up | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg py-6">
        <!-- Sign Up form -->
        <form class="p-6 w-lg-70 mx-auto shadow-sm border rounded">
          <h3 class="mb-4 d-flex align-items-center">
            Sign Up
            <small class="ms-auto text-sm op-8">Already signed up? <a href="login.html" class="text-primary">Login here</a>.</small>
          </h3>
          <h5>Price Plan</h5>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="basic" />
              <label class="form-check-label" for="basic"> Basic </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="pro" />
              <label class="form-check-label" for="pro"> Pro </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="ultimate" checked />
              <label class="form-check-label" for="ultimate"> Ultimate </label>
            </div>
          </div>
          <hr class="my-4" />
          <h5>Account Information</h5>
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="signup-first-name-page" placeholder="First name" />
            <label for="signup-first-name-page">First Name</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="signup-last-name-page" placeholder="Last name" />
            <label for="signup-last-name-page">Last Name</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="signup-username-page" placeholder="Username" />
            <label for="signup-username-page">Userame</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="email" class="form-control" id="signup-email-page" placeholder="Email address" />
            <label for="signup-email-page">Email address</label>
          </div>
          <div class="mb-3 form-floating">
            <input type="password" class="form-control" id="signup-password-page" placeholder="Password" />
            <label for="signup-password-page">Password</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" value="term" class="form-check-input" />
              I agree with the Terms and Conditions.
            </label>
          </div>
          <hr />
          <button class="btn btn-primary btn-lg" type="submit">Sign up</button>
        </form>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
