<!-- 
{
  "pageTitle": "Team",
  "pageKey": "team",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Team | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav-section-menu">
              <div class="nav nav-list">
                <span class="nav-header">In This Section</span>
                <a href="about.html" class="nav-link first">
                  About Us
                  <small>Basic Version</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="about-extended.html" class="nav-link">
                  About Us
                  <small>Extended Version</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="about-me.html" class="nav-link">
                  About Me
                  <small>More About Me</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="team.html" class="nav-link active">
                  The Team
                  <small>Team displays</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="team-member.html" class="nav-link">
                  Team Member
                  <small>Individual Display</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <a href="contact.html" class="nav-link">
                  Contact Us
                  <small>How to get in touch</small>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2>Team</h2>

            <!-- The team list -->
            <div class="mt-4">
              <h3>List</h3>

              <!--Team Member annika-->
              <div class="row">
                <div class="col-sm-2">
                  <a href="team-member.html" title="View Annika's profile">
                    <img src="./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-thumbnail" alt="Annika" />
                  </a>
                </div>
                <div class="col-sm-10">
                  <h4 class="my-0">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Annika's profile">Annika</a>
                  </h4>
                  <p class="fw-light text-gray-600">Founder & designer</p>
                  <p>Dolus eum lucidus macto neque populus praesent ratis ulciscor vulputate. Abico eros jumentum ratis utrum. Abico decet pecus roto sed sit.</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                </div>
              </div>
              <hr class="border-gray-200 op-8 my-3" />

              <!--Team Member jim-->
              <div class="row">
                <div class="col-sm-2">
                  <a href="team-member.html" title="View Jim's profile">
                    <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="img-thumbnail" alt="Jim" />
                  </a>
                </div>
                <div class="col-sm-10">
                  <h4 class="my-0">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Jim's profile">Jim</a>
                  </h4>
                  <p class="fw-light text-gray-600">Founder & developer</p>
                  <p>
                    Blandit distineo esca iriure jugis suscipit ullamcorper valetudo. Erat exputo nisl. Abluo conventio eros saluto vero. Autem gemino interdico iriure letalis
                    modo.
                  </p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                </div>
              </div>
              <hr class="border-gray-200 op-8 my-3" />

              <!--Team Member ben-->
              <div class="row">
                <div class="col-sm-2">
                  <a href="team-member.html" title="View Ben's profile">
                    <img src="./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-thumbnail" alt="Ben" />
                  </a>
                </div>
                <div class="col-sm-10">
                  <h4 class="my-0">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Ben's profile">Ben</a>
                  </h4>
                  <p class="fw-light text-gray-600">The Tech Guy</p>
                  <p>Exputo incassum paulatim quibus refoveo sino sudo. Enim facilisi natu nutus singularis valetudo. Causa diam genitus nobis pertineo suscipit valetudo.</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                </div>
              </div>
              <hr class="border-gray-200 op-8 my-3" />
            </div>
            <!-- End: team list -->

            <!-- The team list -->
            <div class="mt-6">
              <h3>Grid</h3>
              <div class="row">
                <!--Team Member annika-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Annika's profile">
                    <img src="./assets/img/team/sm/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-thumbnail" alt="Annika" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Annika's profile">Annika</a>
                  </h4>
                  <p class="fw-light text-gray-600">Founder & designer</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member jim-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Jim's profile">
                    <img src="./assets/img/team/sm/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="img-thumbnail" alt="Jim" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Jim's profile">Jim</a>
                  </h4>
                  <p class="fw-light text-gray-600">Founder & developer</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member ben-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Ben's profile">
                    <img src="./assets/img/team/sm/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-thumbnail" alt="Ben" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Ben's profile">Ben</a>
                  </h4>
                  <p class="fw-light text-gray-600">The Tech Guy</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member jane-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Jane's profile">
                    <img src="./assets/img/team/sm/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="img-thumbnail" alt="Jane" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Jane's profile">Jane</a>
                  </h4>
                  <p class="fw-light text-gray-600">Marketing Expert</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member steve-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Steve's profile">
                    <img src="./assets/img/team/sm/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="img-thumbnail" alt="Steve" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Steve's profile">Steve</a>
                  </h4>
                  <p class="fw-light text-gray-600">Sales Manager</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member robert-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Robert's profile">
                    <img src="./assets/img/team/sm/6-vicky-hladynets-C8Ta0gwPbQg-unsplash.webp" class="img-thumbnail" alt="Robert" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Robert's profile">Robert</a>
                  </h4>
                  <p class="fw-light text-gray-600">Junior designer</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member obanna-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Obanna's profile">
                    <img src="./assets/img/team/sm/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-thumbnail" alt="Obanna" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Obanna's profile">Obanna</a>
                  </h4>
                  <p class="fw-light text-gray-600">Project Manager</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
                <!--Team Member kate-->
                <div class="col-6 col-sm-3">
                  <a href="team-member.html" title="View Kate's profile">
                    <img src="./assets/img/team/sm/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-thumbnail" alt="Kate" />
                  </a>
                  <h4 class="mb-0 mt-2">
                    <a href="team-member.html" class="text-gray-800 text-decoration-none" title="View Kate's profile">Kate</a>
                  </h4>
                  <p class="fw-light text-gray-600">Project Manager</p>
                  <div class="social-media-branding social-media-branding-sm">
                    <!--@todo: replace with real social share links -->
                    <a href="#" class="text-dark text-hover-brand-twitter"><i class="fab fa-twitter-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-facebook"><i class="fab fa-facebook-square icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-linkedin"><i class="fab fa-linkedin icon-1x"></i></a>
                    <a href="#" class="text-dark text-hover-brand-google-plus"><i class="fab fa-google-plus-square icon-1x"></i></a>
                  </div>
                  <hr class="border-gray-200 op-8 my-3" />
                </div>
              </div>
            </div>

            <!-- The team list -->
            <div class="mt-6">
              <h3>Cards</h3>
              <div class="row">
                <!--Team Member annika-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Annika's profile">
                      <img src="./assets/img/team/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="card-img-top" alt="Annika" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Annika's profile">Annika</a>
                      </h5>
                      <p>Founder & designer</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member jim-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Jim's profile">
                      <img src="./assets/img/team/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="card-img-top" alt="Jim" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Jim's profile">Jim</a>
                      </h5>
                      <p>Founder & developer</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member ben-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Ben's profile">
                      <img src="./assets/img/team/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="card-img-top" alt="Ben" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Ben's profile">Ben</a>
                      </h5>
                      <p>The Tech Guy</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member jane-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Jane's profile">
                      <img src="./assets/img/team/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="card-img-top" alt="Jane" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Jane's profile">Jane</a>
                      </h5>
                      <p>Marketing Expert</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member steve-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Steve's profile">
                      <img src="./assets/img/team/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="card-img-top" alt="Steve" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Steve's profile">Steve</a>
                      </h5>
                      <p>Sales Manager</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member robert-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Robert's profile">
                      <img src="./assets/img/team/6-vicky-hladynets-C8Ta0gwPbQg-unsplash.webp" class="card-img-top" alt="Robert" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Robert's profile">Robert</a>
                      </h5>
                      <p>Junior designer</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member obanna-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Obanna's profile">
                      <img src="./assets/img/team/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="card-img-top" alt="Obanna" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Obanna's profile">Obanna</a>
                      </h5>
                      <p>Project Manager</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
                <!--Team Member kate-->
                <div class="col-6 col-sm-3">
                  <div class="card rounded">
                    <a href="team-member.html" title="View Kate's profile">
                      <img src="./assets/img/team/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="card-img-top" alt="Kate" />
                    </a>
                    <div class="card-body">
                      <h5 class="mb-0">
                        <a href="team-member.html" class="text-gray-800" title="View Kate's profile">Kate</a>
                      </h5>
                      <p>Project Manager</p>
                      <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- The team list -->
            <div class="mt-6">
              <h3>Cards horizontal</h3>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <!--Team Member annika-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Annika's profile">
                          <img src="./assets/img/team/sm/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid rounded-start" alt="Annika" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Annika's profile">Annika</a>
                          </h5>
                          <p class="mb-1">Founder & designer</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member jim-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Jim's profile">
                          <img src="./assets/img/team/sm/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="img-fluid rounded-start" alt="Jim" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Jim's profile">Jim</a>
                          </h5>
                          <p class="mb-1">Founder & developer</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member ben-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Ben's profile">
                          <img src="./assets/img/team/sm/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="img-fluid rounded-start" alt="Ben" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Ben's profile">Ben</a>
                          </h5>
                          <p class="mb-1">The Tech Guy</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member jane-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Jane's profile">
                          <img src="./assets/img/team/sm/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="img-fluid rounded-start" alt="Jane" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Jane's profile">Jane</a>
                          </h5>
                          <p class="mb-1">Marketing Expert</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member steve-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Steve's profile">
                          <img src="./assets/img/team/sm/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="img-fluid rounded-start" alt="Steve" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Steve's profile">Steve</a>
                          </h5>
                          <p class="mb-1">Sales Manager</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member robert-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Robert's profile">
                          <img src="./assets/img/team/sm/6-vicky-hladynets-C8Ta0gwPbQg-unsplash.webp" class="img-fluid rounded-start" alt="Robert" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Robert's profile">Robert</a>
                          </h5>
                          <p class="mb-1">Junior designer</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member obanna-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Obanna's profile">
                          <img src="./assets/img/team/sm/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-fluid rounded-start" alt="Obanna" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Obanna's profile">Obanna</a>
                          </h5>
                          <p class="mb-1">Project Manager</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <!--Team Member kate-->
                  <div class="card rounded">
                    <div class="row g-0">
                      <div class="col-4 col-sm-3">
                        <a href="team-member.html" title="View Kate's profile">
                          <img src="./assets/img/team/sm/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-fluid rounded-start" alt="Kate" />
                        </a>
                      </div>
                      <div class="col-8 col-sm-9">
                        <div class="card-body">
                          <h5 class="mb-0">
                            <a href="team-member.html" class="text-gray-800" title="View Kate's profile">Kate</a>
                          </h5>
                          <p class="mb-1">Project Manager</p>
                          <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">View profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- The team list -->
            <div class="mt-6">
              <h3>Circles</h3>
              <div class="bg-white rounded p-4 text-center">
                <h6 class="text-purple my-0 text-uppercase">Team</h6>
                <h3 class="display-5 fw-bold mb-4">Meet the team</h3>
                <div class="d-flex align-items-center justify-content-center">
                  <a href="team-member.html" title="View Annika's profile" class="border border-white border-5 rounded-circle mx-n2">
                    <img src="./assets/img/team/sm/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="rounded-circle" alt="Annika" />
                  </a>
                  <a href="team-member.html" title="View Jim's profile" class="border border-white border-5 rounded-circle mx-n2">
                    <img src="./assets/img/team/sm/2-austin-wade-X6Uj51n5CE8-unsplash.webp" class="rounded-circle" alt="Jim" />
                  </a>
                  <a href="team-member.html" title="View Ben's profile" class="border border-white border-5 rounded-circle mx-n2">
                    <img src="./assets/img/team/sm/3-denis-agati--5Vl9oimYlU-unsplash.webp" class="rounded-circle" alt="Ben" />
                  </a>
                  <a href="team-member.html" title="View Jane's profile" class="border border-white border-5 rounded-circle mx-n2">
                    <img src="./assets/img/team/sm/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" class="rounded-circle" alt="Jane" />
                  </a>
                  <a href="team-member.html" title="View Steve's profile" class="border border-white border-5 rounded-circle mx-n2">
                    <img src="./assets/img/team/sm/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" class="rounded-circle" alt="Steve" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- End: team list -->
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
