<!-- 
{
  "pageTitle": "Timeline",
  "pageKey": "timeline",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Timeline | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <h2>
          <span>Timelines</span>
        </h2>
        <!-- Timeline 1: default -->
        <h3>Timeline 1: Default</h3>
        <div class="timeline">
          <div class="timeline-breaker">2014</div>
          <!--Timeline item 0-->
          <div class="timeline-item animated fadeIn de-02">
            <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid" />
            <div class="mt-4 fw-5 fw-bold op-8">Thu 26th Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Nobis Pagus Si Uxor Valde</a>
            </h4>
            <p class="lh-base">Augue immitto roto suscipit. Accumsan ad euismod facilisis nibh paulatim refoveo secundum vero voco. Eu gravis minim scisco secundum tation.</p>
          </div>
          <!--Timeline item 1-->
          <div class="timeline-item animated right fadeIn de-02">
            <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid" />
            <div class="mt-4 fw-5 fw-bold op-8">Thu 26th Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Amet Comis Dolore Scisco Uxor</a>
            </h4>
            <p class="lh-base">Amet dolore facilisi iriure neque sed te tego. Commodo paulatim suscipere. Et eum ibidem neque pala probo zelus. At suscipit tum.</p>
          </div>
          <!--Timeline item 2-->
          <div class="timeline-item animated fadeIn de-02">
            <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid" />
            <div class="mt-4 fw-5 fw-bold op-8">Sun 22nd Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Aliquam Amet Jus Mauris Natu</a>
            </h4>
            <p class="lh-base">
              Accumsan amet inhibeo iriure olim pagus pecus sit. Comis dignissim pertineo quidem vereor vero vicis. Acsi eum letalis macto neo refoveo saluto usitas utrum.
            </p>
          </div>
          <!--Timeline item 3-->
          <div class="timeline-item animated highlight right fadeIn de-02">
            <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid" />
            <div class="mt-4 fw-5 fw-bold op-8">Mon 23rd Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Haero Importunus Quae Tation Vel</a>
            </h4>
            <p class="lh-base">Acsi autem haero ideo imputo meus olim patria paulatim ymo. Caecus facilisis hos ibidem mauris virtus. Eligo lucidus refoveo tego.</p>
          </div>
          <div class="timeline-breaker timeline-breaker-middle">2013</div>
          <!--Timeline item 4-->
          <div class="timeline-item animated fadeIn de-02">
            <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid" />
            <div class="mt-4fw-5 fw-bold op-8">Fri 20th Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Abico Ex Ratis Refoveo Te</a>
            </h4>
            <p class="lh-base">
              Adipiscing haero molior patria si suscipit tego. Consectetuer dignissim dolore ille jus modo. Blandit commoveo laoreet letalis macto praesent quadrum.
            </p>
          </div>
          <!--Timeline item 5-->
          <div class="timeline-item animated right fadeIn de-02">
            <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid" />
            <div class="mt-4fw-5 fw-bold op-8">Sun 22nd Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Distineo Jugis Quibus Refoveo Scisco</a>
            </h4>
            <p class="lh-base">At camur ex plaga. Cogo euismod gravis inhibeo plaga. Duis esca feugiat iaceo luctus praemitto tation vereor ymo. Mos plaga scisco ut vicis.</p>
          </div>
          <!--Timeline item 6-->
          <div class="timeline-item animated fadeIn de-02">
            <object width="560" height="315">
              <param name="movie" value="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0" />
              <param name="allowFullScreen" value="true" />
              <param name="allowscriptaccess" value="always" />
              <embed
                src="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0"
                type="application/x-shockwave-flash"
                width="560"
                height="315"
                allowscriptaccess="always"
                allowfullscreen="true"
              />
            </object>
            <div class="mt-4fw-5 fw-bold op-8">Sun 22nd Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Responsive Video Embed</a>
            </h4>
            <p class="lh-base">Loquor neo ut vel. Iaceo ideo loquor utrum. Duis euismod jugis quia tation typicus verto. Eligo inhibeo praemitto premo quadrum valetudo voco.</p>
          </div>
          <!--Timeline item 7-->
          <div class="timeline-item animated right fadeIn de-02">
            <object width="560" height="315">
              <param name="movie" value="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0" />
              <param name="allowFullScreen" value="true" />
              <param name="allowscriptaccess" value="always" />
              <embed
                src="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0"
                type="application/x-shockwave-flash"
                width="560"
                height="315"
                allowscriptaccess="always"
                allowfullscreen="true"
              />
            </object>
            <div class="mt-4fw-5 fw-bold op-8">Fri 13th Sep</div>
            <h4>
              <a href="#" class="text-decoration-none">Responsive Video Embed</a>
            </h4>
            <p class="lh-base">
              Exerci lobortis nunc pala paratus paulatim praemitto voco vulpes. Feugiat inhibeo jumentum macto melior paulatim refero. Ad eligo exerci modo praesent qui refoveo
              singularis tation.
            </p>
          </div>
          <div class="timeline-breaker timeline-breaker-bottom">The End</div>
        </div>
        <!-- Timeline -->
        <hr class="my-2" />
        <h3>Options</h3>
        <p>4 Timeline variations (combine with .timeline) classes available:</p>
        <ol>
          <li>
            <strong><a href="timeline.html">Default</a></strong>
            : class="timeline" = default, 2 items per row, floating left & right, timeline runs down the middle. Is stacked on mobile.
          </li>
          <li>
            <strong><a href="timeline-left.html">timeline-left</a></strong>
            : class="timeline timeline-left" = 1 item per row, floating left, timeline runs down the left with markers aligned left
          </li>
          <li>
            <strong><a href="timeline-right.html">timeline-right</a></strong>
            : class="timeline timeline-right" = 1 item per row, floating right, timeline runs down the right with markers aligned right
          </li>
          <li>
            <strong><a href="timeline-stacked.html">timeline-stacked</a></strong>
            : class="timeline timeline-stacked" = posts stack on top of each other, 1 item per row, timeline runs down the middle, markers show above posts. Is default mobile
            layout.
          </li>
          <li>
            <strong><a href="timeline-carousel.html">timeline carousel</a></strong>
          </li>
        </ol>
        <p>Timeline item (combine with .timeline-item) classes available:</p>
        <ol>
          <li><strong>overlap-off</strong> = drops the item overlap</li>
          <li><strong>overlap-pull-large</strong> = class to pull item up 120px</li>
          <li><strong>overlap-pull-small</strong> = class to pull item up 30px</li>
          <li><strong>overlap-push-large</strong> = class to push item down 120px</li>
          <li><strong>overlap-push-medium</strong> = class to push item down 60px</li>
          <li><strong>overlap-push-small</strong> = class to push item down 30px</li>
          <li><strong>right</strong> = pulls item to right</li>
          <li><strong>highlight</strong> = highlights the marker with primary colour</li>
        </ol>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
