<!-- 
{
  "pageTitle": "Timeline Carousel",
  "pageKey": "timeline-carousel",
  "pageActiveTrail": [
    "pages",
    "timeline"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Timeline Carousel | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <h2>Timelines</h2>
        <!-- Timeline 1: default -->
        <h3>Timeline Carousel</h3>
        <div class="container">
          <div
            class="owl-thumbs carousel-timeline-nav"
            data-bs-toggle="owl-carousel"
            data-owl-carousel-thumbs="#experience-timeline"
            data-owl-carousel-settings='{"items":4, "nav":false, "dots":false, "merge":true, "mergeFit":true}'
          >
            <a class="owl-thumb text-sm text-uppercase">Mar 2010</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">Oct 2010</a>
            <a class="owl-thumb text-sm text-uppercase" data-merge="2">Dec 2010</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">Aug 2011</a>
            <a class="owl-thumb text-sm text-uppercase">Mar 2012</a> <a class="owl-thumb text-sm text-uppercase">Apr 2012</a>
            <a class="owl-thumb text-sm text-uppercase">Apr 2012</a> <a class="owl-thumb text-sm text-uppercase" data-merge="2">Jan 2013</a>
          </div>
          <div
            class="owl-carousel owl-overflow owl-highlight-active owl-equalheight"
            id="experience-timeline"
            data-bs-toggle="owl-carousel"
            data-owl-carousel-settings='{"items":1,"nav":true, "dots":false}'
          >
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-2.png" alt="TSU" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Mar 2010 - May 2010</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">TSU</a>
                  </p>

                  <p>
                    Dignissim euismod iaceo ideo ille neo pecus quibus. Defui luctus si. Appellatio dolor fere pertineo vulputate. Cui genitus immitto incassum jus si. Aliquip
                    plaga utrum.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-3.png" alt="Bergman Foremann" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Oct 2010 - May 2011</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Bergman Foremann</a>
                  </p>

                  <p>
                    Cogo dolus pneum. Dignissim erat fere inhibeo jugis lucidus luctus nibh quadrum quae. Camur commoveo duis loquor meus oppeto virtus. Autem letalis melior
                    paratus secundum typicus. Acsi eros hos immitto imputo iustum nulla saepius. Accumsan aliquip conventio dolore ille neo nobis pertineo populus si.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-4.png" alt="PinPixel" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Dec 2010 - Jan 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Server Support Manager</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">PinPixel</a>
                  </p>

                  <p>
                    Abbas abdo aliquip conventio exerci nibh. Mauris nulla probo. Brevitas saluto velit. Cui damnum eligo esca modo nimis pala refoveo. Consectetuer eligo iaceo
                    plaga quae roto saluto similis tum. Acsi ideo in magna molior paratus refero wisi. Abdo inhibeo jus nunc premo volutpat.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-5.png" alt="FNC" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Aug 2011 - Jan 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">FNC</a>
                  </p>

                  <p>
                    Esca ille odio refoveo singularis utrum veniam vero. Autem dolore exerci ille lucidus olim suscipere vero verto vindico. Adipiscing fere nimis quae quia tation
                    turpis. Euismod facilisis genitus haero iaceo interdico iustum meus.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-6.png" alt="Siqueira" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Mar 2012 - Apr 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Siqueira</a>
                  </p>

                  <p>
                    Abico lucidus similis utinam utrum vulpes. Augue eros nibh utinam. Defui dolus natu oppeto vicis. Adipiscing at cui esse gemino validus. Esse ex ratis. Facilisi
                    in letalis metuo nostrud pertineo roto zelus.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-7.png" alt="Bouldrian" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Apr 2012 - Sep 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Server Support Manager</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Bouldrian</a>
                  </p>

                  <p>
                    Abbas adipiscing camur fere huic interdico mauris neque saepius utrum. Defui elit populus rusticus secundum. Autem brevitas in valetudo. Aliquip dolus eum olim
                    turpis typicus verto.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-8.png" alt="Krollon" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Apr 2012 - Dec 2012</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">Drupal Developer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Krollon</a>
                  </p>

                  <p>
                    Aliquip caecus humo jumentum olim singularis tego vel ymo zelus. Meus nisl roto. Adipiscing eros imputo laoreet neque nisl paratus. Os ratis sudo. Capto
                    distineo eum lenis lobortis luctus luptatum persto pneum. Commodo diam esse incassum nunc voco.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-start-0 border-end-0 mb-2 w-100">
              <div class="row">
                <div class="col-md-2 d-none d-md-block">
                  <img src="./assets/img/customers/customer-9.png" alt="Stern Hegoland" class="img-fluid" />
                </div>
                <div class="col-md-10">
                  <h5 class="text-uppercase my-0 text-primary">Jan 2013 - Jul 2013</h5>
                  <h2 class="text-dark text-letter-spacing-sm fw-bold my-0">UX Designer</h2>
                  <p class="text-muted mb-2 text-sm">
                    @ <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="fw-bold text-muted">Stern Hegoland</a>
                  </p>

                  <p>
                    Abluo jumentum meus pneum praemitto. Esca refero sagaciter. Dolus facilisis immitto luptatum occuro sino suscipit veniam. Antehabeo cui quae. Autem comis gilvus
                    haero iusto loquor refoveo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
