<!-- 
{
  "pageTitle": "Timeline Right",
  "pageKey": "timeline-right",
  "pageActiveTrail": [
    "pages",
    "timeline"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Timeline Right | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <h2>
          <span>Timelines</span>
          <small>5 New Timeline Options</small>
        </h2>
        <!-- Timeline 3: timeline-right -->
        <h3>Timeline 3: .timeline-right</h3>
        <div class="timeline timeline-right">
          <div class="timeline-breaker">The Start</div>
          <!--Timeline item 1-->
          <div class="timeline-item animated fadeIn de-02">
            <i class="bi-award fs-2 float-end"></i>
            <div class="fw-6 fw-bold op-8">Feb 2011</div>
            <h4 class="fw-bold">John & Mike Doe meet for first at Kings College London</h4>
            <p class="lh-base">Acsi quibus tamen. Blandit nisl patria pecus turpis vindico ymo.</p>
          </div>
          <!--Timeline item 2 - NOTE: the .right class-->
          <div class="timeline-item right animated fadeIn de-02">
            <i class="bi-bar-chart fs-2 float-end"></i>
            <div class="fw-6 fw-bold op-8">April 2011</div>
            <h4 class="fw-bold">John Doe launches first website</h4>
            <p class="lh-base">Conventio gemino praesent quis. Aliquam caecus causa defui jus nulla pecus rusticus sudo vero.</p>
          </div>
          <div class="timeline-breaker timeline-breaker-middle">The Middle</div>
          <!--Timeline item 3- - NOTE: .highlight class -->
          <div class="timeline-item highlight animated fadeIn de-02">
            <i class="bi-bank fs-2 float-end"></i>
            <div class="fw-6 fw-bold op-8">Sept 2011</div>
            <h4 class="fw-bold">The company was born</h4>
            <p class="lh-base">Antehabeo cui esca iusto luctus nimis velit. Acsi autem dignissim ea et ex huic odio vero wisi.</p>
          </div>
          <!--Timeline item 4 - NOTE: the .right class-->
          <div class="timeline-item right animated fadeIn de-02">
            <i class="bi-box-arrow-in-down fs-2 float-end"></i>
            <div class="fw-6 fw-bold op-8">Dec 2011</div>
            <h4 class="fw-bold">Company lands first major client</h4>
            <p class="lh-base">Decet distineo eu eum facilisi illum nunc populus te. Diam importunus obruo olim sino typicus utrum.</p>
          </div>
          <div class="timeline-breaker timeline-breaker-bottom">To be continued........</div>
        </div>
        <!-- Timeline -->
        <hr class="my-2" />
        <h3>Options</h3>
        <p>4 Timeline variations (combine with .timeline) classes available:</p>
        <ol>
          <li>
            <strong><a href="timeline.html">Default</a></strong>
            : class="timeline" = default, 2 items per row, floating left & right, timeline runs down the middle. Is stacked on mobile.
          </li>
          <li>
            <strong><a href="timeline-left.html">timeline-left</a></strong>
            : class="timeline timeline-left" = 1 item per row, floating left, timeline runs down the left with markers aligned left
          </li>
          <li>
            <strong><a href="timeline-right.html">timeline-right</a></strong>
            : class="timeline timeline-right" = 1 item per row, floating right, timeline runs down the right with markers aligned right
          </li>
          <li>
            <strong><a href="timeline-stacked.html">timeline-stacked</a></strong>
            : class="timeline timeline-stacked" = posts stack on top of each other, 1 item per row, timeline runs down the middle, markers show above posts. Is default mobile
            layout.
          </li>
          <li>
            <strong><a href="timeline-carousel.html">timeline carousel</a></strong>
          </li>
        </ol>
        <p>Timeline item (combine with .timeline-item) classes available:</p>
        <ol>
          <li><strong>overlap-off</strong> = drops the item overlap</li>
          <li><strong>overlap-pull-large</strong> = class to pull item up 120px</li>
          <li><strong>overlap-pull-small</strong> = class to pull item up 30px</li>
          <li><strong>overlap-push-large</strong> = class to push item down 120px</li>
          <li><strong>overlap-push-medium</strong> = class to push item down 60px</li>
          <li><strong>overlap-push-small</strong> = class to push item down 30px</li>
          <li><strong>right</strong> = pulls item to right</li>
          <li><strong>highlight</strong> = highlights the marker with primary colour</li>
        </ol>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
