<!-- Off canvas region/sidebar cart for shop pages -->
{% if headerOffcanvasCart %}
  <div id="shop-cart-sidebar" class="offcanvas offcanvas-end p-4 bg-dark text-white" tabindex="-1" aria-labelledby="shop-cart-sidebar">
    <div class="offcanvas-header">
      <h4 class="position-relative">Cart</h4>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      <hr class="mt-0 mb-5 hr-lg" />

      <!-- Shopping cart items -->
      <div class="cart-items">
        <!-- Shopping cart item 1 -->
        <div class="row align-items-center">
          <a href="#" class="col-3">
            <img class="img-fluid" src="./assets/img/shop/gloves-1-thumb.jpg" alt="Product 1">
          </a>
          <div class="col-8">
            <h5 class="mb-0">Gloves</h5>
            <p class="mb-0">$18.99 / x2</p>
          </div>
          <div class="col-1">
            <a href="#" class="btn-close cart-remove text-white float-end ms-auto">
              <i class="bi-x-circle-fill"></i>
            </a>
          </div>
        </div>
        <hr class="my-3" />

        <!-- Shopping cart item 2 -->
        <div class="row align-items-center">
          <a href="#" class="col-3">
            <img class="img-fluid" src="./assets/img/shop/shoes-1-thumb.jpg" alt="Product 2">
          </a>
          <div class="col-8">
            <h5 class="mb-0">Shoes</h5>
            <p class="mb-0">$12.99 / x2</p>
          </div>
          <div class="col-1">
            <a href="#" class="btn-close cart-remove text-white float-end ms-auto">
              <i class="bi-x-circle-fill"></i>
            </a>
          </div>
        </div>
        <hr class="my-3" />

        <!-- Shopping cart item 3 -->
        <div class="row align-items-center">
          <a href="#" class="col-3">
            <img class="img-fluid" src="./assets/img/shop/gloves-1-thumb.jpg" alt="Product 2">
          </a>
          <div class="col-8">
            <h5 class="mb-0">Gloves</h5>
            <p class="mb-0">$8.99 / x2</p>
          </div>
          <div class="col-1">
            <a href="#" class="btn-close cart-remove text-white float-end ms-auto">
              <i class="bi-x-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- End of Shopping cart items -->

      <div class="text-start">
        <hr class="mt-5 mb-3 hr-lg" />
        <h5 class="fw-bold">Total: <span class="text-primary">$50.97</span></h5>
        <hr class="mt-3 mb-3 hr-lg" />
        <div class="row gx-3">
          <div class="col"><a href="shop-cart.html" tabindex="-1" class="btn btn-outline-primary btn-block btn-sm">View Cart</a></div>
          <div class="col"><a href="shop-checkout.html" tabindex="-1" class="btn btn-primary btn-block btn-sm">Checkout</a></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Off canvas region/sidebar (legacy .header-hidden region) -->
{% if headerOffcanvas %}
  <div class="offcanvas offcanvas-end bg-dark text-white py-4 px-4" tabindex="-1" id="offcanvas-sidebar" aria-labelledby="offcanvas-sidebar-label">
    <div class="offcanvas-header">
      <h5 class="text-uppercase text-letter-spacing">About Us</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p class="text-sm">Making the web a prettier place one template at a time! We make beautiful, quality, responsive Drupal & web templates!</p>
      <a href="#" class="btn btn-sm btn-primary">Find out more</a>

      <hr class="hr-light op-2 my-4" />

      <!-- Contact details -->
      <h5 class="text-uppercase text-letter-spacing">Contact Us</h5>
      <address>
        <p class="mb-1 text-sm"><abbr title="Phone"><i class="fa fa-phone"></i></abbr> 019223 8092344</p>
        <p class="mb-1 text-sm"><abbr title="Email"><i class="fa fa-envelope"></i></abbr> info@themelize.me</p>
        <p class="mb-0 text-sm"><abbr title="Address"><i class="fa fa-home"></i></abbr> Sunshine House, Sunville. SUN12 8LU.</p>
      </address>
    </div>
  </div>
{% endif %}

{% if includeColourSwitcher %}
  <!-- Style switcher - demo only - @todo: remove in production -->
  <a href="#colour-switcher" class="rounded position-fixed bottom-0 start-0 mb-4 ms-4 fs-5 border border-2 sq-sm d-flex align-items-center justify-content-center bg-dark text-white" data-bs-toggle="offcanvas">
    <i class="bi-gear"></i>
  </a>

  <div class="offcanvas offcanvas-end bg-light" data-bs-backdrop=false tabindex="-1" id="colour-switcher" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fw-bolder" id="offcanvasLabel">Colour Options</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <p>AppStrap comes with 11 pre-defined colour options which are shown below.</p>
      <p>You can easily switch colours doing one of the following:</p>
      <ol>
        <li>via the config <code>colourScheme</code> option</li>
        <li>or via <code>./src/scss/_variables.scss</code> defining a preset colour or by defining your own.</li>
      </ol>  
      
      <hr />
    <div class="theme-colours">
        <a href="#green" class="green active sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Green (Default)">Green</a>
        <a href="#red" class="red sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Red">Red</a>
        <a href="#blue" class="blue sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Blue">Blue</a>
        <a href="#purple" class="purple sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Purple">Purple</a>
        <a href="#pink" class="pink sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Pink">Pink</a>
        <a href="#orange" class="orange sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Orange">Orange</a>
        <a href="#brown" class="brown sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Brown">Brown</a>
        <a href="#slate" class="slate sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Slate">Slate</a>
        <a href="#olive" class="olive sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Olive">Olive</a>
        <a href="#teal" class="teal sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Teal">Teal</a>
        <a href="#charcoal" class="charcoal sq" data-bs-toggle="tooltip" data-bs-placement="right" data-original-title="Charcoal">Charcoal</a>
      </div>
      <hr />
      <p class="text-xs text-muted">Cookies are NOT enabled so colour selection is not persistent.</p>
      <p class="text-xs my-0"><a href="index.html">To main homepage</a></p>
      <p class="text-xs my-0"><a href="admin.html">To admin homepage</a></p>
      <p class="text-xs my-0"><a href="intro.html">To intro page</a></p>
    </div>
  </div>
{% endif %}


{% if additionalFonts %}
<!-- Additional Fonts -->
{% for additionalFont in additionalFonts %}
  <link href="{{ additionalFont }}" rel="stylesheet">
{% endfor %}
{% endif %}

<!-- Bootstrap & JS -->
<script src="{{ jsFilesBase }}assets/js/vendors.min.js"></script>

{% if includeCustomJS %}
  <script src="{{ jsFilesBase }}assets/js/custom.script.min.js"></script>
{% endif %}


{% if additionalJS %}
<!-- Additional JS -->
{% for js in additionalJS %}
  <script src="{{ js }}"></script>
{% endfor %}
{% endif %}

<script src="{{ jsFilesBase }}assets/js/script.min.js"></script>
