<!--everything within this div is collapsed on mobile-->
<div class="{{ navbarMainClass ? navbarMainClass : '' }}" id="navbar-main">
  <button type="button" class="btn-close d-md-none position-absolute top-0 end-0 bg-dark bg-op-2 p-2 rounded-0" data-bs-dismiss="offcanvas" data-bs-target="#navbar-main" aria-label="Close"></button>

  <!--main navigation-->
  <!--
    Use data-bs-hover-collapse="PIXEL-VALUE" to determine when dropdowns are hoverable
    @see src/js/plugins/dropdown.js
  -->
  <ul class="{{ 'navbar-nav'|classMerge(navbarNavClass, dropdownCollapseClass) }}">
    
    <!-- Homepages -->
    <li class="{{ 'nav-item dropdown dropdown-mega-menu'|classMerge(dropdownHoverBpClass) }}"> 
      <a href="#" class="{{ 'nav-link dropdown-toggle'|classMerge(navbarMainNavLinkClass) }}" id="indexs-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">
        <i class="fa fa-home nav-link-icon"></i>
        <span class="d-none">Home</span>
      </a> 
      
      <!-- Dropdown Menu - mega menu-->
      <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}">
                
        <div class="row g-0">
          <div class="col-md-6">
            <h4 class="dropdown-header text-uppercase">Classic Demos</h4>
            <hr class="dropdown-divider" />
                        <div class="row g-0">
                                    <div class="col-lg-6">            <a href="index.html" class="dropdown-item {{ pageIsActive('index', currentPageKey) ? 'active' : '' }}">Homepage (default)</a>
                                                <a href="index-coming-soon.html" class="dropdown-item {{ pageIsActive('index-coming-soon', currentPageKey) ? 'active' : '' }}">Coming Soon</a>
                                                <a href="index-onepager.html" class="dropdown-item {{ pageIsActive('index-onepager', currentPageKey) ? 'active' : '' }}">One Pager Slideshow</a>
                                                <a href="index-onepager-bg-slideshow.html" class="dropdown-item {{ pageIsActive('index-onepager-bg-slideshow', currentPageKey) ? 'active' : '' }}">One Pager Background Slideshow</a>
                                                <a href="index-onepager-dotted-menu-bottom.html" class="dropdown-item {{ pageIsActive('index-onepager-dotted-menu-bottom', currentPageKey) ? 'active' : '' }}">One Pager Dotted Menu Bottom</a>
                                                <a href="index-onepager-dotted-menu-left.html" class="dropdown-item {{ pageIsActive('index-onepager-dotted-menu-left', currentPageKey) ? 'active' : '' }}">One Pager Dotted Menu Left</a>
                                                <a href="index-onepager-dotted-menu-right.html" class="dropdown-item {{ pageIsActive('index-onepager-dotted-menu-right', currentPageKey) ? 'active' : '' }}">One Pager Dotted Menu Right</a>
            </div>                        <div class="col-lg-6">            <a href="index-onepager-image.html" class="dropdown-item {{ pageIsActive('index-onepager-image', currentPageKey) ? 'active' : '' }}">One Pager Image</a>
                                                <a href="index-onepager-image-full-height.html" class="dropdown-item {{ pageIsActive('index-onepager-image-full-height', currentPageKey) ? 'active' : '' }}">One Pager Image Full Height</a>
                                                <a href="index-onepager-submenu.html" class="dropdown-item {{ pageIsActive('index-onepager-submenu', currentPageKey) ? 'active' : '' }}">One Pager Submenu</a>
                                                <a href="index-promo-header.html" class="dropdown-item {{ pageIsActive('index-promo-header', currentPageKey) ? 'active' : '' }}">Promo Header</a>
                                                <a href="index-static.html" class="dropdown-item {{ pageIsActive('index-static', currentPageKey) ? 'active' : '' }}">Homepage No Slider</a>
                                                <a href="intro.html" class="dropdown-item {{ pageIsActive('intro', currentPageKey) ? 'active' : '' }}">Intro</a>
            </div>                        </div> 
          </div>
          <div class="col-md-6">
            <h4 class="dropdown-header text-uppercase">Niche Demos</h4>
            <hr class="dropdown-divider" />
                        <div class="row g-0">
                                    <div class="col-lg-6">            <a href="index-app-landing.html" class="dropdown-item {{ pageIsActive('index-app-landing', currentPageKey) ? 'active' : '' }}">App Landing Page</a>
                                                <a href="index-charity.html" class="dropdown-item {{ pageIsActive('index-charity', currentPageKey) ? 'active' : '' }}">Charity Homepage</a>
                                                <a href="index-church.html" class="dropdown-item {{ pageIsActive('index-church', currentPageKey) ? 'active' : '' }}">Church Homepage</a>
                                                <a href="index-corporate.html" class="dropdown-item {{ pageIsActive('index-corporate', currentPageKey) ? 'active' : '' }}">Corporate Homepage</a>
                                                <a href="index-event.html" class="dropdown-item {{ pageIsActive('index-event', currentPageKey) ? 'active' : '' }}">Event Homepage</a>
                                                <a href="index-forum.html" class="dropdown-item {{ pageIsActive('index-forum', currentPageKey) ? 'active' : '' }}">Forum Homepage</a>
                                                <a href="index-freelancer-portfolio.html" class="dropdown-item {{ pageIsActive('index-freelancer-portfolio', currentPageKey) ? 'active' : '' }}">Freelancer Homepage</a>
                                                <a href="index-gym.html" class="dropdown-item {{ pageIsActive('index-gym', currentPageKey) ? 'active' : '' }}">Gym Homepage</a>
                                                <a href="index-jobs.html" class="dropdown-item {{ pageIsActive('index-jobs', currentPageKey) ? 'active' : '' }}">Jobs Homepage</a>
                                                <a href="index-knowledgebase.html" class="dropdown-item {{ pageIsActive('index-knowledgebase', currentPageKey) ? 'active' : '' }}">Knowledgebase</a>
            </div>                        <div class="col-lg-6">            <a href="index-magazine.html" class="dropdown-item {{ pageIsActive('index-magazine', currentPageKey) ? 'active' : '' }}">Magazine Homepage</a>
                                                <a href="index-music.html" class="dropdown-item {{ pageIsActive('index-music', currentPageKey) ? 'active' : '' }}">Music Homepage</a>
                                                <a href="index-photographer.html" class="dropdown-item {{ pageIsActive('index-photographer', currentPageKey) ? 'active' : '' }}">Photographer Homepage</a>
                                                <a href="index-realestate-single.html" class="dropdown-item {{ pageIsActive('index-realestate-single', currentPageKey) ? 'active' : '' }}">Real Estate Homepage</a>
                                                <a href="index-restaurant.html" class="dropdown-item {{ pageIsActive('index-restaurant', currentPageKey) ? 'active' : '' }}">Restaurant Homepage</a>
                                                <a href="index-technology.html" class="dropdown-item {{ pageIsActive('index-technology', currentPageKey) ? 'active' : '' }}">Technology Homepage</a>
                                                <a href="index-travel-blog.html" class="dropdown-item {{ pageIsActive('index-travel-blog', currentPageKey) ? 'active' : '' }}">Travel Blog</a>
                                                <a href="index-wedding.html" class="dropdown-item {{ pageIsActive('index-wedding', currentPageKey) ? 'active' : '' }}">Wedding Homepage</a>
                                                <a href="shop.html" class="dropdown-item {{ pageIsActive('shop', currentPageKey) ? 'active' : '' }}">Shop Homepage</a>
            </div>                        </div>                  
          </div>
        </div>
      </div>
    </li>
    
    <!-- Pages -->
    <li class="{{ 'nav-item dropdown'|classMerge(dropdownHoverBpClass, pageIsActive('pages', currentPageKey, pageActiveTrail) ? 'active' : '') }}">
      <a href="#" class="{{ 'nav-link dropdown-toggle'|classMerge(navbarMainNavLinkClass) }}" id="pages-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">Pages</a> 
      <!-- Menu -->
      <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}">
                <div class="dropdown dropdown-submenu {{ pageIsActive('about', currentPageKey, pageActiveTrail) ? ' active' : '' }}">
          <a href="about.html" class="dropdown-item dropdown-toggle" id="about-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-close-others="false" data-opened-trigger-class="bg-primary bg-op-1">About</a> 
          <!-- Dropdown Menu -->
          <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}" role="menu" aria-labelledby="about-drop">
            <a href="about.html" class="dropdown-item {{ pageIsActive('about', currentPageKey, pageActiveTrail) ? ' active' : '' }}">About Us Basic</a>
            <a href="about-me.html" class="dropdown-item {{ pageIsActive('about-me', currentPageKey, pageActiveTrail) ? ' active' : '' }}">About Me</a>
            <a href="team.html" class="dropdown-item {{ pageIsActive('team', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Team List</a>
            <a href="team-grid.html" class="dropdown-item {{ pageIsActive('team-grid', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Team Grid</a>
            <a href="team-member.html" class="dropdown-item {{ pageIsActive('team-member', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Team Member</a>                  
            <a href="contact.html" class="dropdown-item {{ pageIsActive('contact', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Contact</a>
          </div>
        </div>
        <div class="dropdown dropdown-submenu {{ pageIsActive('blog', currentPageKey, pageActiveTrail) ? ' active' : '' }}">
          <a href="blog.html" class="dropdown-item dropdown-toggle" id="blog-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-close-others="false" data-opened-trigger-class="bg-primary bg-op-1">Blog</a> 
          <!-- Dropdown Menu -->
          <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}">
            <a href="blog.html" class="dropdown-item {{ pageIsActive('blog', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog List Right Sidebar</a>
            <a href="blog-leftbar.html" class="dropdown-item {{ pageIsActive('blog-leftbar', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog List Left Sidebar</a>
            <a href="blog-timeline.html" class="dropdown-item {{ pageIsActive('blog-timeline', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog List Timeline</a>           
            <a href="blog-grid.html" class="dropdown-item {{ pageIsActive('blog-grid', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog List Grid</a>             
            <a href="blog-post.html" class="dropdown-item {{ pageIsActive('blog-post', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog Post</a>
            <a href="blog-post-video.html" class="dropdown-item {{ pageIsActive('blog-post-video', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog Post With Video</a>
            <a href="blog-post-slideshow.html" class="dropdown-item {{ pageIsActive('blog-post-slideshow', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog Post With Slideshow</a>
            <a href="blog-post-audio.html" class="dropdown-item {{ pageIsActive('blog-post-audio', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Blog Post With Audio Clip</a>
          </div>
        </div>           
        <div class="dropdown dropdown-submenu {{ pageIsActive('pricing', currentPageKey, pageActiveTrail) ? ' active' : '' }}">
          <a href="pricing.html" class="dropdown-item dropdown-toggle" id="pricing-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-close-others="false" data-opened-trigger-class="bg-primary bg-op-1">Pricing</a>
          <!-- pricing pages -->
          <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}">
            <a href="pricing.html" class="dropdown-item {{ pageIsActive('pricing', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Pricing Plans</a>
            <a href="pricing-tables.html" class="dropdown-item {{ pageIsActive('pricing-tables', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Comparison Tables</a>
          </div>
        </div>
        <div class="dropdown dropdown-submenu {{ pageIsActive('timeline', currentPageKey, pageActiveTrail) ? ' active' : '' }}">
          <a href="timeline.html" class="dropdown-item dropdown-toggle" id="timeline-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-close-others="false" data-opened-trigger-class="bg-primary bg-op-1">Timeline</a>
          <!-- timelines -->
          <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}" role="menu" aria-labelledby="timeline-drop">
            <a href="timeline.html" class="dropdown-item {{ pageIsActive('timeline', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Timeline Default</a>
            <a href="timeline-left.html" class="dropdown-item {{ pageIsActive('timeline-left', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Timeline Left</a>
            <a href="timeline-right.html" class="dropdown-item {{ pageIsActive('timeline-right', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Timeline Right</a>
            <a href="timeline-stacked.html" class="dropdown-item {{ pageIsActive('timeline-stacked', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Timeline Stacked</a>
            <a href="timeline-carousel.html" class="dropdown-item {{ pageIsActive('timeline-carousel', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Timeline Carousel</a>
          </div>
        </div>              
        <a href="customers.html" class="dropdown-item {{ pageIsActive('customers', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Customers</a>
        <a href="features.html" class="dropdown-item {{ pageIsActive('features', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Features/Services</a>
        <a href="login.html" class="dropdown-item {{ pageIsActive('login', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Login</a>
        <a href="signup.html" class="dropdown-item {{ pageIsActive('signup', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Sign Up</a>
        <a href="page-404.html" class="dropdown-item {{ pageIsActive('page-404', currentPageKey, pageActiveTrail) ? ' active' : '' }}">404 Error</a>
        <a href="page-maintenance.html" class="dropdown-item {{ pageIsActive('page-maintenance', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Maintenance</a>
        <a href="page-site-status.html" class="dropdown-item {{ pageIsActive('page-site-status', currentPageKey, pageActiveTrail) ? ' active' : '' }}">Site Status</a>
      </div>
    </li>

    <!-- Features -->
    <li class="{{ 'nav-item dropdown'|classMerge(dropdownHoverBpClass, pageIsActive('more', currentPageKey, pageActiveTrail) ? 'active' : '') }}">
      <a href="#" class="{{ 'nav-link dropdown-toggle'|classMerge(navbarMainNavLinkClass) }}" id="more-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">Features</a> 
      <!-- Dropdown Menu -->
      <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}">
        
        <div class="dropdown dropdown-submenu {{ pageIsActive('headers', currentPageKey, pageActiveTrail) ? ' active' : '' }}">
                    <a href="headers.html" class="dropdown-item dropdown-toggle" id="headers-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-close-others="false" data-opened-trigger-class="bg-primary bg-op-1">Header Variations (10)</a> 
          <!-- Header variations -->
          <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}" role="menu" aria-labelledby="headers-drop">
                        <a href="header-bottom.html" class="dropdown-item {{ pageIsActive('header-bottom', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Bottom</a>
                        <a href="header-collapse-menu.html" class="dropdown-item {{ pageIsActive('header-collapse-menu', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Collapse Menu</a>
                        <a href="header-collapse-menu-responsive.html" class="dropdown-item {{ pageIsActive('header-collapse-menu-responsive', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Responsive Collapse Menu</a>
                        <a href="header-dark.html" class="dropdown-item {{ pageIsActive('header-dark', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Dark</a>
                        <a href="header-elements.html" class="dropdown-item {{ pageIsActive('header-elements', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Elements</a>
                        <a href="header-fullwidth.html" class="dropdown-item {{ pageIsActive('header-fullwidth', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Full Width</a>
                        <a href="header-nav-left.html" class="dropdown-item {{ pageIsActive('header-nav-left', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Nav Left</a>
                        <a href="header-navbar-below.html" class="dropdown-item {{ pageIsActive('header-navbar-below', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Navbar Below</a>
                        <a href="header-offcanvas.html" class="dropdown-item {{ pageIsActive('header-offcanvas', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Off Canvas</a>
                        <a href="header-transparent.html" class="dropdown-item {{ pageIsActive('header-transparent', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Transparent</a>
                        <a href="header-transparent-dark.html" class="dropdown-item {{ pageIsActive('header-transparent-dark', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Transparent Dark</a>
                      </div>
        </div>

        <div class="dropdown dropdown-submenu {{ pageIsActive('footers', currentPageKey, pageActiveTrail) ? ' active' : '' }}">
                    <a href="headers.html" class="dropdown-item dropdown-toggle" id="footers-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-close-others="false" data-opened-trigger-class="bg-primary bg-op-1">Footer Variations (5)</a> 
          <!-- Header variations -->
          <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}" role="menu" aria-labelledby="footers-drop">
                        <a href="footer-compact.html" class="dropdown-item {{ pageIsActive('footer-compact', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Compact</a>
                        <a href="footer-compact-light.html" class="dropdown-item {{ pageIsActive('footer-compact-light', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Compact Light</a>
                        <a href="footer-light.html" class="dropdown-item {{ pageIsActive('footer-light', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Light</a>
                        <a href="footer-menus.html" class="dropdown-item {{ pageIsActive('footer-menus', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Menus</a>
                        <a href="footer-menus-light.html" class="dropdown-item {{ pageIsActive('footer-menus-light', currentPageKey, pageActiveTrail) ? 'active' : '' }}"> Menus Light</a>
                      </div>
        </div>
      </div>
    </li>          

    <!-- Shop megamenu -->
    <li class="{{ 'nav-item dropdown dropdown-mega-menu dropdown-mega-menu-50'|classMerge(dropdownHoverBpClass, pageIsActive('shop', currentPageKey, pageActiveTrail) ? 'active' : '') }}">
      <a href="#" class="{{ 'nav-link dropdown-toggle'|classMerge(navbarMainNavLinkClass) }}" id="shop-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">Shop</a> 
      <!-- Dropdown Menu - mega menu-->
      <div class="{{ 'dropdown-menu p-md-0'|classMerge(dropdownMenuClass) }}">
                <div class="row g-md-0">                <div class="col-lg-6 p-lg-3"><h3 class="dropdown-header">Pages</h3><hr class="dropdown-divider" />        <a href="shop.html" class="dropdown-item {{ pageIsActive('shop', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Shop Homepage</a>
                                <a href="shop-cart.html" class="dropdown-item {{ pageIsActive('shop-cart', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Cart</a>
                                <a href="shop-checkout.html" class="dropdown-item {{ pageIsActive('shop-checkout', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Checkout</a>
                                <a href="shop-confirmation.html" class="dropdown-item {{ pageIsActive('shop-confirmation', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Confirmation</a>
                                <a href="shop-grid.html" class="dropdown-item {{ pageIsActive('shop-grid', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Products Grid</a>
                                <a href="shop-list.html" class="dropdown-item {{ pageIsActive('shop-list', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Products List</a>
                                <a href="shop-product.html" class="dropdown-item {{ pageIsActive('shop-product', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Product View</a>
        </div>                
                <div class="col-lg-6 d-none d-lg-block" 
          data-bg-img="./assets/img/shop/jacket-1.jpg">      
        </div>
                </div>      </div>
    </li>
    
    <!-- Elements/shortcodes -->
    <li class="{{ 'nav-item dropdown dropdown-mega-menu'|classMerge(dropdownHoverBpClass, pageIsActive('elements', currentPageKey, pageActiveTrail) ? 'active' : '') }}">
      <a href="#" class="{{ 'nav-link dropdown-toggle'|classMerge(navbarMainNavLinkClass) }}" id="elements-drop" data-bs-toggle="dropdown" aria-expanded="false" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">Elements</a> 
      <!-- Dropdown Menu - mega menu-->
      <div class="{{ 'dropdown-menu'|classMerge(dropdownMenuClass) }}">
                <h4 class="dropdown-header">44 pages of elements/snippets <i class="new-tag">Updated!</i></h4>
        <hr class="dropdown-divider mb-3" />
        <div class="row">                <div class="col-md-3">        <a href="elements-alerts.html" class="dropdown-item {{ pageIsActive('elements-alerts', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Alerts</a>
                                <a href="elements-animation.html" class="dropdown-item {{ pageIsActive('elements-animation', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Animations</a>
                                <a href="elements-avatars.html" class="dropdown-item {{ pageIsActive('elements-avatars', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Avatars</a>
                                <a href="elements-badges.html" class="dropdown-item {{ pageIsActive('elements-badges', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Badges</a>
                                <a href="elements-button-groups.html" class="dropdown-item {{ pageIsActive('elements-button-groups', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Button Groups</a>
                                <a href="elements-buttons.html" class="dropdown-item {{ pageIsActive('elements-buttons', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Buttons</a>
                                <a href="elements-cards.html" class="dropdown-item {{ pageIsActive('elements-cards', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Cards</a>
                                <a href="elements-carousels.html" class="dropdown-item {{ pageIsActive('elements-carousels', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Carousels</a>
                                <a href="elements-collapse.html" class="dropdown-item {{ pageIsActive('elements-collapse', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Collapse / Accordions</a>
                                <a href="elements-colour-utils.html" class="dropdown-item {{ pageIsActive('elements-colour-utils', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Colours Utils</a>
                                <a href="elements-cookie-banners.html" class="dropdown-item {{ pageIsActive('elements-cookie-banners', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Cookie Banners</a>
        </div>                <div class="col-md-3">        <a href="elements-counters.html" class="dropdown-item {{ pageIsActive('elements-counters', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Counters</a>
                                <a href="elements-ctas.html" class="dropdown-item {{ pageIsActive('elements-ctas', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Call To Action Blocks</a>
                                <a href="elements-dividers.html" class="dropdown-item {{ pageIsActive('elements-dividers', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Dividers</a>
                                <a href="elements-dropdowns.html" class="dropdown-item {{ pageIsActive('elements-dropdowns', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Dropdowns</a>
                                <a href="elements-forms.html" class="dropdown-item {{ pageIsActive('elements-forms', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Forms</a>
                                <a href="elements-forms-input-groups.html" class="dropdown-item {{ pageIsActive('elements-forms-input-groups', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Forms Input Groups</a>
                                <a href="elements-icons.html" class="dropdown-item {{ pageIsActive('elements-icons', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons</a>
                                <a href="elements-icons-bootstrap-icons.html" class="dropdown-item {{ pageIsActive('elements-icons-bootstrap-icons', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons: Bootstrap</a>
                                <a href="elements-icons-flags.html" class="dropdown-item {{ pageIsActive('elements-icons-flags', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons: Flags</a>
                                <a href="elements-icons-fontawesome.html" class="dropdown-item {{ pageIsActive('elements-icons-fontawesome', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons: Font Awesome</a>
                                <a href="elements-icons-ionicons.html" class="dropdown-item {{ pageIsActive('elements-icons-ionicons', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons: Ionicons</a>
        </div>                <div class="col-md-3">        <a href="elements-icons-linearicons.html" class="dropdown-item {{ pageIsActive('elements-icons-linearicons', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons: Linearicons</a>
                                <a href="elements-icons-lineawesome.html" class="dropdown-item {{ pageIsActive('elements-icons-lineawesome', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Icons: Line Awesome</a>
                                <a href="elements-list-groups.html" class="dropdown-item {{ pageIsActive('elements-list-groups', currentPageKey, pageActiveTrail) ? 'active' : '' }}">List Groups</a>
                                <a href="elements-modals.html" class="dropdown-item {{ pageIsActive('elements-modals', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Modals</a>
                                <a href="elements-modals-onload.html" class="dropdown-item {{ pageIsActive('elements-modals-onload', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Modals Onload</a>
                                <a href="elements-navs.html" class="dropdown-item {{ pageIsActive('elements-navs', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Navs</a>
                                <a href="elements-navs-tabbable.html" class="dropdown-item {{ pageIsActive('elements-navs-tabbable', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Tabbable Navs</a>
                                <a href="elements-overlays.html" class="dropdown-item {{ pageIsActive('elements-overlays', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Overlays</a>
                                <a href="elements-progressbars.html" class="dropdown-item {{ pageIsActive('elements-progressbars', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Progress Bars</a>
                                <a href="elements-select-pickers.html" class="dropdown-item {{ pageIsActive('elements-select-pickers', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Select Picker</a>
                                <a href="elements-shadows.html" class="dropdown-item {{ pageIsActive('elements-shadows', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Shadows</a>
        </div>                <div class="col-md-3">        <a href="elements-social-media.html" class="dropdown-item {{ pageIsActive('elements-social-media', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Social Media Branding</a>
                                <a href="elements-spacers.html" class="dropdown-item {{ pageIsActive('elements-spacers', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Spacers</a>
                                <a href="elements-spinners.html" class="dropdown-item {{ pageIsActive('elements-spinners', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Spinners</a>
                                <a href="elements-tables.html" class="dropdown-item {{ pageIsActive('elements-tables', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Tables</a>
                                <a href="elements-toasts.html" class="dropdown-item {{ pageIsActive('elements-toasts', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Toasts</a>
                                <a href="elements-tooltips-popovers.html" class="dropdown-item {{ pageIsActive('elements-tooltips-popovers', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Tooltips & Popovers</a>
                                <a href="elements-type-effect.html" class="dropdown-item {{ pageIsActive('elements-type-effect', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Type Effect</a>
                                <a href="elements-typography.html" class="dropdown-item {{ pageIsActive('elements-typography', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Typography</a>
                                <a href="elements-utils.html" class="dropdown-item {{ pageIsActive('elements-utils', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Utilities</a>
                                <a href="elements-video-blocks.html" class="dropdown-item {{ pageIsActive('elements-video-blocks', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Video Blocks</a>
                                <a href="page-titles.html" class="dropdown-item {{ pageIsActive('page-titles', currentPageKey, pageActiveTrail) ? 'active' : '' }}">Page Titles</a>
        </div>                </div>      </div>
    </li>

    <!-- Admin UI -->
    <li class="{{ 'nav-item '|classMerge(pageIsActive('admin', currentPageKey, pageActiveTrail) ? 'active' : '') }}">
      <a href="admin.html" class="nav-link py-md-4">Admin UI <i class="new-tag">New!</i></a> 
    </li>

  </ul>

</div>
<!--/.navbar-collapse --> 