<div class="bg-white border-grey p-4 my-4 bg-shadow position-relative">
  <a data-cbp-close class="btn btn-link btn-icon position-absolute end-0 top-0 zindex-11 mt-1 me-1"><i class="ion-ios-close-empty icon-2x"></i></a>
  <h2 class="mb-3 mt-0 fw-bold">
    Project Title
    <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" title="View Online" class="btn bg-primary text-primary fw-bold bg-op-2 ms-2"
      >view online</a
    >
  </h2>
  <div class="row">
    <div class="col-lg-6">
      <div
        class="owl-carousel owl-nav-over owl-nav-over-lg"
        id="portfolio-project"
        data-bs-toggle="owl-carousel"
        data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
      >
        <a href="#">
          <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid rounded" />
        </a>
        <a href="#">
          <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid rounded" />
        </a>
        <a href="#">
          <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid rounded" />
        </a>
        <a href="#">
          <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid rounded" />
        </a>
        <a href="#">
          <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid rounded" />
        </a>
        <a href="#">
          <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid rounded" />
        </a>
      </div>
    </div>
    <div class="col-lg-6 mt-3 mt-lg-0">
      <h4>Abbas augue esca paratus populus sed validus vero vulpes.</h4>
      <p>Comis mauris torqueo. Genitus in valetudo. Accumsan appellatio sudo utinam validus. Abigo caecus eum exerci immitto jumentum jus praemitto premo vindico.</p>
      <dl class="row text-sm">
        <dt class="col-sm-3"><i class="la la-thumb-tack"></i> Client:</dt>
        <dd class="col-sm-9"><a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">Themelize.me</a></dd>
        <dt class="col-sm-3"><i class="la la-calendar"></i> Date:</dt>
        <dd class="col-sm-9">Sep 2024</dd>
        <dt class="col-sm-3"><i class="la la-tags"></i> Category:</dt>
        <dd class="col-sm-9">Web</dd>
      </dl>
    </div>
  </div>
</div>
