<div class="bg-light p-3 mb-3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-font-slab">Landscapes</h2>
  <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 186-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="https://picsum.photos/id/186/1200/747?image=186">
        <img src="https://picsum.photos/id/186/400/300?image=186" class="img-fluid" alt="Photo 187" />
      </a>
    </div>

    <!-- Photo 187-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="https://picsum.photos/id/187/1200/800?image=187">
        <img src="https://picsum.photos/id/187/400/300?image=187" class="img-fluid" alt="Photo 188" />
      </a>
    </div>

    <!-- Photo 188-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="https://picsum.photos/id/188/1200/802?image=188">
        <img src="https://picsum.photos/id/188/400/300?image=188" class="img-fluid" alt="Photo 189" />
      </a>
    </div>

    <!-- Photo 189-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="https://picsum.photos/id/189/1200/900?image=189">
        <img src="https://picsum.photos/id/189/400/300?image=189" class="img-fluid" alt="Photo 190" />
      </a>
    </div>

    <!-- Photo 190-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="https://picsum.photos/id/190/1200/800?image=190">
        <img src="https://picsum.photos/id/190/400/300?image=190" class="img-fluid" alt="Photo 191" />
      </a>
    </div>

    <!-- Photo 191-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="https://picsum.photos/id/191/1200/800?image=191">
        <img src="https://picsum.photos/id/191/400/300?image=191" class="img-fluid" alt="Photo 192" />
      </a>
    </div>

    <!-- Photo 192-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="https://picsum.photos/id/192/1200/1200?image=192">
        <img src="https://picsum.photos/id/192/400/300?image=192" class="img-fluid" alt="Photo 193" />
      </a>
    </div>

    <!-- Photo 193-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="https://picsum.photos/id/193/1200/822?image=193">
        <img src="https://picsum.photos/id/193/400/300?image=193" class="img-fluid" alt="Photo 194" />
      </a>
    </div>

    <!-- Photo 194-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="https://picsum.photos/id/194/1200/795?image=194">
        <img src="https://picsum.photos/id/194/400/300?image=194" class="img-fluid" alt="Photo 195" />
      </a>
    </div>

    <!-- Photo 195-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="https://picsum.photos/id/195//?image=195">
        <img src="https://picsum.photos/id/195/400/300?image=195" class="img-fluid" alt="Photo 196" />
      </a>
    </div>

    <!-- Photo 196-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="https://picsum.photos/id/196/1200/900?image=196">
        <img src="https://picsum.photos/id/196/400/300?image=196" class="img-fluid" alt="Photo 197" />
      </a>
    </div>

    <!-- Photo 197-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="https://picsum.photos/id/197/1200/800?image=197">
        <img src="https://picsum.photos/id/197/400/300?image=197" class="img-fluid" alt="Photo 198" />
      </a>
    </div>
  </div>
</div>
