<div class="bg-light p-3 mb-3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-font-slab">Weddings</h2>
  <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 80-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="https://picsum.photos/id/80/1200/800?image=80">
        <img src="https://picsum.photos/id/80/400/300?image=80" class="img-fluid" alt="Photo 81" />
      </a>
    </div>

    <!-- Photo 81-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="https://picsum.photos/id/81/1200/780?image=81">
        <img src="https://picsum.photos/id/81/400/300?image=81" class="img-fluid" alt="Photo 82" />
      </a>
    </div>

    <!-- Photo 82-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="https://picsum.photos/id/82/1200/798?image=82">
        <img src="https://picsum.photos/id/82/400/300?image=82" class="img-fluid" alt="Photo 83" />
      </a>
    </div>

    <!-- Photo 83-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="https://picsum.photos/id/83/1200/900?image=83">
        <img src="https://picsum.photos/id/83/400/300?image=83" class="img-fluid" alt="Photo 84" />
      </a>
    </div>

    <!-- Photo 84-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="https://picsum.photos/id/84/1200/795?image=84">
        <img src="https://picsum.photos/id/84/400/300?image=84" class="img-fluid" alt="Photo 85" />
      </a>
    </div>

    <!-- Photo 85-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="https://picsum.photos/id/85/1200/726?image=85">
        <img src="https://picsum.photos/id/85/400/300?image=85" class="img-fluid" alt="Photo 86" />
      </a>
    </div>

    <!-- Photo 87-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="https://picsum.photos/id/87/1200/900?image=87">
        <img src="https://picsum.photos/id/87/400/300?image=87" class="img-fluid" alt="Photo 88" />
      </a>
    </div>

    <!-- Photo 88-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="https://picsum.photos/id/88/1200/1600?image=88">
        <img src="https://picsum.photos/id/88/400/300?image=88" class="img-fluid" alt="Photo 89" />
      </a>
    </div>

    <!-- Photo 89-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="https://picsum.photos/id/89/1200/675?image=89">
        <img src="https://picsum.photos/id/89/400/300?image=89" class="img-fluid" alt="Photo 90" />
      </a>
    </div>

    <!-- Photo 90-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="https://picsum.photos/id/90/1200/797?image=90">
        <img src="https://picsum.photos/id/90/400/300?image=90" class="img-fluid" alt="Photo 91" />
      </a>
    </div>

    <!-- Photo 91-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="https://picsum.photos/id/91/1200/800?image=91">
        <img src="https://picsum.photos/id/91/400/300?image=91" class="img-fluid" alt="Photo 92" />
      </a>
    </div>

    <!-- Photo 92-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="https://picsum.photos/id/92/1200/796?image=92">
        <img src="https://picsum.photos/id/92/400/300?image=92" class="img-fluid" alt="Photo 93" />
      </a>
    </div>
  </div>
</div>
