<div class="bg-light p-3 mb-3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-font-slab">Sports</h2>
  <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 144-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="https://picsum.photos/id/144/1200/674?image=144">
        <img src="https://picsum.photos/id/144/400/300?image=144" class="img-fluid" alt="Photo 145" />
      </a>
    </div>

    <!-- Photo 145-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="https://picsum.photos/id/145/1200/797?image=145">
        <img src="https://picsum.photos/id/145/400/300?image=145" class="img-fluid" alt="Photo 146" />
      </a>
    </div>

    <!-- Photo 146-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="https://picsum.photos/id/146/1200/800?image=146">
        <img src="https://picsum.photos/id/146/400/300?image=146" class="img-fluid" alt="Photo 147" />
      </a>
    </div>

    <!-- Photo 147-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="https://picsum.photos/id/147/1200/1200?image=147">
        <img src="https://picsum.photos/id/147/400/300?image=147" class="img-fluid" alt="Photo 148" />
      </a>
    </div>

    <!-- Photo 149-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="https://picsum.photos/id/149/1200/795?image=149">
        <img src="https://picsum.photos/id/149/400/300?image=149" class="img-fluid" alt="Photo 150" />
      </a>
    </div>

    <!-- Photo 151-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="https://picsum.photos/id/151/1200/900?image=151">
        <img src="https://picsum.photos/id/151/400/300?image=151" class="img-fluid" alt="Photo 152" />
      </a>
    </div>

    <!-- Photo 152-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="https://picsum.photos/id/152/1200/800?image=152">
        <img src="https://picsum.photos/id/152/400/300?image=152" class="img-fluid" alt="Photo 153" />
      </a>
    </div>

    <!-- Photo 153-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="https://picsum.photos/id/153/1200/795?image=153">
        <img src="https://picsum.photos/id/153/400/300?image=153" class="img-fluid" alt="Photo 154" />
      </a>
    </div>

    <!-- Photo 154-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="https://picsum.photos/id/154/1200/800?image=154">
        <img src="https://picsum.photos/id/154/400/300?image=154" class="img-fluid" alt="Photo 155" />
      </a>
    </div>

    <!-- Photo 155-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="https://picsum.photos/id/155/1200/800?image=155">
        <img src="https://picsum.photos/id/155/400/300?image=155" class="img-fluid" alt="Photo 156" />
      </a>
    </div>

    <!-- Photo 156-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="https://picsum.photos/id/156/1200/1799?image=156">
        <img src="https://picsum.photos/id/156/400/300?image=156" class="img-fluid" alt="Photo 157" />
      </a>
    </div>

    <!-- Photo 157-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="https://picsum.photos/id/157/1200/939?image=157">
        <img src="https://picsum.photos/id/157/400/300?image=157" class="img-fluid" alt="Photo 158" />
      </a>
    </div>
  </div>
</div>
