<div class="bg-light p-3 mb-3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-font-slab">Portraits</h2>
  <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 213-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="https://picsum.photos/id/213/1200/795?image=213">
        <img src="https://picsum.photos/id/213/400/300?image=213" class="img-fluid" alt="Photo 214" />
      </a>
    </div>

    <!-- Photo 214-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="https://picsum.photos/id/214/1200/900?image=214">
        <img src="https://picsum.photos/id/214/400/300?image=214" class="img-fluid" alt="Photo 215" />
      </a>
    </div>

    <!-- Photo 215-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="https://picsum.photos/id/215/1200/900?image=215">
        <img src="https://picsum.photos/id/215/400/300?image=215" class="img-fluid" alt="Photo 216" />
      </a>
    </div>

    <!-- Photo 216-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="https://picsum.photos/id/216/1200/800?image=216">
        <img src="https://picsum.photos/id/216/400/300?image=216" class="img-fluid" alt="Photo 217" />
      </a>
    </div>

    <!-- Photo 217-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="https://picsum.photos/id/217/1200/777?image=217">
        <img src="https://picsum.photos/id/217/400/300?image=217" class="img-fluid" alt="Photo 218" />
      </a>
    </div>

    <!-- Photo 218-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="https://picsum.photos/id/218/1200/800?image=218">
        <img src="https://picsum.photos/id/218/400/300?image=218" class="img-fluid" alt="Photo 219" />
      </a>
    </div>

    <!-- Photo 219-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="https://picsum.photos/id/219/1200/800?image=219">
        <img src="https://picsum.photos/id/219/400/300?image=219" class="img-fluid" alt="Photo 220" />
      </a>
    </div>

    <!-- Photo 220-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="https://picsum.photos/id/220/1200/749?image=220">
        <img src="https://picsum.photos/id/220/400/300?image=220" class="img-fluid" alt="Photo 221" />
      </a>
    </div>

    <!-- Photo 221-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="https://picsum.photos/id/221/1200/733?image=221">
        <img src="https://picsum.photos/id/221/400/300?image=221" class="img-fluid" alt="Photo 222" />
      </a>
    </div>

    <!-- Photo 222-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="https://picsum.photos/id/222/1200/651?image=222">
        <img src="https://picsum.photos/id/222/400/300?image=222" class="img-fluid" alt="Photo 223" />
      </a>
    </div>

    <!-- Photo 223-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="https://picsum.photos/id/223/1200/797?image=223">
        <img src="https://picsum.photos/id/223/400/300?image=223" class="img-fluid" alt="Photo 224" />
      </a>
    </div>

    <!-- Photo 225-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="https://picsum.photos/id/225/1200/783?image=225">
        <img src="https://picsum.photos/id/225/400/300?image=225" class="img-fluid" alt="Photo 226" />
      </a>
    </div>
  </div>
</div>
