<div class="bg-light p-3 mb-3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-font-slab">Fashion</h2>
  <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 102-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="https://picsum.photos/id/102/1200/900?image=102">
        <img src="https://picsum.photos/id/102/400/300?image=102" class="img-fluid" alt="Photo 103" />
      </a>
    </div>

    <!-- Photo 103-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="https://picsum.photos/id/103/1200/896?image=103">
        <img src="https://picsum.photos/id/103/400/300?image=103" class="img-fluid" alt="Photo 104" />
      </a>
    </div>

    <!-- Photo 104-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="https://picsum.photos/id/104/1200/675?image=104">
        <img src="https://picsum.photos/id/104/400/300?image=104" class="img-fluid" alt="Photo 105" />
      </a>
    </div>

    <!-- Photo 106-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="https://picsum.photos/id/106/1200/800?image=106">
        <img src="https://picsum.photos/id/106/400/300?image=106" class="img-fluid" alt="Photo 107" />
      </a>
    </div>

    <!-- Photo 107-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="https://picsum.photos/id/107/1200/800?image=107">
        <img src="https://picsum.photos/id/107/400/300?image=107" class="img-fluid" alt="Photo 108" />
      </a>
    </div>

    <!-- Photo 108-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="https://picsum.photos/id/108/1200/800?image=108">
        <img src="https://picsum.photos/id/108/400/300?image=108" class="img-fluid" alt="Photo 109" />
      </a>
    </div>

    <!-- Photo 109-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="https://picsum.photos/id/109/1200/670?image=109">
        <img src="https://picsum.photos/id/109/400/300?image=109" class="img-fluid" alt="Photo 110" />
      </a>
    </div>

    <!-- Photo 110-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="https://picsum.photos/id/110/1200/800?image=110">
        <img src="https://picsum.photos/id/110/400/300?image=110" class="img-fluid" alt="Photo 111" />
      </a>
    </div>

    <!-- Photo 111-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="https://picsum.photos/id/111/1200/724?image=111">
        <img src="https://picsum.photos/id/111/400/300?image=111" class="img-fluid" alt="Photo 112" />
      </a>
    </div>

    <!-- Photo 112-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="https://picsum.photos/id/112/1200/800?image=112">
        <img src="https://picsum.photos/id/112/400/300?image=112" class="img-fluid" alt="Photo 113" />
      </a>
    </div>

    <!-- Photo 113-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="https://picsum.photos/id/113/1200/709?image=113">
        <img src="https://picsum.photos/id/113/400/300?image=113" class="img-fluid" alt="Photo 114" />
      </a>
    </div>

    <!-- Photo 114-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="https://picsum.photos/id/114/1200/900?image=114">
        <img src="https://picsum.photos/id/114/400/300?image=114" class="img-fluid" alt="Photo 115" />
      </a>
    </div>
  </div>
</div>
