<div class="bg-light p-3 mb-3 rounded">
  <h2 class="text-uppercase mb-3 mt-0 text-font-slab">Food</h2>
  <div class="row" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate":"a", "gallery":{"enabled":true}}'>
    <!-- Photo 317-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.1">
      <a href="https://picsum.photos/id/317/1200/675?image=317">
        <img src="https://picsum.photos/id/317/400/300?image=317" class="img-fluid" alt="Photo 318" />
      </a>
    </div>

    <!-- Photo 318-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.2">
      <a href="https://picsum.photos/id/318/1200/900?image=318">
        <img src="https://picsum.photos/id/318/400/300?image=318" class="img-fluid" alt="Photo 319" />
      </a>
    </div>

    <!-- Photo 319-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.3">
      <a href="https://picsum.photos/id/319/1200/610?image=319">
        <img src="https://picsum.photos/id/319/400/300?image=319" class="img-fluid" alt="Photo 320" />
      </a>
    </div>

    <!-- Photo 320-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.4">
      <a href="https://picsum.photos/id/320/1200/801?image=320">
        <img src="https://picsum.photos/id/320/400/300?image=320" class="img-fluid" alt="Photo 321" />
      </a>
    </div>

    <!-- Photo 321-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.5">
      <a href="https://picsum.photos/id/321/1200/446?image=321">
        <img src="https://picsum.photos/id/321/400/300?image=321" class="img-fluid" alt="Photo 322" />
      </a>
    </div>

    <!-- Photo 322-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.6">
      <a href="https://picsum.photos/id/322/1200/800?image=322">
        <img src="https://picsum.photos/id/322/400/300?image=322" class="img-fluid" alt="Photo 323" />
      </a>
    </div>

    <!-- Photo 323-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.7">
      <a href="https://picsum.photos/id/323/1200/800?image=323">
        <img src="https://picsum.photos/id/323/400/300?image=323" class="img-fluid" alt="Photo 324" />
      </a>
    </div>

    <!-- Photo 324-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.8">
      <a href="https://picsum.photos/id/324/1200/800?image=324">
        <img src="https://picsum.photos/id/324/400/300?image=324" class="img-fluid" alt="Photo 325" />
      </a>
    </div>

    <!-- Photo 325-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="0.9">
      <a href="https://picsum.photos/id/325/1200/795?image=325">
        <img src="https://picsum.photos/id/325/400/300?image=325" class="img-fluid" alt="Photo 326" />
      </a>
    </div>

    <!-- Photo 326-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1">
      <a href="https://picsum.photos/id/326/1200/795?image=326">
        <img src="https://picsum.photos/id/326/400/300?image=326" class="img-fluid" alt="Photo 327" />
      </a>
    </div>

    <!-- Photo 327-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.1">
      <a href="https://picsum.photos/id/327/1200/800?image=327">
        <img src="https://picsum.photos/id/327/400/300?image=327" class="img-fluid" alt="Photo 328" />
      </a>
    </div>

    <!-- Photo 328-->
    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 rounded" data-animate="fadeIn" data-animate-delay="1.2">
      <a href="https://picsum.photos/id/328/1200/900?image=328">
        <img src="https://picsum.photos/id/328/400/300?image=328" class="img-fluid" alt="Photo 329" />
      </a>
    </div>
  </div>
</div>
