//======================================
// Blocks/sections
//======================================

// Video blocks plugin
// -------------------------------------
.bg-video {
  > * {
    z-index: 1;
    position: relative;
  }
}

.bg-video-video {
  z-index: 0 !important;
}

.bg-img,
.bg-img-cover {
  background-size: cover;
}
.bg-img-contain {
  background-size: contain !important;
}
.bg-img-auto {
  background-size: auto !important;
}


// Google maps
// -------------------------------------
.google-map {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  
  &:before {
    content: '';
    display: block;
    padding-top: 30%;
  }
}
.google-map iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: 0;
}

// Misc. blocks
// -------------------------------------
.code-block {
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  margin-bottom: 1rem;

  .code-block-example {
    padding: 1.5rem;
  }

  .code-block-code {
    position: relative;
    padding: 1.5rem 80px 1.5rem 1.5rem;
    background-color: #f3f3f3;
    margin: 1px;

    pre {
      margin: 0;
      background-color: transparent;
    }
    .hljs {
      background-color: #f3f3f3;
    }
  }
  
  .btn-clipboard {
    position: absolute;
    top: 2px;
    right: 2px;
    background: $gray-600;
    color: white;
    padding: 0.2em 0.4em;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: .25rem;
  }
}

.code-block-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}

.focus-box {
  border-top: 1px solid #e3e3e3;
  border-bottom: 5px solid #e3e3e3;
}

// Browser: @see: https://codepen.io/adrienjarthon/pen/ogjjoj
.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.99);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
