//
// Buttons
// --------------------------------------------------
.btn {
  
  .icon-in-btn {
    line-height: inherit;
  }
}

// Specials
// --------------------------------------------------
.btn-floating {
  box-shadow: 0 6px 3px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
}


// Rounded
// --------------------------------------------------
.btn.btn-rounded-sm {
  @include border-radius(.25rem);
}

.btn.btn-rounded,
.btn-group-lg > .btn.btn-rounded,
.btn-group-sm > .btn.btn-rounded {
  @include border-radius(30px);
}
.btn.btn-rounded.btn-icon {
  @include border-radius(100%);
}

// Link btns
// --------------------------------------------------


// Extra button styles
// -------------------------------------------
@each $color, $value in $theme-colors {

  .btn-#{$color}.btn-hover-shadow:hover {
    box-shadow: 0 4px 11px rgba(if($color == "light", $gray-500, $value), .35);
  }
  .btn-#{$color}.btn-shadow {
    box-shadow: 0 4px 11px rgba(if($color == "light", $gray-500, $value), .35);

    &:hover {
      box-shadow: 0 4px 11px rgba(if($color == "light", $gray-500, $value), .40);
    }
  }  

  .btn-#{$color}.btn-invert {
    @if $color == "light" {
      @include button-variant(
        $background: shade-color($value, $btn-hover-bg-shade-amount),
        $border: shade-color($value, $btn-hover-border-shade-amount)
      );
    } @else if $color == "dark" {
      @include button-variant(
        $background: tint-color($value, $btn-hover-bg-tint-amount),
        $border: tint-color($value, $btn-hover-border-tint-amount)
      );
    } @else {
      @include button-variant(
        $background: if(color-contrast($value) == $color-contrast-light, shade-color($value, $btn-hover-bg-shade-amount), tint-color($value, $btn-hover-bg-tint-amount)),
        $border: if(color-contrast($value) == $color-contrast-light, shade-color($value, $btn-hover-border-shade-amount), tint-color($value, $btn-hover-border-tint-amount)),
        $hover-background: if(color-contrast($value) == $color-contrast-light, shade-color($value, 10%), tint-color($value, 15%)), 
        $hover-border: $value
      );
    }    
  }

  .btn-#{$color}.btn-washed {
    @include button-variant(
      $background: tint-color($value, 90%),
      $border: tint-color($value, 90%),
      $color: shade-color($value, 30%),
      $hover-background: tint-color($value, 75%), 
      $hover-border: tint-color($value, 75%)
    );   
  }

  .btn-#{$color}.btn-link {
    @include button-variant($value, transparent, transparent); 
  }  
}

// Hover effects


// No shadow
.btn-flat {
  box-shadow: none;
}

.btn-clipboard {
  z-index: $zindex-sticky;
}

.btn-block {
  display: block;
}

// Soft style
