//======================================
// Code blocks
//======================================

.code-block {
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: .25rem;

  .code-block-example {
    padding: 1.5rem;
  }

  .code-block-code {
    position: relative;
    padding: 1.5rem 80px 1.5rem 1.5rem;
    background-color: #f3f3f3;
    margin: 1px;

    pre {
      margin: 0;
      background-color: transparent;
    }
    .hljs {
      background-color: #f3f3f3;
    }
  }
  
  .btn-clipboard {
    position: absolute;
    top: 2px;
    right: 2px;
    background: $gray-600;
    color: white;
    padding: 0.2em 0.4em;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: .25rem;
  }
}

.code-block-link {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
