//===========================================
// Colour variation demos using CSS variables
//===========================================

@each $color-key, $color-value in $as-color-schemes {
  @include color-mode(theme-#{$color-key}) {
    --#{$prefix}primary: #{$color-value};
    --#{$prefix}primary-rgb: #{to-rgb($color-value)};
    --#{$prefix}primary-text-emphasis: #{shade-color($color-value, 60%)};
    --#{$prefix}primary-bg-subtle: #{tint-color($color-value, 80%)};
    --#{$prefix}primary-border-subtle: #{tint-color($color-value, 60%)};
    --#{$prefix}focus-ring-color: rgba(#{to-rgb($color-value)}, 0.20);
    --#{$prefix}link-color: #{$color-value};
    --#{$prefix}link-color-rgb: var(--#{$prefix}primary-rgb);
    --#{$prefix}link-hover-color-rgb: rgba(#{to-rgb($color-value)}, 0.85);
    --#{$prefix}code-color: #{$color-value};

    .overlay-primary { 
      --#{$prefix}overlay-bg: #{$color-value};
      --#{$prefix}overlay-bg-rgb: var(--#{$prefix}primary-rgb);
    }

    .pagination {
      --#{$prefix}pagination-active-bg: #{$color-value};
      --#{$prefix}pagination-active-border-color: #{$color-value};
      --#{$prefix}pagination-focus-box-shadow: tint-color(#{$color-value}, 80%);
    }

    .btn-primary {
      @include button-variant($color-value, $color-value);
    }
    .btn-outline-primary {
      @include button-outline-variant($color-value);
    }
    .btn-close {
      --#{$prefix}btn-close-focus-shadow: 0 0 0 0.25rem var(--#{$prefix}focus-ring-color);
    }
    .btn-primary.btn-invert {
      @include button-variant(
        $background: if(color-contrast($color-value) == $color-contrast-light, shade-color($color-value, $btn-hover-bg-shade-amount), tint-color($color-value, $btn-hover-bg-tint-amount)),
        $border: if(color-contrast($color-value) == $color-contrast-light, shade-color($color-value, $btn-hover-border-shade-amount), tint-color($color-value, $btn-hover-border-tint-amount)),
        $hover-background: if(color-contrast($color-value) == $color-contrast-light, shade-color($color-value, 10%), tint-color($color-value, 15%)), 
        $hover-border: $color-value
      );    
    }
    .btn-primary.btn-washed {
      @include button-variant(
        $background: tint-color($color-value, 90%),
        $border: tint-color($color-value, 90%),
        $color: shade-color($color-value, 30%),
        $hover-background: tint-color($color-value, 75%), 
        $hover-border: tint-color($color-value, 75%)
      );   
    }

    .nav-pills {
      --#{$prefix}nav-pills-link-active-bg: #{$color-value};
    }
    .nav-tabs {
      --#{$prefix}nav-ta#{$prefix}link-active-bg: #{$color-value};
      --#{$prefix}nav-ta#{$prefix}link-active-border-color: var(--#{$prefix}border-color) var(--#{$prefix}border-color) #{$color-value};
    }

    .accordion {
      --#{$prefix}accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--#{$prefix}focus-ring-color);
    }
    .progress, .progress-stacked {
      --#{$prefix}progress-bar-bg: #{$color-value};
    }

      // Customize the `:focus` state to imitate native WebKit styles.
    .form-control:focus,
    .form-select:focus,
    .form-check-input:focus {
      border-color: var(--#{$prefix}primary-bg-subtle);

      @if $enable-shadows {
        @include box-shadow($input-box-shadow, 0 0 $focus-ring-blur $focus-ring-width var(--#{$prefix}focus-ring-color));
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: 0 0 $focus-ring-blur $focus-ring-width var(--#{$prefix}focus-ring-color);
      }
    }
    .form-check-input:checked {
      background-color: var(--#{$prefix}primary);
      border-color: var(--#{$prefix}primary);
    }
  }
}