//---------------------------------------------------
// Dropdown Menus & Mega Menu on hover
//---------------------------------------------------
@each $breakpoint in map-keys($grid-breakpoints) {
  $next: breakpoint-next($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($next, $grid-breakpoints);

  // dropdown-hover-BREAKPOINT
  .dropdown-hover#{$infix} {
    @include media-breakpoint-up($next) {
      .dropdown-menu {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: $transition-dropdown;
        z-index: -1;

        &.dropdown-menu-transition {
          display: block;
          opacity: 0;
        }
        
        &.dropdown-menu#{$infix}-start,
        &.dropdown-menu-start {
          --bs-position: start;
          right: auto;
          left: 0;
        }
    
        &.dropdown-menu#{$infix}-end,
        &.dropdown-menu-end {
          --bs-position: end;
          right: 0;
          left: auto;
        }   
        
        &.dropdown-menu#{$infix}-auto,
        &.dropdown-menu-auto {
          --bs-position: auto;
          right: auto;
          left: auto;
        }        
      }

      .dropdown-menu.dropdown-hovered,
      .dropdown-submenu.dropdown-hovered {
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: $zindex-dropdown;
      }
    }
  }
}

//---------------------------------------------------
// Dropdown expand
// Makes dropdowns collapse on mobile & expand on breakpoint
// Wrap downdrop-menu items in dropdown-collapse class
// 
//---------------------------------------------------
.dropdown-collapse {
  .dropdown-menu {
    position: static;
    display: block;
    border: none;
    visibility: visible;
    height: 0;
    overflow: hidden;
    @include transition(none);
    box-shadow: none;
    padding: 0;
    min-width: auto;
  }
  .show.dropdown-menu {
    height: auto;
  }
}
@each $breakpoint in map-keys($grid-breakpoints) {
  $next: breakpoint-next($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($next, $grid-breakpoints);

  // dropdown-hover-BREAKPOINT
  .dropdown-expand#{$infix} {
    @include media-breakpoint-up($next) {
      .dropdown-menu {
        position: absolute;
        display: block;
        height: auto;
        padding: $dropdown-padding-y $dropdown-padding-x;
        visibility: hidden;
        transition: $transition-dropdown;
        opacity: 0;
        overflow: visible;
        min-width: $dropdown-min-width;
        @include box-shadow($dropdown-box-shadow);
        border-bottom: 3px solid  var(--bs-primary);

        &.show {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}