//---------------------------------------------------
// Dropdown Menus & Mega Menu Variations
//---------------------------------------------------

// Default dropdowns
// -----------------
.dropdown-item {
  transition: $transition-base;
}

.dropdown-submenu > .dropdown-toggle {
  position: relative;
  @include caret(end);
}

.dropdown-menu {
  border-bottom: 3px solid var(--bs-primary);
}

.dropdown-header {
  font-weight: 700;
  @include font-size($dropdown-font-size * 0.95);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.dropdowns-no-carets {
  .dropdown-toggle::after {
    display: none; 
  }
}


// Sizes
@each $name, $size-modifier in $dropdown-menu-sizes {
  .dropdown-menu-#{$name} {
    @include rfs($dropdown-font-size * $size-modifier, --#{$prefix}dropdown-font-size);
    --#{$prefix}dropdown-padding-x: #{$dropdown-padding-x * $size-modifier};
    --#{$prefix}dropdown-padding-y: #{$dropdown-padding-y * $size-modifier};
    --#{$prefix}dropdown-spacer: #{$dropdown-spacer * $size-modifier};
    --#{$prefix}dropdown-item-padding-x: #{$dropdown-item-padding-x * $size-modifier};
    --#{$prefix}dropdown-item-padding-y: #{$dropdown-item-padding-y * $size-modifier};
    --#{$prefix}dropdown-header-padding-x: #{$dropdown-header-padding-x * $size-modifier};
    --#{$prefix}dropdown-header-padding-y: #{$dropdown-header-padding-y * $size-modifier};
    --#{$prefix}dropdown-divider-margin-y: #{$dropdown-divider-margin-y * $size-modifier};

    .dropdown-header {
      font-size: $dropdown-font-size * $size-modifier;
    }
  }
}

// Mega menus
.dropdown-mega-menu {
  width: 100%;
  position: relative;

  .dropdown-menu,
  &.dropdown-menu {
    min-width: 750px;
    width: 100%;
    
    @include media-breakpoint-down(md) {
      min-width: 150px;
    }
  }
  
  &.nav-item {
    width: auto; 
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .dropdown-menu#{$infix}-auto {
      --bs-position: auto;

      &[data-bs-popper] {
        right: auto;
        left: auto;
      }
    }
  }
}

.dropdown-menu-scroll {
  max-height: 50vh;
  overflow-y: auto;
}

.dropdown-hide-caret.dropdown-toggle::after {
  display: none;
}