//
// Forms
// --------------------------------------------------
label {
  margin-bottom: 2px;
}
input[type=range].form-control {
  width: 100%;
}

.input-group {
  .btn {
    line-height: 2;
  }
}

// Rounded
// --------------------------------------------------
.form-control-rounded {
  @include border-radius(20px);
}

// Quantity widget
// --------------------------------------------------
.input-group-quantity {
  min-width: 115px;
  max-width: 200px;
  
  .quantity {
    //max-width: 50px !important;
    text-align: center;
  }
}


//
// Transparent form controls
// --------------------------------------------------
.form-control-transparent {
  background: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
  
  &:hover,
  &:focus,
  &:focus:hover {
    border-color: transparent !important;
    background: transparent !important;
  }
  
  @include placeholder($gray-800);
  &:hover,
  &:focus,
  &:focus:hover {
    @include placeholder(shade-color($gray-800, 50%));
    box-shadow: none !important;
  }  
}

.form-control-light {
  // light background - default
  color: $gray-800;
}
.form-control-dark {
  // dark backgrounds
  color: rgba(white, math.div(50%, 100.0%));
  
  &:hover,
  &:focus,
  &:focus:hover {
    color: white;
  }
  
  @include placeholder(rgba(white, math.div(80%, 100.0%)));
  &:hover,
  &:focus,
  &:focus:hover {
    @include placeholder(white);
  }
}


// Rounded
// --------------------------------------------------
.input-group-rounded {  
  > .form-control,
  > .form-select,
  > .input-group-text,
  > .btn {
    @include border-radius(30px);
  }
}

// Misc. forms
// --------------------------------------------------
.outline-0:focus{
  outline: none !important;
  box-shadow: none !important;
} 