//
// Grid & Flexbox
// --------------------------------------------------
.container {
  position: relative; // BS beta 1 fix
}

.grid-demo .row {
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}
.grid-demo .row > .col, .grid-demo .row > [class^=col-] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
}

// Flexbox classes
// -----------------------------------
.flex-ew,
.flex-fullwidth {
  flex: 1;
  width: 100%; 
}
.flex-valign  {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;  
}
.flex-valign-b  {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;  
}

