//
// List Groups
// @see: getbootstrap.com/components/list-group/
// --------------------------------------------------
.list-group-item {
  .badge {
    margin-right: 0.5rem;
  }
}

// Custom list utils
.list-group-striped {
  list-style: none;
  padding: 0;
  margin: 0;
  
  .list-group-item {    
    &:nth-child(odd),
    &.w-odd {
      background: #f3f3f3;
    }
  }
}

.list-item-icon {
  width: 1.28571429em;
  text-align: center;
}