// ==================================================
// Bootstrap map overrides
// @see: https://getbootstrap.com/docs/5.3/customize/sass/#maps-and-loops
// 
// At this point all Bootstrap & custom variables are available.
// ==================================================

// Extended colour options
// -------------------------
$as-color-schemes: (
  "green": $skinGreen,
  "red": $skinRed,
  "blue": $skinBlue,
  "purple": $skinPurple,
  "pink": $skinPink,
  "orange": $skinOrange,
  "brown": $skinBrown,
  "slate": $skinSlate,
  "olive": $skinOlive,
  "teal": $skinTeal,
  "charcoal": $skinCharcoal
) !default; 

$as-theme-colors: (
  "primary": $primary,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
) !default;

$as-theme-colors: map-merge($theme-colors, $as-theme-colors);


// Add all colours to Bootstrap colours
// -------------------------
// Extended AppStrap colours
$theme-colors: $as-theme-colors;

@if $enable-theme-colors-extended {
  $theme-colors: map-merge($theme-colors, $as-color-schemes);
}

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$colors: $theme-colors;

//@debug "all colours";
//@debug "`#{inspect($theme-colors)}`";


