//////////////////////////////////////////////////////////////////
// Mixins
//////////////////////////////////////////////////////////////////

// Functions
// --------------------------------------------------
@function alpha($color, $alpha) {
  @return hsla(hue($color), saturation($color), lightness($color), $alpha)
}

@function mulitply($number, $by) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1) * $by;
  }

  @return $number * $by;
}

// Legacy from Bootstrap 5
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }

    a#{$parent} {
      @include hover-focus() {
        color: shade-color($color, 10%) !important;
      }
    }
}

@mixin bg-variant($parent, $color) { 
  #{$parent} { 
    background-color: $color !important; 
  } 
  a#{$parent}, 
  button#{$parent} { 
    @include hover-focus() { 
      background-color: darken($color, 10%) !important; 
    } 
  }  
} 

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus() {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active() {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// General
// --------------------------------------------------
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  transform: $value;
}
@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  transform: scale($value);
}
@mixin opacity($opacity) {
  opacity: $opacity; 
}
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin rotate($value){
  -webkit-transform: rotate($value);
  -ms-transform: rotate($value);
  transform: rotate($value);
}

@mixin translucent_background($color: $white, $alpha: 1, $important: 0){
  @if $important == 1 {
    background-color: hsla(hue($color), saturation($color), lightness($color), $alpha) !important;
  }
  @else {
    background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
  }
}
@mixin translucent_border($color: $white, $alpha: 1, $important: 1){
  @if $important == 1 {
    border-color: hsla(hue($color), saturation($color), lightness($color), $alpha) !important;
  }
  @else {
    border-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
  }
}

@mixin placeholder($color: $input-color-placeholder) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;  
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;  
  }
  &:-ms-input-placeholder {  
    color: $color;  
  }  
}

// Helpers
// --------------------------------------------------
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
    background-size: $w $h;        
  }
}

@mixin fontawesome-bg($code){
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
  speak: none;
  display: inline-block;
  content: unquote("\"#{ $code }\"");
}

// AppStrap specific
// --------------------------------------------------


@mixin appstrap-button-link-variant($color, $background, $border){
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: none !important;

  &:focus, 
  &.focus {
    color: shade-color($color, 10%);
  }
  &:hover {
    color: shade-color($color, 10%);
  }
  &:active,
  &.active,
  .show > .dropdown-toggle &,
  .open > .dropdown-toggle & {
    color: shade-color($color, 10%);

    &:hover,
    &:focus,
    &.focus {
      color: shade-color($color, 10%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }
  
  &.disabled,
  &[disabled],
  &:disabled,
  fieldset[disabled] & {
      background-color: $background;
          border-color: $border;
    
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

