//
// Modals
// --------------------------------------------------
body.modal-open {
  padding: 0 !important;
}

.modal-static {
  position: relative !important;
  display: block !important;
  
  .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 0 !important;
  }  
}

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Container that the modal scrolls within
.modal {
  z-index: $zindex-modal;
  padding: 0 !important;
  
  &[data-toggle="modal-onload"] {
    z-index: -1;
    
    &.show {
      z-index: $zindex-modal;
    }
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  z-index: ($zindex-modal-backdrop + 10);
}

.modal-progress {
  height: 5px;
  background: $primary;
  display: block;
  width: 0;
  @include transition(width .2s ease-in-out);
}

// Animate.css integration
.modal-animate {
  .modal-backdrop {
    display: none !important; // do our own
  }
}
.modal[data-modal-animate-in],
.modal[data-modal-animate-in].fade .modal-dialog,
.modal[data-modal-animate-out],
.modal[data-modal-animate-out].fade .modal-dialog{
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
  //display: block;
  z-index: 1050 !important;
}
.modal-animate-closing {
  display: block !important;
}
.modal-animate-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;
  @include opacity(0);
  @include transition(all 0.4s ease-in);
  visibility: hidden;
  
  &.show {
    visibility: visible;
    @include opacity($modal-backdrop-opacity);
  }
}

// Modals without backdrop
.modal-no-backdrop {
  overflow: auto;
  
  .modal-backdrop,
  .modal-backdrop.show,
  .modal-animate-backdrop,
  .modal-animate-backdrop.show {
    display: none !important;
  }
}