//
// Navs
// --------------------------------------------------
.card-header-tabs .nav-link.active {
  color: $nav-link-color;
}


// Custom
// --------------------------------------------------


// Sidebar navs
.nav-section-menu {  
  .nav,
  &.nav {
    padding: 2em 0;
    margin-left: 0;
    flex-direction: column;
flex-wrap: nowrap;
  
    .nav-header {
      padding-left: 5px;
      margin: 0;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      color: #999999;
      font-weight: bold;
      font-size: 11px;
      display: block;
    }      
    
    .nav-link {
      color: rgba($gray-700, math.div(75%, 100.0%));
      @include border-radius(0);
      font-weight: bold;
      font-size: 15px;
      border: 1px solid $gray-200;
      //border-top: none;
      margin: -1px -1px 0 3px;
      @include box-shadow(1px 1px 1px $white);
      background: shade-color($white, 1%);
      text-shadow: none;
      padding: 8px 30px 8px 15px;
      position: relative;
      display: block;
      
      i {
        font-size: 18px;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        right: 25px;
        color: rgba($gray-700, math.div(50%, 100.0%));
        @include rotate(90deg); //point arrows down
      }
      
      small {
        display: block;
        font-weight: normal;
        color: rgba($gray-700, math.div(55%, 100.0%));
      }
    }

    .nav-link:hover,
    .show.nav-link{
      background: shade-color($white, 4%);
    }    
    
    .nav-link.active,
    .nav-link.active:hover,
    .active .nav-link,
    .active .nav-link:hover{
      border-left: 4px solid var(--bs-primary);
      //border-right-color: $white;
      background: $white;
      color: rgba($gray-700, math.div(80%, 100.0%));       
    }      
  }
  &.nav-section-menu-right {
    .nav,
    &.nav {
      .nav-link i {
        @include rotate(270deg); //point arrows down
      }
    }
  }
  
  // Submenus
  .nav .nav-section-menu,
  &.nav .nav-section-menu {
    padding: 0;
    margin-left: 10px;
    
    .nav-link {
      color: #494949; //IE fallback
      color: rgba($gray-600, math.div(75%, 100.0%));
      font-weight: 400;
      font-size: 90%;
      background: $white;
      padding: 6px 30px 5px 10px;
      
      &:hover {
        background: shade-color($white, 2%);
      }
    }
  }
  .nav-section-menu-right.nav .nav-section-menu,
  &.nav-section-menu-right.nav .nav-section-menu {
    margin-left: 0;
    margin-right: 10px;
  }
    
}

@include media-breakpoint-up(md) {  
  .nav-section-menu {  
    .nav,
    &.nav {
      border-right: 1px solid $gray-100;
      
      .nav-link i {
        right: 10px;
        @include rotate(0deg); //point arrows down       
      }
      .nav-link.active,
      .nav-link.active:hover,
      .active .nav-link,
      .active .nav-link:hover{
        border-right-color: $white;
      }
      
      .show.nav-link i {
        @include rotate(90deg);
        color: shade-color($gray-100, 15%);
      }
    }
    
    &.nav-section-menu-right {
      .nav,
      &.nav {
        border-right: none;
        border-left: 1px solid $gray-100;
        
        .nav-header {
          text-align: right;
          padding-right: 5px;
        }
        
        .nav-link i {
          right: auto;
          left: 10px;
          @include rotate(0deg);
        }
        
        .nav-link {
          margin-left: -1px;
          margin-right: 0;
          padding-left: 30px;
          padding-right: 15px;
        }
        
        .nav-link.active,
        .nav-link.active:hover,
        .active .nav-link,
        .active .nav-link:hover{
          border-left-color: white;
          border-right: 4px solid var(--bs-primary);
        }
      }
    }
  }
  
  // Submenus
  .nav .nav-section-menu {
    .nav-link {
      margin-right: -2px;
    }
  }
  .nav-section-menu-right.nav .nav-section-menu {
    .nav-link {
      margin-right: 0;
      margin-left: -2px;
    }
  }
}
