// -------------------------------------------
// Sidebars & asides
// -------------------------------------------
.navbar-side {
  transition: $navbar-side-transitions;
  overflow-y: auto;
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-width: #{$navbar-side-width};
}
.navbar-side-toggler {
  width: $navbar-side-width-icon-bar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-side {
  // inherits from offcanvas
  width: $navbar-side-width;
}

.navbar-side-brand {
  height: $navbar-side-brand-height;
}

// Elements
// -------------------------------------------
.navbar-nav-side-footer {
  font-size: 90%;
}

// Navs in sides
// -------------------------------------------
.navbar-side {
  .nav-item-icon {
    width: 32px;
    text-align: center;
    vertical-align: baseline;
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 4px;
  }
  .nav-header {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }

  .nav-collapse-submenu {
    .nav-link {
      padding-left: 36px;
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;
      font-size: 0.9em;
    }
    .nav-item:last-child {
      padding-bottom: 0.25rem;
    }
  }
}


// Sizes
// -------------------------------------------
@each $size, $value in $navbar-side-widths {
  $class: #{$size};
  
  .offcanvas.navbar-side-#{$class} {
    width: $value;
    --bs-offcanvas-width:  #{$value};
  }
  .navbar-side-toggler-#{$class} {
    width: $value;
  }
}

.navbar-side-icon-bar {
  overflow-x: hidden;

  > .navbar-nav-fix-width {
    width: $navbar-side-width !important;
  }
  .hover-hide {
    opacity: 1 !important;
    transition: $navbar-side-transitions;
  }
  .hover-show {
    opacity: 0 !important;
    transition: $navbar-side-transitions;
  }
  .hover-show-height {
    opacity: 0 !important;
    max-height: 0;
    transition: $navbar-side-transitions;
  }

  .avatar-img {
    max-width: 62px;
  }
  .nav-item-icon {
    font-size: 1.2rem;
  }

  &.navbar-side-icon-bar-hover:hover {
    width: $navbar-side-width;

    .hover-show {
      opacity: 1 !important;
    } 

    .hover-show-height {
      opacity: 1 !important;
      max-height: 500px;
    }
    
    .hover-hide {
      opacity: 0 !important;
    }    
  }
}

// .navbar-side-push - reuseable class to
// expand/contract content areas
// @see navbar-side.js
// -------------------------------------------
.navbar-side-push {
  transition: $navbar-side-transitions;
}


