//
// Navbars
// --------------------------------------------------
// AppStrap style
// -----------------
.navbar-brand {
  @include font-size($navbar-brand-font-size);
}

// Mobile
.navbar-nav {
  .dropdown-toggle {
    position: relative;
    border-bottom: 1px solid transparent;
  }
  .dropdown-toggle::after {
    position: absolute;
    right: $dropdown-item-padding-x;
    top: 50%;
    margin-top: -$caret-width;
  }
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar,
        &.navbar {
          position: static;
        }

        .navbar-nav {    
          // Dropdowns
          button.dropdown-toggle {
            max-width: 220px;
          }
          .dropdown-toggle::after {
           position: relative; 
           right: auto;
          }
          .dropdown-submenu > .dropdown-toggle:after {
            position: absolute;
            right: $dropdown-item-padding-x;
            top: 50%;
            margin-top: -$caret-width;
          }          
          .dropdown-menu {
            margin-top: 0;
            //right: auto;
            //left: 0;  

            .dropdown-submenu {
              position: relative;
            }
            .dropdown-submenu > .dropdown-menu {
              top:0;
              left: 100%;
              margin-top: -5px;
              margin-left: 0;
              max-height: 400px;
              overflow-y: auto;
            }
          }  
          
          // Mega menus
          .dropdown-mega-menu {    
            position: static;
            
            .dropdown-menu {
              min-width: 100%;
              padding: ($dropdown-padding-y * 1.25) $dropdown-padding-x;
              //width: 100%;  
              margin-left: auto;
              margin-right: auto;
            }
            
            &.dropdown-mega-menu-50 .dropdown-menu {
              max-width: 50%;
              min-width: auto;
            }  
          } 
          
          
        }
      }
    }
  }
}

// Responsive colour scheme for navbars
// -----------------
@each $breakpoint in map-keys($grid-breakpoints) {
  $next: breakpoint-next($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($next, $grid-breakpoints);

  @if $infix != '' {
  
    @include media-breakpoint-up($next) {
      // Navbar Light
      .navbar#{$infix}-light {
        .navbar-brand {
          color: $navbar-light-brand-color;
      
          &:hover,
          &:focus {
            color: $navbar-light-brand-hover-color;
          }
        }
      
        .navbar-nav {
          .nav-link {
            color: $navbar-light-color;
      
            &:hover,
            &:focus {
              color: $navbar-light-hover-color;
            }
      
            &.disabled {
              color: $navbar-light-disabled-color;
            }
          }
      
          .show > .nav-link,
          > .nav-item > .nav-link.active {
            color: $navbar-light-active-color;
          }
        }
      
        .navbar-toggler {
          color: $navbar-light-color;
          border-color: $navbar-light-toggler-border-color;
        }
      
        .navbar-toggler-icon {
          background-image: escape-svg($navbar-light-toggler-icon-bg);
        }
      
        .navbar-text {
          color: $navbar-light-color;
      
          a,
          a:hover,
          a:focus  {
            color: $navbar-light-active-color;
          }
        }

        .dropdown-toggle {
          border: none;
        }
      }

      // Navbar Dark
      .navbar#{$infix}-dark {
        .navbar-brand {
          color: $navbar-dark-brand-color;
      
          &:hover,
          &:focus {
            color: $navbar-dark-brand-hover-color;
          }
        }
      
        .navbar-nav {
          .nav-link {
            color: $navbar-dark-color;
      
            &:hover,
            &:focus {
              color: $navbar-dark-hover-color;
            }
      
            &.disabled {
              color: $navbar-dark-disabled-color;
            }
          }
      
          .show > .nav-link,
          .nav-link.active {
            color: $navbar-dark-active-color;
          }
        }
      
        .navbar-toggler {
          color: $navbar-dark-color;
          border-color: $navbar-dark-toggler-border-color;
        }
      
        .navbar-toggler-icon {
          background-image: escape-svg($navbar-dark-toggler-icon-bg);
        }
      
        .navbar-text {
          color: $navbar-dark-color;
          a,
          a:hover,
          a:focus {
            color: $navbar-dark-active-color;
          }
        }

        .dropdown-toggle {
          border: none;
        }        
      }       
    }
  }
}


// Offcanvas in navbar
// -----------------
.navbar-collapse.offcanvas {
  overflow-y: auto;
}
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-collapse.offcanvas {
          width: auto;
          position: static;
          overflow: visible;
        }
      }
    }
  }
}

// Additional navbar elements following colour schemes
.navbar-link {
  color: var(--bs-navbar-color);
}
.navbar-text {
  color: var(--bs-navbar-color);
}
.navbar-border {
  --bs-border-color: var(--bs-navbar-toggler-border-color);
}