//======================================
// Page titles/headers
//======================================

// General
// -------------------------------------------
.page-title {
  margin: 0;
  
  small {
    color: rgba($body-color, math.div(50%, 100.0%));//IE fallback
  }
}
