//======================================
// fakeLoader.js plugin
//======================================

// General
// -------------------------------------------
.has-page-loader {
  overflow: hidden;
}
.page-loader {
  background:  var(--bs-primary) !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999999;
  @include opacity(1);
  text-align: center;
  
  > div {
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    margin: 0 auto;
  }
}
