



.pricing-table {
  .card-title {
    margin-bottom: 0;
  }
  .card-header {
    height: 90px;
    background: white;
  }
  .card-footer {
    background: white;
  }
  
  @include media-breakpoint-up(sm) { 
    .card-offset-y {
      position: relative;
      z-index: 1;
      margin-top: -10px;
      
      .card-header {
        height: 100px;
      }
      .card-footer {
        padding-top: 22px;
      }
      .card-title {
        margin-top: 10px;
        position: relative;
      }
    }
  }
  
  .card-header-hidden  {
    margin-top: 90px; // height of li.title
    display: block;
    
    .card-header {
      display: none;
    }
  }

  .list-group-item {
    height: 50px;
    display: block;
  }
}
