// -------------------------------------------
// Footer region 
// -------------------------------------------

.footer {
  background: $gray-900;
  color: $navbar-dark-color; //IE fallback;
  
  .footer-link,
  .footer-links a {
    color: $navbar-dark-color;
    
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
  
  &.footer-light {
    color: $navbar-light-color;
    background: $light;
    
    .footer-link,
    .footer-links a {
      color: $navbar-light-color;
      
      &:hover {
        color: $navbar-light-hover-color;
      }
    }    
  }
  
  .container {
    position: relative;
  }
  
  &.sticky {
    position: fixed;
    bottom: 0;
    top: auto !important;
    left: 0;
    right: 0;
  }
}
