// -------------------------------------------
// Header region 
// -------------------------------------------
#header {
  @include clearfix;
  z-index: $zindex-navbar;
  position: relative;
}

// Header Search
// -------------------------------------------
.header-search {
  overflow: hidden;
  background: #404040;
  
  form {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
  
    .btn {
      position: absolute;
      right: 50px;
      top: 0;
      bottom: 0;
      padding: 5px 10px;
      line-height: 1;
      width: 50px;
      outline: none;
      background: transparent;
      color: white;
      
      &:focus,
      &:active:focus,
      &.active:focus {
        outline: none;
      }
    }
    .close-btn {
      right: 0;
      display: block;
      font-size: 20px;
    }
    input {
      padding: 0 150px 0 0;
      background: transparent;
      height: 50px;
      border: none;
      @include border-radius(0);
      font-size: 30px;
      font-weight: 100;
      box-shadow: none;
      margin: 0;
      @include placeholder(white);
      
      &:focus {
        color: white;
        box-shadow: none;
        background: transparent;
      }
    }
  }
}

// Header
// -------------------------------------------
.is-sticky .header,
.header.is-sticky {
  right: 0;
  width: 100% !important;
}

.header-ontop {
  #header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;    
  }
}

// Header Elements
// -------------------------------------------

//social media icons
.social-media {  
  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 0;
    color: #f4f4f4;
    font-size: 22px;
    line-height: 1;
    
    .fa {
      vertical-align: top;
      line-height: inherit;
      display: block;
    }

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}


