//
// Social Branding
// @todo - expand to other social brands
// -------------------------------------------
.social-media-branding {
  a.social-link {
    display: inline-block;
    margin-right: 5px;
    @include transition(all 0.2s ease-in);
  }
  .fa {
    font-size: 36px;
  }
  
  &.social-media-branding-sm {
    a.social-link {
      margin-right: 2px;
    }
    .fa {
      font-size: 26px;
    }    
  }
  &.social-media-branding-xs {
    a.social-link {
      margin-right: 0;
    }
    .fa {
      font-size: 20px;
    }    
  }  
}

// social colours
@each $name, $value in $theme-colors-brand-colours {
  // bgs
  .bg-brand-#{$name} {
    background-color: $value !important;
  }
  .bg-hover-brand-#{$name}:hover,
  a.bg-hover-brand-#{$name}:hover,
  a.bg-hover-brand-#{$name}:focus {
    background-color: $value !important;
  }  
  
  // text
  .text-brand-#{$name} {
    color: $value !important;
  }
  .text-hover-brand-#{$name}:hover,
  a.text-hover-brand-#{$name}:hover,
  a.text-hover-brand-#{$name}:focus {
    color: $value !important;
  }
  
  a:hover {
    &.bg-brand-#{$name},
    &.text-brand-#{$name} {
      @include opacity(0.9);
    }
  }
}