//
// Spacers
// --------------------------------------------------

// HR tags
// --------------------------------------------------
hr.hr-blank {
  border-top-width: 0;
}
hr.hr-lg {
  border-top-width: 3px;
}
hr.hr-xl {
  border-top-width: 5px;
}
hr.hr-white{
  border-color: white !important;   
}