//======================================
// Timeline section
//======================================
%timeline-list-reset {    
  @include clearfix;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Timeline - reuseble
//======================================
.timeline {
  @extend %timeline-list-reset;
  padding: 0;
  margin: 2em 0;
  text-align: center;
  @include clearfix;
  position: relative;

  &:before {
    width: 1px;
    content: '';
    height: 100%;
    background-color: $timeline-track-colour;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -1px;
    z-index: 1;
  }
}

.timeline-marker {
  clear: both; 
  position: relative;
  z-index: 2;
  
  h1, h2, h3, h4, h5 {
    margin: 0 0 5px 0;
  }
  
  &:before {
    display: none;
  }
  
  &.timeline-marker-bottom {
    h1, h2, h3, h4, h5 {
      margin: 5px 0 0 0;
    }
  }
  
  &.timeline-marker-middle {
    margin-top: 20px;
    margin-bottom: 20px;    
  }
}

.timeline-breaker {
  background: $timeline-breaker-bg;
  color: $white;
  font-weight: 600;
  @include border-radius(2px);
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 0.6em;
  line-height: 1;
  display: block;
  position: relative;
  width: 100%;
  max-width: 10em;
  @include clearfix;
  clear: both;
  position: relative;
  z-index: 1;
  
  a {
    color: #fff;
    
    &:hover {
      color: #eeeeee;
    }
  }
  
  &.timeline-breaker-middle,
  &.timeline-breaker-bottom {
    margin-top: 40px;
    margin-bottom: 20px;
    clear: both !important;
  }
  
  &.timeline-breaker-bottom {
    margin-bottom: 0;    
  }
}

// Timeline items
// ----------------------------
@mixin timeline-item-default {
  float: none;
  left: auto;
  right: auto;
  width: 100%;
  padding: $timeline-item-padding;
  margin: 60px auto 0 auto;
  background: $timeline-item-bg;
  @include border-radius($timeline-item-border-radius);
  @include clearfix;
  position: relative;
  border: 1px solid $timeline-item-border-color;
  border-bottom: 3px solid var(--#{$prefix}primary);
  text-align: left;
  z-index: 2;
  
  //arrows & marker
  &:after, 
  &:before  {
    top: -20px;
    right: 50%;
    left: 50%;
    position: absolute;
    pointer-events: none;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    content: '';
  }
  &:before {
    //arrow
    background-image: escape-svg($timeline-arrow-icon);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px; 
    margin-left: -16px;
    transform: rotate(-90deg);
    top: -19px;
  }
  &:after {
    //marker
    display: inline-block;
    content: "";
    background-image: escape-svg($timeline-dot-icon);
    background-repeat: no-repeat;
    background-size: 60px 60px; 
    background-position: center center;
    height: 20px;
    line-height: 20px;
    width: 20px; 
    margin-left: -11px;  
    top: -40px;   
    z-index: 2; 
  }
  
  // highlighted marker
  &.tag-featured,
  &.marker-highlight,
  &.highlight {
    &:after {
      color: var(--#{$prefix}primary);
    }
  }
  
  //spacers - only push for mobile
  &.overlap-push-large {
    margin-top: 120px;
  }
  &.overlap-push-medium {
    margin-top: 60px;
  } 
  &.overlap-push-small {
    margin-top: 30px;
  }  
}
.timeline-item.timeline-item-first {
  margin-top: 20px !important;
}
.timeline-item.timeline-item-last {
  margin-bottom: 20px !important;
}

.timeline-item {
  @include timeline-item-default;
}

// Marker variations
// ----------------------------
//downward markings = works with .timeline-stacked only
@mixin timeline-stacked-down {
  .timeline-item:first-child {
    margin-top: 40px;
  }
  .timeline-item:last-child {
    margin-bottom: 60px;
  }    
  
  .timeline-item:before {
    //arrow
    margin-left: -15.5px;
    transform: rotate(-90deg);
  }
  .timeline-item:after {
    //marker
    margin-top: -30px;
  }
}
.timeline-stacked-down {
  @include timeline-stacked-down;
}

// $responsive
//======================================
@include media-breakpoint-up(sm) {
  // Common
  //======================================
  .timeline-breaker {
    &.timeline-breaker-middle,
    &.timeline-breaker-bottom {
      top: 40px;
    }
  }  
  
  // default unstack timeline-items
  //======================================
  // timeline-items
  // ----------------------------
  .timeline-item {
    float: left;
    width: 48%;
    padding: $timeline-item-padding;
    margin-top: 40px;
    right: $timeline-item-margin;
    margin-left: 2%;
    clear: left;
  
    //arrows & marker
    &:after, 
    &:before  {
      top: 5%;
      bottom: auto;
      right: -($timeline-item-margin - 10);
      left: auto;
      position: absolute;
      pointer-events: none;
      margin: 0;
      display: block;
      font-size: 30px;
      height: 20px;
      line-height: 20px;
      width: 20px;
      text-align: center;
    }
    &:before {
      //arrow
      transform: rotate(0deg);
      right: -14px;
    }
    &:after {
      //marker
      right: -40.5px;
    }
    
    &.even,
    &.right {
      float: right;
      clear: right;
      left: $timeline-item-margin;
      right: 0;
      margin-right: 2%;
      margin-left: 0;
      margin-top: 100px;
  
      //arrows & marker
      &:after, 
      &:before  {
        left: -14px;
        top: 10%;
      }
      &:before {
        transform: rotate(-180deg);
      }
      &:after {
        left: -41.5px;
      }    
    }
    
    //spacers - enable pulls
    &.overlap-off {
      margin-top: 0;
    }  
    &.overlap-pull-large {
      margin-top: -120px;
    }
    &.overlap-pull-small {
      margin-top: -30px;
    }     
  }
  
  
  // Stacked - default mobile display
  //======================================
  .timeline.timeline-stacked,
  .timeline-stacked {
    padding-left: 0;
    padding-right: 0;
    
    .timeline-item,
    .timeline-item.right,
    .timeline-item.even {
      @include timeline-item-default;
      margin-top: 80px;
    }
    
    &.timeline-stacked-down {
      @include timeline-stacked-down;
      
      .timeline-item,
      .timeline-item.right,
      .timeline-item.even {
        &.last {
          margin-bottom: 40px;
        }
      }
    }
    
    .timeline-breaker {
      &.timeline-breaker-middle,
      &.timeline-breaker-bottom {
        //margin-top: 40px;
        top: auto;
      }
    }
  }
}

@include media-breakpoint-up(md) {
 
}
