// -------------------------------------------
// Typography
// -------------------------------------------

// Standard typography
// -------------------------------------------
body,
html {
  background: $white;
}
body {
  position: relative; // scrollspy
  overflow-x: unset;
}

a:hover {
  img {
    @include opacity(80);
  }
}
a:focus {
  outline: none;
}

p a {
  text-decoration: underline;
  --bs-link-underline-opacity: 0.75;
  @extend .link-underline-primary;
  @extend .link-offset-3;
  @extend .link-offset-2-hover;

  &:hover {
    color: var(--bs-link-color-rgb);
  }
}

// Blockquotes
// -------------------------------------------
.blockquote-bubble {
  border: none;
  padding: 0;
  
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  .blockquote-bubble-content {
    background: $gray-100;
    padding: 20px;
    @include border-radius(3px);
    position: relative;
    margin: 0 0 10px 0;
    width: 100%;
    
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;    

    &:after {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: $gray-100;
      border-width: 10px;
      left: 30px;
      margin-left: -10px;
    }
    
    &.bg-white:after {
      border-top-color: white;
    }
  }
  
  small,
  footer,
  .blockquote-footer {
    padding-left: 8px;
    padding-right: 8px;
    
    img {
      max-width: 50px;
    }
  }
  
  .blockquote-footer:before,
  .blockquote-footer:after {
    display: none;
  }
  
  &.text-right {
    .blockquote-bubble-content {   
      &:after  {
        left: auto;
        margin-left: auto;
        right: 30px;
      }
       
      &:before {
        border-top-color: rgba(0,0,0,0.01);
        border-width: 11px;
        left: 10%;
        margin-left: -11px;
      }
    }
  }
  
  &.text-center {
    text-align: center;
    
    .blockquote-bubble-content {
      text-align: center;
      
      &:after  {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.blockquote-plain {
  border-left: none;
  border-right: none;
  padding: 0;
}

// Special typography
// -------------------------------------------
.new-tag {
  display: inline;
  color: $danger;
  vertical-align: super;
  font-size: 10px;
  font-weight: bold;
}

// Display headers on mobile
// -------------------------------------------
.display-1,
.display-2,
.display-3,
.display-4 {
  &:not(.no-resize) {
    @include media-breakpoint-down(sm) {
      font-size: 180%;
    }
  }
}

// Misc.
// -------------------------------------------
small {
  img {
    max-width: 50px;
  }
}
