// ==================================================
// Bootstrap utilities overrides
// @see: https://getbootstrap.com/docs/5.3/utilities/api/
// 
// At this point all Bootstrap & custom variables & maps are available.
// ==================================================

// Utilities extensions
// Make some existing utils responsive
// -------------------------
$utilities: map-merge(
  $utilities,
  (
    "viewport-height": (
      property: height,
      class: vh,
      values: (100: 100vh),
      responsive: true
    ),
    "position": (
      property: position,
      values: static relative absolute fixed sticky,
      responsive: true
    ),
    "top": (
      property: top,
      values: $position-values,
      responsive: true
    ),
    "bottom": (
      property: bottom,
      values: $position-values,
      responsive: true
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values,
      responsive: true
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values,
      responsive: true
    ),  
    "width": (
      property: width,
      class: w,
      values: $sizes,
      responsive: true
    ), 
    "height": (
      property: height,
      class: h,
      values: $sizes,
      responsive: true
    ),
    "border": (
      property: border,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      ),
      responsive: true
    ),
    "border-top": (
      property: border-top,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      ),
      responsive: true
    ),
    "border-end": (
      property: border-right,
      class: border-end,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      ),
      responsive: true
    ),
    "border-bottom": (
      property: border-bottom,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      ),
      responsive: true
    ),
    "border-start": (
      property: border-left,
      class: border-start,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      ),
      responsive: true
    ),
  )     
);