// ==================================================
// Contains variables used in the theme
// 1) AppStrap specific variables
// 2) Bootstrap overrides
// 3) Custom Bootstrap extended variables
// 
// Also see: _maps.scss & _utilities.scss
//
// NOTE: Bootstrap variables are not available at this point
// ==================================================

// ==================================================
// 1) AppStrap Variable
// ================================================== 
// --------------------------------------------------
// Custom colours
// --------------------------------------------------
// All AppStrap colours
$enable-hover-colours: true !default;
$enable-focus-colours: true !default;
$enable-theme-colors-extended: true !default; // Adds colour schemes to $theme-colors, adds significantly to CSS filesize

// Predefined colour schemes
// -------------------------
$skinGreen: #55A79A !default;
$skinRed: #EF4444 !default;
$skinPurple: #b771b0 !default;
$skinOrange: #e67e22 !default;
$skinBlue: #0d6efd !default;
$skinPink: #c71c77 !default;
$skinBrown:  #91633c !default;
$skinSlate:  #5D6D7E !default;
$skinOlive:  #808000 !default;
$skinTeal:  #008080 !default;
$skinCharcoal: #34495e !default;

// Primary colour
// -------------------------
// override this & recompile to change colour globally
$primary:         $skinPurple !default; //#377CA8;
$primary-dark:    shade-color($primary, 25%) !default;
$primary-light:   tint-color($primary, 25%) !default;

// --------------------------------------------------
// Social media branding
// Credit to https://paulund.co.uk/social-media-colours
// --------------------------------------------------
$theme-colors-brand-colours: (
  "facebook": #3b5998,
  "twitter": #00aced,
  "google": #dd4b39,
  "google-plus": #dd4b39,
  "linkedin": #007bb6,
  "youtube": #bb0000,
  "instagram": #517fa4,
  "pinterest": #cb2027,
  "flickr": #ff0084,
  "tumblr": #32506d,
  "foursquare": #0072b1,
  "dribbble": #ea4c89,
  "vine": #00bf8f,
  "behance": #1769FF,
  "github": #171516,
  "skype": #00AFF0,
  "snapchat": #FFFA37,
  "whatsapp": #64D448
) !default;

@function get-social-media-colour($colour) {
  @if map-has-key($theme-colors-brand-colours, $colour) {
    $colour: map-get($theme-colors-brand-colours, $colour);
  } @else {
    @if type-of($colour) != colour {
      @error "Invalid colour name: `#{$colour}`.";
    }
  }

  @return $colour;
}

// --------------------------------------------------
// Timelines
// --------------------------------------------------
$timeline-breaker-bg: #1b1b1b !default;
$timeline-item-bg: #fff !default;
$timeline-item-border-color: #e9ecef !default;
$timeline-item-border-radius: 1px !default;
$timeline-item-margin: 30px !default;
$timeline-item-padding: 1em !default;
$timeline-track-colour: $timeline-item-border-color !default;
$timeline-arrow-colour: $timeline-item-border-color !default;
$timeline-dot-colour: shade-color($timeline-item-border-color, 12%) !default;
$timeline-dot-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$timeline-dot-colour}' fill-rule='evenodd'><path d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/></svg>") !default;
$timeline-arrow-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$timeline-arrow-colour}" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>') !default;

// Carousel
$carousel-next-prev-colour: #ffffff !default;
$carousel-prev-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$carousel-next-prev-colour}" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>') !default;
$carousel-next-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$carousel-next-prev-colour}" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>') !default;

// --------------------------------------------------
// Navbar
// @todo - break up into mobile & desktop config
// --------------------------------------------------
$zindex-navbar: 1000 !default;
$transition-dropdown: all 0.2s ease-in-out !default;

// --------------------------------------------------
// Overlays
// --------------------------------------------------
$overlay-zindex: 1040000 !default;
$overlay-opacity: 0.95 !default;
$overlay-transition-speed: 0.5s !default;
$overlay-bg: #242424 !default;
$overlay-bg-light: #ffffff !default;
$overlay-bg-primary: $primary !default;
$overlay-colour: #ffffff !default;
$overlay-colour-light: #242424 !default;
$overlay-colour-primary: #ffffff !default;

// --------------------------------------------------
// Opacity
// --------------------------------------------------
$op: 0 0, 1 0.1, 2 0.2, 3 0.3, 4 0.4, 5 0.5, 6 0.6, 7 0.7, 8 0.8, 9 0.9, 10 1 !default;
$enable-opacity-hover-states: $enable-hover-colours !default;
$enable-opacity-focus-states: $enable-focus-colours !default;

// --------------------------------------------------
// Sticky effects/variations
// --------------------------------------------------
$sticky-transition: all 0.5s ease-out !default;
$zindex-sticky: 10000 !default;

// --------------------------------------------------
// Square utils
// --------------------------------------------------
$square-sizes: (
  'xs': 30,
  'sm': 50,
  'md': 75,
  'lg': 100,
  'xl': 150,
) !default;

// --------------------------------------------------
// Dropdowns
// --------------------------------------------------
$dropdown-menu-sizes: (
  'sm': 0.85,
  'lg': 1.15,
) !default;

// --------------------------------------------------
// Admin
// --------------------------------------------------

// Sidebar navbars
// --------------------------------------------------
$navbar-side-width: 230px !default;
$navbar-side-width-icon-bar: 80px !default;
$navbar-side-width-sm: 180px !default;
$navbar-side-width-lg: 300px !default;
$navbar-side-width-full: 100% !default;
$navbar-side-width-collapse: $navbar-side-width-icon-bar !default;
$navbar-side-transitions: all 0.25s ease-in-out !default;
$navbar-side-zindex: 1030 !default;
$navbar-side-zindex-ontop: 1030 * 100 !default;
$navbar-side-widths: (
  icon-bar: $navbar-side-width-icon-bar,
  sm: $navbar-side-width-sm,
  lg: $navbar-side-width-lg,
) !default;
$navbar-side-brand-height: 60px !default;
//$offcanvas-horizontal-width: $navbar-side-width;

$transition-dropdown: all .2s ease-in-out !default;

// ==================================================
// 2) Bootstrap Variable overrides
// @todo - @docs
// ================================================== 

// Functionality
// ----------------
$enable-shadows: true;
$enable-important-utilities: true;
$enable-negative-margins: true;
$min-contrast-ratio:   1.8;

// Colours
// ----------------
$primary-text-emphasis:   shade-color($primary, 60%);
$primary-bg-subtle:       tint-color($primary, 80%);
$primary-border-subtle:   tint-color($primary, 60%);

$body-color: #495057;
$body-emphasis-color: #495057;


// Required for color-contrast()
$white: #fff;
$black: #000;
$color-contrast-dark:      #666;
$color-contrast-light:     #fff;

$link-color: $primary-text-emphasis;
$link-decoration: none;


// Border radius
// ----------------
$border-radius:               .275rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .5rem;
$border-radius-xl:            1rem;
$border-radius-xxl:           2rem;
$border-radius-pill:          50rem;

// Buttons
// ----------------
$input-btn-padding-y:         .275rem;
$input-btn-padding-x:         .95rem;

$input-btn-padding-y-sm:      .195rem;
$input-btn-padding-x-sm:      .75rem;

$input-btn-padding-y-lg:      .45rem;
$input-btn-padding-x-lg:      1.4rem;

$btn-hover-bg-shade-amount:       25%;
$btn-hover-bg-tint-amount:        25%;
$btn-hover-border-shade-amount:   20% ;
$btn-hover-border-tint-amount:    10%;
$btn-active-bg-shade-amount:      20%;
$btn-active-bg-tint-amount:       20%;
$btn-active-border-shade-amount:  25%;
$btn-active-border-tint-amount:   10%;

$btn-box-shadow: none;

// Navbar
// ----------------
$navbar-nav-link-padding-x: .75rem;
$nav-link-font-weight: 500;
$navbar-light-color: tint-color($body-color, 25%);
$navbar-light-hover-color: $body-color; 

// Navs
// ----------------
$nav-link-color: tint-color($body-color, 25%);
$nav-link-hover-color: $body-color;
$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-color: color-contrast($primary);

// Dropdowns
// ----------------
$dropdown-min-width: 14rem;
$dropdown-box-shadow: 0 2rem 3rem rgba($black, .1);
$dropdown-font-size: 1rem * 0.9;
$dropdown-color: tint-color($body-color, 25%);
$dropdown-border-radius: 1px;
$dropdown-border-color: tint-color($body-color, 95%);

$dropdown-link-hover-bg: tint-color($body-color, 95%);
$dropdown-link-active-color: $body-color;
$dropdown-link-active-bg: tint-color($body-color, 95%);
 
$dropdown-dark-link-active-color: #dee2e6;
$dropdown-dark-link-active-bg: rgba($white, .15);
$dropdown-dark-header-color: #ced4da;
$dropdown-dark-divider-bg: rgba($white, .175);

$caret-width:                 .28em;
$caret-vertical-align:        $caret-width * .55;
$caret-spacing:               $caret-width * .85;

// Position
// ----------------
$position-values: (
  auto: auto,
  0: 0,
  10: 10%, 
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%
);

// Spacing
// ----------------
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,  
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 7.5),
  9: ($spacer * 9),
  10: ($spacer * 10.5),
  1px: 1px,
);

// Sizing
// ----------------
$sizes: (
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
  auto: auto,
  5px: 5px,
  10px: 10px,
  15px: 15px,
  20px: 20px
);