//======================================
// Bootstrap Select plugin
//======================================

// Rounded
// -------------------------------------------
.bootstrap-select .dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}
.bootstrap-select {
  &.form-control-lg {
    padding: 0;
    height: auto;
    line-height: normal;
  }
  
  &.form-control {
    background: transparent; 
  }
  
  > .dropdown-menu {
    margin-top: 2px !important;
    padding: 8px;
  }
}
.bootstrap-select.form-control-rounded {
  > .dropdown-menu {
    border-radius: 20px;
    
    .dropdown-item {
      border-radius: 15px;
      margin-bottom: 2px;
    }    
  }
}

.bs-searchbox {
  margin-bottom: 10px;
}