//======================================
// Slider Revolution Specifics
//======================================
@import "../init";

// General
// -------------------------------------------
.tp-banner {visibility: hidden}

.tp-banner {
  width: 100%;
  position: relative;
}

.slider-appstrap-theme  {  
  .tp-bannertimer {
    background:  var(--bs-primary);
    height: 2px;
    
    &.tp-bottom {
      bottom: -1px;
    }
  }
}

.slider-appstrap-theme {
  .tparrows {
    @include opacity(0);
    @include transition(all 0.3s ease-in-out);
    height: 60px;
    width: 60px;
    
    &:before {
      font-size: 22px;
      line-height: 60px;
    }
  }
  .tp-leftarrow {
    left: -3% !important;
  }
  .tp-rightarrow {
    left: 103% !important;
  }
  .revslider-initialised {
    overflow: hidden;
    
    &:hover {
      .tparrows {
        @include opacity(1);
      }
      .tp-leftarrow {
        left: 0 !important;
      }
      .tp-rightarrow {
        left: 100% !important;
      }      
    }
  }
}

// Variation
// -------------------------------------------
.slider-revolution-full-width-behind {
  .slide-content {
    .tp-caption {
      margin: 0 !important; //required
    }
  }
}

