<!-- 
{
  "pageTitle": "Task Management",
  "pageKey": "admin-tasks",
  "pageActiveTrail": [
    "admin-pages"
  ],
  "headerSticky": false,
  "navbarBrandUrl": "admin.html",
  "headerNavbarToggle": false,
  "headerOffcanvas": false,
  "bodyClass": "bg-light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "py-4",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-3",
  "navbarClass": "bg-white border-bottom py-0 shadow-sm",
  "navbarContainerClass": "container-fluid ps-0",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Task Management | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <div class="navbar-side-push fixed-top" data-bs-controller="#navbar-side-primary">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Admin UI' %} {% block navbarBrandContent %}
      <!-- Toggle the #navbar-side-primary navbar-side element -->
      <a
        href="#"
        class="navbar-text fs-5 align-self-stretch border-end navbar-border navbar-side-toggler bg-gray-300 bg-op-1 bg-op-hover-2 rounded-0 transition waves-btn order-first"
        data-bs-toggle="navbar-offcanvas"
        data-bs-target="#navbar-side-primary"
      >
        <i class="bi-list icon-1x"></i> <span class="visually-hidden-focusable">Main Menu Panel</span>
      </a>
      {% endblock %} {% block headerNavbarNav %}
      <!-- Navbar right side -->
      <div class="ms-auto d-flex order-4">
        <!-- Secondary links -->
        <ul class="nav navbar-nav flex-row gap-2 ms-auto me-3">
          <!-- Add menu -->
          <li class="nav-item dropdown pe-2">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-plus-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end position-absolute">
              <div class="dropdown-header">Content</div>
              <a href="#" class="dropdown-item"><i class="bi-bug"></i> New issue</a>
              <a href="#" class="dropdown-item"><i class="bi-kanban"></i> New board</a>
              <a href="#" class="dropdown-item"><i class="bi-file-post"></i> New post</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header"><strong>Users</strong></div>
              <a href="#" class="dropdown-item"><i class="bi-person"></i> New user</a>
              <a href="#" class="dropdown-item"><i class="bi-lock"></i> New permissions</a>
              <a href="#" class="dropdown-item"><i class="bi-file-lock"></i> New role</a>
            </div>
          </li>
          <!-- Notifications -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-bell"></i>
              <span class="badge position-absolute top-0 start-0 mt-2 p-1 rounded-circle bg-info animate-pulse-dark text-xs">
                <span class="visually-hidden">New notifications</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end col-4 position-absolute pt-0" style="--bs-dropdown-min-width: 20em">
              <div class="dropdown-header">Notifications</div>
              <div class="dropdown-divider my-0"></div>
              <div class="dropdown-menu-scroll">
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Serge Micheals" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Serge Micheals</h6>
                      <p class="my-0 text-gray-500 text-xs">2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Anastasia Shveko" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Anastasia Shveko</h6>
                      <p class="my-0 text-gray-500 text-xs">4 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-cpu fs-6 position-absolute m-auto"></i>
                      </div>
                      <i class="bi-exclamation-square-fill text-danger position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Server Error: SQLDeadlock</h6>
                      <p class="my-0 text-gray-500 text-xs">7 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-envelope fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New private message</h6>
                      <p class="my-0 text-gray-500 text-xs">7 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <img src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid sq-xs rounded" alt="New message from from Dave" />
                      <i class="bi-info-square-fill text-success position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New message from from Dave</h6>
                      <p class="my-0 text-gray-500 text-xs">14 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-bug fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Issue update: CSS bug</h6>
                      <p class="my-0 text-gray-500 text-xs">17 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/shop/womens-sports.jpg" class="img-fluid sq-xs rounded" alt="Product sales record" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Product sales record</h6>
                      <p class="my-0 text-gray-500 text-xs">18 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-person-plus fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Friend request: Joe</h6>
                      <p class="my-0 text-gray-500 text-xs">23 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
              </div>
              <div class="dropdown-footer text-center"><a href="#" class="text-gray-600 text-sm">View all</a></div>
            </div>
          </li>
        </ul>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- Page Main Content -->

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-6">
      <!-- .navbar-side is a variation on the standard Boostrap .navbar which stacks & is aligned to the sides instead. .navbar-light & .navbar-dark are available to change the colour scheme along with the contextual background colours ie. bg-dark All .navbar-side classes: -->
      <div class="offcanvas offcanvas-start navbar-side navbar-dark d-flex flex-column text-white bg-dark p-0" id="navbar-side-primary" data-bs-theme="dark">
        <!-- Close button -->
        <button type="button" class="btn-close mt-1 ms-1" data-bs-dismiss="offcanvas" data-bs-target="#navbar-side-primary" aria-label="Close"></button>
        <!-- Account -->
        <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3">
          <div class="position-relative px-2">
            <img src="./assets/img/admin/avatar.png" class="rounded-circle sq-md" alt="user photo" />
            <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light">
              <span class="visually-hidden">User online</span>
            </span>
          </div>
          <span class="navbar-text hover-show pb-0">Jim Jones</span> <a href="#" class="navbar-text op-8 text-xs hover-show pt-0">View Profile</a>
        </div>
        <!-- Sidebar Menu/Nav -->
        <ul class="navbar-nav navbar-nav-side py-3 flex-column w-100 px-2">
          <li class="nav-header px-2 navbar-text op-8 pb-0">Navigation</li>
          <li class="nav-item">
            <a href="admin.html" class="nav-link text-sm collapsed" aria-expanded="false" role="button"> <i class="bi-house nav-item-icon"></i> Dashboard </a>
          </li>
          <li class="nav-item">
            <a href="#layouts" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="false" role="button">
              <i class="bi-columns nav-item-icon"></i> Layouts
            </a>
            <ul id="layouts" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse">
              <li class="nav-item"><a href="admin-header-dark.html" class="nav-link text-sm" aria-expanded="false"> Dark navbar </a></li>
              <li class="nav-item"><a href="admin-sidebar-light.html" class="nav-link text-sm" aria-expanded="false"> Light sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-iconbar.html" class="nav-link text-sm" aria-expanded="false"> Icon sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-small.html" class="nav-link text-sm" aria-expanded="false"> Small sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-large.html" class="nav-link text-sm" aria-expanded="false"> Large sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-horizontal.html" class="nav-link text-sm" aria-expanded="false"> Horizontal sidebar </a></li>
            </ul>
          </li>
          <li class="nav-item open">
            <a href="#pages" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="true" role="button">
              <i class="bi-file-earmark nav-item-icon"></i> Pages
            </a>
            <ul id="pages" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse show">
              <li class="nav-item"><a href="admin-profile.html" class="nav-link text-sm" aria-expanded="false"> Profile </a></li>
              <li class="nav-item"><a href="admin-profile-settings.html" class="nav-link text-sm" aria-expanded="false"> Profile Settings </a></li>
              <li class="nav-item"><a href="admin-tickets.html" class="nav-link text-sm" aria-expanded="false"> Support Tickets </a></li>
              <li class="nav-item"><a href="admin-users.html" class="nav-link text-sm" aria-expanded="false"> User Management </a></li>
              <li class="nav-item"><a href="admin-tasks.html" class="nav-link text-sm active" aria-expanded="true"> Task Management </a></li>
              <li class="nav-item"><a href="admin-tasks-kanban.html" class="nav-link text-sm" aria-expanded="false"> Task Management (Kanban) </a></li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar footer -->
        <div class="navbar-nav-side-footer text-gray-600 p-3 mt-auto d-flex align-items-center text-sm text-light opacity-80 hover-show navbar-nav-fix-width">
          More admin pages & features coming soon!
          <br />
          Theme version - 4.0
          <br />
          Copyright 2024 &copy; AppStrap
        </div>
      </div>
      <div class="navbar-side-push p-4" data-bs-controller="#navbar-side-primary">
        <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-5 border-bottom pb-3">
          <div>
            <h2 class="fs-6 text-uppercase text-gray-600 fw-bolder mb-0 hstack align-items-center gap-2"><i class="bi-box-seam text-primary icon-1x"></i> Task Management</h2>
          </div>
          <ol class="breadcrumb text-gray-500 text-xs m-0">
            <li class="breadcrumb-item text-gray-500"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Task Management</li>
          </ol>
          <?php// } ?>
        </div>
        <!-- Page content -->
        <div class="container-lg">
          <!-- Filter Form -->
          <div class="row mb-4 align-items-center">
            <div class="col-md-8">
              <form class="row g-3">
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Search task..." aria-label="Search task" />
                </div>
                <div class="col-md-4">
                  <select class="form-select" aria-label="Filter by Assigned To">
                    <option selected>Assigned To</option>
                    <option value="Dave Pope">Dave Pope</option>
                    <option value="Mark Wilson">Mark Wilson</option>
                    <option value="Chuck Jones">Chuck Jones</option>
                    <option value="Rachel Highland">Rachel Highland</option>
                    <option value="Harper Jones">Harper Jones</option>
                    <option value="Vicky Lawsen">Vicky Lawsen</option>
                    <option value="Serge Micheals">Serge Micheals</option>
                    <option value="Anastasia Shveko">Anastasia Shveko</option>
                    <option value="Sarah Connor">Sarah Connor</option>
                    <option value="Michael Thompson">Michael Thompson</option>
                    <option value="Jessica Adams">Jessica Adams</option>
                    <option value="Peter Parker">Peter Parker</option>
                    <option value="Bruce Wayne">Bruce Wayne</option>
                    <option value="Natasha Romanoff">Natasha Romanoff</option>
                    <option value="Steve Rogers">Steve Rogers</option>
                    <option value="Tony Stark">Tony Stark</option>
                    <option value="Diana Prince">Diana Prince</option>
                    <option value="Clark Kent">Clark Kent</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-select" aria-label="Filter by Status">
                    <option selected>Status</option>
                    <option value="Backlog">Backlog</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm d-flex align-items-center float-md-end mt-3 mt-md-0" data-bs-toggle="modal" data-bs-target="#taskModal">
                <i class="bi bi-plus me-1"></i> Add New Task
              </button>
            </div>
          </div>
          <!-- Task List Using Rows & Columns -->
          <div class="border rounded bg-white p-2">
            <div class="row mx-0 border-bottom py-3 fw-bold bg-light d-none d-lg-flex">
              <div class="col-lg-4 col-md-6">Task</div>
              <div class="col-lg-2 col-md-6">Assigned To</div>
              <div class="col-lg-2 col-md-6">Due Date</div>
              <div class="col-lg-2 col-md-6">Status</div>
              <div class="col-lg-2 text-end">Actions</div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #5992</div>
                <div class="text-gray-800">Clean up unused files</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (9).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Clark Kent</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-09-27</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="5992">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="5992"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #7968</div>
                <div class="text-gray-800">Review pull requests</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (9).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Clark Kent</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-09-28</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="7968">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="7968"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #9186</div>
                <div class="text-gray-800">Set up new server</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (7).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Tony Stark</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-09-29</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="9186">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="9186"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #5050</div>
                <div class="text-gray-800">Fix CSS layout issue</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (9).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Clark Kent</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-09-30</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-secondary text-secondary bg-op-1"> <i class="bi bi-clock me-1"></i> Backlog </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="5050">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="5050"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #1710</div>
                <div class="text-gray-800">Redesign homepage</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (1).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Sarah Connor</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-01</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="1710">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="1710"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #3665</div>
                <div class="text-gray-800">Optimize database queries</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (7).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Tony Stark</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-02</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-secondary text-secondary bg-op-1"> <i class="bi bi-clock me-1"></i> Backlog </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="3665">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="3665"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #6394</div>
                <div class="text-gray-800">Clean up unused files</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (1).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Sarah Connor</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-03</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="6394">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="6394"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #154</div>
                <div class="text-gray-800">Create marketing strategy</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Rachel Highland</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-04</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="154">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="154"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #654</div>
                <div class="text-gray-800">Update user profile page</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (4).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Bruce Wayne</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-05</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="654">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="654"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #10218</div>
                <div class="text-gray-800">Update user profile page</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Anastasia Shveko</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-06</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-secondary text-secondary bg-op-1"> <i class="bi bi-clock me-1"></i> Backlog </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="10218">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="10218">
                      <i class="bi bi-trash text-primary"></i> Delete
                    </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #7499</div>
                <div class="text-gray-800">Update user profile page</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (7).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Tony Stark</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-07</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-secondary text-secondary bg-op-1"> <i class="bi bi-clock me-1"></i> Backlog </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="7499">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="7499"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #5214</div>
                <div class="text-gray-800">Test mobile responsiveness</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Serge Micheals</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-08</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="5214">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="5214"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #5788</div>
                <div class="text-gray-800">Write documentation</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (6).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Steve Rogers</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-09</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="5788">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="5788"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #7270</div>
                <div class="text-gray-800">Prepare sales report</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (9).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Clark Kent</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-10</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="7270">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="7270"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #6452</div>
                <div class="text-gray-800">Create marketing strategy</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (4).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Bruce Wayne</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-11</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-success text-success bg-op-1"> <i class="bi bi-check-circle me-1"></i> Completed </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="6452">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="6452"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #5374</div>
                <div class="text-gray-800">Test mobile responsiveness</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Rachel Highland</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-12</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="5374">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="5374"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #10003</div>
                <div class="text-gray-800">Implement new feature</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/3-denis-agati--5Vl9oimYlU-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Chuck Jones</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-13</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-secondary text-secondary bg-op-1"> <i class="bi bi-clock me-1"></i> Backlog </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="10003">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="10003">
                      <i class="bi bi-trash text-primary"></i> Delete
                    </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #2694</div>
                <div class="text-gray-800">Clean up unused files</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/uifaces-human-image (1).webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Sarah Connor</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-14</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="2694">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="2694"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #1094</div>
                <div class="text-gray-800">Onboard new clients</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/5-harps-joseph-tAvpDE7fXgY-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Harper Jones</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-15</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-secondary text-secondary bg-op-1"> <i class="bi bi-clock me-1"></i> Backlog </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="1094">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="1094"> <i class="bi bi-trash text-primary"></i> Delete </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mx-0 border-bottom py-3 position-relative">
              <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <div class="fw-bold">Task #11083</div>
                <div class="text-gray-800">Prepare sales report</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 d-flex align-items-center">
                <img src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" alt="User" class="rounded-circle me-2" style="width: 40px; height: 40px" />
                <div class="text-gray-700">Dave Pope</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <div class="text-gray-600">Due: 2024-10-16</div>
              </div>
              <div class="col-lg-2 col-md-6 mb-3 mb-lg-0 align-self-md-center">
                <span class="badge d-inline-block w-100 py-2 bg-info text-info bg-op-1"> <i class="bi bi-hourglass-split me-1"></i> In Progress </span>
              </div>
              <div class="col-lg-2 text-end align-self-md-center">
                <div class="dropdown float-md-end position-absolute top-0 end-0 mt-3 me-3">
                  <a
                    href="#"
                    data-bs-toggle="dropdown"
                    class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                    data-opened-trigger-class="bg-primary bg-op-1 text-primary"
                  >
                    <i class="bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#taskModal" data-task-id="11083">
                      <i class="bi bi-pencil-square text-primary"></i> Edit
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="11083">
                      <i class="bi bi-trash text-primary"></i> Delete
                    </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-upload text-primary"></i> Convert </a>
                    <a class="dropdown-item" href="#"> <i class="bi bi-files text-primary"></i> Clone </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal for Adding/Editing Task -->
        <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Add/Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="taskForm">
                  <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="taskName" name="taskName" required />
                  </div>
                  <div class="mb-3">
                    <label for="assignedTo" class="form-label">Assigned To</label>
                    <input type="text" class="form-control" id="assignedTo" name="assignedTo" required />
                  </div>
                  <div class="mb-3">
                    <label for="dueDate" class="form-label">Due Date</label>
                    <input type="date" class="form-control" id="dueDate" name="dueDate" required />
                  </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" name="status">
                      <option value="Backlog">Backlog</option>
                      <option value="In Progress">In Progress</option>
                      <option value="Completed">Completed</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Task</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this task?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger">Yes, Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="{{ 'navbar-side-push py-3 footer'|classMerge(footerClass) }}" data-bs-controller="#navbar-side-primary">
      <div class="container-fluid">
        <div class="row">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-6">
            <ul class="list-inline mb-t mb-2 text-sm">
              <li class="list-inline-item"><a href="#" class="footer-link">Terms</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Privacy</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Contact Us</a></li>
            </ul>
            <p class="mb-0 text-sm">{{ siteFooterCopyright }}</p>
          </div>
          <div class="col-md-6 flex-valign">
            <div class="d-flex align-items-center float-md-end ms-md-auto">
              <!--@todo: replace with company social media details-->
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-google-plus-g"></i></a>
              <a href="#top" class="btn btn-dark btn-washed btn-rounded sq-xs p-0" title="Back to top"><i class="fa fa-chevron-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Closure -->
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
