<!-- 
{
  "pageTitle": "Support Tickets",
  "pageKey": "admin-tickets",
  "pageActiveTrail": [
    "admin-pages"
  ],
  "headerSticky": false,
  "navbarBrandUrl": "admin.html",
  "headerNavbarToggle": false,
  "headerOffcanvas": false,
  "bodyClass": "bg-light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "py-4",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-3",
  "navbarClass": "bg-white border-bottom py-0 shadow-sm",
  "navbarContainerClass": "container-fluid ps-0",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Support Tickets | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <div class="navbar-side-push fixed-top" data-bs-controller="#navbar-side-primary">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Admin UI' %} {% block navbarBrandContent %}
      <!-- Toggle the #navbar-side-primary navbar-side element -->
      <a
        href="#"
        class="navbar-text fs-5 align-self-stretch border-end navbar-border navbar-side-toggler bg-gray-300 bg-op-1 bg-op-hover-2 rounded-0 transition waves-btn order-first"
        data-bs-toggle="navbar-offcanvas"
        data-bs-target="#navbar-side-primary"
      >
        <i class="bi-list icon-1x"></i> <span class="visually-hidden-focusable">Main Menu Panel</span>
      </a>
      {% endblock %} {% block headerNavbarNav %}
      <!-- Navbar right side -->
      <div class="ms-auto d-flex order-4">
        <!-- Secondary links -->
        <ul class="nav navbar-nav flex-row gap-2 ms-auto me-3">
          <!-- Add menu -->
          <li class="nav-item dropdown pe-2">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-plus-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end position-absolute">
              <div class="dropdown-header">Content</div>
              <a href="#" class="dropdown-item"><i class="bi-bug"></i> New issue</a>
              <a href="#" class="dropdown-item"><i class="bi-kanban"></i> New board</a>
              <a href="#" class="dropdown-item"><i class="bi-file-post"></i> New post</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header"><strong>Users</strong></div>
              <a href="#" class="dropdown-item"><i class="bi-person"></i> New user</a>
              <a href="#" class="dropdown-item"><i class="bi-lock"></i> New permissions</a>
              <a href="#" class="dropdown-item"><i class="bi-file-lock"></i> New role</a>
            </div>
          </li>
          <!-- Notifications -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-bell"></i>
              <span class="badge position-absolute top-0 start-0 mt-2 p-1 rounded-circle bg-info animate-pulse-dark text-xs">
                <span class="visually-hidden">New notifications</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end col-4 position-absolute pt-0" style="--bs-dropdown-min-width: 20em">
              <div class="dropdown-header">Notifications</div>
              <div class="dropdown-divider my-0"></div>
              <div class="dropdown-menu-scroll">
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/shop/womens-sports.jpg" class="img-fluid sq-xs rounded" alt="Product sales record" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Product sales record</h6>
                      <p class="my-0 text-gray-500 text-xs">1 hour ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-cpu fs-6 position-absolute m-auto"></i>
                      </div>
                      <i class="bi-exclamation-square-fill text-danger position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Server Error: SQLDeadlock</h6>
                      <p class="my-0 text-gray-500 text-xs">5 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Anastasia Shveko" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Anastasia Shveko</h6>
                      <p class="my-0 text-gray-500 text-xs">6 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-envelope fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New private message</h6>
                      <p class="my-0 text-gray-500 text-xs">13 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-bug fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Issue update: CSS bug</h6>
                      <p class="my-0 text-gray-500 text-xs">20 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-person-plus fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Friend request: Joe</h6>
                      <p class="my-0 text-gray-500 text-xs">20 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <img src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid sq-xs rounded" alt="New message from from Dave" />
                      <i class="bi-info-square-fill text-success position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New message from from Dave</h6>
                      <p class="my-0 text-gray-500 text-xs">20 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Serge Micheals" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Serge Micheals</h6>
                      <p class="my-0 text-gray-500 text-xs">24 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
              </div>
              <div class="dropdown-footer text-center"><a href="#" class="text-gray-600 text-sm">View all</a></div>
            </div>
          </li>
        </ul>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- Page Main Content -->

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-6">
      <!-- .navbar-side is a variation on the standard Boostrap .navbar which stacks & is aligned to the sides instead. .navbar-light & .navbar-dark are available to change the colour scheme along with the contextual background colours ie. bg-dark All .navbar-side classes: -->
      <div class="offcanvas offcanvas-start navbar-side navbar-dark d-flex flex-column text-white bg-dark p-0" id="navbar-side-primary" data-bs-theme="dark">
        <!-- Close button -->
        <button type="button" class="btn-close mt-1 ms-1" data-bs-dismiss="offcanvas" data-bs-target="#navbar-side-primary" aria-label="Close"></button>
        <!-- Account -->
        <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3">
          <div class="position-relative px-2">
            <img src="./assets/img/admin/avatar.png" class="rounded-circle sq-md" alt="user photo" />
            <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light">
              <span class="visually-hidden">User online</span>
            </span>
          </div>
          <span class="navbar-text hover-show pb-0">Jim Jones</span> <a href="#" class="navbar-text op-8 text-xs hover-show pt-0">View Profile</a>
        </div>
        <!-- Sidebar Menu/Nav -->
        <ul class="navbar-nav navbar-nav-side py-3 flex-column w-100 px-2">
          <li class="nav-header px-2 navbar-text op-8 pb-0">Navigation</li>
          <li class="nav-item">
            <a href="admin.html" class="nav-link text-sm collapsed" aria-expanded="false" role="button"> <i class="bi-house nav-item-icon"></i> Dashboard </a>
          </li>
          <li class="nav-item">
            <a href="#layouts" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="false" role="button">
              <i class="bi-columns nav-item-icon"></i> Layouts
            </a>
            <ul id="layouts" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse">
              <li class="nav-item"><a href="admin-header-dark.html" class="nav-link text-sm" aria-expanded="false"> Dark navbar </a></li>
              <li class="nav-item"><a href="admin-sidebar-light.html" class="nav-link text-sm" aria-expanded="false"> Light sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-iconbar.html" class="nav-link text-sm" aria-expanded="false"> Icon sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-small.html" class="nav-link text-sm" aria-expanded="false"> Small sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-large.html" class="nav-link text-sm" aria-expanded="false"> Large sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-horizontal.html" class="nav-link text-sm" aria-expanded="false"> Horizontal sidebar </a></li>
            </ul>
          </li>
          <li class="nav-item open">
            <a href="#pages" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="true" role="button">
              <i class="bi-file-earmark nav-item-icon"></i> Pages
            </a>
            <ul id="pages" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse show">
              <li class="nav-item"><a href="admin-profile.html" class="nav-link text-sm" aria-expanded="false"> Profile </a></li>
              <li class="nav-item"><a href="admin-profile-settings.html" class="nav-link text-sm" aria-expanded="false"> Profile Settings </a></li>
              <li class="nav-item"><a href="admin-tickets.html" class="nav-link text-sm active" aria-expanded="true"> Support Tickets </a></li>
              <li class="nav-item"><a href="admin-users.html" class="nav-link text-sm" aria-expanded="false"> User Management </a></li>
              <li class="nav-item"><a href="admin-tasks.html" class="nav-link text-sm" aria-expanded="false"> Task Management </a></li>
              <li class="nav-item"><a href="admin-tasks-kanban.html" class="nav-link text-sm" aria-expanded="false"> Task Management (Kanban) </a></li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar footer -->
        <div class="navbar-nav-side-footer text-gray-600 p-3 mt-auto d-flex align-items-center text-sm text-light opacity-80 hover-show navbar-nav-fix-width">
          More admin pages & features coming soon!
          <br />
          Theme version - 4.0
          <br />
          Copyright 2024 &copy; AppStrap
        </div>
      </div>
      <div class="navbar-side-push p-4" data-bs-controller="#navbar-side-primary">
        <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-5 border-bottom pb-3">
          <div>
            <h2 class="fs-6 text-uppercase text-gray-600 fw-bolder mb-0 hstack align-items-center gap-2"><i class="bi-box-seam text-primary icon-1x"></i> Support Tickets</h2>
          </div>
          <ol class="breadcrumb text-gray-500 text-xs m-0">
            <li class="breadcrumb-item text-gray-500"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Support Tickets</li>
          </ol>
          <?php// } ?>
        </div>
        <!-- Page content -->
        <div class="container-lg">
          <!-- Filter Form -->
          <div class="row mb-4 align-items-center">
            <div class="col-md-8">
              <form class="row g-3">
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Search ticket..." aria-label="Search ticket" />
                </div>
                <div class="col-md-4">
                  <select class="form-select" aria-label="Filter by Assigned To">
                    <option selected>Assigned To</option>
                    <option value="Dave Pope">Dave Pope</option>
                    <option value="Mark Wilson">Mark Wilson</option>
                    <option value="Chuck Jones">Chuck Jones</option>
                    <option value="Rachel Highland">Rachel Highland</option>
                    <option value="Harper Jones">Harper Jones</option>
                    <option value="Vicky Lawsen">Vicky Lawsen</option>
                    <option value="Serge Micheals">Serge Micheals</option>
                    <option value="Anastasia Shveko">Anastasia Shveko</option>
                    <option value="Sarah Connor">Sarah Connor</option>
                    <option value="Michael Thompson">Michael Thompson</option>
                    <option value="Jessica Adams">Jessica Adams</option>
                    <option value="Peter Parker">Peter Parker</option>
                    <option value="Bruce Wayne">Bruce Wayne</option>
                    <option value="Natasha Romanoff">Natasha Romanoff</option>
                    <option value="Steve Rogers">Steve Rogers</option>
                    <option value="Tony Stark">Tony Stark</option>
                    <option value="Diana Prince">Diana Prince</option>
                    <option value="Clark Kent">Clark Kent</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-select" aria-label="Filter by Status">
                    <option selected>Status</option>
                    <option value="open">open</option>
                    <option value="pending">pending</option>
                    <option value="resolved">resolved</option>
                    <option value="closed">closed</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm d-flex align-items-center float-md-end mt-3 mt-md-0" data-bs-toggle="modal" data-bs-target="#ticketModal">
                <i class="bi bi-plus me-1"></i> Create New Ticket
              </button>
            </div>
          </div>
          <!-- Support Tickets List -->
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #1 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 1.</p>
                  <div class="d-flex align-items-center">
                    <img src="./assets/img/admin/users/uifaces-human-image (6).webp" alt="User Image" class="rounded-circle me-3 sq-xs" style="width: 50px; height: 50px" />
                    <div>
                      <span class="text-gray-700">Steve Rogers</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-25</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-primary"> Pending </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="1"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="1">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="1">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #2 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 2.</p>
                  <div class="d-flex align-items-center">
                    <img
                      src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp"
                      alt="User Image"
                      class="rounded-circle me-3 sq-xs"
                      style="width: 50px; height: 50px"
                    />
                    <div>
                      <span class="text-gray-700">Serge Micheals</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-24</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-primary"> Pending </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="2"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="2">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="2">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #3 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 3.</p>
                  <div class="d-flex align-items-center">
                    <img
                      src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp"
                      alt="User Image"
                      class="rounded-circle me-3 sq-xs"
                      style="width: 50px; height: 50px"
                    />
                    <div>
                      <span class="text-gray-700">Dave Pope</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-23</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-success"> Resolved </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="3"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="3">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="3">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #4 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 4.</p>
                  <div class="d-flex align-items-center">
                    <img src="./assets/img/admin/users/uifaces-human-image (4).webp" alt="User Image" class="rounded-circle me-3 sq-xs" style="width: 50px; height: 50px" />
                    <div>
                      <span class="text-gray-700">Bruce Wayne</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-22</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-primary"> Pending </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="4"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="4">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="4">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #5 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 5.</p>
                  <div class="d-flex align-items-center">
                    <img
                      src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp"
                      alt="User Image"
                      class="rounded-circle me-3 sq-xs"
                      style="width: 50px; height: 50px"
                    />
                    <div>
                      <span class="text-gray-700">Dave Pope</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-21</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-success"> Resolved </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="5"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="5">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="5">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #6 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 6.</p>
                  <div class="d-flex align-items-center">
                    <img
                      src="./assets/img/admin/users/2-austin-wade-X6Uj51n5CE8-unsplash.webp"
                      alt="User Image"
                      class="rounded-circle me-3 sq-xs"
                      style="width: 50px; height: 50px"
                    />
                    <div>
                      <span class="text-gray-700">Mark Wilson</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-20</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-danger"> Closed </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="6"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="6">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="6">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #7 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 7.</p>
                  <div class="d-flex align-items-center">
                    <img src="./assets/img/admin/users/uifaces-human-image (10).webp" alt="User Image" class="rounded-circle me-3 sq-xs" style="width: 50px; height: 50px" />
                    <div>
                      <span class="text-gray-700">Michael Thompson</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-19</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-danger"> Closed </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="7"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="7">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="7">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #8 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 8.</p>
                  <div class="d-flex align-items-center">
                    <img
                      src="./assets/img/admin/users/4-rachel-mcdermott-0fN7Fxv1eWA-unsplash.webp"
                      alt="User Image"
                      class="rounded-circle me-3 sq-xs"
                      style="width: 50px; height: 50px"
                    />
                    <div>
                      <span class="text-gray-700">Rachel Highland</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-18</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-danger"> Closed </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="8"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="8">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="8">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #9 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 9.</p>
                  <div class="d-flex align-items-center">
                    <img src="./assets/img/admin/users/uifaces-human-image (7).webp" alt="User Image" class="rounded-circle me-3 sq-xs" style="width: 50px; height: 50px" />
                    <div>
                      <span class="text-gray-700">Tony Stark</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-17</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-danger"> Closed </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="9"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="9">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="9">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                <div class="card-body">
                  <h5 class="fw-bold mb-1">Ticket #10 - Example Issue</h5>
                  <p class="mb-1 text-muted">Description of the issue for ticket 10.</p>
                  <div class="d-flex align-items-center">
                    <img src="./assets/img/admin/users/uifaces-human-image (8).webp" alt="User Image" class="rounded-circle me-3 sq-xs" style="width: 50px; height: 50px" />
                    <div>
                      <span class="text-gray-700">Diana Prince</span>
                      <p class="mb-0 text-muted text-sm">Created: 2024-09-16</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                  <span class="badge bg-warning"> Open </span>
                  <!-- Actions -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="text-dark sq-xs rounded d-flex align-items-center justify-content-center"
                      data-opened-trigger-class="bg-primary bg-op-1"
                    >
                      <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm rounded border">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="10"> <i class="bi bi-eye text-primary"></i> View </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ticketModal" data-ticket-id="10">
                        <i class="bi bi-pencil-square text-primary"></i> Edit
                      </a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-ticket-id="10">
                        <i class="bi bi-trash text-primary"></i> Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal for Viewing/Editing Ticket -->
        <div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ticketModalLabel">View/Edit Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="ticketForm">
                  <div class="mb-3">
                    <label for="ticketSubject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="ticketSubject" name="ticketSubject" required />
                  </div>
                  <div class="mb-3">
                    <label for="ticketDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="ticketDescription" name="ticketDescription" required></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="assignedTo" class="form-label">Assigned To</label>
                    <select class="form-select" id="assignedTo" name="assignedTo">
                      <option value="Dave Pope">Dave Pope</option>
                      <option value="Mark Wilson">Mark Wilson</option>
                      <option value="Chuck Jones">Chuck Jones</option>
                      <option value="Rachel Highland">Rachel Highland</option>
                      <option value="Harper Jones">Harper Jones</option>
                      <option value="Vicky Lawsen">Vicky Lawsen</option>
                      <option value="Serge Micheals">Serge Micheals</option>
                      <option value="Anastasia Shveko">Anastasia Shveko</option>
                      <option value="Sarah Connor">Sarah Connor</option>
                      <option value="Michael Thompson">Michael Thompson</option>
                      <option value="Jessica Adams">Jessica Adams</option>
                      <option value="Peter Parker">Peter Parker</option>
                      <option value="Bruce Wayne">Bruce Wayne</option>
                      <option value="Natasha Romanoff">Natasha Romanoff</option>
                      <option value="Steve Rogers">Steve Rogers</option>
                      <option value="Tony Stark">Tony Stark</option>
                      <option value="Diana Prince">Diana Prince</option>
                      <option value="Clark Kent">Clark Kent</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="ticketStatus" class="form-label">Status</label>
                    <select class="form-select" id="ticketStatus" name="ticketStatus"></select>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Ticket</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this ticket?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger">Yes, Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="{{ 'navbar-side-push py-3 footer'|classMerge(footerClass) }}" data-bs-controller="#navbar-side-primary">
      <div class="container-fluid">
        <div class="row">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-6">
            <ul class="list-inline mb-t mb-2 text-sm">
              <li class="list-inline-item"><a href="#" class="footer-link">Terms</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Privacy</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Contact Us</a></li>
            </ul>
            <p class="mb-0 text-sm">{{ siteFooterCopyright }}</p>
          </div>
          <div class="col-md-6 flex-valign">
            <div class="d-flex align-items-center float-md-end ms-md-auto">
              <!--@todo: replace with company social media details-->
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-google-plus-g"></i></a>
              <a href="#top" class="btn btn-dark btn-washed btn-rounded sq-xs p-0" title="Back to top"><i class="fa fa-chevron-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Closure -->
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
