<!-- 
{
  "pageTitle": "Profile Settings",
  "pageKey": "admin-profile-settings",
  "pageActiveTrail": [
    "admin-pages"
  ],
  "headerSticky": false,
  "navbarBrandUrl": "admin.html",
  "headerNavbarToggle": false,
  "headerOffcanvas": false,
  "bodyClass": "bg-light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "py-4",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-3",
  "navbarClass": "bg-white border-bottom py-0 shadow-sm",
  "navbarContainerClass": "container-fluid ps-0",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Profile Settings | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <div class="navbar-side-push fixed-top" data-bs-controller="#navbar-side-primary">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Admin UI' %} {% block navbarBrandContent %}
      <!-- Toggle the #navbar-side-primary navbar-side element -->
      <a
        href="#"
        class="navbar-text fs-5 align-self-stretch border-end navbar-border navbar-side-toggler bg-gray-300 bg-op-1 bg-op-hover-2 rounded-0 transition waves-btn order-first"
        data-bs-toggle="navbar-offcanvas"
        data-bs-target="#navbar-side-primary"
      >
        <i class="bi-list icon-1x"></i> <span class="visually-hidden-focusable">Main Menu Panel</span>
      </a>
      {% endblock %} {% block headerNavbarNav %}
      <!-- Navbar right side -->
      <div class="ms-auto d-flex order-4">
        <!-- Secondary links -->
        <ul class="nav navbar-nav flex-row gap-2 ms-auto me-3">
          <!-- Add menu -->
          <li class="nav-item dropdown pe-2">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-plus-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end position-absolute">
              <div class="dropdown-header">Content</div>
              <a href="#" class="dropdown-item"><i class="bi-bug"></i> New issue</a>
              <a href="#" class="dropdown-item"><i class="bi-kanban"></i> New board</a>
              <a href="#" class="dropdown-item"><i class="bi-file-post"></i> New post</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header"><strong>Users</strong></div>
              <a href="#" class="dropdown-item"><i class="bi-person"></i> New user</a>
              <a href="#" class="dropdown-item"><i class="bi-lock"></i> New permissions</a>
              <a href="#" class="dropdown-item"><i class="bi-file-lock"></i> New role</a>
            </div>
          </li>
          <!-- Notifications -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle dropdown-hide-caret px-1 fs-5"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              data-opened-trigger-class="text-primary"
            >
              <i class="bi-bell"></i>
              <span class="badge position-absolute top-0 start-0 mt-2 p-1 rounded-circle bg-info animate-pulse-dark text-xs">
                <span class="visually-hidden">New notifications</span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end col-4 position-absolute pt-0" style="--bs-dropdown-min-width: 20em">
              <div class="dropdown-header">Notifications</div>
              <div class="dropdown-divider my-0"></div>
              <div class="dropdown-menu-scroll">
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <img src="./assets/img/admin/users/1-art-hauntington-jzY0KRJopEI-unsplash.webp" class="img-fluid sq-xs rounded" alt="New message from from Dave" />
                      <i class="bi-info-square-fill text-success position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New message from from Dave</h6>
                      <p class="my-0 text-gray-500 text-xs">1 hour ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-envelope fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New private message</h6>
                      <p class="my-0 text-gray-500 text-xs">2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2 position-relative">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-cpu fs-6 position-absolute m-auto"></i>
                      </div>
                      <i class="bi-exclamation-square-fill text-danger position-absolute rounded bottom-0 end-0 border border-2 border-white bg-white lh-1 text-xs"></i>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Server Error: SQLDeadlock</h6>
                      <p class="my-0 text-gray-500 text-xs">4 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/7-sergio-de-paula-c_GmwfHBDzk-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Serge Micheals" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Serge Micheals</h6>
                      <p class="my-0 text-gray-500 text-xs">8 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-bug fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Issue update: CSS bug</h6>
                      <p class="my-0 text-gray-500 text-xs">10 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/shop/womens-sports.jpg" class="img-fluid sq-xs rounded" alt="Product sales record" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Product sales record</h6>
                      <p class="my-0 text-gray-500 text-xs">16 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <div class="bg-gray-300 position-relative rounded sq-xs d-flex align-items-center justify-content-center">
                        <i class="bi-person-plus fs-6 position-absolute m-auto"></i>
                      </div>
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">Friend request: Joe</h6>
                      <p class="my-0 text-gray-500 text-xs">21 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
                <div class="dropdown-item py-3">
                  <div class="row gx-2 gy-0">
                    <div class="col-2">
                      <img src="./assets/img/admin/users/8-anastasia-vityukova-Dh56R9HKg_g-unsplash.webp" class="img-fluid sq-xs rounded" alt="New user: Anastasia Shveko" />
                    </div>
                    <div class="col-10">
                      <h6 class="my-0 text-sm">New user: Anastasia Shveko</h6>
                      <p class="my-0 text-gray-500 text-xs">22 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider my-0"></div>
              </div>
              <div class="dropdown-footer text-center"><a href="#" class="text-gray-600 text-sm">View all</a></div>
            </div>
          </li>
        </ul>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- Page Main Content -->

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-6">
      <!-- .navbar-side is a variation on the standard Boostrap .navbar which stacks & is aligned to the sides instead. .navbar-light & .navbar-dark are available to change the colour scheme along with the contextual background colours ie. bg-dark All .navbar-side classes: -->
      <div class="offcanvas offcanvas-start navbar-side navbar-dark d-flex flex-column text-white bg-dark p-0" id="navbar-side-primary" data-bs-theme="dark">
        <!-- Close button -->
        <button type="button" class="btn-close mt-1 ms-1" data-bs-dismiss="offcanvas" data-bs-target="#navbar-side-primary" aria-label="Close"></button>
        <!-- Account -->
        <div class="d-flex flex-column align-items-center justify-content-center pt-4 pb-3">
          <div class="position-relative px-2">
            <img src="./assets/img/admin/avatar.png" class="rounded-circle sq-md" alt="user photo" />
            <span class="d-block position-absolute bottom-0 start-0 ms-1 mb-1 w-10px h-10px rounded-circle bg-success animate-pulse-light">
              <span class="visually-hidden">User online</span>
            </span>
          </div>
          <span class="navbar-text hover-show pb-0">Jim Jones</span> <a href="#" class="navbar-text op-8 text-xs hover-show pt-0">View Profile</a>
        </div>
        <!-- Sidebar Menu/Nav -->
        <ul class="navbar-nav navbar-nav-side py-3 flex-column w-100 px-2">
          <li class="nav-header px-2 navbar-text op-8 pb-0">Navigation</li>
          <li class="nav-item">
            <a href="admin.html" class="nav-link text-sm collapsed" aria-expanded="false" role="button"> <i class="bi-house nav-item-icon"></i> Dashboard </a>
          </li>
          <li class="nav-item">
            <a href="#layouts" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="false" role="button">
              <i class="bi-columns nav-item-icon"></i> Layouts
            </a>
            <ul id="layouts" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse">
              <li class="nav-item"><a href="admin-header-dark.html" class="nav-link text-sm" aria-expanded="false"> Dark navbar </a></li>
              <li class="nav-item"><a href="admin-sidebar-light.html" class="nav-link text-sm" aria-expanded="false"> Light sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-iconbar.html" class="nav-link text-sm" aria-expanded="false"> Icon sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-small.html" class="nav-link text-sm" aria-expanded="false"> Small sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-large.html" class="nav-link text-sm" aria-expanded="false"> Large sidebar </a></li>
              <li class="nav-item"><a href="admin-sidebar-horizontal.html" class="nav-link text-sm" aria-expanded="false"> Horizontal sidebar </a></li>
            </ul>
          </li>
          <li class="nav-item open">
            <a href="#pages" class="nav-link text-sm collapsed" data-bs-toggle="collapse" aria-expanded="true" role="button">
              <i class="bi-file-earmark nav-item-icon"></i> Pages
            </a>
            <ul id="pages" class="nav navbar-nav flex-column flex-nowrap nav-collapse-submenu collapse show">
              <li class="nav-item"><a href="admin-profile.html" class="nav-link text-sm" aria-expanded="false"> Profile </a></li>
              <li class="nav-item"><a href="admin-profile-settings.html" class="nav-link text-sm active" aria-expanded="true"> Profile Settings </a></li>
              <li class="nav-item"><a href="admin-tickets.html" class="nav-link text-sm" aria-expanded="false"> Support Tickets </a></li>
              <li class="nav-item"><a href="admin-users.html" class="nav-link text-sm" aria-expanded="false"> User Management </a></li>
              <li class="nav-item"><a href="admin-tasks.html" class="nav-link text-sm" aria-expanded="false"> Task Management </a></li>
              <li class="nav-item"><a href="admin-tasks-kanban.html" class="nav-link text-sm" aria-expanded="false"> Task Management (Kanban) </a></li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar footer -->
        <div class="navbar-nav-side-footer text-gray-600 p-3 mt-auto d-flex align-items-center text-sm text-light opacity-80 hover-show navbar-nav-fix-width">
          More admin pages & features coming soon!
          <br />
          Theme version - 4.0
          <br />
          Copyright 2024 &copy; AppStrap
        </div>
      </div>
      <div class="navbar-side-push p-4" data-bs-controller="#navbar-side-primary">
        <div class="d-lg-flex align-items-lg-center justify-content-lg-between mb-5 border-bottom pb-3">
          <div>
            <h2 class="fs-6 text-uppercase text-gray-600 fw-bolder mb-0 hstack align-items-center gap-2"><i class="bi-box-seam text-primary icon-1x"></i> Profile Settings</h2>
          </div>
          <ol class="breadcrumb text-gray-500 text-xs m-0">
            <li class="breadcrumb-item text-gray-500"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
          </ol>
          <?php// } ?>
        </div>
        <!-- Page content -->
        <div class="container-xl">
          <div class="row g-3">
            <div class="col-lg-4" data-bs-toggle="sticky" data-settings='{"parent":"#content","mind":"#navbar-header","top":10,"breakpoint":992}'>
              <!-- Links -->
              <div class="card bg-white shadow-sm mb-4">
                <div class="card-header bg-white fw-bold text-gray-700">Settings</div>
                <div class="card-body">
                  <div class="vstack gap-1">
                    <a href="#profile" class="btn text-start" data-bs-toggle="scroll-link" data-active-class="btn-primary"><i class="me-1 bi-pencil-square"></i> Profile</a>
                    <a href="#security" class="btn text-start" data-bs-toggle="scroll-link" data-active-class="btn-primary"><i class="me-1 bi-unlock-fill"></i> Security</a>
                    <a href="#billing" class="btn text-start" data-bs-toggle="scroll-link" data-active-class="btn-primary"><i class="me-1 bi-credit-card"></i> Billing</a>
                    <a href="#notifications" class="btn text-start" data-bs-toggle="scroll-link" data-active-class="btn-primary"><i class="me-1 bi-bell"></i> Notifications</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <!-- Profile -->
              <div class="card bg-white shadow-sm mb-4" id="profile">
                <div class="card-header bg-white text-gray-700 fw-bold fs-6"><i class="me-1 bi-pencil-square"></i> Edit profile</div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-12 col-md-6 mb-3">
                        <!-- First name -->
                        <div class="form-group">
                          <!-- Label -->
                          <label class="form-label" for="firstname"> Firstname </label>
                          <!-- Input -->
                          <input type="text" value="Jim" class="form-control" id="firstname" />
                        </div>
                      </div>
                      <div class="col-12 col-md-6 mb-3">
                        <!-- First name -->
                        <div class="form-group">
                          <!-- Label -->
                          <label class="form-label" for="lastname"> Lastname </label>
                          <!-- Input -->
                          <input type="text" value="Jones" class="form-control" id="lastname" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 mb-3">
                        <!-- Label -->
                        <label class="form-label" for="user_phone"> Phone </label>
                        <!-- Input -->
                        <input class="form-control" type="text" data-inputmask='"mask": "(999)999-9999"' placeholder="(___)___-____" id="user_phone" inputmode="text" />
                      </div>
                      <div class="col-12 col-md-6 mb-3">
                        <!-- Label -->
                        <label class="form-label" for="user_email"> Email </label>
                        <!-- Input -->
                        <input class="form-control" id="user_email" type="email" placeholder="john@doe.com" />
                      </div>
                      <div class="col-12 mb-3">
                        <!-- Label -->
                        <label class="form-label" for="about"> About </label>
                        <!-- Input -->
                        <textarea class="form-control" id="about" type="textarea" rows="5" placeholder=""></textarea>
                      </div>
                    </div>
                    <!-- Profile switches -->
                    <div class="p-3 border rounded mb-2">
                      <div class="row align-items-center">
                        <div class="col-10">
                          <h6>Available for hire</h6>
                          <p class="text-gray-600 m-0">Show you are available for hire & new opportunities on your profile page.</p>
                        </div>
                        <div class="col-2">
                          <div class="form-check form-switch float-end">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch1" checked />
                            <label class="form-check-label" for="switch1"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3 border rounded mb-2">
                      <div class="row align-items-center">
                        <div class="col-10">
                          <h6>Private profile</h6>
                          <p class="text-gray-600 m-0">Hide your profile from search and public pages.</p>
                        </div>
                        <div class="col-2">
                          <div class="form-check form-switch float-end">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch2" checked />
                            <label class="form-check-label" for="switch2"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-3 border rounded mb-4">
                      <div class="row align-items-center">
                        <div class="col-10">
                          <h6>Marketing emails</h6>
                          <p class="text-gray-600 m-0">Sign up for our marketing emails and promotions.</p>
                        </div>
                        <div class="col-2">
                          <div class="form-check form-switch float-end">
                            <input class="form-check-input" type="checkbox" role="switch" id="switch3" />
                            <label class="form-check-label" for="switch3"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-end">
                      <button type="button" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Security -->
              <div class="card bg-white shadow-sm mb-4" id="security">
                <div class="card-header bg-white text-gray-700 fs-6 fw-bold"><i class="me-1 bi-unlock-fill"></i> Security</div>
                <div class="card-body">
                  <div class="mb-2">
                    <label for="edit-pass-pass1">Password </label>
                    <input class="form-control" type="password" id="edit-pass-pass1" name="pass[pass1]" size="25" maxlength="128" />
                  </div>
                  <div class="mb-3">
                    <label for="edit-pass-pass2">Confirm password </label>
                    <input class="form-control" type="password" id="edit-pass-pass2" name="pass[pass2]" size="25" maxlength="128" />
                    <div class="form-text mb-3">To change the current user password, enter the new password in both fields.</div>
                  </div>
                  <label class="fs-6 mb-1">Password strength:</label>
                  <div class="progress mb-4" style="height: 2px">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <!-- Switch -->
                  <div class="p-3 border rounded my-4">
                    <div class="row align-items-center">
                      <div class="col-10">
                        <h6>Enable Two-factor login authentication</h6>
                        <p class="text-gray-600 m-0">
                          Add extra security to your account with SMS or Authenticator protection to your login. <a href="#!">Setup Two-factor authentication</a>.
                        </p>
                      </div>
                      <div class="col-2">
                        <div class="form-check form-switch float-end">
                          <input class="form-check-input" type="checkbox" role="switch" id="switch4" checked />
                          <label class="form-check-label" for="switch4"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-end">
                    <button type="button" class="btn btn-primary">Save Changes</button>
                  </div>
                </div>
              </div>
              <!-- Billing -->
              <div class="card bg-white shadow-sm mb-4" id="billing">
                <div class="card-header bg-white text-gray-700 fs-6 fw-bold"><i class="me-1 bi-credit-card"></i> Billing</div>
                <div class="card-body">
                  <h6>Your subscription</h6>
                  <div class="p-3 border rounded mb-4 d-lg-flex">
                    <div>
                      <h6>Professional - <span class="text-gray-500">$9.99 / month</span></h6>
                      <span class="badge rounded-pill bg-success">Renews on: 2022-01-06</span>
                    </div>
                    <div class="ms-auto mt-3 mt-lg-0">
                      <a href="#!" data-bs-toggle="modal" data-bs-target="#billing-cancel" class="btn btn-outline-danger btn-sm px-1 py-0">Cancel</a>
                      <a href="#!" data-bs-toggle="modal" data-bs-target="#billing-upgrade" class="btn btn-outline-primary btn-sm px-1 py-0">Upgrade</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Notifications -->
              <div class="card bg-white shadow-sm mb-4" id="notifications">
                <div class="card-header bg-white text-gray-700 fs-6 fw-bold"><i class="me-1 bi-bell"></i> Notifications</div>
                <div class="card-body">
                  <div class="p-3 border rounded mb-4">
                    <div class="row align-items-center">
                      <div class="col-10">
                        <h6 class="m-0">Friend request</h6>
                      </div>
                      <div class="col-2">
                        <div class="form-check form-switch float-end">
                          <input class="form-check-input" type="checkbox" role="switch" id="switch5" />
                          <label class="form-check-label" for="switch5"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p-3 border rounded mb-4">
                    <div class="row align-items-center">
                      <div class="col-10">
                        <h6 class="m-0">Private message</h6>
                      </div>
                      <div class="col-2">
                        <div class="form-check form-switch float-end">
                          <input class="form-check-input" type="checkbox" role="switch" id="switch6" />
                          <label class="form-check-label" for="switch6"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="p-3 border rounded mb-4">
                    <div class="row align-items-center">
                      <div class="col-10">
                        <h6 class="m-0">New coments</h6>
                      </div>
                      <div class="col-2">
                        <div class="form-check form-switch float-end">
                          <input class="form-check-input" type="checkbox" role="switch" id="switch7" />
                          <label class="form-check-label" for="switch7"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-end">
                    <button type="button" class="btn btn-primary">Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ========================= Billing modals ========================= -->
          <!-- Billing: cancel -->
          <div class="modal fade" id="billing-cancel" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header align-items-start">
                  <h5 class="modal-title">Are you sure you want to cancel your subscription?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>We're sorry to see you go, please tell us why you want to cancel your subscription?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-outline-danger">Cancel my subscription</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Billing: upgrade -->
          <div class="modal fade" id="billing-upgrade" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header align-items-start">
                  <h5 class="modal-title">Upgrade your subscription?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                      <div class="card mb-4 mb-md-0 rounded-3 shadow-sm opacity-50">
                        <div class="card-header py-3">
                          <h4 class="my-0 fw-normal position-relative">Free</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">
                            $0
                            <small class="text-muted fw-light">/mo</small>
                          </h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                          </ul>
                          <button type="button" class="w-100 btn btn-lg btn-outline-primary disabled">Current Plan</button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card mb-4 mb-md-0 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                          <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">
                            $15
                            <small class="text-muted fw-light">/mo</small>
                          </h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>20 users included</li>
                            <li>10 GB of storage</li>
                            <li>Priority email support</li>
                            <li>Help center access</li>
                          </ul>
                          <button type="button" class="w-100 btn btn-lg btn-primary">Select Plan</button>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card mb-4 mb-md-0 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                          <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                          <h1 class="card-title pricing-card-title">
                            $29
                            <small class="text-muted fw-light">/mo</small>
                          </h1>
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>30 users included</li>
                            <li>15 GB of storage</li>
                            <li>Phone and email support</li>
                            <li>Help center access</li>
                          </ul>
                          <button type="button" class="w-100 btn btn-lg btn-primary">Select Plan</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="{{ 'navbar-side-push py-3 footer'|classMerge(footerClass) }}" data-bs-controller="#navbar-side-primary">
      <div class="container-fluid">
        <div class="row">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-6">
            <ul class="list-inline mb-t mb-2 text-sm">
              <li class="list-inline-item"><a href="#" class="footer-link">Terms</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Privacy</a></li>
              <li class="list-inline-item"><a href="#" class="footer-link">Contact Us</a></li>
            </ul>
            <p class="mb-0 text-sm">{{ siteFooterCopyright }}</p>
          </div>
          <div class="col-md-6 flex-valign">
            <div class="d-flex align-items-center float-md-end ms-md-auto">
              <!--@todo: replace with company social media details-->
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-google-plus-g"></i></a>
              <a href="#top" class="btn btn-dark btn-washed btn-rounded sq-xs p-0" title="Back to top"><i class="fa fa-chevron-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Closure -->
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
