<!-- 
{
  "pageTitle": "Blog Grid",
  "pageKey": "blog-grid",
  "pageActiveTrail": [
    "blog"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Blog Grid | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-5">
          <span>Company <span class="fw-normal text-muted">Blog</span></span>
          <small>We love to talk!</small>
        </h2>

        <div class="row">
          <!--Blog Grid -->
          <div class="col-md-9">
            <div class="blog-roll blog-grid" data-bs-toggle="isotope-grid" data-isotope-options='{"itemSelector": ".grid-item"}'>
              <div class="row">
                <!--Timeline item 1-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                        "
                      >
                        <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">25</span></div>
                      <div class="tags"><a href="#" class="text-primary">culture</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Commodo Eligo Laoreet Nunc Velit</a>
                      </h4>
                      <p class="lh-base">Esca euismod imputo qui saluto secundum typicus usitas ut zelus.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 2-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                        "
                      >
                        <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">23</span></div>
                      <div class="tags"><a href="#" class="text-primary">health</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Augue Cogo Consequat Patria Rusticus</a>
                      </h4>
                      <p class="lh-base">Dignissim dolus euismod incassum interdico jugis laoreet luctus nibh tation.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 3-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                        "
                      >
                        <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">22</span></div>
                      <div class="tags"><a href="#" class="text-primary">design</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Consectetuer Inhibeo Jus Os Pecus</a>
                      </h4>
                      <p class="lh-base">Letalis macto praesent quia tation ullamcorper. Amet duis erat iriure macto nibh os probo validus.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 4-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                        "
                      >
                        <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">21</span></div>
                      <div class="tags"><a href="#" class="text-primary">weather</a> / <a href="#" class="type">slideshow</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Quia Similis Tamen Tincidunt Volutpat</a>
                      </h4>
                      <p class="lh-base">Abbas et ex interdico magna pneum tincidunt valetudo vulpes. Aliquam camur dolus iustum neque pneum populus quidne similis.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 5-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                        "
                      >
                        <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">19</span></div>
                      <div class="tags"><a href="#" class="text-primary">general</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Esse Ex Lobortis Probo Vulpes</a>
                      </h4>
                      <p class="lh-base">Blandit conventio facilisi genitus oppeto tincidunt utinam. At comis lobortis suscipit tego.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 6-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <object width="560" height="315">
                        <param name="movie" value="//www.youtube.com/v/qpWlaOeGZ_4?hl=en_US&amp;version=3&amp;rel=0" />
                        <param name="allowFullScreen" value="true" />
                        <param name="allowscriptaccess" value="always" />
                        <embed
                          src="//www.youtube.com/v/qpWlaOeGZ_4?hl=en_US&amp;version=3&amp;rel=0"
                          type="application/x-shockwave-flash"
                          width="560"
                          height="315"
                          allowscriptaccess="always"
                          allowfullscreen="true"
                        />
                      </object>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">18</span></div>
                      <div class="tags"><a href="#" class="text-primary">culture</a> / <a href="#" class="type">video</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Dignissim Fere Importunus Magna Turpis</a>
                      </h4>
                      <p class="lh-base">Accumsan autem conventio esse metuo nisl nunc usitas vulputate wisi.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 7-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                "
                      >
                        <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">17</span></div>
                      <div class="tags"><a href="#" class="text-primary">culture</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Ad Elit Lobortis Neque Tamen</a>
                      </h4>
                      <p class="lh-base">Consequat gemino jugis letalis occuro odio olim quadrum singularis ymo.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 8-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <iframe
                        width="100%"
                        height="166"
                        scrolling="no"
                        frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129984274&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"
                      ></iframe>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">16</span></div>
                      <div class="tags"><a href="#" class="text-primary">culture</a> / <a href="#" class="type">audio</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Commoveo Genitus Nobis Nutus Saepius</a>
                      </h4>
                      <p class="lh-base">Damnum ibidem natu oppeto quibus si. Aliquip augue esse haero sino typicus velit.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 9-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                "
                      >
                        <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">14</span></div>
                      <div class="tags"><a href="#" class="text-primary">general</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Camur Esse Luctus Turpis Vero</a>
                      </h4>
                      <p class="lh-base">Ad elit gravis occuro pneum. Abico laoreet praemitto sit suscipit utinam ymo.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 10-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                "
                      >
                        <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">13</span></div>
                      <div class="tags"><a href="#" class="text-primary">general</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Dolore Eu Tum Uxor Validus</a>
                      </h4>
                      <p class="lh-base">Capto cui incassum iustum nimis rusticus tamen torqueo veniam. Commodo imputo proprius roto uxor voco wisi.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 11-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                "
                      >
                        <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">12</span></div>
                      <div class="tags"><a href="#" class="text-primary">jobs</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Esse Ex Minim Patria Singularis</a>
                      </h4>
                      <p class="lh-base">Amet dolore exerci hendrerit incassum typicus. Huic pala ut vicis.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>

                <!--Timeline item 12-->
                <div class="col-sm-6 col-md-4 grid-item">
                  <div class="blog-post">
                    <div class="blog-media">
                      <a
                        href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                "
                      >
                        <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                      </a>
                    </div>
                    <div class="mt-4">
                      <div class="date-wrapper date-wrapper-horizontal"><span class="date-m bg-primary">September</span> <span class="date-d">10</span></div>
                      <div class="tags"><a href="#" class="text-primary">weather</a> / <a href="#" class="type">image</a></div>
                      <h4>
                        <a href="#" class="text-decoration-none">Camur Cui Ea Quia Vel</a>
                      </h4>
                      <p class="lh-base">Abluo dignissim neo suscipit. Imputo jus refoveo saluto veniam vulpes.</p>
                      <a href="blog-post.html" class="btn btn-link"><i class="fa fa-arrow-circle-right"></i> Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pagination d-block">
              <button type="button" class="btn btn-secondary btn-lg btn-block">Load More</button>
            </div>
          </div>

          <!--Sidebar-->
          <div class="col-md-3 sidebar-right">
            <!-- @Element: Search form -->
            <form class="bg-light border rounded p-2 mb-5 d-flex align-items-center">
              <input type="search" class="form-control border-0" id="search-field" placeholder="Search" aria-label="Search" />
              <button class="btn btn-primary ms-2" type="button"><i class="bi-search"></i></button>
            </form>
            <!-- @Element: Badge cloud -->
            <h5 class="mb-1">Popular Tags</h5>
            <div class="tag-cloud mb-5">
              <a href="#" class="badge bg-primary text-white me-2 mb-2">culture</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">general</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">coding</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">design</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">weather</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">jobs</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">health</a>
            </div>
            <!-- @Element: Archive -->
            <div class="mb-5">
              <h5 class="mb-1">Archive</h5>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">September 2024</a>
                  <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">40</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">August 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">43</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">July 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">92</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">June 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">80</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">May 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">55</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">April 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">85</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">March 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">43</span>
                </li>
              </ul>
            </div>
            <!-- @Element: Popular/recent tabs -->
            <div class="mb-4">
              <ul class="nav nav-pills mb-1">
                <li class="nav-item"><a href="#popular" class="nav-link active" data-bs-toggle="tab">Popular</a></li>
                <li class="nav-item"><a href="#latest" class="nav-link" data-bs-toggle="tab">Latest</a></li>
              </ul>
              <div class="tab-content border rounded p-3">
                <!-- Popular tab content -->
                <div class="tab-pane fade show active" id="popular">
                  <!-- Popular blog post 1 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Eum Iaceo Neo</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 2 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Ea In Macto</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 3 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Defui Fere Ibidem</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 4 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">At Sed Suscipit</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <!-- Latest tab content -->
                <div class="tab-pane fade" id="latest">
                  <!-- Latest blog post 1 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Distineo Iaceo Ut</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 2 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Persto Refoveo Ulciscor</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 3 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Pneum Quae Sagaciter</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 4 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Acsi Erat Typicus</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- @Element: Subscribe button -->
            <div class="mb-4 text-center">
              <a href="#" class="btn btn-warning text-white"><i class="bi-rss"></i> Subscribe via RSS feed</a>
            </div>
          </div>
        </div>
      </div>
      <!--.container-->
    </div>
    <!--#content-->

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
