<!-- 
{
  "pageTitle": "Blog Left Sidebar",
  "pageKey": "blog-leftbar",
  "pageActiveTrail": [
    "blog"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Blog Left Sidebar | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-5">
          <span>Company <span class="fw-normal text-muted">Blog</span></span>
          <small>We love to talk!</small>
        </h2>
        <div class="row">
          <!--Blog Roll Content-->
          <div class="col-md-9 order-md-2 blog-roll blog-list">
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                    "
                  >
                    <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">health</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">news</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Appellatio Cui Luctus Meus Pneum</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Wed 25th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Tom</a></div>
                </div>
                <p>Dignissim hendrerit laoreet nibh os utinam valde. Adipiscing euismod hos letalis te turpis. Acsi dolore ille neque nunc persto proprius.</p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                    "
                  >
                    <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">jobs</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">podcast</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Dignissim Dolus Eros Rusticus Typicus</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Sun 22nd Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Dave</a></div>
                </div>
                <p>
                  Aliquam cui hendrerit ludus. Comis exerci jumentum letalis melior os. Acsi causa esca facilisi gravis iaceo illum sagaciter. Gilvus hendrerit hos jumentum
                  lobortis.
                </p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                    "
                  >
                    <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">coding</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">feature</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Brevitas Jumentum Proprius Tation Vero</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Sat 21st Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Tom</a></div>
                </div>
                <p>
                  Abigo acsi antehabeo commodo inhibeo pertineo plaga probo quidne. Dolor et luptatum metuo meus ratis valetudo. Consequat duis erat lobortis meus pecus quis refero
                  velit vicis.
                </p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                    "
                  >
                    <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">jobs</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">news</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Accumsan Melior Quia Quidne Venio</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Fri 20th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Erin</a></div>
                </div>
                <p>
                  Abbas jumentum laoreet tation velit. Cogo consectetuer consequat facilisis hendrerit illum molior os rusticus tum. Ad adipiscing conventio esse eum mauris metuo
                  venio.
                </p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                    "
                  >
                    <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">general</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">news</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Caecus Quadrum Sagaciter Sed Volutpat</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Thu 19th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Erin</a></div>
                </div>
                <p>Commodo gravis validus. Abdo eros gemino nulla odio si usitas utrum ymo. Ad dolore elit ex haero lucidus neque nutus tego.</p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <object width="560" height="315">
                    <param name="movie" value="//www.youtube.com/v/qpWlaOeGZ_4?hl=en_US&amp;version=3&amp;rel=0" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowscriptaccess" value="always" />
                    <embed
                      src="//www.youtube.com/v/qpWlaOeGZ_4?hl=en_US&amp;version=3&amp;rel=0"
                      type="application/x-shockwave-flash"
                      width="560"
                      height="315"
                      allowscriptaccess="always"
                      allowfullscreen="true"
                    />
                  </object>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">coding</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">event</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Aliquip Bene Pecus Utinam Vero</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Sun 15th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Erin</a></div>
                </div>
                <p>Dolor eum jumentum neque nulla occuro roto similis tamen. Eros nisl nutus occuro. Cui damnum defui erat importunus iusto os qui si te.</p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                            "
                  >
                    <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">design</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">feature</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Acsi Autem Fere Odio Quibus</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Sat 14th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Erin</a></div>
                </div>
                <p>Iusto mauris patria pecus tincidunt usitas ymo. Damnum immitto magna odio voco. Appellatio eum hos pneum rusticus si tation typicus vulputate.</p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                            "
                  >
                    <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">culture</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">news</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Eligo Esse Obruo Occuro Valde</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Fri 13th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Tom</a></div>
                </div>
                <p>
                  Enim eu eum loquor. Erat hendrerit ille illum interdico iusto. Accumsan autem caecus causa neo nisl quibus tum virtus. Conventio defui et eu inhibeo lucidus nimis
                  nostrud quibus.
                </p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                            "
                  >
                    <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">weather</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">podcast</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Dolor Hendrerit Quidne Suscipere Valde</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Mon 9th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Tom</a></div>
                </div>
                <p>Ea patria saepius tincidunt veniam vereor. At blandit commodo illum nostrud populus praemitto quia vereor ymo. Adipiscing capto nimis sit virtus.</p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <!-- Blog post -->
            <div class="row">
              <div class="col-md-4">
                <div class="blog-media">
                  <a
                    href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                            "
                  >
                    <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                  </a>
                </div>
              </div>
              <div class="col-md-8">
                <div class="hstack gap-2 mb-1">
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">jobs</a>
                  <a href="#" class="badge bg-primary bg-op-1 bg-op-hover-2 text-primary text-decoration-none">feature</a>
                </div>
                <h4 class="fw-bold">
                  <a href="blog-post.html" class="text-gray-800 text-decoration-none">Ad Bene Erat Nunc Pertineo</a>
                </h4>
                <div class="hstack gap-2 text-muted text-sm op-7 mb-2">
                  <div><i class="bi-calendar"></i> Fri 6th Sep 2024</div>
                  <div>By <a href="#" class="op-auto">Tom</a></div>
                </div>
                <p>Blandit commoveo ea et eum lenis melior nimis verto virtus. Comis enim haero magna nibh secundum sudo ymo. Jus nimis quidem sudo utinam.</p>
                <div class="hstack gap-3">
                  <a href="blog-post.html" class="btn btn-primary bg-op-8 btn-sm text-decoration-none d-flex">Read more <i class="bi-arrow-right-short ms-1"></i></a>
                </div>
              </div>
            </div>
            <hr class="my-5 border-dark op-1" />
            <div class="pagination">
              <button type="button" class="btn btn-secondary btn-lg btn-block">Load More</button>
            </div>
          </div>
          <!--Sidebar-->
          <div class="col-md-3 order-md-1 sidebar-left">
            <!-- @Element: Search form -->
            <form class="bg-light border rounded p-2 mb-5 d-flex align-items-center">
              <input type="search" class="form-control border-0" id="search-field" placeholder="Search" aria-label="Search" />
              <button class="btn btn-primary ms-2" type="button"><i class="bi-search"></i></button>
            </form>
            <!-- @Element: Badge cloud -->
            <h5 class="mb-1">Popular Tags</h5>
            <div class="tag-cloud mb-5">
              <a href="#" class="badge bg-primary text-white me-2 mb-2">culture</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">general</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">coding</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">design</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">weather</a> <a href="#" class="badge bg-primary text-white me-2 mb-2">jobs</a>
              <a href="#" class="badge bg-primary text-white me-2 mb-2">health</a>
            </div>
            <!-- @Element: Archive -->
            <div class="mb-5">
              <h5 class="mb-1">Archive</h5>
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">September 2024</a>
                  <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">51</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">August 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">20</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">July 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">36</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">June 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">45</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">May 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">78</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">April 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">39</span>
                </li>
                <li class="d-flex justify-content-between align-items-center mb-1">
                  <a href="#" class="text-decoration-none text-gray-600 text-hover-gray-800">March 2024</a> <span class="badge bg-dark bg-opacity-10 text-dark ms-auto">99</span>
                </li>
              </ul>
            </div>
            <!-- @Element: Popular/recent tabs -->
            <div class="mb-4">
              <ul class="nav nav-pills mb-1">
                <li class="nav-item"><a href="#popular" class="nav-link active" data-bs-toggle="tab">Popular</a></li>
                <li class="nav-item"><a href="#latest" class="nav-link" data-bs-toggle="tab">Latest</a></li>
              </ul>
              <div class="tab-content border rounded p-3">
                <!-- Popular tab content -->
                <div class="tab-pane fade show active" id="popular">
                  <!-- Popular blog post 1 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Dignissim Erat Esse</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 2 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Consequat Tation Velit</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 3 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Abbas Eum Saepius</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Popular blog post 4 -->
                  <div class="row mb-2 gx-3 align-items-center">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6 class="m-0">
                        <a href="#" class="text-decoration-none">Cogo Iaceo Vereor</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <!-- Latest tab content -->
                <div class="tab-pane fade" id="latest">
                  <!-- Latest blog post 1 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Consequat Luctus Ut</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 2 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Sagaciter Torqueo Turpis</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 3 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Nostrud Saluto Sit</a>
                      </h6>
                    </div>
                  </div>
                  <!-- Latest blog post 4 -->
                  <div class="row mb-2 gx-3">
                    <div class="col-3">
                      <div class="blog-media">
                        <a
                          href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                                  "
                        >
                          <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                        </a>
                      </div>
                    </div>
                    <div class="col-9">
                      <h6>
                        <a href="#" class="text-decoration-none">Eros Sit Vulputate</a>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- @Element: Subscribe button -->
            <div class="mb-4 text-center">
              <a href="#" class="btn btn-warning text-white"><i class="bi-rss"></i> Subscribe via RSS feed</a>
            </div>
          </div>
        </div>
      </div>
      <!--.container-->
    </div>
    <!--#content-->

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
