<!-- 
{
  "pageTitle": "Customers",
  "pageKey": "customers",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Customers | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2>
          <span>Our <span class="fw-normal text-muted">Customers</span></span>
          <small>99% of our customers recommend us!</small>
        </h2>
        <h3>Card Grid</h3>
        <div class="row">
          <div class="col-md-3 customer type-design">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 1</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-media">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 2</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-media">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 3</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-web">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 4</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Horizontal cards</h3>
        <div class="row">
          <div class="col-12 col-lg-6">
            <!--Customer 1-->
            <div class="card rounded">
              <div class="row g-0 align-items-stretch">
                <div class="col-4">
                  <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="rounded-start img-fluid py-4" />
                </div>
                <div class="col-8 bg-light d-flex align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#" class="text-gray-800">Customer 1</a>
                    </h5>
                    <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!--Customer 2-->
            <div class="card rounded">
              <div class="row g-0 align-items-stretch">
                <div class="col-4">
                  <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="rounded-start img-fluid py-4" />
                </div>
                <div class="col-8 bg-light d-flex align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#" class="text-gray-800">Customer 2</a>
                    </h5>
                    <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!--Customer 3-->
            <div class="card rounded">
              <div class="row g-0 align-items-stretch">
                <div class="col-4">
                  <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="rounded-start img-fluid py-4" />
                </div>
                <div class="col-8 bg-light d-flex align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#" class="text-gray-800">Customer 3</a>
                    </h5>
                    <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!--Customer 4-->
            <div class="card rounded">
              <div class="row g-0 align-items-stretch">
                <div class="col-4">
                  <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="rounded-start img-fluid py-4" />
                </div>
                <div class="col-8 bg-light d-flex align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#" class="text-gray-800">Customer 4</a>
                    </h5>
                    <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Flat grid</h3>
        <div class="row g-1">
          <div class="col-6 col-lg-3">
            <!--Customer 1-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 2-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 3-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 4-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 5-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 6-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 7-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <!--Customer 8-->
            <div class="bg-light py-2 px-6">
              <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Flat grid invert</h3>
        <div class="bg-light p-1">
          <div class="row g-1">
            <div class="col-6 col-lg-3">
              <!--Customer 1-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 2-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 3-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 4-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 5-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 6-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 7-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <!--Customer 8-->
              <div class="bg-white py-2 px-6">
                <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Filterable Grid</h3>
        <h3>Setup</h3>
        <p>
          To initiate an Isotope grid simply build a normal Bootstrap grid then add the following to the
          <code>.row</code>
          element:
          <code>data-bs-toggle="isotope-grid" data-isotope-options='{ "itemSelector": "GRID-ITEM-SELECTOR"}'</code>
          .
        </p>
        <p>
          <code>GRID-ITEM-SELECTOR</code>
          should be a class that represents the items within the grid, this class should be present on all grid items.
        </p>
        <p>
          <code>data-isotope-options</code>
          allows you to pass all Isotope plugin options available, see <a href="http://isotope.metafizzy.co/">isotope.metafizzy.co</a> for more information.
        </p>
        <p>You can experiment with different grid item widths and even mix and match them as the bottom example shows.</p>
        <h3>Filtering items</h3>
        <p>1. Filters wrapper element requires an ID or unique class</p>
        <p>2. The links also require a data-isotope-fid attribute which contains the class of the items to filter, this should match classes in the isotope items</p>
        <p>3. Lastly your data-bs-toggle="isotope-grid" element needs a data-isotope-filter attribute which is a selector which defines the filter links</p>
        <!-- Filter links -->
        <ul class="nav nav-tabs" id="customers-filter">
          <li class="nav-item"><a href="#" class="nav-link active" data-isotope-fid="*">All Industries</a></li>
          <li class="nav-item"><a href="#" class="nav-link" data-isotope-fid=".type-web">Web</a></li>
          <li class="nav-item"><a href="#" class="nav-link" data-isotope-fid=".type-design">Design</a></li>
          <li class="nav-item"><a href="#" class="nav-link" data-isotope-fid=".type-media">Media</a></li>
        </ul>
        <!--Customers: Example 1-->
        <div class="row" data-bs-toggle="isotope-grid" data-isotope-options='{ "itemSelector": ".customer", "layoutMode": "masonry"}' data-isotope-filter="#customers-filter li a">
          <div class="col-md-3 customer type-web">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 1</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-design">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 2</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-media">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 3</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-web">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 4</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-media">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 5</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-design">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 6</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-media">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 7</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 customer type-media">
            <div class="card rounded mb-4 shadow-sm" data-clickable="http://themelize.me">
              <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="card-img-top img-fluid py-5 d-block" />
              <div class="card-body bg-light">
                <h5 class="card-title">
                  <a href="#" class="text-gray-800">Customer 8</a>
                </h5>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">View case study</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
