<!-- 
{
  "pageTitle": "Cards",
  "pageKey": "elements-cards",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Cards | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Cards</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link active"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Cards-->
            <!--@Element: Cards-->

            <h3>Examples</h3>
            <p>Card are super flexible content containers which can have a header/title, image, content, footers, lists, links and more.</p>
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010041.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Card with image in middle</h3>
                    <h6 class="card-subtitle text-muted">And a subtitle</h6>
                  </div>
                  <img class="img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010062.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <h4 class="card-header">Card with list-group</h4>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-footer">
                    <small class="text-muted">Updated: 24-Sep-Thu</small>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Card content</h3>
            <p>Cards support a huge array of content and define their own helper classes for content.</p>
            <h4>
              <code>.card-body</code>
            </h4>
            <p>
              This class allows you to add padding to either the whole card or blocks of content within a card. This is really useful if some content needs to stretch to the edges
              (like images) and some not (like text).
            </p>
            <h4 class="mt-4">
              <code>.card-header</code>
              +
              <code>.card-footer</code>
            </h4>
            <p>
              These classes apply padding, a background colour and border radias properties to the card header or footer, useful for capping the top &amp; bottom of a card.
              <code>.card-header</code>
              can also be applied directly to an
              <code>h</code>
              badge element to apply a similar effect.
            </p>
            <h4 class="mt-4">
              <code>.card-title</code>
            </h4>
            <p>This simply applies a bottom margin to an item which should be considered the title of the card.</p>
            <h4 class="mt-4">
              <code>.card-text</code>
            </h4>
            <p>
              This applies no effect on default cards and is only used when using the
              <code>.card-inverse</code>
              class (below).
            </p>
            <h4 class="mt-4">
              <code>.card-header-tabs</code>
              +
              <code>.card-header-pills</code>
            </h4>
            <p>These classes should be applied to navigation elements should in the card header.</p>
            <div class="row">
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs float-start">
                      <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                      <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Tabs</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-pills card-header-pills float-start">
                      <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                      <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Pills</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mt-4">
              List groups
              <code>.list-group-flush</code>
            </h4>
            <p>This class allows you to include list groups within cards and have them stretch to the edge of the card.</p>
            <div class="card">
              <h4 class="card-header">List group in card</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">List group item</li>
                <li class="list-group-item">List group item</li>
                <li class="list-group-item">List group item</li>
              </ul>
              <div class="card-body">
                <p class="card-text">Other card content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <div class="card-footer">Something something</div>
            </div>

            <hr class="my-5" />

            <h3>Card images</h3>
            <p>Images can be added to cards either at the top, middle, bottom or even as a background image.</p>
            <div class="row">
              <div class="col-md-6">
                <div class="card mb-3">
                  <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010041.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">Card image top</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3">
                  <div class="card-body">
                    <h4 class="card-title">Card image bottom</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  <img class="card-img-bottom img-fluid" src="./assets/img/backgrounds/picjumbo.com_HNCK4687.jpg" alt="Card image cap" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3">
                  <div class="card-body">
                    <h4 class="card-title mb-0">Card image middle</h4>
                  </div>
                  <img class="card-img img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1000955.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card mb-3">
                  <img class="card-img img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010057.jpg" alt="Card image cap" />
                  <div class="card-img-overlay">
                    <h4 class="card-title">Card image background</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Card Content Alignment</h3>
            <p>
              Cards support the standard <a href="./elements-typography.html">text alignment utilities</a>:
              <code>.text-BREAKPOINT-ALIGN</code>
            </p>
            <div class="card card-body">
              <h4 class="card-title">Default alignment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card card-body text-center">
              <h4 class="card-title">Center alignment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card card-body text-xs-right">
              <h4 class="card-title">Right alignment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <hr class="my-5" />

            <h3>Card Ribbons</h3>
            <p>You can apply a ribbon to the corners on cards which can be useful to highlight a specific card.</p>
            <p class="mb-0">HTML:</p>
            <div class="code-block">
              <div class="code-block-example">
                <div class="card-ribbon card-ribbon-VERTICAL-ALIGN card-ribbon-HORIZONTAL-ALIGN ANY-HELPER-CLASSES">SHORT TEXT</div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre
                  id="code-block-content1"
                ><code>&lt;div class=&quot;card-ribbon card-ribbon-VERTICAL-ALIGN card-ribbon-HORIZONTAL-ALIGN ANY-HELPER-CLASSES&quot;&gt;SHORT TEXT&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <p>
              <code>.card-ribbon-VERTICAL-ALIGN</code>
              can be top or bottom,
              <code>card-ribbon-HORIZONTAL-ALIGN</code>
              can be left or right.
            </p>
            <p>
              You can use the <a href="./elements-colour-utils.html">colour utilities</a> to control the background colour &amp; text colour of the ribbons. NOTE: Ribbons do not
              work with "Cards Columns" below.
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-body text-center">
                  <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                  <h4 class="card-title">Ribbon</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-body text-center">
                  <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-gray">Best Value</div>
                  <h4 class="card-title">Ribbon</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-body text-center">
                  <div class="card-ribbon card-ribbon-bottom card-ribbon-left bg-primary text-white">Popular</div>
                  <h4 class="card-title">Ribbon</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-body text-center">
                  <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-info text-white">Best Value</div>
                  <h4 class="card-title">Ribbon</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Card Styles</h3>
            <h4 class="mt-4">Background colours</h4>
            <p>
              Apply solid background colours to cards, use in conjunction with the
              <code>card-inverse</code>
              or the <a href="./elements-colour-utils.html">text colour utilities</a>.
            </p>
            <div class="card bg-primary text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-primary</h4>
                <blockquote class="card-body quote">
                  <p>Elit inhibeo macto nunc oppeto quis sed te.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-secondary text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-secondary</h4>
                <blockquote class="card-body quote">
                  <p>Ad iaceo ludus. Capto dolor et exputo laoreet secundum similis veniam virtus ymo.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-info text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-info</h4>
                <blockquote class="card-body quote">
                  <p>Dolus facilisis fere ideo iustum. Dolus mauris neo nisl pagus rusticus sudo velit vulputate zelus.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-success text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-success</h4>
                <blockquote class="card-body quote">
                  <p>Distineo dolore ea euismod hendrerit letalis macto mos obruo.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-warning text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-warning</h4>
                <blockquote class="card-body quote">
                  <p>Aptent duis elit esse pala patria suscipere vicis vulpes.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-danger text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-danger</h4>
                <blockquote class="card-body quote">
                  <p>Aptent at causa ibidem molior singularis sudo ut venio.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-dark text-white text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-dark</h4>
                <blockquote class="card-body quote">
                  <p>Damnum gemino jumentum torqueo. Gemino genitus iustum meus nobis obruo pneum saluto tation.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="card bg-light text-center">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h4 class="card-title">.card-light</h4>
                <blockquote class="card-body quote">
                  <p>Abico adipiscing distineo feugiat iustum torqueo turpis typicus.</p>
                  <footer>
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <h4 class="mt-4">Background Shadow</h4>
            <p>
              The
              <code>shadow</code>
              class can be used on cards to give a background shadow effect.
            </p>
            <div class="card card-body text-center shadow">
              <h4 class="card-title">Background Shadow</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <hr class="my-5" />

            <h3>Clickable Cards</h3>
            <p>
              To make a whole element or card clickable to a url, simply add
              <code>data-url="URL"</code>
              and it will make the whole element or card act link a link.
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-body text-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <h4 class="card-title">Clickable card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-body text-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <h4 class="card-title">Clickable card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Cards Grids</h3>
            <p>Cards can be laid out using the grid system built into Bootstrap.</p>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-body text-center">
                  <h4 class="card-title">Card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-body text-center">
                  <h4 class="card-title">Card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-body text-center">
                  <h4 class="card-title">Card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-body text-center">
                  <h4 class="card-title">Card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-body text-center">
                  <h4 class="card-title">Card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-body text-center">
                  <h4 class="card-title">Card</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Cards Groups</h3>
            <p>Groups will force all cards to be displayed on the same row as well as be the same width and height.</p>
            <p>
              Simply wrap your card elements within a
              <code>.card-group</code>
              wrapper like this:
              <br />
              <code>&lt;div class=&quot;card-group&quot;&gt;...cards.....&lt;/div&gt;</code>
            </p>
            <div class="card-group">
              <div class="card">
                <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010041.jpg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010057.jpg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010062.jpg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal
                    height action.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
            <h4 class="mt-4">With aligned footers</h4>
            <p>
              If cards contain
              <code>.card-footer</code>
              elements they will automatically get pulled to the bottom and aligned with the other card footers.
            </p>
            <div class="card-group">
              <div class="card">
                <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010041.jpg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010057.jpg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top img-fluid" src="./assets/img/backgrounds/picjumbo.com_P1010062.jpg" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal
                    height action.
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
