<!-- 
{
  "pageTitle": "Navs",
  "pageKey": "elements-navs",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Navs | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Navs</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link active"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Navs-->
            <!--@Element: Navs-->
            <p>
              This page shows the various navigation components included within the theme which can be used anywhere on the site including tabs, pills, inline navs, breadcrumbs
              &amp; pagination links.
            </p>

            <h3>Base Nav</h3>
            <p>
              All Bootstrap navs follow a similar structure:
              <br />
            </p>
            <ol>
              <li>
                The wrapper uses a base class
                <code>.nav</code>
                which can either be applied to an
                <code>ul</code>
                element or
                <code>nav</code>
                or
                <code>div</code>
                elements.
              </li>
              <li>
                The navigation item uses the class
                <code>.nav-item</code>
                and is applied to the
                <code>li</code>
                elements within list navigations.
              </li>
              <li>
                The navigation link uses the class
                <code>.nav-link</code>
                and is applied to the
                <code>a</code>
                elements within list navigations.
              </li>
            </ol>
            <p>
              Active states are set on the
              <code>.nav-link</code>
              element by adding the class
              <code>.active</code>
              .
              <br />
              Disabled states are set on the
              <code>.nav-link</code>
              element by adding the class
              <code>.disabled</code>
              .
            </p>
            <h4>List navigation</h4>
            <ul class="nav">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <h4 class="mt-4">Nav with links navigation</h4>
            <nav class="nav">
              <a class="nav-link active" href="#">Active</a> <a class="nav-link" href="#">Link</a> <a class="nav-link" href="#">Link</a>
              <a class="nav-link disabled" href="#">Disabled</a>
            </nav>

            <hr class="my-5" />

            <h3>Alignment</h3>
            <p>You can use the <a href="grid-flexbox.html">flexbox</a> utilities to align the alignment of navigation items.</p>
            <h4>
              Center
              <code>.justify-content-center</code>
            </h4>
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <h4 class="mt-4">
              Right
              <code>.justify-content-end</code>
            </h4>
            <ul class="nav justify-content-end">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Tabs</h3>
            <p>
              Add the class
              <code>.nav-tabs</code>
              to the wrapper to force all items to display horizontally in a tab style.
            </p>
            <p>Tabs can use static links or implement tabbable Javascript based tabs, see <a href="./elements-navs-tabbable.html">Tabbable Tabs &amp; Pills</a>.</p>
            <h4>Default</h4>
            <ul class="nav nav-tabs flex-column flex-lg-row">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <h4 class="mt-4">Vertical Tabs</h4>
            <p>
              Add the class
              <code>.flex-column</code>
              to the wrapper to stack items vertically.
            </p>
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Underline</h3>
            <ul class="nav nav-underline">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Pills</h3>
            <h4>Default</h4>
            <ul class="nav nav-pills flex-column flex-lg-row">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <h4 class="mt-4">Vertical Pills</h4>
            <p>
              Add the class
              <code>.flex-column</code>
              to the wrapper to stack items vertically.
            </p>
            <ul class="nav nav-pills flex-column">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Tabs &amp; pills with dropdowns</h3>
            <p>By using a list structure you can include dropdown menus within the tabs or pills:</p>
            <ol>
              <li>
                Add a
                <code>.dropdown</code>
                class to you
                <code>.nav-item</code>
                element.
              </li>
              <li>
                Then add a
                <code>.dropdown-toggle</code>
                class &amp;
                <code>data-bs-toggle="dropdown"</code>
                attribute to your
                <code>.nav-link</code>
                element.
              </li>
              <li>
                Include your structured
                <code>.dropdown-menu</code>
                after your
                <code>.nav-link</code>
                element.
              </li>
            </ol>
            <h4 class="mt-4">Tabs</h4>
            <ul class="nav nav-tabs flex-column flex-lg-row">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <h4 class="mt-4">Pills</h4>
            <ul class="nav nav-pills flex-column flex-lg-row">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Fill and justify navs</h3>
            <p>
              To force nav items to fill the available horizontal space you can use the
              <code>.nav-fill</code>
              and
              <code>.nav-justified</code>
              . They work the same minus
              <code>.nav-justified</code>
              will force all nav items to be the same width.
            </p>
            <h4>Nav Fill</h4>
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Longer nav link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>
            <h4 class="mt-3">Nav Justified</h4>
            <ul class="nav nav-pills nav-justified">
              <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Longer nav link</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Sidebar/Section Menus</h3>
            <div class="row">
              <div class="col-lg-4">
                <h3>Left Side</h3>
                <!-- Sections Menu-->
                <ul class="nav nav-section-menu mb-4 py-3">
                  <li class="nav-header">More Theme Elements</li>
                  <li>
                    <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="elements-icons">
                      <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                      <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                      <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                      <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                      <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                      <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                      <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                    </ul>
                  </li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li>
                    <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-navs.html" class="nav-link active"> Navs <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
                  </li>
                  <li>
                    <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h3>Right Side</h3>
                <!-- Sections Menu-->
                <ul class="nav nav-section-menu nav-section-menu-right mb-4 py-3">
                  <li class="nav-header">More Theme Elements</li>
                  <li>
                    <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-left"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="elements-icons">
                      <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                      <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                      <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                      <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                      <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                      <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                      <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                    </ul>
                  </li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li>
                    <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-navs.html" class="nav-link active"> Navs <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-left"></i> </a>
                  </li>
                  <li>
                    <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-left"></i> </a>
                  </li>
                </ul>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Accordion Sidebar/Section Menus</h3>
            <div class="row">
              <div class="col-lg-4">
                <h3>Left Side</h3>
                <ul class="nav nav-section-menu mb-4 py-3">
                  <li class="nav-header">Collections</li>
                  <li>
                    <a href="#mens" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab first active">
                      Mens
                      <small class="d-inline-block text-xs text-lowercase">(active)</small>
                      <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="nav nav-section-menu collapse show" id="mens">
                      <li><a href="#" class="nav-link">Shoes</a></li>
                      <li><a href="#" class="nav-link">Shirts</a></li>
                      <li><a href="#" class="nav-link">Trousers</a></li>
                      <li><a href="#" class="nav-link">Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Shorts</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#womens" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Womens <i class="fa fa-angle-right"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="womens">
                      <li><a href="#" class="nav-link">Dresses</a></li>
                      <li><a href="#" class="nav-link">Jeans</a></li>
                      <li><a href="#" class="nav-link">Skirts</a></li>
                      <li><a href="#" class="nav-link">Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Shorts</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#childrens" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Childrens <i class="fa fa-angle-right"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="childrens">
                      <li><a href="#" class="nav-link">Shoes</a></li>
                      <li><a href="#" class="nav-link">Sports Wear</a></li>
                      <li><a href="#" class="nav-link">School Clothes</a></li>
                      <li><a href="#" class="nav-link">Trousers</a></li>
                      <li><a href="#" class="nav-link">Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#baby" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Baby <i class="fa fa-angle-right"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="baby">
                      <li><a href="#" class="nav-link">Newborn</a></li>
                      <li><a href="#" class="nav-link">Toddler</a></li>
                      <li><a href="#" class="nav-link">Preschool</a></li>
                      <li><a href="#" class="nav-link">Winter Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                      <li><a href="#" class="nav-link">Trousers</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h3>Right Side</h3>
                <ul class="nav nav-section-menu nav-section-menu-right mb-4 py-3">
                  <li class="nav-header">Collections</li>
                  <li>
                    <a href="#mens-right" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab first active">
                      Mens
                      <small class="d-inline-block text-xs text-lowercase">(active)</small>
                      <i class="fa fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-section-menu collapse show" id="mens-right">
                      <li><a href="#" class="nav-link">Shoes</a></li>
                      <li><a href="#" class="nav-link">Shirts</a></li>
                      <li><a href="#" class="nav-link">Trousers</a></li>
                      <li><a href="#" class="nav-link">Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Shorts</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#womens-right" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Womens <i class="fa fa-angle-left"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="womens-right">
                      <li><a href="#" class="nav-link">Dresses</a></li>
                      <li><a href="#" class="nav-link">Jeans</a></li>
                      <li><a href="#" class="nav-link">Skirts</a></li>
                      <li><a href="#" class="nav-link">Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Shorts</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#childrens-right" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Childrens <i class="fa fa-angle-left"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="childrens-right">
                      <li><a href="#" class="nav-link">Shoes</a></li>
                      <li><a href="#" class="nav-link">Sports Wear</a></li>
                      <li><a href="#" class="nav-link">School Clothes</a></li>
                      <li><a href="#" class="nav-link">Trousers</a></li>
                      <li><a href="#" class="nav-link">Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#baby-right" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Baby <i class="fa fa-angle-left"></i> </a>
                    <ul class="nav nav-section-menu collapse" id="baby-right">
                      <li><a href="#" class="nav-link">Newborn</a></li>
                      <li><a href="#" class="nav-link">Toddler</a></li>
                      <li><a href="#" class="nav-link">Preschool</a></li>
                      <li><a href="#" class="nav-link">Winter Suits</a></li>
                      <li><a href="#" class="nav-link">Jackets</a></li>
                      <li><a href="#" class="nav-link">Sportswear</a></li>
                      <li><a href="#" class="nav-link">Swimwear</a></li>
                      <li><a href="#" class="nav-link">T-shirts</a></li>
                      <li><a href="#" class="nav-link">Trousers</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Breadcrumbs</h3>
            <p>
              Breadcrumb styling can be applied to
              <code>ul</code>
              lists or to links within a wrapper element with the
              <code>.breadcrumb</code>
              class, each item within must have the
              <code>.breadcrumb-item</code>
              class.
            </p>
            <p>
              <code>.active</code>
              class is used to indicate the active breadcrumb item.
            </p>
            <h4>List examples</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Home</li>
            </ol>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Library</li>
            </ol>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active">Data</li>
            </ol>
            <h4 class="mt-4">Links &amp; nav examples</h4>
            <nav class="breadcrumb">
              <a class="breadcrumb-item" href="#">Home</a> <a class="breadcrumb-item" href="#">Library</a> <a class="breadcrumb-item" href="#">Data</a>
              <span class="breadcrumb-item active">Bootstrap</span>
            </nav>

            <hr class="my-5" />

            <h3>Pagination</h3>
            <p>
              Pagination uses a list structure with a
              <code>.pagination</code>
              class on the
              <code>ul</code>
              element and then
              <code>.page-item</code>
              on
              <code>li</code>
              elements and
              <code>.page-link</code>
              on any link elements.
            </p>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="visually-hidden">Previous</span> </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="visually-hidden">Next</span> </a>
                </li>
              </ul>
            </nav>
            <h4 class="mt-4">Simple</h4>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="visually-hidden">Previous</span> </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="visually-hidden">Next</span> </a>
                </li>
              </ul>
            </nav>
            <h4 class="mt-4">Small</h4>
            <nav aria-label="Page navigation">
              <ul class="pagination pagination-sm">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="visually-hidden">Previous</span> </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="visually-hidden">Next</span> </a>
                </li>
              </ul>
            </nav>
            <h4 class="mt-4">Large</h4>
            <nav aria-label="Page navigation">
              <ul class="pagination pagination-lg">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="visually-hidden">Previous</span> </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="visually-hidden">Next</span> </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
