<!-- 
{
  "pageTitle": "Counters",
  "pageKey": "elements-counters",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Counters | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Counters</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link active"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Counters-->
            <!--@Element: Counters-->
            <p>Add nice counters and countdown timers.</p>

            <h3>Counters</h3>
            <p>
              Simply add an
              <code>data-bs-toggle="count-to" data-to="NUMBER-TO" data-from="NUMBER-FROM"</code>
              attribute to any element.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <h2 data-bs-toggle="count-to" data-to="5088767" data-from="0">0</h2>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre id="code-block-content1"><code>&lt;h2 data-bs-toggle=&quot;count-to&quot; data-to=&quot;5088767&quot; data-from=&quot;0&quot;&gt;
  0
&lt;/h2&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <h4 class="mt-4">Count Up</h4>
            <div class="code-block">
              <div class="code-block-example">
                <h2 data-bs-toggle="count-to" data-to="288767" data-from="0">0</h2>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre id="code-block-content2"><code>&lt;h2 data-bs-toggle=&quot;count-to&quot; data-to=&quot;288767&quot; data-from=&quot;0&quot;&gt;
  0
&lt;/h2&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>
            <h4 class="mt-4">Count Down</h4>
            <div class="code-block">
              <div class="code-block-example">
                <h2 data-bs-toggle="count-to" data-to="0" data-from="5088767">5088767</h2>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre id="code-block-content3"><code>&lt;h2 data-bs-toggle=&quot;count-to&quot; data-to=&quot;0&quot; data-from=&quot;5088767&quot;&gt;
  5088767
&lt;/h2&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Timers</h3>
            <p>
              Simply add an
              <code>data-countdown="DATE-TO-COUNTDOWN-TO"</code>
              attribute to any element.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <p>2025 starts in: <span class="countdown fw-bold" data-countdown="2025/01/01 00:00:01"></span></p>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre
                  id="code-block-content4"
                ><code>&lt;p&gt;2025 starts in: &lt;span class=&quot;countdown fw-bold&quot; data-countdown=&quot;2025/01/01 00:00:01&quot;&gt;&lt;/span&gt;&lt;/p&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>
            <h4 class="mt-4">Timer Format</h4>
            <p>
              By passing a
              <code>data-countdown-format='DATE-FORMAT'</code>
              you can control the output of the timer, you can even include HTML.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <p>2025 starts in <span class="countdown fw-bold" data-countdown="2025/01/01 00:00:01" data-countdown-format="'%-D"></span> time.</p>
              </div>
              <div class="code-block-code collapse show" id="code-block-5">
                <pre
                  id="code-block-content5"
                ><code>&lt;p&gt;2025 starts in &lt;span class=&quot;countdown fw-bold&quot; data-countdown=&quot;2025/01/01 00:00:01&quot; data-countdown-format=&quot;&#039;%-D&quot;&gt;&lt;/span&gt; time.&lt;/p&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-5"
                >
                  copy code
                </button>
              </div>
            </div>
            <h5 class="mt-4">Formats</h5>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Directive (01, 02, 03, .., 10)</th>
                  <th>Blank-padded (1, 2, 3, .., 10)</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>%Y</code>
                  </td>
                  <td>
                    <code>%-Y</code>
                  </td>
                  <td>Years left *</td>
                </tr>
                <tr>
                  <td>
                    <code>%m</code>
                  </td>
                  <td>
                    <code>%-m</code>
                  </td>
                  <td>Months left *</td>
                </tr>
                <tr>
                  <td>
                    <code>%n</code>
                  </td>
                  <td>
                    <code>%-n</code>
                  </td>
                  <td>Days left until the next complete month *</td>
                </tr>
                <tr>
                  <td>
                    <code>%w</code>
                  </td>
                  <td>
                    <code>%-w</code>
                  </td>
                  <td>Weeks left</td>
                </tr>
                <tr>
                  <td>
                    <code>%W</code>
                  </td>
                  <td>
                    <code>%-W</code>
                  </td>
                  <td>Weeks left until the next complete month *</td>
                </tr>
                <tr>
                  <td>
                    <code>%d</code>
                  </td>
                  <td>
                    <code>%-d</code>
                  </td>
                  <td>Days left (taking away weeks)</td>
                </tr>
                <tr>
                  <td>
                    <code>%H</code>
                  </td>
                  <td>
                    <code>%-H</code>
                  </td>
                  <td>Hours left</td>
                </tr>
                <tr>
                  <td>
                    <code>%M</code>
                  </td>
                  <td>
                    <code>%-M</code>
                  </td>
                  <td>Minutes left</td>
                </tr>
                <tr>
                  <td>
                    <code>%S</code>
                  </td>
                  <td>
                    <code>%-S</code>
                  </td>
                  <td>Seconds left</td>
                </tr>
                <tr>
                  <td>
                    <code>%D</code>
                  </td>
                  <td>
                    <code>%-D</code>
                  </td>
                  <td>Total count of days till the end</td>
                </tr>
                <tr>
                  <td>
                    <code>%I</code>
                  </td>
                  <td>
                    <code>%-I</code>
                  </td>
                  <td>Total count of hours thill the end</td>
                </tr>
                <tr>
                  <td>
                    <code>%N</code>
                  </td>
                  <td>
                    <code>%-N</code>
                  </td>
                  <td>Total count of minutes till the end</td>
                </tr>
                <tr>
                  <td>
                    <code>%T</code>
                  </td>
                  <td>
                    <code>%-T</code>
                  </td>
                  <td>Total count of seconds till the end</td>
                </tr>
              </tbody>
            </table>
            <h5 class="mt-4">Plurals</h5>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Directive</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <code>%!H</code>
                  </td>
                  <td>Return <strong>s</strong> when the hour is different than 1</td>
                </tr>
                <tr>
                  <td>
                    <code>%!S:plural;</code>
                  </td>
                  <td>Return <strong>plural</strong> when seconds if different than 1</td>
                </tr>
                <tr>
                  <td>
                    <code>%!d:singular,plural;</code>
                  </td>
                  <td>Return <strong>singular</strong> when day is 1 and <strong>plural</strong> otherwise</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
