<!-- 
{
  "pageTitle": "Social Media Branding",
  "pageKey": "elements-social-media",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Social Media Branding | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Social Media Branding</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link active"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Social Media Branding-->
            <!--@Element: Social Media Branding-->
            <p>Display links &amp; buttons for your favourite social media sites using these social media brand classes.</p>
            <!-- Backgrounds -->
            <h3>Background colours</h3>
            <div class="bg-brand-facebook p-2 text-white mb-1">.bg-brand-facebook</div>
            <div class="bg-brand-twitter p-2 text-white mb-1">.bg-brand-twitter</div>
            <div class="bg-brand-google-plus p-2 text-white mb-1">.bg-brand-google-plus</div>
            <div class="bg-brand-linkedin p-2 text-white mb-1">.bg-brand-linkedin</div>
            <div class="bg-brand-youtube p-2 text-white mb-1">.bg-brand-youtube</div>
            <div class="bg-brand-instagram p-2 text-white mb-1">.bg-brand-instagram</div>
            <div class="bg-brand-pinterest p-2 text-white mb-1">.bg-brand-pinterest</div>
            <div class="bg-brand-flickr p-2 text-white mb-1">.bg-brand-flickr</div>
            <div class="bg-brand-tumblr p-2 text-white mb-1">.bg-brand-tumblr</div>
            <div class="bg-brand-foursquare p-2 text-white mb-1">.bg-brand-foursquare</div>
            <div class="bg-brand-dribbble p-2 text-white mb-1">.bg-brand-dribbble</div>
            <div class="bg-brand-vine p-2 text-white mb-1">.bg-brand-vine</div>
            <div class="bg-brand-behance p-2 text-white mb-1">.bg-brand-behance</div>
            <div class="bg-brand-github p-2 text-white mb-1">.bg-brand-github</div>
            <div class="bg-brand-skype p-2 text-white mb-1">.bg-brand-skype</div>
            <div class="bg-brand-snapchat p-2 text-white mb-1">.bg-brand-snapchat</div>
            <div class="bg-brand-whatsapp p-2 text-white mb-1">.bg-brand-whatsapp</div>
            <!-- Hover backgrounds -->
            <h3 class="mt-4">Hover background colours</h3>
            <div class="bg-dark bg-hover-brand-facebook p-2 text-white mb-1">.bg-hover-brand-facebook</div>
            <div class="bg-dark bg-hover-brand-twitter p-2 text-white mb-1">.bg-hover-brand-twitter</div>
            <div class="bg-dark bg-hover-brand-google-plus p-2 text-white mb-1">.bg-hover-brand-google-plus</div>
            <div class="bg-dark bg-hover-brand-linkedin p-2 text-white mb-1">.bg-hover-brand-linkedin</div>
            <div class="bg-dark bg-hover-brand-youtube p-2 text-white mb-1">.bg-hover-brand-youtube</div>
            <div class="bg-dark bg-hover-brand-instagram p-2 text-white mb-1">.bg-hover-brand-instagram</div>
            <div class="bg-dark bg-hover-brand-pinterest p-2 text-white mb-1">.bg-hover-brand-pinterest</div>
            <div class="bg-dark bg-hover-brand-flickr p-2 text-white mb-1">.bg-hover-brand-flickr</div>
            <div class="bg-dark bg-hover-brand-tumblr p-2 text-white mb-1">.bg-hover-brand-tumblr</div>
            <div class="bg-dark bg-hover-brand-foursquare p-2 text-white mb-1">.bg-hover-brand-foursquare</div>
            <div class="bg-dark bg-hover-brand-dribbble p-2 text-white mb-1">.bg-hover-brand-dribbble</div>
            <div class="bg-dark bg-hover-brand-vine p-2 text-white mb-1">.bg-hover-brand-vine</div>
            <div class="bg-dark bg-hover-brand-behance p-2 text-white mb-1">.bg-hover-brand-behance</div>
            <div class="bg-dark bg-hover-brand-github p-2 text-white mb-1">.bg-hover-brand-github</div>
            <div class="bg-dark bg-hover-brand-skype p-2 text-white mb-1">.bg-hover-brand-skype</div>
            <div class="bg-dark bg-hover-brand-snapchat p-2 text-white mb-1">.bg-hover-brand-snapchat</div>
            <div class="bg-dark bg-hover-brand-whatsapp p-2 text-white mb-1">.bg-hover-brand-whatsapp</div>
            <hr class="my-3" />
            <!-- Text colours -->
            <h3 class="mt-4">Text colours</h3>
            <p class="text-brand-facebook mb-1 fw-bold">.text-brand-facebook</p>
            <p class="text-brand-twitter mb-1 fw-bold">.text-brand-twitter</p>
            <p class="text-brand-google-plus mb-1 fw-bold">.text-brand-google-plus</p>
            <p class="text-brand-linkedin mb-1 fw-bold">.text-brand-linkedin</p>
            <p class="text-brand-youtube mb-1 fw-bold">.text-brand-youtube</p>
            <p class="text-brand-instagram mb-1 fw-bold">.text-brand-instagram</p>
            <p class="text-brand-pinterest mb-1 fw-bold">.text-brand-pinterest</p>
            <p class="text-brand-flickr mb-1 fw-bold">.text-brand-flickr</p>
            <p class="text-brand-tumblr mb-1 fw-bold">.text-brand-tumblr</p>
            <p class="text-brand-foursquare mb-1 fw-bold">.text-brand-foursquare</p>
            <p class="text-brand-dribbble mb-1 fw-bold">.text-brand-dribbble</p>
            <p class="text-brand-vine mb-1 fw-bold">.text-brand-vine</p>
            <p class="text-brand-behance mb-1 fw-bold">.text-brand-behance</p>
            <p class="text-brand-github mb-1 fw-bold">.text-brand-github</p>
            <p class="text-brand-skype mb-1 fw-bold">.text-brand-skype</p>
            <p class="text-brand-snapchat mb-1 fw-bold">.text-brand-snapchat</p>
            <p class="text-brand-whatsapp mb-1 fw-bold">.text-brand-whatsapp</p>
            <!-- Text hover colours -->
            <h3 class="mt-4">Text hover colours</h3>
            <a href="#" class="text-dark text-hover-brand-facebook mb-1 fw-bold d-block"> .text-hover-brand-facebook </a>
            <a href="#" class="text-dark text-hover-brand-twitter mb-1 fw-bold d-block"> .text-hover-brand-twitter </a>
            <a href="#" class="text-dark text-hover-brand-google-plus mb-1 fw-bold d-block"> .text-hover-brand-google-plus </a>
            <a href="#" class="text-dark text-hover-brand-linkedin mb-1 fw-bold d-block"> .text-hover-brand-linkedin </a>
            <a href="#" class="text-dark text-hover-brand-youtube mb-1 fw-bold d-block"> .text-hover-brand-youtube </a>
            <a href="#" class="text-dark text-hover-brand-instagram mb-1 fw-bold d-block"> .text-hover-brand-instagram </a>
            <a href="#" class="text-dark text-hover-brand-pinterest mb-1 fw-bold d-block"> .text-hover-brand-pinterest </a>
            <a href="#" class="text-dark text-hover-brand-flickr mb-1 fw-bold d-block"> .text-hover-brand-flickr </a>
            <a href="#" class="text-dark text-hover-brand-tumblr mb-1 fw-bold d-block"> .text-hover-brand-tumblr </a>
            <a href="#" class="text-dark text-hover-brand-foursquare mb-1 fw-bold d-block"> .text-hover-brand-foursquare </a>
            <a href="#" class="text-dark text-hover-brand-dribbble mb-1 fw-bold d-block"> .text-hover-brand-dribbble </a>
            <a href="#" class="text-dark text-hover-brand-vine mb-1 fw-bold d-block"> .text-hover-brand-vine </a>
            <a href="#" class="text-dark text-hover-brand-behance mb-1 fw-bold d-block"> .text-hover-brand-behance </a>
            <a href="#" class="text-dark text-hover-brand-github mb-1 fw-bold d-block"> .text-hover-brand-github </a>
            <a href="#" class="text-dark text-hover-brand-skype mb-1 fw-bold d-block"> .text-hover-brand-skype </a>
            <a href="#" class="text-dark text-hover-brand-snapchat mb-1 fw-bold d-block"> .text-hover-brand-snapchat </a>
            <a href="#" class="text-dark text-hover-brand-whatsapp mb-1 fw-bold d-block"> .text-hover-brand-whatsapp </a>
            <hr class="my-3" />
            <!-- As links -->
            <h3 class="mt-4">Link buttons</h3>
            <a href="#" class="d-inline-block bg-brand-facebook p-2 text-white mb-1"> .bg-brand-facebook </a>
            <a href="#" class="d-inline-block bg-brand-twitter p-2 text-white mb-1"> .bg-brand-twitter </a>
            <a href="#" class="d-inline-block bg-brand-google-plus p-2 text-white mb-1"> .bg-brand-google-plus </a>
            <a href="#" class="d-inline-block bg-brand-linkedin p-2 text-white mb-1"> .bg-brand-linkedin </a>
            <a href="#" class="d-inline-block bg-brand-youtube p-2 text-white mb-1"> .bg-brand-youtube </a>
            <a href="#" class="d-inline-block bg-brand-instagram p-2 text-white mb-1"> .bg-brand-instagram </a>
            <a href="#" class="d-inline-block bg-brand-pinterest p-2 text-white mb-1"> .bg-brand-pinterest </a>
            <a href="#" class="d-inline-block bg-brand-flickr p-2 text-white mb-1"> .bg-brand-flickr </a>
            <a href="#" class="d-inline-block bg-brand-tumblr p-2 text-white mb-1"> .bg-brand-tumblr </a>
            <a href="#" class="d-inline-block bg-brand-foursquare p-2 text-white mb-1"> .bg-brand-foursquare </a>
            <a href="#" class="d-inline-block bg-brand-dribbble p-2 text-white mb-1"> .bg-brand-dribbble </a>
            <a href="#" class="d-inline-block bg-brand-vine p-2 text-white mb-1"> .bg-brand-vine </a>
            <a href="#" class="d-inline-block bg-brand-behance p-2 text-white mb-1"> .bg-brand-behance </a>
            <a href="#" class="d-inline-block bg-brand-github p-2 text-white mb-1"> .bg-brand-github </a>
            <a href="#" class="d-inline-block bg-brand-skype p-2 text-white mb-1"> .bg-brand-skype </a>
            <a href="#" class="d-inline-block bg-brand-snapchat p-2 text-white mb-1"> .bg-brand-snapchat </a>
            <a href="#" class="d-inline-block bg-brand-whatsapp p-2 text-white mb-1"> .bg-brand-whatsapp </a>
            <hr class="my-3" />
            <!-- Examples -->
            <h3 class="mt-4">Examples</h3>
            <h4>Share block</h4>
            <div class="nav">
              <a href="#" class="nav-link bg-brand-twitter text-white text-center py-4 flex-ew">
                <i class="fab fa-twitter icon-1x"></i> <span class="visually-hidden">Twitter</span> <span class="d-block text-xs">257</span>
              </a>
              <a href="#" class="nav-link bg-brand-facebook text-white text-center py-4 flex-ew">
                <i class="fab fa-facebook-f icon-1x"></i> <span class="visually-hidden">Facebook</span> <span class="d-block text-xs">1221</span>
              </a>
              <a href="#" class="nav-link bg-brand-linkedin text-white text-center py-4 flex-ew">
                <i class="fab fa-linkedin-in icon-1x"></i> <span class="visually-hidden">Linkedin</span> <span class="d-block text-xs">1202</span>
              </a>
              <a href="#" class="nav-link bg-brand-google-plus text-white text-center py-4 flex-ew">
                <i class="fab fa-google-plus-g icon-1x"></i> <span class="visually-hidden">Google plus</span> <span class="d-block text-xs">1219</span>
              </a>
            </div>
            <h4 class="mt-5">Share icons with hover colours</h4>
            <div class="nav">
              <a href="#" class="nav-link text-dark text-hover-brand-twitter text-center">
                <i class="fab fa-twitter icon-2x"></i> <span class="visually-hidden">Twitter</span> <span class="d-block text-xs">812</span>
              </a>
              <a href="#" class="nav-link text-dark text-hover-brand-facebook text-center">
                <i class="fab fa-facebook icon-2x"></i> <span class="visually-hidden">Facebook</span> <span class="d-block text-xs">3772</span>
              </a>
              <a href="#" class="nav-link text-dark text-hover-brand-linkedin text-center">
                <i class="fab fa-linkedin icon-2x"></i> <span class="visually-hidden">Linkedin</span> <span class="d-block text-xs">278</span>
              </a>
              <a href="#" class="nav-link text-dark text-hover-brand-google-plus text-center">
                <i class="fab fa-google-plus icon-2x"></i> <span class="visually-hidden">Google plus</span> <span class="d-block text-xs">3244</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
