<!-- 
{
  "pageTitle": "Video Blocks",
  "pageKey": "elements-video-blocks",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Video Blocks | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Video Blocks</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link active"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Video Blocks-->
            <!--@Element: Video Blocks-->
            <p>Grab attention with these stunning video background blocks.</p>

            <h3>Setup</h3>
            <p>
              Add background video to any
              <code>div</code>
              by adding an
              <code>data-bg-video="PATH-TO-VIDEO"</code>
              attribute to a
              <code>div</code>
              element. You can pass optional settings via a
              <code>data-settings='{JS-OBJECT}'</code>
              attribute as well.
            </p>

            <hr class="my-5" />

            <h3>Examples</h3>
            <!-- Video example 1 -->
            <div class="p-4 bg-light text-center" data-bg-video="./assets/videos/night.mp4" data-settings='{"position":"50% 50%"}'>
              <h2 class="text-white">Video Background Rule!</h2>
              <p class="text-white">wow wow wow this is nice!</p>
            </div>
            <!-- Video example 2 -->
            <div class="p-5 bg-light mt-4" data-bg-video="./assets/videos/cloud.mp4">
              <div class="row py-5">
                <div class="col-md-3 text-md-end"><i class="fa fa-thumbs-up text-white icon-8x mt-4"></i></div>
                <div class="col-md-9">
                  <h2 class="text-white display-3">Video Background Rule!</h2>
                </div>
              </div>
            </div>
            <!-- Video example 3 -->
            <div class="p-5 bg-light text-center mt-4" data-bg-video="./assets/videos/bubbles.mp4">
              <h2 class="text-white">Video Background Rule!</h2>
              <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-lg btn-primary mt-4">Get Bubbles!</a>
            </div>

            <hr class="my-5" />

            <h3>Options</h3>
            <p>
              Options can be passed by adding a
              <code>data-settings="{OBJECT}"</code>
              attribute.
              <br />
              Example:
              <code>data-settings='{"position":"50% 50%", "autoplay":false}'</code>
            </p>
            <hr class="my-1" />
            <h4>volume</h4>
            <p>
              Default:
              <code>1</code>
            </p>
            <p>Video volume setting.</p>
            <hr />
            <h4>playbackRate</h4>
            <p>
              Default:
              <code>1</code>
            </p>
            <p>Video playback rate/speed.</p>
            <hr />
            <h4>muted</h4>
            <p>
              Default:
              <code>true</code>
            </p>
            <p>Whether the video should be muted.</p>
            <hr />
            <h4>loop</h4>
            <p>
              Default:
              <code>true</code>
            </p>
            <p>Whether the video should loop.</p>
            <hr />
            <h4>autplay</h4>
            <p>
              Default:
              <code>true</code>
            </p>
            <p>Whether the video should autoplay on load.</p>
            <hr />
            <h4>muted</h4>
            <p>
              Default:
              <code>'50% 50%'</code>
            </p>
            <p>Position the video, similar to the CSS background-position property.</p>
            <hr />
            <h4>posterType</h4>
            <p>
              Default:
              <code>'detect'</code>
            </p>
            <p>Poster image type. "detect" - auto-detection; "none" - no poster; "jpg", "png", "gif",... - extensions.</p>
            <hr />
            <h4>resizing</h4>
            <p>
              Default:
              <code>true</code>
            </p>
            <p>Autoresize video to fit.</p>
            <hr />
            <h4>bgColor</h4>
            <p>
              Default:
              <code>'transparent'</code>
            </p>
            <p>Set the background colour behind the video.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
