<!-- 
{
  "pageTitle": "Dropdowns",
  "pageKey": "elements-dropdowns",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Dropdowns | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Dropdowns</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link active"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Dropdowns-->
            <!--@Element: Dropdowns-->

            <h3>Setup</h3>
            <p>
              Dropdown functionality can be added to both
              <code>a</code>
              and
              <code>button</code>
              elements which have the
              <code>.btn</code>
              class.
            </p>
            <h4>Single Button</h4>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <hr />
            <h4>Single Link</h4>
            <div class="dropdown">
              <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Dropdown Mega Menus</h3>
            <p>
              Apply "mega menu" functionality by adding the class
              <code>.dropdown-mega-menu</code>
              to the parent of the
              <code>.dropdown-toggle</code>
              elements. You can use grid classes to layout the mega menu content.
            </p>
            <div class="dropdown-mega-menu d-inline-block">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Dropdown mega menu</button>
              <div class="dropdown-menu dropdown-menu-default">
                <div class="row">
                  <div class="col-md-4">
                    <a href="elements-alerts.html" class="dropdown-item">Alerts</a> <a href="elements-animation.html" class="dropdown-item">Animations</a>
                    <a href="elements-avatars.html" class="dropdown-item">Avatars</a> <a href="elements-badges.html" class="dropdown-item">Badges</a>
                    <a href="elements-button-groups.html" class="dropdown-item">Button Groups</a> <a href="elements-buttons.html" class="dropdown-item">Buttons</a>
                    <a href="elements-cards.html" class="dropdown-item">Cards</a> <a href="elements-carousels.html" class="dropdown-item">Carousels</a>
                    <a href="elements-collapse.html" class="dropdown-item">Collapse / Accordions</a> <a href="elements-colour-utils.html" class="dropdown-item">Colours Utils</a>
                    <a href="elements-cookie-banners.html" class="dropdown-item">Cookie Banners</a> <a href="elements-counters.html" class="dropdown-item">Counters</a>
                    <a href="elements-ctas.html" class="dropdown-item">Call To Action Blocks</a> <a href="elements-dividers.html" class="dropdown-item">Dividers</a>
                    <a href="elements-dropdowns.html" class="dropdown-item">Dropdowns</a>
                  </div>
                  <div class="col-md-4">
                    <a href="elements-forms.html" class="dropdown-item">Forms</a> <a href="elements-forms-input-groups.html" class="dropdown-item">Forms Input Groups</a>
                    <a href="elements-icons.html" class="dropdown-item">Icons</a> <a href="elements-icons-bootstrap-icons.html" class="dropdown-item">Icons: Bootstrap</a>
                    <a href="elements-icons-flags.html" class="dropdown-item">Icons: Flags</a>
                    <a href="elements-icons-fontawesome.html" class="dropdown-item">Icons: Font Awesome</a>
                    <a href="elements-icons-ionicons.html" class="dropdown-item">Icons: Ionicons</a>
                    <a href="elements-icons-linearicons.html" class="dropdown-item">Icons: Linearicons</a>
                    <a href="elements-icons-lineawesome.html" class="dropdown-item">Icons: Line Awesome</a>
                    <a href="elements-list-groups.html" class="dropdown-item">List Groups</a> <a href="elements-modals.html" class="dropdown-item">Modals</a>
                    <a href="elements-modals-onload.html" class="dropdown-item">Modals Onload</a> <a href="elements-navs.html" class="dropdown-item">Navs</a>
                    <a href="elements-navs-tabbable.html" class="dropdown-item">Tabbable Navs</a> <a href="elements-overlays.html" class="dropdown-item">Overlays</a>
                  </div>
                  <div class="col-md-4">
                    <a href="elements-progressbars.html" class="dropdown-item">Progress Bars</a> <a href="elements-select-pickers.html" class="dropdown-item">Select Picker</a>
                    <a href="elements-shadows.html" class="dropdown-item">Shadows</a> <a href="elements-social-media.html" class="dropdown-item">Social Media Branding</a>
                    <a href="elements-spacers.html" class="dropdown-item">Spacers</a> <a href="elements-spinners.html" class="dropdown-item">Spinners</a>
                    <a href="elements-tables.html" class="dropdown-item">Tables</a> <a href="elements-toasts.html" class="dropdown-item">Toasts</a>
                    <a href="elements-tooltips-popovers.html" class="dropdown-item">Tooltips & Popovers</a>
                    <a href="elements-type-effect.html" class="dropdown-item">Type Effect</a> <a href="elements-typography.html" class="dropdown-item">Typography</a>
                    <a href="elements-utils.html" class="dropdown-item">Utilities</a> <a href="elements-video-blocks.html" class="dropdown-item">Video Blocks</a>
                    <a href="page-titles.html" class="dropdown-item">Page Titles</a>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Dropdown Alignment</h3>
            <p>
              Add
              <code>.dropdown-menu-BREAKPOINT-(start|end|auto)</code>
              to a
              <code>.dropdown-menu</code>
              to right align the dropdown menu.
            </p>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Right-aligned menu example</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <button class="dropdown-item" type="button">Action</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">Another action</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">Something else here</button>
                </li>
              </ul>
            </div>

            <hr class="my-5" />

            <h3>Dropdown elements &amp; styles</h3>
            <div class="row row-cols-1 row-cols-lg-2 g-4">
              <div class="col" data-bs-theme="light">
                <div class="dropdown-menu show position-relative z-0 dropdown-menu-light" style="max-width: 300px">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="#">Active link</a>
                </div>
              </div>
              <div class="col" data-bs-theme="light">
                <div class="dropdown-menu show position-relative z-0 dropdown-menu-light" style="max-width: 300px">
                  <h6 class="dropdown-header">Dropdown with icons</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="bi-battery-charging"></i> Action</a>
                  <a class="dropdown-item active" href="#"><i class="bi-arrow-clockwise"></i> Another action</a>
                  <a class="dropdown-item" href="#"><i class="bi-bar-chart-line"></i> Something else here</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Account</h6>
                  <a class="dropdown-item" href="#"><i class="bi-lock"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="bi-key"></i> Settings</a>
                  <a class="dropdown-item position-relative" href="#"
                    ><i class="bi-mailbox"></i> Inbox
                    <span class="d-block position-absolute top-0 start-0 ms-2 mt-2 w-5px h-5px rounded-circle bg-success animate-pulse-dark"></span
                  ></a>
                </div>
              </div>
              <div class="col" data-bs-theme="dark">
                <div class="dropdown-menu show position-relative z-0 dropdown-menu-dark" style="max-width: 300px">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="#">Active link</a>
                </div>
              </div>
              <div class="col" data-bs-theme="dark">
                <div class="dropdown-menu show position-relative z-0 dropdown-menu-dark" style="max-width: 300px">
                  <h6 class="dropdown-header">Dropdown with icons</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="bi-battery-charging"></i> Action</a>
                  <a class="dropdown-item active" href="#"><i class="bi-arrow-clockwise"></i> Another action</a>
                  <a class="dropdown-item" href="#"><i class="bi-bar-chart-line"></i> Something else here</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Account</h6>
                  <a class="dropdown-item" href="#"><i class="bi-lock"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="bi-key"></i> Settings</a>
                  <a class="dropdown-item position-relative" href="#"
                    ><i class="bi-mailbox"></i> Inbox
                    <span class="d-block position-absolute top-0 start-0 ms-2 mt-2 w-5px h-5px rounded-circle bg-success animate-pulse-light"></span
                  ></a>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Dropdown Size</h3>
            <div class="clearfix">
              <div class="dropdown float-md-start me-3">
                <h5>Small</h5>
                <div class="dropdown-menu dropdown-menu-sm show position-relative z-0" aria-labelledby="dropdownMenuLink">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="#">Active link</a>
                </div>
              </div>
              <div class="dropdown float-md-start me-3">
                <h5>Default</h5>
                <div class="dropdown-menu show position-relative z-0" aria-labelledby="dropdownMenuLink">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="#">Active link</a>
                </div>
              </div>
              <div class="dropdown float-md-start me-3">
                <h5>Large</h5>
                <div class="dropdown-menu dropdown-menu-lg show position-relative z-0" aria-labelledby="dropdownMenuLink">
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active" href="#">Active link</a>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Dropdown On Hover</h3>
            <p>
              To make dropdown menus show on hover instead of click simply add the class
              <code>dropdown-hover-BREAKPOINT</code>
              to your
              <code>.dropdown</code>
              elements and add
              <code>data-bs-hover="dropdown"</code>
              to your
              <code>data-bs-toggle="dropdown"</code>
              element.
            </p>
            <div class="dropdown dropdown-hover d-inline-block">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-hover="dropdown">Dropdown hover persistent</button>
              <div class="dropdown-menu">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
            <div class="dropdown dropdown-hover-lg mt-5 d-inline-block">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-hover="dropdown">Dropdown hover large screen up</button>
              <div class="dropdown-menu">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
