<!-- 
{
  "pageTitle": "List Groups",
  "pageKey": "elements-list-groups",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>List Groups | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">List Groups</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link active"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: List Groups-->
            <!--@Element: List Groups-->
            <h3>Examples</h3>
            <p>List groups allow the display of simple lists and more complex content in a bold and eye catching manner.</p>
            <p>
              They can be applied to lists or divs containing link or button elements. A wrapper element with the class
              <code>list-group</code>
              is required and each list item within the wrapper requires a
              <code>list-group-item</code>
              class.
            </p>
            <h4>
              List items
              <code>ul</code>
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <h4 class="mt-4">
              Numbered list
              <code>ol</code>
            </h4>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Cras justo odio</li>
            </ol>
            <h4 class="mt-4">
              On a
              <code>div</code>
              with links
            </h4>
            <div class="list-group">
              <a href="#" class="list-group-item disabled"> Cras justo odio </a> <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a> <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
            <h4 class="mt-4">
              Horizontal
              <code>list-group-horizontal</code>
            </h4>
            <ul class="list-group list-group-horizontal mb-1">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm mb-1">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <ul class="list-group list-group-horizontal-md mb-1">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <h4 class="mt-4">With checkboxes</h4>
            <div class="list-group">
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" />
                First checkbox
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" />
                Second checkbox
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" />
                Third checkbox
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" />
                Fourth checkbox
              </label>
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" />
                Fifth checkbox
              </label>
            </div>

            <hr class="my-5" />

            <h3>Active &amp; disabled items</h3>
            <p>
              <code>.active</code>
              and
              <code>.disabled</code>
              classes can be applied to
              <code>list-group-item</code>
              items to alter their appearance when in those states.
            </p>
            <div class="list-group mb-1">
              <a href="#" class="list-group-item disabled">Disabled link</a> <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a> <a href="#" class="list-group-item list-group-item-action">list-group-item-action Item</a>
              <a href="#" class="list-group-item active">Active link</a>
            </div>
            <p>
              <code>list-group-item-action</code>
              class can also be applied to
              <code>list-group-item</code>
              items to alter their appearance slightly so they look more like buttons.
            </p>

            <hr class="my-5" />

            <h3>Flush</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
              <li class="list-group-item">And a fifth one</li>
            </ul>

            <hr class="my-5" />

            <h3>With badges</h3>
            <p>
              You can include "badge" components within the
              <code>list-group-item</code>
              elements to indicate counters or highlight an item.
            </p>
            <ul class="list-group">
              <li class="list-group-item justify-content-between">Cras justo odio <span class="badge bg-secondary badge-pill float-end">14</span></li>
              <li class="list-group-item justify-content-between">Dapibus ac facilisis in <span class="badge bg-primary badge-pill float-end">new</span></li>
              <li class="list-group-item justify-content-between">Morbi leo risus <span class="badge bg-danger badge-pill float-end">updated</span></li>
            </ul>

            <hr class="my-5" />

            <h3>Styles</h3>
            <p>
              <code>list-group-item</code>
              elements can be combined with contextual colour styles to alter the row colour.
            </p>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"> <strong>Secondary:</strong> .list-group-item-secondary </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-primary"> <strong>Primary:</strong> .list-group-item-primary </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-info"> <strong>Info:</strong> .list-group-item-info </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-success"> <strong>Success:</strong> .list-group-item-success </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-warning"> <strong>Warning:</strong> .list-group-item-warning </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-danger"> <strong>Danger:</strong> .list-group-item-danger </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-dark"> <strong>Dark:</strong> .list-group-item-dark </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-light"> <strong>Light:</strong> .list-group-item-light </a>
            </div>

            <hr class="my-5" />

            <h3>Striped</h3>
            <p>
              Add the class
              <code>.list-group-striped</code>
              to add alternating row striping.
            </p>
            <ul class="list-group list-group-striped">
              <li class="list-group-item justify-content-between">Cras justo odio <span class="badge bg-secondary badge-pill float-end">14</span></li>
              <li class="list-group-item justify-content-between">Dapibus ac facilisis in <span class="badge bg-primary badge-pill float-end">new</span></li>
              <li class="list-group-item justify-content-between">Morbi leo risus <span class="badge bg-danger badge-pill float-end">updated</span></li>
              <li class="list-group-item justify-content-between">Dapibus ac leo risus <span class="badge bg-danger badge-pill float-end">hot</span></li>
            </ul>

            <hr class="my-5" />

            <h3>Content</h3>
            <p>
              List groups support bolder headers and content text using the
              <code>.list-group-item-heading</code>
              and
              <code>.list-group-item-text</code>
              classes.
            </p>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                <h3 class="list-group-item-heading">List group item heading</h3>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <h3 class="list-group-item-heading">List group item heading</h3>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <h3 class="list-group-item-heading">List group item heading</h3>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
            </div>

            <hr class="my-5" />

            <h3>Tabbable lists</h3>
            <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                  <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="messages"
                    >Messages</a
                  >
                  <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="settings"
                    >Settings</a
                  >
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    Abico caecus dolor genitus ibidem meus pala persto sino ulciscor. Fere haero iriure. Amet commodo eros facilisis luptatum os rusticus torqueo. Eros quae quia.
                  </div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    Aliquip commoveo duis exputo nobis olim suscipit ymo. Abdo capto diam fere ille incassum lenis scisco. Accumsan aptent hendrerit interdico ludus sit sudo.
                  </div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    Luctus sudo vindico. Aliquip fere lucidus macto patria pecus praesent scisco. Augue duis hos odio sed valde. Abico appellatio cui gravis lucidus refoveo saluto
                    suscipere.
                  </div>
                  <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    Abluo immitto si. Dolus facilisis neo pala typicus. Consequat nutus paulatim wisi. Illum mos nibh nisl. Populus quis virtus. Amet erat esse. Diam dignissim
                    obruo.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
