<!-- 
{
  "pageTitle": "Button Groups",
  "pageKey": "elements-button-groups",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Button Groups | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Button Groups</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link active"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Button Groups-->
            <!--@Element: Button Groups-->
            <p>
              To create button groups simply wrap a series of buttons with the
              <code>.btn</code>
              class in a wrapper with the
              <code>.btn-group</code>
              class.
            </p>
            <p>All <a href="./elements-buttons.html">button styles</a> can be applied to the buttons within the group.</p>
            <h3 class="mt-4">Styles</h3>
            <h4>Default</h4>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">Left</button>
              <button type="button" class="btn btn-primary">Middle</button>
              <button type="button" class="btn btn-primary">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info">Left</button>
              <button type="button" class="btn btn-info">Middle</button>
              <button type="button" class="btn btn-info">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success">Left</button>
              <button type="button" class="btn btn-success">Middle</button>
              <button type="button" class="btn btn-success">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning">Left</button>
              <button type="button" class="btn btn-warning">Middle</button>
              <button type="button" class="btn btn-warning">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-danger">Left</button>
              <button type="button" class="btn btn-danger">Middle</button>
              <button type="button" class="btn btn-danger">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-dark">Left</button>
              <button type="button" class="btn btn-dark">Middle</button>
              <button type="button" class="btn btn-dark">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light">Left</button>
              <button type="button" class="btn btn-light">Middle</button>
              <button type="button" class="btn btn-light">Right</button>
            </div>
            <h4 class="mt-4">Outline</h4>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">Left</button>
              <button type="button" class="btn btn-outline-secondary">Middle</button>
              <button type="button" class="btn btn-outline-secondary">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary">Left</button>
              <button type="button" class="btn btn-outline-primary">Middle</button>
              <button type="button" class="btn btn-outline-primary">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-info">Left</button>
              <button type="button" class="btn btn-outline-info">Middle</button>
              <button type="button" class="btn btn-outline-info">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-success">Left</button>
              <button type="button" class="btn btn-outline-success">Middle</button>
              <button type="button" class="btn btn-outline-success">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-warning">Left</button>
              <button type="button" class="btn btn-outline-warning">Middle</button>
              <button type="button" class="btn btn-outline-warning">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-danger">Left</button>
              <button type="button" class="btn btn-outline-danger">Middle</button>
              <button type="button" class="btn btn-outline-danger">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-dark">Left</button>
              <button type="button" class="btn btn-outline-dark">Middle</button>
              <button type="button" class="btn btn-outline-dark">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-light">Left</button>
              <button type="button" class="btn btn-outline-light">Middle</button>
              <button type="button" class="btn btn-outline-light">Right</button>
            </div>
            <h4 class="mt-4">Rounded</h4>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary btn-rounded">Left</button>
              <button type="button" class="btn btn-secondary btn-rounded">Middle</button>
              <button type="button" class="btn btn-secondary btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary btn-rounded">Left</button>
              <button type="button" class="btn btn-primary btn-rounded">Middle</button>
              <button type="button" class="btn btn-primary btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info btn-rounded">Left</button>
              <button type="button" class="btn btn-info btn-rounded">Middle</button>
              <button type="button" class="btn btn-info btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success btn-rounded">Left</button>
              <button type="button" class="btn btn-success btn-rounded">Middle</button>
              <button type="button" class="btn btn-success btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning btn-rounded">Left</button>
              <button type="button" class="btn btn-warning btn-rounded">Middle</button>
              <button type="button" class="btn btn-warning btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-danger btn-rounded">Left</button>
              <button type="button" class="btn btn-danger btn-rounded">Middle</button>
              <button type="button" class="btn btn-danger btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-dark btn-rounded">Left</button>
              <button type="button" class="btn btn-dark btn-rounded">Middle</button>
              <button type="button" class="btn btn-dark btn-rounded">Right</button>
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light btn-rounded">Left</button>
              <button type="button" class="btn btn-light btn-rounded">Middle</button>
              <button type="button" class="btn btn-light btn-rounded">Right</button>
            </div>

            <hr class="my-5" />

            <h3>Button toolbar</h3>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-secondary"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-secondary"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-secondary"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-secondary"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-primary"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-primary"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-primary"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-primary"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-primary"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-info"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-info"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-info"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-info"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-info"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-info"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-info"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-info"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-success"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-success"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-success"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-success"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-success"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-success"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-success"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-warning"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-warning"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-warning"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-warning"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-warning"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-warning"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-warning"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-warning"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-danger"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-danger"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-danger"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-dark"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-dark"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-dark"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-dark"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-dark"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-dark"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-dark"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-dark"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>
            <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-icon btn-light"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-icon btn-light"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-icon btn-light"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-icon btn-light"><i class="fa fa-align-right"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-light"><i class="fa fa-file"></i> Upload</button>
                <button type="button" class="btn btn-light"><i class="fa fa-area-chart"></i> Graphs</button>
                <button type="button" class="btn btn-light"><i class="fa fa-undo"></i> Undo</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-light"><i class="fa fa-save"></i> Save</button>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Sizes</h3>
            <p>
              By adding
              <code>.btn-group-lg</code>
              or
              <code>.btn-group-sm</code>
              to the
              <code>.btn-group</code>
              you can alter the size of all the
              <code>.btn</code>
              elements within the button group.
            </p>
            <h4>Large</h4>
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <h4 class="mt-4">Default</h4>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <h4 class="mt-4">Small</h4>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Left</button>
              <button type="button" class="btn btn-secondary">Middle</button>
              <button type="button" class="btn btn-secondary">Right</button>
            </div>

            <hr class="my-5" />

            <h3>Nesting</h3>
            <p>
              You can also "nest"
              <code>.btn-group</code>
              elements within
              <code>.btn-group</code>
              groups if you want to use dropdown menus within the group.
            </p>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-secondary">1</button>
              <button type="button" class="btn btn-secondary">2</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Vertical Button Groups</h3>
            <p>
              Button groups can also flow vertically by adding the
              <code>btn-group-vertical</code>
              class instead of the
              <code>btn-group</code>
              class.
            </p>
            <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-secondary">1</button>
              <button type="button" class="btn btn-secondary">2</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a> <a class="dropdown-item" href="#">Dropdown link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
