<!-- 
{
  "pageTitle": "Tooltips & Popovers",
  "pageKey": "elements-tooltips-popovers",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Tooltips & Popovers | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Tooltips & Popovers</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link active"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Tooltips & Popovers-->
            <!--@Element: Tooltips & Popovers-->
            <p>
              Tooltips and popovers allow for text and content to be shown when text or content is hovered or clicked. These can be useful for providing inline "hints" to site
              users as the read something.
            </p>
            <h2 class="mt-4">Tooltips</h2>
            <p>
              Simply add
              <code>data-bs-toggle="tooltip"</code>
              to any link element along with a
              <code>title="TEXT-TO-SHOW-ON-HOVER"</code>
            </p>
            <h4 class="mt-4">Example</h4>
            <p>Hover the clicks in the text below to see examples.</p>
            <p class="muted bg-light p-3">
              Placeholder text to demonstrate some <a href="#" data-bs-toggle="tooltip" title="Default tooltip">inline links</a> with tooltips. This is now just filler, no killer.
              Content placed here just to mimic the presence of <a href="#" data-bs-toggle="tooltip" title="Another tooltip">real text</a>. And all that just to give you an idea of
              how tooltips would look when used in real-world situations. So hopefully you've now seen how
              <a href="#" data-bs-toggle="tooltip" title="Another one here too">these tooltips on links</a> can work in practice, once you use them on
              <a href="#" data-bs-toggle="tooltip" title="The last tip!">your own</a> site or project.
            </p>

            <h4 class="mt-4">Tooltip placement</h4>
            <p>
              Adding a
              <code>data-bs-placement="top|right|bottom|left"</code>
              attribute to the link element allows you to control the placement of the tooltip on hover.
            </p>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">Tooltip on top</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">Tooltip on right</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">Tooltip on left</button>

            <h4 class="mt-4">Trigger</h4>
            <p>
              By default Tooltips are triggered when the link element is hovered but you can alter this behaviour by adding a
              <code>data-bs-trigger="click|hover|focus"</code>
              attribute.
            </p>
            <h5>On click</h5>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-trigger="click" title="Clicky clicky click">Tooltip on click</button>
            <h5 class="mt-4">On focus (closes when other element is clicked)</h5>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-trigger="focus" title="Focus now">Tooltip on focus</button>

            <h4 class="mt-4">Tooltip with HTML content</h4>
            <p>
              To support HTML within the tooltip simply add the attribute
              <code>data-bs-html="true"</code>
              to the link element.
            </p>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="tooltip"
              data-bs-trigger="click"
              data-bs-html="true"
              title="&lt;em >Tooltip&lt;/em > &lt;u >with&lt;/u > &lt;b >HTML&lt;/b >"
            >
              Tooltip with HTML
            </button>

            <hr class="my-5" />

            <h2 class="mt-4">Popovers</h2>
            <p>
              Popovers are similar to tooltips in functionality expect they contain more content and include a header and are generally suited to being trigger on "click" although
              they support the same "trigger" options as Tooltips above.
            </p>
            <p>
              Trigger them by adding a
              <code>data-bs-toggle="popover" data-bs-trigger="focus"se</code>
              attribute to any elements along with a
              <code>title="HEADER-TEXT-TO-SHOW-ON-HOVER"</code>
              and
              <code>data-bs-content="CONTENT-TEXT-TO-SHOW-ON-HOVER"</code>
            </p>
            <h4 class="mt-4">Example</h4>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              title="Popover title"
              data-bs-content="And here's some amazing content. It's very engaging. Right?"
            >
              Popover with title &amp; content
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              data-bs-content="And here's some amazing content. It's very engaging. Right?"
            >
              Popover with no title
            </button>

            <h4 class="mt-4">Popover placement</h4>
            <p>Popovers support the same placement options as Tooltips above.</p>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              data-bs-placement="top"
              title="Popover on top"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            >
              Popover on top
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              data-bs-placement="right"
              title="Popover on right"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            >
              Popover on right
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              data-bs-placement="bottom"
              title="Popover on bottom"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            >
              Popover on bottom
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              data-bs-placement="left"
              title="Popover on left"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            >
              Popover on left
            </button>

            <h4 class="mt-4">Trigger</h4>
            <p>Popovers support the same placement options as Tooltips above.</p>

            <h5>On hover</h5>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              title="On hover"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            >
              Popover on click
            </button>

            <h5 class="mt-4">On focus (closes when other element is clicked)</h5>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              title="Focus now"
              data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            >
              Popover on focus
            </button>

            <h4 class="mt-4">Popover with HTML content</h4>
            <p>
              Like Tooltips to support HTML within the popover simply add the attribute
              <code>data-bs-html="true"</code>
              to the link element.
            </p>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-toggle="popover"
              data-bs-trigger="focus"
              se
              data-bs-html="true"
              title="&lt;em >Popover&lt;/em > &lt;u >with&lt;/u > &lt;b >HTML&lt;/b >"
              data-bs-content="&lt;em >Popover&lt;/em > &lt;u >with&lt;/u > &lt;b >HTML&lt;/b >"
            >
              Popover with HTML
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
