<!-- 
{
  "pageTitle": "Theme Elements",
  "pageKey": "elements",
  "pageActiveTrail": [
    "more"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Theme Elements | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2>
          <span>Theme Elements</span>
        </h2>
        <!--Intro-->
        <p>AppStrap contains <a href="http://getbootstrap.com/">all the standard Twitter Bootstrap goodies</a> and more, here's a quick overview of some of the key elements.</p>

        <div class="row">
          <div class="col-md-6">
            <div class="list-group">
              <a href="elements-alerts.html" class="list-group-item d-flex align-items-center justify-content-between">Alerts <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-animation.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Animations <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-avatars.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Avatars <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-badges.html" class="list-group-item d-flex align-items-center justify-content-between">Badges <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-button-groups.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Button Groups <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-buttons.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Buttons <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-cards.html" class="list-group-item d-flex align-items-center justify-content-between">Cards <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-carousels.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Carousels <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-collapse.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Collapse / Accordions <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-colour-utils.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Colours Utils <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-cookie-banners.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Cookie Banners <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-counters.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Counters <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-ctas.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Call To Action Blocks <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-dividers.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Dividers <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-dropdowns.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Dropdowns <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-forms.html" class="list-group-item d-flex align-items-center justify-content-between">Forms <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-forms-input-groups.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Forms Input Groups <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-icons.html" class="list-group-item d-flex align-items-center justify-content-between">Icons <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-icons-bootstrap-icons.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Icons: Bootstrap <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-icons-flags.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Icons: Flags <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-icons-fontawesome.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Icons: Font Awesome <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-icons-ionicons.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Icons: Ionicons <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="list-group">
              <a href="elements-icons-linearicons.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Icons: Linearicons <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-icons-lineawesome.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Icons: Line Awesome <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-list-groups.html" class="list-group-item d-flex align-items-center justify-content-between"
                >List Groups <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-modals.html" class="list-group-item d-flex align-items-center justify-content-between">Modals <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-modals-onload.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Modals Onload <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-navs.html" class="list-group-item d-flex align-items-center justify-content-between">Navs <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-navs-tabbable.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Tabbable Navs <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-overlays.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Overlays <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-progressbars.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Progress Bars <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-select-pickers.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Select Picker <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-shadows.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Shadows <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-social-media.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Social Media Branding <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-spacers.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Spacers <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-spinners.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Spinners <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-tables.html" class="list-group-item d-flex align-items-center justify-content-between">Tables <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-toasts.html" class="list-group-item d-flex align-items-center justify-content-between">Toasts <i class="fa fa-angle-right fa-lg float-end"></i></a>
              <a href="elements-tooltips-popovers.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Tooltips & Popovers <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-type-effect.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Type Effect <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-typography.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Typography <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-utils.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Utilities <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="elements-video-blocks.html" class="list-group-item d-flex align-items-center justify-content-between"
                >Video Blocks <i class="fa fa-angle-right fa-lg float-end"></i
              ></a>
              <a href="page-titles.html" class="list-group-item d-flex align-items-center justify-content-between">Page Titles <i class="fa fa-angle-right fa-lg float-end"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
