<!-- 
{
  "pageTitle": "Type Effect",
  "pageKey": "elements-type-effect",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Type Effect | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Type Effect</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link active"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Type Effect-->
            <!--@Element: Type Effect-->
            <p>Say more in a single space with this eye-catching typewriter effect.</p>

            <h3>Basics</h3>
            <p>
              Simply add an
              <code>data-typed='["Sentance to type 1", "Sentance to type 2", "etc"]'</code>
              attribute to any element.
            </p>
            <div class="code-block">
              <div class="code-block-example">
                <h3
                  class="fw-normal"
                  data-typed='[ "Tonnes of features", "Bootstrap 5 support", "Powerful Gulp setup", "<strong>AppStrap Bootstrap Theme</strong>", "The ultimate bootstrap theme", "What you waiting for!?!" ]'
                ></h3>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre
                  id="code-block-content1"
                ><code>&lt;h3 class=&quot;fw-normal&quot; data-typed=&#039;[ &quot;Tonnes of features&quot;, &quot;Bootstrap 5 support&quot;, &quot;Powerful Gulp setup&quot;, &quot;&lt;strong&gt;AppStrap Bootstrap Theme&lt;/strong&gt;&quot;, &quot;The ultimate bootstrap theme&quot;, &quot;What you waiting for!?!&quot; ]&#039;&gt;&lt;/h3&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <hr class="my-3" />
            <div class="code-block">
              <div class="code-block-example">
                <div
                  data-typed='["Tonnes of features", "Flexbox support", "The Ultimate Bootstrap 5 Theme", "What you waiting for?"]'
                  data-typed-settings='{"delay":2000, "speed":80,"breakLines":false, "deleteDelay":2400, "doneClass":{"#get-btn":"show"}}'
                ></div>
                <a href="#" class="btn btn-dark fw-bold py-3 px-4 fade mt-3" id="get-btn">Get AppStrap</a>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre
                  id="code-block-content2"
                ><code>&lt;div data-typed=&#039;[&quot;Tonnes of features&quot;, &quot;Flexbox support&quot;, &quot;The Ultimate Bootstrap 5 Theme&quot;, &quot;What you waiting for?&quot;]&#039; data-typed-settings=&#039;{&quot;delay&quot;:2000, &quot;speed&quot;:80,&quot;breakLines&quot;:false, &quot;deleteDelay&quot;:2400, &quot;doneClass&quot;:{&quot;#get-btn&quot;:&quot;show&quot;}}&#039; &gt;&lt;/div&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-dark fw-bold py-3 px-4 fade mt-3&quot; id=&quot;get-btn&quot;&gt;Get AppStrap&lt;/a&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Options</h3>
            <p>
              There are various options you can pass as a JSON object via a
              <code>data-typed-settings='{SETTINGS}'</code>
              attribute on the
              <code>data-typed</code>
              element.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th>Option</th>
                  <th>Description</th>
                  <th>Default Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>strings</td>
                  <td>(string or array) The string(s) to be typed.</td>
                  <td>'Your default string.'</td>
                </tr>
                <tr>
                  <td>delay</td>
                  <td>(number in millseconds) To wait before typing should start.</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>doneClass</td>
                  <td>
                    Allows a class to be added to elements once typing is complete. Should be a JSON object with
                    <code>{"#element":"CLASSES"}</code>
                  </td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>speed</td>
                  <td>(number in millseconds) The typing speed.</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>deleteSpeed</td>
                  <td>(number in millseconds) The deletion speed. If left undefined, will be 1/3 of the type speed.</td>
                  <td>undefined</td>
                </tr>
                <tr>
                  <td>lifeLike</td>
                  <td>(boolean) Will make the typing pace irregular, as if a real person is doing it.</td>
                  <td>true</td>
                </tr>
                <tr>
                  <td>cursor</td>
                  <td>(boolean) Show a blinking cursor at the end of the string(s).</td>
                  <td>true</td>
                </tr>
                <tr>
                  <td>cursorSpeed</td>
                  <td>(number in milliseconds) The blinking speed of the cursor.</td>
                  <td>1000</td>
                </tr>
                <tr>
                  <td>breakLines</td>
                  <td>
                    (boolean) Choose whether you want multiple strings to be printed on top of each other (
                    <code>breakLines: true</code>
                    ), or if you want each string to be deleted and replaced by the next one (
                    <code>breakLines: false</code>
                    ).
                  </td>
                  <td>true</td>
                </tr>
                <tr>
                  <td>breakDelay</td>
                  <td>
                    (number in milliseconds) The amount of time (milliseconds) between line breaks when typing multiple strings. Only effective when
                    <code>breakLines: true</code>
                    .
                  </td>
                  <td>750</td>
                </tr>
                <tr>
                  <td>deleteDelay</td>
                  <td>
                    (number in milliseconds) The amount of time (milliseconds) between deleting the current string and typing the next. Only effective when
                    <code>breakLines: false</code>
                    .
                  </td>
                  <td>750</td>
                </tr>
                <tr>
                  <td>startDelete</td>
                  <td>(boolean) Whether to begin instance by deleting strings inside element, and then typing what strings are defined via JSON or companion functions.</td>
                  <td>false</td>
                </tr>
                <tr>
                  <td>startDelay</td>
                  <td>(number in milliseconds) The amount of time before the plugin begins typing after initalizing.</td>
                  <td>250</td>
                </tr>
                <tr>
                  <td>loop</td>
                  <td>(boolean) Have your string or strings continuously loop after completing.</td>
                  <td>false</td>
                </tr>
                <tr>
                  <td>loopDelay</td>
                  <td>(number in milliseconds) The amount of time between looping over a string or set of strings again.</td>
                  <td>750</td>
                </tr>
                <tr>
                  <td>html</td>
                  <td>(boolean) Handle strings as HTML, which will process tags and HTML entities. If 'false,' strings will be typed literally.</td>
                  <td>true</td>
                </tr>
                <tr>
                  <td>callback</td>
                  <td>(function) A function that executes after your typing has completed.</td>
                  <td>nuthin'</td>
                </tr>
              </tbody>
            </table>

            <hr class="my-5" />

            <h3>Examples</h3>
            <p>Effect overwrites itself after a 10 second wait to start.</p>
            <div class="code-block">
              <div class="code-block-example">
                <h3 class="fw-normal" data-typed="'[&quot;Tonnes" of features support ultimate bootstrap theme you waiting for data-typed-settings='&apos;{"delay":10000,'></h3>
              </div>
              <div class="code-block-code collapse show" id="code-block-3">
                <pre
                  id="code-block-content3"
                ><code>&lt;h3 class=&quot;fw-normal&quot; data-typed=&quot;&#039;[&amp;quot;Tonnes&quot; of features support ultimate bootstrap theme you waiting for data-typed-settings=&quot;&#039;{&amp;quot;delay&amp;quot;:10000,&quot;&gt;&lt;/h3&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-3"
                >
                  copy code
                </button>
              </div>
            </div>
            <p class="mt-5">Triggers button to show when typing is finished (starts after 15 seconds).</p>
            <div class="code-block">
              <div class="code-block-example">
                <h3
                  class="fw-normal"
                  data-typed="'[&quot;Tonnes"
                  of
                  features
                  support
                  ultimate
                  bootstrap
                  theme
                  you
                  waiting
                  for
                  data-typed-settings='&apos;{"delay":15000,'
                  fadein
                ></h3>
                <a href="#" class="btn btn-dark btn-rounded btn-lg text-uppercase fw-bold py-3 px-4 animate-pending mt-3" id="get-btn">Get AppStrap <i class="fa fa-rocket"></i></a>
              </div>
              <div class="code-block-code collapse show" id="code-block-4">
                <pre
                  id="code-block-content4"
                ><code>&lt;h3 class=&quot;fw-normal&quot; data-typed=&quot;&#039;[&amp;quot;Tonnes&quot; of features support ultimate bootstrap theme you waiting for data-typed-settings=&quot;&#039;{&amp;quot;delay&amp;quot;:15000,&quot; fadein&gt;&lt;/h3&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-dark btn-rounded btn-lg text-uppercase fw-bold py-3 px-4 animate-pending mt-3&quot; id=&quot;get-btn&quot;&gt;Get AppStrap &lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-4"
                >
                  copy code
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
