<!-- 
{
  "pageTitle": "Icons",
  "pageKey": "elements-icons",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Icons | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Icons</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link active"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse show" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link active"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Icons-->
            <!--@Element: Icons-->
            <h3>Icon Sets</h3>
            <p>AppStrap includes 6 iconsets with 1000s of useful icons to make your content more eyecatching.</p>
            <div class="alert alert-info" role="alert">
              <p class="mb-0">
                <strong>NOTE:</strong> The .css files for the icon packs are only loaded if they are detected in the source code so you just add icons &amp; the css files with
                automatically be loaded for you! NOTE: for performance we recommend adopting just 1 icon pack for your project if possible.
              </p>
            </div>
            <p>Iconsets included are:</p>
            <div class="list-group">
              <a href="elements-icons-bootstrap-icons.html" class="list-group-item list-group-item-action"><i class="fa fa-chevron-right text-xs"></i> bootstrap-icons</a>
              <a href="elements-icons-fontawesome.html" class="list-group-item list-group-item-action"><i class="fa fa-chevron-right text-xs"></i> fontawesome</a>
              <a href="elements-icons-flags.html" class="list-group-item list-group-item-action"><i class="fa fa-chevron-right text-xs"></i> flags</a>
              <a href="elements-icons-ionicons.html" class="list-group-item list-group-item-action"><i class="fa fa-chevron-right text-xs"></i> ionicons</a>
              <a href="elements-icons-linearicons.html" class="list-group-item list-group-item-action"><i class="fa fa-chevron-right text-xs"></i> linearicons</a>
              <a href="elements-icons-lineawesome.html" class="list-group-item list-group-item-action"><i class="fa fa-chevron-right text-xs"></i> lineawesome</a>
            </div>

            <hr class="my-5" />

            <h3>Icon Sizes</h3>
            <p>
              To increase icon sizes relative to their container, use
              <code>icon-2x</code>
              ,
              <code>icon-3x</code>
              ,
              <code>icon-4x</code>
              ,
              <code>icon-5x</code>
              ,
              <code>icon-6x</code>
              ,
              <code>icon-7x</code>
              ,
              <code>icon-8x</code>
              ,
              <code>icon-9x</code>
              or
              <code>icon-10x</code>
              classes.
            </p>
            <div class="mb-3"><i class="fa fa-camera-retro icon-2x"></i> icon-2x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-3x"></i> icon-3x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-4x"></i> icon-4x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-5x"></i> icon-5x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-6x"></i> icon-6x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-7x"></i> icon-7x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-8x"></i> icon-8x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-9x"></i> icon-9x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-10x"></i> icon-10x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-15x"></i> icon-15x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-20x"></i> icon-20x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-25x"></i> icon-25x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-30x"></i> icon-30x</div>

            <hr class="my-5" />

            <h3>Square icons (fixed size)</h3>
            <p>
              Add the class
              <code>.icon-sq</code>
              to make icons a square ie. fixed height &amp; width. You can combine this with the above size classes up size 10x &amp; also the contextual background colours.
            </p>
            <div class="mb-3"><i class="fa fa-rocket icon-sq bg-primary text-white"></i></div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-2x bg-primary text-white"></i> icon-2x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-3x bg-primary text-white"></i> icon-3x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-4x bg-primary text-white"></i> icon-4x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-5x bg-primary text-white"></i> icon-5x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-6x bg-primary text-white"></i> icon-6x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-7x bg-primary text-white"></i> icon-7x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-8x bg-primary text-white"></i> icon-8x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-9x bg-primary text-white"></i> icon-9x</div>
            <div class="mb-3"><i class="fa fa-camera-retro icon-sq icon-10x bg-primary text-white"></i> icon-10x</div>

            <hr class="my-5" />

            <h3>Manipulate Icons</h3>
            <p>You can rotate or "flip" icons using the following classes.</p>
            <div class="mb-3"><i class="fa fa-camera-retro icon-2x me-3"></i> default</div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-rotate-25"></i>
              <code>.icon-rotate-25</code>
            </div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-rotate-45"></i>
              <code>.icon-rotate-45</code>
            </div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-rotate-90"></i>
              <code>.icon-rotate-90</code>
            </div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-rotate-180"></i>
              <code>.icon-rotate-180</code>
            </div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-rotate-270"></i>
              <code>.icon-rotate-270</code>
            </div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-flip-h"></i>
              <code>.icon-flip-h</code>
            </div>
            <div class="mb-1">
              <i class="fa fa-camera-retro icon-2x me-3 icon-flip-v"></i>
              <code>.icon-flip-v</code>
            </div>

            <hr class="my-5" />

            <h3>Background Icons</h3>
            <p>
              Icons can also be used in the background of elements add wrapping the parent element with the class
              <code>.position-relative</code>
              and then adding the class
              <code>.icon-bg</code>
              to the icon.
            </p>
            <p>
              You can control the opacity of the icon using the
              <code>op-(1-9)</code>
              classes.
            </p>
            <p>By default icons are aligned to the top left but you can override this using the following classes:</p>
            <ol>
              <li>
                <code>.icon-bg-r</code>
                : align right
              </li>
              <li>
                <code>.icon-bg-b</code>
                : align bottom
              </li>
              <li>
                <code>.icon-bg-r-ol</code>
                : align right with an overlap
              </li>
              <li>
                <code>.icon-bg-l-ol</code>
                : align left with an overlap
              </li>
              <li>
                <code>.icon-bg-t-ol</code>
                : align top with an overlap
              </li>
              <li>
                <code>.icon-bg-b-ol</code>
                : align bottom with an overlap
              </li>
            </ol>
            <div class="code-block">
              <div class="code-block-example">
                <div class="bg-primary bg-shadow border-primary text-white p-4 pe-lg-6 mb-4 position-relative">
                  <i class="fa fa-phone-square icon-10x icon-rotate-25 icon-bg icon-bg-r-ol icon-bg-b-ol op-3 text-white"></i>
                  <h4 class="my-0 fw-bold text-uppercase">Request a callback!</h4>
                  <hr class="hr-lg my-2 ms-0 hr-white w-20" />
                  <form id="callback-form" action="#">
                    <div class="input-group">
                      <label class="visually-hidden" for="callback-number">Your Number</label>
                      <input type="tel" class="form-control" id="callback-number" placeholder="Your Number" />
                      <span class="input-group-text">
                        <button class="btn btn-dark" type="button">Get Callback</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-1">
                <pre id="code-block-content1"><code>&lt;div class=&quot;bg-primary bg-shadow border-primary text-white p-4 pe-lg-6 mb-4 position-relative&quot;&gt;
  &lt;i class=&quot;fa fa-phone-square icon-10x icon-rotate-25 icon-bg icon-bg-r-ol icon-bg-b-ol op-3 text-white&quot;&gt;&lt;/i&gt; 
  &lt;h4 class=&quot;my-0 fw-bold text-uppercase&quot;&gt;
    Request a callback!
  &lt;/h4&gt;
  &lt;hr class=&quot;hr-lg my-2 ms-0 hr-white w-20&quot;&gt;
  &lt;form id=&quot;callback-form&quot; action=&quot;#&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;label class=&quot;visually-hidden&quot; for=&quot;callback-number&quot;&gt;Your Number&lt;/label&gt;
      &lt;input type=&quot;tel&quot; class=&quot;form-control&quot; id=&quot;callback-number&quot; placeholder=&quot;Your Number&quot;&gt;
      &lt;span class=&quot;input-group-text&quot;&gt;
        &lt;button class=&quot;btn btn-dark&quot; type=&quot;button&quot;&gt;Get Callback&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-1"
                >
                  copy code
                </button>
              </div>
            </div>
            <div class="code-block">
              <div class="code-block-example">
                <div class="bg-info bg-shadow border-primary text-white p-4 px-lg-6 position-relative">
                  <i class="fa fa-info-circle icon-10x icon-bg icon-bg-l-ol op-3 text-white"></i>
                  <h4 class="my-0 fw-bold text-uppercase">More Info:</h4>
                  <hr class="hr-lg my-2 ms-0 hr-white w-20" />
                  <form id="callback-form" action="#">
                    <div class="input-group">
                      <label class="visually-hidden" for="callback-number">Search</label>
                      <input type="tel" class="form-control" id="callback-number" placeholder="Keyword" />
                      <span class="input-group-text">
                        <button class="btn btn-dark" type="button">Search</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="code-block-code collapse show" id="code-block-2">
                <pre id="code-block-content2"><code>&lt;div class=&quot;bg-info bg-shadow border-primary text-white p-4 px-lg-6 position-relative&quot;&gt;
  &lt;i class=&quot;fa fa-info-circle icon-10x icon-bg icon-bg-l-ol op-3 text-white&quot;&gt;&lt;/i&gt; 
  &lt;h4 class=&quot;my-0 fw-bold text-uppercase&quot;&gt;
    More Info:
  &lt;/h4&gt;
  &lt;hr class=&quot;hr-lg my-2 ms-0 hr-white w-20&quot;&gt;
  &lt;form id=&quot;callback-form&quot; action=&quot;#&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      &lt;label class=&quot;visually-hidden&quot; for=&quot;callback-number&quot;&gt;Search&lt;/label&gt;
      &lt;input type=&quot;tel&quot; class=&quot;form-control&quot; id=&quot;callback-number&quot; placeholder=&quot;Keyword&quot;&gt;
      &lt;span class=&quot;input-group-text&quot;&gt;
        &lt;button class=&quot;btn btn-dark&quot; type=&quot;button&quot;&gt;Search&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
                <button
                  class="btn-clipboard btn btn-light btn-sm"
                  data-bs-toggle="tooltip"
                  title="Copy to clipboard"
                  data-clipboard-action="copy"
                  data-clipboard-target="#code-block-2"
                >
                  copy code
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
