<!-- 
{
  "pageTitle": "Spacers",
  "pageKey": "elements-spacers",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Spacers | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Spacers</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link active"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Spacers-->
            <!--@Element: Spacers-->
            <p>
              Bootstrap 5 added some very useful spacer utilities to allow you to set element margins &amp; padding uses simple CSS classes. These allow you to layout and space out
              content with ease.
            </p>

            <h3>Class name format</h3>
            <p>
              The spacer classes following this format for xs screenwidth:
              <code>{property}{sides}-{size}</code>
              and the following format for for sm, md, lg, and xl
              <code>{property}{sides}-{breakpoint}-{size}</code>
            </p>
            <p>Where <em>property</em> is one of:</p>
            <ul>
              <li>
                <code>m</code>
                =
                <code>margin</code>
              </li>
              <li>
                <code>p</code>
                =
                <code>padding</code>
              </li>
            </ul>
            <p>Where <em>sides</em> is one of:</p>
            <ul>
              <li>
                <code>t</code>
                =
                <code>margin-top</code>
                or
                <code>padding-top</code>
              </li>
              <li>
                <code>b</code>
                =
                <code>margin-bottom</code>
                or
                <code>padding-bottom</code>
              </li>
              <li>
                <code>s</code>
                =
                <code>margin-left</code>
                or
                <code>padding-left</code>
              </li>
              <li>
                <code>e</code>
                =
                <code>margin-right</code>
                or
                <code>padding-right</code>
              </li>
              <li>
                <code>x</code>
                = x-axis
                <code>*-left</code>
                and
                <code>*-right</code>
              </li>
              <li>
                <code>y</code>
                = y-axis
                <code>*-top</code>
                and
                <code>*-bottom</code>
              </li>
              <li>
                blank = all sides
                <code>margin</code>
                or
                <code>padding</code>
                on all 4 sides of the element
              </li>
            </ul>
            <p>Where <em>size</em> is one of:</p>
            <ul>
              <li>
                <code>0</code>
                = removes
                <code>margin</code>
                or
                <code>padding</code>
                by setting it to
                <code>0</code>
              </li>
              <li>
                <code>1</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * .25</code>
              </li>
              <li>
                <code>2</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * .5</code>
              </li>
              <li>
                <code>3</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem</code>
              </li>
              <li>
                <code>4</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 1.5</code>
              </li>
              <li>
                <code>5</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 3</code>
              </li>
              <li>
                <code>6</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 4.5</code>
              </li>
              <li>
                <code>7</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 6</code>
              </li>
              <li>
                <code>8</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 7.5</code>
              </li>
              <li>
                <code>9</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 9</code>
              </li>
              <li>
                <code>10</code>
                = sets the
                <code>margin</code>
                or
                <code>padding</code>
                to
                <code>1rem * 10.5</code>
              </li>
            </ul>
            <p>These spacers can be applied to all elements and also combined.</p>

            <hr class="my-5" />

            <h3>All classes</h3>
            <h4>Padding</h4>
            <div class="row">
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.pt-0</code>
                  = padding top reset
                </li>
                <li>
                  <code>.pt-1</code>
                  = padding top 0.25rem
                </li>
                <li>
                  <code>.pt-2</code>
                  = padding top 0.5rem
                </li>
                <li>
                  <code>.pt-3</code>
                  = padding top 1rem
                </li>
                <li>
                  <code>.pt-4</code>
                  = padding top 1.5rem
                </li>
                <li>
                  <code>.pt-5</code>
                  = padding top 3rem
                </li>
                <li>
                  <code>.pt-6</code>
                  = padding top 4.5rem
                </li>
                <li>
                  <code>.pt-7</code>
                  = padding top 6rem
                </li>
                <li>
                  <code>.pt-8</code>
                  = padding top 7.5rem
                </li>
                <li>
                  <code>.pt-9</code>
                  = padding top 9rem
                </li>
                <li>
                  <code>.pt-10</code>
                  = padding top 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.pb-0</code>
                  = padding bottom reset
                </li>
                <li>
                  <code>.pb-1</code>
                  = padding bottom 0.25rem
                </li>
                <li>
                  <code>.pb-2</code>
                  = padding bottom 0.5rem
                </li>
                <li>
                  <code>.pb-3</code>
                  = padding bottom 1rem
                </li>
                <li>
                  <code>.pb-4</code>
                  = padding bottom 1.5rem
                </li>
                <li>
                  <code>.pb-5</code>
                  = padding bottom 3rem
                </li>
                <li>
                  <code>.pb-6</code>
                  = padding bottom 4.5rem
                </li>
                <li>
                  <code>.pb-7</code>
                  = padding bottom 6rem
                </li>
                <li>
                  <code>.pb-8</code>
                  = padding bottom 7.5rem
                </li>
                <li>
                  <code>.pb-9</code>
                  = padding bottom 9rem
                </li>
                <li>
                  <code>.pb-10</code>
                  = padding bottom 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.ps-0</code>
                  = padding left reset
                </li>
                <li>
                  <code>.ps-1</code>
                  = padding left 0.25rem
                </li>
                <li>
                  <code>.ps-2</code>
                  = padding left 0.5rem
                </li>
                <li>
                  <code>.ps-3</code>
                  = padding left 1rem
                </li>
                <li>
                  <code>.ps-4</code>
                  = padding left 1.5rem
                </li>
                <li>
                  <code>.ps-5</code>
                  = padding left 3rem
                </li>
                <li>
                  <code>.ps-6</code>
                  = padding left 4.5rem
                </li>
                <li>
                  <code>.ps-7</code>
                  = padding left 6rem
                </li>
                <li>
                  <code>.ps-8</code>
                  = padding left 7.5rem
                </li>
                <li>
                  <code>.ps-9</code>
                  = padding left 9rem
                </li>
                <li>
                  <code>.ps-10</code>
                  = padding left 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.pe-0</code>
                  = padding right reset
                </li>
                <li>
                  <code>.pe-1</code>
                  = padding right 0.25rem
                </li>
                <li>
                  <code>.pe-2</code>
                  = padding right 0.5rem
                </li>
                <li>
                  <code>.pe-3</code>
                  = padding right 1rem
                </li>
                <li>
                  <code>.pe-4</code>
                  = padding right 1.5rem
                </li>
                <li>
                  <code>.pe-5</code>
                  = padding right 3rem
                </li>
                <li>
                  <code>.pe-6</code>
                  = padding right 4.5rem
                </li>
                <li>
                  <code>.pe-7</code>
                  = padding right 6rem
                </li>
                <li>
                  <code>.pe-8</code>
                  = padding right 7.5rem
                </li>
                <li>
                  <code>.pe-9</code>
                  = padding right 9rem
                </li>
                <li>
                  <code>.pe-10</code>
                  = padding right 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.px-0</code>
                  = padding x-axis reset
                </li>
                <li>
                  <code>.px-1</code>
                  = padding x-axis 0.25rem
                </li>
                <li>
                  <code>.px-2</code>
                  = padding x-axis 0.5rem
                </li>
                <li>
                  <code>.px-3</code>
                  = padding x-axis 1rem
                </li>
                <li>
                  <code>.px-4</code>
                  = padding x-axis 1.5rem
                </li>
                <li>
                  <code>.px-5</code>
                  = padding x-axis 3rem
                </li>
                <li>
                  <code>.px-6</code>
                  = padding x-axis 4.5rem
                </li>
                <li>
                  <code>.px-7</code>
                  = padding x-axis 6rem
                </li>
                <li>
                  <code>.px-8</code>
                  = padding x-axis 7.5rem
                </li>
                <li>
                  <code>.px-9</code>
                  = padding x-axis 9rem
                </li>
                <li>
                  <code>.px-10</code>
                  = padding x-axis 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.py-0</code>
                  = padding y-axis reset
                </li>
                <li>
                  <code>.py-1</code>
                  = padding y-axis 0.25rem
                </li>
                <li>
                  <code>.py-2</code>
                  = padding y-axis 0.5rem
                </li>
                <li>
                  <code>.py-3</code>
                  = padding y-axis 1rem
                </li>
                <li>
                  <code>.py-4</code>
                  = padding y-axis 1.5rem
                </li>
                <li>
                  <code>.py-5</code>
                  = padding y-axis 3rem
                </li>
                <li>
                  <code>.py-6</code>
                  = padding y-axis 4.5rem
                </li>
                <li>
                  <code>.py-7</code>
                  = padding y-axis 6rem
                </li>
                <li>
                  <code>.py-8</code>
                  = padding y-axis 7.5rem
                </li>
                <li>
                  <code>.py-9</code>
                  = padding y-axis 9rem
                </li>
                <li>
                  <code>.py-10</code>
                  = padding y-axis 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.p0</code>
                  = padding all reset
                </li>
                <li>
                  <code>.p1</code>
                  = padding all 0.25rem
                </li>
                <li>
                  <code>.p2</code>
                  = padding all 0.5rem
                </li>
                <li>
                  <code>.p3</code>
                  = padding all 1rem
                </li>
                <li>
                  <code>.p4</code>
                  = padding all 1.5rem
                </li>
                <li>
                  <code>.p5</code>
                  = padding all 3rem
                </li>
                <li>
                  <code>.p6</code>
                  = padding all 4.5rem
                </li>
                <li>
                  <code>.p7</code>
                  = padding all 6rem
                </li>
                <li>
                  <code>.p8</code>
                  = padding all 7.5rem
                </li>
                <li>
                  <code>.p9</code>
                  = padding all 9rem
                </li>
                <li>
                  <code>.p10</code>
                  = padding all 10.5rem
                </li>
              </ul>
            </div>
            <h4 class="mt-4">Margin</h4>
            <div class="row">
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mt-0</code>
                  = margin top reset
                </li>
                <li>
                  <code>.mt-1</code>
                  = margin top 0.25rem
                </li>
                <li>
                  <code>.mt-2</code>
                  = margin top 0.5rem
                </li>
                <li>
                  <code>.mt-3</code>
                  = margin top 1rem
                </li>
                <li>
                  <code>.mt-4</code>
                  = margin top 1.5rem
                </li>
                <li>
                  <code>.mt-5</code>
                  = margin top 3rem
                </li>
                <li>
                  <code>.mt-6</code>
                  = margin top 4.5rem
                </li>
                <li>
                  <code>.mt-7</code>
                  = margin top 6rem
                </li>
                <li>
                  <code>.mt-8</code>
                  = margin top 7.5rem
                </li>
                <li>
                  <code>.mt-9</code>
                  = margin top 9rem
                </li>
                <li>
                  <code>.mt-10</code>
                  = margin top 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mb-0</code>
                  = margin bottom reset
                </li>
                <li>
                  <code>.mb-1</code>
                  = margin bottom 0.25rem
                </li>
                <li>
                  <code>.mb-2</code>
                  = margin bottom 0.5rem
                </li>
                <li>
                  <code>.mb-3</code>
                  = margin bottom 1rem
                </li>
                <li>
                  <code>.mb-4</code>
                  = margin bottom 1.5rem
                </li>
                <li>
                  <code>.mb-5</code>
                  = margin bottom 3rem
                </li>
                <li>
                  <code>.mb-6</code>
                  = margin bottom 4.5rem
                </li>
                <li>
                  <code>.mb-7</code>
                  = margin bottom 6rem
                </li>
                <li>
                  <code>.mb-8</code>
                  = margin bottom 7.5rem
                </li>
                <li>
                  <code>.mb-9</code>
                  = margin bottom 9rem
                </li>
                <li>
                  <code>.mb-10</code>
                  = margin bottom 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.ms-0</code>
                  = margin left reset
                </li>
                <li>
                  <code>.ms-1</code>
                  = margin left 0.25rem
                </li>
                <li>
                  <code>.ms-2</code>
                  = margin left 0.5rem
                </li>
                <li>
                  <code>.ms-3</code>
                  = margin left 1rem
                </li>
                <li>
                  <code>.ms-4</code>
                  = margin left 1.5rem
                </li>
                <li>
                  <code>.ms-5</code>
                  = margin left 3rem
                </li>
                <li>
                  <code>.ms-6</code>
                  = margin left 4.5rem
                </li>
                <li>
                  <code>.ms-7</code>
                  = margin left 6rem
                </li>
                <li>
                  <code>.ms-8</code>
                  = margin left 7.5rem
                </li>
                <li>
                  <code>.ms-9</code>
                  = margin left 9rem
                </li>
                <li>
                  <code>.ms-10</code>
                  = margin left 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.me-0</code>
                  = margin right reset
                </li>
                <li>
                  <code>.me-1</code>
                  = margin right 0.25rem
                </li>
                <li>
                  <code>.me-2</code>
                  = margin right 0.5rem
                </li>
                <li>
                  <code>.me-3</code>
                  = margin right 1rem
                </li>
                <li>
                  <code>.me-4</code>
                  = margin right 1.5rem
                </li>
                <li>
                  <code>.me-5</code>
                  = margin right 3rem
                </li>
                <li>
                  <code>.me-6</code>
                  = margin right 4.5rem
                </li>
                <li>
                  <code>.me-7</code>
                  = margin right 6rem
                </li>
                <li>
                  <code>.me-8</code>
                  = margin right 7.5rem
                </li>
                <li>
                  <code>.me-9</code>
                  = margin right 9rem
                </li>
                <li>
                  <code>.me-10</code>
                  = margin right 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mx-0</code>
                  = margin x-axis reset
                </li>
                <li>
                  <code>.mx-1</code>
                  = margin x-axis 0.25rem
                </li>
                <li>
                  <code>.mx-2</code>
                  = margin x-axis 0.5rem
                </li>
                <li>
                  <code>.mx-3</code>
                  = margin x-axis 1rem
                </li>
                <li>
                  <code>.mx-4</code>
                  = margin x-axis 1.5rem
                </li>
                <li>
                  <code>.mx-5</code>
                  = margin x-axis 3rem
                </li>
                <li>
                  <code>.mx-6</code>
                  = margin x-axis 4.5rem
                </li>
                <li>
                  <code>.mx-7</code>
                  = margin x-axis 6rem
                </li>
                <li>
                  <code>.mx-8</code>
                  = margin x-axis 7.5rem
                </li>
                <li>
                  <code>.mx-9</code>
                  = margin x-axis 9rem
                </li>
                <li>
                  <code>.mx-10</code>
                  = margin x-axis 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.my-0</code>
                  = margin y-axis reset
                </li>
                <li>
                  <code>.my-1</code>
                  = margin y-axis 0.25rem
                </li>
                <li>
                  <code>.my-2</code>
                  = margin y-axis 0.5rem
                </li>
                <li>
                  <code>.my-3</code>
                  = margin y-axis 1rem
                </li>
                <li>
                  <code>.my-4</code>
                  = margin y-axis 1.5rem
                </li>
                <li>
                  <code>.my-5</code>
                  = margin y-axis 3rem
                </li>
                <li>
                  <code>.my-6</code>
                  = margin y-axis 4.5rem
                </li>
                <li>
                  <code>.my-7</code>
                  = margin y-axis 6rem
                </li>
                <li>
                  <code>.my-8</code>
                  = margin y-axis 7.5rem
                </li>
                <li>
                  <code>.my-9</code>
                  = margin y-axis 9rem
                </li>
                <li>
                  <code>.my-10</code>
                  = margin y-axis 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.m0</code>
                  = margin all reset
                </li>
                <li>
                  <code>.m1</code>
                  = margin all 0.25rem
                </li>
                <li>
                  <code>.m2</code>
                  = margin all 0.5rem
                </li>
                <li>
                  <code>.m3</code>
                  = margin all 1rem
                </li>
                <li>
                  <code>.m4</code>
                  = margin all 1.5rem
                </li>
                <li>
                  <code>.m5</code>
                  = margin all 3rem
                </li>
                <li>
                  <code>.m6</code>
                  = margin all 4.5rem
                </li>
                <li>
                  <code>.m7</code>
                  = margin all 6rem
                </li>
                <li>
                  <code>.m8</code>
                  = margin all 7.5rem
                </li>
                <li>
                  <code>.m9</code>
                  = margin all 9rem
                </li>
                <li>
                  <code>.m10</code>
                  = margin all 10.5rem
                </li>
              </ul>
            </div>
            <h4 class="mt-4">Negative Margins (.mSIDE-nVALUE)</h4>
            <div class="row">
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mt-n0</code>
                  = negative margin top reset
                </li>
                <li>
                  <code>.mt-n1</code>
                  = negative margin top 0.25rem
                </li>
                <li>
                  <code>.mt-n2</code>
                  = negative margin top 0.5rem
                </li>
                <li>
                  <code>.mt-n3</code>
                  = negative margin top 1rem
                </li>
                <li>
                  <code>.mt-n4</code>
                  = negative margin top 1.5rem
                </li>
                <li>
                  <code>.mt-n5</code>
                  = negative margin top 3rem
                </li>
                <li>
                  <code>.mt-n6</code>
                  = negative margin top 4.5rem
                </li>
                <li>
                  <code>.mt-n7</code>
                  = negative margin top 6rem
                </li>
                <li>
                  <code>.mt-n8</code>
                  = negative margin top 7.5rem
                </li>
                <li>
                  <code>.mt-n9</code>
                  = negative margin top 9rem
                </li>
                <li>
                  <code>.mt-n10</code>
                  = negative margin top 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mb-n0</code>
                  = negative margin bottom reset
                </li>
                <li>
                  <code>.mb-n1</code>
                  = negative margin bottom 0.25rem
                </li>
                <li>
                  <code>.mb-n2</code>
                  = negative margin bottom 0.5rem
                </li>
                <li>
                  <code>.mb-n3</code>
                  = negative margin bottom 1rem
                </li>
                <li>
                  <code>.mb-n4</code>
                  = negative margin bottom 1.5rem
                </li>
                <li>
                  <code>.mb-n5</code>
                  = negative margin bottom 3rem
                </li>
                <li>
                  <code>.mb-n6</code>
                  = negative margin bottom 4.5rem
                </li>
                <li>
                  <code>.mb-n7</code>
                  = negative margin bottom 6rem
                </li>
                <li>
                  <code>.mb-n8</code>
                  = negative margin bottom 7.5rem
                </li>
                <li>
                  <code>.mb-n9</code>
                  = negative margin bottom 9rem
                </li>
                <li>
                  <code>.mb-n10</code>
                  = negative margin bottom 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.ms-n0</code>
                  = negative margin left reset
                </li>
                <li>
                  <code>.ms-n1</code>
                  = negative margin left 0.25rem
                </li>
                <li>
                  <code>.ms-n2</code>
                  = negative margin left 0.5rem
                </li>
                <li>
                  <code>.ms-n3</code>
                  = negative margin left 1rem
                </li>
                <li>
                  <code>.ms-n4</code>
                  = negative margin left 1.5rem
                </li>
                <li>
                  <code>.ms-n5</code>
                  = negative margin left 3rem
                </li>
                <li>
                  <code>.ms-n6</code>
                  = negative margin left 4.5rem
                </li>
                <li>
                  <code>.ms-n7</code>
                  = negative margin left 6rem
                </li>
                <li>
                  <code>.ms-n8</code>
                  = negative margin left 7.5rem
                </li>
                <li>
                  <code>.ms-n9</code>
                  = negative margin left 9rem
                </li>
                <li>
                  <code>.ms-n10</code>
                  = negative margin left 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.me-n0</code>
                  = negative margin right reset
                </li>
                <li>
                  <code>.me-n1</code>
                  = negative margin right 0.25rem
                </li>
                <li>
                  <code>.me-n2</code>
                  = negative margin right 0.5rem
                </li>
                <li>
                  <code>.me-n3</code>
                  = negative margin right 1rem
                </li>
                <li>
                  <code>.me-n4</code>
                  = negative margin right 1.5rem
                </li>
                <li>
                  <code>.me-n5</code>
                  = negative margin right 3rem
                </li>
                <li>
                  <code>.me-n6</code>
                  = negative margin right 4.5rem
                </li>
                <li>
                  <code>.me-n7</code>
                  = negative margin right 6rem
                </li>
                <li>
                  <code>.me-n8</code>
                  = negative margin right 7.5rem
                </li>
                <li>
                  <code>.me-n9</code>
                  = negative margin right 9rem
                </li>
                <li>
                  <code>.me-n10</code>
                  = negative margin right 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mx-n0</code>
                  = negative margin x-axis reset
                </li>
                <li>
                  <code>.mx-n1</code>
                  = negative margin x-axis 0.25rem
                </li>
                <li>
                  <code>.mx-n2</code>
                  = negative margin x-axis 0.5rem
                </li>
                <li>
                  <code>.mx-n3</code>
                  = negative margin x-axis 1rem
                </li>
                <li>
                  <code>.mx-n4</code>
                  = negative margin x-axis 1.5rem
                </li>
                <li>
                  <code>.mx-n5</code>
                  = negative margin x-axis 3rem
                </li>
                <li>
                  <code>.mx-n6</code>
                  = negative margin x-axis 4.5rem
                </li>
                <li>
                  <code>.mx-n7</code>
                  = negative margin x-axis 6rem
                </li>
                <li>
                  <code>.mx-n8</code>
                  = negative margin x-axis 7.5rem
                </li>
                <li>
                  <code>.mx-n9</code>
                  = negative margin x-axis 9rem
                </li>
                <li>
                  <code>.mx-n10</code>
                  = negative margin x-axis 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.my-n0</code>
                  = negative margin y-axis reset
                </li>
                <li>
                  <code>.my-n1</code>
                  = negative margin y-axis 0.25rem
                </li>
                <li>
                  <code>.my-n2</code>
                  = negative margin y-axis 0.5rem
                </li>
                <li>
                  <code>.my-n3</code>
                  = negative margin y-axis 1rem
                </li>
                <li>
                  <code>.my-n4</code>
                  = negative margin y-axis 1.5rem
                </li>
                <li>
                  <code>.my-n5</code>
                  = negative margin y-axis 3rem
                </li>
                <li>
                  <code>.my-n6</code>
                  = negative margin y-axis 4.5rem
                </li>
                <li>
                  <code>.my-n7</code>
                  = negative margin y-axis 6rem
                </li>
                <li>
                  <code>.my-n8</code>
                  = negative margin y-axis 7.5rem
                </li>
                <li>
                  <code>.my-n9</code>
                  = negative margin y-axis 9rem
                </li>
                <li>
                  <code>.my-n10</code>
                  = negative margin y-axis 10.5rem
                </li>
              </ul>
              <ul class="col-md-6 list-unstyled">
                <li>
                  <code>.mn0</code>
                  = negative margin all reset
                </li>
                <li>
                  <code>.mn1</code>
                  = negative margin all 0.25rem
                </li>
                <li>
                  <code>.mn2</code>
                  = negative margin all 0.5rem
                </li>
                <li>
                  <code>.mn3</code>
                  = negative margin all 1rem
                </li>
                <li>
                  <code>.mn4</code>
                  = negative margin all 1.5rem
                </li>
                <li>
                  <code>.mn5</code>
                  = negative margin all 3rem
                </li>
                <li>
                  <code>.mn6</code>
                  = negative margin all 4.5rem
                </li>
                <li>
                  <code>.mn7</code>
                  = negative margin all 6rem
                </li>
                <li>
                  <code>.mn8</code>
                  = negative margin all 7.5rem
                </li>
                <li>
                  <code>.mn9</code>
                  = negative margin all 9rem
                </li>
                <li>
                  <code>.mn10</code>
                  = negative margin all 10.5rem
                </li>
              </ul>
            </div>

            <hr class="my-5" />

            <h3>HR tags</h3>
            <p>
              Combining the spacers with
              <code>hr</code>
              tags is a useful way to space on content and we've added 2 custom classes for
              <code>hr</code>
              tags to make them even more useful:
            </p>
            <p>
              <code>
                <div class="code-block">
                  <div class="code-block-example">
                    <hr class="hr-blank" />
                  </div>
                </div>
              </code>
              : removes the border attribute to create plain white-space.
            </p>
            <p>
              <code>
                <div class="code-block">
                  <div class="code-block-example">
                    <hr class="hr-lg" />
                  </div>
                </div>
              </code>
              : enlarges the border attribute to create a thicker border.
            </p>
            <h4>HR tag colours</h4>
            <p>
              You can change the colour of HR tags using the following classes
              <code>.bg-COLOUR</code>
              :
            </p>
            <code>.bg-light</code>
            <hr class="border-light mb-5 mt-2" />
            <code>.bg-primary</code>
            <hr class="border-primary mb-5 mt-2" />
            <code>.bg-info</code>
            <hr class="border-info mb-5 mt-2" />
            <code>.bg-success</code>
            <hr class="border-success mb-5 mt-2" />
            <code>.bg-warning</code>
            <hr class="border-warning mb-5 mt-2" />
            <code>.bg-danger</code>
            <hr class="border-danger mb-5 mt-2" />
            <code>.bg-white</code>
            <hr class="border-white mb-5 mt-2" />
            <code>.bg-green</code>
            <hr class="border-green mb-5 mt-2" />
            <code>.bg-red</code>
            <hr class="border-red mb-5 mt-2" />
            <code>.bg-blue</code>
            <hr class="border-blue mb-5 mt-2" />
            <code>.bg-purple</code>
            <hr class="border-purple mb-5 mt-2" />
            <code>.bg-pink</code>
            <hr class="border-pink mb-5 mt-2" />
            <code>.bg-orange</code>
            <hr class="border-orange mb-5 mt-2" />
            <code>.bg-brown</code>
            <hr class="border-brown mb-5 mt-2" />
            <code>.bg-slate</code>
            <hr class="border-slate mb-5 mt-2" />
            <code>.bg-olive</code>
            <hr class="border-olive mb-5 mt-2" />
            <code>.bg-teal</code>
            <hr class="border-teal mb-5 mt-2" />
            <code>.bg-charcoal</code>
            <hr class="border-charcoal mb-5 mt-2" />

            <hr class="my-5" />

            <h3>Widths</h3>
            <p>
              Quick adjust an elements width to these predefined percentages, this can also be combined with the
              <code>.mx-auto</code>
              class to center the item.
            </p>
            <p>
              You can also apply these per breakpoint &amp; combine them using:
              <code>.w-sm-[5-100|auto]</code>
              ,
              <code>.w-md-[5-100|auto]</code>
              ,
              <code>.w-lg-[5-100|auto]</code>
              &amp; ,
              <code>.w-xl-[5-100|auto]</code>
            </p>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-5">
              <code>.w-5</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-10">
              <code>.w-10</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-15">
              <code>.w-15</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-20">
              <code>.w-20</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-25">
              <code>.w-25</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-30">
              <code>.w-30</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-35">
              <code>.w-35</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-40">
              <code>.w-40</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-45">
              <code>.w-45</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-50">
              <code>.w-50</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-55">
              <code>.w-55</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-60">
              <code>.w-60</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-65">
              <code>.w-65</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-70">
              <code>.w-70</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-75">
              <code>.w-75</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-80">
              <code>.w-80</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-85">
              <code>.w-85</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-90">
              <code>.w-90</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-95">
              <code>.w-95</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-100">
              <code>.w-100</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-auto">
              <code>.w-auto</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-5px">
              <code>.w-5px</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-5px">
              <code>.w-5px</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-15px">
              <code>.w-15px</code>
            </div>
            <div class="bg-primary p-1 mb-1 mx-auto text-center w-20px">
              <code>.w-20px</code>
            </div>

            <hr class="my-5" />

            <h3>Heights</h3>
            <p>Quick adjust an element heights to these predefined percentages.</p>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-5">
                <code>.h-5</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-10">
                <code>.h-10</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-15">
                <code>.h-15</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-20">
                <code>.h-20</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-25">
                <code>.h-25</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-30">
                <code>.h-30</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-35">
                <code>.h-35</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-40">
                <code>.h-40</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-45">
                <code>.h-45</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-50">
                <code>.h-50</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-55">
                <code>.h-55</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-60">
                <code>.h-60</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-65">
                <code>.h-65</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-70">
                <code>.h-70</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-75">
                <code>.h-75</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-80">
                <code>.h-80</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-85">
                <code>.h-85</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-90">
                <code>.h-90</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-95">
                <code>.h-95</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-100">
                <code>.h-100</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-5px">
                <code>.h-5px</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-5px">
                <code>.h-5px</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-15px">
                <code>.h-15px</code>
              </div>
            </div>
            <div class="bg-grey mb-3" style="height: 100px">
              <div class="bg-primary p-1 mb-1 my-auto text-center h-20px">
                <code>.h-20px</code>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Squares</h3>
            <p>
              You can make an element square with fixed width and height properties using the following classes:
              <code>sq-BREAKPOINT-(sm, md, lg, xl)</code>
            </p>
            <h6 class="mt-3">Square</h6>
            <div class="d-flex align-items-end">
              <div class="sq-sm bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center">.sq-sm</div>
              <div class="sq-md bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center">.sq-md</div>
              <div class="sq-lg bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center">.sq-lg</div>
              <div class="sq-xl bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center">.sq-xl</div>
            </div>
            <h6 class="mt-4">Rounded</h6>
            <div class="d-flex align-items-end">
              <div class="sq-sm bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center rounded-circle">.sq-sm</div>
              <div class="sq-md bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center rounded-circle">.sq-md</div>
              <div class="sq-lg bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center rounded-circle">.sq-lg</div>
              <div class="sq-xl bg-dark text-white text-xs mb-2 me-2 d-flex justify-content-center align-items-center rounded-circle">.sq-xl</div>
            </div>
            <p class="bg-light p-2 mt-3">
              You can alter these using the
              <code>$square-sizes</code>
              variable in the
              <code>/assets/scss/core/_variables.scss</code>
              file.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
