<!-- 
{
  "pageTitle": "Tabbable Navs",
  "pageKey": "elements-navs-tabbable",
  "pageActiveTrail": [
    "elements"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Tabbable Navs | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <h2 class="mb-4"><span class="me-2">Elements:</span><span class="fw-normal">Tabbable Navs</span></h2>

        <div class="row">
          <!-- @Sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">More Theme Elements</li>
              <li>
                <a href="elements-alerts.html" class="nav-link first"> Alerts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-animation.html" class="nav-link"> Animations <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-avatars.html" class="nav-link"> Avatars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-badges.html" class="nav-link"> Badges <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-button-groups.html" class="nav-link"> Button Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-buttons.html" class="nav-link"> Buttons <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cards.html" class="nav-link"> Cards <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-carousels.html" class="nav-link"> Carousels <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-collapse.html" class="nav-link"> Collapse / Accordions <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-colour-utils.html" class="nav-link"> Colours Utils <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-cookie-banners.html" class="nav-link"> Cookie Banners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-counters.html" class="nav-link"> Counters <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-ctas.html" class="nav-link"> Call To Action Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dividers.html" class="nav-link"> Dividers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-dropdowns.html" class="nav-link"> Dropdowns <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms.html" class="nav-link"> Forms <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-forms-input-groups.html" class="nav-link"> Forms Input Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="#elements-icons" data-bs-toggle="collapse" class="nav-link"> Icons <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="elements-icons">
                  <li><a href="elements-icons.html" class="nav-link"> Icon Utils/Overview </a></li>
                  <li><a href="elements-icons-bootstrap-icons.html" class="nav-link"> Icons: Bootstrap </a></li>
                  <li><a href="elements-icons-flags.html" class="nav-link"> Icons: Flags </a></li>
                  <li><a href="elements-icons-fontawesome.html" class="nav-link"> Icons: Font Awesome </a></li>
                  <li><a href="elements-icons-ionicons.html" class="nav-link"> Icons: Ionicons </a></li>
                  <li><a href="elements-icons-linearicons.html" class="nav-link"> Icons: Linearicons </a></li>
                  <li><a href="elements-icons-lineawesome.html" class="nav-link"> Icons: Line Awesome </a></li>
                </ul>
              </li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li>
                <a href="elements-list-groups.html" class="nav-link"> List Groups <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals.html" class="nav-link"> Modals <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-modals-onload.html" class="nav-link"> Modals Onload <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs.html" class="nav-link"> Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-navs-tabbable.html" class="nav-link active"> Tabbable Navs <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-overlays.html" class="nav-link"> Overlays <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-progressbars.html" class="nav-link"> Progress Bars <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-select-pickers.html" class="nav-link"> Select Picker <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-shadows.html" class="nav-link"> Shadows <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-social-media.html" class="nav-link"> Social Media Branding <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spacers.html" class="nav-link"> Spacers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-spinners.html" class="nav-link"> Spinners <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tables.html" class="nav-link"> Tables <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-toasts.html" class="nav-link"> Toasts <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-tooltips-popovers.html" class="nav-link"> Tooltips & Popovers <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-type-effect.html" class="nav-link"> Type Effect <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-typography.html" class="nav-link"> Typography <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-utils.html" class="nav-link"> Utilities <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="elements-video-blocks.html" class="nav-link"> Video Blocks <i class="fa fa-angle-right"></i> </a>
              </li>
              <li>
                <a href="page-titles.html" class="nav-link"> Page Titles <i class="fa fa-angle-right"></i> </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9">
            <!--@Elements: Tabbable Navs-->
            <!--@Element: Tabbable Navs-->
            <p>This page shows how to extend the <a href="./elements-navs.html">default tabs and pills</a> style navigation into Javascript based tabbable content.</p>

            <p>You can make tabs and pills use Javascript to create tabbable panes of local content by doing the following:</p>
            <ol>
              <li>
                Below the tabs add a wrapper element with the class
                <code>.tab-content</code>
                which contains the "tabbable panes" each of which require the class
                <code>.tab-pane</code>
                and an ID ie.
                <code>id="tab-1"</code>
                .
              </li>
              <li>
                Add a
                <code>data-bs-toggle="tab"</code>
                (for
                <code>.nav-tabs</code>
                ) or
                <code>data-bs-toggle="pill"</code>
                (for
                <code>.nav-pills</code>
                ) attribute to each
                <code>.nav-link</code>
                and also add a
                <code>href</code>
                or
                <code>data-bs-target</code>
                which points to the tab it should open when clicked ie.
                <code>href="#tab-1"</code>
                .
              </li>
              <li>
                Add a
                <code>.active</code>
                class to one of the
                <code>.nav-link</code>
                items and it@Elements: nd
                <code>.tab-pane</code>
                to set which tab is "active" on page load.
              </li>
            </ol>
            <h3 class="mt-4">Basic Tabbable Tabs</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs flex-column flex-lg-row" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-1" role="tab">Tab 1</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-2" role="tab">Tab 2</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-3" role="tab">Tab 3</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-4" role="tab">Tab 4</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content py-3">
              <div class="tab-pane active show" id="tab-1" role="tabpanel">
                <h4>Tab 1 Content</h4>
              </div>
              <div class="tab-pane" id="tab-2" role="tabpanel">
                <h4>Tab 2 Content</h4>
              </div>
              <div class="tab-pane" id="tab-3" role="tabpanel">
                <h4>Tab 3 Content</h4>
              </div>
              <div class="tab-pane" id="tab-4" role="tabpanel">
                <h4>Tab 4 Content</h4>
              </div>
            </div>
            <h3 class="mt-4">Basic Tabbable Pills</h3>
            <!-- Nav pills -->
            <ul class="nav nav-pills flex-column flex-lg-row" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="pill" href="#pill-1" role="tab">Pill 1</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#pill-2" role="tab">Pill 2</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#pill-3" role="tab">Pill 3</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" href="#pill-4" role="tab">Pill 4</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content py-3">
              <div class="tab-pane active" id="pill-1" role="tabpanel">
                <h4>Pill 1 Content</h4>
              </div>
              <div class="tab-pane" id="pill-2" role="tabpanel">
                <h4>Pill 2 Content</h4>
              </div>
              <div class="tab-pane" id="pill-3" role="tabpanel">
                <h4>Pill 3 Content</h4>
              </div>
              <div class="tab-pane" id="pill-4" role="tabpanel">
                <h4>Pill 4 Content</h4>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Boxed / In cards</h3>
            <h4>Tabs</h4>
            <div class="card">
              <div class="card-header border-bottom-0 bg-light">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item"><a class="nav-link active border-0" href="#card-tabs-1" data-bs-toggle="tab">Active</a></li>
                  <li class="nav-item"><a class="nav-link border-0" href="#card-tabs-2" data-bs-toggle="tab">Link</a></li>
                  <li class="nav-item"><a class="nav-link border-0 disabled" href="#" data-bs-toggle="tab">Disabled</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active show" id="card-tabs-1" role="tabpanel">
                    <h4 class="card-title">Tab 1</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  <div class="tab-pane" id="card-tabs-2" role="tabpanel">
                    <h4 class="card-title">Tab 2</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mt-4">Pills</h4>
            <div class="card">
              <div class="card-header bg-light">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item"><a class="nav-link active" href="#card-pills-1" data-bs-toggle="tab">Active</a></li>
                  <li class="nav-item"><a class="nav-link" href="#card-pills-2" data-bs-toggle="tab">Link</a></li>
                  <li class="nav-item"><a class="nav-link disabled" href="#" data-bs-toggle="tab">Disabled</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active show" id="card-pills-1" role="tabpanel">
                    <h4 class="card-title">Pill Tab 1</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                  <div class="tab-pane" id="card-pills-2" role="tabpanel">
                    <h4 class="card-title">Pill Tab 2</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Vertical Tabs</h3>
            <h4>Default</h4>
            <div class="row">
              <div class="col-sm-4">
                <ul class="nav nav-tabs flex-column">
                  <li class="nav-item"><a href="#vtab1" class="nav-link active" data-bs-toggle="tab">Tab 1</a></li>
                  <li class="nav-item"><a href="#vtab2" class="nav-link" data-bs-toggle="tab">Tab 2</a></li>
                  <li class="nav-item"><a href="#vtab3" class="nav-link" data-bs-toggle="tab">Tab 3</a></li>
                  <li class="nav-item"><a href="#vtab4" class="nav-link" data-bs-toggle="tab">Tab 4</a></li>
                </ul>
              </div>
              <div class="tab-content col-sm-8">
                <div class="tab-pane fade show active" id="vtab1">
                  <p>
                    Dignissim tincidunt mattis lorem, sagittis nisi, amet ut pulvinar lectus cursus ac! Enim turpis odio dis. Non ut vel, nisi dapibus? Velit augue tortor, ut ac ac
                    nec tortor nec, mauris massa.
                  </p>
                </div>
                <div class="tab-pane fade" id="vtab2">
                  <p>
                    Aliquet risus, penatibus, ac integer ultricies ultricies elementum augue proin habitasse placerat. Nunc habitasse duis, elementum, porttitor porta? Purus, ac
                    odio. Habitasse, egestas vut.
                  </p>
                </div>
                <div class="tab-pane fade" id="vtab3">
                  <p>
                    Turpis elit, egestas nec etiam! Porta parturient amet! Eros aenean sit lacus sagittis massa? Massa a nunc! Nisi vut! Lundium, dictumst, nunc enim, natoque, cras
                    nec, dictumst et rhoncus!
                  </p>
                </div>
                <div class="tab-pane fade" id="vtab4">
                  <p>Dignissim enim in vel urna tortor nascetur rhoncus parturient ultricies, purus lundium velit nec arcu et dolor vel.</p>
                </div>
              </div>
            </div>
            <h4 class="mt-4">Align Right</h4>
            <div class="row">
              <div class="col-sm-4 order-sm-2">
                <ul class="nav nav-tabs flex-column nav-tabs-right">
                  <li class="nav-item"><a href="#vtab-right1" class="nav-link active" data-bs-toggle="tab">Tab 1</a></li>
                  <li class="nav-item"><a href="#vtab-right2" class="nav-link" data-bs-toggle="tab">Tab 2</a></li>
                  <li class="nav-item"><a href="#vtab-right3" class="nav-link" data-bs-toggle="tab">Tab 3</a></li>
                  <li class="nav-item"><a href="#vtab-right4" class="nav-link" data-bs-toggle="tab">Tab 4</a></li>
                </ul>
              </div>
              <div class="tab-content col-sm-8 order-sm-1">
                <div class="tab-pane fade show active" id="vtab-right1">
                  <p>
                    Dignissim tincidunt mattis lorem, sagittis nisi, amet ut pulvinar lectus cursus ac! Enim turpis odio dis. Non ut vel, nisi dapibus? Velit augue tortor, ut ac ac
                    nec tortor nec, mauris massa.
                  </p>
                </div>
                <div class="tab-pane fade" id="vtab-right2">
                  <p>
                    Aliquet risus, penatibus, ac integer ultricies ultricies elementum augue proin habitasse placerat. Nunc habitasse duis, elementum, porttitor porta? Purus, ac
                    odio. Habitasse, egestas vut.
                  </p>
                </div>
                <div class="tab-pane fade" id="vtab-right3">
                  <p>
                    Turpis elit, egestas nec etiam! Porta parturient amet! Eros aenean sit lacus sagittis massa? Massa a nunc! Nisi vut! Lundium, dictumst, nunc enim, natoque, cras
                    nec, dictumst et rhoncus!
                  </p>
                </div>
                <div class="tab-pane fade" id="vtab-right4">
                  <p>Dignissim enim in vel urna tortor nascetur rhoncus parturient ultricies, purus lundium velit nec arcu et dolor vel.</p>
                </div>
              </div>
            </div>

            <hr class="my-5" />

            <h3>Custom active states</h3>
            <p>
              Add
              <code>data-bs-active-class="CLASSES"</code>
              to a
              <code>data-bs-toggle="tab"</code>
              element override the tab active classes. ie.
              <code>data-bs-active-class="bg-primary bg-op-6 v"</code>
            </p>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active bg-primary bg-op-6 text-white" href="#card-pills-1" data-bs-toggle="tab" data-bs-active-class="bg-primary bg-op-6 text-white">Link 1</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#card-pills-2" data-bs-toggle="tab" data-bs-active-class="bg-red bg-op-6 text-white">Link 2</a></li>
              <li class="nav-item"><a class="nav-link" href="#card-pills-2" data-bs-toggle="tab" data-bs-active-class="bg-purple bg-op-6 text-white">Link 3</a></li>
              <li class="nav-item"><a class="nav-link disabled" href="#" data-bs-toggle="tab" data-bs-active-class="bg-primary bg-op-6 text-white">Disabled</a></li>
            </ul>

            <hr class="my-5" />

            <h3>Fade effect</h3>
            <p>
              To make tabs fade in, add
              <code>.fade</code>
              to each
              <code>.tab-pane</code>
              . The first tab pane must also have
              <code>.show</code>
              to make the initial content visible.
            </p>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs flex-column flex-lg-row" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-fade-1" role="tab">Tab 1</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-fade-2" role="tab">Tab 2</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-fade-3" role="tab">Tab 3</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-fade-4" role="tab">Tab 4</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content py-1">
              <div class="tab-pane active fade show" id="tab-fade-1" role="tabpanel">
                <h4>Tab 1 Content</h4>
              </div>
              <div class="tab-pane fade" id="tab-fade-2" role="tabpanel">
                <h4>Tab 2 Content</h4>
              </div>
              <div class="tab-pane fade" id="tab-fade-3" role="tabpanel">
                <h4>Tab 3 Content</h4>
              </div>
              <div class="tab-pane fade" id="tab-fade-4" role="tabpanel">
                <h4>Tab 4 Content</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
