<!-- 
{
  "pageTitle": "Features",
  "pageKey": "features",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Features | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg">
        <!-- Features -->
        <div id="features" class="container py-4 py-lg-6">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
          <h2 class="text-center text-uppercase fw-bold my-0">Core Features</h2>
          <h5 class="text-center fw-light mt-2 mb-0 text-muted">Great features, great product!</h5>
          <hr class="mb-5 w-50 mx-auto" />
          <div class="row text-center">
            <div class="col-lg-4 py-1">
              <i class="la la-tachometer icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
              <h5 class="mt-1 op-8">Fully Optimized</h5>
              <p class="text-sm text-black-50">Brevitas neo occuro. Abico accumsan iriure luptatum mos olim valetudo.</p>
            </div>
            <div class="col-lg-4 py-1">
              <i class="la la-wrench icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
              <h5 class="mt-1 op-8">Free Support</h5>
              <p class="text-sm text-black-50">Abigo hendrerit humo molior nutus utrum verto ymo.</p>
            </div>
            <div class="col-lg-4 py-1">
              <i class="la la-rocket icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
              <h5 class="mt-1 op-8">Free Upgrades</h5>
              <p class="text-sm text-black-50">Esca iusto jumentum modo mos natu nostrud. Abbas augue consectetuer jus lenis molior roto ut vero wisi.</p>
            </div>
            <div class="col-lg-4 py-1">
              <i class="la la-area-chart icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.4"></i>
              <h5 class="mt-1 op-8">99.9% Uptime</h5>
              <p class="text-sm text-black-50">Comis hendrerit imputo ludus pala quia singularis velit verto.</p>
            </div>
            <div class="col-lg-4 py-1">
              <i class="la la-users icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.5"></i>
              <h5 class="mt-1 op-8">Multiuser</h5>
              <p class="text-sm text-black-50">Causa elit quis tego. Jumentum loquor suscipit. Iusto occuro usitas virtus.</p>
            </div>
            <div class="col-lg-4 py-1">
              <i class="la la-plug icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
              <h5 class="mt-1 op-8">Plug n play</h5>
              <p class="text-sm text-black-50">Ibidem laoreet occuro qui tego. Appellatio facilisi jugis odio persto sed.</p>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Flat grid</h3>
        <div class="row g-1 align-items-stretch">
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Fully Optimized-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-speedometer2 icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Fully Optimized</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Free Support-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-wrench icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Free Support</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Free Upgrades-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-lightning-charge icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Free Upgrades</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature 99.9% Uptime-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-clock-history icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">99.9% Uptime</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Multiuser-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-person-check icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Multiuser</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Plug n play-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-plug icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Plug n play</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Fully responsive-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-phone icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Fully responsive</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex align-items-stretch">
            <!--Feature Scalable-->
            <div class="py-2 px-6 text-center bg-light flex-grow-1 d-flex flex-column justify-content-center text-gray-600 text-hover-gray-800">
              <div class="align-self-center">
                <i class="bi-bar-chart-line icon-2x text-primary" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h5 class="mt-1 op-8">Scalable</h5>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Cards</h3>
        <div class="row gap-3 align-items-stretch">
          <div class="col-6 col-lg-3 d-flex flex-fill align-items-stretch">
            <div class="card rounded shadow-sm flex-grow-1">
              <div class="card-body text-center p-4">
                <i class="bi-speedometer2 icon-sq icon-2x text-primary border rounded-circle" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h4 class="mt-4 mb-3 text-gray-800">Fully Optimized</h4>
                <p class="mb-3">Augue caecus dolus duis nutus quae utrum.</p>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">Info more</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex flex-fill align-items-stretch">
            <div class="card rounded shadow-sm flex-grow-1">
              <div class="card-body text-center p-4">
                <i class="bi-wrench icon-sq icon-2x text-primary border rounded-circle" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h4 class="mt-4 mb-3 text-gray-800">Free Support</h4>
                <p class="mb-3">Dolus gravis luctus neque validus voco.</p>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">Info more</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex flex-fill align-items-stretch">
            <div class="card rounded shadow-sm flex-grow-1">
              <div class="card-body text-center p-4">
                <i class="bi-lightning-charge icon-sq icon-2x text-primary border rounded-circle" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h4 class="mt-4 mb-3 text-gray-800">Free Upgrades</h4>
                <p class="mb-3">Causa conventio jumentum ratis similis singularis tego vindico.</p>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">Info more</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 d-flex flex-fill align-items-stretch">
            <div class="card rounded shadow-sm flex-grow-1">
              <div class="card-body text-center p-4">
                <i class="bi-clock-history icon-sq icon-2x text-primary border rounded-circle" data-animate="fadeIn" data-animate-delay="0.6"></i>
                <h4 class="mt-4 mb-3 text-gray-800">99.9% Uptime</h4>
                <p class="mb-3">Appellatio augue autem consequat eros ille molior refoveo turpis vero.</p>
                <a href="#" class="fw-bold text-sm px-2 py-1 rounded bg-gray-200 bg-op-7 text-gray-800 bg-op-hover-9">Info more</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Cards horizontal</h3>
        <div class="row g-4 align-items-stretch">
          <div class="col-12 col-lg-4 d-flex align-items-stretch justify-content-between">
            <div class="card rounded border-primary border-op-2 bg-primary bg-op-1 text-primary shadow-sm mb-0 flex-grow-1">
              <div class="row g-0">
                <div class="col-4 col-sm-3 d-flex"><i class="bi-speedometer2 icon-sq icon-2x align-self-center" data-animate="fadeIn" data-animate-delay="0.6"></i></div>
                <div class="col-8 col-sm-9">
                  <div class="card-body bg-white">
                    <h5 class="mt-0 mb-2 text-gray-600">Fully Optimized</h5>
                    <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">Info more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-stretch justify-content-between">
            <div class="card rounded border-primary border-op-2 bg-primary bg-op-1 text-primary shadow-sm mb-0 flex-grow-1">
              <div class="row g-0">
                <div class="col-4 col-sm-3 d-flex"><i class="bi-wrench icon-sq icon-2x align-self-center" data-animate="fadeIn" data-animate-delay="0.6"></i></div>
                <div class="col-8 col-sm-9">
                  <div class="card-body bg-white">
                    <h5 class="mt-0 mb-2 text-gray-600">Free Support</h5>
                    <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">Info more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-stretch justify-content-between">
            <div class="card rounded border-primary border-op-2 bg-primary bg-op-1 text-primary shadow-sm mb-0 flex-grow-1">
              <div class="row g-0">
                <div class="col-4 col-sm-3 d-flex"><i class="bi-lightning-charge icon-sq icon-2x align-self-center" data-animate="fadeIn" data-animate-delay="0.6"></i></div>
                <div class="col-8 col-sm-9">
                  <div class="card-body bg-white">
                    <h5 class="mt-0 mb-2 text-gray-600">Free Upgrades</h5>
                    <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">Info more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-stretch justify-content-between">
            <div class="card rounded border-primary border-op-2 bg-primary bg-op-1 text-primary shadow-sm mb-0 flex-grow-1">
              <div class="row g-0">
                <div class="col-4 col-sm-3 d-flex"><i class="bi-clock-history icon-sq icon-2x align-self-center" data-animate="fadeIn" data-animate-delay="0.6"></i></div>
                <div class="col-8 col-sm-9">
                  <div class="card-body bg-white">
                    <h5 class="mt-0 mb-2 text-gray-600">99.9% Uptime</h5>
                    <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">Info more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-stretch justify-content-between">
            <div class="card rounded border-primary border-op-2 bg-primary bg-op-1 text-primary shadow-sm mb-0 flex-grow-1">
              <div class="row g-0">
                <div class="col-4 col-sm-3 d-flex"><i class="bi-person-check icon-sq icon-2x align-self-center" data-animate="fadeIn" data-animate-delay="0.6"></i></div>
                <div class="col-8 col-sm-9">
                  <div class="card-body bg-white">
                    <h5 class="mt-0 mb-2 text-gray-600">Multiuser</h5>
                    <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">Info more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 d-flex align-items-stretch justify-content-between">
            <div class="card rounded border-primary border-op-2 bg-primary bg-op-1 text-primary shadow-sm mb-0 flex-grow-1">
              <div class="row g-0">
                <div class="col-4 col-sm-3 d-flex"><i class="bi-plug icon-sq icon-2x align-self-center" data-animate="fadeIn" data-animate-delay="0.6"></i></div>
                <div class="col-8 col-sm-9">
                  <div class="card-body bg-white">
                    <h5 class="mt-0 mb-2 text-gray-600">Plug n play</h5>
                    <a href="#" class="fw-bold text-xs px-2 py-1 rounded bg-primary bg-op-1 text-primary bg-op-hover-2">Info more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Screenshot</h3>
        <div class="card p-5 rounded bg-white">
          <div class="row g-2 align-items-center">
            <div class="col-lg-6">
              <img src="./assets/img/screenshots/index-forum.png" class="img-fluid rounded-end-lg ms-lg-n5 border border-start-lg-0 shadow-sm" alt="Screenshot of layout" />
            </div>
            <div class="col-lg-6">
              <h6 class="text-purple text-uppercase mt-3 mt-lg-0">Features</h6>
              <h3>Impressive features & resources</h3>
              <p>Ea exputo ille magna usitas vero. Cogo consectetuer defui verto wisi. Comis cui exputo hendrerit similis.</p>
              <p>
                Letalis quia saepius. At ille occuro saluto. Abdo dolor gemino molior nutus patria quia refero sagaciter. Amet conventio esse ille lenis metuo torqueo vel vicis
                voco. Aliquam autem commoveo eum facilisis fere haero nostrud persto volutpat.
              </p>
              <a href="#" class="btn btn-lg btn-purple border-0 mt-4">Info more</a>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <h3>Bonus <span class="fw-normal text-muted">Features</span></h3>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <ul class="nav nav-tabs flex-column nav-tabs-bold">
              <li class="nav-item">
                <a href="#tab1" class="nav-link active py-3" data-bs-toggle="tab">
                  <span class="fw-bold">Mobile Friendly</span>
                  <small>Cause mobile matters</small>
                </a>
              </li>
              <li class="nav-item">
                <a href="#tab2" class="nav-link py-3" data-bs-toggle="tab">
                  <span class="fw-bold">24/7 Support</span>
                  <small>When you need it most</small>
                </a>
              </li>
              <li class="nav-item">
                <a href="#tab3" class="nav-link py-3" data-bs-toggle="tab">
                  <span class="fw-bold">Upgrade Assistance</span>
                  <small>FREE upgrades for life!</small>
                </a>
              </li>
              <li class="nav-item">
                <a href="#tab4" class="nav-link py-3" data-bs-toggle="tab">
                  <span class="fw-bold">99.9% Uptime</span>
                  <small>Rhoncus adipiscing</small>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content col-sm-8 col-md-8">
            <div class="feature tab-pane active col-sm-12 col-md-12" id="tab1">
              <h4 class="d-flex align-items-center"><i class="bi-phone fs-3 text-primary me-2" data-animate="fadeIn"></i> Mobile Friendly</h4>
              <p>Abigo autem commoveo decet exerci minim modo obruo quidne velit. Acsi dolor utinam. Lobortis nobis proprius quia refoveo zelus.</p>
              <p>
                Cogo facilisi gravis pagus. Genitus loquor praemitto probo quis refoveo tincidunt. Dignissim enim ex hendrerit ratis saluto ut. Abigo suscipit tum. Comis nulla odio
                sudo. Abbas meus neque olim pneum praesent saluto suscipere. Amet antehabeo brevitas pertineo virtus.
              </p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab2">
              <h4 class="d-flex align-items-center"><i class="bi-bar-chart-line fs-3 text-primary me-2" data-animate="fadeIn"></i> 24/7 Support</h4>
              <p>Dolore duis roto. Autem duis importunus jumentum occuro utrum valetudo vel zelus. Dignissim hendrerit ideo obruo rusticus te vulputate.</p>
              <p>
                Ex fere quia. Gravis nibh praemitto. Causa elit genitus ludus luptatum neo patria refoveo. Adipiscing at dignissim immitto letalis minim occuro sit suscipere tamen.
                Amet capto damnum ea elit ex tamen tincidunt utinam ymo. Cogo nostrud proprius saepius sino.
              </p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab3">
              <h4 class="d-flex align-items-center"><i class="bi-award fs-3 text-primary me-2" data-animate="fadeIn"></i> Upgrade Assistance</h4>
              <p>Ad cui eros et loquor nulla pala paratus quidem quidne. Abigo augue paulatim quibus ratis rusticus vereor.</p>
              <p>
                Enim exputo humo interdico jus nostrud pneum suscipit tamen. Antehabeo inhibeo pecus. Ad eligo exputo facilisis ludus nutus pneum validus vel. Adipiscing blandit
                comis importunus lenis nutus quadrum. Acsi dolore ex qui rusticus ullamcorper ut vel vulputate wisi.
              </p>
            </div>
            <div class="feature tab-pane col-sm-12 col-md-12" id="tab4">
              <h4 class="d-flex align-items-center"><i class="bi-clock-history fs-3 text-primary me-2" data-animate="fadeIn"></i> 99.9% Uptime</h4>
              <p>Dolor incassum nunc ratis. Abluo antehabeo blandit consequat defui eu pala probo wisi zelus. Dolore eligo ille mauris tum utinam ymo.</p>
              <p>
                Accumsan esse eu gilvus ludus modo pecus refoveo sagaciter. Haero hos iustum nibh ymo. Ea importunus incassum suscipit. Eum os valetudo. Comis consequat ea esca et
                turpis vel vulpes. Aliquam dolor nunc suscipit. Appellatio cogo enim importunus iriure molior olim utrum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
