<!-- 
{
  "pageTitle": "Footer Compact",
  "pageKey": "footer-compact",
  "pageActiveTrail": [
    "more",
    "footers"
  ],
  "footerType": "compact",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Footer Compact | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Footer Options</span>
              <a href="footer-compact.html" class="nav-link first active">Footer Compact <i class="fa fa-angle-right"></i></a>
              <a href="footer-compact-light.html" class="nav-link">Footer Compact Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-light.html" class="nav-link">Footer Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus.html" class="nav-link">Footer Menus <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus-light.html" class="nav-link">Footer Menus Light <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2><span>Footers:</span><span class="fw-normal">Footer Compact</span></h2>

            <p class="fw-bold"><a href="#footer">See demo below</a></p>
            <p>
              Abluo Acsi Aliquam Damnum Dolus Duis Facilisi Fere Feugiat Haero Hendrerit Iaceo Ibidem Illum Incassum Macto Magna Metuo Meus Natu Neo Nunc Odio Os Paulatim Pertineo
              Pneum Praemitto Probo Quadrum Quis Refero Roto Scisco Si Tego Tum Typicus Uxor Validus Vero Ymo
            </p>
            <p>
              Abbas Abluo Autem Commoveo Dolus Ibidem Immitto In Lobortis Lucidus Luptatum Mauris Melior Meus Obruo Oppeto Pagus Paulatim Probo Qui Quidem Refoveo Sagaciter Sed
              Tamen Tum Turpis Ut Utinam Vel Veniam
            </p>
            <p>
              Abico Abluo Adipiscing Capto Commoveo Esca Euismod Fere Gilvus Huic Lenis Luctus Mos Nostrud Obruo Olim Paulatim Pecus Proprius Refero Tincidunt Ullamcorper Veniam
              Venio Vulputate
            </p>
            <p>
              Abdo Aliquip Amet Aptent Cui Dolus Esse Et Eu Euismod Huic Humo Imputo Jumentum Laoreet Lucidus Macto Meus Neo Nimis Pagus Patria Praemitto Probo Quia Quidne Roto Te
              Tego Ullamcorper Utrum Valde Volutpat
            </p>
            <p>
              Abbas Appellatio Comis Dolor Ea Eros Feugiat Gemino Gilvus Humo Iaceo Iriure Jumentum Luctus Macto Neo Nulla Pala Paulatim Persto Praesent Quia Quis Refero Sit
              Suscipit Velit Volutpat Vulpes Vulputate Ymo
            </p>
            <p>
              Accumsan Aliquam Aliquip Aptent Bene Cogo Decet Dignissim Dolor Duis Et Euismod Incassum Interdico Iusto Iustum Letalis Macto Minim Obruo Paratus Patria Plaga Populus
              Praemitto Praesent Quidem Refero Roto Sino Turpis Vel Virtus Volutpat
            </p>
            <p>
              Acsi Adipiscing Aliquip Antehabeo At Blandit Commoveo Consequat Damnum Distineo Duis Et Exputo Gilvus Gravis Hos Iaceo Ideo Ille Illum Imputo Incassum Lobortis
              Lucidus Macto Melior Metuo Natu Nobis Nutus Occuro Odio Persto Proprius Qui Saluto Si Sino Suscipere Tum Ulciscor Utrum Vel Vero
            </p>
            <p>
              Abbas Abdo Ad Aptent Brevitas Comis Diam Eros Esca Euismod Ex Gravis Haero Illum Inhibeo Iusto Lobortis Ludus Macto Minim Neo Nostrud Obruo Occuro Quadrum Quae Quibus
              Sudo Te Usitas Utrum Valde Validus Vindico Vulputate
            </p>
            <p>
              Caecus Capto Comis Consequat Damnum Distineo Dolore Duis Erat Esse Eum Gilvus Interdico Jus Loquor Luctus Meus Olim Oppeto Paratus Praesent Probo Quae Quidne Refero
              Sed Singularis Sino Ulciscor Valde Vel Velit Venio
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
