<!-- 
{
  "pageTitle": "Footer Light",
  "pageKey": "footer-light",
  "pageActiveTrail": [
    "more",
    "footers"
  ],
  "footerColour": "light",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-light",
  "footerBtnsClass": "text-dark",
  "footerClass": "footer-light bg-light text-dark op-6",
  "footerHighlightClass": "text-dark op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Footer Light | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Footer Options</span>
              <a href="footer-compact.html" class="nav-link first">Footer Compact <i class="fa fa-angle-right"></i></a>
              <a href="footer-compact-light.html" class="nav-link">Footer Compact Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-light.html" class="nav-link active">Footer Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus.html" class="nav-link">Footer Menus <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus-light.html" class="nav-link">Footer Menus Light <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2><span>Footers:</span><span class="fw-normal">Footer Light</span></h2>

            <p class="fw-bold"><a href="#footer">See demo below</a></p>
            <p>
              Abigo Accumsan Adipiscing Aliquam Augue Autem Commoveo Cui Diam Enim Et Exputo Immitto Incassum Inhibeo Interdico Jumentum Laoreet Lobortis Loquor Obruo Paulatim
              Populus Proprius Quidem Refero Similis Sino Torqueo Uxor Valetudo Vel Veniam Venio Vindico Voco
            </p>
            <p>
              Abdo Amet Appellatio Blandit Comis Consectetuer Consequat Elit Et Facilisis Iaceo Ibidem Ille Incassum Jumentum Laoreet Lenis Nimis Nisl Nostrud Nulla Nunc Obruo
              Occuro Oppeto Os Paulatim Pneum Saluto Sudo Ulciscor Ullamcorper Vereor Wisi
            </p>
            <p>
              Abbas Abico Ad Adipiscing Appellatio Brevitas Commoveo Consequat Defui Eros Facilisi Facilisis Imputo In Iustum Letalis Lucidus Molior Mos Os Plaga Praemitto Proprius
              Qui Quis Scisco Suscipit Te Tincidunt Ulciscor Vicis
            </p>
            <p>
              At Causa Consequat Distineo Enim Exerci Exputo Facilisi Fere Genitus Ille Immitto Iusto Iustum Laoreet Lobortis Lucidus Meus Modo Mos Odio Rusticus Saepius Tation Te
              Tego Tincidunt Turpis Usitas Validus Vero
            </p>
            <p>
              Bene Comis Commoveo Cui Damnum Enim Exputo Huic Ibidem Importunus Imputo Jugis Lobortis Melior Nimis Pagus Pecus Praesent Probo Refero Si Sudo Tamen Turpis Valetudo
              Vero Ymo
            </p>
            <p>
              Abico At Augue Conventio Dolore Elit Exerci Ibidem Iriure Jumentum Luctus Metuo Pala Populus Praemitto Praesent Quia Sagaciter Saluto Secundum Sit Tego Typicus
              Valetudo Vel Venio Verto Virtus Wisi Ymo
            </p>
            <p>
              Abbas Abico Abigo Abluo Aliquam Amet Augue Bene Brevitas Causa Commodo Commoveo Diam Enim Esca Et Exputo Fere Feugiat Gilvus Haero Humo Illum Importunus In Iusto
              Jugis Jus Lenis Melior Molior Mos Natu Neo Neque Nibh Nobis Occuro Paratus Pecus Persto Premo Proprius Quia Roto Rusticus Saepius Singularis Sit Sudo Te Tego
              Tincidunt Torqueo Tum Usitas Ut Vel Wisi
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
