<!-- 
{
  "pageTitle": "Footer Menus",
  "pageKey": "footer-menus",
  "pageActiveTrail": [
    "more",
    "footers"
  ],
  "footerType": "menus",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Footer Menus | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Footer Options</span>
              <a href="footer-compact.html" class="nav-link first">Footer Compact <i class="fa fa-angle-right"></i></a>
              <a href="footer-compact-light.html" class="nav-link">Footer Compact Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-light.html" class="nav-link">Footer Light <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus.html" class="nav-link active">Footer Menus <i class="fa fa-angle-right"></i></a>
              <a href="footer-menus-light.html" class="nav-link">Footer Menus Light <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h2><span>Footers:</span><span class="fw-normal">Footer Menus</span></h2>

            <p class="fw-bold"><a href="#footer">See demo below</a></p>
            <p>
              Blandit Commodo Commoveo Conventio Cui Defui Erat Eu Gravis Hos Immitto Importunus Interdico Jumentum Macto Melior Metuo Nimis Nulla Premo Probo Quadrum Quibus Quis
              Refero Refoveo Rusticus Saluto Suscipere Tamen Tation Te Tincidunt Tum Usitas Vereor Verto
            </p>
            <p>
              Abbas Caecus Dignissim Ea Elit Eum Fere Feugiat Huic Interdico Jumentum Loquor Minim Molior Natu Pecus Praemitto Premo Quadrum Saluto Sino Suscipit Tincidunt Typicus
              Vero
            </p>
            <p>
              Antehabeo Appellatio Augue Caecus Capto Cogo Commodo Consectetuer Decet Diam Distineo Dolor Ea Eu Euismod Eum Fere Gravis Ille Iusto Jugis Loquor Ludus Magna Mauris
              Mos Occuro Pneum Populus Quadrum Quibus Roto Rusticus Sed Singularis Sino Sudo Suscipere Te Tego Turpis Utrum Ymo
            </p>
            <p>Abluo Acsi Ad Aliquam Aliquip Caecus Cogo Distineo Enim Esca Et Ex Haero Importunus Inhibeo Jumentum Macto Nisl Populus Quidem Te Tego Uxor Velit Vulpes Wisi</p>
            <p>
              Abbas Abigo Aptent Bene Blandit Caecus Camur Damnum Dignissim Dolore Ea Eros Et Eum Exerci Facilisi Facilisis Haero Humo Iaceo Ibidem Importunus Laoreet Melior Metuo
              Mos Nibh Nutus Oppeto Pagus Paratus Pecus Proprius Qui Quidne Saluto Secundum Sino Tamen Te Tincidunt Typicus Ullamcorper Usitas Valde Vel Veniam Virtus
            </p>
            <p>
              Accumsan Augue Bene Causa Dolor Erat Esse Exerci Haero Hos Iaceo Importunus Inhibeo Iustum Lenis Luptatum Minim Nisl Nobis Nunc Paratus Pneum Populus Quis Rusticus
              Sed Similis Ulciscor Valde Veniam Ymo
            </p>
            <p>
              Abdo Accumsan Acsi Adipiscing Aliquam Antehabeo Aptent At Camur Capto Causa Cogo Commodo Consectetuer Consequat Conventio Decet Defui Diam Dignissim Dolore Ea Enim
              Esca Eum Facilisis Fere Genitus Gilvus Hendrerit Hos Ibidem Imputo In Inhibeo Interdico Iustum Jumentum Laoreet Lobortis Luctus Luptatum Mauris Modo Molior Natu Nobis
              Nostrud Nutus Obruo Oppeto Os Paratus Pecus Pertineo Pneum Praemitto Praesent Premo Quae Quidne Ratis Refero Saepius Sit Suscipere Te Tego Turpis Ulciscor Ut Utinam
              Utrum Veniam Vero Vindico Volutpat Zelus
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-menus.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
