<!-- 
{
  "pageTitle": "Header Elements",
  "pageKey": "header-elements",
  "pageActiveTrail": [
    "more",
    "headers"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Header Elements | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Header Options</span>
              <a href="header-bottom.html" class="nav-link first">Header Bottom <i class="fa fa-angle-right"></i></a>
              <a href="header-collapse-menu.html" class="nav-link">Header Collapse Menu <i class="fa fa-angle-right"></i></a>
              <a href="header-collapse-menu-responsive.html" class="nav-link">Header Responsive Collapse Menu <i class="fa fa-angle-right"></i></a>
              <a href="header-dark.html" class="nav-link">Header Dark <i class="fa fa-angle-right"></i></a>
              <a href="header-elements.html" class="nav-link active">Header Elements <i class="fa fa-angle-right"></i></a>
              <a href="header-fullwidth.html" class="nav-link">Header Full Width <i class="fa fa-angle-right"></i></a>
              <a href="header-nav-left.html" class="nav-link">Header Nav Left <i class="fa fa-angle-right"></i></a>
              <a href="header-navbar-below.html" class="nav-link">Header Navbar Below <i class="fa fa-angle-right"></i></a>
              <a href="header-offcanvas.html" class="nav-link">Header Off Canvas <i class="fa fa-angle-right"></i></a>
              <a href="header-transparent.html" class="nav-link">Header Transparent <i class="fa fa-angle-right"></i></a>
              <a href="header-transparent-dark.html" class="nav-link">Header Transparent Dark <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <h3 class="mt-5">Header Sticky Elements</h3>
            <p>
              AppStrap version 3.0.9 added a load of new "sticky" classes to allow for better and flexible control over header elements when the header becomes sticky. This is
              includes changing the header colour scheme, background & text colours as well as spacing.
            </p>
            <p>
              In classes are prefixed with
              <code>.sticky-</code>
              and can be applied to the
              <code>.header</code>
              element directly or any other elements within a sticky wrapper. This gives you a whole new level of freedom to control you header styling.
            </p>
            <h4 class="mt-4">Sticky display utilities</h4>
            <p>Control or override element display properties on sticky using the following display classes:</p>
            <p>
              Classes avaliable are:
              <code>.sticky-d-none</code>
              ,
              <code>.sticky-d-flex</code>
              ,
              <code>.sticky-d-inline-flex</code>
              ,
              <code>.sticky-d-table</code>
              ,
              <code>.sticky-d-table-cell</code>
              ,
              <code>.sticky-d-block</code>
              ,
              <code>.sticky-d-inline</code>
              , or
              <code>.sticky-d-inline-block</code>
            </p>
            <p>
              All classes are responsive using the following pattern allowing you to show and hide elements per breakpoint:
              <code>.sticky-d-(sm|md|lg|xl)-(none|flex|inline-flex|table|table-cell|block|inline-block)</code>
            </p>
            <h4 class="mt-4">Sticky header effects</h4>
            <p>Work in-progress: documentation on these is coming soon. See index-magazine.html header for an example.</p>
            <h4 class="mt-4">Sticky header schemes</h4>
            <p>You now have the following sticky classes to set the header colour scheme on sticky:</p>
            <p>
              <code>.sticky-header-light</code>
              = light background & dark content &
              <code>.sticky-header-dark</code>
              = dark background & light content.
            </p>
            <h4 class="mt-4">Sticky background, text & border colours</h4>
            <p>
              Prefix any of the <a href="elements-colour-utils.html">colour utilities</a> with
              <code>.sticky-</code>
              to override & set colours on sticky. You can also combine this with Sticky header schemes above.
            </p>
            <h4 class="mt-4">Sticky opacity utilities</h4>
            <p>
              Prefix any of the <a href="elements-colour-utils.html">opacity utilities</a> with
              <code>.sticky-</code>
              to override & set opacity, background opacity & border opacity on sticky.
            </p>
            <h4 class="mt-4">Sticky spacing</h4>
            <p>
              Prefix any of the <a href="elements-spacers.html">spacer utilities</a> with
              <code>.sticky-</code>
              to override & set element margins & padding on sticky.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
