<!-- 
{
  "pageTitle": "Header Collapse Menu",
  "pageKey": "header-collapse-menu",
  "pageActiveTrail": [
    "more",
    "headers"
  ],
  "headerShoppingCart": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowClass": "d-block py-0",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0 py-3 py-md-3",
  "navbarContainerClass": "container",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Header Collapse Menu | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed "@partials/header.html" %} {% block headerNavbarNav %} {% endblock %} {% block navbarSecondaryContent %}
      <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#header-collapse-menu">Menu <i class="bi-list"></i></a>
      {% endblock %} {% block headerNavbarBelow %}
      <!-- Uses Bootstrap collapse functionality to show menu -->
      <div id="header-collapse-menu" class="header-navbar-after collapse bg-gray-700">
        <div class="container py-4">
          <h4 class="text-white">Site Menu</h4>
          <div class="row">
            <div class="col-6 col-md-3">
              <a href="elements-alerts.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Alerts</a>
              <a href="elements-animation.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Animations</a>
              <a href="elements-avatars.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Avatars</a>
              <a href="elements-badges.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Badges</a>
              <a href="elements-button-groups.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Button Groups</a>
              <a href="elements-buttons.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Buttons</a>
              <a href="elements-cards.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Cards</a>
              <a href="elements-carousels.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Carousels</a>
              <a href="elements-collapse.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Collapse / Accordions</a>
              <a href="elements-colour-utils.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Colours Utils</a>
              <a href="elements-cookie-banners.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Cookie Banners</a>
            </div>
            <div class="col-6 col-md-3">
              <a href="elements-counters.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Counters</a>
              <a href="elements-ctas.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Call To Action Blocks</a>
              <a href="elements-dividers.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Dividers</a>
              <a href="elements-dropdowns.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Dropdowns</a>
              <a href="elements-forms.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Forms</a>
              <a href="elements-forms-input-groups.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Forms Input Groups</a>
              <a href="elements-icons.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons</a>
              <a href="elements-icons-bootstrap-icons.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons: Bootstrap</a>
              <a href="elements-icons-flags.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons: Flags</a>
              <a href="elements-icons-fontawesome.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons: Font Awesome</a>
              <a href="elements-icons-ionicons.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons: Ionicons</a>
            </div>
            <div class="col-6 col-md-3">
              <a href="elements-icons-linearicons.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons: Linearicons</a>
              <a href="elements-icons-lineawesome.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Icons: Line Awesome</a>
              <a href="elements-list-groups.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">List Groups</a>
              <a href="elements-modals.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Modals</a>
              <a href="elements-modals-onload.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Modals Onload</a>
              <a href="elements-navs.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Navs</a>
              <a href="elements-navs-tabbable.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Tabbable Navs</a>
              <a href="elements-overlays.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Overlays</a>
              <a href="elements-progressbars.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Progress Bars</a>
              <a href="elements-select-pickers.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Select Picker</a>
              <a href="elements-shadows.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Shadows</a>
            </div>
            <div class="col-6 col-md-3">
              <a href="elements-social-media.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Social Media Branding</a>
              <a href="elements-spacers.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Spacers</a>
              <a href="elements-spinners.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Spinners</a>
              <a href="elements-tables.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Tables</a>
              <a href="elements-toasts.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Toasts</a>
              <a href="elements-tooltips-popovers.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Tooltips & Popovers</a>
              <a href="elements-type-effect.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Type Effect</a>
              <a href="elements-typography.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Typography</a>
              <a href="elements-utils.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Utilities</a>
              <a href="elements-video-blocks.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Video Blocks</a>
              <a href="page-titles.html" class="d-block text-white op-7 transition text-decoration-none text-hover-underline op-hover-9">Page Titles</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of .header-navbar-after content -->
      {% endblock %} {% endembed %}
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <div class="row">
          <!-- sidebar -->
          <div class="col-md-3">
            <!-- Sections Menu-->
            <div class="nav nav-section-menu">
              <span class="nav-header">Header Options</span>
              <a href="header-bottom.html" class="nav-link first">Header Bottom <i class="fa fa-angle-right"></i></a>
              <a href="header-collapse-menu.html" class="nav-link active">Header Collapse Menu <i class="fa fa-angle-right"></i></a>
              <a href="header-collapse-menu-responsive.html" class="nav-link">Header Responsive Collapse Menu <i class="fa fa-angle-right"></i></a>
              <a href="header-dark.html" class="nav-link">Header Dark <i class="fa fa-angle-right"></i></a>
              <a href="header-elements.html" class="nav-link">Header Elements <i class="fa fa-angle-right"></i></a>
              <a href="header-fullwidth.html" class="nav-link">Header Full Width <i class="fa fa-angle-right"></i></a>
              <a href="header-nav-left.html" class="nav-link">Header Nav Left <i class="fa fa-angle-right"></i></a>
              <a href="header-navbar-below.html" class="nav-link">Header Navbar Below <i class="fa fa-angle-right"></i></a>
              <a href="header-offcanvas.html" class="nav-link">Header Off Canvas <i class="fa fa-angle-right"></i></a>
              <a href="header-transparent.html" class="nav-link">Header Transparent <i class="fa fa-angle-right"></i></a>
              <a href="header-transparent-dark.html" class="nav-link">Header Transparent Dark <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!--main content-->
          <div class="col-md-9">
            <p>See example above.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
