<!-- 
{
  "pageTitle": "Knowledgebase",
  "pageKey": "index-knowledgebase",
  "pageActiveTrail": [
    "more"
  ],
  "headerOffcanvas": false,
  "footerType": "compact",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Knowledgebase | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% include '@partials/header.html' with { siteSlogan: 'Knowledgebase' } %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <div
        class="bg-dark py-5 py-lg-10 overlay overlay-blue overlay-op-6"
        data-bg-img="https://images.unsplash.com/photo-1522597383520-d55a61a4356d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a40213d166331e2efb11e8b4ba22cc54&auto=format&fit=crop&w=1440&q=80"
      >
        <div class="container clearfix text-center">
          <h3 class="display-4 fw-light text-white mb-4">We're here to <strong>help</strong>!</h3>
          <form class="mb-2 w-auto w-lg-50 mx-auto position-relative d-flex align-items-center bg-white rounded">
            <i class="fa fa-search text-gray-500 icon-1x ms-3 d-none d-lg-block"></i>
            <input class="form-control form-control-lg form-control-transparent text-center text-lg-start ps-lg-4 py-lg-3" type="text" placeholder="Ask your question" />
          </form>
          <ul class="nav justify-content-center text-sm">
            <li class="nav-item text-white op-7">Popular help topics:</li>
            <li class="nav-item"><a class="nav-link py-0 px-2 text-white op-9" href="#">Drupal 8</a></li>
            <li class="nav-item"><a class="nav-link py-0 px-2 text-white op-9" href="#">Bootstrap Themes</a></li>
            <li class="nav-item"><a class="nav-link py-0 px-2 text-white op-9" href="#">Upgrades</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container py-6">
        <!-- Featured tabs -->
        <div class="row text-center">
          <div class="col-lg-6 px-lg-5 py-lg-4">
            <img src="./assets/img/icons/programming.svg" class="icon-2x icon-svg mb-2" alt="Developer icon" />
            <h4>Answers for developers</h4>
            <p class="text-sm text-dark op-8">Code snippets, downloads, API documentation & more. Get your developer answers here.</p>
            <a href="#" class="btn btn-light shadow-sm">Browse articles <i class="ion-chevron-right text-primary ms-1"></i></a>
          </div>
          <div class="col-lg-6 px-lg-5 py-lg-4">
            <img src="./assets/img/icons/sitebuilder.svg" class="icon-2x icon-svg mb-2" alt="Sitebuilder icon" />
            <h4>Answers for sitebuilders</h4>
            <p class="text-sm text-dark op-8">Howto videos, free downloads, API documentation & more. Get your sitebuilder answers here.</p>
            <a href="#" class="btn btn-light shadow-sm">Browse articles <i class="ion-chevron-right text-primary ms-1"></i></a>
          </div>
          <div class="col-lg-6 px-lg-5 py-lg-4">
            <img src="./assets/img/icons/sale.svg" class="icon-2x icon-svg mb-2" alt="Advertiser icon" />
            <h4>Answers for advertisers</h4>
            <p class="text-sm text-dark op-8">Code snippets, downloads, API documentation & more. Get your developer answers here.</p>
            <a href="#" class="btn btn-light shadow-sm">Browse articles <i class="ion-chevron-right text-primary ms-1"></i></a>
          </div>
          <div class="col-lg-6 px-lg-5 py-lg-4">
            <img src="./assets/img/icons/journal.svg" class="icon-2x icon-svg mb-2" alt="Publisher icon" />
            <h4>Answers for publishers</h4>
            <p class="text-sm text-dark op-8">Howto videos, free downloads, API documentation & more. Get your sitebuilder answers here.</p>
            <a href="#" class="btn btn-light shadow-sm">Browse articles <i class="ion-chevron-right text-primary ms-1"></i></a>
          </div>
        </div>
      </div>

      <!-- FAQ accordion -->
      <div class="bg-primary bg-op-1 py-7 position-relative">
        <!-- FAQ background image -->
        <img src="./assets/img/icons/businessman.svg" class="d-none d-lg-block icon-5x icon-svg me-2 me-xl-6 op-2 position-absolute bottom-0 end-0" alt="Developer icon" />
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h4 class="py-2 px-4 mx-auto bg-primary bg-op-2 text-primary d-inline-block rounded-30 lh-1 mb-4">FAQs</h4>
              <h5>Got questions? Don't worry we're here to help!</h5>
            </div>
            <div class="col-md-5 col-xl-6">
              <div class="accordion accordion-flush" id="faq-accordion" role="tablist" aria-multiselectable="true">
                <!-- Card FAQ 1 -->
                <div class="accordion-item mb-2 border-0 bg-white bg-op-8">
                  <p class="accordion-header border-0" role="tab" id="headingOne">
                    <a
                      data-bs-toggle="collapse"
                      data-bs-parent="#faq-accordion"
                      href="#faq-collapse1"
                      aria-expanded="false"
                      aria-controls="collapse1"
                      class="accordion-button shadow-none collapsed text-primary"
                    >
                      FAQ #1
                    </a>
                  </p>
                  <div id="faq-collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-bs-parent="#faq-accordion">
                    <div class="accordion-body op-8">
                      Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.
                    </div>
                  </div>
                </div>
                <!-- Card FAQ 2 -->
                <div class="accordion-item mb-2 border-0 bg-white bg-op-8">
                  <p class="accordion-header border-0" role="tab" id="headingOne">
                    <a
                      data-bs-toggle="collapse"
                      data-bs-parent="#faq-accordion"
                      href="#faq-collapse2"
                      aria-expanded="false"
                      aria-controls="collapse2"
                      class="accordion-button shadow-none collapsed text-primary"
                    >
                      FAQ #2
                    </a>
                  </p>
                  <div id="faq-collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-bs-parent="#faq-accordion">
                    <div class="accordion-body op-8">
                      Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.
                    </div>
                  </div>
                </div>
                <!-- Card FAQ 3 -->
                <div class="accordion-item mb-2 border-0 bg-white bg-op-8">
                  <p class="accordion-header border-0" role="tab" id="headingOne">
                    <a
                      data-bs-toggle="collapse"
                      data-bs-parent="#faq-accordion"
                      href="#faq-collapse3"
                      aria-expanded="false"
                      aria-controls="collapse3"
                      class="accordion-button shadow-none collapsed text-primary"
                    >
                      FAQ #3
                    </a>
                  </p>
                  <div id="faq-collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-bs-parent="#faq-accordion">
                    <div class="accordion-body op-8">
                      Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.
                    </div>
                  </div>
                </div>
                <!-- Card FAQ 4 -->
                <div class="accordion-item mb-2 border-0 bg-white bg-op-8">
                  <p class="accordion-header border-0" role="tab" id="headingOne">
                    <a
                      data-bs-toggle="collapse"
                      data-bs-parent="#faq-accordion"
                      href="#faq-collapse4"
                      aria-expanded="false"
                      aria-controls="collapse4"
                      class="accordion-button shadow-none collapsed text-primary"
                    >
                      FAQ #4
                    </a>
                  </p>
                  <div id="faq-collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-bs-parent="#faq-accordion">
                    <div class="accordion-body op-8">
                      Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.
                    </div>
                  </div>
                </div>
                <!-- Card FAQ 5 -->
                <div class="accordion-item mb-2 border-0 bg-white bg-op-8">
                  <p class="accordion-header border-0" role="tab" id="headingOne">
                    <a
                      data-bs-toggle="collapse"
                      data-bs-parent="#faq-accordion"
                      href="#faq-collapse5"
                      aria-expanded="false"
                      aria-controls="collapse5"
                      class="accordion-button shadow-none collapsed text-primary"
                    >
                      FAQ #5
                    </a>
                  </p>
                  <div id="faq-collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-bs-parent="#faq-accordion">
                    <div class="accordion-body op-8">
                      Camur eros et inhibeo interdico ludus mos nobis sit. Cui iriure pecus praesent torqueo. Bene esse interdico iriure mauris paulatim uxor.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MDRs -->
      <div class="bg-dark py-6">
        <div class="container">
          <!-- Promos -->
          <div class="row text-start">
            <div class="col-lg-6 d-lg-flex mb-3 mb-lg-0">
              <div class="p-2 flex-ew flex-valign-b text-center">
                <h2 class="text-white my-0 display-1 fw-bold"><span data-bs-toggle="count-to" data-to="32898" data-from="0">0</span>k</h2>
                <p class="text-sm text-uppercase py-2 px-4 mx-auto bg-primary bg-op-2 text-white d-inline-flex align-items-center rounded-30 lh-1">
                  <i class="ion-android-happy icon-2x text-primary me-2"></i> Happy Customers
                </p>
              </div>
            </div>
            <div class="col-lg-6 d-lg-flex mb-3 mb-lg-0">
              <div class="p-2 flex-ew flex-valign-b text-center">
                <h2 class="text-white my-0 display-1 fw-bold"><span data-bs-toggle="count-to" data-to="8980" data-from="0">0</span>k</h2>
                <p class="text-sm text-uppercase py-2 px-4 mx-auto bg-primary bg-op-2 text-white d-inline-flex align-items-center rounded-30 lh-1">
                  <i class="ion-android-done-all icon-2x text-primary me-2"></i> Cases Answered
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MDRs -->
      <div class="bg-white py-6 position-relative">
        <img src="./assets/img/icons/magic-wand.svg" class="d-none d-lg-block icon-4x icon-svg me-7 op-1 position-absolute bottom-0 end-0" alt="Wand icon" />
        <div class="container text-center">
          <h4 class="py-2 px-4 mx-auto bg-primary bg-op-2 text-primary d-inline-block rounded-30 lh-1 mb-4">Quick Tips</h4>
          <div class="row">
            <!-- Tip 1 -->
            <div class="col-md-4">
              <div class="card card-body text-center rounded-10 shadow-sm bg-white border-grey border">
                <i class="ion-android-bulb icon-2x text-primary"></i>
                <p class="card-text op-7">An excellent tip in life to not eat yellow snow.</p>
              </div>
            </div>
            <!-- Tip 2 -->
            <div class="col-md-4">
              <div class="card card-body text-center rounded-10 shadow-sm bg-white border-grey border">
                <i class="ion-android-checkmark-circle icon-2x text-primary"></i>
                <p class="card-text op-7">An excellent tip in life to not eat yellow snow.</p>
              </div>
            </div>
            <!-- Tip 3 -->
            <div class="col-md-4">
              <div class="card card-body text-center rounded-10 shadow-sm bg-white border-grey border">
                <i class="ion-android-done-all icon-2x text-primary"></i>
                <p class="card-text op-7">An excellent tip in life to not eat yellow snow.</p>
              </div>
            </div>
            <!-- Tip 4 -->
            <div class="col-md-4">
              <div class="card card-body text-center rounded-10 shadow-sm bg-white border-grey border">
                <i class="ion-android-globe icon-2x text-primary"></i>
                <p class="card-text op-7">An excellent tip in life to not eat yellow snow.</p>
              </div>
            </div>
            <!-- Tip 5 -->
            <div class="col-md-4">
              <div class="card card-body text-center rounded-10 shadow-sm bg-white border-grey border">
                <i class="ion-android-happy icon-2x text-primary"></i>
                <p class="card-text op-7">An excellent tip in life to not eat yellow snow.</p>
              </div>
            </div>
            <!-- Tip 6 -->
            <div class="col-md-4">
              <div class="card card-body text-center rounded-10 shadow-sm bg-white border-grey border">
                <i class="ion-android-options icon-2x text-primary"></i>
                <p class="card-text op-7">An excellent tip in life to not eat yellow snow.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
    </div>
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
