<!-- 
{
  "pageTitle": "Photographer Homepage",
  "pageKey": "index-photographer",
  "pageActiveTrail": [
    "index"
  ],
  "footerType": "compact",
  "headerOffcanvas": false,
  "headerShoppingCart": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Photographer Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' with { siteSlogan: 'Photography' } %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 clearfix">
      <!-- Latest photos -->
      <div class="container py-4 py-lg-6">
        <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
        <h2 class="text-font-slab text-center text-uppercase mt-0 mb-5">Latest <span class="fw-bold">Photos</span></h2>
        <!-- Photos grid -->
        <div id="cbp-loader" class="loading mb-3"></div>
        <div data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.cbp-caption", "gallery":{"enabled":true}}'>
          <div class="cbp fade" data-bs-toggle="cbp" data-settings='{"loader": "#cbp-loader"}'>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/424/1200/900?image=424" class="cbp-caption" data-title="Photo 425 by Stephy Pariande via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/424/400/300?image=424"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 1</div>
                      <div class="cbp-l-caption-desc">by Stephy Pariande via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/425//?image=425" class="cbp-caption" data-title="Photo 426 by Daniel Ruswick via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/425/400/300?image=425"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 2</div>
                      <div class="cbp-l-caption-desc">by Daniel Ruswick via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":800,"height": 600}'>
              <a href="https://picsum.photos/id/426/1200/800?image=426" class="cbp-caption" data-title="Photo 427 by Ales Krivec via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/426/800/600?image=426"
                    alt=""
                    width="800"
                    height="600"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 3</div>
                      <div class="cbp-l-caption-desc">by Ales Krivec via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/427/1200/800?image=427" class="cbp-caption" data-title="Photo 428 by James Douglas via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/427/400/300?image=427"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 4</div>
                      <div class="cbp-l-caption-desc">by James Douglas via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/428/1200/750?image=428" class="cbp-caption" data-title="Photo 429 by Thong Vo via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/428/400/300?image=428"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 5</div>
                      <div class="cbp-l-caption-desc">by Thong Vo via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/429/1200/675?image=429" class="cbp-caption" data-title="Photo 430 by Glen Carrie via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/429/400/300?image=429"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 6</div>
                      <div class="cbp-l-caption-desc">by Glen Carrie via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/430/1200/800?image=430" class="cbp-caption" data-title="Photo 431 by Carli Jean via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/430/400/300?image=430"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 7</div>
                      <div class="cbp-l-caption-desc">by Carli Jean via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/431/1200/800?image=431" class="cbp-caption" data-title="Photo 432 by Carli Jean via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/431/400/300?image=431"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 8</div>
                      <div class="cbp-l-caption-desc">by Carli Jean via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/432/1200/800?image=432" class="cbp-caption" data-title="Photo 433 by Michael Hull via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/432/400/300?image=432"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 9</div>
                      <div class="cbp-l-caption-desc">by Michael Hull via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/433/1200/800?image=433" class="cbp-caption" data-title="Photo 434 by Thomas Lefebvre via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/433/400/300?image=433"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 10</div>
                      <div class="cbp-l-caption-desc">by Thomas Lefebvre via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/434/1200/795?image=434" class="cbp-caption" data-title="Photo 435 by Ales Krivec via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/434/400/300?image=434"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 11</div>
                      <div class="cbp-l-caption-desc">by Ales Krivec via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/435//?image=435" class="cbp-caption" data-title="Photo 436 by chancema via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/435/400/300?image=435"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 12</div>
                      <div class="cbp-l-caption-desc">by chancema via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":800,"height": 600}'>
              <a href="https://picsum.photos/id/436/1200/798?image=436" class="cbp-caption" data-title="Photo 437 by Lucas Theis via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/436/800/600?image=436"
                    alt=""
                    width="800"
                    height="600"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 13</div>
                      <div class="cbp-l-caption-desc">by Lucas Theis via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/437/1200/790?image=437" class="cbp-caption" data-title="Photo 438 by Bonnie Meisels via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/437/400/300?image=437"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 14</div>
                      <div class="cbp-l-caption-desc">by Bonnie Meisels via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/439/1200/800?image=439" class="cbp-caption" data-title="Photo 440 by Matthew Wiebe via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/439/400/300?image=439"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 15</div>
                      <div class="cbp-l-caption-desc">by Matthew Wiebe via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/440/1200/800?image=440" class="cbp-caption" data-title="Photo 441 by Artur Pokusin via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/440/400/300?image=440"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 16</div>
                      <div class="cbp-l-caption-desc">by Artur Pokusin via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/441/1200/797?image=441" class="cbp-caption" data-title="Photo 442 by David Marcu via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/441/400/300?image=441"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 17</div>
                      <div class="cbp-l-caption-desc">by David Marcu via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="cbp-item" data-css='{"width":400,"height": 300}'>
              <a href="https://picsum.photos/id/442/1200/793?image=442" class="cbp-caption" data-title="Photo 443 by Sylwia Bartyzel via Unsplash">
                <div class="cbp-caption-defaultWrap">
                  <img
                    src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-cbp-src="https://picsum.photos/id/442/400/300?image=442"
                    alt=""
                    width="400"
                    height="300"
                  />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Photo 18</div>
                      <div class="cbp-l-caption-desc">by Sylwia Bartyzel via Unsplash</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4 my-lg-6" />
      <!-- Collections -->
      <div class="container py-4 pt-lg-6 pb-lg-8">
        <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
        <h2 class="text-font-slab text-center text-uppercase mt-0 mb-5">Photo <span class="fw-bold">Collections</span></h2>
        <div
          class="cbp"
          data-bs-toggle="cbp"
          data-settings='{ "layoutMode":"grid", "sortToPreventGaps": false, "gapHorizontal": 15, "gapVertical": 15, "mediaQueries": [ { "width": "800", "cols": "3" }, { "width": "480", "cols": "2" }, { "width": 0, "cols": 1 } ] }'
        >
          <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.2">
            <div class="flex-ew">
              <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.html -->
              <a href="ajax/photo-collection-portraits.html" class="cbp-caption cbp-singlePage" data-title="Portraits" rel="nofollow">
                <div
                  class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign"
                  data-bg-img="./assets/img/homes/collection-portraits.jpg"
                >
                  <h2 class="text-white text-uppercase mb-0 text-font-slab">Portraits</h2>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto border-primary" />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Portraits</div>
                      <div class="cbp-l-caption-desc">Something something</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.3">
            <div class="flex-ew">
              <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.html -->
              <a href="ajax/photo-collection-weddings.html" class="cbp-caption cbp-singlePage" data-title="Weddings" rel="nofollow">
                <div
                  class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign"
                  data-bg-img="./assets/img/homes/collection-weddings.jpg"
                >
                  <h2 class="text-white text-uppercase mb-0 text-font-slab">Weddings</h2>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto border-primary" />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Weddings</div>
                      <div class="cbp-l-caption-desc">Something something</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.4">
            <div class="flex-ew">
              <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.html -->
              <a href="ajax/photo-collection-landscapes.html" class="cbp-caption cbp-singlePage" data-title="Landscapes" rel="nofollow">
                <div
                  class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign"
                  data-bg-img="./assets/img/homes/collection-landscapes.jpg"
                >
                  <h2 class="text-white text-uppercase mb-0 text-font-slab">Landscapes</h2>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto border-primary" />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Landscapes</div>
                      <div class="cbp-l-caption-desc">Something something</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.5">
            <div class="flex-ew">
              <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.html -->
              <a href="ajax/photo-collection-sports.html" class="cbp-caption cbp-singlePage" data-title="Sports" rel="nofollow">
                <div class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign" data-bg-img="./assets/img/homes/collection-sports.jpg">
                  <h2 class="text-white text-uppercase mb-0 text-font-slab">Sports</h2>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto border-primary" />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Sports</div>
                      <div class="cbp-l-caption-desc">Something something</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.6">
            <div class="flex-ew">
              <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.html -->
              <a href="ajax/photo-collection-food.html" class="cbp-caption cbp-singlePage" data-title="Food" rel="nofollow">
                <div class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign" data-bg-img="./assets/img/homes/collection-food.jpg">
                  <h2 class="text-white text-uppercase mb-0 text-font-slab">Food</h2>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto border-primary" />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Food</div>
                      <div class="cbp-l-caption-desc">Something something</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="cbp-item d-lg-flex mb-3" data-animate="fadeIn" data-animate-delay="0.7">
            <div class="flex-ew">
              <!-- singlePage content is loaded via ajax by adding a URL to the file containing the content in the href="FILE-WITH-CONTENT.html -->
              <a href="ajax/photo-collection-fashion.html" class="cbp-caption cbp-singlePage" data-title="Fashion" rel="nofollow">
                <div
                  class="cbp-caption-defaultWrap text-center px-3 py-7 overlay overlay-gradient overlay-op-6 flex-valign"
                  data-bg-img="./assets/img/homes/collection-fashion.jpg"
                >
                  <h2 class="text-white text-uppercase mb-0 text-font-slab">Fashion</h2>
                  <hr class="hr-lg mt-2 mb-0 w-20 mx-auto border-primary" />
                </div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">Fashion</div>
                      <div class="cbp-l-caption-desc">Something something</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- About -->
      <div class="bg-dark text-white">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-lg-6 divider-diagonal divider-diagonal-r divider-dark overlay overlay-gradient overlay-op-6"
              data-bg-img="./assets/img/homes/photographer.jpg"
              data-animate="fadeIn"
              data-animate-delay="0.2"
            ></div>
            <div class="col-lg-4 py-7" data-animate="fadeIn" data-animate-delay="0.4">
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
              <h2 class="display-4 text-font-slab text-white text-uppercase mt-0 mb-3 op-6">About Me</h2>
              <p>Abbas augue decet patria verto virtus wisi. Capto consequat ludus suscipere suscipit. Gravis pecus probo velit. Defui nutus verto wisi.</p>
              <p>Enim minim velit. Abbas adipiscing antehabeo cui ea mauris pneum qui scisco usitas. Dolor gilvus iustum jugis metuo singularis ut.</p>
              <hr class="my-4 hr-white op-1" />
              <div class="row">
                <div class="col-md-3 text-sm">Portraits</div>
                <div class="col-md-9">
                  <div class="progress mb-3">
                    <div class="progress-bar" data-bs-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-3 text-sm">Weddings</div>
                <div class="col-md-9">
                  <div class="progress mb-3">
                    <div class="progress-bar" data-bs-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-3 text-sm">Groups</div>
                <div class="col-md-9">
                  <div class="progress mb-3">
                    <div class="progress-bar" data-bs-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col-md-3 text-sm">Sports</div>
                <div class="col-md-9">
                  <div class="progress mb-3">
                    <div class="progress-bar" data-bs-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Info bar -->
      <div id="info" class="py-5 bg-white" data-animate="fadeIn" data-animate-delay="0.4">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 mb-4 mb-lg-0">
              <h4 class="text-uppercase">Latest Blog Posts</h4>
              <!-- Blog post 1 -->
              <div class="row">
                <div class="col-4">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                </div>
                <div class="col-8">
                  <p class="my-0 text-xs">2017/03/24</p>
                  <h5 class="my-0">
                    <a href="#">Eu Natu Turpis Ullamcorper</a>
                  </h5>
                </div>
              </div>
              <hr class="hr-light my-2" />
              <!-- Blog post 2 -->
              <div class="row">
                <div class="col-4">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                </div>
                <div class="col-8">
                  <p class="my-0 text-xs">2017/03/24</p>
                  <h5 class="my-0">
                    <a href="#">Enim Secundum Singularis Utinam</a>
                  </h5>
                </div>
              </div>
              <hr class="hr-light my-2" />
              <!-- Blog post 3 -->
              <div class="row">
                <div class="col-4">
                  <div class="blog-media">
                    <a
                      href="blog-post<?php echo OUTPUT_FILE_TYPE; ?>
                      "
                    >
                      <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture of frog by Ben Fredericson" class="img-fluid rounded" />
                    </a>
                  </div>
                </div>
                <div class="col-8">
                  <p class="my-0 text-xs">2017/03/24</p>
                  <h5 class="my-0">
                    <a href="#">Abluo Antehabeo Loquor Vindico</a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <h4 class="text-uppercase">Get Intouch</h4>
              <form id="contact-form" action="#">
                <div class="mb-3">
                  <label class="visually-hidden" for="contact-name">Name</label>
                  <input type="text" class="form-control form-control-transparent" id="contact-name" placeholder="Name" />
                  <hr class="hr-inverse mx-auto mt-1 mb-0" />
                </div>
                <div class="mb-3">
                  <label class="visually-hidden" for="contact-email">Email</label>
                  <input type="email" class="form-control form-control-transparent" id="contact-email" placeholder="Email" />
                  <hr class="hr-inverse mx-auto mt-1 mb-0" />
                </div>
                <div class="mb-3">
                  <label class="visually-hidden" for="contact-message">Message</label>
                  <textarea rows="5" class="form-control form-control-transparent" id="contact-message" placeholder="Message"></textarea>
                  <hr class="hr-inverse mx-auto mt-1 mb-0" />
                </div>
                <input type="button" class="btn btn-dark btn-lg" value="Send Message" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
