<!-- 
{
  "pageTitle": "Event Homepage",
  "pageKey": "index-event",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "colourScheme": "purple",
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "mobileMenuType": "collapse",
  "footerType": "compact",
  "mobileMenuTarget": "#submenu",
  "mobileMenuBtnText": "",
  "headerNavbarNavVrHide": true,
  "bodyClass": "header-ontop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMegaMenuClass": "text-light",
  "dropdownMenuClass": " bg-gray-800 dropdown-menu-dark",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "py-4",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1 text-light op-8",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-4",
  "navbarClass": "position-absolute w-100 navbar-dark bg-dark bg-md-transparent transition border-bottom border-primary border-op-4 sticky-bg-dark sticky-bg-op-9",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0  ms-md-auto  bg-md-transparent",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-md-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block bg-white",
  "onepagerNavClass": "link-effect-slideup py-md-4",
  "searchBtnClass": "fs-5 order-4 p-1 text-light op-8",
  "siteSloganClass": "d-none d-xl-block text-white op-7"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Event Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %} data-offset-elements="#navbar-header">
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Event Theme' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0 ms-md-auto bg-md-transparent">
        <!-- one pager navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#speakers" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-slideup py-md-4">
              <span class="nav-link-inner" data-title="Speakers">Speakers</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-slideup py-md-4">
              <span class="nav-link-inner" data-title="About">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#venue" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-slideup py-md-4">
              <span class="nav-link-inner" data-title="Venue">Venue</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#schedule" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-slideup py-md-4">
              <span class="nav-link-inner" data-title="Schedule">Schedule</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#gallery" data-bs-toggle="scroll-link" class="nav-link position-relative link-effect-slideup py-md-4">
              <span class="nav-link-inner" data-title="Gallery">Gallery</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block navbarSecondaryContent %}<a
        href="#pricing"
        data-bs-toggle="scroll-link"
        class="btn btn-primary btn-sm d-none d-lg-block fw-bold px-lg-3 py-lg-2 ms-lg-3"
        >Register</a
      >{% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height add the class vh-lg-100 -->
      <div
        class="vh-lg-100 overlay overlay-op-6 text-start d-flex align-items-end"
        data-animate="fadeIn"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/index-event/banner-1.jpg,assets/img/index-event/banner-2.jpg,assets/img/index-event/banner-3.jpg"
      >
        <div data-scroll="scrollax" class="container-xl px-3 py-5 py-lg-7" data-animate="fadeIn" data-animate-delay="0.4">
          <h2 class="display-4 text-white fw-bold text-letter-spacing-xs text-uppercase mt-6 mt-lg-7">UIConf 2025</h2>
          <h3 class="text-white op-9 fw-normal op-9">
            An exquisite web conference that inspires and entertains.
            <br />
            <span class="text-sm text-white">November 13th - 15th 2025.</span>
          </h3>
          <div class="mt-4">
            <a href="#pricing" class="btn btn-primary fw-bold" data-bs-toggle="scroll-link" data-animate="fadeIn" data-animate-delay="0.6">Reserve Your Seat</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Countdown -->
    <div class="bg-primary py-4">
      <div class="container-xl text-white d-lg-flex justify-content-center">
        <h3 class="my-lg-0 me-lg-3 fw-normal">
          Just <span class="countdown fw-bold" data-countdown="2025/09/26 09:28:42" data-countdown-format="%-D %!D:day,days;"></span> to go!
        </h3>
        <a href="#" class="btn btn-primary btn-invert shadow-sm fw-bold">Reserve Your Seat</a>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!-- Speakers -->
      <div id="speakers" class="py-4 py-lg-7 bg-light">
        <div class="container-xl">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary fw-bold">Key Speakers</h2>
          <p class="text-sm text-dark mt-0 mb-5">Listen. Learn. Get inspired from our special speakers.</p>
          <div class="row">
            <div class="col-6 col-lg-3 d-flex">
              <div class="card mb-3 border-0 flex-ew">
                <div class="card-effect card-effect-front-to-back">
                  <img class="card-img-top img-fluid" src="./assets/img/index-event/speaker-1.jpg" alt="Bruce Lawson" />
                  <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                    <div>
                      <a href="#" class="text-white"> <i class="ion-social-twitter icon-1x icon-sq"></i> </a>
                      <a href="#" class="text-white"> <i class="ion-social-instagram icon-1x icon-sq"></i> </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-1">Bruce Lawson</h5>
                  <p class="card-text text-uppercase text-dark text-xs">Developer / <span class="text-primary">Digital Ocean</span></p>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3 d-flex">
              <div class="card mb-3 border-0 flex-ew">
                <div class="card-effect card-effect-front-to-back">
                  <img class="card-img-top img-fluid" src="./assets/img/index-event/speaker-2.jpg" alt="Jesscia Lawrence" />
                  <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                    <div>
                      <a href="#" class="text-white"> <i class="ion-social-twitter icon-1x icon-sq"></i> </a>
                      <a href="#" class="text-white"> <i class="ion-social-linkedin icon-1x icon-sq"></i> </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-1">Jesscia Lawrence</h5>
                  <p class="card-text text-uppercase text-dark text-xs">Javascript Dev. / <span class="text-primary">Amazon</span></p>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3 d-flex">
              <div class="card mb-3 border-0 flex-ew">
                <div class="card-effect card-effect-front-to-back">
                  <img class="card-img-top img-fluid" src="./assets/img/index-event/speaker-3.jpg" alt="Vitaly Friedmann" />
                  <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                    <div>
                      <a href="#" class="text-white"> <i class="ion-social-twitter icon-1x icon-sq"></i> </a>
                      <a href="#" class="text-white"> <i class="ion-social-instagram icon-1x icon-sq"></i> </a>
                      <a href="#" class="text-white"> <i class="ion-social-facebook icon-1x icon-sq"></i> </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-1">Vitaly Friedmann</h5>
                  <p class="card-text text-uppercase text-dark text-xs">UX Designer / <span class="text-primary">Booking.com</span></p>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3 d-flex">
              <div class="card mb-3 border-0 flex-ew">
                <div class="card-effect card-effect-front-to-back">
                  <img class="card-img-top img-fluid" src="./assets/img/index-event/speaker-4.jpg" alt="Anthony Jonas" />
                  <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                    <div>
                      <a href="#" class="text-white"> <i class="ion-social-twitter icon-1x icon-sq"></i> </a>
                      <a href="#" class="text-white"> <i class="ion-social-instagram icon-1x icon-sq"></i> </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-1">Anthony Jonas</h5>
                  <p class="card-text text-uppercase text-dark text-xs">Founder / <span class="text-primary">AJ Prod.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About/Whos it for -->
      <div id="about" class="bg-white">
        <div class="container-xl py-7">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary fw-bold">Who is this Conference for</h2>
          <p class="text-sm text-dark mt-0 mb-5">Everyone is welcome.</p>
          <div class="row">
            <div class="col-6 col-lg-3">
              <i class="lnr lnr-graduation-hat d-block text-dark icon-5x op-8 mb-3"></i>
              <h5 class="text-dark op-9">College Graduates</h5>
              <p class="text-sm text-dark op-8">Ad adipiscing ibidem meus. Accumsan laoreet luptatum meus pecus quadrum roto secundum tego tincidunt.</p>
            </div>
            <div class="col-6 col-lg-3">
              <i class="lnr lnr-camera d-block text-dark icon-5x op-8 mb-3"></i>
              <h5 class="text-dark op-9">Photographers</h5>
              <p class="text-sm text-dark op-8">Euismod hendrerit ille quadrum qui refero. Damnum dolor qui quidem vereor.</p>
            </div>
            <div class="col-6 col-lg-3">
              <i class="lnr lnr-briefcase d-block text-dark icon-5x op-8 mb-3"></i>
              <h5 class="text-dark op-9">Business People</h5>
              <p class="text-sm text-dark op-8">Antehabeo dolor eum genitus gravis ille suscipit vel vereor vero.</p>
            </div>
            <div class="col-6 col-lg-3">
              <i class="lnr lnr-users d-block text-dark icon-5x op-8 mb-3"></i>
              <h5 class="text-dark op-9">Support Assistant</h5>
              <p class="text-sm text-dark op-8">Adipiscing duis eum facilisi iusto laoreet metuo vindico vulpes.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Venue -->
      <div
        id="venue"
        class="bg-black overlay overlay-op-8 py-6"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/index-event/venue-1.jpg,assets/img/index-event/venue-2.jpg,assets/img/index-event/venue-3.jpg"
      >
        <div class="container-xl">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-white fw-bold">Venue</h2>
          <p class="text-sm text-white op-6 mt-0 mb-5">Classy location in the heart of the city.</p>
          <div class="row text-white">
            <div class="col-lg-6">
              <p>
                UI Conf 2017 will be taking place at Koko Club London, very central location on London Street, the city's most famous thoroughfare which runs, much as it has for
                more than three centuries, from Piata Victoriei in the north of the city all the way down to Piata Natiunilor Unite and the Dambovita river.
              </p>
            </div>
            <div class="col-lg-3 text-center">
              <i class="lnr lnr-map-marker d-block icon-3x mb-3"></i>
              <p>
                Main Principal Conference
                <br />
                10th Street 14580 London UK
              </p>
            </div>
            <div class="col-lg-3 text-center">
              <i class="lnr lnr-phone-handset d-block icon-3x mb-3"></i>
              <p>
                09-800 555-3312
                <br />
                09-800 555-3319
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- schedule -->
      <div id="schedule" class="bg-white">
        <div class="container-xl py-7">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary fw-bold">Schedule</h2>
          <p class="text-sm text-dark mt-0 mb-5">There's time and place for everything.</p>
          <!-- Days -->
          <div class="row">
            <div class="col-lg-4 mb-3">
              <h4 class="mt-0 mb-3 text-dark op-8 fw-bold">Friday, Nov 13th</h4>
              <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 10:00</span> - Registration</p>
                </li>
                <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-1-item-2">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                    <span class="text-primary fw-bold op-8" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5">Now</span> - Jesscia Lawrence
                  </p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2">Talk: Ninja coding / <span class="text-primary">Room 31</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 - 13:00</span> - Lunch Break</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-1-item-4">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 - 15:00</span> - Jesscia Lawrence</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-4">Talk: NodeJs for newbies / <span class="text-primary">Room 112</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 - 16:00</span> - Coffee Break</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-1-item-6">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 - 18:00</span> - Jesscia Lawrence</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-1-item-6">Talk: Ninja coding / <span class="text-primary">Room 31</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00 - 23:00</span> - After conference</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 mb-3">
              <h4 class="mt-0 mb-3 text-dark op-8 fw-bold">Saturday, Nov 14th</h4>
              <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 10:00</span> - Registration</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-2-item-2">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:00 - 12:00</span> - Jesscia Lawrence</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-2-item-2">Talk: NodeJs for newbies / <span class="text-primary">Room 112</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 - 13:00</span> - Lunch Break</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-2-item-4">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 - 15:00</span> - Vitaly Friedmann</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-2-item-4">Talk: Mobile design / <span class="text-primary">Room 31</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 - 16:00</span> - Coffee Break</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-2-item-6">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 - 18:00</span> - Vitaly Friedmann</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-2-item-6">Talk: Wireframing / <span class="text-primary">Room 19</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00 - 23:00</span> - After conference</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 mb-3">
              <h4 class="mt-0 mb-3 text-dark op-8 fw-bold">Sunday, Nov 15th</h4>
              <ul class="list-timeline list-timeline-primary">
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">09:00 - 10:00</span> - Registration</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-3-item-2">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">10:00 - 12:00</span> - Jesscia Lawrence</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-3-item-2">Talk: NodeJs for newbies / <span class="text-primary">Room 112</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">12:00 - 13:00</span> - Lunch Break</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-3-item-4">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">13:00 - 15:00</span> - Jesscia Lawrence</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-3-item-4">Talk: NodeJs for newbies / <span class="text-primary">Room 112</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">15:00 - 16:00</span> - Coffee Break</p>
                </li>
                <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-bs-toggle="collapse" data-bs-target="#day-3-item-6">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">16:00 - 18:00</span> - Jesscia Lawrence</p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8" id="day-3-item-6">Talk: Ninja coding / <span class="text-primary">Room 31</span></p>
                </li>
                <li class="list-timeline-item p-0 pb-3 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">18:00 - 23:00</span> - After conference</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Gallery -->
      <div id="gallery" class="bg-light">
        <div class="container-xl py-7">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary fw-bold">Gallery</h2>
          <p class="text-sm text-dark mt-0 mb-5">Shots from last years event.</p>
          <div class="row g-0" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.gallery-trigger", "gallery":{"enabled":true}}'>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/1048/300/200?image=1048" data-bs-toggle="blazy" alt="Photo 1048" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/1048/1146/764?image=1048" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/1033/300/200?image=1033" data-bs-toggle="blazy" alt="Photo 1033" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/1033/1067/711?image=1033" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/1031/300/200?image=1031" data-bs-toggle="blazy" alt="Photo 1031" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/1031/1169/657?image=1031" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/1032/300/200?image=1032" data-bs-toggle="blazy" alt="Photo 1032" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/1032/1117/698?image=1032" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/635/300/200?image=635" data-bs-toggle="blazy" alt="Photo 635" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/635/1076/717?image=635" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/590/300/200?image=590" data-bs-toggle="blazy" alt="Photo 590" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/590/1032/688?image=590" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/395/300/200?image=395" data-bs-toggle="blazy" alt="Photo 395" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/395/1007/671?image=395" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://picsum.photos/id/378/300/200?image=378" data-bs-toggle="blazy" alt="Photo 378" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <a href="https://picsum.photos/id/378/1149/766?image=378" class="text-white gallery-trigger"> <i class="ion-ios-search-strong icon-1x"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-0" />
      <!-- Pricing/join -->
      <div id="pricing" class="bg-light">
        <div class="container-xl py-7">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary fw-bold">Pricing</h2>
          <p class="text-sm text-dark mt-0 mb-3">Affordable for every wallet.</p>
          <!-- Mouthly / yearly price -->
          <div class="nav nav-pills justify-content-center" role="tablist">
            <a
              href="#"
              class="nav-link text-uppercase fw-bold px-4 active bg-primary text-white"
              id="price-monthly"
              data-bs-toggle="class"
              data-bs-class-target='{"#price-monthly":{"actions":{"add":"bg-primary text-white active"}}, "#price-yearly":{"actions":{"remove":"bg-primary text-white", "add":"text-primary"}}, ".price-early-bird":{"actions":{"remove":"d-none"}},".price-standard":{"actions":{"add":"d-none"}}}'
              >Early Bird</a
            >
            <a
              href="#"
              class="nav-link text-uppercase fw-bold px-4 text-primary"
              id="price-yearly"
              data-bs-toggle="class"
              data-bs-class-target='{"#price-monthly":{"actions":{"remove":"bg-primary text-white active", "add":"text-primary"}}, "#price-yearly":{"actions":{"add":"bg-primary text-white"}}, ".price-early-bird":{"actions":{"add":"d-none"}},".price-standard":{"actions":{"remove":"d-none"}}}'
              >Standard</a
            >
          </div>
          <!-- Pricing stack -->
          <div class="row pricing-stack mt-3">
            <div class="col-md-4 d-flex">
              <div class="card border-0 text-center flex-ew">
                <div class="bg-primary py-4 text-white">
                  <h4 class="my-0">Conference</h4>
                  <h2 class="price-digits display-4 price-early-bird fw-bold my-0">$199</h2>
                  <h2 class="price-digits display-4 price-early-bird fw-bold price-standard d-none my-0">$298</h2>
                  <span class="price-extra d-block text-sm">per person</span>
                </div>
                <div class="card-body">
                  <p class="text-sm mt-0 mb-4 text-light-dark op-8">
                    Come and be part of the most important web event in London, on the weekend of 13-15 November. A full day of inspiring and technical talks delivered by worldwide
                    respected web professionals.
                  </p>
                  <a href="#" class="btn btn-primary px-5 fw-bold text-uppercase">Buy Ticket</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex">
              <div class="card border-0 text-center flex-ew" id="pricing-pro">
                <div class="bg-primary py-4 text-white">
                  <h4 class="my-0">Workshops</h4>
                  <h2 class="price-digits display-4 price-early-bird fw-bold my-0">$299</h2>
                  <h2 class="price-digits display-4 price-early-bird fw-bold price-standard d-none my-0">$448</h2>
                  <span class="price-extra d-block text-sm">per person</span>
                </div>
                <div class="card-body">
                  <p class="text-sm mt-0 mb-4 text-light-dark op-8">
                    Come and be part of the most important web event in London, on the weekend of 13-15 November. A full day of inspiring and technical talks delivered by worldwide
                    respected web professionals.
                  </p>
                  <a href="#" class="btn btn-primary px-5 fw-bold text-uppercase">Buy Ticket</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-flex">
              <div class="card border-0 text-center flex-ew">
                <div class="bg-primary py-4 text-white">
                  <h4 class="my-0">Conference + Workshops</h4>
                  <h2 class="price-digits display-4 price-early-bird fw-bold my-0">$399</h2>
                  <h2 class="price-digits display-4 price-early-bird fw-bold price-standard d-none my-0">$598</h2>
                  <span class="price-extra d-block text-sm">per person</span>
                </div>
                <div class="card-body">
                  <p class="text-sm mt-0 mb-4 text-light-dark op-8">
                    Come and be part of the most important web event in London, on the weekend of 13-15 November. A full day of inspiring and technical talks delivered by worldwide
                    respected web professionals.
                  </p>
                  <a href="#" class="btn btn-primary px-5 fw-bold text-uppercase">Buy Ticket</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-0" />
      <!-- Early bird MDR -->
      <div
        class="alert rounded-0 w-100 w-lg-30 mb-0 mb-lg-4 me-lg-4 p-2 p-lg-4 position-fixed zindex-20 bottom-0 start-0 end-0 scroll-state-hidden bg-dark bg-op-9 text-center"
        data-scroll="scroll-state"
        data-scroll-amount="500"
        data-scroll-setting='{"effectIn":"fadeInUp", "effectOut":"fadeOutDown", "effectDuration":"0.3"}'
      >
        <a href="#" data-bs-dismiss="alert" aria-label="Close" class="position-absolute end-0 top-0 text-white op-7"><i class="ion-ios-close-empty icon-1x icon-sq"></i></a>
        <p class="d-block me-lg-3 text-white text-uppercase my-0 fw-bold">Early bird catches the worm!</p>
        <p class="d-block text-sm text-white op-8 my-0">Early bird tickets just $19 until August 19th</p>
        <a href="#pricing" data-bs-toggle="scroll-link" class="mt-3 btn btn-sm btn-secondary border-0 px-3 fw-bold text-uppercase">Sign Up Now!</a>
      </div>
      <!-- Sponsors -->
      <div id="sponsors" class="position-relative">
        <div class="container-xl py-5">
          <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary fw-bold">Sponsors</h2>
          <p class="text-sm text-dark mt-0 mb-5">Making the event happen.</p>
          <div class="bg-light p-1">
            <div class="row g-1">
              <div class="col-6 col-lg-3">
                <!--Customer 1-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-1.png" alt="Customer 1" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 2-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-2.png" alt="Customer 2" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 3-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-3.png" alt="Customer 3" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 4-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-4.png" alt="Customer 4" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 5-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-5.png" alt="Customer 5" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 6-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-6.png" alt="Customer 6" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 7-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-7.png" alt="Customer 7" class="img-fluid py-4" />
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <!--Customer 8-->
                <div class="bg-white py-2 px-6">
                  <img src="./assets/img/customers/customer-8.png" alt="Customer 8" class="img-fluid py-4" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
