<!-- 
{
  "pageTitle": "Music Homepage",
  "pageKey": "index-music",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "colourScheme": "red",
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "footerType": "compact",
  "mobileMenuTarget": "#submenu",
  "mobileMenuBtnText": "",
  "headerNavbarNavVrHide": true,
  "bodyClass": "header-ontop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "py-4",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-4 my-0",
  "navbarClass": "navbar-dark bg-transparent sticky-bg-dark sticky-bg-op-7 transition-base",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0  ms-md-auto  bg-dark bg-md-transparent",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "w-100 w-md-auto",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "bg-white",
  "onepagerNavActiveClass": "text-white op-auto",
  "onepagerNavClass": "text-light op-7 transition",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-block text-uppercase text-light op-8"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Music Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>
  <!-- ======== @Region: body ======== -->

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header" class="position-absolute w-100">
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Music' %} {% set siteName = '<span class="fw-bold">App</span>Strap' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0 ms-md-auto bg-dark bg-md-transparent">
        <!-- one pager navigation -->
        <ul class="navbar-nav w-100 w-md-auto">
          <li class="nav-item">
            <a
              href="#top"
              data-bs-toggle="scroll-link"
              data-active-class="text-white op-auto"
              data-bs-dismiss="offcanvas"
              class="nav-link position-relative text-light op-7 transition"
            >
              <span class="nav-link-inner" data-title="Home">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#concerts"
              data-bs-toggle="scroll-link"
              data-active-class="text-white op-auto"
              data-bs-dismiss="offcanvas"
              class="nav-link position-relative text-light op-7 transition"
            >
              <span class="nav-link-inner" data-title="Concerts">Concerts</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#album"
              data-bs-toggle="scroll-link"
              data-active-class="text-white op-auto"
              data-bs-dismiss="offcanvas"
              class="nav-link position-relative text-light op-7 transition"
            >
              <span class="nav-link-inner" data-title="Album">Album</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#bio"
              data-bs-toggle="scroll-link"
              data-active-class="text-white op-auto"
              data-bs-dismiss="offcanvas"
              class="nav-link position-relative text-light op-7 transition"
            >
              <span class="nav-link-inner" data-title="Bio">Bio</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#video"
              data-bs-toggle="scroll-link"
              data-active-class="text-white op-auto"
              data-bs-dismiss="offcanvas"
              class="nav-link position-relative text-light op-7 transition"
            >
              <span class="nav-link-inner" data-title="Video">Video</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#book"
              data-bs-toggle="scroll-link"
              data-active-class="text-white op-auto"
              data-bs-dismiss="offcanvas"
              class="nav-link position-relative text-light op-7 transition"
            >
              <span class="nav-link-inner" data-title="Book">Book</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black position-md-relative">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="overlay overlay-op-6 text-start"
        data-animate="fadeIn"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/index-music/banner-1.jpg,assets/img/index-music/banner-1.jpg,assets/img/index-event/banner-3.jpg"
      >
        <div class="vh-100 py-lg-6 pt-lg-8 text-center text-white d-flex justify-content-center flex-column">
          <h2 class="display-3 text-uppercase" data-animate="fadeInDown" data-animate-delay="0.6">Music is my Escape</h2>
          <h4 class="fw-bold">One good thing about music, when it hits you, you feel no pain.</h4>
          <p>Bob Marley</p>
        </div>
      </div>
    </div>
    <!--END highlighted-->

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!-- concerts -->
      <div id="concerts" class="py-4 py-lg-7">
        <div class="container text-center">
          <h2 class="h1 fw-bold mb-0 text-uppercase">Next concerts</h2>
          <p class="text-uppercase">get ready for the live show</p>
          <div class="mt-5">
            <div class="row d-md-flex align-items-md-center fw-bold">
              <div class="col-md-3 p-md-2 d-flex align-items-center justify-content-md-center">
                <span class="display-4 no-resize fw-bold me-1">02</span>
                <span>
                  Nov
                  <br />
                  2017
                </span>
              </div>
              <div class="col-md-4 p-md-2 text-start">The Observatory, Santa Ana, CA, US</div>
              <div class="col-md-1 p-md-2 text-start">10pm</div>
              <div class="col-md-4 py-2 p-md-2 text-md-center">
                <a href="#" class="btn btn-rounded btn-primary g d-block d-md-inline-block px-md-5 text-sm text-white text-uppercase"> Buy Tickets </a>
              </div>
            </div>
            <hr />
            <div class="row d-md-flex align-items-md-center fw-bold op-4">
              <div class="col-md-3 p-md-2 d-flex align-items-center justify-content-md-center">
                <span class="display-4 no-resize fw-bold me-1">02</span>
                <span>
                  Nov
                  <br />
                  2017
                </span>
              </div>
              <div class="col-md-4 p-md-2 text-start">Chandarpur, California USA</div>
              <div class="col-md-1 p-md-2 text-start">8pm</div>
              <div class="col-md-4 py-2 p-md-2 text-md-center"><span class="text-uppercase">Sold out</span></div>
            </div>
            <hr />
            <div class="row d-md-flex align-items-md-center fw-bold">
              <div class="col-md-3 p-md-2 d-flex align-items-center justify-content-md-center">
                <span class="display-4 no-resize fw-bold me-1">04</span>
                <span>
                  Nov
                  <br />
                  2017
                </span>
              </div>
              <div class="col-md-4 p-md-2 text-start">The Roxy Theatre, Los Angeles, CA, US</div>
              <div class="col-md-1 p-md-2 text-start">7pm</div>
              <div class="col-md-4 py-2 p-md-2 text-md-center">
                <a href="#" class="btn btn-rounded btn-primary g d-block d-md-inline-block px-md-5 text-sm text-white text-uppercase"> Buy Tickets </a>
              </div>
            </div>
            <hr />
            <div class="row d-md-flex align-items-md-center fw-bold">
              <div class="col-md-3 p-md-2 d-flex align-items-center justify-content-md-center">
                <span class="display-4 no-resize fw-bold me-1">04</span>
                <span>
                  Nov
                  <br />
                  2017
                </span>
              </div>
              <div class="col-md-4 p-md-2 text-start">The Observatory, Santa Ana, CA</div>
              <div class="col-md-1 p-md-2 text-start">9pm</div>
              <div class="col-md-4 py-2 p-md-2 text-md-center">
                <a href="#" class="btn btn-rounded btn-primary g d-block d-md-inline-block px-md-5 text-sm text-white text-uppercase"> Buy Tickets </a>
              </div>
            </div>
            <hr />
            <div class="row d-md-flex align-items-md-center fw-bold">
              <div class="col-md-3 p-md-2 d-flex align-items-center justify-content-md-center">
                <span class="display-4 no-resize fw-bold me-1">05</span>
                <span>
                  Nov
                  <br />
                  2017
                </span>
              </div>
              <div class="col-md-4 p-md-2 text-start">Rocktown society, WA, USA</div>
              <div class="col-md-1 p-md-2 text-start">9pm</div>
              <div class="col-md-4 py-2 p-md-2 text-md-center">
                <a href="#" class="btn btn-rounded btn-primary g d-block d-md-inline-block px-md-5 text-sm text-white text-uppercase"> Buy Tickets </a>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <div id="album" class="py-4 py-lg-7 bg-black text-white">
        <div class="container">
          <h2 class="h1 fw-bold mb-0 text-uppercase">New Album Release</h2>
          <p class="text-uppercase">Listen and Download our new Album</p>
          <div class="row">
            <div class="col-md-5 mt-5">
              <img class="w-100" src="./assets/img/index-music/new-album.jpg" alt="" />
            </div>
            <div class="col-md-7 mt-5">
              <h2 class="h1 fw-light mb-2">
                GOLAN
                <br />
                The ocean of sparks
              </h2>
              <p class="op-6 text-sm"><span class="me-md-5 me-2">Released: 26 Nov 2017</span> <span>#pop #chillout #goodvibes</span></p>
              <div class="mt-4">
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 1 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    Laminaria (Free Download)
                  </div>
                  <div>2:45</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 2 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    Lonely Nights EP
                  </div>
                  <div>2:45</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 3 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    Promises (ViLLAGE Remix)
                  </div>
                  <div>3:21</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 4 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    Abel (Original Track)
                  </div>
                  <div>4:22</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 4 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    5 Stop Story
                  </div>
                  <div>1:55</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 6 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    Surprise Of My Party
                  </div>
                  <div>4:44</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
                <a href="" class="hover-scaleIn-parent text-decoration-none d-flex text-hover-red justify-content-between align-items-center text-white mb-1">
                  <div class="w-50 overlay-persist">
                    <span class="track-counter me-2"> 7 </span>
                    <span class="position-absolute top-0 start-0 hover-scaleIn"> <i class="ion-ios-play-outline icon-x"></i> </span>
                    Give Her Shadow
                  </div>
                  <div>2:18</div>
                  <div class="d-flex"><i class="ion-social-youtube icon-1x mx-2"></i> <i class="ion-android-cloud icon-1x mx-2"></i></div>
                </a>
              </div>
              <div class="mt-sm-6">
                <h4>Listen on:</h4>
                <a href="" class="btn btn-rounded btn-primary text-white px-5 me-2 mt-2 text-uppercase d-block d-md-inline-block">Itunes</a>
                <a href="" class="btn btn-rounded btn-primary text-white px-5 me-2 mt-2 text-uppercase d-block d-md-inline-block">Amazon</a>
                <a href="" class="btn btn-rounded btn-primary text-white px-5 me-2 mt-2 text-uppercase d-block d-md-inline-block">Spotify</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bio" class="py-4 py-lg-7">
        <div class="container">
          <h2 class="h1 fw-bold mb-0 text-uppercase">Biography</h2>
          <p class="text-uppercase">Know us better</p>
          <div class="row">
            <div class="col-md-6 my-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
              </p>
            </div>
            <div class="col-md-6 my-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 d-none d-lg-flex">
              <div class="w-100 overlay overlay-gradient p-3 d-flex align-items-end" data-bg-img="./assets/img/index-music/bio-1.jpg">
                <h3 class="text-white text-uppercase w-100 display-3 mb-0">We <i class="fa fa-heart"></i> Music</h3>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="card-effect card-effect-front-to-back">
                    <img class="w-100" src="./assets/img/index-music/bio-2.jpg" alt="" />
                    <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                      <div>
                        <h3>Karl</h3>
                        <p>Guitar</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="card-effect card-effect-front-to-back">
                    <img class="w-100" src="./assets/img/index-music/bio-3.jpg" alt="" />
                    <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                      <div>
                        <h3>Joshua</h3>
                        <p>Bass & Voice</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 mb-md-0">
                  <div class="card-effect card-effect-front-to-back">
                    <img class="w-100" src="./assets/img/index-music/bio-4.jpg" alt="" />
                    <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                      <div>
                        <h3>Davey</h3>
                        <p>Voice</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-effect card-effect-front-to-back">
                    <img class="w-100" src="./assets/img/index-music/bio-5.jpg" alt="" />
                    <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-3">
                      <div>
                        <h3>Rees</h3>
                        <p>Drums</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video -->
      <div id="video" class="py-4 py-lg-7" data-bg-img="./assets/img/index-music/feature-bg.jpg">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center text-uppercase">
              <h1>Featured Video</h1>
              <p>Play and Enjoy</p>
            </div>
            <div class="col-lg-8 m-auto text-center my-4" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.video-link", "type": "iframe"}'>
              <div class="card-effect card-effect-front-to-back m-auto">
                <img class="w-100" src="./assets/img/index-music/feature-video.jpg" alt="" />
                <a href="https://www.youtube.com/watch?v=UtAQdwMKMmU" class="video-link">
                  <div class="card-back rounded bg-dark bg-op-8 text-white flex-valign text-center p-5">
                    <span class="position-absolute top-0 start-0 mt-3 ms-3 text-white">Nevertheless 2:33</span>
                    <div><i class="ion-ios-play-outline icon-5x"></i></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 text-center mt-4"><a href="" class="btn btn-outline-dark btn-lg btn-rounded border-2 py-3 px-5 text-sm fw-bold">VIEW ALL VIDEOS</a></div>
          </div>
        </div>
      </div>
      <div id="book" class="py-4 py-lg-6">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="h1">BE SOCIAL</h2>
              <ul class="list-inline">
                <li class="list-inline-item p-md-3">
                  <a href=""> <i class="fab fa-soundcloud icon-2x"></i> </a>
                </li>
                <li class="list-inline-item p-md-3">
                  <a href=""> <i class="fab fa-youtube icon-2x"></i> </a>
                </li>
                <li class="list-inline-item p-md-3">
                  <a href=""> <i class="fab fa-spotify icon-2x"></i> </a>
                </li>
                <li class="list-inline-item p-md-3">
                  <a href=""> <i class="fab fa-twitter icon-2x"></i> </a>
                </li>
                <li class="list-inline-item p-md-3">
                  <a href=""> <i class="fab fa-facebook-f icon-2x"></i> </a>
                </li>
              </ul>
              <p class="fw-bold text-dark">Enquires to: <a class="text-dark" href="mailto:info@artistname.com">info@artistname.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
