<!-- 
{
  "pageTitle": "Magazine Homepage",
  "pageKey": "index-magazine",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSticky": false,
  "headerSearch": false,
  "colourScheme": "orange",
  "headerOffcanvas": false,
  "headerNavbarNavVrHide": true,
  "headerSearchRegion": false,
  "footerType": "compact",
  "mobileMenuType": "collapse",
  "dateIcon": "<i class=\"far fa-clock\"><\/i>",
  "commentsIcon": "<i class=\"far fa-comment\"><\/i>",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "pt-4 pb-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowClass": "py-0",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 mb-0 text-gray-600",
  "navbarClass": "py-2 py-lg-3",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "d-flex order-5 align-items-center",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-lg-block text-xs fw-normal"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Magazine Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = '<em>Daily Fresh News</em>' %} {% set siteName = 'App<span class="text-primary">Strap</span>' %} {% block
      headerNavbarNav %} {% endblock %} {% block headerNavbarBelow %}
      <div class="w-100 py-0 bg-dark navbar-dark" data-bs-toggle="sticky">
        <!-- Desktop header -->
        <div class="container-xl align-items-center justify-content-start flex-nowrap px-3 py-2 p-lg-0 navbar-expand-lg navbar-collapse collapse" id="navbar-main">
          <!-- Fade in brand on sticky -->
          <div class="sticky-effect-fade-in sticky-effect-expand-w d-none d-lg-flex align-items-center">
            <a href="#" class="fs-4 text-white my-0 ms-3 me-4 py-2 fw-bold">App<span class="fw-normal">Strap</span></a>
          </div>
          <!--main navigation-->
          <ul class="nav navbar-nav position-static justify-content-start flex-nowrap">
            <!-- Fashion: megamenu with columns of links & feature item -->
            <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
              <a href="#" class="nav-link py-3 dropdown-toggle" data-bs-toggle="dropdown" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Fashion</a>
              <!-- Dropdown Menu - mega menu-->
              <div class="dropdown-menu dropdown-menu-dark border-0">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3">
                      <a href="#" class="dropdown-item">Shirts</a> <a href="#" class="dropdown-item">Shoes</a> <a href="#" class="dropdown-item">Trousers</a>
                      <a href="#" class="dropdown-item">Shorts</a> <a href="#" class="dropdown-item">Jackets</a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#" class="dropdown-item">T-shirts</a> <a href="#" class="dropdown-item">Shorts</a> <a href="#" class="dropdown-item">Suits</a>
                      <a href="#" class="dropdown-item">Shoes</a> <a href="#" class="dropdown-item">Jackets</a>
                    </div>
                    <div class="col-lg-3">
                      <a href="#" class="dropdown-item">T-shirts</a> <a href="#" class="dropdown-item">Suits</a> <a href="#" class="dropdown-item">Shorts</a>
                      <a href="#" class="dropdown-item">Swimwear</a> <a href="#" class="dropdown-item">Shoes</a>
                    </div>
                    <div class="col-lg-3 d-none d-lg-flex">
                      <a
                        href="#"
                        class="p-3 op-9 overlay overlay-gradient overlay-op-6 d-flex flex-valign-b flex-ew"
                        data-bs-toggle="blazy"
                        data-src="https://loremflickr.com/285/185/business?random=12312"
                      >
                        <p class="my-0 text-white fw-bold text-primary text-sm">Featured</p>
                        <p class="my-0 text-white fw-normal">The Ultimate Fashion Guide</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Tech: grid with image thumbnails -->
            <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
              <a href="#" class="nav-link py-3 dropdown-toggle" data-bs-toggle="dropdown" data-bs-hover="dropdown">Tech</a>
              <!-- Dropdown Menu - mega menu-->
              <div class="dropdown-menu dropdown-menu-dark border-0">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 d-flex">
                      <a
                        href="#"
                        class="p-3 pt-6 op-9 overlay overlay-gradient overlay-op-9 d-flex flex-valign-b flex-ew"
                        data-bs-toggle="blazy"
                        data-src="https://loremflickr.com/285/185/business?random=1"
                      >
                        <p class="my-0 text-white fw-bold text-primary text-sm"><i class="fa fa-clock-o"></i> Aug 15 2024</p>
                        <p class="my-0 text-white fw-normal">Aliquip Capto Elit Fere Iriure Ludus Sit Zelus</p>
                      </a>
                    </div>
                    <div class="col-lg-3 d-flex">
                      <a
                        href="#"
                        class="p-3 pt-6 op-9 overlay overlay-gradient overlay-op-9 d-flex flex-valign-b flex-ew"
                        data-bs-toggle="blazy"
                        data-src="https://loremflickr.com/285/185/business?random=2"
                      >
                        <p class="my-0 text-white fw-bold text-primary text-sm"><i class="fa fa-clock-o"></i> Sep 18 2024</p>
                        <p class="my-0 text-white fw-normal">Dignissim Gemino Iaceo Magna Olim Populus Ratis</p>
                      </a>
                    </div>
                    <div class="col-lg-3 d-flex">
                      <a
                        href="#"
                        class="p-3 pt-6 op-9 overlay overlay-gradient overlay-op-9 d-flex flex-valign-b flex-ew"
                        data-bs-toggle="blazy"
                        data-src="https://loremflickr.com/285/185/business?random=3"
                      >
                        <p class="my-0 text-white fw-bold text-primary text-sm"><i class="fa fa-clock-o"></i> Sep 26 2024</p>
                        <p class="my-0 text-white fw-normal">Consequat Distineo Immitto Melior Minim Pecus Pneum Rusticus Voco</p>
                      </a>
                    </div>
                    <div class="col-lg-3 d-flex">
                      <a
                        href="#"
                        class="p-3 pt-6 op-9 overlay overlay-gradient overlay-op-9 d-flex flex-valign-b flex-ew"
                        data-bs-toggle="blazy"
                        data-src="https://loremflickr.com/285/185/business?random=4"
                      >
                        <p class="my-0 text-white fw-bold text-primary text-sm"><i class="fa fa-clock-o"></i> Aug 27 2024</p>
                        <p class="my-0 text-white fw-normal">Abico Appellatio Esse Gemino Refero Roto Tamen Valde Wisi</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- Mega menu example -->
            <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
              <a href="#" class="nav-link py-3 dropdown-toggle" id="news-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown">News</a>
              <!-- Dropdown Menu - Mega Menu -->
              <div class="dropdown-menu dropdown-menu-dark border-0">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 py-2" data-url="#">
                      <img data-bs-toggle="blazy" data-src="https://loremflickr.com/285/130/business?random=1" class="img-fluid" />
                      <h5 class="mt-2 mb-0">Luctus Metuo Neo Praesent Rusticus Zelus</h5>
                      <p class="mb-0">Appellatio imputo premo vicis.</p>
                    </div>
                    <div class="col-lg-3 py-2" data-url="#">
                      <img data-bs-toggle="blazy" data-src="https://loremflickr.com/285/130/business?random=2" class="img-fluid" />
                      <h5 class="mt-2 mb-0">Cui Olim Praemitto Quia Sudo Suscipere Veniam</h5>
                      <p class="mb-0">Antehabeo dolus ille odio pertineo vero.</p>
                    </div>
                    <div class="col-lg-3 py-2" data-url="#">
                      <img data-bs-toggle="blazy" data-src="https://loremflickr.com/285/130/business?random=3" class="img-fluid" />
                      <h5 class="mt-2 mb-0">Abdo Dolus Jus Proprius</h5>
                      <p class="mb-0">At brevitas enim erat gilvus paratus suscipere.</p>
                    </div>
                    <div class="col-lg-3 py-2" data-url="#">
                      <img data-bs-toggle="blazy" data-src="https://loremflickr.com/285/130/business?random=4" class="img-fluid" />
                      <h5 class="mt-2 mb-0">Consequat Lobortis Minim Patria Secundum Vulputate</h5>
                      <p class="mb-0">Amet exerci humo iusto iustum macto validus.</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item"><a href="#" class="nav-link py-3">Blog</a></li>
          </ul>
          <!--/.navbar-collapse -->
          <!-- Search icon -->
          <a href="#search" class="text-white ms-auto me-3 d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#search-overlay">
            <i class="fa fa-search fa-flip-horizontal search-icon icon-1x"></i>
          </a>
        </div>
      </div>
      {% endblock %} {% block navbarSecondaryContent %}
      <div class="bg-light p-3 text-sm d-none d-lg-block text-center" data-css='{"width":480,"height":60}'>Ad space</div>
      <a href="#search" class="nav-link d-lg-none" data-bs-toggle="modal" data-bs-target="#search-overlay"><i class="fa fa-search fs-4 nav-link-icon"></i></a>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="overlay overlay-gradient overlay-op-8 text-start py-5 pt-lg-10"
        data-animate="fadeIn"
        data-bg-img="./assets/img/index-magazine/index-magazine-banner.jpg"
        data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
      >
        <div data-scroll="scrollax" class="container px-3" data-animate="fadeInUp" data-animate-delay="0.4">
          <p class="text-xs mt-0 mb-1 mt-lg-10 text-white text-uppercase fw-bold">
            <span class="text-primary">Featured</span> <span class="px-1">/</span> <i class="far fa-clock"></i> June 18th 2024
          </p>
          <h2 class="display-4 text-white fw-bold">The Ultimate Fashion Guide</h2>
          <h5 class="text-white fw-normal">What's hot, what's not this winter, and we don't mean the weather!</h5>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!-- News -->
      <div class="container py-4 py-lg-5">
        <h3 class="text-uppercase text-letter-spacing-sm my-0 text-primary fw-bold">Latest News</h3>
        <hr class="mt-2 mb-3" />
        <div class="row">
          <div class="col-12 col-lg-4 mb-4 mb-lg-1">
            <!-- data-url can be set to the page URL of the news item -->
            <!-- News item 1 -->
            <div class="card mb-4 border-0 flex-ew" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <img
                class="card-img img-fluid"
                data-src="https://loremflickr.com/400/250/business?random=1"
                data-bs-toggle="blazy"
                alt="Causa Conventio Genitus Iusto Luptatum Molior Pecus Singularis"
              />
              <div class="card-img-overlay bg-dark bg-op-5 text-white flex-valign-b">
                <div>
                  <h5 class="card-title mb-1">Causa Conventio Genitus Iusto Luptatum Molior Pecus Singularis</h5>
                  <p class="card-text text-uppercase text-white text-xs">
                    <span class="text-primary">web</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Aug 26 2024
                  </p>
                </div>
              </div>
            </div>
            <!-- News subitem 1 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=1"
                  data-bs-toggle="blazy"
                  alt="Haero Humo Magna Neo Nobis Suscipit Torqueo Ullamcorper Vindico"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Haero Humo Magna Neo Nobis Suscipit Torqueo Ullamcorper Vindico</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">web</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Aug 26 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 2 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=2"
                  data-bs-toggle="blazy"
                  alt="Duis Facilisis Immitto Lenis Macto Neque Nisl Saluto Ullamcorper"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Duis Facilisis Immitto Lenis Macto Neque Nisl Saluto Ullamcorper</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">web</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Aug 26 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 3 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=3"
                  data-bs-toggle="blazy"
                  alt="Aliquam Haero Interdico Neo Pagus Quadrum Quia Sed"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Aliquam Haero Interdico Neo Pagus Quadrum Quia Sed</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">web</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Aug 26 2024</p>
              </div>
            </div>
            <hr class="my-1" />
          </div>
          <div class="col-12 col-lg-4 mb-4 mb-lg-1">
            <!-- data-url can be set to the page URL of the news item -->
            <!-- News item 2 -->
            <div class="card mb-4 border-0 flex-ew" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <img class="card-img img-fluid" data-src="https://loremflickr.com/400/250/business?random=2" data-bs-toggle="blazy" alt="Autem Ideo Obruo Premo Rusticus Ut Uxor" />
              <div class="card-img-overlay bg-dark bg-op-5 text-white flex-valign-b">
                <div>
                  <h5 class="card-title mb-1">Autem Ideo Obruo Premo Rusticus Ut Uxor</h5>
                  <p class="card-text text-uppercase text-white text-xs">
                    <span class="text-primary">identity</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024
                  </p>
                </div>
              </div>
            </div>
            <!-- News subitem 1 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=1"
                  data-bs-toggle="blazy"
                  alt="Adipiscing Aliquip Antehabeo Cogo Iaceo Iustum Ulciscor"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Adipiscing Aliquip Antehabeo Cogo Iaceo Iustum Ulciscor</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">identity</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 2 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=2"
                  data-bs-toggle="blazy"
                  alt="Diam Elit Haero Huic Ludus Pneum Similis Tego Ymo"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Diam Elit Haero Huic Ludus Pneum Similis Tego Ymo</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">identity</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 3 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=3"
                  data-bs-toggle="blazy"
                  alt="Abluo Commodo Jumentum Nostrud Praemitto Qui Rusticus Ullamcorper"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Abluo Commodo Jumentum Nostrud Praemitto Qui Rusticus Ullamcorper</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">identity</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
          </div>
          <div class="col-12 col-lg-4 mb-4 mb-lg-1">
            <!-- data-url can be set to the page URL of the news item -->
            <!-- News item 3 -->
            <div class="card mb-4 border-0 flex-ew" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <img
                class="card-img img-fluid"
                data-src="https://loremflickr.com/400/250/business?random=3"
                data-bs-toggle="blazy"
                alt="Ibidem Importunus Luptatum Molior Mos Refoveo Rusticus Sino Venio"
              />
              <div class="card-img-overlay bg-dark bg-op-5 text-white flex-valign-b">
                <div>
                  <h5 class="card-title mb-1">Ibidem Importunus Luptatum Molior Mos Refoveo Rusticus Sino Venio</h5>
                  <p class="card-text text-uppercase text-white text-xs">
                    <span class="text-primary">graphics</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024
                  </p>
                </div>
              </div>
            </div>
            <!-- News subitem 1 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=1"
                  data-bs-toggle="blazy"
                  alt="Accumsan Aptent Camur Consectetuer Hos Iusto Iustum Sit Ymo"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Accumsan Aptent Camur Consectetuer Hos Iusto Iustum Sit Ymo</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">graphics</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 2 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=2"
                  data-bs-toggle="blazy"
                  alt="Amet Bene Dolor Et Huic Letalis Nulla Similis Torqueo"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Amet Bene Dolor Et Huic Letalis Nulla Similis Torqueo</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">graphics</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 3 -->
            <div class="row row-hover py-1 py-lg-3 align-items-center" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-src="https://loremflickr.com/400/250/business?random=3"
                  data-bs-toggle="blazy"
                  alt="Accumsan Hos Laoreet Lucidus Molior Oppeto Sagaciter Si Verto"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Accumsan Hos Laoreet Lucidus Molior Oppeto Sagaciter Si Verto</h6>
                <p class="text-uppercase text-xs mb-0"><span class="text-primary">graphics</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
          </div>
        </div>
      </div>
      <!-- Feature article MDR -->
      <div
        class="mb-4 mb-lg-6 py-7 text-center bg-dark overlay overlay-op-8"
        data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
        data-bg-img="https://images.unsplash.com/photo-1499334844006-d49df7788949?dpr=2&auto=format&fit=crop&w=1100&h=350&q=80&cs=tinysrgb&crop="
      >
        <div class="container">
          <p class="text-xs mt-0 mb-1 text-white text-uppercase fw-bold">
            <span class="text-primary">Featured</span> <span class="px-1">/</span> <i class="far fa-clock"></i> June 18th 2024
          </p>
          <h2 class="text-uppercase text-letter-spacing-sm my-0 text-white fw-bold">Best productivity tips for 2024</h2>
          <a href="#" class="btn btn-primary btn-sm mt-3 text-uppercase fw-bold">Read More</a>
        </div>
      </div>
      <!-- News section & sidebar -->
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <!-- News sections: Lifestyle -->
            <h4 class="text-uppercase text-letter-spacing-sm my-0 text-primary fw-bold">Lifestyle</h4>
            <hr class="mt-2 mb-3" />
            <div class="row">
              <div class="col-lg-7">
                <!-- Main item -->
                <!-- News item 1 -->
                <div class="card card-silent mb-lg-4 border-0 flex-ew" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <img
                    class="card-img img-fluid"
                    data-src="https://loremflickr.com/400/250/business?random=1"
                    alt="Euismod Laoreet Nutus Patria Ratis Similis Ullamcorper"
                    data-bs-toggle="blazy"
                  />
                  <div class="card-body px-0">
                    <h4 class="card-title mb-1">Euismod Laoreet Nutus Patria Ratis Similis Ullamcorper</h4>
                    <p class="card-text text-uppercase text-xs"><i class="far fa-comment"></i> 22 <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 22 2024</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <!-- subitems -->
                <!-- News subitem 1 -->
                <div class="row row-hover py-1 py-lg-3 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      data-bs-toggle="blazy"
                      data-src="https://loremflickr.com/100/100/business?random=1"
                      alt="Commoveo Dolor Huic Iustum Ludus Tation Vulputate"
                    />
                  </div>
                  <div class="col-9 ps-0">
                    <h6 class="mb-1">Commoveo Dolor Huic Iustum Ludus Tation Vulputate</h6>
                    <p class="text-uppercase text-xs mb-0"><span class="text-primary">travel</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
                <hr class="my-1" />
                <!-- News subitem 2 -->
                <div class="row row-hover py-1 py-lg-3 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      data-bs-toggle="blazy"
                      data-src="https://loremflickr.com/100/100/business?random=2"
                      alt="Aliquam Facilisi Lucidus Praemitto Sit Sudo Te Tincidunt Wisi"
                    />
                  </div>
                  <div class="col-9 ps-0">
                    <h6 class="mb-1">Aliquam Facilisi Lucidus Praemitto Sit Sudo Te Tincidunt Wisi</h6>
                    <p class="text-uppercase text-xs mb-0"><span class="text-primary">travel</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
                <hr class="my-1" />
                <!-- News subitem 3 -->
                <div class="row row-hover py-1 py-lg-3 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      data-bs-toggle="blazy"
                      data-src="https://loremflickr.com/100/100/business?random=3"
                      alt="Decet Et Ex Hendrerit Humo Lenis Oppeto Roto Tego"
                    />
                  </div>
                  <div class="col-9 ps-0">
                    <h6 class="mb-1">Decet Et Ex Hendrerit Humo Lenis Oppeto Roto Tego</h6>
                    <p class="text-uppercase text-xs mb-0"><span class="text-primary">travel</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
                <hr class="my-1" />
              </div>
            </div>
            <!-- end of News sections: Lifestyle -->
            <!-- Advert -->
            <div class="bg-light p-3 text-sm text-center mt-3 mb-5 mx-auto" data-css='{"width":"100%","height":80}'>Ad space</div>
            <!-- News sections: Travel-->
            <h4 class="text-uppercase text-letter-spacing-sm my-0 text-primary fw-bold">Travel</h4>
            <hr class="mt-2 mb-3" />
            <div class="row">
              <div class="col-lg-7">
                <!-- Main item -->
                <!-- News item 1 -->
                <div class="card card-silent mb-lg-4 border-0 flex-ew" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <img
                    class="card-img img-fluid"
                    data-bs-toggle="blazy"
                    data-src="https://loremflickr.com/400/250/business?random=1"
                    alt="Comis Iaceo Oppeto Quibus Si Suscipere Ut Vero Vicis"
                  />
                  <div class="card-body px-0">
                    <h4 class="card-title mb-1">Comis Iaceo Oppeto Quibus Si Suscipere Ut Vero Vicis</h4>
                    <p class="card-text text-uppercase text-xs"><i class="far fa-comment"></i> 73 <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <!-- subitems -->
                <!-- News subitem 1 -->
                <div class="row row-hover py-1 py-lg-3 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      data-bs-toggle="blazy"
                      data-src="https://loremflickr.com/100/100/business?random=1"
                      alt="Blandit Decet Diam Euismod Laoreet Occuro Typicus"
                    />
                  </div>
                  <div class="col-9 ps-0">
                    <h6 class="mb-1">Blandit Decet Diam Euismod Laoreet Occuro Typicus</h6>
                    <p class="text-uppercase text-xs mb-0"><span class="text-primary">travel</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
                <hr class="my-1" />
                <!-- News subitem 2 -->
                <div class="row row-hover py-1 py-lg-3 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      data-bs-toggle="blazy"
                      data-src="https://loremflickr.com/100/100/business?random=2"
                      alt="Iaceo Jumentum Mauris Patria Pertineo Quis Sagaciter Singularis Suscipit"
                    />
                  </div>
                  <div class="col-9 ps-0">
                    <h6 class="mb-1">Iaceo Jumentum Mauris Patria Pertineo Quis Sagaciter Singularis Suscipit</h6>
                    <p class="text-uppercase text-xs mb-0"><span class="text-primary">travel</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
                <hr class="my-1" />
                <!-- News subitem 3 -->
                <div class="row row-hover py-1 py-lg-3 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
                  <div class="col-3">
                    <img
                      class="img-fluid"
                      data-bs-toggle="blazy"
                      data-src="https://loremflickr.com/100/100/business?random=3"
                      alt="Aliquam Elit Exerci Luptatum Metuo Valetudo Verto"
                    />
                  </div>
                  <div class="col-9 ps-0">
                    <h6 class="mb-1">Aliquam Elit Exerci Luptatum Metuo Valetudo Verto</h6>
                    <p class="text-uppercase text-xs mb-0"><span class="text-primary">travel</span> <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
                  </div>
                </div>
                <hr class="my-1" />
              </div>
            </div>
            <!-- end of News sections: Lifestyle -->
          </div>
          <div class="col-lg-3 mb-4 mb-lg-2">
            <!-- Sidebar -->
            <!-- Advert -->
            <div class="bg-light p-3 text-sm text-center mt-4" data-css='{"width":"100%","height":240}'>Ad space</div>
            <!-- Follow us-->
            <h5 class="text-uppercase mt-4 mb-0 fw-bold">Follow Us</h5>
            <hr class="mt-2 mb-3" />
            <!--@todo: replace with company social media details-->
            <div class="d-flex gap-1">
              <a href="#" class="bg-brand-twitter text-white text-center py-4 flex-fill">
                <i class="fab fa-twitter icon-1x"></i> <span class="visually-hidden">Twitter</span> <span class="d-block text-xs">887</span>
              </a>
              <a href="#" class="bg-brand-facebook text-white text-center py-4 flex-fill">
                <i class="fab fa-facebook-f icon-1x"></i> <span class="visually-hidden">Facebook</span> <span class="d-block text-xs">3470</span>
              </a>
              <a href="#" class="bg-brand-linkedin text-white text-center py-4 flex-fill">
                <i class="fab fa-linkedin-in icon-1x"></i> <span class="visually-hidden">Linkedin</span> <span class="d-block text-xs">2824</span>
              </a>
              <a href="#" class="bg-brand-google-plus text-white text-center py-4 flex-fill">
                <i class="fab fa-google-plus-g icon-1x"></i> <span class="visually-hidden">Google plus</span> <span class="d-block text-xs">2035</span>
              </a>
            </div>
            <!-- Popular news widget -->
            <h5 class="text-uppercase mt-5 mb-0 fw-bold">Popular</h5>
            <hr class="mt-2 mb-3" />
            <!-- News subitem 1 -->
            <div class="row py-1 py-lg-2 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img class="img-fluid" data-bs-toggle="blazy" data-src="https://loremflickr.com/100/100/business?random=1" alt="Acsi Causa Dolor Enim Et Meus Molior Pecus Venio" />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Acsi Causa Dolor Enim Et Meus Molior Pecus Venio</h6>
                <p class="text-uppercase text-xs mb-0"><i class="far fa-comment"></i> 34 <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 2 -->
            <div class="row py-1 py-lg-2 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img
                  class="img-fluid"
                  data-bs-toggle="blazy"
                  data-src="https://loremflickr.com/100/100/business?random=2"
                  alt="Abbas Acsi Aliquip Cui Diam Luptatum Pertineo Plaga Validus"
                />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Abbas Acsi Aliquip Cui Diam Luptatum Pertineo Plaga Validus</h6>
                <p class="text-uppercase text-xs mb-0"><i class="far fa-comment"></i> 78 <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
            <!-- News subitem 3 -->
            <div class="row py-1 py-lg-2 align-items-start" data-url="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme">
              <div class="col-3">
                <img class="img-fluid" data-bs-toggle="blazy" data-src="https://loremflickr.com/100/100/business?random=3" alt="Abdo Abluo Aliquip Esse Interdico Lucidus Roto" />
              </div>
              <div class="col-9 ps-0">
                <h6 class="mb-1">Abdo Abluo Aliquip Esse Interdico Lucidus Roto</h6>
                <p class="text-uppercase text-xs mb-0"><i class="far fa-comment"></i> 161 <span class="px-1">/</span> <i class="far fa-clock"></i> Jul 13 2024</p>
              </div>
            </div>
            <hr class="my-1" />
          </div>
        </div>
      </div>
      <!-- Gallery -->
      <div id="gallery" class="bg-light">
        <div class="container py-7">
          <h2 class="text-uppercase text-letter-spacing-sm my-0 text-primary fw-bold">News Gallery</h2>
          <hr class="mt-2 mb-3" />
          <div class="row g-0" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.gallery-trigger", "gallery":{"enabled":true}}'>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=91" data-bs-toggle="blazy" alt="Photo 91" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 1</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=91" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=92" data-bs-toggle="blazy" alt="Photo 92" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 2</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=92" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=93" data-bs-toggle="blazy" alt="Photo 93" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 3</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=93" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=94" data-bs-toggle="blazy" alt="Photo 94" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 4</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=94" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=95" data-bs-toggle="blazy" alt="Photo 95" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 5</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=95" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=96" data-bs-toggle="blazy" alt="Photo 96" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 6</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=96" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=98" data-bs-toggle="blazy" alt="Photo 98" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 7</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=98" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="card-effect card-effect-front-to-back">
                <img data-src="https://loremflickr.com/300/200/business?random=99" data-bs-toggle="blazy" alt="Photo 99" class="img-fluid w-100" />
                <div class="card-back rounded bg-dark bg-op-8 flex-valign text-center p-3">
                  <h5 class="text-white">News item 8</h5>
                  <a href="https://loremflickr.com/1000/1200/business?random=99" class="text-white gallery-trigger"> <i class="ion-ios-plus icon-1x"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fixed footer with Breaking news bar -->
      <div class="w-100 start-0 position-fixed zindex-20 bottom-0 end-0 bg-dark text-white js-off-canvas-exclude" data-animate="fadeInUp">
        <div class="container">
          <div class="row align-items-center g-0">
            <div class="col-12 col-lg-8">
              <!--news ticker-->
              <div class="row align-items-stretch align-items-lg-center">
                <div class="col-3 col-lg-auto my-0 py-1 py-lg-3 bg-primary text-center">
                  <h5 class="text-uppercase text-sm fw-bold my-0">Breaking</h5>
                </div>
                <div
                  class="col-9 owl-carousel owl-equalheight"
                  data-bs-toggle="owl-carousel"
                  data-owl-carousel-settings='{"items":1, "center":true, "autoplay":true, "loop":true, "nav":false, "dots":false, "margin":5}'
                >
                  <!--News item 1-->
                  <p class="my-0 text-sm fw-normal">Cogo Diam Ut Verto</p>

                  <!--News item 2-->
                  <p class="my-0 text-sm fw-normal">Accumsan Aptent Cogo Neo Pecus Proprius Usitas Virtus</p>

                  <!--News item 3-->
                  <p class="my-0 text-sm fw-normal">Abdo Antehabeo Comis Dolore Ideo Tation</p>

                  <!--News item 4-->
                  <p class="my-0 text-sm fw-normal">Capto Quae Quia Ulciscor</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 py-1 py-lg-0">
              <!--Copyright social media icons-->
              <div class="d-flex justify-content-center justify-content-lg-end align-items-center">
                <p class="my-0 ms-3 text-xs order-2">Copyright 2024</p>
                <!--@todo: replace with company social media details-->
                <div class="d-flex gap-1">
                  <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-twitter"></i> <span class="visually-hidden">Twitter</span> </a>
                  <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-facebook"></i> <span class="visually-hidden">Facebook</span> </a>
                  <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-linkedin"></i> <span class="visually-hidden">Linkedin</span> </a>
                  <a href="#" class="btn btn-icon btn-link btn-sm text-sm text-white"> <i class="fab fa-google-plus"></i> <span class="visually-hidden">Google plus</span> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #Content -->
    <!-- Search form overlay -->

    <!--Header search region - hidden by default using .fade class -->
    <div class="modal fade" tabindex="-1" id="search-overlay" aria-hidden="true" aria-labelledby="search-overlay" data-bs-focus-input="#search-overlay-input">
      <div class="modal-dialog modal-xl">
        <div class="modal-content mt-5 p-0 bg-transparent border-0 shadow-none text-light text-center d-flex align-items-center justify-content-center">
          <form class="search-form d-flex align-items-center container-xl justify-content-start flex-nowrap p-1px bg-white rounded">
            <i class="fa fa-search icon-1x me-2 text-gray-700 ms-3"></i>
            <input type="text" name="search" class="form-control form-control-transparent search h-100 p-4" value="" placeholder="Search" id="search-overlay-input" />
          </form>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="pt-4 pb-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h3 class="text-light op-8 fw-bold">AppStrap<span class="text-primary">Mag</span></h3>
            <p class="text-sm">Making the web a prettier place one template at a time! We make beautiful, quality, responsive Drupal & web templates!</p>
            <address>
              <ul class="list-unstyled text-sm">
                <li>
                  <abbr title="Phone"><i class="fa fa-phone fa-fw text-light op-8"></i></abbr>
                  (+44) 7283643345
                </li>
                <li>
                  <abbr title="Email"><i class="fa fa-envelope fa-fw text-light op-8"></i></abbr>
                  info@appstraptheme.com
                </li>
                <li>
                  <abbr title="Address"><i class="fa fa-home fa-fw text-light op-8"></i></abbr>
                  Sunshine House, Sunville. SUN12 8LU.
                </li>
              </ul>
            </address>
            <!--social media icons-->
            <div class="mt-3 mb-4 mb-lg-0">
              <!--@todo: replace with company social media details-->
              <a href="#" class="btn btn-icon text-light bg-hover-brand-twitter"> <i class="fab fa-twitter"></i> <span class="visually-hidden">Fa twitter</span> </a>
              <a href="#" class="btn btn-icon text-light bg-hover-brand-facebook"> <i class="fab fa-facebook-f"></i> <span class="visually-hidden">Fa facebook f</span> </a>
              <a href="#" class="btn btn-icon text-light bg-hover-brand-linkedin"> <i class="fab fa-linkedin-in"></i> <span class="visually-hidden">Fa linkedin in</span> </a>
              <a href="#" class="btn btn-icon text-light bg-hover-brand-google-plus">
                <i class="fab fa-google-plus-g"></i> <span class="visually-hidden">Fa google plus g</span>
              </a>
            </div>
          </div>

          <div class="col-lg-7 offset-lg-1">
            <div class="row">
              <div class="col-6 col-md-3">
                <h4 class="mt-0">Mens</h4>
                <ul class="list-unstyled footer-links">
                  <li><a href="#">Shoes</a></li>
                  <li><a href="#">Shirts</a></li>
                  <li><a href="#">Trousers</a></li>
                  <li><a href="#">Suits</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Sportswear</a></li>
                  <li><a href="#">Shorts</a></li>
                  <li><a href="#">Swimwear</a></li>
                  <li><a href="#">T-shirts</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3">
                <h4 class="mt-0">Womens</h4>
                <ul class="list-unstyled footer-links">
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Jeans</a></li>
                  <li><a href="#">Skirts</a></li>
                  <li><a href="#">Suits</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Sportswear</a></li>
                  <li><a href="#">Shorts</a></li>
                  <li><a href="#">Swimwear</a></li>
                  <li><a href="#">T-shirts</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3">
                <h4 class="mt-0">Childrens</h4>
                <ul class="list-unstyled footer-links">
                  <li><a href="#">Shoes</a></li>
                  <li><a href="#">Sports Wear</a></li>
                  <li><a href="#">School Clothes</a></li>
                  <li><a href="#">Trousers</a></li>
                  <li><a href="#">Suits</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Sportswear</a></li>
                  <li><a href="#">Swimwear</a></li>
                  <li><a href="#">T-shirts</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3">
                <h4 class="mt-0">Baby</h4>
                <ul class="list-unstyled footer-links">
                  <li><a href="#">Newborn</a></li>
                  <li><a href="#">Toddler</a></li>
                  <li><a href="#">Preschool</a></li>
                  <li><a href="#">Winter Suits</a></li>
                  <li><a href="#">Jackets</a></li>
                  <li><a href="#">Sportswear</a></li>
                  <li><a href="#">Swimwear</a></li>
                  <li><a href="#">T-shirts</a></li>
                  <li><a href="#">Trousers</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--@todo: replace with company copyright details-->
        <div class="subfooter text-sm row">
          <div class="col-lg-6">
            <p class="m-0">
              Built with <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="footer-link">AppStrap Bootstrap 5 Theme</a>
              <span class="d-none d-lg-inline">|</span> <span class="d-block d-lg-inline">Copyright 2024 &copy; AppStrap</span>
            </p>
          </div>
          <div class="col-lg-6 text-lg-end">
            <ul class="list-inline footer-links">
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a href="#top" class="btn btn-icon btn-dark position-fixed bottom-0 end-0 me-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
