<!-- 
{
  "pageTitle": "One Pager Slideshow",
  "pageKey": "index-onepager",
  "pageActiveTrail": [
    "index",
    "index-onepagers"
  ],
  "headerSticky": true,
  "headerShoppingCart": false,
  "mobileMenuType": "collapse",
  "mobileMenuTarget": "#submenu",
  "bodyClass": "page-onepager",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "py-3 navbar-nav-onepager",
  "navbarSecondaryClass": "order-lg-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md navbar-expand-collapse",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavActiveClass": "text-primary",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>One Pager Slideshow | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse collapse justify-content-md-end me-md-3 px-3 px-md-0">
        <!-- one pager navigation -->
        <ul class="navbar-nav py-3 navbar-nav-onepager">
          <li class="nav-item">
            <a href="#top" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative">
              <i class="fa fa-home nav-link-icon"></i> <span class="d-none">Home</span>
            </a>
          </li>

          <li class="nav-item"><a href="#about" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> About </a></li>
          <li class="nav-item"><a href="#features" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> Features </a></li>
          <li class="nav-item"><a href="#pricing" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> Pricing </a></li>
          <li class="nav-item"><a href="#contact" data-bs-toggle="scroll-link" data-active-class="text-primary" class="nav-link position-relative"> Contact </a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Showshow - Slider Revolution see: plugins/slider-revolution/examples&sources for help invoke using data-bs-toggle="slider-rev" options can be passed to the slider via HTML5 data- ie. data-startwidth="960" -->
      <div class="slider-wrapper rev_slider_wrapper fullscreen-container bg-black" data-page-class="slider-appstrap-theme">
        <div class="rev_slider fullscreenbanner" data-bs-toggle="slider-rev" data-settings='{"startwidth":1100, "startheight":520, "delay":10000}'>
          <ul>
            <!-- SLIDE 1 -->
            <li
              class="slide overlay overlay-op-4 overlay-gradient"
              data-transition="fadethroughdark"
              data-slotamount="7"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-masterspeed="default"
              data-thumb="./assets/img/slides/app_bg.jpg"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Slide"
              data-link="shop-list.html"
            >
              <img
                src="./assets/img/slide-dummy.png"
                data-lazyload="./assets/img/slides/app_bg.jpg"
                alt="background image"
                data-bgposition="center top"
                data-bgfit="cover"
                data-bgparallax="off"
                class="rev-slidebg"
                data-no-retina
              />
              <!-- SLIDE 1 Content-->
              <div class="slide-content container" style="z-index: 10">
                <!--elements within .slide-content are pushed below navbar on "behind"-->
                <!-- Layer 1 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['120','120','120','120']"
                  data-fontsize="['52','52','52','52']"
                  data-lineheight="['52','52','52','52']"
                  data-width="420"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="left"
                >
                  <span class="fw-bold text-uppercase text-white">Welcome to AppStrap</span>
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['60','60','60','60']"
                  data-fontsize="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                >
                  A real crowd-pleaser of a Bootstrap 5 Theme
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption rs-parallaxlevel-8"
                  data-frames='[{"from":"o:0;sX:3;sY:3;","speed":2000,"to":"o:0.20;sX:3;sY:3;","delay":1800,"ease":"default"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                  data-x="left"
                  data-y="bottom"
                  data-hoffset="-200"
                  data-voffset="0"
                  data-width="none"
                  data-height="none"
                  data-type="image"
                  data-basealign="slide"
                >
                  <i class="fa fa-bullseye icon-20x icon-bg op-1 text-white"></i>
                </div>
                <!-- Layer 4 -->
                <div
                  class="tp-caption tp-resizeme bg-primary-bright"
                  data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="bottom"
                  data-voffset="100"
                  data-width="380"
                  data-height="4"
                  data-basealign="slide"
                ></div>
              </div>
            </li>
            <!-- SLIDE 2 -->
            <li
              class="slide"
              data-transition="fade"
              data-slotamount="default"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Slide"
            >
              <img
                src="./assets/img/slides/transparent.png"
                class="rev-slidebg bg-white"
                alt="Background image"
                data-bgcolor="#ffffff"
                data-bgposition="center center"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
                data-bgparallax="off"
                data-no-retina
              />
              <!-- LAYERS -->
              <!-- Layer 1 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-8"
                data-x="['left','left','left','left']"
                data-hoffset="['-364','-364','-420','-416']"
                data-y="['top','top','top','top']"
                data-voffset="['-185','-185','-185','-185']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_penpot.png"
                  alt=""
                  data-ww="['650px','650px','650px','650px']"
                  data-hh="['500px','500px','500px','500px']"
                  width="650"
                  height="500"
                  data-no-retina
                />
              </div>
              <!-- Layer 2 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-9"
                data-x="['right','right','right','right']"
                data-hoffset="['-100','-100','-120','-144']"
                data-y="['top','top','top','top']"
                data-voffset="['-254','-254','-254','-254']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 6; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_flowerpot.png"
                  alt=""
                  data-ww="['700px','700px','700px','700px']"
                  data-hh="['600px','600px','600px','600px']"
                  width="700"
                  height="600"
                  data-no-retina
                />
              </div>
              <!-- Layer 3 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-10"
                data-x="['left','left','left','left']"
                data-hoffset="['-472','-372','-340','-638']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['-484','-484','-520','-522']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"x:left;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 7; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_papers.png"
                  alt=""
                  data-ww="['900px','900px','900px','900px']"
                  data-hh="['1000px','1000px','1000px','1000px']"
                  width="900"
                  height="1000"
                  data-no-retina
                />
              </div>
              <!-- Layer 4 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-12"
                data-x="['left','left','left','left']"
                data-hoffset="['134','134','-2','-57']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['67','67','50','6']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 8; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_marker.png"
                  alt=""
                  data-ww="['200px','200px','200px','200px']"
                  data-hh="['300px','300px','300px','300px']"
                  width="200"
                  height="300"
                  data-no-retina
                />
              </div>
              <!-- Layer 5 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-11"
                data-x="['left','left','left','left']"
                data-hoffset="['181','181','30','-39']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['-170','-170','-190','-212']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 9; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_edding.png"
                  alt=""
                  data-ww="['300px','300px','300px','300px']"
                  data-hh="['400px','400px','400px','400px']"
                  width="300"
                  height="400"
                  data-no-retina
                />
              </div>
              <!-- Layer 6 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-9"
                data-x="['right','right','right','right']"
                data-hoffset="['-364','-364','-479','-553']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['-155','-155','-180','-202']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 12; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_tablet.png"
                  alt=""
                  data-ww="['730px','730px','730px','730px']"
                  data-hh="['520px','520px','520px','520px']"
                  width="730"
                  height="520"
                  data-no-retina
                />
              </div>
              <!-- Layer 7 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-11"
                data-x="['right','right','right','right']"
                data-hoffset="['222','222','105','8']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['8','8','-17','-10']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 13; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_pen.png"
                  alt=""
                  data-ww="['300px','300px','300px','300px']"
                  data-hh="['500px','500px','500px','500px']"
                  width="300"
                  height="500"
                  data-no-retina
                />
              </div>
              <div class="slide-content">
                <!-- Layer 8 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":510,"ease":"Power4.easeOut"},{"delay":640,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Flexbox Support.
                </div>
                <!-- Layer 9 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":2940,"ease":"Power4.easeOut"},{"delay":660,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Bootstrap 5 Based.
                </div>
                <!-- Layer 10 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":5390,"ease":"Power4.easeOut"},{"delay":"690","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Fully Responsive.
                </div>
                <!-- Layer 11 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":7890,"ease":"Power4.easeOut"},{"delay":"wait","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  AppStrap.
                </div>
                <!-- Layer 12 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['-8','-8','-8','-8']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-10','-10','-10','-10']"
                  data-fontsize="['20','20','20','25']"
                  data-lineheight="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:50px;rX:45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  The ultimate Bootstrap 5 Theme!
                </div>
                <!-- Layer 13 -->
                <div
                  class="tp-caption rs-parallaxlevel-3"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['92','92','92','92']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-responsive_offset="on"
                  data-responsive="off"
                  data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                >
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-outline-primary btn-rounded btn-lg d-none d-md-block"
                    >Get AppStrap</a
                  >
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-outline-primary btn-rounded btn-sm d-md-none"
                    >Get AppStrap</a
                  >
                </div>
              </div>
            </li>
            <!-- SLIDE 3 -->
            <li
              class="slide overlay overlay-op-2"
              data-index="rs-3007"
              data-transition="fadethroughdark"
              data-slotamount="default"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="Power4.easeInOut"
              data-easeout="Power4.easeInOut"
              data-masterspeed="2000"
              data-thumb="./assets/img/slides/office_cover-100x50.jpg"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Office"
            >
              <!-- MAIN IMAGE -->
              <img src="./assets/img/slides/office_cover.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina />
              <!-- LAYERS -->
              <!-- BACKGROUND VIDEO LAYER -->
              <div
                class="rs-background-video-layer"
                data-forcerewind="on"
                data-volume="mute"
                data-videowidth="100%"
                data-videoheight="100%"
                data-videomp4="./assets/img/slides/Working-Space.mp4"
                data-videopreload="auto"
                data-videoloop="loopandnoslidestop"
                data-forceCover="1"
                data-aspectratio="16:9"
                data-autoplay="true"
                data-autoplayonlyfirsttime="false"
              ></div>
              <!-- Layer 1 -->
              <div
                class="tp-caption text-white"
                data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']"
                data-voffset="['-30','-30','-30','-20']"
                data-fontsize="['70','70','70','70']"
                data-lineheight="['70','70','70','60']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
              >
                Pack with features!
              </div>
              <!-- Layer 2 -->
              <div
                class="tp-caption text-light"
                data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']"
                data-voffset="['22','22','22','0']"
                data-fontsize="['20','20','20','20']"
                data-lineheight="['20','20','20','20']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
              >
                Kickstart your next web project with AppStrap!
              </div>
              <!-- Layer 3 -->
              <div
                class="tp-caption"
                data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']"
                data-voffset="['122','122','60','30']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-basealign="slide"
                data-responsive_offset="off"
                data-responsive="on"
                data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
              >
                <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-rounded btn-lg d-none d-md-block"
                  >Get AppStrap</a
                >
                <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-rounded btn-sm d-md-none"
                  >Get AppStrap</a
                >
              </div>
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!--end of tp-banner-->
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <!-- About -->
      <div id="about" class="py-3 pt-lg-6 pb-lg-0">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.8">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-center fw-bold my-0">We are <span class="text-shadow">AppStrap</span></h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-muted">This is how we roll</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row">
            <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.4" data-animate-offset="100%">
              <p class="lead">Damnum dolore ea enim exputo immitto modo.</p>
              <p>Abigo ea ideo utrum. Accumsan appellatio iaceo nulla praemitto rusticus sagaciter. Aliquip olim quidem. Abdo blandit genitus saepius.</p>
              <p class="mb-0">
                Causa consequat conventio damnum molior occuro paulatim quidne turpis valetudo. Ex lenis nulla premo valde. Cui haero utinam. Comis elit haero hendrerit immitto
                odio patria.
              </p>
            </div>
            <div class="col-md-6" data-animate="fadeIn" data-animate-delay="0.8" data-animate-offset="100%">
              <div class="mb-4 hstack gap-3">
                <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>

                <div>
                  <h4 class="mb-1">Accumsan Praesent Proprius Vicis</h4>
                  Pecus si vulpes. Dolore gilvus hos luctus metuo pagus quibus ratis sagaciter ullamcorper.
                </div>
              </div>
              <div class="mb-4 hstack gap-3">
                <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>

                <div>
                  <h4 class="mb-1">Appellatio Defui Distineo Tego</h4>
                  Facilisi incassum jugis quidem. Acsi immitto inhibeo nobis nulla quidem scisco validus veniam.
                </div>
              </div>
              <div class="mb-4 hstack gap-3">
                <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>

                <div>
                  <h4 class="mb-1">Elit Oppeto Pneum Ymo</h4>
                  Augue damnum nisl probo. Euismod lenis lucidus ut.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Why AppStrap -->
        <div class="bg-dark mt-3 mt-lg-6">
          <div class="container-fluid">
            <div class="row">
              <div
                class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark"
                data-bg-img="./assets/img/backgrounds/computer-screens.jpg"
                data-animate="fadeIn"
                data-animate-delay="0.1"
              ></div>
              <div class="col-lg-5 py-5" data-animate="fadeIn" data-animate-delay="0.3">
                <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
                <h2 class="display-6 lh-1 text-white mt-0 mb-5">Choose <span class="text-primary fw-bold">AppStrap</span></h2>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center">
                    <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>
                  </div>
                  <div class="col-10 col-md-11 text-light">
                    <h4 class="fw-bold text-white">Fully Optimized</h4>
                    <p>Acsi ludus utinam utrum. Cui duis interdico paratus refoveo sagaciter scisco. Capto dignissim turpis velit vulputate.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center"><i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i></div>
                  <div class="col-10 col-md-11 text-light">
                    <h4 class="fw-bold text-white">Free Upgrades</h4>
                    <p>Aptent causa nutus tincidunt virtus. Abdo elit iaceo minim mos natu pneum usitas utrum valetudo.</p>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-2 col-md-1 text-center">
                    <i class="bi-check-circle text-primary fs-3 align-self-start mt-n1"></i>
                  </div>
                  <div class="col-10 col-md-11 text-light">
                    <h4 class="fw-bold text-white">99.9% Uptime</h4>
                    <p>Accumsan ad genitus laoreet typicus usitas. Abluo comis pneum. Cui ex luctus nulla usitas. Lucidus mos nunc os.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0" />
        <div class="bg-light py-3 py-lg-6">
          <div class="container">
            <h3>Skills Set</h3>
            <hr class="hr-lg m-0 border-primary w-10" />
            <hr class="mt-0 mb-4 hr-blank" />
            <div class="row">
              <div class="col-lg-6">
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-html5 text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">HTML5 (73%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-73 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="73"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-css3 text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">CSS3 (95%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-95 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="95"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-linux text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">System Admin (84%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-84 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="84"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-android text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">Android (41%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-41 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="41"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-windows text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">Windows (97%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-97 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="97"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center mb-4 g-0">
                  <div class="col-md-2 text-md-center"><i class="fab fa-fw icon-2x fa-github-alt text-primary"></i></div>
                  <div class="col-md-10">
                    <h5 class="mt-0">GitHub (82%)</h5>
                    <div class="progress">
                      <div
                        class="progress-bar w-82 bg-primary"
                        data-bs-toggle="progress-bar-animated-progress"
                        role="progressbar"
                        aria-valuenow="82"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hiring MDR block -->
      <div class="px-3 py-5 text-center text-lg-start bg-dark text-white">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-7 py-2">
              <h3 class="fw-bold mt-0 mb-2">We're Hiring!</h3>
              <h5 class="mb-0 op-8">We're looking for talented PHP & Wordpress Developers to join our growing team.</h5>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=themelizeme" class="btn btn-lg btn-primary py-3 px-6">Join Us</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Features -->
      <div id="features" class="container py-4 py-lg-6">
        <div data-animate="fadeIn" data-animate-duration="0.6">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
          <h2 class="text-center text-uppercase fw-bold my-0">Core Features</h2>
          <h5 class="text-center fw-light mt-2 mb-0 text-muted">Great features, great product!</h5>
          <hr class="mb-5 w-50 mx-auto" />
        </div>
        <div class="row text-center">
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.1">
            <i class="la la-tachometer icon-3x text-primary"></i>
            <h4 class="mt-2">Fully Optimized</h4>
            <p>Commoveo damnum eligo importunus te. Abigo cogo cui facilisis gravis interdico praesent sagaciter.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.2">
            <i class="la la-wrench icon-3x text-primary"></i>
            <h4 class="mt-2">Free Support</h4>
            <p>Eu hos imputo nulla obruo singularis velit ymo.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.3">
            <i class="la la-rocket icon-3x text-primary"></i>
            <h4 class="mt-2">Free Upgrades</h4>
            <p>Abluo blandit mauris nobis secundum suscipit. Abluo capto ea esse gravis sudo tego.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.4">
            <i class="la la-area-chart icon-3x text-primary"></i>
            <h4 class="mt-2">99.9% Uptime</h4>
            <p>Adipiscing commodo consectetuer esse gemino imputo mos oppeto paulatim sed.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.5">
            <i class="la la-users icon-3x text-primary"></i>
            <h4 class="mt-2">Multiuser</h4>
            <p>Imputo natu neque refero rusticus. Aliquip aptent capto consequat ideo pecus populus suscipit.</p>
          </div>
          <div class="col-lg-4 py-2" data-animate="fadeIn" data-animate-delay="0.6">
            <i class="la la-plug icon-3x text-primary"></i>
            <h4 class="mt-2">Plug n play</h4>
            <p>Caecus eligo hendrerit in nobis virtus vulpes. Decet illum quidem sed.</p>
          </div>
        </div>
      </div>
      <!--Pricing Table-->
      <div id="pricing" class="bg-light py-3 py-lg-6">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-center fw-bold my-0">Pricing Plans</h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-muted">Competitive pricing plans to suit your needs</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row pricing-stack">
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.2">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.3">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm">
                  <span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.4">
              <div class="card bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>Umlimited User Accounts</li>
                    <li>Umlimited Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" data-animate="fadeIn" data-animate-delay="0.5">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Plan features -->
          <div data-animate="fadeInUp" data-animate-duration="1.2" data-animate-offset="100%">
            <!-- Plan features -->
            <div class="bg-light py-3 mt-4 text-center">
              <h4 class="mt-0">
                <span>All Plans <span class="fw-normal text-muted">Include</span>:</span>
              </h4>
              <div class="hstack gap-3 text-muted my-0 mx-auto justify-content-center">
                <div>90 day money back guarantee</div>
                <div class="vr bg-primary op-9"></div>
                <div>24/7 telephone support</div>
                <div class="vr bg-primary op-9"></div>
                <div>FREE Setup</div>
                <div class="vr bg-primary op-9"></div>
                <div>Migration Help</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video background MDR -->
      <div class="p-3 p-lg-5 bg-light text-center" data-bg-video="./assets/videos/bubbles.mp4" data-animate="fadeIn">
        <div class="container">
          <h2 class="text-white display-4 text-shadow">Add some <span class="font-italic fw-bold">fizz</span> to your next website!</h2>
          <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary mt-4">Get AppStrap!</a>
        </div>
      </div>
      <!--Customer testimonial-->
      <div id="testimonials" class="p-3 py-lg-6 bg-dark">
        <div class="container">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-white text-center fw-bold my-0">Highly Recommended</h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-light">99% of our customers recommend us!</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row">
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.1">
                <p class="blockquote-bubble-content bg-white">"It's totally awesome, we're could imagine life without it!"</p>
                <small class="text-light">Jimi Bloggs <span class="text-primary fw-bold">/</span> <a href="#">@mrjimi</a></small>
              </blockquote>
            </div>
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.2">
                <p class="blockquote-bubble-content bg-white text-center">"10 out of 10, highly recommended!"</p>
                <small class="text-light">Steve Bloggs <span class="text-primary fw-bold">/</span> <a href="#">Founder</a></small>
              </blockquote>
            </div>
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.3">
                <p class="blockquote-bubble-content bg-white text-center">"Our productivity & sales are up! Couldn't be happier with this product!"</p>
                <small class="text-light">Adele Bloggs <span class="text-primary fw-bold">/</span> <a href="#">@iamadele</a></small>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div data-animate="fadeIn" data-animate-duration="0.6">
            <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
            <h2 class="text-center fw-bold my-0">Contact Us</h2>
            <h5 class="text-center fw-light mt-2 mb-0 text-muted">Make contact about your next project</h5>
            <hr class="mb-5 w-50 mx-auto" />
          </div>
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5">
              <div class="google-map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border: 0"
                ></iframe>
              </div>
            </div>
            <div class="col-md-6">
              <form id="contact-form" action="#">
                <div class="mb-3 form-floating" data-animate="fadeInDown" data-animate-delay="0.2">
                  <input type="text" class="form-control" id="contact-name" placeholder="Name" />
                  <label for="contact-name">Name</label>
                </div>
                <div class="mb-3 form-floating" data-animate="fadeInDown" data-animate-delay="0.3">
                  <input type="email" class="form-control" id="contact-email" placeholder="Email" />
                  <label for="contact-email">Email</label>
                </div>
                <div class="mb-3 form-floating" data-animate="fadeInDown" data-animate-delay="0.4">
                  <textarea rows="5" class="form-control" id="contact-message" placeholder="Message" style="height: 150px"></textarea>
                  <label for="contact-message">Message</label>
                </div>
                <input type="button" class="btn btn-outline-primary px-6 py-2" value="Send Message" />
              </form>
            </div>
            <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
              <h4 class="mb-1 fw-bold">AppStrap Inc.</h4>
              <p class="mb-1">
                <abbr title="Address"><i class="fa fa-home pe-2"></i></abbr>
                Sunshine House, Sunville. SUN12 8LU.
              </p>
              <p class="mb-1">
                <abbr title="Email"><i class="fa fa-envelope pe-2"></i></abbr>
                info@appstrap.me
              </p>
              <p class="mb-0">
                <abbr title="Phone"><i class="fa fa-phone pe-2"></i></abbr>
                019223 8092344
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-compact.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
