<!-- 
{
  "pageTitle": "Homepage (default)",
  "pageKey": "index",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Homepage (default) | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Showshow - Slider Revolution see: plugins/slider-revolution/examples&sources for help invoke using data-bs-toggle="slider-rev" options can be passed to the slider via HTML5 data- ie. data-startwidth="960" -->
      <div class="slider-wrapper rev_slider_wrapper fullscreen-container bg-black" data-page-class="slider-appstrap-theme">
        <div class="rev_slider fullscreenbanner" data-bs-toggle="slider-rev" data-settings='{"startwidth":1100, "startheight":620, "delay":10000}'>
          <ul>
            <!-- SLIDE 1 -->
            <li
              class="slide overlay overlay-op-4 overlay-gradient"
              data-transition="fadethroughdark"
              data-slotamount="7"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-masterspeed="default"
              data-thumb="./assets/img/slides/app_bg.jpg"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Slide"
              data-link="shop-list.html"
            >
              <img
                src="./assets/img/slide-dummy.png"
                data-lazyload="./assets/img/slides/app_bg.jpg"
                alt="background image"
                data-bgposition="center top"
                data-bgfit="cover"
                data-bgparallax="off"
                class="rev-slidebg"
                data-no-retina
              />
              <!-- SLIDE 1 Content-->
              <div class="slide-content container" style="z-index: 10">
                <!--elements within .slide-content are pushed below navbar on "behind"-->
                <!-- Layer 1 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['120','120','120','120']"
                  data-fontsize="['52','52','52','52']"
                  data-lineheight="['52','52','52','52']"
                  data-width="420"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="left"
                >
                  <span class="fw-bold text-uppercase text-white">Welcome to AppStrap</span>
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['60','60','60','60']"
                  data-fontsize="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                >
                  A real crowd-pleaser of a Bootstrap 5 Theme
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption rs-parallaxlevel-8"
                  data-frames='[{"from":"o:0;sX:3;sY:3;","speed":2000,"to":"o:0.20;sX:3;sY:3;","delay":1800,"ease":"default"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                  data-x="left"
                  data-y="bottom"
                  data-hoffset="-200"
                  data-voffset="0"
                  data-width="none"
                  data-height="none"
                  data-type="image"
                  data-basealign="slide"
                >
                  <i class="fa fa-bullseye icon-20x icon-bg op-1 text-white"></i>
                </div>
                <!-- Layer 4 -->
                <div
                  class="tp-caption tp-resizeme bg-primary-bright"
                  data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="bottom"
                  data-voffset="100"
                  data-width="380"
                  data-height="4"
                  data-basealign="slide"
                ></div>
              </div>
            </li>
            <!-- SLIDE 2 -->
            <li
              class="slide"
              data-transition="fade"
              data-slotamount="default"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Slide"
            >
              <img
                src="./assets/img/slides/transparent.png"
                class="rev-slidebg bg-white"
                alt="Background image"
                data-bgcolor="#ffffff"
                data-bgposition="center center"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
                data-bgparallax="off"
                data-no-retina
              />
              <!-- LAYERS -->
              <!-- Layer 1 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-8"
                data-x="['left','left','left','left']"
                data-hoffset="['-364','-364','-420','-416']"
                data-y="['top','top','top','top']"
                data-voffset="['-185','-185','-185','-185']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_penpot.png"
                  alt=""
                  data-ww="['650px','650px','650px','650px']"
                  data-hh="['500px','500px','500px','500px']"
                  width="650"
                  height="500"
                  data-no-retina
                />
              </div>
              <!-- Layer 2 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-9"
                data-x="['right','right','right','right']"
                data-hoffset="['-100','-100','-120','-144']"
                data-y="['top','top','top','top']"
                data-voffset="['-254','-254','-254','-254']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 6; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_flowerpot.png"
                  alt=""
                  data-ww="['700px','700px','700px','700px']"
                  data-hh="['600px','600px','600px','600px']"
                  width="700"
                  height="600"
                  data-no-retina
                />
              </div>
              <!-- Layer 3 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-10"
                data-x="['left','left','left','left']"
                data-hoffset="['-472','-372','-340','-638']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['-484','-484','-520','-522']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"x:left;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 7; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_papers.png"
                  alt=""
                  data-ww="['900px','900px','900px','900px']"
                  data-hh="['1000px','1000px','1000px','1000px']"
                  width="900"
                  height="1000"
                  data-no-retina
                />
              </div>
              <!-- Layer 4 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-12"
                data-x="['left','left','left','left']"
                data-hoffset="['134','134','-2','-57']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['67','67','50','6']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 8; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_marker.png"
                  alt=""
                  data-ww="['200px','200px','200px','200px']"
                  data-hh="['300px','300px','300px','300px']"
                  width="200"
                  height="300"
                  data-no-retina
                />
              </div>
              <!-- Layer 5 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-11"
                data-x="['left','left','left','left']"
                data-hoffset="['181','181','30','-39']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['-170','-170','-190','-212']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 9; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_edding.png"
                  alt=""
                  data-ww="['300px','300px','300px','300px']"
                  data-hh="['400px','400px','400px','400px']"
                  width="300"
                  height="400"
                  data-no-retina
                />
              </div>
              <!-- Layer 6 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-9"
                data-x="['right','right','right','right']"
                data-hoffset="['-364','-364','-479','-553']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['-155','-155','-180','-202']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 12; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_tablet.png"
                  alt=""
                  data-ww="['730px','730px','730px','730px']"
                  data-hh="['520px','520px','520px','520px']"
                  width="730"
                  height="520"
                  data-no-retina
                />
              </div>
              <!-- Layer 7 -->
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-11"
                data-x="['right','right','right','right']"
                data-hoffset="['222','222','105','8']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-voffset="['8','8','-17','-10']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="image"
                data-basealign="slide"
                data-responsive_offset="on"
                data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 13; border-width: 0px"
              >
                <img
                  src="./assets/img/slides/header_pen.png"
                  alt=""
                  data-ww="['300px','300px','300px','300px']"
                  data-hh="['500px','500px','500px','500px']"
                  width="300"
                  height="500"
                  data-no-retina
                />
              </div>
              <div class="slide-content">
                <!-- Layer 8 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":510,"ease":"Power4.easeOut"},{"delay":640,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Flexbox Support.
                </div>
                <!-- Layer 9 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":2940,"ease":"Power4.easeOut"},{"delay":660,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Bootstrap 5 Based.
                </div>
                <!-- Layer 10 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":5390,"ease":"Power4.easeOut"},{"delay":"690","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  Fully Responsive.
                </div>
                <!-- Layer 11 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-70','-70','-70','-90']"
                  data-fontsize="['60','60','60','60']"
                  data-lineheight="['60','60','60','60']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":7890,"ease":"Power4.easeOut"},{"delay":"wait","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  AppStrap.
                </div>
                <!-- Layer 12 -->
                <div
                  class="tp-caption tp-resizeme rs-parallaxlevel-2"
                  data-x="['center','center','center','center']"
                  data-hoffset="['-8','-8','-8','-8']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['-10','-10','-10','-10']"
                  data-fontsize="['20','20','20','25']"
                  data-lineheight="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:50px;rX:45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="['center','center','center','center']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                >
                  The ultimate Bootstrap 5 Theme!
                </div>
                <!-- Layer 13 -->
                <div
                  class="tp-caption rs-parallaxlevel-3"
                  data-x="['center','center','center','center']"
                  data-hoffset="['0','0','0','0']"
                  data-y="['middle','middle','middle','middle']"
                  data-voffset="['92','92','92','92']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-responsive_offset="on"
                  data-responsive="off"
                  data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                >
                  <a
                    href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                    class="btn btn-outline-primary btn-rounded btn-lg d-none d-md-block"
                    >Get AppStrap</a
                  >
                  <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-outline-primary btn-rounded btn-sm d-md-none"
                    >Get AppStrap</a
                  >
                </div>
              </div>
            </li>
            <!-- SLIDE 3 -->
            <li
              class="slide overlay overlay-op-2"
              data-index="rs-3007"
              data-transition="fadethroughdark"
              data-slotamount="default"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="Power4.easeInOut"
              data-easeout="Power4.easeInOut"
              data-masterspeed="2000"
              data-thumb="./assets/img/slides/office_cover-100x50.jpg"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Office"
            >
              <!-- MAIN IMAGE -->
              <img src="./assets/img/slides/office_cover.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina />
              <!-- LAYERS -->
              <!-- BACKGROUND VIDEO LAYER -->
              <div
                class="rs-background-video-layer"
                data-forcerewind="on"
                data-volume="mute"
                data-videowidth="100%"
                data-videoheight="100%"
                data-videomp4="./assets/img/slides/Working-Space.mp4"
                data-videopreload="auto"
                data-videoloop="loopandnoslidestop"
                data-forceCover="1"
                data-aspectratio="16:9"
                data-autoplay="true"
                data-autoplayonlyfirsttime="false"
              ></div>
              <!-- Layer 1 -->
              <div
                class="tp-caption text-white"
                data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']"
                data-voffset="['-30','-30','-30','-20']"
                data-fontsize="['70','70','70','70']"
                data-lineheight="['70','70','70','60']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
              >
                Pack with features!
              </div>
              <!-- Layer 2 -->
              <div
                class="tp-caption text-light"
                data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']"
                data-voffset="['22','22','22','0']"
                data-fontsize="['20','20','20','20']"
                data-lineheight="['20','20','20','20']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text"
                data-basealign="slide"
                data-responsive_offset="off"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1300,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
              >
                Kickstart your next web project with AppStrap!
              </div>
              <!-- Layer 3 -->
              <div
                class="tp-caption"
                data-x="['center','center','center','center']"
                data-hoffset="['0','0','0','0']"
                data-y="['middle','middle','middle','middle']"
                data-voffset="['122','122','60','30']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-basealign="slide"
                data-responsive_offset="off"
                data-responsive="on"
                data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
              >
                <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-rounded btn-lg d-none d-md-block"
                  >Get AppStrap</a
                >
                <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary btn-rounded btn-sm d-md-none"
                  >Get AppStrap</a
                >
              </div>
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!--end of tp-banner-->
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <!-- Features -->
      <div id="features" class="container py-4 py-lg-6">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
        <h2 class="text-center fw-bold my-0">Core Features</h2>
        <h5 class="text-center fw-light mt-2 mb-0 text-muted">Great features, great product!</h5>
        <hr class="mb-5 w-50 mx-auto border-transparent" />
        <div class="row text-center px-lg-5">
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-grid-3x3-gap text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.1"></i>
            <h6 class="mt-2 op-8">Huge Bundle of 147 Pages</h6>
            <p class="text-sm text-black-50">A comprehensive set of pages covering all your needs.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-droplet-half text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.2"></i>
            <h6 class="mt-2 op-8">Preset Colour Skins</h6>
            <p class="text-sm text-black-50">Easily switch between vibrant color themes or create your own.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-phone text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.3"></i>
            <h6 class="mt-2 op-8">Powerful Gulp tasks to make development a breeze</h6>
            <p class="text-sm text-black-50">Start new projects with one simple command, control your project from a simple config file.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-layout-sidebar-inset text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.4"></i>
            <h6 class="mt-2 op-8">Perfect for beginners or seasoned developers</h6>
            <p class="text-sm text-black-50">Control your projects from a simple config file OR get in depth at code level, it's up to you!</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-code-slash text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.5"></i>
            <h6 class="mt-2 op-8">Full Sass Integration</h6>
            <p class="text-sm text-black-50">Easily customize your styles with powerful Sass support.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-gem text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.6"></i>
            <h6 class="mt-2 op-8">BrowseSync Integrated</h6>
            <p class="text-sm text-black-50">Fire up a server with a simple command, make changes & watch them reload in your browser.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-award text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.7"></i>
            <h6 class="mt-2 op-8">Over 2500 Icons & 5 Iconsets</h6>
            <p class="text-sm text-black-50">A vast collection of icons to match any design or purpose, iconpacts are loaded ondemand.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-box-seam text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.8"></i>
            <h6 class="mt-2 op-8">Modular & Easy to Build</h6>
            <p class="text-sm text-black-50">Construct your site effortlessly with modular components.</p>
          </div>
          <div class="col-md-4 col-sm-6 py-2">
            <i class="bi bi-lightning text-primary icon-3x icon-sq bg-light bg-op-8 rounded-circle mx-auto mb-3" data-animate="fadeIn" data-animate-delay="0.9"></i>
            <h6 class="mt-2 op-8">On Demand Script Loading</h6>
            <p class="text-sm text-black-50">Boost performance with scripts that load only when needed.</p>
          </div>
        </div>
      </div>
      <!-- Why AppStrap -->
      <div class="bg-dark">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark" data-bg-img="./assets/img/backgrounds/computer-screens.jpg"></div>
            <div class="col-lg-4 py-5">
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
              <h2 class="text-white mt-0 mb-5">Choose <span class="text-primary fw-bold">AppStrap</span></h2>
              <div class="d-flex mb-3">
                <i class="bi bi-gear text-white icon-1x icon-sq rounded-circle bg-primary me-3"></i>
                <div class="flex-fill text-light">
                  <h4 class="fw-bold text-white mb-0 op-9">Modular & Easy to Build</h4>
                  <p class="op-8 text-sm">Effortlessly create your site using modular components designed for simplicity.</p>
                </div>
              </div>
              <div class="d-flex mb-3">
                <i class="bi bi-palette text-white icon-1x icon-sq rounded-circle bg-primary me-3"></i>
                <div class="flex-fill text-light">
                  <h4 class="fw-bold text-white mb-0 op-9">16 Preset Colour Skins</h4>
                  <p class="op-8 text-sm">Choose from a variety of vibrant color schemes or customize your own.</p>
                </div>
              </div>
              <div class="d-flex mb-3">
                <i class="bi bi-display text-white icon-1x icon-sq rounded-circle bg-primary me-3"></i>
                <div class="flex-fill text-light">
                  <h4 class="fw-bold text-white mb-0 op-9">Retina Ready</h4>
                  <p class="op-8 text-sm">Enjoy sharp, high-quality visuals on all high-resolution devices.</p>
                </div>
              </div>
              <div class="d-flex mb-3">
                <i class="bi bi-lightning-charge text-white icon-1x icon-sq rounded-circle bg-primary me-3"></i>
                <div class="flex-fill text-light">
                  <h4 class="fw-bold text-white mb-0 op-9">On Demand Script Loading</h4>
                  <p class="op-8 text-sm">Enhance performance by loading scripts only when necessary.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Pricing Table-->
      <div id="pricing" class="bg-light py-3 py-lg-6">
        <div class="container">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
          <h2 class="text-center fw-bold my-0">Pricing Plans</h2>
          <h5 class="text-center fw-light mt-2 mb-0 text-muted">Competitive pricing plans to suit your needs</h5>
          <hr class="mb-5 w-50 mx-auto border-transparent" />
          <div class="row pricing-stack">
            <div class="col-md-3">
              <div class="card bg-shadow text-center">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">Free!</h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>3 User Accounts</li>
                    <li>3 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>5GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card border bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <h4 class="card-title py-3 my-0 text-shadow op-8">Professional</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm">
                  <span class="fs-6 fw-normal">$</span> 49.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>50 User Accounts</li>
                    <li>50 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bg-white bg-shadow text-center rounded-0 border-top-3-primary">
                <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Business</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 199.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>Umlimited User Accounts</li>
                    <li>Umlimited Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>Unlimited space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg mt-4">Sign Up</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card bg-shadow text-center">
                <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
                <h4 class="card-title py-3 my-0 text-shadow op-8">Starter+</h4>
                <h3 class="fw-bold text-primary bg-light p-2 py-4 m-3 border-bottom shadow-sm card-body-overlap">
                  <span class="fs-6 fw-normal">$</span> 19.95 <span class="fs-6 fw-normal">/MO</span>
                </h3>
                <div class="card-body">
                  <ul class="list-unstyled text-sm text-black-50">
                    <li>10 User Accounts</li>
                    <li>10 Private Projects</li>
                    <li>Umlimited Public Projects</li>
                    <li>15GB of space</li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Plan features -->
          <!-- Plan features -->
          <div class="bg-light py-3 mt-4 text-center">
            <h4 class="mt-0">
              <span>All Plans <span class="fw-normal text-muted">Include</span>:</span>
            </h4>
            <div class="hstack gap-3 text-muted my-0 mx-auto justify-content-center">
              <div>90 day money back guarantee</div>
              <div class="vr bg-primary op-9"></div>
              <div>24/7 telephone support</div>
              <div class="vr bg-primary op-9"></div>
              <div>FREE Setup</div>
              <div class="vr bg-primary op-9"></div>
              <div>Migration Help</div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-3 py-lg-5">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
        <h2 class="text-center fw-bold my-0">Vital Stats</h2>
        <h5 class="text-center fw-light mt-2 mb-0 text-muted">We how we're doing!</h5>
        <hr class="mb-3 w-50 mx-auto border-transparent" />
        <div class="row g-1">
          <div class="col-md-4">
            <div class="position-relative p-3 rounded border">
              <div class="fw-bold text-sm text-muted op-5">Happy Customers</div>
              <h3 class="fw-bold my-0 op-7 text-dark">10000+</h3>
              <div class="position-absolute end-0 top-0">
                <div class="badge bg-primary bg-op-1 text-primary lh-base fw-bold d-inline-flex align-items-center mt-1 me-1"><i class="bi-arrow-up me-1"></i> 56%</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative p-3 rounded border">
              <div class="fw-bold text-sm text-muted op-5">GB Transfered</div>
              <h3 class="fw-bold my-0 op-7 text-dark">1044400</h3>
              <div class="position-absolute end-0 top-0">
                <div class="badge bg-primary bg-op-1 text-primary lh-base fw-bold d-inline-flex align-items-center mt-1 me-1"><i class="bi-arrow-up me-1"></i> 96%</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative p-3 rounded border">
              <div class="fw-bold text-sm text-muted op-5">Bug Reports</div>
              <h3 class="fw-bold my-0 op-7 text-dark">12</h3>
              <div class="position-absolute end-0 top-0">
                <div class="badge bg-danger bg-op-1 text-danger lh-base fw-bold d-inline-flex align-items-center mt-1 me-1"><i class="bi-arrow-down me-1"></i> 2</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video background MDR -->
      <div class="p-3 p-lg-5 bg-light text-center overlay overlay-dark overlay-op-5" data-bg-video="./assets/videos/bubbles.mp4" data-animate="fadeIn">
        <div class="container">
          <h2 class="text-white display-4 text-shadow">Add some <span class="font-italic fw-bold">fizz</span> to your next website!</h2>
          <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="btn btn-primary mt-4">Get AppStrap!</a>
        </div>
      </div>
      <!--Projects carousel -->
      <div id="projects" class="container p-3 py-lg-6" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.project", "gallery":{"enabled":true}}'>
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
        <h2 class="text-center fw-bold my-0">Latest Projects</h2>
        <h5 class="text-center fw-light mt-2 mb-0 text-muted">See what we've been working on!</h5>
        <hr class="mb-5 w-50 mx-auto border-transparent" />
        <div
          class="mt-4 owl-nav-over owl-nav-over-lg owl-dots-center"
          data-bs-toggle="owl-carousel"
          data-owl-carousel-settings='{"responsive":{"0":{"items":1, "nav":false, "dots":true}, "600":{"items":2, "dots":true}, "940":{"items":3, "nav":true, "dots":true}}, "margin":1, "nav":true, "dots":false}'
        >
          <!--Project item 1-->
          <a href="./assets/img/projects/project-1.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid rounded" />
            <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Accumsan Acsi Iustum Obruo Ymo</span> </span>
          </a>

          <!--Project item 2-->
          <a href="./assets/img/projects/project-2.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid rounded" />
            <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Causa Minim Oppeto Te Tego</span> </span>
          </a>

          <!--Project item 3-->
          <a href="./assets/img/projects/project-3.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid rounded" />
            <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Antehabeo Lucidus Utrum Vero Ymo</span> </span>
          </a>

          <!--Project item 4-->
          <a href="./assets/img/projects/project-4.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid rounded" />
            <span class="overlay-hover-content">
              <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Facilisis Iaceo Lucidus Vereor Vicis</span>
            </span>
          </a>

          <!--Project item 5-->
          <a href="./assets/img/projects/project-5.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid rounded" />
            <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Autem Capto Cui Quae Suscipit</span> </span>
          </a>

          <!--Project item 6-->
          <a href="./assets/img/projects/project-6.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid rounded" />
            <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Capto Comis Exputo Nibh Oppeto</span> </span>
          </a>

          <!--Project item 7-->
          <a href="./assets/img/projects/project-7.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-7-sm.jpg" alt="Project 7" class="img-fluid rounded" />
            <span class="overlay-hover-content">
              <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Imputo Incassum Pertineo Tation Verto</span>
            </span>
          </a>

          <!--Project item 8-->
          <a href="./assets/img/projects/project-8.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-8-sm.jpg" alt="Project 8" class="img-fluid rounded" />
            <span class="overlay-hover-content">
              <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Esca Exputo Obruo Ulciscor Valetudo</span>
            </span>
          </a>

          <!--Project item 9-->
          <a href="./assets/img/projects/project-9.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-9-sm.jpg" alt="Project 9" class="img-fluid rounded" />
            <span class="overlay-hover-content">
              <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Autem Distineo Facilisi Suscipit Validus</span>
            </span>
          </a>

          <!--Project item 10-->
          <a href="./assets/img/projects/project-10.jpg" class="project overlay-hover">
            <img src="assets/img/projects/project-10-sm.jpg" alt="Project 10" class="img-fluid rounded" />
            <span class="overlay-hover-content">
              <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Cui Mauris Proprius Refero Suscipit</span>
            </span>
          </a>
        </div>
      </div>
      <!--Customer testimonial-->
      <div id="testimonials" class="p-3 py-lg-6 bg-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
          <h2 class="text-white text-center fw-bold my-0">Highly Recommended</h2>
          <h5 class="text-center fw-light mt-2 mb-0 text-light">99% of our customers recommend us!</h5>
          <hr class="mb-5 w-50 mx-auto border-transparent" />
          <div class="row">
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.1">
                <p class="blockquote-bubble-content bg-white">"It's totally awesome, we're could imagine life without it!"</p>
                <small class="text-light">Jimi Bloggs <span class="text-primary fw-bold">/</span> <a href="#" class="text-light op-8">@mrjimi</a></small>
              </blockquote>
            </div>
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.2">
                <p class="blockquote-bubble-content bg-white text-center">"10 out of 10, highly recommended!"</p>
                <small class="text-light">Steve Bloggs <span class="text-primary fw-bold">/</span> <a href="#" class="text-light op-8">Founder</a></small>
              </blockquote>
            </div>
            <div class="col-md-4 d-md-flex">
              <blockquote class="blockquote-bubble text-center" data-animate="fadeIn" data-animate-delay="0.3">
                <p class="blockquote-bubble-content bg-white text-center">"Our productivity & sales are up! Couldn't be happier with this product!"</p>
                <small class="text-light">Adele Bloggs <span class="text-primary fw-bold">/</span> <a href="#" class="text-light op-8">@iamadele</a></small>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
