<!-- 
{
  "pageTitle": "Charity Homepage",
  "pageKey": "index-charity",
  "pageActiveTrail": [
    "pages"
  ],
  "headerOffcanvas": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Charity Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <div data-bs-toggle="sticky">
        <!--Header & Branding region-->
        <div class="position-absolute w-100 border-bottom border-light border-op-2 bg-dark bg-op-2 sticky-bg-op-8 sticky-border-op-1 sticky-bg-black">
          <div class="navbar navbar-expand-md navbar-main">
            <div class="container">
              <!--branding/logo -->
              <div class="hstack gap-3">
                <a class="navbar-brand text-white fs-4 fw-normal me-0" href="index.html" title="Home"> <span class="fw-bold">App</span>Strap. </a>
                <div class="vr vr-half bg-white d-none d-lg-block"></div>
                <div class="d-none d-lg-block text-uppercase fw-bold text-white">charity</div>
              </div>
              <!--everything within this div is hidden on mobile-->
              <div class="navbar-main navbar-collapse collapse navbar-dark">
                <!--main navigation-->
                <ul class="navbar-nav container justify-content-md-end">
                  <li class="nav-item">
                    <a href="#top" data-bs-toggle="scroll-link" data-active-class="text-white" data-bs-dismiss="offcanvas" class="nav-link text-capitalize op-7">
                      <span class="nav-link-inner text-font-alt fw-bold" data-title="Home">Home</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#about" data-bs-toggle="scroll-link" data-active-class="text-white" data-bs-dismiss="offcanvas" class="nav-link text-capitalize op-7">
                      <span class="nav-link-inner text-font-alt fw-bold" data-title="Concerts">About </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#causes" data-bs-toggle="scroll-link" data-active-class="text-white" data-bs-dismiss="offcanvas" class="nav-link text-capitalize op-7">
                      <span class="nav-link-inner text-font-alt fw-bold" data-title="Services"> Causes </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#gallery" data-bs-toggle="scroll-link" data-active-class="text-white" data-bs-dismiss="offcanvas" class="nav-link text-capitalize op-7">
                      <span class="nav-link-inner text-font-alt fw-bold" data-title="Projects">Gallery</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#news" data-bs-toggle="scroll-link" data-active-class="text-white" data-bs-dismiss="offcanvas" class="nav-link text-capitalize op-7">
                      <span class="nav-link-inner text-font-alt fw-bold" data-title="Contact">News</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!--/.navbar-collapse -->
              <!-- other header content -->
              <div class="order-last"><a href="#causes" data-bs-toggle="scroll-link" class="btn btn-primary fw-bold text-white">Donate</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="position-md-relative">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div class="overlay overlay-op-6 text-start" data-animate="fadeIn" data-bg-img="./assets/img/index-charity/banner-1.jpg">
        <div class="vh-lg-100 container flex-valign text-white position-relative">
          <div class="start-0 pt-5 pt-lg-0 position-lg-absolute bottom-0 end-0 start-0">
            <div class="mt-6 mt-lg-7 mb-3 d-flex align-items-center">
              <div class="w-lg-50">
                <h2 class="display-1 text-font-alt fw-medium text-uppercase mb-0 mt-0">Empower</h2>
                <h2 class="display-4 text-font-alt fw-light mt-md-n4">Children Dream</h2>
                <p class="lead text-font-alt fw-light">
                  Cu eos liber utinam vituperata, ea audire deseruisse qui. Mei at assum consul causae, et vel legendos inciderint disputando.
                </p>
              </div>
            </div>
            <div class="row p-3 px-lg-5 py-lg-3 mt-lg-0 bg-primary text-white d-lg-flex align-items-lg-center">
              <div class="col-lg-5">
                <h3 class="mt-0 text-font-alt fw-bold mb-0 mb-lg-2">Urgent Cause</h3>
                <p class="mb-1 mb-lg-0 text-sm">Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cumid nostrum blandit quaerendum</p>
              </div>
              <div class="col-lg-4">
                <div class="progress h-1 br-10">
                  <div class="progress-bar bg-success bg-op-3 w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="h5 text-center text-lg-start text-font-alt fw-bold mt-2 mb-1 mb-lg-0">$40.000 Donated / 50.000 to Go</div>
              </div>
              <div class="col-lg-3 text-center pt-3 pt-lg-0">
                <a href="#" data-bs-toggle="scroll-link" class="btn btn-primary text-sm btn-lg border-1 border-white text-uppercase">Donate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0 bg-white">
      <!--about -->
      <div id="about">
        <div class="py-5 py-lg-6">
          <div class="container text-center w-lg-70">
            <h2 class="h1 text-font-alt fw-bold mt-0 text-seconary">What We Do</h2>
            <p class="mt-0 w-lg-70 op-4 mx-auto">Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum</p>
            <div class="row text-center mt-4 mt-lg-5">
              <div class="d-md-flex col-md-4 px-3 py-2">
                <div>
                  <i class="ion-cash icon-3x text-primary animated animated-done" data-animate="fadeIn" data-animate-delay="0.1"></i>
                  <h4 class="mt-2 text-uppercase">Donation</h4>
                  <p class="op-5">Fixed headers are fairly common nowadays with</p>
                </div>
              </div>
              <div class="d-md-flex col-md-4 px-3 py-2">
                <div>
                  <i class="ion-heart icon-3x text-primary animated animated-done" data-animate="fadeIn" data-animate-delay="0.2"></i>
                  <h4 class="mt-2 text-uppercase">Volunteer</h4>
                  <p class="op-5">Fixed headers are fairly common nowadays with</p>
                </div>
              </div>
              <div class="d-md-flex col-md-4 px-3 py-2">
                <div>
                  <i class="ion-ios-checkmark-outline icon-3x text-primary animated animated-done" data-animate="fadeIn" data-animate-delay="0.3"></i>
                  <h4 class="mt-2 text-uppercase">Fundraise</h4>
                  <p class="op-5">Fixed headers are fairly common nowadays with</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--causes -->
      <div id="causes">
        <div class="py-5 py-lg-6 position-md-relative overlay overlay-black overlay-op-6" data-bg-img="./assets/img/index-charity/recentcauses.jpg">
          <div class="container text-center">
            <h2 class="h1 mt-0 text-white op-9">Recent Causes</h2>
            <p class="mt-0 op-5 w-lg-60 mx-auto text-white text-sm">
              Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum.
            </p>
            <div class="row mt-4 mt-lg-5">
              <div class="d-md-flex col-md-4">
                <div class="card mb-3 border-0 text-black" data-animate="fadeIn" data-animate-delay="0.1">
                  <img class="card-img-top img-fluid" src="./assets/img/index-charity/cause1.jpg" alt="Card image cap" />
                  <div class="card-body px-4 py-4">
                    <h4 class="card-title mb-4">Ne mea solet insolens pri.</h4>
                    <div class="progress h-1 br-10 mb-2">
                      <div class="progress-bar bg-success bg-op-3 w-50 py-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="text-sm text-font-alt fw-bold text-primary mb-4">$40.000 Donated / 50.000 to Go</p>
                    <p class="card-text mb-4 text-sm op-7">
                      Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                    </p>
                    <a href="#" class="btn btn-lg btn-outline-primary w-lg-50 text-uppercase">Donate</a>
                  </div>
                </div>
              </div>
              <div class="d-md-flex col-md-4">
                <div class="card mb-3 border-0 text-black" data-animate="fadeIn" data-animate-delay="0.1">
                  <img class="card-img-top img-fluid" src="./assets/img/index-charity/cause2.jpg" alt="Card image cap" />
                  <div class="card-body px-4 py-4">
                    <h4 class="card-title mb-4">Ne mea solet insolens pri.</h4>
                    <div class="progress h-1 br-10 mb-2">
                      <div class="progress-bar bg-success bg-op-3 w-50 py-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="text-sm text-font-alt fw-bold text-primary mb-4">$40.000 Donated / 50.000 to Go</p>
                    <p class="card-text mb-4 text-sm op-7 text-start">
                      Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                    </p>
                    <a href="#" class="btn btn-lg btn-outline-primary w-lg-50 text-uppercase">Donate</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-md-flex">
                <div class="card mb-3 border-0 text-black" data-animate="fadeIn" data-animate-delay="0.1">
                  <img class="card-img-top img-fluid" src="./assets/img/index-charity/cause3.jpg" alt="Card image cap" />
                  <div class="card-body px-4 py-4">
                    <h4 class="card-title mb-4">Ne mea solet insolens pri.</h4>
                    <div class="progress h-1 br-10 mb-2">
                      <div class="progress-bar bg-success bg-op-3 w-50 py-1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="text-sm text-font-alt fw-bold text-primary mb-4">$40.000 Donated / 50.000 to Go</p>
                    <p class="card-text mb-4 text-sm op-7 text-start">
                      Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                    </p>
                    <a href="#" class="btn btn-lg btn-outline-primary w-lg-50 text-uppercase">Donate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-primary text-white">
          <div class="container">
            <div class="row py-3 py-lg-4 d-flex align-items-center">
              <div class="col-md-9 mb-3 mb-lg-0">
                <h3 class="my-0 text-font-alt fw-bold text-uppercase">Become a Volnteer</h3>
                <p class="my-0 text-start text-sm">Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel,</p>
              </div>
              <div class="col-md-3 text-center">
                <a
                  href="#"
                  data-bs-toggle="scroll-link"
                  data-animate-delay="0.6"
                  style="animation-delay: 0.6s"
                  class="btn btn-lg btn-primary text-font-alt fw-medium px-5 text-sm border-1 border-white text-uppercase"
                  >Apply Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- gallery -->
      <div id="gallery" class="py-5 py-lg-6">
        <div class="container text-center">
          <h2 class="h1 mt-0 text-seconary text-font-alt fw-bold">Gallery</h2>
          <p class="mt-0 op-5 w-lg-60 mx-auto">Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum</p>
          <div class="row mx-auto mt-4 mt-lg-5">
            <div class="col-md-5 d-none d-lg-flex mt-lg-n4">
              <img class="w-100" src="./assets/img/index-charity/Gallery1.jpg" alt="" />
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 mb-4">
                  <img class="w-100" src="./assets/img/index-charity/Gallery2.jpg" alt="" />
                </div>
                <div class="col-md-6 mb-4 mb-md-0">
                  <img class="w-100" src="./assets/img/index-charity/Gallery3.jpg" alt="" />
                </div>
                <div class="col-md-6">
                  <img class="w-100" src="./assets/img/index-charity/Gallery4.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-3 container" />
      <!-- news -->
      <div id="news" class="py-5 py-lg-6">
        <div class="container">
          <h2 class="h1 text-font-alt fw-bold mt-0 text-seconary text-center">Latest News</h2>
          <p class="mt-0 op-5 w-lg-60 mx-auto text-center">Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum</p>
          <div class="mx-auto mt-4 mt-lg-5">
            <div
              class="card-group owl-nav-center owl-dots-center owl-carousel owl-loaded owl-drag owl-equalheight mt-4 mt-lg-5"
              data-bs-toggle="owl-carousel"
              data-owl-carousel-settings='{"items": 3, "lazyLoad":true, "nav":false, "dots":false,"responsive":{ "0":{"items":1}, "768":{"items":3}}, "loop":true }'
            >
              <!--Timeline item 1-->
              <div class="card border-0 px-lg-5 text-start" data-url="#">
                <h6 class="mb-3 mt-0 text-success">
                  <a href="#">June 22/2017 </a>
                </h6>
                <div class="card-block">
                  <h4 class="card-title mb-4">Ne mea solet insolens, pri scaevola officiis ea.</h4>
                  <p class="card-text mb-3 op-5">
                    Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                  </p>
                  <p class="card-text mb-3 op-5">Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentu</p>
                  <a href="#" class="op-6 d-flex align-items-center text-uppercase"
                    ><span class="me-2"> Read More </span> <i class="ion-ios-arrow-thin-right icon-2x text-light-dark"> </i
                  ></a>
                </div>
              </div>
              <!--Timeline item 1-->
              <div class="card border-0 px-lg-5 text-start" data-url="#">
                <h6 class="mb-3 mt-0 text-success">
                  <a href="#">June 22/2017 </a>
                </h6>
                <div class="card-block">
                  <h4 class="card-title mb-4">Ne mea solet insolens, pri scaevola officiis ea.</h4>
                  <p class="card-text mb-3 op-5">
                    Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                  </p>
                  <p class="card-text mb-3 op-5">Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentu</p>
                  <div class="text-start">
                    <a href="#" class="op-6 d-flex align-items-center text-uppercase"
                      ><span class="me-2"> Read More </span> <i class="ion-ios-arrow-thin-right icon-2x text-light-dark"> </i
                    ></a>
                  </div>
                </div>
              </div>
              <!--Timeline item 1-->
              <div class="card border-0 px-lg-5 text-start" data-url="#">
                <h6 class="mb-3 mt-0 text-success">
                  <a href="#">June 22/2017 </a>
                </h6>
                <div class="card-block">
                  <h4 class="card-title mb-4">Ne mea solet insolens, pri scaevola officiis ea.</h4>
                  <p class="card-text mb-3 op-5">
                    Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                  </p>
                  <p class="card-text mb-3 op-5">Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentu</p>
                  <div class="text-start">
                    <a href="#" class="op-6 d-flex align-items-center text-uppercase"
                      ><span class="me-2"> Read More </span> <i class="ion-ios-arrow-thin-right icon-2x text-light-dark"> </i
                    ></a>
                  </div>
                </div>
              </div>
              <!--Timeline item 1-->
              <div class="card border-0 px-lg-5 text-start" data-url="#">
                <h6 class="mb-3 mt-0 text-success">
                  <a href="#">June 22/2017 </a>
                </h6>
                <div class="card-block">
                  <h4 class="card-title mb-4">Ne mea solet insolens, pri scaevola officiis ea.</h4>
                  <p class="card-text mb-3 op-5">
                    Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.
                  </p>
                  <p class="card-text mb-3 op-5">Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentu</p>
                  <div class="text-center">
                    <a href="#" class="op-6 d-flex align-items-center text-uppercase"
                      ><span class="me-2"> Read More </span> <i class="ion-ios-arrow-thin-right icon-2x text-light-dark"> </i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-5 py-lg-6 bg-slate text-white">
        <div class="container text-center w-lg-70 mx-auto">
          <h2 class="h1 mt-0 text-font-alt fw-bold">How Can You Help?</h2>
          <p class="mt-0 op-7 w-lg-70 mx-auto">Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur, cum id nostrum blandit quaerendum</p>
          <div class="row text-center mx-auto mt-4 mt-lg-5">
            <div class="col-md-4 py-2">
              <i class="ion-speakerphone icon-2x animated animated-done" data-animate="fadeIn" data-animate-delay="0.1" style="animation-delay: 0.1s"></i>
              <h4 class="mt-2 text-font-alt fw-medium text-uppercase">Share on Media</h4>
              <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
            <div class="col-md-4 py-2">
              <i class="ion-heart icon-2x animated animated-done" data-animate="fadeIn" data-animate-delay="0.2" style="animation-delay: 0.2s"></i>
              <h4 class="mt-2 text-font-alt fw-medium text-uppercase">Become a Volunteer</h4>
              <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
            <div class="col-md-4 py-2">
              <i class="ion-cash icon-2x animated animated-done" data-animate="fadeIn" data-animate-delay="0.3" style="animation-delay: 0.3s"></i>
              <h4 class="mt-2 text-font-alt fw-medium text-uppercase">Donate</h4>
              <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
          </div>
        </div>
      </div>
      <!-- VOLUNTEER -->
      <div class="bg-primary text-white">
        <div class="container">
          <div class="row py-3 py-lg-5 px-lg-5 mx-auto d-flex align-items-center">
            <div class="col-md-9 mb-3 mb-lg-0">
              <h3 class="mt-0 text-font-alt fw-bold text-uppercase">Are you ready to volunteer?</h3>
              <p class="my-0 text-sm">Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel,</p>
            </div>
            <div class="col-md-3 text-center"><a href="#" class="btn btn-lg btn-primary px-5 text-sm border-1 border-white text-uppercase">Apply Now </a></div>
          </div>
        </div>
      </div>
    </div>
    <footer id="Contact" class="py-4 py-md-5">
      <div class="container text-center">
        <div class="mb-4">
          <!--@todo: replace with company social media details-->
          <a href="#" class="btn-icon btn btn-lg mx-3"><i class="ion-social-youtube icon-2x"></i></a>
          <a href="#" class="btn-icon btn btn-lg mx-3"><i class="ion-social-linkedin-outline icon-2x"></i></a>
          <a href="#" class="btn-icon btn btn-lg mx-3"><i class="ion-social-twitter icon-2x"></i></a>
          <a href="#" class="btn-icon btn btn-lg mx-3"><i class="ion-social-facebook icon-2x"></i></a>
        </div>
        <p class="my-0 text-black text-font-alt fw-bold">Send an email to: <a href="mailto:info@charity.com" class="text-black"> info@charity.com </a></p>
        <hr class="my-3 my-lg-5" />
        <p class="my-0 text-font-alt fw-medium op-8 text-black">© 2024 AppStrap Charity</p>
      </div>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
