<!-- 
{
  "pageTitle": "Real Estate Homepage",
  "pageKey": "index-realestate-single",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "mobileMenuBtnText": "",
  "mobileMenuTarget": "#submenu",
  "bodyClass": "header-ontop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 text-dark op-8 fw-bold py-0 my-0",
  "navbarClass": "position-absolute w-100 navbar-light de-10 transition mt-n8 py-3 py-md-0 bg-white sticky-mt-0 border-green border-bottom py-3",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarNavClass": "w-100 w-md-auto py-3",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "onepagerNavClass": "text-capitalize",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Real Estate Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Real Estate' %} {% set siteName = 'AppStrap' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div id="submenu" class="navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0">
        <!-- one pager navigation -->
        <ul class="navbar-nav w-100 w-md-auto py-3">
          <li class="nav-item">
            <a href="#highlighted" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Home">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#details" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Details">Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#gallery" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Gallery">Gallery</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#news" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="News">News</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#contact" data-bs-toggle="scroll-link" data-bs-dismiss="offcanvas" class="nav-link position-relative text-capitalize">
              <span class="nav-link-inner" data-title="Contact">Contact</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block navbarSecondaryContent %}
      <a class="btn btn-green rounded-pill shadow-sm order-last" data-bs-toggle="modal" data-bs-target=".real-estate-modal"><i class="bi-eye me-1"></i> Viewings</a>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted" class="bg-black position-relative zindex-9">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="overlay overlay-op-6"
        data-animate="fadeIn"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/index-realestate-single/banner-1.webp,https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-0.3.5&s=29580c56708408d716cb322480d204f7&auto=format&fit=crop&w=1650&q=80"
      >
        <div class="vh-100 pe-2 pe-2 pt-5 py-lg-2 pt-lg-9 text-center text-white d-flex justify-content-center flex-column">
          <div data-bs-toggle="sticky" data-settings='{"persist":true}' class="z-0">
            <button type="button" class="mb-3 d-block mx-auto btn btn-green text-uppercase btn-rounded-none">For Sale</button>
            <h2 class="display-3 fw-bold mb-2" data-animate="fadeInDown" data-animate-delay="0.6">Luxury Villa in Heliopolis</h2>
            <h4 class="fw-bold display-4 fw-light mb-5 mb-0 mb-b-sm-0">26300 Pacific Coast, CA 32300</h4>
            <h5 class="check-details">
              <a href="#features" data-bs-toggle="scroll-link" class="text-light">
                Check Details
                <br />
                <i class="la la-long-arrow-down animate-pulse-light rounded-circle"></i>
              </a>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!--END highlighted-->
    <div class="position-relative zindex-10 bg-white" id="content">
      <!-- ======== @Region: Features ======== -->
      <div id="features" class="py-5 py-lg-6">
        <div class="container container-1000">
          <div class="text-center mb-5">
            <h2 class="h1 fw-bold mb-3 text-dark op-9 text-green">Features</h2>
          </div>
          <div class="row">
            <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-delay="0.1">
              <i class="la la-group icon-3x text-blue align-baseline mb-2"></i>
              <h4 class="text-dark op-9 mb-3">Quiet neighbourhood</h4>
              <p class="text-dark op-7 mb-0">Fixed headers are fairly common nowadays with</p>
            </div>
            <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-delay="0.2">
              <i class="la la-map-marker icon-3x text-blue align-baseline mb-2"></i>
              <h4 class="text-dark op-9 mb-3">Awesome location</h4>
              <p class="text-dark op-7 mb-0">Fixed headers are fairly common nowadays with</p>
            </div>
            <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-delay="0.3">
              <i class="la la-bed icon-3x text-blue align-baseline mb-2"></i>
              <h4 class="text-dark op-9 mb-3">Mordern Design</h4>
              <p class="text-dark op-7 mb-0">Fixed headers are fairly common nowadays with</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END Features -->
      <!-- ======== @Region: Standout ======== -->
      <div id="details">
        <div
          class="vh-100 text-center overlay overlay-op-2 p-3 d-lg-flex align-items-lg-center"
          data-bg-img="./assets/img/index-realestate-single/standout.webp"
          data-css='{"background-position": "center center"}'
        >
          <div class="p-4 p-lg-6 bg-white container">
            <h2 class="fw-normal mb-2 text-green font-md-x3 font-sm-x2">Luxury Villa in Heliopolis</h2>
            <h4 class="fw-light text-dark op-9 mb-lg-4 mb-sm-4 font-md-x2 font-sm-x1">26300 Pacific Coast, CA 32300</h4>
            <div class="text-dark op-9 mb-4">
              Viderer erroribus scribentur id ius. Nec at autem scripserit, meicase nonumy eu. Eum in labore invenire, idque expetenda vix ea. Ex duo novum antiopam, case reque
              eripuit in vel. Nam ancillae contentiones no. Veniam postea labitur qui et, in esse labore reprimique sit.
            </div>
            <div class="row row">
              <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.3">
                <div class=""><i class="la la-arrows-h icon-3x text-blue"></i></div>
                <h4 class="text-dark op-9">Square feet</h4>
                <h4 class="text-dark op-9">3200</h4>
              </div>
              <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.2">
                <i class="la la-bed icon-3x text-blue"></i>
                <h4 class="text-dark op-9">Badrooms</h4>
                <h4 class="text-dark op-9">3</h4>
              </div>
              <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.1">
                <i class="la la-archive icon-3x text-blue"></i>
                <h4 class="text-dark op-9">Bathroom</h4>
                <h4 class="text-dark op-9">3</h4>
              </div>
              <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.4">
                <i class="la la-calendar icon-3x text-blue"></i>
                <h4 class="text-dark op-9">Year build</h4>
                <h4 class="text-dark op-9">2015</h4>
              </div>
              <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.5">
                <i class="la la-car icon-3x text-blue"></i>
                <h4 class="text-dark op-9">Car parking</h4>
                <h4 class="text-dark op-9">2</h4>
              </div>
              <div class="p-3 col-6 col-md-4" data-animate="fadeIn" data-animate-delay="0.6">
                <i class="la la-pagelines icon-3x text-blue"></i>
                <h4 class="text-dark op-9">Large Garden</h4>
                <h4 class="text-dark op-9">1</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--END Standout-->
      <!-- ======== @Region: Photo Tour ======== -->
      <div id="gallery" class="py-4 py-lg-6" data-bs-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.cbp-caption", "gallery":{"enabled":true}}'>
        <div class="container">
          <div class="text-center mb-6 mb-0">
            <h2 class="h1 fw-bold mb-3 text-dark op-9 text-green">Photo Tour</h2>
            <p class="text-dark op-7">
              Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur,
              <br />
              cum id nostrum blandit quaerendum
            </p>
          </div>
          <div id="cbp-loader" class="loading"></div>
          <div
            class="fade my-5"
            data-bs-toggle="cbp"
            data-settings='{"loader":"#cbp-loader","mediaQueries":[{"width": 480,"cols": 3}, {"width": 0,"cols": 1}], "sortToPreventGaps": false,"layoutMode":"masonry","gapVertical":10,"gapHorizontal":10,"animationType":"unfold","caption":"zoom"}'
          ></div>
          <div class="text-center">
            <button
              data-bs-toggle="magnific-popup"
              data-magnific-popup-items=""
              type="button"
              class="btn btn-rounded btn-bold btn-shadow px-4 py-2 mb-0 text-uppercase btn-green text-white"
            >
              See gallery
            </button>
          </div>
        </div>
      </div>
      <!-- END Latest News-->
      <!-- ======== @Region: <Hr>
      ======== -->
      <hr class="w-lg-80 my-4" />
      <!-- END <Hr>
      -->
      <!-- ======== @Region: Latest News ======== -->
      <div id="news" class="py-4 py-lg-6">
        <div class="container">
          <div class="text-center mb-6 mb-0">
            <h2 class="h1 fw-bold mb-3 text-black">Latest News</h2>
            <p class="text-dark op-7">
              Duo at probo maluisset, populo theophrastus in sit. Pri te consequat gloriatur,
              <br />
              cum id nostrum blandit quaerendum
            </p>
          </div>
          <div class="row">
            <div class="col-md-4 mb-5" data-animate="fadeIn" data-animate-delay="0.1">
              <h6 class="text-blue mb-1">June 22/2017</h6>
              <h4 class="text-black mb-4">
                Ne mea solet insolens,
                <br />
                pri scaevola officiis ea.
              </h4>
              <div class="text-dark mb-4">
                <p>Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.</p>
                <p>Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentur.</p>
              </div>
              <a href="#" class="text-dark text-uppercase align-middle text-sm fw-bold">Read more <i class="la la-long-arrow-right la-x text-blue align-middle"></i></a>
            </div>
            <div class="col-md-4 mb-5" data-animate="fadeIn" data-animate-delay="0.2">
              <h6 class="text-blue mb-1">June 22/2017</h6>
              <h4 class="text-black mb-4">
                Ne mea solet insolens,
                <br />
                pri scaevola officiis ea.
              </h4>
              <div class="text-dark mb-4">
                <p>Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.</p>
                <p>Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentur.</p>
              </div>
              <a href="#" class="text-dark text-uppercase align-middle text-sm fw-bold">Read more <i class="la la-long-arrow-right la-x text-blue align-middle"></i></a>
            </div>
            <div class="col-md-4 mb-5" data-animate="fadeIn" data-animate-delay="0.3">
              <h6 class="text-blue mb-1">June 22/2017</h6>
              <h4 class="text-black mb-4">
                Ne mea solet insolens,
                <br />
                pri scaevola officiis ea.
              </h4>
              <div class="text-dark mb-4">
                <p>Ex nec summo oblique. Sea no facer epicuri, no postea oblique nec. Putent impedit inimicus id vel, cum rebum causae aperiri ne, pri veniam reprehendunt ut.</p>
                <p>Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret scribentur.</p>
              </div>
              <a href="#" class="text-dark text-uppercase align-middle text-sm fw-bold">Read more <i class="la la-long-arrow-right la-x text-blue align-middle"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- END Latest News-->
      <!-- ======== @Region: Footer upper ======== -->
      <div id="contact" class="footer bg-blue bg-op-7 pt-6 pb-6 text-center text-white" data-animate="fadeIn" data-animate-delay="0.1">
        <h2 class="display-4 fw-light mb-3">Intrested in a viewing?</h2>
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target=".real-estate-modal"
          class="btn btn-rounded btn-bold px-5 py-3 mb-5 text-uppercase btn-blue border-0 btn-flat text-sm"
        >
          Schedule a showing
        </button>
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-phone icon-2x me-2"></i>0880 876 65 455</div>
            <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-envelope icon-2x me-2"></i>text@appstrap.com</div>
            <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center"><i class="la la-globe icon-2x me-2"></i>90 Fifth Avenue, 3rd floor</div>
          </div>
        </div>
      </div>
      <!-- END Footer upper -->
    </div>
    <!-- ======== @Region: Copyright Section ======== -->
    <div class="footer-bottom d-inline-block w-100 position-relative zindex-10 bg-white" data-animate="fadeIn" data-animate-delay="0.1">
      <div class="text-center copyrighty-section pt-5 pb-5 text-sm fw-bold">&copy; 2024 AppStrap Real Estate</div>
    </div>
    <!--END Copyright Section-->
    <!-- Floating "Schedule a showing" button -->
    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target=".real-estate-modal"
      class="btn btn-icon btn-rounded btn-green icon-sq border-0 btn-floating position-fixed bottom-0 end-0 zindex-20 mb-3 me-3"
    >
      <i class="la la-eye align-baseline" data-bs-toggle="tooltip" title="Schedule a showing"></i>
    </button>
    <!-- @modal: the "Schedule a showing" modal -->
    <div class="modal fade real-estate-modal">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
          <div class="modal-header">
            <h4 class="modal-title">Schedule a showing</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Don't miss out on this amazing opportunity, schedule a showing today!</p>
            <form>
              <div class="mb-3">
                <label class="visually-hidden">Name</label>
                <input type="text" class="form-control form-control-lg form-control-rounded" placeholder="First name" />
              </div>
              <div class="mb-3">
                <label class="visually-hidden">Email</label>
                <input type="email" class="form-control form-control-lg form-control-rounded" placeholder="Email" />
              </div>
              <div class="mb-3">
                <label class="visually-hidden">Phone number</label>
                <input type="tel" class="form-control form-control-lg form-control-rounded" placeholder="Phone number" />
              </div>
              <div class="mb-3">
                <label class="visually-hidden">Showing date desired</label>
                <input type="date" class="form-control form-control-lg form-control-rounded" value="" placeholder="Showing date" />
                <div class="text-xs text-muted form-text ps-2">Showing date desired</div>
              </div>
            </form>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-blue btn-rounded py-3 px-4">Schedule a showing</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
