<!-- 
{
  "pageTitle": "Travel Blog",
  "pageKey": "index-travel-blog",
  "pageActiveTrail": [
    "demos"
  ],
  "pageLoading": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Travel Blog | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div
      id="header"
      class="bg-dark overlay overlay-gradient-flip overlay-op-9 position-lg-fixed start-lg-0 col-lg-3 vh-lg-100 d-lg-flex"
      data-bg-img="./assets/img/index-travel-blog/header.jpg"
      data-css='{"background-position": "center center"}'
    >
      <div class="header bg-transparent p-3 px-lg-5 py-lg-6 text-center text-lg-end d-lg-flex flex-lg-column">
        <!--branding/logo -->
        <div class="header-brand">
          <hr class="border-primary op-8 hr-lg ms-auto w-20 mt-0 mb-2 d-none d-lg-block" />
          <a class="mb-2 header-brand-text text-center text-lg-end text-white text-letter-spacing-sm text-alt" href="index.html" title="Home">
            <h1 class="fw-bold">AppStrap<span class="ms-1 text-white op-6 d-lg-inline-block">Travel</span></h1>
          </a>
          <h4 class="header-slogan d-none d-lg-block text-white fw-light mt-2">Bootstrap 5 travel blog theme for travellers and globetrotters</h4>
        </div>
        <hr class="hr-light op-2 d-none d-lg-block my-3 w-80 me-0" />
        <!-- Footer -->
        <div class="text-white text-sm mt-lg-auto me-0 justify-content-center justify-content-lg-end">
          <!-- socials -->
          <div class="d-flex gap-2 text-white text-sm me-0 justify-content-center justify-content-lg-end">
            <a href="#" title="RSS Feed" class="text-white op-8"><i class="bi-rss sq-sm icon-1x"></i></a>
            <a href="#" title="Twitter" class="text-white op-8"><i class="bi-twitter sq-sm icon-1x"></i></a>
            <a href="#" title="Facebook" class="text-white op-8"><i class="bi-facebook sq-sm icon-1x"></i></a>
            <a href="#" title="Google+" class="text-white op-8"><i class="bi-google sq-sm icon-1x"></i></a>
          </div>
          <!-- nav links -->
          <div class="d-flex gap-3 text-white text-sm mt-lg-auto me-0 justify-content-center justify-content-lg-end">
            <a href="#" class="text-white">Contact</a> <span class="vr op-7 mx-1"></span> <a href="#" class="text-white">About Us</a> <span class="vr op-7 mx-1"></span>
            <a href="#" class="text-white">Advertise</a>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-0 col-lg-9 offset-lg-3">
      <div class="container-fluid px-3 py-5 px-lg-4 py-lg-6 bg-light">
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/05/31">May 31, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Suitcase Dilema - how much should you really (care) carry?</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Nuno Freitas</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/bags.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Antehabeo erat nimis nulla. Iriure premo quidne similis. Hendrerit huic ideo occuro pala. Damnum duis facilisi feugiat meus obruo pertineo ratis saluto sino. Autem
              bene brevitas camur esca iaceo macto. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-2.png" alt="Nuno Freitas image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Nuno Freitas</a>
              </h5>
              <p class="text-xs mb-2">Travel & wine lover, conquering the world one country at a time!!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/02/14">Feb 14, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Off the beaten track & into the unknown!</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Jim Jones</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/unknown.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Acsi cui dolus laoreet nibh scisco suscipere validus velit verto. Adipiscing comis consequat gravis rusticus scisco typicus veniam. Gemino macto vulpes. Hos inhibeo
              interdico lenis quidem rusticus ullamcorper usitas utrum. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-1.png" alt="Jim Jones image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Jim Jones</a>
              </h5>
              <p class="text-xs mb-2">Globetrotter & business owner!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/07/28">Jul 28, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Columbia - Best beaches</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Jim Jones</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/beach.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Aliquip bene facilisis gravis praemitto refoveo rusticus turpis. Letalis metuo nibh nulla oppeto praesent valetudo. Antehabeo augue diam luptatum minim pecus suscipit
              utrum. Aptent consectetuer utrum. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-1.png" alt="Jim Jones image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Jim Jones</a>
              </h5>
              <p class="text-xs mb-2">Globetrotter & business owner!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/03/07">Mar 7, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Searching for that Samba beat in Rio!</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Jim Jones</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/samba.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Abbas abigo causa exputo metuo neo obruo scisco velit. Ad causa commodo eu gilvus patria saepius tego ut uxor. Augue populus probo. Autem damnum distineo minim nisl
              paratus populus refoveo vel. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-1.png" alt="Jim Jones image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Jim Jones</a>
              </h5>
              <p class="text-xs mb-2">Globetrotter & business owner!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/03/02">Mar 2, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">New Zealand with my dad. Some "must see" tips.</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Nuno Freitas</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/new-zealand.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Esca loquor quadrum wisi. Decet defui eum ille imputo neo ulciscor utrum vicis. Imputo praemitto ymo. Mos nulla scisco turpis. Aptent gilvus imputo jus nutus proprius
              si. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-2.png" alt="Nuno Freitas image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Nuno Freitas</a>
              </h5>
              <p class="text-xs mb-2">Travel & wine lover, conquering the world one country at a time!!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/08/28">Aug 28, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Learn to skydive in Norway (video)</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Nuno Freitas</a></p>
            <a href="#" title="View post" class="d-block">
              <iframe src="//player.vimeo.com/video/29017795" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </a>
            <p class="mt-2">
              Aliquip facilisis feugiat huic magna tation. Causa duis eu probo venio. Abdo exerci genitus obruo oppeto os paratus populus singularis voco. Aliquip caecus camur
              luptatum verto. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-2.png" alt="Nuno Freitas image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Nuno Freitas</a>
              </h5>
              <p class="text-xs mb-2">Travel & wine lover, conquering the world one country at a time!!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/03/25">Mar 25, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Chile - Tips and tricks while doing a wine-tasting tour</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Jim Jones</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/wine.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Amet blandit euismod ex plaga tation. Et gravis lenis lobortis neque pala. Aliquip bene nulla uxor. Duis enim iaceo laoreet letalis melior premo tego. Loquor macto
              secundum. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-1.png" alt="Jim Jones image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Jim Jones</a>
              </h5>
              <p class="text-xs mb-2">Globetrotter & business owner!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/07/28">Jul 28, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">USA on a shoestring budget</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Nuno Freitas</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/usa.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Conventio pagus sagaciter. Dolus euismod iaceo minim nimis nisl persto tation turpis uxor. Decet in inhibeo mos pneum singularis. Commoveo feugiat lenis letalis nimis
              nunc velit virtus. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-2.png" alt="Nuno Freitas image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Nuno Freitas</a>
              </h5>
              <p class="text-xs mb-2">Travel & wine lover, conquering the world one country at a time!!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <!-- Post 1 -->
        <article class="row mb-5 pe-xl-6" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-10 order-md-2 pe-xl-5">
            <!-- Post date & mobile author -->
            <p class="text-sm text-muted mb-0 text-font-slab">
              <time datetime="2024/07/04">Jul 4, 2024</time>
            </p>
            <!-- Post title & content -->
            <h2 class="text-font-slab">
              <a href="#" title="View post">Do Greece "The Greek Way"!</a>
            </h2>
            <p class="mb-2 d-md-none text-sm text-muted mb-0 text-font-slab">By <a href="#">Jim Jones</a></p>
            <a href="#" title="View post" class="d-block">
              <img src="./assets/img/index-travel-blog/greece.jpg" alt="alt" class="img-fluid img-padded rounded" />
            </a>
            <p class="mt-2">
              Aliquam eligo immitto magna metuo vero vulpes. Nutus roto si volutpat. Abdo abico capto iustum olim plaga praemitto quadrum ulciscor verto. Consequat exerci ille
              iustum. <a href="#" title="View post" class="fw-bold">Continue Reading.</a>
            </p>
          </div>
          <div class="col-md-2 order-md-1 text-md-end">
            <!-- Post author info -->
            <div class="d-none d-md-block">
              <a href="#" title="Go To Author Profile">
                <img src="./assets/img/index-travel-blog/profile-1.png" alt="Jim Jones image" class="rounded-circle img-padded" width="80" height="80" />
              </a>
              <h5 class="text-font-slab">
                <a href="#">Jim Jones</a>
              </h5>
              <p class="text-xs mb-2">Globetrotter & business owner!</p>
              <p class="text-xs fw-bold"><a href="#" title="Go To Author Profile">View Profile</a></p>
            </div>
            <!-- Post tags -->
            <div class="text-sm">
              <p class="mb-1">Posted in:</p>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Travelbum</a>
              <a href="#" class="badge bg-gray-600 bg-hover-gray-700 text-white text-decoration-none">Tips & Tricks</a>
            </div>
            <!-- Post share links -->
            <div class="mt-4">
              <p class="d-block text-sm mb-1">Share it:</p>
              <a href="http://twitter.com/share" title="Share post on Twitter" class="btn btn-sm btn-icon text-white bg-brand-twitter"
                ><i class="bi-twitter sq-xs"></i><span class="visually-hidden">Twitter</span></a
              >
              <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="btn btn-sm btn-icon text-white bg-brand-facebook"
                ><i class="bi-facebook sq-xs"></i><span class="visually-hidden">Facebook</span></a
              >
              <a href="https://plus.google.com/share" title="Share post on Google Plus" class="btn btn-sm btn-icon text-white bg-brand-google-plus"
                ><i class="bi-google sq-xs"></i><span class="visually-hidden">Google+</span></a
              >
            </div>
          </div>
        </article>
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="visually-hidden">Previous</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="visually-hidden">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
