<!-- 
{
  "pageTitle": "Forum Homepage",
  "pageKey": "index-forum",
  "pageActiveTrail": [
    "pages"
  ],
  "headerSearch": false,
  "headerNavbarToggle": false,
  "mobileMenuBtnText": "",
  "themeColourActive": "blue",
  "headerSearchRegion": false,
  "headerOffcanvas": false,
  "cats": [
    "Development",
    "C++",
    "Android",
    "iOS",
    "Bootstrap 5",
    "AppStrap Theme",
    "Wordpress",
    "Drupal"
  ],
  "posts": [
    "Drupal 8 quick starter guide",
    "Bootstrap 5 development in record time with AppStrap Bootstrap 5 Theme",
    "Windows batch, recursively copy files",
    "HELP! My Windows XP machine is down",
    "Why Bootstrap 5 is so awesome?",
    "My first iOS app, feedback?",
    "Custom shortcut or command to launch command in terminal?"
  ],
  "users": [
    "KenyeW",
    "DanielD",
    "KylieJ",
    "Wizzy",
    "Themelize.me",
    "AppStrapMaster"
  ],
  "bodyClass": "header-ontop text-font-alt",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-4 text-white fw-normal my-0",
  "navbarClass": "position-absolute w-100  py-2 transition  navbar-dark bg-transparent border-light border-op-1 sticky-bg-op-7 sticky-bg-dark",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-2",
  "navbarNavClass": "flex-column align-items-center",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-70 d-none d-md-inline-block bg-white",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "fw-bold text-letter-spacing text-uppercase"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en" class="offcanvas-style-overtop">
  <head>
    <title>Forum Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = 'Forum' %} {% block headerNavbarNav %}
      <!--main navigation-->
      <ul class="nav navbar-nav flex-row align-items-center">
        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link text-white text-sm p-2">Sign Up</a></li>
        <li class="nav-item d-none d-md-block text-white">/</li>
        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link text-white text-sm p-2"> Sign In </a></li>
        <li class="nav-item ms-lg-3">
          <a class="btn btn-primary btn-sm fs-5 lh-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"> <i class="bi-list icon-1x fw-bold"></i></a>
        </li>
      </ul>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="vh-lg-100 bg-white text-center text-lg-start py-5 py-lg-10 flex-valign"
        data-bg-img="./assets/img/index-forum/banner-1.jpg"
        data-css='{"background-position":"center top","background-attachment":"fixed"}'
      >
        <div data-bs-toggle="sticky" data-settings='{"persist":true,"breakpoint":992}' class="top-0-auto z-0">
          <div class="container pt-6 text-center" data-scroll="scrollax">
            <h2 class="display-4 text-white mb-0 w-100 w-lg-50 mx-auto fw-bold" data-animate="fadeIn" data-animate-delay="0.2">Learn, Share, Build</h2>
            <p class="text-white lead w-100 w-lg-60 mx-auto mb-md-6">
              Delicata expetendis cu per. Quo cibo deserunt periculis at, ponderum lucilius ad pri. Est no iudico labores expetenda.
            </p>
            <form class="d-flex mb-0 w-100 w-lg-60 mx-auto position-relative" data-animate="fadeIn" data-animate-delay="0.4">
              <input
                type="search"
                class="form-control font-italic h-auto align-items-center bg-white bg-op-8 p-2 rounded-4 bg-op-focus-auto p-3 pe-5 transition"
                placeholder="Search ..."
              />
              <button type="submit" class="border-0 btn-block btn-lg outline-0 bg-transparent position-absolute top-0 end-0 mt-3 me-2 lh-1">
                <i class="bi-search icon-1x op-5"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pt-5 pb-6 bg-light position-relative zindex-10">
      <div class="container">
        <div class="row">
          <!-- Main content -->
          <div class="col-lg-9 mb-3">
            <div class="row text-start mb-5">
              <div class="col-lg-6 mb-3 mb-sm-0">
                <select class="form-control form-control-lg bg-white bg-op-9 text-sm w-lg-50" data-bs-toggle="select">
                  <option>Categories</option>
                  <option>Learn</option>
                  <option>Share</option>
                  <option>Build</option>
                </select>
              </div>
              <div class="col-lg-6 text-lg-end">
                <select class="form-control form-control-lg bg-white bg-op-9 ms-auto text-sm w-lg-50" data-bs-toggle="select">
                  <option>Filter by</option>
                  <option>Votes</option>
                  <option>Replys</option>
                  <option>Views</option>
                </select>
              </div>
            </div>
            <!-- End of post 1 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-danger border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Bootstrap 5 development in record time with AppStrap Bootstrap 5 Theme</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">59 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Wizzy</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#Bootstrap 5</a> <a class="text-black me-2" href="#">#AppStrap Theme</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">164 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">55 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">90 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 1 -->
            <!-- End of post 2 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">11 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KenyeW</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Development</a> <a class="text-black me-2" href="#">#Bootstrap 5</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">251 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">190 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">65 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 2 -->
            <!-- End of post 3 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">My first iOS app, feedback?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">34 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Wizzy</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#iOS</a> <a class="text-black me-2" href="#">#Bootstrap 5</a>
                    <a class="text-black me-2" href="#">#Wordpress</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">45 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">275 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">211 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 3 -->
            <!-- End of post 4 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-danger border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">HELP! My Windows XP machine is down</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">9 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#iOS</a> <a class="text-black me-2" href="#">#Bootstrap 5</a>
                    <a class="text-black me-2" href="#">#Wordpress</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">49 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">272 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">81 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 4 -->
            <!-- End of post 5 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Custom shortcut or command to launch command in terminal?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">28 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Themelize.me</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#Drupal</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">261 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">296 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">136 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 5 -->
            <!-- End of post 6 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-warning border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">My first iOS app, feedback?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">57 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Wizzy</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#Wordpress</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">37 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">10 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">234 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 6 -->
            <!-- End of post 7 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">HELP! My Windows XP machine is down</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">58 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KylieJ</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#AppStrap Theme</a> <a class="text-black me-2" href="#">#Drupal</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">70 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">275 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">102 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 7 -->
            <!-- End of post 8 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Custom shortcut or command to launch command in terminal?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">19 minutes</a> <span class="op-6">ago by</span>
                    <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Bootstrap 5</a> <a class="text-black me-2" href="#">#AppStrap Theme</a> <a class="text-black me-2" href="#">#Drupal</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">60 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">92 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">115 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 8 -->
            <!-- End of post 9 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Custom shortcut or command to launch command in terminal?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">12 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">DanielD</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#Wordpress</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">41 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">21 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">22 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 9 -->
            <!-- End of post 10 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Why Bootstrap 5 is so awesome?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">53 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KylieJ</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#Bootstrap 5</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">62 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">151 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">7 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 10 -->
            <!-- End of post 11 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">My first iOS app, feedback?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">29 minutes</a> <span class="op-6">ago by</span>
                    <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#iOS</a> <a class="text-black me-2" href="#">#AppStrap Theme</a>
                    <a class="text-black me-2" href="#">#Wordpress</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">167 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">167 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">218 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 11 -->
            <!-- End of post 12 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-warning border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Windows batch, recursively copy files</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">53 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KylieJ</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Development</a> <a class="text-black me-2" href="#">#Drupal</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">75 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">178 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">188 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 12 -->
            <!-- End of post 13 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">26 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Themelize.me</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Development</a> <a class="text-black me-2" href="#">#iOS</a> <a class="text-black me-2" href="#">#Wordpress</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">290 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">175 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">243 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 13 -->
            <!-- End of post 14 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Bootstrap 5 development in record time with AppStrap Bootstrap 5 Theme</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">11 minutes</a> <span class="op-6">ago by</span>
                    <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#iOS</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">117 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">298 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">13 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 14 -->
            <!-- End of post 15 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">HELP! My Windows XP machine is down</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">1 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Wizzy</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Development</a> <a class="text-black me-2" href="#">#iOS</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">177 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">292 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">85 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 15 -->
            <!-- End of post 16 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Why Bootstrap 5 is so awesome?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">12 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Wizzy</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#iOS</a> <a class="text-black me-2" href="#">#Bootstrap 5</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">43 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">219 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">9 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 16 -->
            <!-- End of post 17 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">My first iOS app, feedback?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">35 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Wizzy</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Development</a> <a class="text-black me-2" href="#">#Wordpress</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">239 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">263 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">236 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 17 -->
            <!-- End of post 18 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Why Bootstrap 5 is so awesome?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">7 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">DanielD</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Android</a> <a class="text-black me-2" href="#">#Bootstrap 5</a> <a class="text-black me-2" href="#">#Wordpress</a>
                    <a class="text-black me-2" href="#">#Drupal</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">257 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">21 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">16 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 18 -->
            <!-- End of post 19 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">45 minutes</a> <span class="op-6">ago by</span>
                    <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                  <div class="text-sm op-5"><a class="text-black me-2" href="#">#Bootstrap 5</a> <a class="text-black me-2" href="#">#AppStrap Theme</a></div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">94 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">6 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">243 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 19 -->
            <!-- End of post 20 -->
            <div class="card row-hover position-relative py-3 px-3 mb-3 border-primary border-top-0 border-end-0 border-bottom-0 rounded-0">
              <div class="row align-items-center">
                <div class="col-md-8 mb-3 mb-sm-0">
                  <h5>
                    <a href="#" class="text-primary">Why Bootstrap 5 is so awesome?</a>
                  </h5>
                  <p class="text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">9 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                  <div class="text-sm op-5">
                    <a class="text-black me-2" href="#">#Development</a> <a class="text-black me-2" href="#">#C++</a> <a class="text-black me-2" href="#">#Android</a>
                    <a class="text-black me-2" href="#">#Wordpress</a>
                  </div>
                </div>
                <div class="col-md-4 op-7">
                  <div class="row text-center op-7">
                    <div class="col px-1"><i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">265 Votes</span></div>
                    <div class="col px-1"><i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">217 Replys</span></div>
                    <div class="col px-1"><i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">117 Views</span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End of post 20 -->
            <!-- Online users -->
            <div class="card mt-3 mt-md-6">
              <h5 class="px-4 py-3 mb-0"><span class="ion-record text-success"></span> <span class="op-7">Online Users</span></h5>
              <hr class="m-0 op-7" />
              <div class="row px-4 py-3 align-items-center text-center">
                <div class="col-3 col-sm-2 col-lg-1">
                  <a data-bs-toggle="tooltip" href="#" title="Rich">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user1.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1">
                  <a data-bs-toggle="tooltip" href="#" title="Das">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user2.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 my-2 my-sm-0">
                  <a data-bs-toggle="tooltip" href="#" title="Dery">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user3.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1">
                  <a data-bs-toggle="tooltip" href="#" title="Biko">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user4.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1">
                  <a data-bs-toggle="tooltip" href="#" title="lio">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user1.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1">
                  <a data-bs-toggle="tooltip" href="#" title="tnya">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user2.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 my-2 my-sm-0">
                  <a data-bs-toggle="tooltip" href="#" title="vijy">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user3.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 my-2 my-sm-0">
                  <a data-bs-toggle="tooltip" href="#" title="nimy">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user4.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 my-2 my-sm-0">
                  <a data-bs-toggle="tooltip" href="#" title="nugy">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user1.png" />
                  </a>
                </div>
                <div class="col-3 col-lg-1 col-sm-2 col-xs-3 my-2 my-sm-0">
                  <a data-bs-toggle="tooltip" href="#" title="guli">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user4.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 my-2 my-sm-0">
                  <a data-bs-toggle="tooltip" href="#" title="ery">
                    <img class="img-fluid d-md-block py-2 py-lg-2" data-bg-img="./assets/img/index-forum/user1.png" />
                  </a>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 my-2 my-sm-0">
                  <a class="btn btn-secondary btn-icon btn-rounded op-4" data-bs-toggle="tooltip" href="#" title="More"
                    ><span class="ion-android-more-horizontal icon-1x"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Sidebar content -->
          <div class="col-lg-3 mb-4 mb-lg-0 px-lg-0 mt-lg-0">
            <div data-settings='{"parent":"#content","mind":"#navbar-header","top":10,"breakpoint":992}' data-bs-toggle="sticky">
              <a class="btn btn-lg btn-block btn-success rounded-0 py-4 mb-3 bg-op-6" href="#">Ask Question</a>
              <div class="bg-white mb-3">
                <h4 class="px-3 py-4 op-5 m-0">Active Topics</h4>
                <hr class="m-0" />
                <div class="position-relative px-3 py-3">
                  <h6 class="text-primary text-sm">
                    <a href="#" class="text-primary">Windows batch, recursively copy files </a>
                  </h6>
                  <p class="mb-0 text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">9 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Themelize.me</a>
                  </p>
                </div>
                <hr class="m-0" />
                <div class="position-relative px-3 py-3">
                  <h6 class="text-primary text-sm">
                    <a href="#" class="text-primary">Windows batch, recursively copy files </a>
                  </h6>
                  <p class="mb-0 text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">35 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Themelize.me</a>
                  </p>
                </div>
                <hr class="m-0" />
                <div class="position-relative px-3 py-3">
                  <h6 class="text-primary text-sm">
                    <a href="#" class="text-primary">HELP! My Windows XP machine is down </a>
                  </h6>
                  <p class="mb-0 text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">52 minutes</a> <span class="op-6">ago by</span>
                    <a class="text-black" href="#">AppStrapMaster</a>
                  </p>
                </div>
                <hr class="m-0" />
                <div class="position-relative px-3 py-3">
                  <h6 class="text-primary text-sm">
                    <a href="#" class="text-primary">Why Bootstrap 5 is so awesome? </a>
                  </h6>
                  <p class="mb-0 text-sm">
                    <span class="op-6">Posted</span> <a class="text-black" href="#">60 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">Themelize.me</a>
                  </p>
                </div>
                <hr class="m-0" />
              </div>
              <div class="bg-white text-sm">
                <h4 class="px-3 py-4 op-5 m-0">Stats</h4>
                <hr class="my-0" />
                <div class="row text-center d-flex flex-row op-7 mx-0">
                  <div class="col-sm-6 flex-ew text-center py-3 border-bottom border-end"><a class="d-block lead fw-bold" href="#">58</a> Topics</div>
                  <div class="col-sm-6 col flex-ew text-center py-3 border-bottom mx-0"><a class="d-block lead fw-bold" href="#">1.856</a> Posts</div>
                </div>
                <div class="row d-flex flex-row op-7">
                  <div class="col-sm-6 flex-ew text-center py-3 border-end mx-0"><a class="d-block lead fw-bold" href="#">300</a> Members</div>
                  <div class="col-sm-6 flex-ew text-center py-3 mx-0"><a class="d-block lead fw-bold" href="#">DanielD</a> Newest Member</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="py-0 bg-dark bg-op-9 border-0">
      <!-- Prefooter -->
      <div class="bg-dark py-5">
        <div class="container">
          <div class="row">
            <!-- Categories block -->
            <div class="col-md-2 col-xs-12 mb-4 mb-md-0">
              <h6 class="text-uppercase text-letter-spacing text-white op-8">Categories</h6>
              <ul class="m-0 ps-3 text-sm">
                <li><a href="#" class="text-white op-7">Development</a></li>
                <li><a href="#" class="text-white op-7">C++</a></li>
                <li><a href="#" class="text-white op-7">Android</a></li>
                <li><a href="#" class="text-white op-7">iOS</a></li>
                <li><a href="#" class="text-white op-7">Bootstrap 5</a></li>
                <li><a href="#" class="text-white op-7">AppStrap Theme</a></li>
                <li><a href="#" class="text-white op-7">Wordpress</a></li>
                <li><a href="#" class="text-white op-7">Drupal</a></li>
              </ul>
            </div>
            <!-- Latest posts -->
            <div class="col-md-7 col-xs-12 mb-4 mb-md-0">
              <h6 class="text-uppercase text-letter-spacing text-white op-8">Latest posts</h6>
              <ul class="m-0 ps-3 text-sm">
                <li class="mb-2"><a href="#" class="text-white op-7">Drupal 8 quick starter guide</a></li>
                <li class="mb-2"><a href="#" class="text-white op-7">My first iOS app, feedback?</a></li>
                <li class="mb-2"><a href="#" class="text-white op-7">Windows batch, recursively copy files</a></li>
                <li class="mb-2"><a href="#" class="text-white op-7">Bootstrap 5 development in record time with AppStrap Bootstrap 5 Theme</a></li>
                <li class="mb-2"><a href="#" class="text-white op-7">Why Bootstrap 5 is so awesome?</a></li>
                <li class="mb-2"><a href="#" class="text-white op-7">Custom shortcut or command to launch command in terminal?</a></li>
              </ul>
            </div>
            <!-- Social media -->
            <div class="col-md-3 col-xs-12">
              <h6 class="text-uppercase text-letter-spacing text-white op-8">Follow us</h6>
              <a href="#" class="btn btn-light btn-sm btn-icon border-0 bg-hover-brand-twitter text-hover-white"> <i class="fab bi-twitter"></i> </a>
              <a href="#" class="btn btn-light btn-sm btn-icon border-0 bg-hover-brand-facebook text-hover-white"> <i class="fab bi-facebook"></i> </a>
              <a href="#" class="btn btn-light btn-sm btn-icon border-0 bg-hover-brand-linkedin text-hover-white"> <i class="fab bi-linkedin"></i> </a>
              <a href="#" class="btn btn-light btn-sm btn-icon border-0 bg-hover-brand-google-plus text-hover-white"> <i class="fab bi-google"></i> </a>
              <div class="mt-4">
                <h6 class="text-uppercase text-letter-spacing text-white op-8">Join us</h6>
                <a href="#" class="btn btn-light btn-bold text-uppercase text-letter-spacing text-sm"><i class="la la-user-plus"></i> Sign up</a>
                <a href="#" class="btn btn-light btn-bold text-uppercase text-letter-spacing text-sm"> <i class="la la-user"></i> Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer lower -->
      <div class="container text-lg-end py-3">
        <p class="mb-0 text-sm text-white op-6">&copy; 2024 AppStrap Bootstrap 5 Theme Forum</p>
      </div>
    </footer>
    <!-- Forum off canvas menu: will be hidden automatically -->
    <div id="offcanvas" class="bg-black offcanvas offcanvas-end overflow-auto">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      <div class="position-relative p-3 px-lg-5 py-lg-6">
        <h6 class="text-uppercase text-letter-spacing text-white op-8">Latest posts</h6>
        <ul class="m-0 ps-3 text-sm">
          <li class="mb-2 text-white op-9"><a href="#" class="text-white op-7">My first iOS app, feedback?</a></li>
          <li class="mb-2 text-white op-9"><a href="#" class="text-white op-7">Bootstrap 5 development in record time with AppStrap Bootstrap 5 Theme</a></li>
          <li class="mb-2 text-white op-9"><a href="#" class="text-white op-7">Why Bootstrap 5 is so awesome?</a></li>
          <li class="mb-2 text-white op-9"><a href="#" class="text-white op-7">Drupal 8 quick starter guide</a></li>
        </ul>
        <hr class="my-4 hr-light op-3" />
        <h6 class="text-uppercase text-letter-spacing text-white op-8">Categories</h6>
        <ul class="m-0 ps-3 text-sm">
          <li class="text-white op-9"><a href="#" class="text-white op-7">Development</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">C++</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">Android</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">iOS</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">Bootstrap 5</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">AppStrap Theme</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">Wordpress</a></li>
          <li class="text-white op-9"><a href="#" class="text-white op-7">Drupal</a></li>
        </ul>
        <hr class="my-4 hr-light op-3" />
        <a href="#" class="btn btn-light btn-bold text-uppercase text-letter-spacing text-sm btn-block mb-2"><i class="la la-user-plus"></i> Sign up</a>
        <a href="#" class="btn btn-light btn-bold text-uppercase text-letter-spacing text-sm btn-block"> <i class="la la-user"></i> Login</a>
      </div>
    </div>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
