<!-- 
{
  "pageTitle": "Welcome To AppStrap",
  "pageKey": "intro",
  "headerSticky": false,
  "headerSearch": false,
  "headerOffcanvas": false,
  "headerSearchRegion": false,
  "headerNavbarNavVrHide": true,
  "headerNavbarToggle": false,
  "footerType": "compact",
  "includeColourSwitcher": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 text-dark my-0 h2 py-0",
  "navbarClass": "py-2 py-lg-4",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "py-0 d-none d-lg-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Welcome To AppStrap | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}
    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% block headerNavbarNav %} {% endblock %} {% block navbarSecondaryContent %}<a
        href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
        class="btn btn-primary border-2 px-2 px-lg-4 text-uppercase fw-bold shadow-sm text-xs"
        >Buy Now</a
      >{% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm -->
      <div
        class="bg-black overlay overlay-op-8 text-center"
        data-bs-toggle="backstretch"
        data-backstretch-target="self"
        data-backstretch-overlay="false"
        data-backstretch-imgs="./assets/img/demos/demos-bg-1.png,assets/img/demos/demos-bg-2.png"
      >
        <div data-scroll="scrollax" class="px-3 py-5 py-lg-10 flex-valign" data-animate="fadeIn" data-animate-delay="0.2">
          <h2 class="display-3 text-white fw-bold text-letter-spacing-xs mt-lg-5">Welcome To AppStrap</h2>
          <h3 class="text-white op-9 fw-normal">The Ultimate Bootstrap 5 Theme</h3>
          <hr class="hr-white op-4 hr-lg w-20 mx-auto my-4" />
          <div>
            <a
              href="#demos"
              class="btn btn-light bg-white text-hover-dark bg-hover-light btn-lg fw-bold py-lg-3 px-lg-5"
              data-bs-toggle="scroll-link"
              data-scroll-link-nooffset="true"
              data-animate="fadeIn"
              data-animate-delay="0.45"
              >View Demos</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <!-- Appstrap demos -->
      <div class="py-5 pb-lg-7" id="demos">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
          <h2 class="text-center display-5 fw-bold">AppStrap <span class="fw-bold">Demos</span></h2>
          <h5 class="text-center fw-light mt-2 mb-5 text-muted">
            Using AppStrap core you can build any type of site you like, here are our prebuilt demos
            <br />
            (More are added with every update! <a href="mailto:info@themelize.me?subject=AppStrapDemoRequest">Request a new demo</a>)
          </h5>
        </div>
        <div class="container">
          <!-- Homepages -->
          <h2 class="fs-4 fw-bold mb-3">Default Homepages (13)</h2>
          <div class="row">
            <div class="col-lg-4 mb-5 text-center">
              <a href="index.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index.png" alt="index page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Homepage (default)</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-coming-soon.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-coming-soon.png"
                  alt="index-coming-soon page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Coming Soon</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager.png"
                  alt="index-onepager page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Slideshow</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-bg-slideshow.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-bg-slideshow.png"
                  alt="index-onepager-bg-slideshow page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Background Slideshow</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-dotted-menu-bottom.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-dotted-menu-bottom.png"
                  alt="index-onepager-dotted-menu-bottom page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Dotted Menu Bottom</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-dotted-menu-left.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-dotted-menu-left.png"
                  alt="index-onepager-dotted-menu-left page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Dotted Menu Left</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-dotted-menu-right.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-dotted-menu-right.png"
                  alt="index-onepager-dotted-menu-right page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Dotted Menu Right</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-image.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-image.png"
                  alt="index-onepager-image page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Image</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-image-full-height.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-image-full-height.png"
                  alt="index-onepager-image-full-height page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Image Full Height</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-onepager-submenu.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-onepager-submenu.png"
                  alt="index-onepager-submenu page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">One Pager Submenu</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-promo-header.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-promo-header.png"
                  alt="index-promo-header page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Promo Header</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-static.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-static.png" alt="index-static page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Homepage No Slider</h5>
              </a>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <div class="container">
          <!-- Niches -->
          <h2 class="fs-4 fw-bold mb-3">Industry/Niche Homepages (19)</h2>
          <div class="row">
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-app-landing.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-app-landing.png"
                  alt="index-app-landing page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">App Landing Page</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-charity.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-charity.png"
                  alt="index-charity page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Charity Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-church.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-church.png" alt="index-church page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Church Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-corporate.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-corporate.png"
                  alt="index-corporate page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Corporate Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-event.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-event.png" alt="index-event page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Event Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-forum.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-forum.png" alt="index-forum page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Forum Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-freelancer-portfolio.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-freelancer-portfolio.png"
                  alt="index-freelancer-portfolio page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Freelancer Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-gym.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-gym.png" alt="index-gym page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Gym Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-jobs.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-jobs.png" alt="index-jobs page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Jobs Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-knowledgebase.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-knowledgebase.png"
                  alt="index-knowledgebase page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Knowledgebase</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-magazine.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-magazine.png"
                  alt="index-magazine page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Magazine Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-music.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/index-music.png" alt="index-music page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Music Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-photographer.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-photographer.png"
                  alt="index-photographer page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Photographer Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-realestate-single.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-realestate-single.png"
                  alt="index-realestate-single page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Real Estate Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-restaurant.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-restaurant.png"
                  alt="index-restaurant page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Restaurant Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-technology.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-technology.png"
                  alt="index-technology page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Technology Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="index-wedding.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/index-wedding.png"
                  alt="index-wedding page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Wedding Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop.html" target="_blank" class="hover-grow hover-grow-sm d-block position-relative">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/shop.png" alt="shop page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Shop Homepage</h5>
              </a>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <div class="container">
          <!-- Shop UI -->
          <h2 class="fs-4 fw-bold mb-3">Shop UI / eCommerce (8)</h2>
          <div class="row">
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/shop.png" alt="shop page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Shop Homepage</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop-cart.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/shop-cart.png" alt="shop-cart page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Cart</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop-checkout.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/shop-checkout.png"
                  alt="shop-checkout page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Checkout</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop-confirmation.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/shop-confirmation.png"
                  alt="shop-confirmation page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Confirmation</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop-grid.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/shop-grid.png" alt="shop-grid page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Products Grid</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop-list.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/shop-list.png" alt="shop-list page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Products List</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="shop-product.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/shop-product.png" alt="shop-product page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Product View</h5>
              </a>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <div class="container">
          <!-- Admin UI -->
          <h2 class="fs-4 fw-bold mb-3">Admin UI (13)</h2>
          <div class="row">
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/admin.png" alt="admin page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Dashboard</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-header-dark.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-header-dark.png"
                  alt="admin-header-dark page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Dark navbar</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-sidebar-light.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-sidebar-light.png"
                  alt="admin-sidebar-light page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Light sidebar</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-sidebar-iconbar.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-sidebar-iconbar.png"
                  alt="admin-sidebar-iconbar page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Icon sidebar</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-sidebar-small.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-sidebar-small.png"
                  alt="admin-sidebar-small page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Small sidebar</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-sidebar-large.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-sidebar-large.png"
                  alt="admin-sidebar-large page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Large sidebar</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-sidebar-horizontal.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-sidebar-horizontal.png"
                  alt="admin-sidebar-horizontal page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Horizontal sidebar</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-profile.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-profile.png"
                  alt="admin-profile page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Profile</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-profile-settings.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-profile-settings.png"
                  alt="admin-profile-settings page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Profile Settings</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-tickets.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-tickets.png"
                  alt="admin-tickets page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Support Tickets</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-users.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/admin-users.png" alt="admin-users page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">User Management</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-tasks.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img data-bs-toggle="blazy" data-src="assets/img/screenshots/admin-tasks.png" alt="admin-tasks page thumbnail" class="img-fluid rounded border-grey bg-shadow" />
                <h5 class="mb-0 mt-3 text-dark fs-5">Task Management</h5>
              </a>
            </div>
            <div class="col-lg-4 mb-5 text-center">
              <a href="admin-tasks-kanban.html" target="_blank" class="hover-grow hover-grow-sm d-block">
                <img
                  data-bs-toggle="blazy"
                  data-src="assets/img/screenshots/admin-tasks-kanban.png"
                  alt="admin-tasks-kanban page thumbnail"
                  class="img-fluid rounded border-grey bg-shadow"
                />
                <h5 class="mb-0 mt-3 text-dark fs-5">Task Management (Kanban)</h5>
              </a>
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <div class="container">
          <!-- Elements -->
          <h2 class="fs-4 fw-bold mb-3">Elements / Components (44)</h2>
          <div class="row">
            <div class="col-lg-4">
              <a href="elements-alerts.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Alerts</a
              >
              <a href="elements-animation.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Animations</a
              >
              <a href="elements-avatars.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Avatars</a
              >
              <a href="elements-badges.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Badges</a
              >
              <a href="elements-button-groups.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Button Groups</a
              >
              <a href="elements-buttons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Buttons</a
              >
              <a href="elements-cards.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Cards</a
              >
              <a href="elements-carousels.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Carousels</a
              >
              <a href="elements-collapse.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Collapse / Accordions</a
              >
              <a href="elements-colour-utils.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Colours Utils</a
              >
              <a href="elements-cookie-banners.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Cookie Banners</a
              >
              <a href="elements-counters.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Counters</a
              >
              <a href="elements-ctas.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Call To Action Blocks</a
              >
              <a href="elements-dividers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Dividers</a
              >
              <a href="elements-dropdowns.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Dropdowns</a
              >
              <a href="elements-forms.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Forms</a
              >
            </div>
            <div class="col-lg-4">
              <a href="elements-forms-input-groups.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Forms Input Groups</a
              >
              <a href="elements-icons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons</a
              >
              <a href="elements-icons-bootstrap-icons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Bootstrap</a
              >
              <a href="elements-icons-flags.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Flags</a
              >
              <a href="elements-icons-fontawesome.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Font Awesome</a
              >
              <a href="elements-icons-ionicons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Ionicons</a
              >
              <a href="elements-icons-linearicons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Linearicons</a
              >
              <a href="elements-icons-lineawesome.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Line Awesome</a
              >
              <a href="elements-list-groups.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> List Groups</a
              >
              <a href="elements-modals.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Modals</a
              >
              <a href="elements-modals-onload.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Modals Onload</a
              >
              <a href="elements-navs.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Navs</a>
              <a href="elements-navs-tabbable.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Tabbable Navs</a
              >
              <a href="elements-overlays.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Overlays</a
              >
              <a href="elements-progressbars.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Progress Bars</a
              >
              <a href="elements-select-pickers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Select Picker</a
              >
            </div>
            <div class="col-lg-4">
              <a href="elements-shadows.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Shadows</a
              >
              <a href="elements-social-media.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Social Media Branding</a
              >
              <a href="elements-spacers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Spacers</a
              >
              <a href="elements-spinners.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Spinners</a
              >
              <a href="elements-tables.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Tables</a
              >
              <a href="elements-toasts.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Toasts</a
              >
              <a href="elements-tooltips-popovers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Tooltips & Popovers</a
              >
              <a href="elements-type-effect.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Type Effect</a
              >
              <a href="elements-typography.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Typography</a
              >
              <a href="elements-utils.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Utilities</a
              >
              <a href="elements-video-blocks.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Video Blocks</a
              >
              <a href="page-titles.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Page Titles</a
              >
            </div>
          </div>
        </div>
        <hr class="my-5" />
        <div class="container">
          <!-- All -->
          <h2 class="fs-4 fw-bold mb-3">All Pages A-Z</h2>
          <div class="row">
            <div class="col-lg-4">
              <a href="about.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> About Basic</a>
              <a href="about-me.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> About Me</a>
              <a href="admin.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Dashboard</a>
              <a href="admin-header-dark.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Dark navbar</a
              >
              <a href="admin-layout.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Layouts</a
              >
              <a href="admin-pages.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Pages</a>
              <a href="admin-profile.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Profile</a
              >
              <a href="admin-profile-settings.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Profile Settings</a
              >
              <a href="admin-sidebar-horizontal.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Horizontal sidebar</a
              >
              <a href="admin-sidebar-iconbar.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icon sidebar</a
              >
              <a href="admin-sidebar-large.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Large sidebar</a
              >
              <a href="admin-sidebar-light.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Light sidebar</a
              >
              <a href="admin-sidebar-small.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Small sidebar</a
              >
              <a href="admin-tasks.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Task Management</a
              >
              <a href="admin-tasks-kanban.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Task Management (Kanban)</a
              >
              <a href="admin-tickets.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Support Tickets</a
              >
              <a href="admin-users.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> User Management</a
              >
              <a href="blog.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog</a>
              <a href="blog-grid.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog Grid</a>
              <a href="blog-leftbar.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog Left Sidebar</a
              >
              <a href="blog-post.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog Post</a>
              <a href="blog-post-audio.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog Post</a
              >
              <a href="blog-post-video.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog Post</a
              >
              <a href="blog-timeline.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Blog Timeline</a
              >
              <a href="contact.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Contact</a>
              <a href="customers.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Customers</a>
              <a href="elements.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Theme Elements</a
              >
              <a href="elements-alerts.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Alerts</a
              >
              <a href="elements-animation.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Animations</a
              >
              <a href="elements-avatars.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Avatars</a
              >
              <a href="elements-badges.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Badges</a
              >
              <a href="elements-button-groups.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Button Groups</a
              >
              <a href="elements-buttons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Buttons</a
              >
              <a href="elements-cards.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Cards</a
              >
              <a href="elements-carousels.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Carousels</a
              >
              <a href="elements-collapse.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Collapse / Accordions</a
              >
              <a href="elements-colour-utils.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Colours Utils</a
              >
              <a href="elements-cookie-banners.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Cookie Banners</a
              >
              <a href="elements-counters.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Counters</a
              >
              <a href="elements-ctas.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Call To Action Blocks</a
              >
              <a href="elements-dividers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Dividers</a
              >
              <a href="elements-dropdowns.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Dropdowns</a
              >
              <a href="elements-forms.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Forms</a
              >
              <a href="elements-forms-input-groups.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Forms Input Groups</a
              >
              <a href="elements-icons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons</a
              >
              <a href="elements-icons-bootstrap-icons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Bootstrap</a
              >
              <a href="elements-icons-flags.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Flags</a
              >
              <a href="elements-icons-fontawesome.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Font Awesome</a
              >
              <a href="elements-icons-ionicons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Ionicons</a
              >
              <a href="elements-icons-linearicons.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Linearicons</a
              >
            </div>
            <div class="col-lg-4">
              <a href="elements-icons-lineawesome.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Icons: Line Awesome</a
              >
              <a href="elements-list-groups.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> List Groups</a
              >
              <a href="elements-modals.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Modals</a
              >
              <a href="elements-modals-onload.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Modals Onload</a
              >
              <a href="elements-navs.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Navs</a>
              <a href="elements-navs-tabbable.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Tabbable Navs</a
              >
              <a href="elements-overlays.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Overlays</a
              >
              <a href="elements-progressbars.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Progress Bars</a
              >
              <a href="elements-select-pickers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Select Picker</a
              >
              <a href="elements-shadows.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Shadows</a
              >
              <a href="elements-social-media.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Social Media Branding</a
              >
              <a href="elements-spacers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Spacers</a
              >
              <a href="elements-spinners.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Spinners</a
              >
              <a href="elements-tables.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Tables</a
              >
              <a href="elements-toasts.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Toasts</a
              >
              <a href="elements-tooltips-popovers.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Tooltips & Popovers</a
              >
              <a href="elements-type-effect.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Type Effect</a
              >
              <a href="elements-typography.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Typography</a
              >
              <a href="elements-utils.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Utilities</a
              >
              <a href="elements-video-blocks.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Video Blocks</a
              >
              <a href="features.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Features</a>
              <a href="footer-compact.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Footer Compact</a
              >
              <a href="footer-compact-light.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Footer Compact Light</a
              >
              <a href="footer-light.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Footer Light</a
              >
              <a href="footer-menus.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Footer Menus</a
              >
              <a href="footer-menus-light.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Footer Menus Light</a
              >
              <a href="header-bottom.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Bottom</a
              >
              <a href="header-collapse-menu.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Collapse Menu</a
              >
              <a href="header-collapse-menu-responsive.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Responsive Collapse Menu</a
              >
              <a href="header-dark.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Dark</a
              >
              <a href="header-elements.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Elements</a
              >
              <a href="header-fullwidth.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Full Width</a
              >
              <a href="header-nav-left.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Nav Left</a
              >
              <a href="header-navbar-below.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Navbar Below</a
              >
              <a href="header-offcanvas.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Off Canvas</a
              >
              <a href="header-transparent.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Transparent</a
              >
              <a href="header-transparent-dark.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Header Transparent Dark</a
              >
              <a href="index.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Homepage (default)</a
              >
              <a href="index-app-landing.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> App Landing Page</a
              >
              <a href="index-charity.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Charity Homepage</a
              >
              <a href="index-church.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Church Homepage</a
              >
              <a href="index-coming-soon.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Coming Soon</a
              >
              <a href="index-corporate.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Corporate Homepage</a
              >
              <a href="index-event.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Event Homepage</a
              >
              <a href="index-forum.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Forum Homepage</a
              >
              <a href="index-freelancer-portfolio.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Freelancer Homepage</a
              >
              <a href="index-gym.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Gym Homepage</a
              >
              <a href="index-jobs.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Jobs Homepage</a
              >
            </div>
            <div class="col-lg-4">
              <a href="index-knowledgebase.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Knowledgebase</a
              >
              <a href="index-magazine.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Magazine Homepage</a
              >
              <a href="index-music.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Music Homepage</a
              >
              <a href="index-onepager.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Slideshow</a
              >
              <a href="index-onepager-bg-slideshow.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Background Slideshow</a
              >
              <a href="index-onepager-dotted-menu-bottom.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Dotted Menu Bottom</a
              >
              <a href="index-onepager-dotted-menu-left.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Dotted Menu Left</a
              >
              <a href="index-onepager-dotted-menu-right.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Dotted Menu Right</a
              >
              <a href="index-onepager-image.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Image</a
              >
              <a href="index-onepager-image-full-height.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Image Full Height</a
              >
              <a href="index-onepager-submenu.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> One Pager Submenu</a
              >
              <a href="index-photographer.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Photographer Homepage</a
              >
              <a href="index-promo-header.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Promo Header</a
              >
              <a href="index-realestate-single.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Real Estate Homepage</a
              >
              <a href="index-restaurant.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Restaurant Homepage</a
              >
              <a href="index-static.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Homepage No Slider</a
              >
              <a href="index-technology.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Technology Homepage</a
              >
              <a href="index-travel-blog.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Travel Blog</a
              >
              <a href="index-wedding.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Wedding Homepage</a
              >
              <a href="intro.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Welcome To AppStrap</a
              >
              <a href="login.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Login</a>
              <a href="page-404.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> 404 Error</a>
              <a href="page-maintenance.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Maintenance Mode</a
              >
              <a href="page-site-status.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Site Status</a
              >
              <a href="page-titles.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Page Titles</a
              >
              <a href="portfolio.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Portfolio</a>
              <a href="pricing.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Pricing Plans</a
              >
              <a href="pricing-tables.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Pricing Comparison Tables</a
              >
              <a href="promo.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Welcome To AppStrap</a
              >
              <a href="shop.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Shop Homepage</a>
              <a href="shop-cart.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Cart</a>
              <a href="shop-checkout.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Checkout</a
              >
              <a href="shop-confirmation.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Confirmation</a
              >
              <a href="shop-grid.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Products Grid</a
              >
              <a href="shop-list.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Products List</a
              >
              <a href="shop-product.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Product View</a
              >
              <a href="signup.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Sign Up</a>
              <a href="team.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Team</a>
              <a href="team-member.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Team Member</a
              >
              <a href="thumbnail.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Thumbnail</a>
              <a href="timeline.html" class="d-block mb-2" target="_blank"><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Timeline</a>
              <a href="timeline-carousel.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Timeline Carousel</a
              >
              <a href="timeline-left.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Timeline Left</a
              >
              <a href="timeline-right.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Timeline Right</a
              >
              <a href="timeline-stacked.html" class="d-block mb-2" target="_blank"
                ><i class="fa fa-chevron-right list-item-icon text-primary text-sm" aria-hidden="true"></i> Timeline Stacked</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Appstrap features -->
      <div id="features">
        <div class="bg-dark text-white py-5 text-center divider-arrow divider-arrow-b divider-dark">
          <div class="container">
            <hr class="hr-lg mt-0 mb-2 w-10 mx-auto border-primary" />
            <h3 class="display-4 fw-bold text-letter-spacing-xs">AppStrap <span class="fw-bold">Features</span></h3>
            <h5 class="text-center fw-light mt-2 mb-0 text-white op-5">AppStrap is packed full of features to make your sitebuilding quick and easy!</h5>
          </div>
        </div>
        <div class="container pt-5 pb-6 pb-lg-7">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Huge bundle of 144 pages</li>
                <li class="mb-2">
                  <i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> NEW: Powerful Twig templating system built in for simple and easy customisation!
                </li>
                <li class="mb-2">
                  <i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> NEW: Rebuilt Gulp build setup to give you ultimate control when building
                </li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Built on Bootstrap v5.3.3</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> NEW: Includes Bootstrap iconsv1.11.3</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Full Sass integration with gulp support included</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> On Demand script, font & icon loading for awesome performance</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Full Flexbox support</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Font Awesome icons 6.6.0</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Amazing sticky header functionality</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> FREE regular updates for life</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Built by developers with over 20 years pro experience</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Shop UI, pages & demo</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Modular & easy to build with</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 31 niche variations</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 16 scrolling one pager page options</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 2 Mobile menu options</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 11 header options</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 5 footer options</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 44 pages of shortcodes</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 1000s of icons 6 iconsets - ondemand loading</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> 11 preset colour skins & easy to add your own</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Slider Revolution 5.4.4 Premium Slider (worth $14)</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Cube Portfolio premium plugin (worth $16)</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> jQuery Isotope plugin (worth $25)</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Background videos</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Animated progress bars</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Overlay menu navigation</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Dropdown menu effects</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Mobile first & fully responsive (wide, normal, narrow, mobile)</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Modal login & signup boxes</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Easy to customise</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Start template snippets (starter.htm & elements.htm)</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> jQuery fixto plugin</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> jQuery Backstretch plugin</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Timeline displays</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Simple & clean design</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Slideout hidden header region</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Mega menu with carousel & tabs support</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Page preloading icons</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> One of the longest standing themes on WrapBootstrap.com</li>
              </ul>
            </div>
          </div>
          <hr class="my-4" />
          <h3>Features coming soon!</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> More admin theme pages</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> Free lite version - test AppStrap for FREE!</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled">
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> More and more niche homepages</li>
                <li class="mb-2"><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> and more.......</li>
              </ul>
            </div>
          </div>
          <hr class="my-4" />
          <div class="text-center">
            <a
              href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
              class="mt-2 mt-lg-0 btn btn-outline-primary border-2 px-4 py-3 fw-bold text-uppercase"
              >Get AppStrap Today</a
            >
          </div>
        </div>
      </div>
      <!-- Appstrap feedback -->
      <div id="feedback" class="overlay overlay-primary py-6 text-center" data-bg-img="./assets/img/backgrounds/faces.jpg" data-animate="fadeIn">
        <div class="container">
          <h2 class="display-4 fw-bold text-letter-spacing-xs text-white">Over <span class="fw-bold">5500</span> Happy Customers!</h2>
          <h5 class="text-center fw-light mt-2 mb-0 text-white op-7">AppStrap is loved by over 5500 happy customers, join then today!</h5>
          <a href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme" class="mt-4 btn btn-light px-4 py-3 fw-bold text-uppercase text-primary"
            >Get AppStrap</a
          >
        </div>
      </div>
      <!-- Get AppStrap -->
      <div
        class="w-100 py-3 position-fixed zindex-20 bottom-0 scroll-state-hidden bg-white shadow border-top"
        data-scroll="scroll-state"
        data-scroll-amount="120"
        data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'
      >
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
          <p class="d-lg-inline-block me-lg-3 text-dark text-uppercase my-0 fw-bold">Don't miss out:</p>
          <p class="d-lg-inline-block text-sm text-dark op-8 my-0">
            <a
              href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
              class="mt-2 mt-lg-0 btn btn-primary px-4 py-2 fw-bold text-uppercase shadow"
              >Get AppStrap Today</a
            >
          </p>
        </div>
      </div>
    </div>
    <!-- content -->

    <!-- ======== @Region: #footer ======== -->
    <footer id="footer" class="pt-3 pb-lg-8 bg-dark text-light op-6">
      <div class="container">
        <div class="row">
          <!--@todo: replace with company copyright details-->
          <div class="col-md-6">
            <p class="mb-0 text-sm">Copyright 2024 &copy; Themelize.me</p>
          </div>
          <div class="col-md-6 flex-valign">
            <div class="float-md-end ms-md-auto">
              <!--@todo: replace with company social media details-->
              <a href="https://twitter.com/themelizeme?lang=en" class="btn btn-sm btn-icon btn-dark btn-rounded"><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/Themelizeme/" class="btn btn-sm btn-icon btn-dark btn-rounded"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/company-beta/2840374/" class="btn btn-sm btn-icon btn-dark btn-rounded"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://dribbble.com/themelizeme" class="btn btn-sm btn-icon btn-dark btn-rounded"><i class="fab fa-dribbble"></i></a>
              <a href="#top" class="btn btn-sm btn-icon btn-dark btn-rounded" title="Back to top"><i class="fa fa-chevron-up"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
