<!-- 
{
  "pageTitle": "Page Titles",
  "pageKey": "page-titles",
  "pageActiveTrail": [
    "features"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Page Titles | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-0">
      <!-- Classic -->
      <div class="position-relative">
        <button
          class="btn-clipboard btn btn-sm btn-light position-absolute top-0 end-0 mt-2 me-2"
          data-bs-toggle="tooltip"
          title=""
          data-clipboard-action="copy"
          data-clipboard-target="#page-title-classic"
          data-clipboard-target-html="true"
        >
          <i class="la la-copy"></i> copy
        </button>
        <div class="bg-light bg-op-6 py-5" id="page-title-classic">
          <div class="container d-lg-flex align-items-lg-center">
            <div>
              <h2 class="my-0 op-8 display-6 fw-bold">Page title classic</h2>
              <p class="op-6 mb-0">Page title classic subtitle</p>
            </div>
            <nav aria-label="breadcrumb" class="ms-lg-auto">
              <ol class="breadcrumb p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Classic dark -->
      <div class="position-relative">
        <button
          class="btn-clipboard btn btn-sm btn-light position-absolute top-0 end-0 mt-2 me-2"
          data-bs-toggle="tooltip"
          title=""
          data-clipboard-action="copy"
          data-clipboard-target="#page-title-classic-dark"
          data-clipboard-target-html="true"
        >
          <i class="la la-copy"></i> copy
        </button>
        <div class="bg-dark text-white bg-op-9 py-5" id="page-title-classic-dark">
          <div class="container d-lg-flex align-items-lg-center">
            <div>
              <h2 class="my-0 op-9 display-6 fw-bold">Page title classic</h2>
              <p class="op-6 mb-0">Page title classic subtitle</p>
            </div>
            <nav aria-label="breadcrumb" class="ms-lg-auto">
              <ol class="breadcrumb breadcrumb-dark p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item"><a href="#" class="text-white op-6">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-white op-6">Library</a></li>
                <li class="breadcrumb-item active text-white op-9" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Image background-->
      <div class="position-relative">
        <button
          class="btn-clipboard btn btn-sm btn-light position-absolute top-0 end-0 mt-2 me-2"
          data-bs-toggle="tooltip"
          title=""
          data-clipboard-action="copy"
          data-clipboard-target="#page-title-image"
          data-clipboard-target-html="true"
        >
          <i class="la la-copy"></i> copy
        </button>
        <div
          class="bg-grey text-white py-4 py-lg-8 overlay overlay-blue overlay-op-6"
          id="page-title-image"
          data-bg-img="https://images.unsplash.com/photo-1522597383520-d55a61a4356d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a40213d166331e2efb11e8b4ba22cc54&auto=format&fit=crop&w=1440&q=80"
        >
          <div class="container d-lg-flex align-items-lg-end">
            <div>
              <h2 class="my-0 display-6 fw-bold">Page title image bg</h2>
              <p class="op-8 mb-0">Page title image subtitle</p>
            </div>
            <nav aria-label="breadcrumb" class="ms-lg-auto">
              <ol class="breadcrumb breadcrumb-dark p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item"><a href="#" class="text-white op-6">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-white op-6">Library</a></li>
                <li class="breadcrumb-item active text-white op-9" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Video background-->
      <div class="position-relative">
        <button
          class="btn-clipboard btn btn-sm btn-light position-absolute top-0 end-0 mt-2 me-2"
          data-bs-toggle="tooltip"
          title=""
          data-clipboard-action="copy"
          data-clipboard-target="#page-title-video"
          data-clipboard-target-html="true"
        >
          <i class="la la-copy"></i> copy
        </button>
        <div class="bg-grey text-white py-4 py-lg-8 overlay overlay-dark overlay-op-6" id="page-title-video" data-bg-video="./assets/videos/cloud.mp4">
          <div class="container d-lg-flex align-items-lg-end">
            <div>
              <h2 class="my-0 display-6 fw-bold">Page title video bg</h2>
              <p class="op-8 mb-0">Page title image subtitle</p>
            </div>
            <nav aria-label="breadcrumb" class="ms-lg-auto">
              <ol class="breadcrumb breadcrumb-dark p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item"><a href="#" class="text-white op-6">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-white op-6">Library</a></li>
                <li class="breadcrumb-item active text-white op-9" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Pattern-->
      <div class="position-relative">
        <button
          class="btn-clipboard btn btn-sm btn-light position-absolute top-0 end-0 mt-2 me-2"
          data-bs-toggle="tooltip"
          title=""
          data-clipboard-action="copy"
          data-clipboard-target="#page-title-pattern"
          data-clipboard-target-html="true"
        >
          <i class="la la-copy"></i> copy
        </button>
        <div class="bg-light text-dark py-4 py-lg-8 bg-img-contain" id="page-title-pattern" data-bg-img="./assets/img/patterns/light_wool.png">
          <div class="container d-lg-flex align-items-lg-end">
            <div>
              <h2 class="my-0 display-6 fw-bold">Page title pattern</h2>
              <p class="op-8 mb-0">Page title pattern subtitle</p>
            </div>
            <nav aria-label="breadcrumb" class="ms-lg-auto">
              <ol class="breadcrumb p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item"><a href="#" class="op-6">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="op-6">Library</a></li>
                <li class="breadcrumb-item active op-9" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!-- Animated -->
      <div class="position-relative">
        <button
          class="btn-clipboard btn btn-sm btn-light position-absolute top-0 end-0 mt-2 me-2"
          data-bs-toggle="tooltip"
          title=""
          data-clipboard-action="copy"
          data-clipboard-target="#page-title-animated"
          data-clipboard-target-html="true"
        >
          <i class="la la-copy"></i> copy
        </button>
        <div
          class="bg-light text-dark py-4 py-lg-8 overlay overlay-white overlay-op-8"
          id="page-title-animated"
          data-bg-img="./assets/img/backgrounds/man-with-open-arms-saluting-the-nature-picjumbo-com.jpg"
        >
          <div class="container d-lg-flex align-items-lg-end">
            <div>
              <h2 class="my-0 text-uppercase" data-animate="fadeInDown" data-animate-duration="0.5">Page title animated</h2>
              <p class="op-8 mb-0" data-animate="fadeInDown" data-animate-duration="0.5" data-animate-delay="0.4">Page title animated subtitle</p>
            </div>
            <nav aria-label="breadcrumb" class="ms-lg-auto">
              <ol class="breadcrumb p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item" data-animate="fadeInDown" data-animate-duration="0.5" data-animate-delay="0.8"><a href="#" class="op-6">Home</a></li>
                <li class="breadcrumb-item" data-animate="fadeInDown" data-animate-duration="0.5" data-animate-delay="1"><a href="#" class="op-6">Library</a></li>
                <li class="breadcrumb-item active op-9" aria-current="page" data-animate="fadeInDown" data-animate-duration="0.5" data-animate-delay="1.2">Data</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
