<!-- 
{
  "pageTitle": "404 Error",
  "pageKey": "page-404",
  "pageActiveTrail": [
    "pages"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>404 Error | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body class="page-centred">
    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <div class="vh-100 d-flex align-items-center">
        <div class="w-80 mx-auto text-center border rounded shadow-sm p-6">
          <h2 class="error-code display-1 op-5 fw-bolder">404</h2>
          <h2 class="error-message text-xs-x2 text-md-x2">Oops, This Page Could Not Be Found!</h2>
          <p class="error-details text-xs-x1">
            Enim nisi massa nascetur, pulvinar porttitor ut sed penatibus, tincidunt? Phasellus lacus, eros, mid lorem ridiculus amet, urna? Ultricies et et mus nisi lundium!
            Pulvinar enim, duis et.
          </p>
          <p>
            <a href="index.html">Back to homepage</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
