<!-- 
{
  "pageTitle": "Maintenance Mode",
  "pageKey": "page-maintenance",
  "pageActiveTrail": [
    "pages"
  ],
  "headerOffcanvas": false,
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Maintenance Mode | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <div class="vh-100 d-flex align-items-center bg-gradient-flip py-4 border-bottom-10-primary">
        <div class="text-center mx-auto">
          <i class="bi-tools icon-5x text-primary op-6"></i>
          <h2 class="display-2 text-uppercase text-letter-spacing-xs lh-1 op-9 fw-bold">Site Under Maintenance</h2>
          <p class="op-8 fw-light">This site is currently under maintenance, don't worry we'll be back soon!</p>
          <p>
            <a href="page-site-status.html" class="btn btn-sm btn-outline-primary mt-3"><i class="fas fa-sync-alt me-2"></i> Follow our status page for updates</a>
            .
          </p>
        </div>
      </div>
    </div>
    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
