<!-- 
{
  "pageTitle": "Portfolio",
  "pageKey": "portfolio",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Portfolio | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="container">
        <h2 class="text-dark fw-bold">Portfolio</h2>
        <p>AppStrap comes with a tonne of portfolio options including inline ajax, ajax modals, dynamic filtering of projects, standalone project pages and more.</p>
        <h3 class="mt-5">Setup</h3>
        <p>
          Start with the following HTML markup and simply update the
          <code>data-settings='{}'</code>
          JSON from the "Configuration options" block below. Full live preview is coming soon.
        </p>
        <p>
          Further documentation can be found in the
          <code>theme/assets/plugins/cubeportfolio-jquery-plugin/documentation/index.html</code>
          file.
        </p>
        <div class="code-block">
          <div class="code-block-example">
            <div class="fade" data-bs-toggle="cbp" data-settings="{}">
              <!-- Item 1 -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <div class="cbp-caption-defaultWrap">
                    <img src="path/to/img" alt="" width="100%" />
                  </div>
                  <div class="cbp-caption-activeWrap">
                    <h1>Caption that is active on hover</h1>
                  </div>
                </div>
              </div>
              <!-- Item 2 -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <div class="cbp-caption-defaultWrap">
                    <img src="path/to/img" alt="" width="100%" />
                  </div>
                  <div class="cbp-caption-activeWrap">
                    <h1>Caption that is active on hover</h1>
                  </div>
                </div>
              </div>
              <!-- Item 3 -->
              <div class="cbp-item">
                <div class="cbp-caption">
                  <div class="cbp-caption-defaultWrap">
                    <img src="path/to/img" alt="" width="100%" />
                  </div>
                  <div class="cbp-caption-activeWrap">
                    <h1>Caption that is active on hover</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="code-block-code collapse show" id="code-block-1">
            <pre id="code-block-content1"><code>&lt;div class=&quot;fade&quot; data-bs-toggle=&quot;cbp&quot; data-settings=&#039;{}&#039;&gt;
  &lt;!-- Item 1 --&gt;
  &lt;div class=&quot;cbp-item&quot;&gt;
    &lt;div class=&quot;cbp-caption&quot;&gt;
      &lt;div class=&quot;cbp-caption-defaultWrap&quot;&gt;
        &lt;img src=&quot;path/to/img&quot; alt=&quot;&quot; width=&quot;100%&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;cbp-caption-activeWrap&quot;&gt;
        &lt;h1&gt;
          Caption that is active on hover
        &lt;/h1&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- Item 2 --&gt;
  &lt;div class=&quot;cbp-item&quot;&gt;
    &lt;div class=&quot;cbp-caption&quot;&gt;
      &lt;div class=&quot;cbp-caption-defaultWrap&quot;&gt;
        &lt;img src=&quot;path/to/img&quot; alt=&quot;&quot; width=&quot;100%&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;cbp-caption-activeWrap&quot;&gt;
        &lt;h1&gt;
          Caption that is active on hover
        &lt;/h1&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- Item 3 --&gt;
  &lt;div class=&quot;cbp-item&quot;&gt;
    &lt;div class=&quot;cbp-caption&quot;&gt;
      &lt;div class=&quot;cbp-caption-defaultWrap&quot;&gt;
        &lt;img src=&quot;path/to/img&quot; alt=&quot;&quot; width=&quot;100%&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;cbp-caption-activeWrap&quot;&gt;
        &lt;h1&gt;
          Caption that is active on hover
        &lt;/h1&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            <button
              class="btn-clipboard btn btn-light btn-sm"
              data-bs-toggle="tooltip"
              title="Copy to clipboard"
              data-clipboard-action="copy"
              data-clipboard-target="#code-block-1"
            >
              copy code
            </button>
          </div>
        </div>
        <h4 class="mt-5">Configuration options</h4>
        <div class="table-responsive">
          <table class="table table-striped" width="100%" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <th width="15%">Name</th>
                <th width="20%">Values</th>
                <th width="15%">Default</th>
                <th width="40%">Description</th>
              </tr>
              <tr>
                <td>filters</td>
                <td>string that represent the elements in the document (DOM selector)</td>
                <td>''</td>
                <td>Define the wrapper for filters</td>
              </tr>
              <tr>
                <td><span style="color: #d66767">loadMore</span></td>
                <td>-</td>
                <td>-</td>
                <td>This options is deprecated. Please use plugins.loadMore.element option instead</td>
              </tr>
              <tr>
                <td><span style="color: #d66767">loadMoreAction</span></td>
                <td>-</td>
                <td>-</td>
                <td>This options is deprecated. Please use plugins.loadMore.action option instead</td>
              </tr>
              <tr>
                <td>search</td>
                <td>string that represent the elements in the document (DOM selector)</td>
                <td>''</td>
                <td>Define the search input element</td>
              </tr>
              <tr>
                <td>layoutMode</td>
                <td>'grid', 'mosaic' or 'slider'</td>
                <td>'grid'</td>
                <td>Layout Mode for this plugin</td>
              </tr>
              <tr>
                <td>sortByDimension</td>
                <td>true or false</td>
                <td>false</td>
                <td>Filter the items by dimension (bigger to smallest) if there are gaps in grid. Option available only for `layoutMode: 'mosaic'`</td>
              </tr>
              <tr>
                <td>drag</td>
                <td>true or false</td>
                <td>true</td>
                <td>Mouse and touch drag support. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>auto</td>
                <td>true or false</td>
                <td>false</td>
                <td>Autoplay the slider. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>autoTimeout</td>
                <td>only integers (ex: 1000, 2000, 5000)</td>
                <td>5000</td>
                <td>Autoplay interval timeout. Time is set in milliseconds. 1000 milliseconds equals 1 second. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>autoPauseOnHover</td>
                <td>true or false</td>
                <td>true</td>
                <td>Stops autoplay when user hover the slider. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>showNavigation</td>
                <td>true or false</td>
                <td>true</td>
                <td>Show `next` and `prev` buttons for slider. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>showPagination</td>
                <td>true or false</td>
                <td>true</td>
                <td>Show pagination for slider. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>rewindNav</td>
                <td>true or false</td>
                <td>true</td>
                <td>Enable slide to first item (last item). Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>scrollByPage</td>
                <td>true or false</td>
                <td>true</td>
                <td>Scroll by page and not by item. This option affect next/prev buttons and drag support. Option available only for `layoutMode: 'slider'`</td>
              </tr>
              <tr>
                <td>defaultFilter</td>
                <td>strings that represent the filter name(e.g. '*', '.logo', '.web-design', '.design')</td>
                <td>'*'</td>
                <td>Default filter for plugin. Option available only for `layoutMode: 'grid'`</td>
              </tr>
              <tr>
                <td>filterDeeplinking</td>
                <td>true or false</td>
                <td>false</td>
                <td>Enable / disable the deeplinking feature when you click on filters. Option available only for `layoutMode: 'grid'`</td>
              </tr>
              <tr>
                <td>animationType</td>
                <td>
                  'fadeOut'
                  <br />
                  'quicksand'
                  <br />
                  'bounceLeft'
                  <br />
                  'bounceTop'
                  <br />
                  'bounceBottom'
                  <br />
                  'moveLeft'
                  <br />
                  'slideLeft'
                  <br />
                  'fadeOutTop'
                  <br />
                  'sequentially'
                  <br />
                  'skew'
                  <br />
                  'slideDelay'
                  <br />
                  '3d' Flip
                  <br />
                  'rotateSides'
                  <br />
                  'flipOutDelay'
                  <br />
                  'flipOut'
                  <br />
                  'unfold'
                  <br />
                  'foldLeft'
                  <br />
                  'scaleDown'
                  <br />
                  'scaleSides'
                  <br />
                  'frontRow'
                  <br />
                  'flipBottom'
                  <br />
                  'rotateRoom'
                </td>
                <td>'fadeOut'</td>
                <td>
                  Defines which animation to use for items that will be shown or hidden after a filter has been activated. The plugin uses the best browser features available (CSS3
                  transitions and transform, GPU acceleration) Option available only for `layoutMode: 'grid'`
                </td>
              </tr>
              <tr>
                <td>gridAdjustment</td>
                <td>
                  'default'
                  <br />
                  'alignCenter'
                  <br />
                  'responsive'
                </td>
                <td>'responsive'</td>
                <td>
                  Adjust the layout grid.
                  <br />
                  - default (no adjustment applied)
                  <br />
                  - alignCenter (align the grid on center of the page)
                  <br />
                  - responsive (use a fluid grid to resize the grid)
                </td>
              </tr>
              <tr>
                <td>mediaQueries</td>
                <td>
                  - array of objects of format: [{width: a, cols: d}, {width: b, cols: e}]
                  <br />
                  - you can define as many objects as you want
                  <br />
                  - if this option is `false` Cube Portfolio will adjust the items width automatically (default option for backward compatibility)
                </td>
                <td>false</td>
                <td>
                  Define `media queries` for columns layout.
                  <br />
                  Format: [{width: a, cols: d}, {width: b, cols: e}, {width: c, cols: f}], where a, b, c are the grid width and d, e, f are the columns displayed. e.g. [{width:
                  1440, cols: 5}, {width: 1024, cols: 4}, {width: 768, cols: 3}, {width: 480, cols: 2}, {width: 320, cols: 1}] means:
                  <br />
                  if (gridWidth &gt;= 1440) =&gt; show 5 columns,
                  <br />
                  if (gridWidth &gt;= 1024 &amp;&amp; gridWidth &lt; 1440) =&gt; show 4 columns,
                  <br />
                  if (gridWidth &gt;= 768 &amp;&amp; gridWidth &lt; 1024) =&gt; show 3 columns,
                  <br />
                  if (gridWidth &gt;= 480 &amp;&amp; gridWidth &lt; 768) =&gt; show 2 columns,
                  <br />
                  if (gridWidth &gt;= 320 &amp;&amp; gridWidth &lt; 480) =&gt; show 1 columns,
                  <br />
                  if (gridWidth &lt; 320) =&gt; show 1 columns
                  <br />
                  Keep in mind that a &gt; b &gt; c
                  <br />
                  This option is available only when `gridAdjustment: 'responsive'`
                </td>
              </tr>
              <tr>
                <td>gapHorizontal</td>
                <td>only integers (e.g. 1, 5, 10)</td>
                <td>10</td>
                <td>Horizontal gap between items</td>
              </tr>
              <tr>
                <td>gapVertical</td>
                <td>only integers (e.g. 1, 5, 10)</td>
                <td>10</td>
                <td>Vertical gap between items</td>
              </tr>
              <tr>
                <td>caption</td>
                <td>
                  'pushTop'
                  <br />
                  'pushDown'
                  <br />
                  'revealBottom'
                  <br />
                  'revealTop'
                  <br />
                  'revealLeft'
                  <br />
                  'moveRight'
                  <br />
                  'overlayBottom'
                  <br />
                  'overlayBottomPush'
                  <br />
                  'overlayBottomReveal'
                  <br />
                  'overlayBottomAlong'
                  <br />
                  'overlayRightAlong'
                  <br />
                  'minimal'
                  <br />
                  'fadeIn'
                  <br />
                  'zoom'
                  <br />
                  'opacity'
                </td>
                <td>'pushTop'</td>
                <td>
                  Caption - the overlay that is shown when you put the mouse over an item.
                  <br />
                  NOTE: If you don't want to have captions set this option to an empty string (e.g. caption: '')
                </td>
              </tr>
              <tr>
                <td>displayType</td>
                <td>
                  'default'
                  <br />
                  'bottomToTop'
                  <br />
                  'fadeIn'
                  <br />
                  'fadeInToTop'
                  <br />
                  'sequentially'
                </td>
                <td>'fadeIn'</td>
                <td>
                  The plugin will display his content based on the following values.
                  <br />
                  - default (the content will be displayed without any animation)
                  <br />
                  - fadeIn (e.g. lazyLoading) (the plugin will fully preload the images before displaying the items with a fadeIn effect)
                  <br />
                  - fadeInToTop - fadeInToTop (the plugin will fully preload the images before displaying the items with a fadeIn effect from bottom to top)
                  <br />
                  - sequentially (the plugin will fully preload the images before displaying the items with a sequentially effect)
                  <br />
                  - bottomToTop (the plugin will fully preload the images before displaying the items with an animation from bottom to top)
                </td>
              </tr>
              <tr>
                <td>displayTypeSpeed</td>
                <td>only integers, values in ms (e.g. 200, 300, 500)</td>
                <td>400</td>
                <td>Defines the speed of displaying the items (when <i>displayType: 'default'</i> this option will have no effect)</td>
              </tr>
              <tr>
                <td>lightboxDelegate</td>
                <td>strings that represent the elements in the document (DOM selector)</td>
                <td>'.cbp-lightbox'</td>
                <td>Define any clickable elements you wish to use to trigger lightbox popup on click.</td>
              </tr>
              <tr>
                <td>lightboxGallery</td>
                <td>true or false</td>
                <td>true</td>
                <td>Enable / disable gallery mode for lightbox popup</td>
              </tr>
              <tr>
                <td>lightboxTitleSrc</td>
                <td>HTML atributte</td>
                <td>'data-title'</td>
                <td>Attribute of the delegate item that contains caption for lightbox</td>
              </tr>
              <tr>
                <td><span style="color: #d66767">lightboxShowCounter</span></td>
                <td>-</td>
                <td>-</td>
                <td>This options is deprecated. Please use lightboxCounter option instead</td>
              </tr>
              <tr>
                <td>lightboxCounter</td>
                <td>HTML markup code</td>
                <td>'&lt;div class="cbp-popup-lightbox-counter"&gt;{{current}} of {{total}}&lt;/div&gt;'</td>
                <td>Markup of the lightbox counter. To hide the counter for lightbox put this option to an empty string (e.g. '')</td>
              </tr>
              <tr>
                <td>singlePageDelegate</td>
                <td>strings that represent the elements in the document (DOM selector)</td>
                <td>'.cbp-singlePage'</td>
                <td>Define any clickable elements you wish to use to trigger singlePage popup on click.</td>
              </tr>
              <tr>
                <td>singlePageDeeplinking</td>
                <td>true or false</td>
                <td>true</td>
                <td>Enable / disable the deeplinking feature for singlePage popup</td>
              </tr>
              <tr>
                <td>singlePageStickyNavigation</td>
                <td>true or false</td>
                <td>true</td>
                <td>Enable / disable the sticky navigation for singlePage popup</td>
              </tr>
              <tr>
                <td><span style="color: #d66767">singlePageShowCounter</span></td>
                <td>-</td>
                <td>-</td>
                <td>This options is deprecated. Please use singlePageCounter option instead</td>
              </tr>
              <tr>
                <td>singlePageCounter</td>
                <td>HTML markup code</td>
                <td>'&lt;div class="cbp-popup-singlePage-counter"&gt;{{current}} of {{total}}&lt;/div&gt;'</td>
                <td>Markup of the singlePage counter. To hide the counter for singlePage put this option to an empty string (e.g. '')</td>
              </tr>
              <tr>
                <td>singlePageAnimation</td>
                <td>
                  'left'
                  <br />
                  'fade'
                  <br />
                  'right'
                </td>
                <td>'left'</td>
                <td>Defines which animation to use when singlePage appear</td>
              </tr>
              <tr>
                <td>singlePageCallback</td>
                <td>
                  function(url, element) {
                  <br />
                  // to update singlePage content use the following method: this.updateSinglePage(yourContent)
                  <br />
                  }
                </td>
                <td>null</td>
                <td>
                  Use this callback to update singlePage content. The callback will trigger after the singlePage popup is open. (@param url = the href attribute of the item
                  clicked, @param element = the item clicked)
                </td>
              </tr>
              <tr>
                <td>singlePageInlineDeeplinking</td>
                <td>true or false</td>
                <td>false</td>
                <td>Enable / disable the deeplinking feature for singlePageInline</td>
              </tr>
              <tr>
                <td>singlePageInlineDelegate</td>
                <td>strings that represent the elements in the document (DOM selector)</td>
                <td>'.cbp-singlePageInline'</td>
                <td>Define any clickable elements you wish to use to trigger singlePageInline popup on click.</td>
              </tr>
              <tr>
                <td>singlePageInlinePosition</td>
                <td>
                  'above'
                  <br />
                  'below'
                  <br />
                  'top'
                  <br />
                  'bottom'
                </td>
                <td>'top'</td>
                <td>Define the position of singlePage Inline block</td>
              </tr>
              <tr>
                <td>singlePageInlineInFocus</td>
                <td>true or false</td>
                <td>true</td>
                <td>Push the open panel in focus and at close go back to the former stage</td>
              </tr>
              <tr>
                <td>singlePageInlineCallback</td>
                <td>
                  function(url, element) {
                  <br />
                  // to update singlePage Inline content use the following method: this.updateSinglePageInline(yourContent)
                  <br />
                  }
                </td>
                <td>null</td>
                <td>
                  Use this callback to update singlePage content. The callback will trigger after the singlePage popup is open. (@param url = the href attribute of the item
                  clicked, @param element = the item clicked)
                </td>
              </tr>
              <tr>
                <td>plugins.loadMore.element</td>
                <td>string that represent the elements in the document (DOM selector)</td>
                <td>''</td>
                <td>Define the wrapper for loadMore</td>
              </tr>
              <tr>
                <td>plugins.loadMore.action</td>
                <td>'click' or 'auto'</td>
                <td>'click'</td>
                <td>How the loadMore functionality should behave. Load on click on the button or automatically when you scroll the page</td>
              </tr>
              <tr>
                <td>plugins.loadMore.loadItems</td>
                <td>only integers (e.g. 2, 3, 10)</td>
                <td>3</td>
                <td>How many items to load when you click on the loadMore button</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="my-5" />
        <h3 class="mt-4 mb-4">Filter Options</h3>
        <h6 class="op-8 text-uppercase mt-4">Style 1: Simple links</h6>
        <div class="cbp-l-filters-alignCenter text-start mb-3">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-uppercase">
            All
            <div class="cbp-filter-counter">X</div>
          </div>
          /
          <div data-filter=".web" class="cbp-filter-item text-uppercase">
            web
            <div class="cbp-filter-counter">X</div>
          </div>
          /
          <div data-filter=".identity" class="cbp-filter-item text-uppercase">
            identity
            <div class="cbp-filter-counter">X</div>
          </div>
          /
          <div data-filter=".graphics" class="cbp-filter-item text-uppercase">
            graphics
            <div class="cbp-filter-counter">X</div>
          </div>
        </div>
        <h6 class="op-8 text-uppercase mt-4">Style 3: Buttons</h6>
        <div class="cbp-l-filters-button text-start mb-3">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-uppercase">
            All
            <div class="cbp-filter-counter">X</div>
          </div>
          <div data-filter=".web" class="cbp-filter-item text-uppercase">
            web
            <div class="cbp-filter-counter">X</div>
          </div>
          <div data-filter=".identity" class="cbp-filter-item text-uppercase">
            identity
            <div class="cbp-filter-counter">X</div>
          </div>
          <div data-filter=".graphics" class="cbp-filter-item text-uppercase">
            graphics
            <div class="cbp-filter-counter">X</div>
          </div>
        </div>
        <h6 class="op-8 text-uppercase mt-4">Style 3: Buttons Flat</h6>
        <div class="cbp-l-filters-work text-start mb-3">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-uppercase">
            All
            <div class="cbp-filter-counter">X</div>
          </div>
          <div data-filter=".web" class="cbp-filter-item text-uppercase">
            web
            <div class="cbp-filter-counter">X</div>
          </div>
          <div data-filter=".identity" class="cbp-filter-item text-uppercase">
            identity
            <div class="cbp-filter-counter">X</div>
          </div>
          <div data-filter=".graphics" class="cbp-filter-item text-uppercase">
            graphics
            <div class="cbp-filter-counter">X</div>
          </div>
        </div>
        <h6 class="op-8 text-uppercase mt-4">Style 3: Dropdown</h6>
        <div class="cbp-l-filters-dropdown text-start mb-3">
          <div class="cbp-l-filters-dropdownWrap start-0">
            <div class="cbp-l-filters-dropdownHeader">Filter items</div>
            <div class="cbp-l-filters-dropdownList">
              <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-uppercase">
                All
                <div class="cbp-filter-counter">X</div>
              </div>
              <div data-filter=".web" class="cbp-filter-item text-uppercase">
                web
                <div class="cbp-filter-counter">X</div>
              </div>
              <div data-filter=".identity" class="cbp-filter-item text-uppercase">
                identity
                <div class="cbp-filter-counter">X</div>
              </div>
              <div data-filter=".graphics" class="cbp-filter-item text-uppercase">
                graphics
                <div class="cbp-filter-counter">X</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
