<!-- 
{
  "pageTitle": "Checkout",
  "pageKey": "shop-checkout",
  "pageActiveTrail": [
    "shop"
  ],
  "headerOffcanvas": false,
  "headerOffcanvasCart": true,
  "bodyClass": "page-shop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowClass": "d-none d-lg-block bg-white border-bottom",
  "navbarBelowContainerClass": "container-xl w-100",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-2 py-md-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Checkout | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = ' ' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div class="navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0 p-4 p-md-0" id="navbar-main">
        <h3 class="fw-light d-md-none">Shop UI</h3>
        <!--main navigation-->
        <ul class="nav navbar-nav w-100 dropdown-collapse dropdown-expand-md">
          <!-- Shop Pages -->
          <li class="nav-item dropdown dropdown-hover-md">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="pages-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary"
              >Shop Pages</a
            >
            <!-- Menu -->
            <div class="dropdown-menu border-md">
              <a href="shop.html" class="dropdown-item active">Shop Home</a> <a href="shop-cart.html" class="dropdown-item">Cart</a>
              <a href="shop-checkout.html" class="dropdown-item active">Checkout</a> <a href="shop-confirmation.html" class="dropdown-item">Confirmation</a>
              <a href="shop-grid.html" class="dropdown-item">Products Grid</a> <a href="shop-list.html" class="dropdown-item">Products List</a>
              <a href="shop-product.html" class="dropdown-item">Product View</a>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
            <a
              href="shop.html"
              class="nav-link dropdown-toggle py-md-4"
              id="shop-mega-menu"
              data-bs-toggle="dropdown"
              data-bs-hover="dropdown"
              data-opened-trigger-class="text-primary"
              >Shop Mega Menu</a
            >
            <!-- Dropdown Menu -->
            <div class="dropdown-menu border-md dropdown-menu-start" aria-labelledby="shop-mega-menu">
              <div class="row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Mens</h3>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Shirts</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Trousers</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Womens</h3>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Dresses</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Jeans</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Skirts</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Childrens</h3>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Sports Wear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">School Clothes</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Trousers</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Swimwear</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Baby</h3>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Newborn</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Toddler</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Preschool</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Winter Suits</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Swimwear</a> <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                      <a href="shop-checkout.html" class="dropdown-item" tabindex="-1">Trousers</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                  <h3 class="dropdown-header px-0">New Arrivals <span class="badge bg-primary text-uppercase">Hot</span></h3>
                  <div class="dropdown-widget">
                    <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
                    <div
                      class="products-carousel owl-nav-over"
                      data-bs-toggle="owl-carousel"
                      data-owl-carousel-settings='{"items": 1,"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
                    >
                      <a href="#">
                        <img src="./assets/img/shop/jacket-1.jpg" alt="Item 1 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-2.jpg" alt="Item 2 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-3.jpg" alt="Item 3 image" class="lazyOwl img-fluid" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.dropdown-menu border-top-2 border-primary -->
          </li>
          <li class="nav-item dropdown dropdown-hover-md ms-md-auto">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="account-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">
              <i class="fa fa-user"></i><span class="d-inline d-md-none ms-2">Account</span>
            </a>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu dropdown-menu-end border-md">
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-heart me-2"></i>
                <!-- My Wish List Icon -->
                My Wish List
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-clock-history me-2"></i>
                <!-- Order History Icon -->
                Order History
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-truck me-2"></i>
                <!-- Track Orders Icon -->
                Track Orders
              </a>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm w-50 w-md-auto text-uppercase fw-bold px-3 mt-3 mt-md-0 ms-md-3 d-md-none">On Sale</a>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block headerNavbarBelow %}
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="hstack gap-4">
          <h6 class="fs-6 my-0 mb-1 text-muted d-flex align-items-center"><i class="bi-truck me-2"></i> Free Worldwide Shipping</h6>
          <h6 class="fs-6 my-0 text-muted fw-normal d-flex align-items-center"><i class="bi-telephone me-2"></i> (+44) 7283643345</h6>
        </div>
        <!-- Button aligned right on lg screens, centered on smaller screens -->
        <a href="#" class="btn btn-primary btn-sm w-50 w-lg-auto text-uppercase fw-bold px-3 mt-3 mt-lg-0 ms-auto"> Sale Now On! </a>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #page-header ======== -->
    <div id="page-header">
      <div class="container clearfix">
        <h3 class="mb-0 float-md-start">Checkout</h3>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-end text-sm">
          <a class="breadcrumb-item text-gray-600" href="index.html">Home</a> <a class="breadcrumb-item text-gray-600" href="shop.html">Shop Homepage</a>
          <span class="breadcrumb-item text-gray-800">Checkout</span>
        </nav>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-5">
      <div class="container">
        <h4 class="mb-4">Billing Address</h4>
        <div class="border p-4 rounded shadow-sm shadow-hover" id="billing">
          <div class="row gx-md-5 gy-4">
            <div class="col-md-6">
              <label for="first-name" class="form-label">First Name</label>
              <input type="text" id="first-name" class="form-control" placeholder="Enter your first name" />
            </div>
            <div class="col-md-6">
              <label for="last-name" class="form-label">Last Name</label>
              <input type="text" id="last-name" class="form-control" placeholder="Enter your last name" />
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" id="phone" class="form-control" placeholder="Enter your phone number" />
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" placeholder="Enter your email" />
            </div>
            <div class="col-md-6">
              <label for="address-1" class="form-label">Address Line 1</label>
              <input type="text" id="address-1" class="form-control" placeholder="Enter your address" />
            </div>
            <div class="col-md-6">
              <label for="address-2" class="form-label">Address Line 2</label>
              <input type="text" id="address-2" class="form-control" placeholder="Apartment, suite, unit, etc. (optional)" />
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">City</label>
              <input type="text" id="city" class="form-control" placeholder="Enter your city" />
            </div>
            <div class="col-md-3">
              <label for="postcode" class="form-label">Post Code</label>
              <input type="text" id="postcode" class="form-control" placeholder="Enter your post code" />
            </div>
            <div class="col-md-3">
              <label for="country" class="form-label">Country</label>
              <select id="country" class="form-select">
                <option selected disabled>Select your country</option>
                <option>United States</option>
                <option>Canada</option>
                <option>France</option>
                <option>UK</option>
                <option>Germany</option>
                <option>Belgium</option>
                <option>Australia</option>
              </select>
            </div>
          </div>
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="checkbox"
              id="ship-address-alt"
              data-bs-toggle="collapse"
              data-bs-target="#shipping"
              aria-expanded="false"
              aria-controls="shipping"
            />
            <label class="form-check-label" for="ship-address-alt"> Ship to a different address </label>
          </div>
        </div>
        <!-- Shipping form -->
        <div class="collapse mt-4" id="shipping">
          <h4 class="mb-4">Shipping Address</h4>
          <div class="border p-4 rounded shadow-sm shadow-hover">
            <div class="row gx-md-5 gy-4">
              <div class="col-md-6">
                <label for="shipping-first-name" class="form-label">First Name</label>
                <input type="text" id="shipping-first-name" class="form-control" placeholder="Enter your first name" />
              </div>
              <div class="col-md-6">
                <label for="shipping-last-name" class="form-label">Last Name</label>
                <input type="text" id="shipping-last-name" class="form-control" placeholder="Enter your last name" />
              </div>
              <div class="col-md-6">
                <label for="shipping-address-1" class="form-label">Address Line 1</label>
                <input type="text" id="shipping-address-1" class="form-control" placeholder="Enter your address" />
              </div>
              <div class="col-md-6">
                <label for="shipping-address-2" class="form-label">Address Line 2</label>
                <input type="text" id="shipping-address-2" class="form-control" placeholder="Apartment, suite, unit, etc. (optional)" />
              </div>
              <div class="col-md-6">
                <label for="shipping-city" class="form-label">City</label>
                <input type="text" id="shipping-city" class="form-control" placeholder="Enter your city" />
              </div>
              <div class="col-md-3">
                <label for="shipping-postcode" class="form-label">Post Code</label>
                <input type="text" id="shipping-postcode" class="form-control" placeholder="Enter your post code" />
              </div>
              <div class="col-md-3">
                <label for="shipping-country" class="form-label">Country</label>
                <select id="shipping-country" class="form-select">
                  <option selected disabled>Select your country</option>
                  <option>United States</option>
                  <option>Canada</option>
                  <option>France</option>
                  <option>UK</option>
                  <option>Germany</option>
                  <option>Belgium</option>
                  <option>Australia</option>
                </select>
              </div>
              <div class="col-md-12">
                <div class="form-check mt-3">
                  <input class="form-check-input" type="checkbox" id="save-to-address-book" />
                  <label class="form-check-label" for="save-to-address-book"> Save to Address Book </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Payment Options -->
        <h4 class="mt-5 mb-4">Payment Options</h4>
        <div id="payment-options" class="border p-4 rounded shadow-sm shadow-hover">
          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="radio"
              name="payment-method"
              id="credit-card-option"
              value="credit-card"
              checked
              data-bs-toggle="collapse"
              data-bs-target="#credit-card"
              aria-expanded="true"
              aria-controls="credit-card"
            />
            <label class="form-check-label" for="credit-card-option"> Credit Card <i class="fas fa-credit-card ms-2"></i> </label>
          </div>
          <div class="collapse show mb-4" id="credit-card">
            <div class="row gx-md-3 gy-4">
              <div class="col-lg-4">
                <label for="card-holder-name" class="form-label">Card Holder's Name</label>
                <input type="text" id="card-holder-name" class="form-control" placeholder="Enter card holder's name" />
              </div>
              <div class="col-lg-4">
                <label for="card-number" class="form-label">Card Number</label>
                <input type="text" id="card-number" class="form-control" placeholder="Enter card number" />
              </div>
              <div class="col-lg-2">
                <label for="expiry-month" class="form-label">Expiry Month</label>
                <select id="expiry-month" class="form-select">
                  <option selected disabled>Select month</option>
                  <option value="01">Jan (01)</option>
                  <option value="02">Feb (02)</option>
                  <option value="03">Mar (03)</option>
                  <option value="04">Apr (04)</option>
                  <option value="05">May (05)</option>
                  <option value="06">June (06)</option>
                  <option value="07">July (07)</option>
                  <option value="08">Aug (08)</option>
                  <option value="09">Sep (09)</option>
                  <option value="10">Oct (10)</option>
                  <option value="11">Nov (11)</option>
                  <option value="12">Dec (12)</option>
                </select>
              </div>
              <div class="col-lg-2">
                <label for="expiry-year" class="form-label">Expiry Year</label>
                <select id="expiry-year" class="form-select">
                  <option selected disabled>Select year</option>
                  <option value="23">2023</option>
                  <option value="24">2024</option>
                  <option value="25">2025</option>
                  <option value="26">2026</option>
                  <option value="27">2027</option>
                </select>
              </div>
              <div class="col-lg-2">
                <label for="cvv" class="form-label">CVV</label>
                <input type="text" id="cvv" class="form-control" placeholder="Enter CVV" />
              </div>
            </div>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payment-method"
              id="paypal-option"
              value="paypal"
              data-bs-toggle="collapse"
              data-bs-target="#paypal"
              aria-expanded="false"
              aria-controls="paypal"
            />
            <label class="form-check-label" for="paypal-option"> PayPal <i class="fab fa-paypal ms-2"></i> </label>
          </div>
          <div class="collapse" id="paypal">
            <label for="paypal-email" class="form-label">PayPal Email</label>
            <input type="email" id="paypal-email" class="form-control" placeholder="Enter your PayPal email" />
            <small class="text-muted">Input your PayPal email address.</small>
          </div>
        </div>
        <!-- Cart Summary -->
        <h4 class="mt-5 mb-4">Cart Summary</h4>
        <div class="table-responsive-md border p-3 rounded shadow-sm shadow-hover">
          <!-- Shopping cart items -->
          <table class="table p-3 align-middle mb-0 rounded">
            <thead>
              <tr>
                <th class="text-center"></th>
                <th class="w-40">Item</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th class="text-end">Total</th>
              </tr>
            </thead>
            <tbody>
              <!-- Cart item 1 -->
              <tr>
                <td class="text-center align-middle">
                  <button type="button" class="btn-close" aria-label="Remove"></button>
                </td>
                <td class="align-middle">
                  <div class="d-flex">
                    <a href="#">
                      <img class="img-fluid rounded me-3" src="./assets/img/shop/gloves-1-thumb.jpg" alt="Product 1" style="width: 50px" />
                    </a>
                    <span class="fw-bold align-self-center">Gloves</span>
                  </div>
                </td>
                <td class="align-middle">$18.99</td>
                <td class="align-middle">
                  <div class="input-group input-group-sm input-group-quantity border rounded align-items-stretch" data-bs-toggle="quantity">
                    <input type="button" value="-" class="btn btn-sm btn-light quantity-down" />
                    <input type="text" name="quantity" value="2" class="quantity form-control form-control-transparent" />
                    <input type="button" value="+" class="btn btn-sm btn-light quantity-up" />
                  </div>
                </td>
                <td class="text-end align-middle"><span class="fw-bold">$37.98</span></td>
              </tr>
              <!-- Cart item 2 -->
              <tr>
                <td class="text-center align-middle">
                  <button type="button" class="btn-close" aria-label="Remove"></button>
                </td>
                <td class="align-middle">
                  <div class="d-flex">
                    <a href="#">
                      <img class="img-fluid rounded me-3" src="./assets/img/shop/shoes-1-thumb.jpg" alt="Product 2" style="width: 50px" />
                    </a>
                    <span class="fw-bold align-self-center">Shoes</span>
                  </div>
                </td>
                <td class="align-middle">$12.99</td>
                <td class="align-middle">
                  <div class="input-group input-group-sm input-group-quantity border rounded align-items-stretch" data-bs-toggle="quantity">
                    <input type="button" value="-" class="btn btn-sm btn-light quantity-down" />
                    <input type="text" name="quantity" value="1" class="quantity form-control form-control-transparent" />
                    <input type="button" value="+" class="btn btn-sm btn-light quantity-up" />
                  </div>
                </td>
                <td class="text-end align-middle"><span class="fw-bold">$12.99</span></td>
              </tr>
              <!-- Cart item 3 -->
              <tr>
                <td class="text-center align-middle border-0">
                  <button type="button" class="btn-close" aria-label="Remove"></button>
                </td>
                <td class="align-middle border-0">
                  <div class="d-flex">
                    <a href="#">
                      <img class="img-fluid rounded me-3" src="./assets/img/shop/jacket-1.jpg" alt="Product 3" style="width: 50px" />
                    </a>
                    <span class="fw-bold align-self-center">Jacket</span>
                  </div>
                </td>
                <td class="align-middle border-0">$198.99</td>
                <td class="align-middle border-0">
                  <div class="input-group input-group-sm input-group-quantity border rounded align-items-stretch" data-bs-toggle="quantity">
                    <input type="button" value="-" class="btn btn-sm btn-light quantity-down" />
                    <input type="text" name="quantity" value="2" class="quantity form-control form-control-transparent" />
                    <input type="button" value="+" class="btn btn-sm btn-light quantity-up" />
                  </div>
                </td>
                <td class="text-end align-middle border-0"><span class="fw-bold">$397.98</span></td>
              </tr>
            </tbody>
          </table>
          <!-- End of Shopping cart items -->
        </div>
        <div class="cart-content-footer mt-4">
          <div class="row">
            <div class="col-md-4">
              <h6 class="text-muted mb-3">All prices are including VAT</h6>
              <!-- Discount form -->
              <form action="#">
                <div class="input-group">
                  <label class="visually-hidden" for="discount">Discount code</label>
                  <input type="tel" class="form-control" id="discount" placeholder="Discount code" />
                  <button class="btn btn-gray-800" type="button">Go</button>
                </div>
              </form>
            </div>
            <div class="col-md-8 text-md-end mt-3 mt-md-0">
              <div class="cart-content-totals">
                <h4 class="fw-light">Subtotal: $50.97</h4>
                <h4 class="fw-light">Discount (10%): <span class="text-danger">-$5.97</span></h4>
                <hr class="my-3 w-50 ms-0 ms-md-auto me-md-0" />
                <h3>Total: <span class="text-primary">$45.00</span></h3>
                <hr class="my-3 w-50 ms-0 ms-md-auto me-md-0" />
              </div>
              <!-- Proceed to checkout -->
              <a href="shop-cart.html" class="btn btn-outline-primary btn-lg">Back to Cart</a> <a href="shop-confirmation.html" class="btn btn-primary btn-lg">Make Payment</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary text-white">
        <div class="container py-3 position-relative">
          <div class="row">
            <div class="col-lg-7 text-center text-lg-start">
              <i class="fa fa-envelope-o icon-4x op-4 float-start me-3 d-none d-xl-block"></i>
              <h2 class="text-uppercase fw-bold mt-2 mb-1 text-font-slab">Get Deals & Discounts</h2>
              <h5 class="text-faded">Direct to your inbox with our newsletter</h5>
            </div>
            <div class="col-lg-5 text-center text-lg-end flex-valign">
              <form class="rounded p-1 row g-0 bg-white bg-op-9">
                <div class="form-floating text-dark col-xl-auto flex-xl-grow-1">
                  <input type="text" class="form-control form-control-transparent" id="newsletterInput" placeholder="Email" />
                  <label for="newsletterInput">Email address</label>
                </div>
                <button class="btn btn-primary col-xl-auto align-self-xl-stretch" type="button">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-menus.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
