<!-- 
{
  "pageTitle": "Shop Homepage",
  "pageKey": "shop",
  "headerOffcanvas": false,
  "headerOffcanvasCart": true,
  "bodyClass": "page-shop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowClass": "d-none d-lg-block bg-white border-bottom",
  "navbarBelowContainerClass": "container-xl w-100",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-2 py-md-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Shop Homepage | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a id="#top" href="#content" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% embed '@partials/header.html' %} {% set siteSlogan = ' ' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div class="navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0 p-4 p-md-0" id="navbar-main">
        <h3 class="fw-light d-md-none">Shop UI</h3>
        <!--main navigation-->
        <ul class="nav navbar-nav w-100 dropdown-collapse dropdown-expand-md">
          <!-- Shop Pages -->
          <li class="nav-item dropdown dropdown-hover-md">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="pages-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary"
              >Shop Pages</a
            >
            <!-- Menu -->
            <div class="dropdown-menu border-md">
              <a href="shop.html" class="dropdown-item active">Shop Home</a> <a href="shop-cart.html" class="dropdown-item">Cart</a>
              <a href="shop-checkout.html" class="dropdown-item">Checkout</a> <a href="shop-confirmation.html" class="dropdown-item">Confirmation</a>
              <a href="shop-grid.html" class="dropdown-item">Products Grid</a> <a href="shop-list.html" class="dropdown-item">Products List</a>
              <a href="shop-product.html" class="dropdown-item">Product View</a>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
            <a
              href="shop.html"
              class="nav-link dropdown-toggle py-md-4 active"
              id="shop-mega-menu"
              data-bs-toggle="dropdown"
              data-bs-hover="dropdown"
              data-opened-trigger-class="text-primary"
              >Shop Mega Menu</a
            >
            <!-- Dropdown Menu -->
            <div class="dropdown-menu border-md dropdown-menu-start" aria-labelledby="shop-mega-menu">
              <div class="row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Mens</h3>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Shirts</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Trousers</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Womens</h3>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Dresses</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Jeans</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Skirts</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Childrens</h3>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Sports Wear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">School Clothes</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Trousers</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Suits</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Jackets</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Sportswear</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Baby</h3>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Newborn</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Toddler</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Preschool</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Winter Suits</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Swimwear</a> <a href="shop.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                      <a href="shop.html" class="dropdown-item" tabindex="-1">Trousers</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                  <h3 class="dropdown-header px-0">New Arrivals <span class="badge bg-primary text-uppercase">Hot</span></h3>
                  <div class="dropdown-widget">
                    <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
                    <div
                      class="products-carousel owl-nav-over"
                      data-bs-toggle="owl-carousel"
                      data-owl-carousel-settings='{"items": 1,"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
                    >
                      <a href="#">
                        <img src="./assets/img/shop/jacket-1.jpg" alt="Item 1 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-2.jpg" alt="Item 2 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-3.jpg" alt="Item 3 image" class="lazyOwl img-fluid" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.dropdown-menu border-top-2 border-primary -->
          </li>
          <li class="nav-item dropdown dropdown-hover-md ms-md-auto">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="account-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">
              <i class="fa fa-user"></i><span class="d-inline d-md-none ms-2">Account</span>
            </a>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu dropdown-menu-end border-md">
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-heart me-2"></i>
                <!-- My Wish List Icon -->
                My Wish List
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-clock-history me-2"></i>
                <!-- Order History Icon -->
                Order History
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-truck me-2"></i>
                <!-- Track Orders Icon -->
                Track Orders
              </a>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm w-50 w-md-auto text-uppercase fw-bold px-3 mt-3 mt-md-0 ms-md-3 d-md-none">On Sale</a>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block headerNavbarBelow %}
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="hstack gap-4">
          <h6 class="fs-6 my-0 mb-1 text-muted d-flex align-items-center"><i class="bi-truck me-2"></i> Free Worldwide Shipping</h6>
          <h6 class="fs-6 my-0 text-muted fw-normal d-flex align-items-center"><i class="bi-telephone me-2"></i> (+44) 7283643345</h6>
        </div>
        <!-- Button aligned right on lg screens, centered on smaller screens -->
        <a href="#" class="btn btn-primary btn-sm w-50 w-lg-auto text-uppercase fw-bold px-3 mt-3 mt-lg-0 ms-auto"> Sale Now On! </a>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #highlighted ======== -->
    <div id="highlighted">
      <!-- Showshow - Slider Revolution see: plugins/slider-revolution/examples&sources for help invoke using data-bs-toggle="slider-rev" options can be passed to the slider via HTML5 data- ie. data-startwidth="960" -->
      <div class="slider-wrapper rev_slider_wrapper bg-black" data-page-class="slider-appstrap-theme">
        <div class="rev_slider" data-bs-toggle="slider-rev" data-settings='{"startwidth":1100, "startheight":500, "delay":10000}'>
          <ul>
            <!-- SLIDE 1 -->
            <li
              class="slide"
              data-transition="fadethroughdark"
              data-slotamount="7"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-masterspeed="default"
              data-thumb="./assets/img/shop/mens-1-thumb.jpg"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Slide"
              data-link="shop-list.html"
            >
              <img
                src="./assets/img/slide-dummy.png"
                style="background-color: #151513"
                data-lazyload="./assets/img/transparent.png"
                alt="Background image"
                data-bgposition="center top"
                data-bgfit="cover"
                data-bgparallax="10"
                class="rev-slidebg"
                data-no-retina
              />
              <!-- SLIDE 1 Content-->
              <div class="slide-content container zindex-80">
                <!--elements within .slide-content are pushed below navbar on "behind"-->
                <!-- Layer 1 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['140','140','140','140']"
                  data-fontsize="['52','52','52','52']"
                  data-lineheight="['52','52','52','52']"
                  data-width="420"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="left"
                >
                  <span class="fw-bold text-uppercase text-white">Menswear Sale Now On!</span>
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['80','80','80','80']"
                  data-fontsize="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                >
                  Up to 50% off selected brands!
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption rs-parallaxlevel-8"
                  data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.20;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                  data-x="left"
                  data-y="bottom"
                  data-hoffset="0"
                  data-voffset="0"
                  data-width="none"
                  data-height="none"
                  data-type="image"
                  data-basealign="slide"
                >
                  <i class="fa fa-bullseye icon-20x icon-bg op-1 text-white"></i>
                </div>
                <!-- Layer 4 -->
                <div
                  class="tp-caption tp-resizeme bg-primary-bright"
                  data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="bottom"
                  data-voffset="120"
                  data-width="380"
                  data-height="4"
                  data-basealign="slide"
                ></div>
              </div>
              <div
                class="tp-caption tp-resizeme"
                data-x="['right','right','right','right']"
                data-hoffset="['0','0','0','0']"
                data-y="['top','top','top','top']"
                data-voffset="['0','0','0','0']"
                data-width="full-proportional"
                data-height="full-proportional"
                data-whitespace="nowrap"
                data-type="image"
                data-responsive_offset="on"
                data-frames='[{"delay":500,"speed":3800,"frame":"0","from":"opacity:0;x:150%;","to":"o:1;x:0;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-textAlign="['inherit','inherit','inherit','inherit']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5"
              >
                <img src="./assets/img/slide-dummy.png" alt="" data-lazyload="./assets/img/shop/slider-mens-1.png" data-no-retina />
              </div>
            </li>
            <!-- SLIDE 2 -->
            <li
              class="slide overlay overlay-op-2"
              data-transition="fadethroughdark"
              data-slotamount="7"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-masterspeed="1500"
              data-thumb="./assets/img/shop/beach.jpg"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Summer"
              data-mediafilter="earlybird"
            >
              <!-- MAIN IMAGE -->
              <img
                src="./assets/img/shop/beach.jpg"
                alt="Background image"
                data-bgposition="center center"
                data-bgfit="cover"
                data-bgparallax="10"
                class="rev-slidebg"
                data-no-retina
              />
              <!-- LAYERS -->
              <!-- SLIDE 1 Content-->
              <div class="slide-content container">
                <!--elements within .slide-content are pushed below navbar on "behind"-->
                <!-- Layer 1 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['140','140','140','140']"
                  data-fontsize="['52','52','52','52']"
                  data-lineheight="['52','52','52','52']"
                  data-width="420"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="left"
                >
                  <span class="fw-bold text-uppercase text-white">
                    Summers
                    <br />
                    On The Way
                  </span>
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['80','80','80','80']"
                  data-fontsize="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                >
                  Don't miss our 2024 beach wear collection
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption rs-parallaxlevel-8"
                  data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.10;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                  data-x="left"
                  data-y="bottom"
                  data-hoffset="0"
                  data-voffset="0"
                  data-width="none"
                  data-height="none"
                  data-type="image"
                  data-basealign="slide"
                >
                  <i class="fa fa-bullseye icon-25x icon-bg op-1 text-white"></i>
                </div>
                <!-- Layer 4 -->
                <div
                  class="tp-caption tp-resizeme bg-primary-bright"
                  data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="bottom"
                  data-voffset="120"
                  data-width="355"
                  data-height="4"
                  data-basealign="slide"
                ></div>
              </div>
            </li>
            <li
              class="slide"
              data-transition="fadethroughdark"
              data-slotamount="7"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="default"
              data-easeout="default"
              data-masterspeed="1500"
              data-thumb=""
              data-rotate="0"
              data-saveperformance="off"
              data-mediafilter="rise"
              data-title="Eyewear"
            >
              <img
                src="./assets/img/slide-dummy.png"
                style="background-color: #a10f2b"
                data-lazyload="./assets/img/transparent.png"
                alt="Background image"
                data-bgposition="center top"
                data-bgfit="cover"
                data-bgparallax="off"
                class="rev-slidebg"
                data-no-retina
              />
              <!-- SLIDE 1 Content-->
              <div class="slide-content container">
                <!--elements within .slide-content are pushed below navbar on "behind"-->
                <!-- Layer 1 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['140','140','140','140']"
                  data-fontsize="['52','52','52','52']"
                  data-lineheight="['52','52','52','52']"
                  data-width="420"
                  data-height="none"
                  data-whitespace="normal"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                  data-textAlign="left"
                >
                  <span class="fw-bold text-uppercase text-white">40% Off Eyewear</span>
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption text-light"
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="['bottom','bottom','bottom','bottom']"
                  data-voffset="['80','80','80','80']"
                  data-fontsize="['20','20','20','30']"
                  data-width="none"
                  data-height="none"
                  data-whitespace="nowrap"
                  data-type="text"
                  data-basealign="slide"
                  data-responsive_offset="on"
                  data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['center','center','center','center']"
                >
                  <a href="#" class="text-light">Protect your eyes this spring & summer</a>
                </div>
                <!-- Layer 3 -->
                <div
                  class="tp-caption rs-parallaxlevel-8"
                  data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.20;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                  data-x="left"
                  data-y="bottom"
                  data-hoffset="0"
                  data-voffset="0"
                  data-width="none"
                  data-height="none"
                  data-type="image"
                  data-basealign="slide"
                >
                  <i class="fa fa-bullseye icon-30x icon-bg op-1 text-white"></i>
                </div>
                <!-- Layer 4 -->
                <div
                  class="tp-caption tp-resizeme bg-primary-bright"
                  data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                  data-x="['left','left','left','left']"
                  data-hoffset="['0','0','0','40']"
                  data-y="bottom"
                  data-voffset="120"
                  data-width="380"
                  data-height="4"
                  data-basealign="slide"
                ></div>
              </div>
              <div
                class="tp-caption tp-resizeme rs-parallaxlevel-10"
                data-x="['right','right','right','right']"
                data-hoffset="['0','0','0','0']"
                data-y="['top','top','top','top']"
                data-voffset="['0','0','0','0']"
                data-width="full-proportional"
                data-height="full-proportional"
                data-whitespace="nowrap"
                data-type="image"
                data-responsive_offset="on"
                data-frames='[{"delay":500,"speed":1800,"frame":"0","from":"opacity:0;x:120%;","to":"o:1;x:0;","ease":"Circ.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                data-textAlign="['inherit','inherit','inherit','inherit']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 5"
              >
                <img src="./assets/img/slide-dummy.png" alt="" data-lazyload="./assets/img/shop/slider-womans-sunglasses.png" data-no-retina />
              </div>
            </li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!--end of tp-banner-->
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="p-0">
      <!-- Promos -->
      <div class="container py-4 py-lg-6">
        <h5 class="mb-1 fw-normal">Promotions</h5>
        <div class="row text-center">
          <div class="col-lg-7 d-lg-flex">
            <div
              class="p-5 py-lg-6 overlay overlay-gradient overlay-op-5 rounded mb-4 mb-lg-0 flex-ew flex-valign"
              data-bg-img="./assets/img/shop/promo-shoes.jpg"
              data-url="shop-product.html"
            >
              <h2 class="text-white mb-0">50% Off All Shoes</h2>
              <p class="text-white mb-0">This week only up to 50% off all shoes of selected brands.</p>
              <hr class="hr-lg my-2 w-20 mx-auto border-primary" />
            </div>
          </div>
          <div class="col-lg-5">
            <div
              class="p-5 overlay overlay-op-5 rounded mb-4 flex-valign"
              data-bg-img="./assets/img/shop/promo-summer.jpg"
              data-css='{"background-position":"center bottom"}'
              data-url="shop-product.html"
            >
              <h3 class="text-white mb-0">Summer 2024</h3>
              <p class="text-white mb-0">Check out our new summer arrivals</p>
              <hr class="hr-lg my-2 w-20 mx-auto border-primary" />
            </div>
            <div
              class="p-5 overlay overlay-op-5 rounded flex-valign"
              data-bg-img="./assets/img/shop/promo-truck.jpg"
              data-css='{"background-position":"center bottom"}'
              data-url="shop-product.html"
            >
              <h3 class="text-white mb-0">Free Shipping</h3>
              <p class="text-white mb-0">Free shipping on all orders over $100</p>
              <hr class="hr-lg my-2 w-20 mx-auto border-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- Featured Products -->
      <div id="features" class="container py-4 py-lg-6">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
        <h2 class="text-center text-uppercase fw-bold my-0">Featured Products</h2>
        <h5 class="text-center fw-light mt-2 mb-0 text-muted">Great products, great value!</h5>
        <hr class="mb-5 w-50 mx-auto" />
        <!-- Products cards -->
        <div class="row">
          <div class="col-md-4">
            <!-- Product 1 -->
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 flex"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                <a href="#" class="text-white">Add to Wishlist</a>
              </div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/shoes-2.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">
                  <del class="op-5">$24.99</del>
                  / $19.99
                </span>
              </div>
              <!-- Content -->
              <div class="card-body">
                <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / Shoes</small>
                <h4 class="card-title">New Balance Shoes</h4>
                <p class="card-text">
                  <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                  <i class="fa fa-star-o text-primary"></i>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">15 in Stock</small>
              </div>
            </div>
          </div>
          <!-- Product 2 -->
          <div class="col-md-4">
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 flex"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                <a href="#" class="text-white">Add to Wishlist</a>
              </div>
              <!-- Ribbon -->
              <div class="card-ribbon card-ribbon-top card-ribbon-left bg-danger text-white">Low Stock</div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/mens-sports-2.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$39.99</span>
              </div>
              <!-- Content -->
              <div class="card-body">
                <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Sports</small>
                <h4 class="card-title">Nike Training Top</h4>
                <p class="card-text">
                  <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                  <i class="fa fa-star-o text-primary"></i>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><strong class="text-danger">4 in stock</strong></small>
              </div>
            </div>
          </div>
          <!-- Product 3 -->
          <div class="col-md-4">
            <div class="card product-card overlay-hover">
              <!-- Hover content -->
              <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
                <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 flex"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                <a href="#" class="text-white">Add to Wishlist</a>
              </div>
              <!-- Ribbon -->
              <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Eco Friendly</div>
              <!-- Image & price content -->
              <div class="position-relative">
                <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids.jpg" alt="Card image cap" />
                <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$9.99</span>
              </div>
              <!-- Content -->
              <div class="card-body">
                <small class="text-muted text-uppercase"><span class="text-primary">Kids</span> / Jumpers</small>
                <h4 class="card-title">Kids Wolly Jumper</h4>
                <p class="card-text">
                  <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                  <i class="fa fa-star text-primary"></i>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">105 in Stock</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Call to action -->
      <div class="container" data-url="#">
        <hr class="hr-lg mt-0 mb-1 w-100 mx-auto hr-danger" />
        <div class="position-relative">
          <i class="fa fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
          <div class="p-4 text-center bg-danger">
            <h2 class="display-4 fw-normal text-uppercase text-white my-0 text-font-slab">Clearance Sale</h2>
            <h4 class="text-white mb-0 text-font-slab">Price reductions on 1000s of items!</h4>
          </div>
        </div>
        <hr class="hr-lg mt-1 w-100 mx-auto hr-danger" />
      </div>
      <!-- Collections -->
      <div class="container py-4 py-lg-6 text-center">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
        <h2 class="text-center text-uppercase fw-bold my-0">Product Collections</h2>
        <h5 class="text-center fw-light mt-2 mb-0 text-muted">Something for everyone</h5>
        <hr class="mb-5 w-50 mx-auto" />
        <div class="row">
          <div class="col-lg-4 d-flex">
            <div class="p-5 py-lg-6 overlay overlay-op-5 rounded flex-ew mb-3 mb-lg-0 flex-valign" data-bg-img="./assets/img/shop/promo-mens.jpg" data-url="shop-product.html">
              <hr class="w-50 mx-auto border-primary" />
              <h2 class="text-white text-uppercase mb-0">Mens</h2>
              <hr class="w-50 mx-auto border-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-flex">
            <div
              class="p-5 overlay overlay-op-5 rounded flex-ew mb-3 mb-lg-0 flex-valign"
              data-bg-img="./assets/img/shop/promo-summer.jpg"
              data-css='{"background-position":"center bottom"}'
              data-url="shop-product.html"
            >
              <hr class="w-50 mx-auto border-primary" />
              <h2 class="text-white text-uppercase mb-0">Womens</h2>
              <hr class="w-50 mx-auto border-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-flex">
            <div
              class="p-5 overlay overlay-op-4 rounded flex-ew mb-3 mb-lg-0 flex-valign"
              data-bg-img="./assets/img/shop/promo-kids.jpg"
              data-css='{"background-position":"center bottom"}'
              data-url="shop-product.html"
            >
              <hr class="w-50 mx-auto border-primary" />
              <h2 class="text-white text-uppercase mb-0">Childrens</h2>
              <hr class="w-50 mx-auto border-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- Feature Blocks -->
      <div class="bg-dark">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark" data-bg-img="./assets/img/shop/jacket-2.jpg"></div>
            <div class="col-lg-4 py-6">
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
              <h2 class="display-4 text-font-slab text-white text-uppercase mt-0 mb-5 lh-1">Fashion <span class="text-primary fw-bold">Focus</span></h2>
              <div class="row mb-3">
                <div class="col-2 col-md-1 text-center"><i class="fa fa-check text-primary icon-1x op-8"></i></div>
                <div class="col-10 col-md-11 text-light">
                  <h4 class="fw-bold text-white text-uppercase">Iriure Nobis Odio Ut</h4>
                  <p>
                    Amet cui eros importunus nunc olim singularis sit. Commoveo facilisi gilvus hendrerit olim quis saluto suscipit torqueo uxor. Bene caecus cui diam et gravis
                    meus quadrum vulputate.
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-2 col-md-1 text-center"><i class="fa fa-check text-primary icon-1x op-8"></i></div>
                <div class="col-10 col-md-11 text-light">
                  <h4 class="fw-bold text-white text-uppercase">Abbas Abdo Brevitas Validus</h4>
                  <p>Acsi conventio facilisi immitto jus nibh si. Populus si valde vero. Caecus eum gemino genitus neo nunc. Abluo persto singularis tincidunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Latest trends block -->
      <div class="bg-light">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 offset-lg-2 py-6">
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
              <h2 class="display-4 text-font-slab text-light-dark text-uppercase mt-0 mb-5 lh-1">Latest <span class="text-primary fw-bold">Trends</span></h2>
              <div class="row mb-3">
                <div class="col-3 col-md-1 text-center"><i class="fa fa-check text-primary icon-1x op-8"></i></div>
                <div class="col-9 col-md-11">
                  <h4 class="fw-bold text-uppercase">Illum Lenis Pala Ullamcorper</h4>
                  <p>
                    Facilisis ideo loquor ludus ulciscor valetudo validus. Dignissim fere importunus incassum luptatum oppeto paulatim quidem. Erat exerci probo quadrum venio vicis
                    virtus.
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-2 col-md-1 text-center"><i class="fa fa-check text-primary icon-1x op-8"></i></div>
                <div class="col-10 col-md-11">
                  <h4 class="fw-bold text-uppercase">Eligo Pneum Quis Utinam</h4>
                  <p>
                    Aptent damnum eligo eum jumentum oppeto. Facilisis plaga praemitto. Eligo exerci facilisis nimis nisl odio refoveo vulpes. Abluo dolus laoreet nunc persto
                    suscipere utrum validus vulputate.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 divider-diagonal divider-light" data-bg-img="./assets/img/shop/promo-kids.jpg"></div>
          </div>
        </div>
      </div>
      <!-- Beach 2017 -->
      <div class="bg-primary">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="./assets/img/shop/promo-bikini.jpg"></div>
            <div class="col-lg-4 py-6">
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 hr-white" />
              <h2 class="display-4 text-font-slab text-white text-uppercase mt-0 mb-5 lh-1">Beach <span class="text-white fw-bold">2024</span></h2>
              <div class="row mb-3">
                <div class="col-2 col-md-1 text-center"><i class="fa fa-check text-white icon-1x op-8"></i></div>
                <div class="col-10 col-md-11 text-light">
                  <h4 class="fw-bold text-white text-uppercase">Conventio Jumentum Roto Tincidunt</h4>
                  <p>
                    Commoveo dolus eligo hos interdico obruo populus utinam. Gemino metuo occuro validus. Commodo et hendrerit ibidem loquor quis sagaciter. Abico cogo huic laoreet
                    nisl persto sed sudo te tum.
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-2 col-md-1 text-center"><i class="fa fa-check text-white icon-1x op-8"></i></div>
                <div class="col-10 col-md-11 text-light">
                  <h4 class="fw-bold text-white text-uppercase">Ad Elit Interdico Probo</h4>
                  <p>Meus roto torqueo. Huic nibh os persto secundum usitas. Acsi illum lobortis odio rusticus vicis. Aliquam eu jus ludus nimis probo ut.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- New Products -->
      <div class="container py-4 py-lg-6">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto border-primary" />
        <h2 class="text-center text-uppercase fw-bold my-0">New Arrivals</h2>
        <hr class="mb-5 w-50 mx-auto" />
        <div
          class="mt-4 owl-nav-over owl-nav-over-lg"
          data-bs-toggle="owl-carousel"
          data-owl-carousel-settings='{"responsive":{"0":{"items":1}, "600":{"items":2}, "980":{"items":4}}, "margin":10, "nav":true, "dots":false}'
        >
          <!-- Product 1 -->
          <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
              <h4 class="text-white">New Balance</h4>
              <a href="shop-cart.html" class="btn btn-sm btn-primary text-uppercase fw-bold mb-2"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
            </div>
            <!-- Image & price content -->
            <div class="position-relative">
              <img class="card-img-top img-fluid" src="./assets/img/shop/shoes-2.jpg" alt="Card image cap" />
              <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">
                <del class="op-5">$24.99</del>
                / $19.99
              </span>
            </div>
          </div>
          <!-- Product 2 -->
          <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
              <h4 class="text-white">Nike Training Top</h4>
              <a href="shop-cart.html" class="btn btn-sm btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
            </div>
            <!-- Image & price content -->
            <div class="position-relative">
              <img class="card-img-top img-fluid" src="./assets/img/shop/mens-sports-2.jpg" alt="Card image cap" />
              <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$39.99</span>
            </div>
          </div>
          <!-- Product 3 -->
          <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
              <h4 class="text-white">Kids Wollys</h4>
              <a href="shop-cart.html" class="btn btn-sm btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
            </div>
            <!-- Image & price content -->
            <div class="position-relative">
              <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids.jpg" alt="Card image cap" />
              <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$9.99</span>
            </div>
          </div>
          <!-- Product 4 -->
          <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
              <h4 class="text-white">Kids Hoodies</h4>
              <a href="shop-cart.html" class="btn btn-sm btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
            </div>
            <!-- Ribbon -->
            <div class="card-ribbon card-ribbon-top card-ribbon-right bg-primary text-white">Eco Friendly</div>
            <!-- Image & price content -->
            <div class="position-relative">
              <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Card image cap" />
              <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$29.99</span>
            </div>
          </div>
          <!-- Product 5 -->
          <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
              <h4 class="text-white">Shirts</h4>
              <a href="shop-cart.html" class="btn btn-sm btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
            </div>
            <!-- Image & price content -->
            <div class="position-relative">
              <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens.jpg" alt="Card image cap" />
              <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$69.99</span>
            </div>
          </div>
          <!-- Product 6 -->
          <div class="card product-card overlay-hover">
            <!-- Hover content -->
            <div class="overlay-hover-content overlay-op-7 product-card-hover-tools">
              <h4 class="text-white">Jacket</h4>
              <a href="shop-cart.html" class="btn btn-sm btn-primary text-uppercase fw-bold mb-3"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
            </div>
            <!-- Image & price content -->
            <div class="position-relative">
              <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens-2.jpg" alt="Card image cap" />
              <span class="badge bg-primary product-price-badge position-absolute top-0 start-0 mt-2 ms-2">$199.99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary text-white">
        <div class="container py-3 position-relative">
          <div class="row">
            <div class="col-lg-7 text-center text-lg-start">
              <i class="fa fa-envelope-o icon-4x op-4 float-start me-3 d-none d-xl-block"></i>
              <h2 class="text-uppercase fw-bold mt-2 mb-1 text-font-slab">Get Deals & Discounts</h2>
              <h5 class="text-faded">Direct to your inbox with our newsletter</h5>
            </div>
            <div class="col-lg-5 text-center text-lg-end flex-valign">
              <form class="rounded p-1 row g-0 bg-white bg-op-9">
                <div class="form-floating text-dark col-xl-auto flex-xl-grow-1">
                  <input type="text" class="form-control form-control-transparent" id="newsletterInput" placeholder="Email" />
                  <label for="newsletterInput">Email address</label>
                </div>
                <button class="btn btn-primary col-xl-auto align-self-xl-stretch" type="button">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-menus.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
