<!-- 
{
  "pageTitle": "Products Grid",
  "pageKey": "shop-grid",
  "pageActiveTrail": [
    "shop"
  ],
  "headerOffcanvas": false,
  "headerOffcanvasCart": true,
  "bodyClass": "page-shop",
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowClass": "d-none d-lg-block bg-white border-bottom",
  "navbarBelowContainerClass": "container-xl w-100",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-3 py-2 py-md-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Products Grid | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      <!--Branding & Navigation Region-->
      {% embed '@partials/header.html' %} {% set siteSlogan = ' ' %} {% block headerNavbarNav %}
      <!--everything within this div is collapsed on mobile-->
      <div class="navbar-collapse offcanvas offcanvas-end align-items-md-start ms-md-n2 me-md-2 p-4 p-md-0 p-4 p-md-0" id="navbar-main">
        <h3 class="fw-light d-md-none">Shop UI</h3>
        <!--main navigation-->
        <ul class="nav navbar-nav w-100 dropdown-collapse dropdown-expand-md">
          <!-- Shop Pages -->
          <li class="nav-item dropdown dropdown-hover-md">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="pages-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary"
              >Shop Pages</a
            >
            <!-- Menu -->
            <div class="dropdown-menu border-md">
              <a href="shop.html" class="dropdown-item active">Shop Home</a> <a href="shop-cart.html" class="dropdown-item">Cart</a>
              <a href="shop-checkout.html" class="dropdown-item">Checkout</a> <a href="shop-confirmation.html" class="dropdown-item">Confirmation</a>
              <a href="shop-grid.html" class="dropdown-item active">Products Grid</a> <a href="shop-list.html" class="dropdown-item">Products List</a>
              <a href="shop-product.html" class="dropdown-item">Product View</a>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega-menu dropdown-hover-md">
            <a
              href="shop.html"
              class="nav-link dropdown-toggle py-md-4"
              id="shop-mega-menu"
              data-bs-toggle="dropdown"
              data-bs-hover="dropdown"
              data-opened-trigger-class="text-primary"
              >Shop Mega Menu</a
            >
            <!-- Dropdown Menu -->
            <div class="dropdown-menu border-md dropdown-menu-start" aria-labelledby="shop-mega-menu">
              <div class="row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Mens</h3>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Shirts</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Trousers</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Womens</h3>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Dresses</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Jeans</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Skirts</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Suits</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Shorts</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Childrens</h3>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Shoes</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Sports Wear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">School Clothes</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Trousers</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Suits</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Jackets</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Sportswear</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Swimwear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                    </div>
                    <div class="col-lg-3">
                      <h3 class="dropdown-header mb-0">Baby</h3>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Newborn</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Toddler</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Preschool</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Winter Suits</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Jackets</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Sportswear</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Swimwear</a> <a href="shop-grid.html" class="dropdown-item" tabindex="-1">T-shirts</a>
                      <a href="shop-grid.html" class="dropdown-item" tabindex="-1">Trousers</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                  <h3 class="dropdown-header px-0">New Arrivals <span class="badge bg-primary text-uppercase">Hot</span></h3>
                  <div class="dropdown-widget">
                    <!-- Shop product carousel Uses Owl Carousel plugin All options here are customisable from the data-owl-carousel-settings="{OBJECT}" item via data- attributes: http://www.owlgraphic.com/owlcarousel/#customizing ie. data-settings="{"items": "4", "lazyLoad":"true", "navigation":"true"}" -->
                    <div
                      class="products-carousel owl-nav-over"
                      data-bs-toggle="owl-carousel"
                      data-owl-carousel-settings='{"items": 1,"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'
                    >
                      <a href="#">
                        <img src="./assets/img/shop/jacket-1.jpg" alt="Item 1 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-2.jpg" alt="Item 2 image" class="lazyOwl img-fluid" />
                      </a>
                      <a href="#">
                        <img src="./assets/img/shop/jacket-3.jpg" alt="Item 3 image" class="lazyOwl img-fluid" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.dropdown-menu border-top-2 border-primary -->
          </li>
          <li class="nav-item dropdown dropdown-hover-md ms-md-auto">
            <a href="#" class="nav-link dropdown-toggle py-md-4" id="account-drop" data-bs-toggle="dropdown" data-bs-hover="dropdown" data-opened-trigger-class="text-primary">
              <i class="fa fa-user"></i><span class="d-inline d-md-none ms-2">Account</span>
            </a>
            <!-- Dropdown Menu -->
            <div class="dropdown-menu dropdown-menu-end border-md">
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-heart me-2"></i>
                <!-- My Wish List Icon -->
                My Wish List
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-clock-history me-2"></i>
                <!-- Order History Icon -->
                Order History
              </a>
              <a href="#" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-truck me-2"></i>
                <!-- Track Orders Icon -->
                Track Orders
              </a>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm w-50 w-md-auto text-uppercase fw-bold px-3 mt-3 mt-md-0 ms-md-3 d-md-none">On Sale</a>
      </div>
      <!--/.navbar-collapse -->
      {% endblock %} {% block headerNavbarBelow %}
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="hstack gap-4">
          <h6 class="fs-6 my-0 mb-1 text-muted d-flex align-items-center"><i class="bi-truck me-2"></i> Free Worldwide Shipping</h6>
          <h6 class="fs-6 my-0 text-muted fw-normal d-flex align-items-center"><i class="bi-telephone me-2"></i> (+44) 7283643345</h6>
        </div>
        <!-- Button aligned right on lg screens, centered on smaller screens -->
        <a href="#" class="btn btn-primary btn-sm w-50 w-lg-auto text-uppercase fw-bold px-3 mt-3 mt-lg-0 ms-auto"> Sale Now On! </a>
      </div>
      {% endblock %} {% endembed %}
      <!-- Twig embed: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #page-header ======== -->
    <div id="page-header">
      <div class="container clearfix">
        <h3 class="mb-0 float-md-start">Products Grid</h3>
        <!-- Page header breadcrumb -->
        <nav class="breadcrumb float-md-end text-sm">
          <a class="breadcrumb-item text-gray-600" href="index.html">Home</a> <a class="breadcrumb-item text-gray-600" href="shop.html">Shop Homepage</a>
          <span class="breadcrumb-item text-gray-800">Products Grid</span>
        </nav>
      </div>
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="py-3 py-lg-6">
      <div class="container">
        <div class="row">
          <!-- Products grid -->
          <div class="col-lg-9 order-lg-2">
            <!-- Products filters -->
            <div class="border p-3 rounded position-relative">
              <h5 class="fw-light bg-light border shadow-sm rounded text-gray-600 mt-n4 d-inline-block py-1 px-2 position-absolute text-sm">Search</h5>
              <div class="row mt-3">
                <div class="col-lg-5 mb-3 mb-lg-0">
                  <form class="text-sm">
                    <label class="control-label me-2">Keyword:</label>
                    <input type="text" class="form-control form-control me-lg-2" placeholder="ie. Calvin Klein" />
                  </form>
                </div>
                <div class="col-lg-7">
                  <form class="d-flex justify-content-lg-end text-sm">
                    <div class="me-3">
                      <label class="control-label me-2">Sort By:</label>
                      <select class="form-control">
                        <option value="#">Name (A - Z)</option>
                        <option value="#">Name (Z - A)</option>
                        <option value="#">Price (Low &gt; High)</option>
                        <option value="#" selected="">Price (High &gt; Low)</option>
                        <option value="#">Rating (Highest)</option>
                        <option value="#">Rating (Lowest)</option>
                      </select>
                    </div>
                    <div>
                      <label class="control-label me-2 ms-lg-3">Show:</label>
                      <select class="form-control">
                        <option value="#">15</option>
                        <option value="#">20</option>
                        <option value="#">25</option>
                        <option value="#">30</option>
                        <option value="#">35</option>
                        <option value="#">40</option>
                        <option value="#">45</option>
                        <option value="#">50</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="row">
              <div class="col-lg-4">
                <!-- Product 2 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/shoes-2.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / shoes</small>
                    <h4 class="card-title">Shoes</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">129 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 3 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/mens-sports-2.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Sports</small>
                    <h4 class="card-title">Nike Training Top</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star-o text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">18345 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 4 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">
                      <del class="op-5">$24.99</del>
                      / $19.99
                    </span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Kids</span> / Jumpers</small>
                    <h4 class="card-title">Kids Wolly Jumper</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">12 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 5 -->
                <div class="card mb-4 product-card overlay-hover card-outline-danger">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Ribbon -->
                  <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-danger text-white">Low Stock</div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-kids-hoodies.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$19.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Kids</span> / Jumpers</small>
                    <h4 class="card-title">Kids Hoodies</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><span class="text-danger">2 in stock</span></small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 6 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/mens-sports.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Sports</small>
                    <h4 class="card-title">Nike Training Top</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                      <i class="fa fa-star-o text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">12988 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 7 -->
                <div class="card mb-4 product-card overlay-hover card-outline-primary">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Ribbon -->
                  <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-primary text-white">Top Rated</div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens-2.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$149.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Jackets</small>
                    <h4 class="card-title">Leather Jacket</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">12769 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 8 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-womens-sports.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$29.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / Sports</small>
                    <h4 class="card-title">Shoes</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star-o text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">129 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 9 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-womens-top.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / Tops</small>
                    <h4 class="card-title">Summer Top</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">129543 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 10 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens-shoes.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Shoes</small>
                    <h4 class="card-title">Addidas Trainers</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                      <i class="fa fa-star-o text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">129 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 11 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <p>
                      New delivery expected:
                      <br />
                      <strong>Jan 29th</strong>
                    </p>
                  </div>
                  <!-- Ribbon -->
                  <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-danger text-white">Sold out</div>
                  <!-- Image & price content -->
                  <div class="position-relative op-3">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens-watches.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$499.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body op-3">
                    <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Watches</small>
                    <h4 class="card-title">Watch</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><span class="text-danger fw-bold">Sold Out</span></small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 12 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-mens-shirts.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Mens</span> / Shirts</small>
                    <h4 class="card-title">Shirts</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star-o text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">12779 in stock</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- Product 13 -->
                <div class="card mb-4 product-card overlay-hover">
                  <!-- Hover content -->
                  <div class="overlay-hover-content overlay-op-7">
                    <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase fw-bold mb-3 btn-lg"><i class="fa fa-cart-plus me-2"></i> Add to Cart</a>
                    <a href="shop-product.html" class="text-white text-sm">View Product Details</a> <a href="#" class="text-white text-sm">Add to Wishlist</a>
                  </div>
                  <!-- Image & price content -->
                  <div class="position-relative">
                    <img class="card-img-top img-fluid" src="./assets/img/shop/promo-womens-hat.jpg" alt="Card image cap" />
                    <span class="badge bg-primary product-price-badge position-absolute top-0 end-0 mt-2 me-2 persist">$49.99</span>
                  </div>
                  <!-- Content -->
                  <div class="card-body">
                    <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / Extras</small>
                    <h4 class="card-title">Hat</h4>
                    <p class="card-text">
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                      <i class="fa fa-star text-primary"></i> <i class="fa fa-star-o text-primary"></i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">129 in stock</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- Call to action -->
            <div class="my-3" data-url="#">
              <hr class="hr-lg mt-0 mb-1 w-100 mx-auto hr-danger" />
              <div class="position-relative">
                <i class="fa fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
                <div class="p-4 text-center bg-danger">
                  <h2 class="display-4 fw-normal text-uppercase text-white my-0 text-font-slab">Clearance Sale</h2>
                  <h4 class="text-white mb-0 text-font-slab">Price reductions on 1000s of items!</h4>
                </div>
              </div>
              <hr class="hr-lg mt-1 w-100 mx-auto hr-danger" />
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
              <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="visually-hidden">Previous</span> </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="visually-hidden">Next</span> </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Products sidebar -->
          <div class="col-lg-3 order-lg-1">
            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
              <li class="nav-header">Collections</li>
              <li>
                <a href="#mens" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab first active">
                  Mens
                  <small class="d-inline-block text-xs text-lowercase">(active)</small>
                  <i class="fa fa-angle-right"></i>
                </a>
                <ul class="nav nav-section-menu collapse show" id="mens">
                  <li><a href="#" class="nav-link">Shoes</a></li>
                  <li><a href="#" class="nav-link">Shirts</a></li>
                  <li><a href="#" class="nav-link">Trousers</a></li>
                  <li><a href="#" class="nav-link">Suits</a></li>
                  <li><a href="#" class="nav-link">Jackets</a></li>
                  <li><a href="#" class="nav-link">Sportswear</a></li>
                  <li><a href="#" class="nav-link">Shorts</a></li>
                  <li><a href="#" class="nav-link">Swimwear</a></li>
                  <li><a href="#" class="nav-link">T-shirts</a></li>
                </ul>
              </li>
              <li>
                <a href="#womens" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Womens <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="womens">
                  <li><a href="#" class="nav-link">Dresses</a></li>
                  <li><a href="#" class="nav-link">Jeans</a></li>
                  <li><a href="#" class="nav-link">Skirts</a></li>
                  <li><a href="#" class="nav-link">Suits</a></li>
                  <li><a href="#" class="nav-link">Jackets</a></li>
                  <li><a href="#" class="nav-link">Sportswear</a></li>
                  <li><a href="#" class="nav-link">Shorts</a></li>
                  <li><a href="#" class="nav-link">Swimwear</a></li>
                  <li><a href="#" class="nav-link">T-shirts</a></li>
                </ul>
              </li>
              <li>
                <a href="#childrens" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Childrens <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="childrens">
                  <li><a href="#" class="nav-link">Shoes</a></li>
                  <li><a href="#" class="nav-link">Sports Wear</a></li>
                  <li><a href="#" class="nav-link">School Clothes</a></li>
                  <li><a href="#" class="nav-link">Trousers</a></li>
                  <li><a href="#" class="nav-link">Suits</a></li>
                  <li><a href="#" class="nav-link">Jackets</a></li>
                  <li><a href="#" class="nav-link">Sportswear</a></li>
                  <li><a href="#" class="nav-link">Swimwear</a></li>
                  <li><a href="#" class="nav-link">T-shirts</a></li>
                </ul>
              </li>
              <li>
                <a href="#baby" data-bs-toggle="collapse" class="nav-link text-uppercase text-font-slab"> Baby <i class="fa fa-angle-right"></i> </a>
                <ul class="nav nav-section-menu collapse" id="baby">
                  <li><a href="#" class="nav-link">Newborn</a></li>
                  <li><a href="#" class="nav-link">Toddler</a></li>
                  <li><a href="#" class="nav-link">Preschool</a></li>
                  <li><a href="#" class="nav-link">Winter Suits</a></li>
                  <li><a href="#" class="nav-link">Jackets</a></li>
                  <li><a href="#" class="nav-link">Sportswear</a></li>
                  <li><a href="#" class="nav-link">Swimwear</a></li>
                  <li><a href="#" class="nav-link">T-shirts</a></li>
                  <li><a href="#" class="nav-link">Trousers</a></li>
                </ul>
              </li>
            </ul>
            <div
              class="p-3 overlay overlay-op-5 rounded flex-valign mb-4"
              data-bg-img="./assets/img/shop/promo-truck.jpg"
              data-css='{"background-position":"center bottom"}'
              data-url="shop-product.html"
            >
              <h4 class="text-white mb-0">Free Shipping</h4>
              <p class="text-white mb-0">On all orders over $100</p>
              <hr class="hr-lg my-2 w-20 mx-auto border-primary" />
            </div>

            <!-- Follow Widget -->
            <div class="mb-4">
              <hr class="hr-lg mt-0 mb-2 w-10 ms-0 border-primary" />
              <h4 class="text-uppercase fw-bold mt-0">Follow us on</h4>
              <!--@todo: replace with company social media details-->
              <div class="d-flex gap-1">
                <a href="#" class="btn sq-xs btn-dark d-flex justify-content-center align-items-center rounded-circle">
                  <i class="fab fa-twitter"></i> <span class="visually-hidden">Twitter</span>
                </a>
                <a href="#" class="btn sq-xs btn-dark d-flex justify-content-center align-items-center rounded-circle">
                  <i class="fab fa-facebook-f"></i> <span class="visually-hidden">Facebook f</span>
                </a>
                <a href="#" class="btn sq-xs btn-dark d-flex justify-content-center align-items-center rounded-circle">
                  <i class="fab fa-linkedin-in"></i> <span class="visually-hidden">Linkedin in</span>
                </a>
                <a href="#" class="btn sq-xs btn-dark d-flex justify-content-center align-items-center rounded-circle">
                  <i class="fab fa-google-plus-g"></i> <span class="visually-hidden">Google plus g</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary text-white">
        <div class="container py-3 position-relative">
          <div class="row">
            <div class="col-lg-7 text-center text-lg-start">
              <i class="fa fa-envelope-o icon-4x op-4 float-start me-3 d-none d-xl-block"></i>
              <h2 class="text-uppercase fw-bold mt-2 mb-1 text-font-slab">Get Deals & Discounts</h2>
              <h5 class="text-faded">Direct to your inbox with our newsletter</h5>
            </div>
            <div class="col-lg-5 text-center text-lg-end flex-valign">
              <form class="rounded p-1 row g-0 bg-white bg-op-9">
                <div class="form-floating text-dark col-xl-auto flex-xl-grow-1">
                  <input type="text" class="form-control form-control-transparent" id="newsletterInput" placeholder="Email" />
                  <label for="newsletterInput">Email address</label>
                </div>
                <button class="btn btn-primary col-xl-auto align-self-xl-stretch" type="button">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer-menus.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
