<!-- 
{
  "pageTitle": "Timeline Stacked",
  "pageKey": "timeline-stacked",
  "pageActiveTrail": [
    "pages",
    "timeline"
  ],
  "dropdownCollapseClass": " dropdown-collapse dropdown-expand-md",
  "dropdownHoverBpClass": "dropdown-hover-md",
  "dropdownMenuClass": " dropdown-menu-light border-md",
  "footerBgClass": "bg-dark op-8",
  "footerBtnsClass": "text-light",
  "footerClass": "bg-dark text-light op-6",
  "footerHighlightClass": "text-light op-8",
  "headerBrandHClass": "h2",
  "megaMenuClass": " dropdown-menu-md-end",
  "megaMenuShopClass": " dropdown-menu-md-end",
  "megaMenuToggleClass": " dropdown-mega-menu-50",
  "mobileMenuBtnClass": "fs-3 order-last p-1",
  "navbarBelowToggleableClass": "navbar-expand-md",
  "navbarBrandClass": "fs-2 mb-0",
  "navbarClass": "bg-white navbar-light border-bottom py-0",
  "navbarContainerClass": "container-xl position-relative",
  "navbarHeaderClasses": "navbar-light p-0 navbar-side-push",
  "navbarMainClass": "navbar-collapse offcanvas offcanvas-end align-items-md-end me-md-3 p-4 p-md-0",
  "navbarMainNavLinkClass": "py-md-4",
  "navbarSecondaryClass": "order-5",
  "navbarToggleClass": "d-md-none",
  "navbarToggleableClass": "navbar-expand-md",
  "navbarVrClass": "vr-60 d-none d-xl-block",
  "searchBtnClass": "fs-5 order-4 p-1",
  "siteSloganClass": "d-none d-xl-block"
}
-->
<!doctype html>
<html {% if colourScheme %}data-bs-theme="theme-{{colourScheme}}" {% endif %} lang="en">
  <head>
    <title>Timeline Stacked | AppStrap Bootstrap Theme by Themelize.me</title>
    {% include '@partials/head.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </head>

  <!-- ======== @Region: body ======== -->
  <body {% if bodyClass %} class="{{bodyClass}}" {% endif %}>
    <!-- @plugin: page loading indicator, delete to remove loader -->
    {% if pagePreloader %}

    <div class="page-loader" data-bs-toggle="page-loader"></div>
    {% endif %}

    <a href="#content" id="top" class="visually-hidden">Skip to content</a>

    <!-- ======== @Region: #header ======== -->
    <div id="header">
      {% include '@partials/header.html' %}
      <!-- Twig include: @see ./src/html/@partials -->
    </div>

    <!-- ======== @Region: #content ======== -->
    <div id="content" class="pb-4">
      <div class="container-lg" id="about">
        <h2>
          <span>Timelines</span>
          <small>5 New Timeline Options</small>
        </h2>
        <!-- Timeline 1: timeline-stacked -->
        <h3>Timeline 4: .timeline-stacked</h3>
        <div class="timeline timeline-stacked">
          <div class="timeline-breaker">2014</div>
          <!--Timeline item 0-->
          <div class="timeline-item animated fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="./assets/img/blog/bench-accounting-nfTA8pdaq9A-unsplash.jpg" alt="Picture from Unsplash" class="img-fluid" />
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Thu 26th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Aliquam Dignissim Fere Immitto Tation</a>
                </h4>
                <p class="lh-base">
                  Ex exputo ille nimis nunc quidne valde verto. Abigo eu eum jumentum lenis natu pecus praemitto premo sit. At erat iaceo illum jus occuro secundum suscipere voco.
                  Capto genitus lenis nunc odio saepius verto virtus. Melior praesent volutpat. Decet ea eligo ideo letalis refoveo sed suscipere vero.
                </p>
                <p class="lh-base">Autem consequat eligo ex facilisis quis virtus. Acsi feugiat veniam. Blandit caecus enim incassum iustum saluto. Camur modo molior nibh.</p>
              </div>
            </div>
          </div>
          <!--Timeline item 1-->
          <div class="timeline-item animated right fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="./assets/img/blog/toa-heftiba-FV3GConVSss-unsplash.jpg" alt="Picture from Unsplash" class="img-fluid" />
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Thu 26th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Aliquip Eu Facilisi Hos Zelus</a>
                </h4>
                <p class="lh-base">
                  Cui tum voco. Ex iustum jumentum meus praesent. Aliquam augue duis inhibeo pagus persto praemitto qui. Consequat eligo facilisis feugiat hos importunus nulla
                  typicus vel. Luctus minim quidne refoveo. Esse refero typicus voco. Dolor praesent quia saepius valde. Aliquip augue gilvus humo iusto jugis luctus luptatum
                  similis vereor.
                </p>
                <p class="lh-base">
                  Abluo adipiscing dolus facilisis letalis molior neo tamen. Adipiscing conventio hos iaceo interdico quidne. Exerci importunus sino. Accumsan aliquip eum pagus
                  usitas.
                </p>
              </div>
            </div>
          </div>
          <!--Timeline item 2-->
          <div class="timeline-item animated fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="./assets/img/blog/willian-justen-de-vasconcellos-va-E4kuhkAE-unsplash.jpg" alt="Picture from Unsplash" class="img-fluid" />
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Wed 25th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Comis Gemino Importunus Mauris Praesent</a>
                </h4>
                <p class="lh-base">
                  Antehabeo blandit macto nutus quae. Comis laoreet neo qui roto turpis. Abluo ad capto exerci ideo meus populus refoveo suscipit. Autem ludus neque vereor. Eu
                  letalis magna ratis. Antehabeo nobis vel. Enim ex immitto magna neo neque quadrum ullamcorper. Abdo dolore jumentum nobis populus praesent vel ymo.
                </p>
                <p class="lh-base">Erat esse pala tum. Abbas diam gravis lobortis typicus valde. Amet caecus capto damnum inhibeo modo odio pertineo tum volutpat.</p>
              </div>
            </div>
          </div>
          <!--Timeline item 3-->
          <div class="timeline-item animated highlight right fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="./assets/img/blog/windows-JqmOD1jpHHw-unsplash.jpg" alt="Picture from Unsplash" class="img-fluid" />
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Tue 24th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Dignissim Nunc Occuro Pecus Tation</a>
                </h4>
                <p class="lh-base">
                  Capto ludus suscipit ut valetudo. Aptent capto eros letalis quis ut. Camur diam distineo exerci natu praesent quibus validus vulputate. Cui ideo natu neo olim
                  oppeto. Abdo conventio defui elit sagaciter tamen. Commoveo haero iriure iustum natu nobis scisco si vindico zelus.
                </p>
                <p class="lh-base">Ad dolus luptatum magna neo nobis pneum veniam. Aliquip dolor gilvus. Aptent meus patria. Abbas humo importunus quia. Damnum ea pecus.</p>
              </div>
            </div>
          </div>
          <div class="timeline-breaker timeline-breaker-middle">2013</div>
          <!--Timeline item 4-->
          <div class="timeline-item animated fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="./assets/img/blog/xps-Qrjx2nTBHVo-unsplash.jpg" alt="Picture from Unsplash" class="img-fluid" />
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Thu 19th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Commoveo Neque Probo Refoveo Wisi</a>
                </h4>
                <p class="lh-base">
                  Consequat ea jus nisl sino sudo. Acsi imputo interdico paratus sino suscipere tum virtus. Comis gilvus mos nobis. Erat iriure jus mauris patria qui singularis
                  sino valde. Autem distineo esca humo importunus pala populus quadrum suscipere volutpat. Abdo et secundum.
                </p>
                <p class="lh-base">
                  Facilisis nunc paratus. Aliquam elit mauris premo quidem vero. Antehabeo duis sed singularis tincidunt utinam velit. Interdico refoveo sagaciter vereor.
                </p>
              </div>
            </div>
          </div>
          <!--Timeline item 5-->
          <div class="timeline-item animated right fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="./assets/img/blog/xps-g2E2NQ5SWSU-unsplash.jpg" alt="Picture from Unsplash" class="img-fluid" />
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Fri 20th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Abico Feugiat Macto Refero Tincidunt</a>
                </h4>
                <p class="lh-base">
                  Accumsan autem bene esse et luptatum macto pneum tincidunt. Brevitas iaceo natu. Adipiscing autem camur consequat et gemino in pagus typicus. Autem cogo defui
                  enim iustum lobortis neque quia. Causa dolore nibh. Brevitas consectetuer in vulputate. Causa comis eligo esse ibidem nulla pertineo secundum.
                </p>
                <p class="lh-base">
                  Antehabeo augue commoveo natu pala proprius quia sit suscipit. Conventio eum iriure iustum magna pneum qui turpis. Defui diam iusto luptatum quae valde ymo.
                </p>
              </div>
            </div>
          </div>
          <!--Timeline item 6-->
          <div class="timeline-item animated fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <object width="560" height="315">
                  <param name="movie" value="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0" />
                  <param name="allowFullScreen" value="true" />
                  <param name="allowscriptaccess" value="always" />
                  <embed
                    src="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0"
                    type="application/x-shockwave-flash"
                    width="560"
                    height="315"
                    allowscriptaccess="always"
                    allowfullscreen="true"
                  />
                </object>
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Sat 21st Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Consectetuer Gilvus Molior Quis Utrum</a>
                </h4>
                <p class="lh-base">
                  Ibidem suscipit vel velit vereor. Accumsan gilvus iaceo jus lucidus mauris mos odio ratis voco. Abbas commodo decet praesent singularis tincidunt velit. Causa
                  dignissim interdico pagus secundum virtus. Interdico nunc sino. Ad consequat duis exputo saepius suscipere venio. Aliquam camur capto conventio damnum iriure
                  praesent secundum sit.
                </p>
                <p class="lh-base">
                  Augue populus scisco. Bene consequat decet gemino iriure tum. Decet euismod gilvus inhibeo ludus turpis volutpat. Caecus ibidem importunus inhibeo neque persto
                  rusticus te typicus.
                </p>
              </div>
            </div>
          </div>
          <!--Timeline item 7-->
          <div class="timeline-item animated right fadeIn de-02">
            <div class="row align-items-center">
              <div class="col-md-4">
                <object width="560" height="315">
                  <param name="movie" value="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0" />
                  <param name="allowFullScreen" value="true" />
                  <param name="allowscriptaccess" value="always" />
                  <embed
                    src="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0"
                    type="application/x-shockwave-flash"
                    width="560"
                    height="315"
                    allowscriptaccess="always"
                    allowfullscreen="true"
                  />
                </object>
              </div>
              <div class="col-md-8">
                <div class="fw-5 fw-bold op-8">Tue 17th Sep</div>
                <h4>
                  <a href="#" class="text-decoration-none">Abdo Ea Iriure Praesent Sino</a>
                </h4>
                <p class="lh-base">
                  Autem capto consectetuer eros nimis pneum saepius scisco. Abigo blandit consectetuer cui incassum. Consectetuer conventio enim huic modo obruo quidne refoveo
                  verto. Facilisis minim nisl sed similis. Exerci illum lucidus paratus. Modo nostrud quis saluto. Amet augue damnum gemino probo quidem singularis velit verto.
                </p>
                <p class="lh-base">
                  Ex in jugis metuo velit. Genitus humo iaceo nibh quibus quidem roto rusticus utrum vulputate. Abluo accumsan adipiscing aptent augue euismod genitus hendrerit
                  mauris zelus.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-breaker timeline-breaker-bottom">The End</div>
        </div>
        <!-- Timeline -->
        <hr class="my-2" />
        <h3>Options</h3>
        <p>4 Timeline variations (combine with .timeline) classes available:</p>
        <ol>
          <li>
            <strong><a href="timeline.html">Default</a></strong>
            : class="timeline" = default, 2 items per row, floating left & right, timeline runs down the middle. Is stacked on mobile.
          </li>
          <li>
            <strong><a href="timeline-left.html">timeline-left</a></strong>
            : class="timeline timeline-left" = 1 item per row, floating left, timeline runs down the left with markers aligned left
          </li>
          <li>
            <strong><a href="timeline-right.html">timeline-right</a></strong>
            : class="timeline timeline-right" = 1 item per row, floating right, timeline runs down the right with markers aligned right
          </li>
          <li>
            <strong><a href="timeline-stacked.html">timeline-stacked</a></strong>
            : class="timeline timeline-stacked" = posts stack on top of each other, 1 item per row, timeline runs down the middle, markers show above posts. Is default mobile
            layout.
          </li>
          <li>
            <strong><a href="timeline-carousel.html">timeline carousel</a></strong>
          </li>
        </ol>
        <p>Timeline item (combine with .timeline-item) classes available:</p>
        <ol>
          <li><strong>overlap-off</strong> = drops the item overlap</li>
          <li><strong>overlap-pull-large</strong> = class to pull item up 120px</li>
          <li><strong>overlap-pull-small</strong> = class to pull item up 30px</li>
          <li><strong>overlap-push-large</strong> = class to push item down 120px</li>
          <li><strong>overlap-push-medium</strong> = class to push item down 60px</li>
          <li><strong>overlap-push-small</strong> = class to push item down 30px</li>
          <li><strong>right</strong> = pulls item to right</li>
          <li><strong>highlight</strong> = highlights the marker with primary colour</li>
        </ol>
      </div>
    </div>

    <!-- ======== @Region: #content-below ======== -->
    <div id="content-below">
      <!-- Awesome features call to action -->
      <div class="bg-primary bg-op-9 text-white py-4 d-none d-lg-block">
        <div class="container">
          <div class="row text-center text-lg-start align-items-lg-center">
            <div class="col-12 col-lg-7 text-white">
              <h3 class="display-6 my-0 fw-bold">Awesome Features</h3>
              <div class="hstack gap-3 fw-normal my-0 text-white">
                <div><i class="bi-graph-up"></i> Beginner + developer friendly</div>
                <div class="vr"></div>
                <div><i class="bi-arrow-up-right-circle"></i> Free Lifetime Upgrades</div>
                <div class="vr"></div>
                <div><i class="bi-speedometer2"></i> Fully Responsive</div>
              </div>
            </div>
            <div class="col-12 col-lg-5 py-2 text-lg-end">
              <a
                href="https://wrapbootstrap.com/theme/appstrap-responsive-website-template-WB0C6D0H4?ref=tme"
                class="btn btn-light btn-washed text-dark fw-bold px-6 py-3 shadow-lg d-inline-flex align-items-center animate-pulse-dark"
                >Get AppStrap<i class="bi-arrow-right-short icon-1x lh-1 ms-2 mt-1"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include '@partials/footer.html' %}
    <!-- Twig include: @see ./src/html/@partials -->

    {% include '@partials/closure.html' %}
    <!-- Twig include: @see ./src/html/@partials -->
  </body>
</html>
