// -------------------------------------------
// Theme utilities & helper class
// -------------------------------------------

// Border helpers
// -------------------------------------------



// Border colours
// -------------------------------------------
.border-transparent {
  border-color: transparent !important;
}

$box-shadow-values: (
  default: $box-shadow,
  sm: $box-shadow-sm,
  lg: $box-shadow-lg,
  none: none
);

@each $value in (default, sm, lg, none) {
  @if $value == default {
    .shadow-hover:hover {
      box-shadow: map-get($box-shadow-values, default) !important; // Use the default box-shadow variable
      transition: $transition-base;
    }
  } @else {
    .shadow-hover-#{$value}:hover {
      box-shadow: map-get($box-shadow-values, $value) !important; // Use the dynamically retrieved value from the map
      transition: $transition-base;
    }
  }
}
