  // -------------------------------------------
// Theme utilities & helper class
// -------------------------------------------

// Typography helpers
// -------------------------------------------
.text-xs {
  font-size: .85rem !important;
}
.text-sm {
  font-size: .95rem !important;
}

// Fonts
.text-font-slab {
  font-family: 'Roboto Slab', serif !important;
}
.text-font-alt {
  font-family: "Roboto",Helvetica,Arial,sans-serif !important;
}
.text-font-base {
  font-family: $font-family-base !important;
}
.text-font-rufina {
  font-family: 'Rufina', serif !important;
}
.text-shadow {
  text-shadow: 1px 1px 1px tint-color($gray-800, 80%);
}

// Letter spacing
.text-letter-spacing {
  letter-spacing: 2px;
}
.text-letter-spacing-sm {
  letter-spacing: -1px;
}
.text-letter-spacing-xs {
  letter-spacing: -2px;
}
.text-letter-spacing-normal {
  letter-spacing: normal;
}
@include media-breakpoint-down(md) {
  .text-letter-spacing-sm {
    letter-spacing: 0;
  }
  .text-letter-spacing-xs {
    letter-spacing: -2px;
  }  
}

.text-normalcase {
  text-transform: none !important;
}

.text-hover-no-underline:hover {
  text-decoration: none;
}
.text-hover-underline:hover {
  text-decoration: underline;
}

.fw-medium {
  font-weight: 400 !important;
}

.img-padded {
  background-color: #ffffff;
  padding: .15rem;
}

// Lists
// -------------------------------------------
ul.list-lg {
  font-size: 110%;
  
  li {
    padding: 0.6em;
  }
}

ul.list-sm {
  font-size: 80%;
  
  li {
    padding: 0.25em;
  }
}

.list-bordered {
  padding: 0;
  margin: 0;
  
  > li {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid rgba(#cccccc, math.div(60%, 100.0%));
  }
}

// Links
// -------------------------------------------
