// -------------------------------------------
// Misc. utilities & helper class
// -------------------------------------------

.row-hover {
  &:hover {
    background-color: rgba($light, math.div(50%, 100.0%));
  }
}

.clickable-element {
  cursor: pointer;
  @include transition(all 0.3s ease-in);
  
  &:hover {
    @include opacity(0.9);
  }
}

[data-scroll="scroll-state"] {
  // Starts hidden, shows on scroll state active
  &.scroll-state-hidden {
    @include transition(all 0.3s ease-in);
    @include opacity(0);
    z-index: -1;
    
    &.scroll-state-active {
      @include opacity(1);
      z-index: 1;
    }
  }
  
  // Starts shown, hides on scroll state active
  &.scroll-state-shown {
    @include transition(all 0.3s ease-in);
    @include opacity(1);
    
    &.scroll-state-active {
      @include opacity(0);
      z-index: -1;
    }
  }  
}

// Hover styles
.link-effect-underline {
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    background-color: var(--bs-primary);
  }
  
  &.nav-link:after {
    height: 3px;
  }
  
  &:hover,
  &.active {
    text-decoration: none;
    
    &:after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.link-effect-slideup {
  overflow: hidden;
  position: relative;

  .nav-link-inner {
    display: inline-block;
    position: relative;
    @include transition(all 0.2s ease-in);
  
    &:after {
      position: absolute;
      top: 300%;
      content: attr(data-title);
      transform: translate3d(0,0,0);
      color: var(--bs-primary);
      display: block;
    }
  }
  
  &:hover,
  &:focus,
  &.active {
    .nav-link-inner {
      transform: translateY(-300%);
    }
  }
}

.hover-grow {
  @include transition(all 0.2s ease);
  &:hover {
    @include scale(1.1);
  }
  
  &.hover-grow-sm:hover {
    @include scale(1.05);
  }
}

.img-auto {
  width: auto !important;
}

.transition {
  transition: $transition-base;
}