// -------------------------------------------
// Position utilities & helper class
// -------------------------------------------

// z-index: 1-10
@for $i from 1 through 10 {
  .zindex-#{$i} {
    z-index: $i !important;
  }
}

// z-index: 15-100
@for $i from 3 through 20 {
  $s: $i * 5;
  .zindex-#{$s} {
    z-index: $s !important;
  }
}

.zindex-dropdown-n1 {
  z-index: $zindex-dropdown - 1 !important;
}
.zindex-dropdown {
  z-index: $zindex-dropdown+1 !important;
}
.zindex-fixed {
  z-index: $zindex-fixed+1 !important;
}