// -------------------------------------------
// Colour utils
// -------------------------------------------
$util-colours: map-merge(
  $theme-colors,
  (
    "black": $black,
    "white": $white,
    "body": $body-bg
  )
) !default;

// Theme colours
// -------------------------------------------
@if $enable-hover-colours == true {
  @each $name, $value in $util-colours {  
    // Hover states
    .text-hover-#{$name}:hover {
      color: RGBA(var(--#{$prefix}#{$name}-rgb), var(--#{$prefix}text-opacity, 1)) !important;
    }
    .text-focus-#{$name}:focus,
    .text-focus-#{$name}:focus:hover {
      color: RGBA(var(--#{$prefix}#{$name}-rgb), var(--#{$prefix}text-opacity, 1)) !important;
    }
  }
}


@each $name, $value in $util-colours { 
  @if $enable-hover-colours == true { 
    .bg-hover-#{$name}:hover {
      background-color: RGBA(var(--#{$prefix}#{$name}-rgb), var(--#{$prefix}bg-opacity, 1)) !important;
    }
  }
  @if $enable-focus-colours == true {
    .bg-focus-#{$name}:focus,
    .bg-focus-#{$name}:focus:hover {
      background-color: RGBA(var(--#{$prefix}#{$name}-rgb), var(--#{$prefix}bg-opacity, 1)) !important
    }
  }
}


