// -------------------------------------------
// Opacity helpers
// -------------------------------------------

// ie. op-1 = opacity 0.1
// -------------------------------------------
@each $name, $value in $op {
  .op-#{$name} {
    --bs-text-opacity: #{$value};
    --bs-link-opacity: #{$value};
  }
  a.op-#{$name}:hover,
  .op-auto {
    --bs-text-opacity: 1;
    --bs-link-opacity: 1;
  }  

  // Hover 
  @if $enable-opacity-hover-states == true {
    .op-hover-#{$name}:hover {
      --bs-text-opacity: #{$value};
      --bs-link-opacity: #{$value};
    }
    .op-hover-auto:hover {
      --bs-text-opacity: 1;
      --bs-link-opacity: 1;
    }
  }
  // Focus
  @if $enable-opacity-focus-states == true {
    .op-focus-#{$name}:focus {
      --bs-text-opacity: #{$value};
      --bs-link-opacity: #{$value};
    }
    .op-focus-auto:focus {
      --bs-text-opacity: 1;
      --bs-link-opacity: 1;
    }
  }
}

// Loops based on colour schemes
// -------------------------------------------
@each $name, $value in $op {
  // Background colours
  // -------------------------------------------
  .bg-op-#{$name} {    
    --bs-bg-opacity: #{$value};
  }

  .bg-op-auto {
    --bs-bg-opacity: 1;
  }  

  @if $enable-opacity-hover-states == true {
    .bg-op-hover-#{$name}:hover {    
      --bs-bg-opacity: #{$value};
    }  
    .bg-op-hover-auto:hover {
      --bs-bg-opacity: 1;
    } 
  }

  @if $enable-opacity-focus-states == true {
    .bg-op-focus-#{$name}:focus {    
      --bs-bg-opacity: #{$value};
    } 
    .bg-op-focus-auto:focus {
      --bs-bg-opacity: 1;
    } 
  }
  
  // Borders
  // -------------------------------------------
  .border-op-auto {
    --bs-bg-opacity: 1;
  } 
  .border-op-#{$name} {
    --bs-border-opacity: #{$value};
  }
  @if $enable-opacity-hover-states == true {
    .border-op-hover-#{$name}:hover {
      --bs-border-opacity: #{$value};
    }  
    .border-op-hover-auto:hover {
      --bs-bg-opacity: 1;
    } 
  }
  @if $enable-opacity-focus-states == true {
    .border-op-focus-#{$name}:focus {
      --bs-border-opacity: #{$value};
    }  
    .border-op-focus-auto:focus {
      --bs-bg-opacity: 1;
    }
  }
}


// @todo - buttons
// -------------------------------------------