    <footer id="footer" class="{{'p-0 footer'|classMerge(footerClass)}}">
      <div class="container-xl pt-5 pb-5">        
        <div class="row">
          <div class="col-md-4">
            <!--@todo: replace with company contact details-->
            <h4 class="{{footerHighlightClass}}">Contact Us</h4>
            <address>
              <ul class="list-unstyled">
                <li><abbr title="Phone"><i class="bi-telephone-fill me-2"></i></abbr> 019223 8092344</li>
                <li><abbr title="Email"><i class="bi-envelope-open-fill me-2"></i></abbr> info@appstraptheme.com</li>
                <li><abbr title="Address"><i class="bi-house-door-fill me-2"></i></abbr> Sunshine House, Sunville. SUN12 8LU.</li>
              </ul>
            </address>             
          </div>
<!-- @LINEBREAK -->
          <div class="col-md-4">
            <h4 class="{{footerHighlightClass}}">About Us</h4>
            <p>Making the web a prettier place one template at a time! We make beautiful, quality, responsive Drupal & web templates!</p>
          </div>           
<!-- @LINEBREAK -->          
          <div class="col-md-4">
            <h4 class="{{footerHighlightClass}}">Newsletter</h4>
            <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
            <!--@todo: replace with mailchimp code-->
            <form class="rounded p-1 row g-0 bg-white bg-op-9 ">
              <div class="form-floating text-dark col-xl-auto flex-xl-grow-1">
                <input type="text" class="form-control form-control-transparent" id="newsletterInput" placeholder="Email">
                <label for="newsletterInput">Email address</label>
              </div>
              <button class="btn btn-primary col-xl-auto align-self-xl-stretch" type="button">Subscribe</button>		  
            </form>
          </div>
        </div>
<!-- @LINEBREAK -->      
      </div>  
             
      <!--@todo: replace with company copyright details-->
      <div class="text-sm py-3">
        <div class="container">  
          <div class="row align-items-lg-center justify-content-lg-between">
            <div class="col-lg-auto">
              <p class="mb-0">{{ siteFooterCopyright}}</p>
            </div>
            <div class="col-lg-auto">
              <ul class="list-inline footer-links float-md-end mb-0">
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          
          <a href="#top" class="btn btn-icon btn-dark position-fixed bottom-0 end-0 me-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
    </footer>