<footer id="footer" class="{{ 'py-3 footer'|classMerge(footerClass) }}">
  <div class="container-xl">      
    <div class="row">
      <!--@todo: replace with company copyright details-->           
      <div class="col-md-6">
        <p class="mb-0 text-sm">{{ siteFooterCopyright }}</p>
        <ul class="list-inline mb-0 text-sm">
          <li class="list-inline-item"><a href="#" class="footer-link">Terms</a></li>
          <li class="list-inline-item"><a href="#" class="footer-link">Privacy</a></li>
          <li class="list-inline-item"><a href="#" class="footer-link">Contact Us</a></li>
        </ul>            
      </div>
      <div class="col-md-6 flex-valign">
        <div class="d-flex align-items-center float-md-end ms-md-auto">
          <!--@todo: replace with company social media details-->
          <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-twitter"></i></a>
          <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" class="btn btn-dark btn-washed btn-rounded me-2 sq-xs p-0"><i class="fab fa-google-plus-g"></i></a>
          <a href="#top" class="btn btn-dark btn-washed btn-rounded sq-xs p-0" title="Back to top"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>