<footer id="footer" class="{{ 'pt-5 pb-3 footer'|classMerge(footerClass) }}">
  <div class="container-xl">         
    <div class="row">
      <!-- @LINEBREAK -->
      <div class="col-lg-4">
        <h3 class="{{footerHighlightClass}} text-uppercase text-font-slab fw-bold">App<span class="text-primary">Strap</span></h3>
        <p class="text-sm">Making the web a prettier place one template at a time! We make beautiful, quality, responsive Drupal & web templates!</p>
        <address>
          <ul class="list-unstyled text-sm">
            <li><abbr title="Phone"><i class="fa fa-phone fa-fw {{footerHighlightClass}}"></i></abbr> (+44) 7283643345</li>
            <li><abbr title="Email"><i class="fa fa-envelope fa-fw {{footerHighlightClass}}"></i></abbr> info@appstraptheme.com</li>
            <li><abbr title="Address"><i class="fa fa-home fa-fw {{footerHighlightClass}}"></i></abbr> Sunshine House, Sunville. SUN12 8LU.</li>
          </ul>
        </address>

        <!--social media icons-->
        <div class="mt-3 mb-4 mb-lg-0 hstack gap-2">
          <!--@todo: replace with company social media details-->
                    <a href="#" class="fs-6 p-2 d-inline-block text-light">
            <i class="fab fa-twitter"></i>
            <span class="visually-hidden">Twitter</span>
          </a>
                    <a href="#" class="fs-6 p-2 d-inline-block text-light">
            <i class="fab fa-facebook-f"></i>
            <span class="visually-hidden">Facebook</span>
          </a>
                    <a href="#" class="fs-6 p-2 d-inline-block text-light">
            <i class="fab fa-linkedin-in"></i>
            <span class="visually-hidden">Linkedin</span>
          </a>
                    <a href="#" class="fs-6 p-2 d-inline-block text-light">
            <i class="fab fa-google-plus-g"></i>
            <span class="visually-hidden">Google-plus</span>
          </a>
                  </div>
      </div>
      <!-- @LINEBREAK -->
      <div class="col-lg-7 offset-lg-1">
        <div class="row">
                              <div class="col-6 col-md-3">
            <h4 class="mt-0 text-font-slab">Mens</h4>
            <ul class="list-unstyled footer-links">
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                          </ul>
          </div>
                    <div class="col-6 col-md-3">
            <h4 class="mt-0 text-font-slab">Womens</h4>
            <ul class="list-unstyled footer-links">
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                          </ul>
          </div>
                    <div class="col-6 col-md-3">
            <h4 class="mt-0 text-font-slab">Childrens</h4>
            <ul class="list-unstyled footer-links">
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Sports Wear</a></li>
                            <li><a href="#">School Clothes</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                          </ul>
          </div>
                    <div class="col-6 col-md-3">
            <h4 class="mt-0 text-font-slab">Baby</h4>
            <ul class="list-unstyled footer-links">
                            <li><a href="#">Newborn</a></li>
                            <li><a href="#">Toddler</a></li>
                            <li><a href="#">Preschool</a></li>
                            <li><a href="#">Winter Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                            <li><a href="#">Trousers</a></li>
                          </ul>
          </div>
                  </div>
      </div>
    </div>
    <!-- @LINEBREAK -->

    <!--@todo: replace with company copyright details-->
    <div class="subfooter text-sm text-center mt-4">
      <p>{{ siteFooterCopyright }}</p>
      <ul class="list-inline footer-links">
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <a href="#top" class="btn btn-icon btn-dark position-fixed bottom-0 end-0 me-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state">
    <i class="fa fa-chevron-up"></i>
  </a>
</footer>
