    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- @LINEBREAK -->

    <!-- Plugins required on all pages - NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 -->       
    
    <!-- @LINEBREAK -->
    <!-- Default Theme style --> 
    <link href="./assets/css/theme.style.min.css" rel="stylesheet">

    {% if additionalCSS  %}
      <!-- @LINEBREAK -->
      <!-- additionalCSS -->
      {% for css in additionalCSS %}
        <link href="{{ css|raw }}" rel="stylesheet" />
      {% endfor %}
      <!-- /additionalCSS -->
    {% endif %}

    
    {% if cssVariables %}
    <!-- @LINEBREAK -->
    <!-- Page level CSS variables -->
    <style>
    :root {
        {% for key, value in cssVariables %}
        {{ key }}: {{ value }};
        {% endfor %}
    }
    </style>
    <!-- /Page level CSS variables -->
    {% endif %}
    
    <!-- @LINEBREAK --><!-- @LINEBREAK -->
    <!-- Le fav and touch icons - @todo: fill with your icons or remove, try https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="./assets/favicons/manifest.json">
    <link rel="shortcut icon" href="./assets/favicons/favicon.ico">
    <meta name="msapplication-config" content="./assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- @LINEBREAK -->
    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content="">
    <meta name="author" content="Themelize.me">